<div class="user-sessions-wrap user-sessions-medium">
  <div class="user-sessions-main">
    <div class="user-sessions-network-brand">
      <%= link_to icon('logo-cursame'), "", class: "free_network" %>
    </div>
    <div class="user-session-content">
      <% if request.subdomain == '' %>
      <h1><%=t('.ops')%></h1>
        <p><%=t('.no_network')%></p><br>
        <%= link_to t('.search_school'), "http://www.cursa.me/browser/" %>
      <% else %>
        <h1><%=t('.ops')%></h1>
        <p><%=t('.no_net_exists')%></p><br>
        <%= link_to t('.search_school'), "http://www.cursa.me/browser/" %>
      <% end %>
    </div>
  </div>
</div>