<h1>Listing members_in_groups</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members_in_groups.each do |members_in_group| %>
  <tr>
    <td><%= members_in_group.user_id %></td>
    <td><%= members_in_group.group_id %></td>
    <td><%= link_to 'Show', members_in_group %></td>
    <td><%= link_to 'Edit', edit_members_in_group_path(members_in_group) %></td>
    <td><%= link_to 'Destroy', members_in_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Members in group', new_members_in_group_path %>
