<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @members_in_group.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @members_in_group.group_id %>
</p>


<%= link_to 'Edit', edit_members_in_group_path(@members_in_group) %> |
<%= link_to 'Back', members_in_groups_path %>
