<div class="website-header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="site-nav">
            <%= link_to "/", title: "Cúrsame", class: "brand-logo" do %>
              <%= icon('logo-cursame') %>
            <% end %>
            <ul class="nav">
              <li>
                <%= link_to "Funciones", features_path %>
              </li>
              <li>
                <%= link_to "Casos de Éxito", success_stories_path %>
              </li>
              <li>
                <%= link_to "Empleos", jobs_path %>
              </li>
              <li>
                <%= link_to "Contacto", contact_path %>
              </li>
            </ul>
          </div>
          <div class="site-nav-actions">
            ¿Ya eres usuario? <%= link_to "Inicia Sesión", "/", title: "Cúrsame" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>