<% if params[:error] %>
  <script>
    $(function() {
      $('.login-trigs').trigger('click');
      $('.website-login-forms').find('.error-login-form').addClass('active');
    });
  </script>
<% end %>
<div class="website-header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="site-nav">
            <%= link_to "/", title: "Cúrsame", class: "brand-logo" do %>
              <%= icon('logo-cursame') %>
            <% end %>
            <ul class="nav">
              <%
                active = "class='active'"
                action = params[:action]
              %>
              <li <%= active if action == 'features' %>>
                <%= link_to t('.header.metodologia'), features_path %>
              </li>
              <li <%= active if action == 'success_stories' %>>
                <%= link_to t('views.shared.header.proyectos'), success_stories_path %>
              </li>
              <li <%= active if action == 'about_us' %>>
                <%= link_to "Nosotros", about_us_path %>
              </li>
              <li <%= active if action == 'jobs' %>>
                <%= link_to "Empleos", jobs_path %>
              </li>
              <li <%= active if action == 'contact' %>>
                <%= link_to "Contacto", contact_path %>
              </li>
            </ul>
          </div>
          <div class="site-nav-actions">
            <span class="txt">¿Ya eres usuario?</span>
            <div class="dropdown-wrap website-login">
              <div class="dropdown-pull login-trigs activity-dropdown-pull">
                <!-- <span class="as-link">Inicia Sesión</span> -->
                <span class="as-link">Encuentra tu red</span>
              </div>
              <div class="dropdown-v right">
                <i class="tip"></i>
                <div class="website-login-forms dropdown-content">
                  <div id="login-w" class="website-login-form-content active">
                    <!-- <h4>Iniciar Sesión</h4> -->
                    <h4>Encuentra tu red</h4>
                    <!-- <p>Escribe tus datos de acceso para accesar a la red de tu institución.</p><br> -->
                    <p>Escribe tu correo electrónico para accesar a la red de tu institución.</p>
                    <p class="error-login-form">Oops! al parecer tu correo no pertenece a niguna red.</p>
                    <br>
                    <%= form_tag new_sesion_from_home_path, class: 'website-login-form' do %>
                      <div class="form-group no-label">
                        <div class="form-group-main">
                          <span class="input-icon session-icon-input">
                            <%= icon('email') %>
                            <%= email_field_tag 'email', '', placeholder: "Correo electrónico", required: "required", autocomplete: "off" %>
                          </span>
                        </div>
                      </div>
                      <!-- <div class="form-group no-label">
                        <div class="form-group-main">
                          <span class="input-icon session-icon-input">
                            <%= icon('password') %>
                            <%= password_field_tag 'password', '', placeholder: "Contraseña", required: "required", minlength: "6", autocomplete: "off" %>
                          </span>
                        </div>
                      </div> -->
                      <div class="login-footer">
                        <!-- <div class="fl actions-l">
                          <a class="switch-form-website-login" data-form="recover-w" href="" title="¿Olvidaste tu contraseña?">¿Olvidaste tu contraseña?</a>
                        </div> -->
                        <div class="fr">
                          <span class="btn btn-primary btn-medium input-btn">
                            <%= submit_tag "Busca tu red" %>
                          </span>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <!-- <div id="recover-w" class="website-login-form-content">
                    <h4>Recupera tu cotraseña</h4>
                    <p>Ingresa el correo electrónico con el cual te diste de alta y presiona el botón de "reactivar contraseña".</p><br>
                    <%= form_tag "/", class: 'website-recover-form' do %>
                      <div class="form-group no-label">
                        <div class="form-group-main">
                          <span class="input-icon session-icon-input">
                            <%= icon('email') %>
                            <%= email_field_tag 'email', '', placeholder: "Correo electrónico", required: "required", autocomplete: "off" %>
                          </span>
                        </div>
                      </div>
                      <div class="login-footer">
                        <div class="fl actions-l">
                          <a class="switch-form-website-login" data-form="login-w" href="" title="Regresar">&#8592; Regresar</a>
                        </div>
                        <div class="fr">
                          <span class="btn btn-primary btn-medium input-btn">
                            <%= submit_tag "Recuperar contraseña" %>
                          </span>
                        </div>
                      </div>
                    <% end %>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.website-login-form').validate();
    $('.website-recover-form').validate();
  });
</script>