<%= form_for(@users_networks_networks_user) do |f| %>
  <% if @users_networks_networks_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_networks_networks_user.errors.count, "error") %> prohibited this users_networks_networks_user from being saved:</h2>

      <ul>
      <% @users_networks_networks_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br />
    <%= f.number_field :network_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
