<h1>Listing users_networks_networks_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Network</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_networks_networks_users.each do |users_networks_networks_user| %>
  <tr>
    <td><%= users_networks_networks_user.user_id %></td>
    <td><%= users_networks_networks_user.network_id %></td>
    <td><%= link_to 'Show', users_networks_networks_user %></td>
    <td><%= link_to 'Edit', edit_users_networks_networks_user_path(users_networks_networks_user) %></td>
    <td><%= link_to 'Destroy', users_networks_networks_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users networks networks user', new_users_networks_networks_user_path %>
