<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @users_networks_networks_user.user_id %>
</p>

<p>
  <b>Network:</b>
  <%= @users_networks_networks_user.network_id %>
</p>


<%= link_to 'Edit', edit_users_networks_networks_user_path(@users_networks_networks_user) %> |
<%= link_to 'Back', users_networks_networks_users_path %>
