.col.col-6
  .col-inner
    .post-box.academic.library{ id: library.id, class: :standalone }
      .post-box-main
        .post-box-content
          .icon-card
            = icon 'library-card'
          = link_to library_path(library), class: 'activable' do
            %h3= library.title
            %p= library.description
            .btn.btn-small.btn-transparent.activable
              = t('.view_files')
