<% content_for :javascripts do  %>
<%= javascript_include_tag('users/update_profile_pics') %>
<% end %>

<div class="profile-header-outer">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="profile-header <%= header_style %>">
            <% unless header_style == :super_compact || header_style == :compact %>
              <div class="profile-banner" style="background-image: url(<%= @course.coverphoto.blank? ? "/assets/#{@course.image_coursex}" : @course.coverphoto %>)">
                <% if current_user.admin? || @member.owner %>
                  <div class="profile-cover-loading spinner"></div>
                  <div class="update-cover-pic">
                    <%= form_tag update_course_cover_pic_path, multipart: true, remote: true do %>
                      <%= hidden_field_tag 'course', @course.id %>
                      <%= label_tag 'user-cover-pic-input', class: 'profile-cover-upload' do %>
                        <%= icon 'white-cam' %> <span><%=t('.update')%></span>
                        <div class="hide-input-file">
                          <%= file_field_tag 'file', onchange: 'updateCoverPic(this);', accept: 'image/*', id: 'user-cover-pic-input' %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>

                <div class="profile-avatar">
                  <% if current_user.admin? || @member.owner %>
                    <%= form_tag update_course_profile_pic_path, multipart: true, remote: true do %>
                      <%= hidden_field_tag 'course', @course.id %>
                      <div class="profile-avatar-loading spinner"></div>
                      <%= label_tag 'user-profile-pic-input', class: 'profile-avatar-upload' do %>
                        <%= icon 'white-cam' %> <span><%=t('.update_photo')%></span>
                        <div class="hide-input-file">
                          <%= file_field_tag 'file', onchange: 'updateProfilePic(this, "course");', accept: 'image/*', id: 'user-profile-pic-input' %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>

                  <%= link_to course_path(@course.id) do %>
                    <span class="avatar-holder">
                      <%= avatar('course', '150', 'no', @course.id, "avatar", "no", "no") %>
                    </span>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="profile-info">
              <div class="profile-title">
                <% if header_style == :super_compact || header_style == :compact %>
                  <div class="profile-avatar">
                    <%= link_to course_path(@course.id) do %>
                      <span class="avatar-holder">
                        <%= avatar('course', '30', 'no', @course.id, "avatar", "no", "no") %>
                      </span>
                    <% end %>
                  </div>
                <% end %>
                <%= link_to course_path(@course.id) do %>
                  <h1><%= @course.title %></h1>
                <% end %>

                <% permitted_to? :create, :courses do %>
                  <% if current_user.admin? || !@member.nil? && !@member.owner.nil? && @member.owner %>
                    <div class="admin-buttons">
                      <div class="dropdown-wrap">
                        <div class="dropdown-pull">
                          <span class="btn btn-secondary">
                            <%= icon 'settings-g-16' %> <%= icon 'drop-arrow' %>
                          </span>
                        </div>
                        <div class="dropdown-v right">
                          <i class="tip"></i>
                          <ul>
                            <% if current_network.evaluable? %>
                              <li>
                                <%= link_to t('.final_score'), course_closure_path( @course ) %>
                              </li>
                              <li>
                                <%= link_to t('.activities_score'), evaluate_course_path(@course) %>
                              </li>
                              <li>
                                <%= link_to t('.eval_form'), course_evaluation_schema_path( @course ) %>
                              </li>
                            <% end %>
                            <li>
                              <%= link_to t('.edit'), edit_course_path( @course.id ) %>
                            </li>
                            <li>
                              <%= link_to t('.clone'), clone_course_view_path( @course ) %>
                            </li>
                            <li>
                              <%= link_to @course.active_status? ? t('.final') : t('.active'),  active_status_path(@course) %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </div>
            <% unless header_style == :super_compact %>
              <div class="page-sub-navigation">
                <% action = params[:action] %>
                <ul>
                  <li>
                    <%= link_to t('.publ'), course_path(@course), class: (action == 'show' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to t('.info'), about_course_path, class: (action == 'about' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to t('.members'), course_members_path, class: (action == 'members' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to t('.library'), library_in_course_path, class: (action == 'library' ? "active" : " ") %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
