<% @incourse = true %>

<div class="profile-header-outer">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="profile-header <%= header_style %>">
            <% unless header_style == :super_compact || header_style == :compact %>
              <div class="profile-banner" style="background-image: url(<%= @course.coverphoto.blank? ? "/assets/#{@course.image_coursex}" : @course.coverphoto %>)">
                <div class="profile-avatar">
                  <%= link_to course_path(@course.id) do %>
                    <span class="avatar-holder">
                      <%= avatar('course', '150', 'no', @course.id, "avatar", "no", "no") %>
                    </span>
                  <% end %>
                </div>
              </div>  
            <% end %>
            
            <div class="profile-info">
              <div class="profile-title">
                <% if header_style == :super_compact || header_style == :compact %>
                  <div class="profile-avatar">
                    <%= link_to course_path(@course.id) do %>
                      <span class="avatar-holder">
                        <%= avatar('course', '30', 'no', @course.id, "avatar", "no", "no") %>
                      </span>
                    <% end %>
                  </div>
                <% end %>
                <%= link_to course_path(@course.id) do %>
                  <h1><%= @course.title %></h1>
                <% end %>

                <% unless header_style == :super_compact || header_style == :compact %>
                  <% permitted_to? :create, :courses do %>
                    <% if current_role == 'admin' || @member.owner != nil && @member.owner == true %>
                      <div class="admin-buttons">
                        <div class="dropdown-wrap">
                          <div class="dropdown-pull">
                            <span class="btn btn-secondary">
                              <%= icon 'settings-g-16' %> <%= icon 'drop-arrow' %>
                            </span>
                          </div>
                          <div class="dropdown-v right">
                            <i class="tip"></i>
                            <ul>
                              <li>
                                <%= link_to 'Calificaciones finales', course_closure_path( @course ) %>
                              </li>
                              <li>
                                <%= link_to "Calificar actividades", evaluate_course_path(@course) %>
                              </li>
                              <li>
                                <%= link_to "Forma de evaluación", course_evaluation_schema_path( @course ) %>
                              </li>
                              <li>
                                <%= link_to "Editar", edit_course_path( @course.id ) %>
                              </li>
                              <li>
                                <%= link_to "Clonar", clone_course_view_path %>
                              </li>
                              <li>
                                <div id="propyety_course_<%=current_course.id%>">
                                 <% if current_course.active_status %>
                                   <%= link_to "Desactivar",  active_status_path, :remote => true %>
                                  <%else%>
                                   <%= link_to "Activar",  active_status_path, :remote => true %>
                                 <%end%>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>

              </div>
            </div>
            <% unless header_style == :super_compact %>
              <div class="page-sub-navigation">
                <% action = params[:action] %>
                <ul>
                  <li>
                    <%= link_to "Publicaciones", course_path(@course), class: (action == 'show' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to "Información", about_course_path, class: (action == 'about' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to "Miembros", course_members_path, class: (action == 'members' ? "active" : " ") %>
                  </li>
                  <li>
                    <%= link_to "Biblioteca", library_in_course_path, class: (action == 'library' ? "active" : " ") %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>