= form_for(wufoo_form, remote: true, html: { class: "default-form wufoo-form", multipart: true, id: "wufoo-form-id#{wufoo_form.id}", data: { post_type: 'WufooForm' } }) do |f|
  .new-publication-form-content
    .form-group
      .form-group-label
        = f.label :identifier, "Formulario: "
      .form-group-main
        .form-unit
          = f.select(:identifier, current_network.wufoo_forms.collect{ |f| [f['Name'], f['Hash']]}, { include_blank: 'Selecciona un formulario' }, class: "fill-container")
    .form-group
      .form-group-label
        = f.label :init_date, "Fechas:"
      .form-group-main
        .f-col.f-col-5
          .form-unit
            = f.text_field :init_date, placeholder: 'Día de publicación', class: "date-input delivery delivery_publish_date", id: 'form_init_date', value: f.object.init_date, required: "required"
        .f-col.f-col-5
          .form-unit
            = f.text_field :term_date, placeholder: 'Fecha de entrega', class: "date-input delivery delivery_end_date", id: 'form_term_date', value: f.object.term_date, required: "required"
    .form-group
      .form-group-label
        = f.label :wufoo_roles, "Roles: "
      .form-group-main
        .f-col.f-col-2
          .form-unit
            = check_box_tag "wufoo_form[role_ids][]", Role.find_by_title('teacher').id, wufoo_form.for_teachers?
            Maestro
        .f-col.f-col-2
          .form-unit
            = check_box_tag "wufoo_form[role_ids][]", Role.find_by_title('student').id, wufoo_form.for_students?
            Alumno
  .new-publication-footer
    %ul.list-buttons.left
      %li
        %a.cancel-edit-publication-js.btn.btn-secondary{ href: "#" }= "Cancelar"
      %li  
        %span.btn.btn-primary.input-btn.activable
          = f.submit "Editar Formulario", id: "wufoo-post-form", class: "activable"