<div class="signup-layout"></div>
	<div class="content login" id="titlheader" style="text-align:center;">
			<b>No has recibido confirmación</b><br /><br />Por favor, ingresa tu correo en el campo de abajo para dar seguimiento a tu solicitud</p>
		
		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>
		
			<div class="form-signin form-signup" style="height:115px;padding-top:7px;margin-top:40px;display:block;">
				  <div><!-- <%= f.label :email %><br /> -->
				  	<%= f.email_field :email, :class => "email", :placeholder =>"Correo electrónico" %>
				  </div>
				
				  <div><%= f.submit "Reenviar instrucciones", :class =>"confirm-btn" %></div>
				<% end %>
			</div>
		</div>

		<div class="confirmation-links">
			<%= render "devise/shared/links" %>
		</div>
</div>