<div class="support-material-item">
  <a href="{{link}}" class="item-name" target="_blank">
    <i class="i i-dropbox-asset-blue"></i>
    {{link}}
  </a>
  <a href="#" class="item-delete dropbox-delete-js">
    Borrar
  </a>
  <input type="hidden" name="{{type}}[contents_attributes][{{id}}][content]" value="{{link}}">
</div>