<p id="notice"><%= notice %></p>

<p>
  <b>Asset:</b>
  <%= @compart_asset.asset %>
</p>

<p>
  <b>Asset:</b>
  <%= @compart_asset.asset_id %>
</p>

<p>
  <b>Delivery:</b>
  <%= @compart_asset.delivery_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @compart_asset.assignment_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @compart_asset.comment_id %>
</p>

<p>
  <b>Question:</b>
  <%= @compart_asset.question_id %>
</p>


<%= link_to 'Edit', edit_compart_asset_path(@compart_asset) %> |
<%= link_to 'Back', compart_assets_path %>
