<div class="super-admin-header"><%=t('.sys')%>
    <div class="counter-marquer"><center><%= @ac %></center></div>
</div>
<p><%= t('.hmwrks') + " #{@ac_delivery}"%> <%= t('.hmwrks_delivery') + " #{@ac_assignment}"%></p>

<p><%= t('.exam') + " #{@ac_survey}"%> <%= t('.exam_delivery') + " #{@ac_user_survey}"%></p>

<p><%= t('.courses') + " #{@ac_courses}"%> <%= t('.comments') + " #{@ac_comment}"%></p>

<p><%= t('.avg') + " #{@acomplishment_sum} / #{@ac_delivery} =  #{ number_with_precision(@prompt_calification_by_delivery, :pression => 2 )}"%></p>

<p><%= t('.avg2') + " #{@result_sum} / #{@ac_survey} =   #{ number_with_precision(@prompt_calification_by_survey, :pression => 2 )}"%></p>

<p><%= t('.avg3') + " #{@sum_promts} / #{@users_count} =   #{number_with_precision( @user_promt, :pression => 2 )}"%></p>



<%= form_tag superadmnin_activities_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder =>t('.find') %>
   
  </p>
<% end %>
<div class="super-admin-descriptions"> <%=t('.activities')%></div></br></br></br>
<% @activities.each do |activity|%>
 <div style="float:left; color:#fff; height:190px; margin-left:10px; margin-top:25px; padding:5px; background-color:#000;">
 <%=t('.title')%>:<p><%= activity.title %></p></br>
 <%=t('.type')%>: <%=  activity.activitye_type %></br>
 <% if activity.activitye_type =="Delivery" %>
 <%=t('.avg4')%>:<% @actividad = activity.activitye %>
             <% if @actividad != nil  %>
                 <% @assignments =  @actividad.assignments %>
                 <%= ((@assignments.sum(:accomplishment)).to_f/(@assignments.count).to_f).to_f %> <%"(#{@assignments.count})"%></br>
            <%else%>
                 <%= t('.no_act')%></br>
            <%end%>
 <%end%>
 
 <% if activity.activitye_type == "Survey" %>
  <%=t('.avg4')%>:<% @actividad = activity.activitye %>
              <% if @actividad != nil %>
                  <% @surveys =  @actividad.user_surveys %>
                  <%= ((@surveys.sum(:result)).to_f/(@surveys.count).to_f).to_f %><%"(#{@surveys.count})"%></br>
             <%else%>
                  <%= t('.no_act')%></br>
             <%end%>
  <%end%>
 Ip: <%= activity.ip_address%></br>
 <%=t('.place')%>: <%= activity.address%></br>
 <%=t('.long')%>: <%= activity.latitude %></br>
 <%=t('.lat')%>: <%= activity.longitude %></br>
 geocode: <%= activity.geocode %></br>
 Browser: <%= activity.browser %></br>
 <%=t('.ver')%>: <%= activity.version_browser %></br>
 <%=t('.os')%>: <%= activity.computer_plataform %></br>
 <%=t('.net')%>: <%= activity.network_id %></br>
 
 <% @user = User.find(activity.user_id)%>
<%= link_to t('.activity') + " #{@user.name}", activity_path(activity.id)  %></br>
<%= link_to t('.goto'), activity_path(activity.id)%>
 </div>
 <div style="float:left; height:230px; margin-left:5px; margin-top:25px;">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x200&sensor=true&zoom=16&markers=#{activity.latitude}%2C#{activity.longitude}" %>
</div>
 
 

 
 
<%end%>