<div class="super-admin-header">Visor de cursos</div>
<div class="super-admin-descriptions">Muestra los cursos de las redes, sus miembros y sus actividades</div></br></br>

<% @courses.each do |course|%>
 <div class="holder_admin">
 <div class="course_container">
 <div class="heder_courses"><%= course.title %></div>
 <div class="body_course"><%= course.silabus%></div>
 <a id="<%= course.id %>tareas-super-admin">Mostrar tareas</a></br>
 <a id="<%= course.id %>cuestionarios-super-admin">Mostrar cuestionarios</a></br>
 <a id="<%= course.id %>estaditicas-super-admin">Mostrar estadísticas del surso</a></br>
 

 </div>
 <div class="oppening_parts">
     
     
    <script>
      
             $('#<%= course.id %>tareas-super-admin').click(function() {
               $('#<%= course.id %>tareas-super-admin-lop').toggle('slow', function() {
                 // Animation complete.
               });
             });
              $('#<%= course.id %>cuestionarios-super-admin').click(function() {
                $('#<%= course.id %>cuestionarios-super-admin-lop').toggle('slow', function() {
                  // Animation complete.
                });
              });
               $('#<%= course.id %>estaditicas-super-admin').click(function() {
                  $('#<%= course.id%>estaditicas-super-admin-lop').toggle('slow', function() {
                    // Animation complete.
                  });
                });
    </script>
 <!--comienzan views de tareas-->  
     <div class="tareas_super_admin" id="<%= course.id %>tareas-super-admin-lop">
          <div  class="secon_title_super_admin">Tareas</div>
         <% course.deliveries.each do |delivery|%>
         <div class="delivery_course_admin">
         
          <div class="title_delivery_admin"> <%= delivery.title %> </div>
          <div class="descrition_delivery_admin"> <%= delivery.description%>
             
              <a class="float_right" id="<%=delivery.id%>-delivery">Ver entregas</a>
         
          </div>
          
          </div>
           <div class="surveys_super_admin" id="<%=delivery.id%>-delivery-lop">
               <div  class="secon_title_super_admin">Entregas de tarea</div>
           
           <% delivery.assignments.each do |assignment|%>
                <div class="red_line_container">
                <div class="body_assignment"><b> <%= assignment.title %>: </b>
                    <p><%= assignment.brief_description %></p>
                </div>
                </div>
            <%end%>
           </div>
           
           <script>
              $('#<%=delivery.id%>-delivery').click(function() {
                $('#<%=delivery.id%>-delivery-lop').toggle('slow', function() {
                  // Animation complete.
                });
              });
            
              </script>
           
         <%end%>
       
    </div>
 <!--finaliza tareas-->  
    
    <!--comienzan cuestionarios-->  
<div class="survey_super_admin" id ="<%= course.id%>cuestionarios-super-admin-lop">
    <div  class="secon_title_super_admin">Cuestionarios</div>
    <% course.surveys.each do |survey|%>
     <div class="delivery_course_admin">
     
      <div class="title_delivery_admin"> <%= survey.name %> </div>
      
      </div>
     <%end%>
    
</div>
    <!--finaliza cuestionarios-->  
<!--comienzan estadísticas--> 
<div class="survey_super_admin" id ="<%= course.id%>estaditicas-super-admin-lop">
    <div  class="secon_title_super_admin">Estadísticas</div>
   <div class="super-admin-header"> Cuestionarios  <div class="counter-marquer"><center><%= course.surveys.count %> </center></div></div></br>
 <div class="super-admin-header">  Tareas  <div class="counter-marquer"><center>  <%= course.deliveries.count %></center></div></div></br>
  
</div>
<!--finaliza estadísticas--> 

    
 
    
    
   
 </div></br>
<%end%>

