<div id="notice"></div>
<h1 class="super-admin-header2"><%=t('.admin')%></h1>
<div class="ko_btn" id="lp_lk"><div class=" button"><center><%=t('.create')%> ++</center></div></div>

  <script>
         $('#lp_lk').click(function() {
           $('#lok_n').slideToggle('slow', function() {
             // Animation complete.
           });
         });
     </script>

<div id="lok_n" style="display:none;">

<p><%=t('.create_net')%></p>
<%= form_for(@network = Network.new(params[:network]), remote: true) do |f|%>

<div class="field">
   <%= f.label :name %><br />
   <%= f.text_field :name %>
 </div>
 <div class="field">
   <%= f.label :subdomain %><br />
   <%= f.text_field :subdomain %>
 </div>
 <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>
  <div class="field">
        <%= f.label :registro_publico %><br />
        <%= f.check_box :public_register %>
  </div>
  <% 1.times do networks = @network.users.build end %>

   <%= f.fields_for :users do |user|%>
     <%= f.label :email %><br />
     <%= user.email_field :email %><br />
     <%= f.label :password %><br />
     <%= user.password_field :password %><br />
     <%= f.label :password_confirmation %><br />
     <%= user.password_field :password_confirmation %><br />
     <%= f.label :personal_url %></br>
     <%= user.text_field :personal_url   %></br>
     <%= f.label :acepta_terminos_del_servicio %>
     <%= user.check_box :accepted_terms, :value => true %>
   <%end%>



 <div class="actions">
   <%= f.submit %>
 </div>
<%end%>
</div>

<div class="networks">
     <% @networks = Network.all %>
     <% @networks.each do |n| %>
    <div class="n_n">
       <h3> <%=t('.net')%>: <%= n.name %> </h3>
       <p>  <%=t('.subdomain')%>: <%= n.subdomain %>  </p>
       <p>  Population: <%= n.population %>  </p>

       <div class="button" id="g_<%=n.id%>"><center><%=t('.edit')%></center></div>
    </div>
    <script>
        $('#g_<%=n.id%>').click(function() {
          $('#l_<%=n.id%>').slideToggle('slow', function() {
            // Animation complete.
          });
        });
    </script>
    <div class="l_tunder"id="l_<%=n.id%>" style="display:none;">
              <%= form_for(n, :remote => true) do |f| %>
                   <div class="field">
                      <%= f.label :name %><br />
                      <%= f.text_field :name %>
                    </div>
                    <div class="field">
                      <%= f.label :subdomain %><br />
                      <%= f.text_field :subdomain %>
                    </div>
                    <div class="field">
                       <%= f.label :population %><br />
                       <%= f.text_field :population %>
                     </div>
                     <div class="field">
                           <%= f.label :registro_publico %><br />
                           <%= f.check_box :public_register %>
                     </div>
                      <%= f.submit %>

              <%end %>
      </div>

     <% end %>
</div>
</div>
