<div class="super-admin-header"><%=t('.usr')%>
</div>
<%= form_tag superadmnin_users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder =>t('.find_usr') %>
   
  </p>
<% end %>
<div>
 <% @users.each do |user|%>
          <div class="gray_box">
            <div class="user_name">
                <%= image_tag(user.avatar.modern) if ( !user.avatar.blank?)%>
                <%= image_tag(user.image_avatarxxx) if ( user.avatar.blank?)%>

                <%= user.name %>
            </div>
         <div class=" link ">
            <a id="activities_d<%= user.id %>" ><%=t('.show1')%></a>|
            <a id="user_edit<%= user.id%>"><%=t('.edit1')%></a>|
            <a id="statics<%= user.id%>"><%=t('.statics')%></a>
        </div>
          </div>
            <script>
              $('#activities_d<%= user.id %>').click(function() {
                $('.container_activity<%=user.id%>').toggle('slow', function() {
                  // Animation complete.
                });
              });
                $('#statics<%= user.id %>').click(function() {
                  $('.container_statics<%=user.id%>').toggle('slow', function() {
                    // Animation complete.
                  });
                });

                $('#user_edit<%= user.id %>').click(function() {
                  $('.container_user_edit<%=user.id%>').toggle('slow', function() {
                    // Animation complete.
                  });
                });
            </script>
          <div  class="container_activity<%=user.id%>  container_activity"style="display: none">
              <h3><%=t('.activities')%></h3>
          <div class="plastic_t">
            <% user.activities.each do |activity|%>
                <div class="joko_orange">
               <h4> <%= link_to "#{activity.title}",  activity_path(activity.id) %></h4>
                </div></br>
            <%end%>
         </div>
         </div>

         <div class="container_statics<%=user.id%> container_activity" style="display: none">
     <div class="lop_container">
         <div class="joko_orange"> <%=t('.hmwrks')%>:   <%= user.activities.where(:activitye_type => "Delivery").count %> </div>
         <div class="joko_orange"> <%=t('.exam')%>:     <%= user.activities.where(:activitye_type => "Survey").count %></div>
        <div class="joko_orange">  <%=t('.response')%>:     <%= user.activities.where(:activitye_type => "Assignment").count %></div>
        <div class="joko_orange">  <%=t('.response2')%>:     <%= user.activities.where(:activitye_type => "User_survey").count %></div>
        <div class="joko_orange">  <%=t('.discuss')%>:   <%= user.activities.where(:activitye_type => "Discussion").count %></div>
    </div>
         </div>

          <div class="container_user_edit<%=user.id%> container_activity" style="display: none">

           <%= render :partial => '/registrations/edit_user' ,:locals => { :user_id => user.id }%>

          </div>
 <%end%>
</div>
