.wrapper
  .managers-top-actions
    .cols-12
      .col.col-12.alpha.omega
        .col-inner
          %ul.list-buttons.left
            %li= link_to t('.return').html_safe, index_managers_bit_courses_path, class: 'btn btn-secondary'
            %li= link_to t('.import'), import_managers_bit_course_path(@course['folio']), class: 'btn btn-primary'
  .cols-12
    .col.col-8.alpha.omega
      .col-inner

        %span.meta-info= t('.subject')
        %p= @course['asignatura']

        %br/
        %span.meta-info= t('.network')
        %p= @course['escuela']

        %br/
        %span.meta-info= t('.teachers')
        - @teachers.each do |teacher|
          %p= teacher['nombre'] + ' ' + teacher['apellidoPaterno'] + ' ' + teacher['apellidoMaterno']

        %br/
        %span.meta-info= t('.students')
        - @students.each do |student|
          %p= student['nombre'] + ' ' + student['apellidoPaterno'] + ' ' + student['apellidoMaterno']
