<%
  random_id = "#{random}"
  @labelIdBoxx = "upload-labels-assignments-#{random_id}"
  formId= "form-upload-assignments-#{random_id}"
  class_id_assignment_brief_description = "#{formId}_assignment_brief_description"
  class_id_assignment_title = "#{formId}_assignment_title"
%>

<% @assignment = Assignment.find_by_user_id_and_delivery_id(current_user.id, @delivery_id) %>

<% if @assignment.nil? %>
  <% @assignment = Assignment.new %>
<% else %>
  <% @assignment_id = @assignment.id %>
<% end %>

<%= form_for( @assignment, :url => assigment_courses_path, :method => :post, :html => { :class => "default-form assignment-delevery-form", :id => formId}) do |f| %>
  
  <div class="overlay-content">
    <% contents = @assignment.contents.build %>

    <%= f.hidden_field :course_id, :value => cargo.id %>
    <%= f.hidden_field :delivery_id, :value => @delivery_id %>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :Título %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :title, :class => "#{formId}_assignment_title" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :Descripción %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_area :brief_description, :rows => 6, :class => "border_for_text #{formId}_assignment_brief_description " %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <label>Entrega tu tarea desde Dropbox</label>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= render partial: 'content/assignments/puts', :locals => {:typeo => 'assignment', :acces_to => @assignment, :id => formId  } %>
          <%= render :partial => "content/assignments/adding", :locals => {:f => f, :typeo => 'assignment', :acces_to => @assignment, :contents => "contents", :id => formId  }%>
        </div>
      </div>
    </div>

    <% if @assingment_id.nil? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :user_id, :value => @assignment.user_id %>
    <% end %>

    <%= f.hidden_field :id, :value => @assignment_id if !@assignment_id.nil? %>

    <div id="<%=@labelIdBoxx%>" class="upload-label">      
      <% @assignment.assets.each do |asset|%>            
        <div class="file-mini-upload" id="file-mini-upload-<%=asset.id%>" >
        <input type="hidden" name="files[]" value="<%= asset.id%>">
        <span><%=asset.file%></span>
        <%= link_to "","/assets/"+asset.id.to_s, :confirm => '¿Eliminar archivo?', :method => :delete ,:remote => true, :class =>'trash', :onclick => "$(this).parent().remove();"%>
            </div>
      <% end%>
    </div>
    
    <script>
      <%= render :partial => '/assignments/delivery_responce.js.erb', :locals => {:formId => formId}%>
    </script>
  </div>

  <div class="overlay-footer">
    <ul class="list-buttons left fr">
      <li>
        <a href="" class="btn btn-medium btn-secondary" title="Cancelar">Cancelar</a>
      </li>
      <li>
        <span class="btn btn-medium btn-primary input-btn">
          <%= f.submit "Entregar Tarea", :class => 'activable' %>
        </span>
      </li>
    </ul>
  </div>
<% end %>
<div class="add-file-delivery-submit">
  <%= render :partial => "shared/assets_form", :locals =>{:labelIdBox=>'#'+ @labelIdBoxx, :formId => formId, :typeo => "assignment" } %>
</div>
