<%= form_for(@assignment) do |f| %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :brief_description %><br />
    <%= f.text_area :brief_description %>
  </div>
  <div class="field">
    <%= f.label :delivery_id %><br />
    <%= f.hidden_field :delivery_id %>
  </div>
  <div class="field">
    <%= f.label :accomplishment %><br />
    <%= f.number_field :accomplishment %>
  </div>
    <%= f.fields_for :compart_assets do |builder|%>
      <%= render :partial =>"compart_assets/forms_to_share_assets/form_to_assignment", :locals => { :f => builder }%>
    <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
