<%
  random_id = "#{random}"
  @labelIdBoxx = "upload-labels-assignments-#{random_id}"
  formId= "form-upload-assignments-#{random_id}"
  class_id_assignment_brief_description = "#{formId}_assignment_brief_description"
  class_id_assignment_title = "#{formId}_assignment_title"
%>

<% @assignment = Assignment.find_by_user_id_and_delivery_id(current_user.id, delivery.id) #ya se entrego la tarea? %>

<% if @assignment.nil? %>
  <% @assignment = Assignment.new %>
<% else %>
  <% already_delivered = true %>
  <% @assignment_id = @assignment.id %>
<% end %>

<%= form_for( @assignment, :url => assigment_courses_path, :method => :post, :html => { :class => "default-form assignment-delevery-form", :id => formId, data: { post_type: 'Assignment'}}) do |f| %>
  <div class="overlay-content">

    <% contents = @assignment.contents.build %>

    <%= f.hidden_field :course_id, :value => cargo.id %>
    <%= f.hidden_field :delivery_id, :value => @delivery_id %>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :title, t('.title') %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :title, :class => "#{formId}_assignment_title", :required => "required" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :brief_description, t('.descrip') %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_area :brief_description, :rows => 6, :class => "border_for_text #{formId}_assignment_brief_description", :required => "required" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label label-no-p">
        <label><%=t('.file_dlvry')%></label>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <ul class="list-buttons left">
            <li>
              <a class="btn btn-secondary btn-small add-dropbox-content-js"><%= icon('dropbox-asset') %> Dropbox</a>
            </li>
            <li>
              <%= render partial: 'assets/upload_asset_button', locals: { from: 'assignment-create-form' } %>
            </li>
          </ul>
          <div class="support-material" id="assignment-create-form-assets">
            <%= render :partial => "content/assignments/adding", :locals => {:f => f, :typeo => 'assignment', :acces_to => @assignment, :contents => "contents", :id => formId  }%>
          </div>
        </div>
      </div>
    </div>

    <% if !already_delivered %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :user_id, :value => @assignment.user_id %>
    <% end %>

    <%= f.hidden_field :id, :value => @assignment_id if !@assignment_id.nil? %>
  </div>

  <div class="overlay-footer">
    <ul class="list-buttons left fr">
      <li>
        <a href="" class="cancel-delivery-submit btn btn-medium btn-secondary" title="Cancelar"><%=t('.cancel')%></a>
      </li>
      <li>
        <span class="btn btn-medium btn-primary input-btn activable">
          <%= f.submit already_delivered ? t('.save_dlvry') : t('.dlvry'), :class => 'activable' %>
        </span>
      </li>
    </ul>
  </div>
<% end %>
