<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :brief_description %><br />
    <%= f.text_area :brief_description %>
  </div>
  <div class="field">
    <%= f.label :delivery_id %><br />
    <%= f.number_field :delivery_id %>
  </div>
  <div class="field">
    <%= f.label :accomplishment %><br />
    <%= f.number_field :accomplishment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
