<div class="homeworkCalf">

  <div class="form-group">
    <div class="form-group-label">
      <%= f.label :nombre_del_criterio %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field  :name %></br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group-label">
      <%= f.label :commentarios_de_evaluación_por_rubro %>     
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_area :comment_for_rubre, :rows => 3 %></br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group-label">
      <%= f.label :porcentaje_asignado %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.select :figure,(1..100)%>
      </div>
    </div>
  </div>

</div>