<div class="homeworkCalf">
 <%= f.label :nombre_del_criterio, :class => "titleCrit"%>
 <%= f.text_field  :name, :class => "nombreCrit" %></br>
 <%= f.label :commentarios_de_evaluación_por_rubro, :class => "titleCrit"%>
 <%= f.text_area :comment_for_rubre, :rows => 3, :class => "areaCrit"%></br>
 <%= f.label :porcentaje_asignado, :class => "titleCrit"%>
 	<span class="default-form" style="display:block;margin-left:42px;height:42px;"><%= f.select :figure,(1..100)%></span>
</div>