<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Brief description:</b>
  <%= @assignment.brief_description %>
</p>

<p>
  <b>Delivery:</b>
  <%= @assignment.delivery_id %>
</p>

<p>
  <b>Accomplishment:</b>
  <%= @assignment.accomplishment %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
