<h3>Editar Usuario</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "default-form edit-user-form"}) do |f| %>

    <div class="box-avatar">

      <div class="box-image">
          <%= image_tag(current_user.avatar.profile, :class => "avatar-mini avatar")%>
          <%#= f.file_field :avatar %>
          <%= f.label :Imagen_de_perfil, :class=> 'avatar-label' %>
          <div style="clear: both;">
              <%= f.fields_for :avatar do |asset| %>
                  <%= render :partial => "shared/assets_form", :locals => { :f => asset } %>
              <%end%>
          </div>
      </div>
      <div class="box-image">
          <%= image_tag(current_user.coverphoto, :class => "avatar-mini cover")%>
          <%= f.label :imagen_de_portada, :class=> 'coverphoto-label' %>
          <%#= f.file_field :coverphoto %>
        <div style="clear: both;">
          <%= f.fields_for :coverphoto do |asset| %>
              <%= render :partial => "shared/assets_form", :locals => { :f => asset } %>
          <%end%>
        </div>
      </div>
      <div class="box-cancel">
        <p>¿Quieres darte de baja? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
      </div>
    </div>

  <%= devise_error_messages! %>
  <div class="box-fields">
      <%= f.label :Correo_electronico %>
      <%= f.email_field :email %>
      <%= f.label :Nombre %>
      <%= f.text_field :first_name %>
      <%= f.label :Apellido %>
      <%= f.text_field :last_name %>
      <%= f.label :Direccion %>
      http://cursa.me/users/<%= f.text_field :personal_url %>
      <%= f.label :Contraseña %>
      <%= f.password_field :password, :autocomplete => "on" %>
  </div>



    <div class="submit-area"></div>
  <div><%= f.submit "Update" %></div>
    <%= link_to "Back", :back, :class => "a-btn" %>
<% end %>



