
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "default-form user-edit-form"}) do |f| %>
    <h3>Editar Usuario</h3>
    <div class="box-avatar">
      <div class="box-image">
          <%= image_tag(current_user.avatar.profile, :class => "avatar-mini avatar")%>
          <%= f.file_field :avatar %>
          <%= f.label :Imagen_de_perfil, :class=> 'avatar-label' %>
          <div style="clear: both;">
              <%#= f.fields_for :avatar do |asset| %>
                  <%#= render :partial => "shared/assets_form", :locals => { :f => asset, :isSingle => true } %>
              <%#end%>
          </div>
      </div>
      <div class="box-image">
          <%= image_tag(current_user.coverphoto, :class => "avatar-mini cover")%>
          <%= f.label :imagen_de_portada, :class=> 'coverphoto-label' %>
          <%= f.file_field :coverphoto %>
        <div style="clear: both;">
          <%#= f.fields_for :coverphoto do |asset| %>
              <%#= render :partial => "shared/assets_form", :locals => { :f => asset, :isSingle => true } %>
          <%#end%>
        </div>
      </div>
      <div class="box-cancel">
        <p>¿Quieres darte de baja? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
      </div>
    </div>
  <%= devise_error_messages! %>
  <div class="box-fields">
      <%= f.label :Nombre %>
      <%= f.text_field :first_name %>
      <%= f.label :Apellido %>
      <%= f.text_field :last_name %>
      <%= f.label :Contraseña %>
      <%= f.password_field :password, :autocomplete => "on" %>
      <%= f.label :Correo_electronico %>
      <%= f.email_field :email %>
      <%= f.label :facebook_link %>
      <%= f.text_field :facebook_link %>
      <%= f.label :twitter_link %>
      <%= f.text_field :twitter_link %>
      <%= f.label :bios %>
      <%= f.text_field :bios %>
      
      
      <%= f.label :Direccion %>
      <div style="float:left; clear: both;"><div class="personal-url-label">http://cursa.me/users/</div><%= f.text_field :personal_url, :class => 'personal-url' %></div>
       <div><%= f.label :nuevo_password %> <i>(deja el campo en blanco si no quieres cambiar tu contraseña)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div></br>
<div>-<i>(para realizar tus cambios necesitamos que confirmes con tu ocntraseña)</i></div></br>
        <div><%= f.label :confirma_el_passwor %><br />
        <%= f.password_field :password_confirmation %></div>
         
        <div><%= f.label :confirma_tus_cambios_colocando_tu_contraseña %> <br />
             <%= f.password_field :current_password %></div>

  </div>
  <div class="submit-area"></div>
  <div class="submit-btns"><%= f.submit "Update" %><%= link_to "Back", :back, :class => "a-btn" %></div>

<% end %>
