<% if current_network.nil? %>
<script>
$(document).ready(function() {
    $("#bg").ezBgResize();
});
</script>

<div class="signup-restore"></div>

<div class="login">
    <p>
    <b><%=t('.access')%></b></br>
    <b><%=t('.question')%></b></br>
    
    <h1 style="font-size:65px;color:#FFA200;text-align:center;margin-top:40px;"><%=t('.thnx')%></h1>
    </p>
    <br><br>
    <center>
</div>
<%else%>

<div class="signup-layout"></div>

<div class="content login" id="titlheader">

		<p>

		</p>
		<br/>

<!-- <h2>Sign up</h2> -->
	<div class="form-signin form-signup">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div><!-- <%= f.label :email %><br /> --> <%= f.email_field :email, :class => "email",:placeholder =>t('.email') %></div>
			<div><!-- <%= f.label :first_name %><br /> --> <%= f.text_field :first_name, :class => "pswd",:placeholder =>t('.name') %></div>
				<div><!-- <%= f.label :last_name %><br /> --> <%= f.text_field :last_name, :class => "pswd",:placeholder =>t('.last_name') %></div>
		<div><!-- <%= f.label :password %><br /> --> <%= f.password_field :password, :class => "pswd",:placeholder =>t('.pwd') %></div>		

		<div><!-- <%= f.label :password_confirmation %><br /> --> <%= f.password_field :password_confirmation, :class => "pswd", :placeholder =>t('.confirm_pwd') %></div>
		<!-- <div style="color:#bbb;text-align:center;font-size:14px;font-weight:lighter;margin-top:23px;">Codigo de confirmación</div> -->
		<%= f.hidden_field :personal_url, :class => "pswdcode", :value => random_string_for_user_url %>
		
		<div class="dropperDwn">
	       <!--MUY IMPORTANTE estas lineas sirven para machar la red en caso de que exista una current_network con lo cual el usuario al crearse puede ingresar directamente a la red -->
	       ffnodsnfondfnsodfsodfnosnfosnfonsfnonisonfosdnfosnfosndfdsonfosfnsodnfosdnfosdfs
	       <% 1.times do networks = @user.permissionings.build end %>
		       <%= f.fields_for :permissionings do |permissioning|%>
	           <%= permissioning.hidden_field :network_id, :value => current_network.id %>
	           <%= permissioning.select :role_id, options_for_select([['Soy alumno', '2'], ['Soy profesor', '3']]), :class =>"default-form" %>
	       <%end%>
	    </div>
	    
		<div class="terms">
		    <%= render partial: "home/terms_and_conditions"%>
		</div>
		
		<div class="checkbox remember">
			<%= f.check_box :accepted_terms %>	<label><%=t('.accept')%></label>
		</div>
		
		<%= f.submit t('.registry'), :class =>"signup-btn" %>
		<% end %>
	</div><!-- ends form-signup -->
</div><!-- ends content login -->

<div class="confirmation-links">
<%- if controller_name != 'sessions' %>
  <%= link_to t('.sign_in') new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('.no_confirmation'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('.no_blocked'), new_unlock_path(resource_name) %><br />
<% end -%>
</div>

<!-- <%= render "devise/shared/links" %> -->

<div style="margin-bottom:20px;"><%= render "devise/shared/footer-links" %></div>
<%end%>