.section-header-wrap
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .section-header
            .section-header-main
              .section-title
                = link_to icon('section-califications'), califications_path
                = link_to califications_path do
                  %h1= t('.grades')
            - unless current_user.admin?
              .page-sub-navigation
                - action = params[:action]
                %ul
                  %li
                    = link_to t('.active_courses'), califications_path, class: active_class('index')
                  %li
                    = link_to t('.closed_courses'), closed_califications_path, class: active_class('closed')
