# -*- coding: utf-8 -*-
<%= form_for(@discussion=Discussion.new, :remote => true,:html => { :class => "default-form discussion-form" }) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title, :placeholder=>'Titulo de la Discusión' %>
    <%= f.text_area :description , :placeholder=>'Descripción', :rows => 4, :cols => 76 %>

    <div class="submit-area"></div>
    <%= button_tag "Cancel", :type => 'button', :class=>'input-button', :id => 'cancel-post-form', :onClick=>'removeSliderEvaluation();' %>
    <%= f.submit "Crear Discusión", :id => 'comment-post-form' %>
    <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, :hasCourses => true, :hasGroups => true, :defaultText => 'Pública', :defaultClass => 'public-dd' } %>
<% end %>
