<% form_reference_id = SecureRandom.urlsafe_base64 %>

<% if active_edit == false %>
  <% @discussion=Discussion.new %>
<% end %>

<%= form_for(@discussion, remote: true, html: { class: "new-discussion-form discussion-form-js", id: form_reference_id, data: { post_type: 'Discussion' } }) do |f| %>
  <%= hidden_field_tag 'in_form', in_form%>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>
      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% contents = @discussion.contents.build %>

  <div class="new-publication-form-content">

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :title, "#{t('.discuss')}: " %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :title, placeholder: t('.example'), required: "required" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :description, "#{t('.descrip')}:" %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_area :description, placeholder: t('.descrip'), rows: 3, required: true, class: 'autogrow' %>
        </div>
      </div>
    </div>

    <% if active_edit == false %>

      <div class="form-group ">
        <div class="form-group-label label-no-p">
          <%= f.label "", "#{t('.support')}:" %>
        </div>
        <div class="form-group-main">
          <div class="form-unit">
            <ul class="list-buttons left">
              <li>
                <a class="btn btn-secondary btn-small add-dropbox-content-js"><%= icon('dropbox-asset') %> Dropbox</a>
              </li>
              <li>
                <%= render partial: 'assets/upload_asset_button', locals: { from: 'discussion-create-form' } %>
              </li>
            </ul>
            <%= render partial: 'assets/support_material_container', locals: { from: 'discussion-create-form-assets' , object: @discussion} %>
          </div>
        </div>
      </div>

      <% if (current_role != 'student' and current_network.evaluable?) %>
        <div class="form-group">
          <div class="form-group-main">
            <div class="form-unit">
              <label>
                <%= f.check_box :evaluable, class: 'evaluable-fields-trigger-js' %>
                <%=t('.calif')%>
              </label>
            </div>
          </div>
        </div>

        <div class="evaluable-fields-js">
          <div class="form-group">
            <div class="form-group-label">
              <%= f.label 'Date', "#{t('.dates')}:" %>
            </div>
            <div class="form-group-main">
              <div class="f-col f-col-5">
                <div class="form-unit">
                  <%= f.text_field :publish_date, placeholder: t('.publish_date'), class: "datetime-picker", value: '' %>
                </div>
              </div>

              <div class="f-col f-col-5">
                <div class="form-unit">
                  <%= f.text_field :end_date, placeholder: t('.deliver_date'), class: "datetime-picker", value: '' %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label label-no-p">
              <%= f.label '', "#{t('.criterium')}:" %>
            </div>
            <div class="form-group-main">
              <div class="areas-of-evaluation">
                <div class="form-unit">
                  <div class="fields-wrap">
                    <div class="fields-group">
                      <%= f.fields_for :evaluation_criteria do | builder | %>
                          <%= render partial: "shared/evaluation_criteria/evaluation_criteria_fields", locals: { f: builder, base_model: @discussion } %>
                      <% end %>
                    </div>
                    <%= link_to_add_evaluation_criteria t('.add_comment'), f, :evaluation_criteria %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>

  <div class="new-publication-footer">
    <% if active_edit == false %>
      <ul class="list-buttons right fr">
        <li>
          <%= link_to t('.cancel'), "", class: "btn btn-secondary cancel-post-form_tab" %>
        </li>
        <li>
            <% if current_network.subdomain == "meems" %>
                <%= render partial: "shared/dropdown_phases",
                           locals: { defaultText: t('.phases'), default_icon: 'course-new-publication', in_type: in_type }%>
            <% end %>

          <% if in_form != 'course'%>
              <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, isActivity: true, :hasCourses => true,
                                                                    :defaultText => t('.public'), :default_icon => 'public-new-publication', :in_type => in_type } %>
          <% elsif !@course.evaluation_periods.empty? %>
              <%= render partial: "shared/dropdown_evaluation_periods",
              locals: { defaultText: t('.evaluation_periods'), default_icon: 'course-new-publication', in_type: in_type, course: @course } %>
              <%= hidden_field_tag "delivery[course_ids][]", @course.id %>
          <% else %>
            <%= hidden_field_tag "delivery[course_ids][]", @course.id %>
          <%end%>

        </li>
        <li>
          <span class="btn btn-primary input-btn activable">
            <%= f.submit t('.create_discuss'), :id => 'comment-post-form', :class => "activable" %>
          </span>
        </li>
      </ul>
    <% else %>
      <ul class="list-buttons right">
        <li>
          <div class="btn btn-secondary cancel-edit-publication-js"><%=t('.cancel')%></div>
        </li>
        <li>
          <span class="btn btn-primary input-btn activable">
            <%= f.submit t('.save_discuss'), :class => "activable" %>
          </span>
        </li>
      </ul>
    <%end%>
  </div>
<% end %>

<script>
  $(function() {

    $('#pk_menu').on('change', '#discussion_evaluable', function(event) {
      var $this = $(this),
          form = $this.closest('form'),
          containerFields = form.find('div.evaluable-fields-js');

      var checked = $this.prop('checked');

      var publish_date = form.find('#discussion_publish_date')[0],
          end_date = form.find('#discussion_end_date')[0];

      if ( !checked ) {
        $this.removeClass('active');
        containerFields.hide();
        publish_date.required = false;
        end_date.required = false;
      } else {
        $this.addClass('active');
        containerFields.show();
        publish_date.required = true;
        end_date.required = true;
      };
    });

    $('form.discussion-form-js').validate({
      submitHandler: function(form) {
        var $form = $(form),
            evaluable = $form.find('input.evaluable-fields-trigger-js'),
            error = 0;

        if ( evaluable.is(':checked') ) {
          var is_public = $form.find('input[name=is_public]');
          if ( is_public.val() == 1 ) {
            error = 1;
          }
        }

        if ( ! error ) {
          $form.ajaxSubmit();
        } else {
          Notice('error', 'No puedes crear una discusión calificable sin un curso.');
          return false;
        };
      }
    });

  });
</script>
