<% if @active_edit == false %>
  <% @discussion=Discussion.new %>
<% end %>

<%= form_for(@discussion, :remote => true,:html => { :class => "default-form discussion-form" }) do |f| %> 
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>
      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% contents = @discussion.contents.build %>
  
  <div class="new-publication-form-content">

    <div class="form-group">
      <div class="form-group-label">
        <label>Titulo de la discusión:</label>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :title, placeholder: 'Ejemplo: Números primos', minlength: 2 %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <label>Descripción:</label>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_area :description, placeholder: "Descripción", rows: 6 %>
        </div>
      </div>
    </div>
    
    <% if @active_edit == false %>
      <div class="form-group">
        <div class="form-group-label">
          <label>Material de soporte:</label>
        </div>
        <div class="form-group-main">
          <div class="form-unit">
            <%= render partial: 'content/list', :locals => {:typeo => 'discussion'} %>
            <div>
              <%= render partial: "content/heather_contents", locals: { f: f, typeo: 'discussion', acces_to: @discussion, contents: "contents"}%>
            </div>
          </div>
        </div>
      </div>
    <%end%>

  </div>

  <div class="new-publication-footer">
    <% if @active_edit == false %>
      <ul class="list-buttons right fr">
        <li>
          <%= link_to "Cancelar", "", class: "btn btn-secondary cancel-post-form_tab", onClick: 'removeSliderEvaluation();' %>
        </li>
        <li>
          <% if @incourse != true%>
            <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, :hasCourses => true, :hasGroups => true, :hasUser => true,:defaultText => 'Público', :default_icon => 'public-new-publication' } %>
          <%else%>
            <% courses = @discussion.courses.build %>
            <%= hidden_field_tag "delivery[course_ids][]", @course.id %>   
          <%end%>
        </li>
        <li>
          <span class="btn btn-primary input-btn">
            <%= f.submit "Crear Discusión", :id => 'comment-post-form' %>
          </span>
        </li>
      </ul>
    <% else %>
      <ul class="list-buttons right">
        <li>
          <div class="btn btn-secondary cancel-edit-publication">Cancelar</div>
        </li>
        <li>
          <span class="btn btn-primary input-btn">
            <%= f.submit "Guardar discussion",  :class => "btn activable" %>
          </span>
        </li>
      </ul>
    <%end%>
  </div>

  <script>
    $().ready(function() {
      $('#new_discussion').validate();
    });
  </script>
<% end %>
