.wrapper
  .cols-12
    .col.col-12.alpha.omega
      .col-inner
        .managers-section-header
          .title
            %h1= t('.edit_discussion')
  .cols-12
    .col.col-8.alpha.omega
      .col-inner
        = form_for(@discussion, remote: true, html: { class: 'new-discussion-form discussion-form-js'}) do |f|

          .form-group
            .form-group-label
              = f.label :title, t('.discussion_title')
            .form-group-main
              .form-unit
                = f.text_field :title, placeholder: t('.title'), required: true

          .form-group
            .form-group-label
              = f.label :description, t('.discussion_description')
            .form-group-main
              .form-unit
                = f.text_area :description, placeholder: t('.description'), rows: 3, required: true, class: 'autogrow'

          .form-group
            .form-group-label
              - if @discussion.evaluable?
                = f.label :publish_date, t('.discussion_publish_date')
            .form-group-main
              .form-unit
                - if @discussion.evaluable?
                  = f.text_field :publish_date, placeholder: t('.discussion_publish_date'), class: "datetime-picker"
          .form-group
            .form-group-label
              - if @discussion.evaluable?
                = f.label :end_date, t('.discussion_end_date')
            .form-group-main
              .form-unit
                - if @discussion.evaluable?
                  = f.text_field :end_date, placeholder: t('.discussion_end_date'), class: "datetime-picker"

          .form-group
            .form-group-label.label-no-p
              - if @discussion.evaluable?
                = f.label "", t('.evaluation_criteria')

          .form-group-main
            .areas-of-evaluation
              .form-unit
                .fields-wrap
                  - if @discussion.evaluable?
                    .fields-group
                      = f.fields_for :evaluation_criteria do |evaluation_criteria|
                        = render partial: "shared/evaluation_criteria/evaluation_criteria_fields", locals: { f: evaluation_criteria, base_model: @discussion }
                    = link_to_add_evaluation_criteria t('.add_criterium'), f, :evaluation_criteria

          %ul.list-buttons.left
            %li= link_to t('.back'), :back, class: 'btn btn-medium btn-secondary'
            %li= link_to t('.cancel'), :back, class: 'btn btn-medium btn-secondary'
            %li
              %span.btn.btn-primary.input-btn.btn-medium.activable
                = f.submit t('.save_discussion'), class: 'activable'




