<div class="section-header">
  <div class="wrapper spaced">
    <div class="section-header-title">
      <div class="section-icon">
        <%= icon('section-discussions') %>  
      </div>
      <div class="section-title">
        <h1>Discusiones</h1>
      </div>
    </div>

    <% unless current_user.courses.empty? %>
      <%= render partial: '/shared/publications-filter/filter_by_course_publications', locals: { type: 'discusiones' } %>
    <% end %>

  </div>
</div>

<div id="timeline" class="tim wrapper spaced sc-margined">
  <% unless @wall.empty? %>
    <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
  <% else %>
    <div class="no-content-section">
      <h4>No se ha creado ninguna discusión.</h4>
    </div>
  <% end %>
</div>

<%= will_paginate(@wall) %>

<script>
 var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= my_discussions_path(current_network) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
</script>