.section-header-wrap
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .section-header
            .section-header-main
              .section-title
                = link_to icon('section-discussions'), my_discussions_path
                = link_to my_discussions_path do
                  %h1 Discusiones
              - unless current_user.courses.empty?
                = render partial: '/shared/publications-filter/filter_by_course_publications', locals: { type: 'discusiones' }

.wrapper
  .cols-12
    .col.col-12
      .col-inner
        #timeline.tim
          - unless @wall.empty?
            = render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"}
          - else
            .no-content-section
              %h4 No se ha creado ninguna discusión.
        #paginate_wall{onclick: "PaginateINwall('/all_discussions',2, #{@wall.total_pages})"}