.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.courses')
        .actions
          = link_to t('.create'), new_managers_course_path, class: 'btn btn-complementary'
          = link_to t('.import_bit_courses'), index_managers_bit_courses_path, class: 'btn btn-complementary' unless current_network.bit_setting.nil?
      %table.data-table
        %thead
          %tr
            %th= t('.name')
            %th= t('.teachers')
            %th= t('.students')
            %th= t('.inte_date')
            %th= t('.actions')
        %tbody
          - @courses.each do |course|
            %tr
              %td
                = avatar('course', '30', "no", course.id, "avatar avatar-30", "no", "no")
                = link_to course.title, managers_course_path(course)
              %td
                - course.owners.each do |user|
                  %p= user.name
              %td= course.users.count - course.teachers.count
              %td= course.created_at
              %td
                .dropdown-wrap.actions
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to t('.edit'), edit_managers_course_path(course)
                      %li= link_to t('.delete'), managers_course_path(course), method: :delete, confirm: t('.sure')
      .digg_pagination.paginator
        = will_paginate @courses
