<div id="message_{{id}}" class="chat-message-item message-received">
  <a href="{{url}}">
    <div class="chat-message-author">
      <span class="avatar-holder">
        {{{userAvatar}}}
      </span>
    </div>
  </a>
  <div class="chat-message-main">
    <span class="tip"></span>
    <div class="chat-message-content">
      <p>{{body}}</p>
    </div>
    <span class="meta">{{createdAt}}</span>
  </div>
</div>