
<div class="sessions-footer">
  <div class="sessions-footer-link">
    <ul>
      <li>
        <%= link_to "Centro de ayuda", "http://cursame.zendesk.com/hc/es", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Blog", "http://cursame.tumblr.com/", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Términos y Condiciones", conditions_path, target: "_blank" %>
      </li>
      <li>
        <%= link_to "Aviso de privacidad", privacidad_path, target: "_blank" %>
      </li>
    </ul>
  </div>
  <div class="sessions-footer-cursame">
    <p>Powered by <%= link_to 'Cúrsame', 'http://www.cursa.me', :target => '_blank'%></p>
  </div>
</div>