<script type='text/javascript'>
    var events = [];
</script>
<!-- creamos un arreglo directo a survey y a delivery y asi jalamos los eventos propios de este -->
<% @user = current_user %>
<% @user.courses.each do |courses|%>
    
      <% courses.deliveries.each do |delivery| %>
        <% delivery.events.each do |event|%> 
                   
         <script type='text/javascript'>
                
                events.push(   
                 {
                 title : '<%= event.title %>',
                 description: '<%= event.description%>',
                 start :  '<%= event.starts_at%>',
                 end :  '<%= event.ends_at%>'

                 })
          </script>      
                     
        <%end%>
      <%end%>

      <% courses.surveys.each do |survey|%>
           <% survey.events.each do |event|%>
                   <script type='text/javascript'>
                          events.push(   
                           {
                           title : '<%= event.title%>',
                           description: '<%= event.title%>',
                           start :  '<%= event.starts_at%>',
                           end :  '<%= event.ends_at%>'

                           })
                    </script>
           <%end%>
        <%end%>
<%end%>


<div id='calendar_g' style="width: 440px;float:right; margin-right:20px;"></div>


