<script type='text/javascript'>
    var events = [];
</script>
<!-- creamos un arreglo directo a survey y a delivery y asi jalamos los eventos propios de este -->
<% @user = current_user %>
<% if @user.courses != nil %>
<% @user.courses.each do |courses|%>
    
      <% courses.deliveries.each do |delivery| %>
      <% delivery.events.each do |event|%> 
        <% @description = event.description.delete("\r\n/\n/\r") %>
        
         <script type='text/javascript'>
                
                events.push(   
                 {
                 title : '<%= event.title %>',
                 description: '"<%= @description.to_s %>"',
                 start :  '<%= event.starts_at%>',,
                 // end :  '<%= event.ends_at%>'

                 })
          </script>      
                     
        <%end%>
      <%end%>
      <% courses.surveys.each do |survey|%>
           <% survey.events.each do |event|%>
                   <script type='text/javascript'>
                   
                          events.push(   
                           {
                           title : '<%= event.title%>',
                           description: '<%= event.title%>',
                           start :  '<%= event.starts_at%>',
                           // end :  '<%= event.ends_at%>'

                           })
                    </script>
           <%end%>
        <%end%>
<%end%>
<%end%>

<script type="text/javascript">
	$(document).ready( function(){
		$('calendar_g').removeDuplicates();
	});
</script>

<div id='calendar_g' style="width: 440px;float:right; margin-right:20px;overflow: ; height:340px;"></div>


