<script>
  var event_list = [];
</script>
<div>

<div style="background:#fff;">
<% @user.courses.each do |courses|%>
  
      <% courses.deliveries.each do |delivery| %>
        <% delivery.events.each do |event|%> 
         
         <script type='text/javascript'>
                event_list.push(
                 {
                 title : '<div class="calendarHome"><span style="font-size:16px;display:block;text-transform:capitalize;"><%= event.title %></span>',
                 description: '<span style="color:#fff;"><%= event.description%></span>',
                 start :  '<span style="color:#fff;"><%= event.starts_at%></span>',
                 end :  '<span style="color:#bbb;display:table;margin-bottom:10px;font-weight:lighter;"><%= event.ends_at%></span></div>'
                 })
          </script>
            
                     
        <%end%>
      <%end%>

      <% courses.surveys.each do |survey|%>
           <% survey.events.each do |event|%>
                   <script type='text/javascript'>
                          event_list.push(   
                           {
	                         title : '<div class="calendarEvnt"><span style="font-size:16px;display:block;text-transform:capitalize;"><%= event.title %></span>',
			                 description: '<span style="color:#fff;"><%= event.description%></span>',
			                 start :  '<span style="color:#fff;"><%= event.starts_at%></span>',
			                 end :  '<span style="color:#bbb;display:table;margin-bottom:10px;font-weight:lighter;"><%= event.ends_at%></span></div>'

                           })
                    </script>
           <%end%>
        <%end%>
<%end%>
</div>
    <div id="event_list" style="width: 350px;float: left; color:#000;">
        <h1> Lista de eventos </h1>
        
    </div>
</div>