<script>
  var event_list = [];
</script>
<div>
  
<% @user.courses.each do |courses|%>
    
      <% courses.deliveries.each do |delivery| %>
        <% delivery.events.each do |event|%> 
                   
         <script type='text/javascript'>
                
                event_list.push(   
                 {
                 title : '<%= event.title %>',
                 description: '<%= event.description%>',
                 start :  '<%= event.starts_at%>',
                 end :  '<%= event.ends_at%>'

                 })
          </script>      
                     
        <%end%>
      <%end%>

      <% courses.surveys.each do |survey|%>
           <% survey.events.each do |event|%>
                   <script type='text/javascript'>
                          event_list.push(   
                           {
                           title : '<%= event.title%>',
                           description: '<%= event.title%>',
                           start :  '<%= event.starts_at%>',
                           end :  '<%= event.ends_at%>'

                           })
                    </script>
           <%end%>
        <%end%>
<%end%>
    <div id="event_list" style="width: 400px;float: left; margin-left:15px; color:#fff;">
        <h1> Lita de eventos </h1>
        
    </div>
</div>