
<div class="calendar-wrap">
  <div class="calendar-header">
    <div class="wrapper spaced">
      <div class="calendar-header-prev-month change-month">
        <%= link_to "&#8592; Més anterior".html_safe, :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
      </div>
      <div class="calendar-header-next-month change-month">
        <%= link_to "Més siguiente &#8594;".html_safe, :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
      </div>
      <div class="calendar-header-current-month">
        <h1><%= h es_current_date( @date.strftime( '%B'), "", @date.strftime( '%Y') )  %></h1>
      </div>
    </div>
  </div>

  <%= calendar_for(@tasks, :year => @date.year, :month => @date.month) do |t| %>
    <%= t.head( 'Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado') %>
    <%= t.day(:day_method => :ends_at) do |day, tasks| %>
      <div class="calendar-day">
        <% today = true if (Time.now.strftime("%d/%m/%Y") == "#{day.day}/#{day.month}/#{day.year}")%>
        <div class="calendar-day-number <%= "today" if today %>">
          <%= day.day %>
        </div>

        <div class="calendar-day-main">
          <% tasks.each do |task| %>
            <% if task.schedule.state == 'published'%>

              <% task.schedule.courses.each do |course| %>
                <% member_in = MembersInCourse.find_by_course_id_and_user_id( course.id, current_user.id)%>
                  
                <% if !member_in.nil? %>
                  <%= link_to show_template_on_modal_path(:id => task.id, :type => 'task'), :remote => true do %>
                    <div class="calendar-day-task <%= task.schedule_type.to_s.downcase %>">
                      <h6><%= truncate( task.title, :omission => "...", :length => 20) %></h6>
                      <span><%= task.schedule.end_date.strftime("%I:%M%P") %></span>
                      <span>- <%= course.title %></span>
                    </div>
                  <% end %>
                <% end %>
              <%end%>

            <%end%>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>