<% content_for :javascripts do %>
<%= javascript_include_tag 'calendar/calendar' %>
<% end %>

<div class="calendar-wrap">
  <div class="calendar-header">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="calendar-header-prev-month change-month">
              <% url_previous = calendar_path( :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") ) %>
              <%= link_to icon('arrow-gray-left'), url_previous, :class => "icon-link" %>
              <%= link_to t('.back_month').html_safe, url_previous, :class => "text-link" %>
            </div>
            <div class="calendar-header-next-month change-month">
              <% url_next = calendar_path( :month => (@date.end_of_month+1).strftime("%Y-%m-01") ) %>
              <%= link_to icon('arrow-gray-right'), url_next, :class => "icon-link"  %>
              <%= link_to t('.next_month').html_safe, url_next, :class => "text-link" %>
            </div>
            <div class="calendar-header-current-month">
              <h1><%= localize @date, format: '%B %Y' %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= calendar_for(@tasks, :year => @date.year, :month => @date.month) do |t| %>
    <% if mobile?.present? %>
      <%= t.head( t('.day1'), t('.day2'), t('.day3'), t('.day4'), t('.day5'), t('.day6'), t('.day7') ) %>
    <% else %>
      <%= t.head( t('.sunday'), t('.monday'), t('.tuesday'), t('.wednesday'), t('.thursday'), t('.friday'), t('.saturday') ) %>
    <% end %>
    <%= t.day(:day_method => :ends_at) do |day, tasks| %>
      <div class="calendar-day">
        <% today = true if (Time.now.strftime("%d/%m/%Y") == "#{day.day}/#{day.month}/#{day.year}")%>
        <div class="calendar-day-number <%= "today" if today %>">
          <%= day.day %>
        </div>
        <div class="calendar-day-main">
          <div class="identifiear-day" data-day-id="<%= day.day %>"></div>
          <%= render partial: 'calendar/tasks', locals: { tasks: tasks, full_event: false } %>
          <% content_for :calendar_outside do %>
            <%= render partial: 'calendar/tasks', locals: { tasks: tasks, full_event: true } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if mobile?.present? %>
  <div class="calendar-events-wrap">
    <div class="calendar-events-header">
      <%= link_to icon('arrow-gray-left'), '', :class => "back-to-calendar" %>
      <p><span class="calendar-events-day"></span> <%= l @date, format: 'de %B del %Y' %></p>
    </div>
    <div class="calendar-events-main">
      <%= yield :calendar_outside %>
    </div>
  </div>
<% end %>

