<div id="calendar_g">
  <h2 id="month">
   <center> <%= link_to "Més anterior", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h  es_current_date("#{@date.strftime( '%B')}","", "#{@date.strftime( '%Y')}")  %>
    <%= link_to "Més siguiente", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %></center>
  </h2>
<%= calendar_for(@tasks, :year => @date.year, :month => @date.month) do |t| %>
  <%= t.head('Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo') %>
  <%= t.day(:day_method => :ends_at) do |day, tasks| %>
    <%= day.day %>
    <% tasks.each do |task| %>
     <!--en caso de requerir el tipo para colocar imagen--><%= task.schedule_type %>
     <!--fecha de entrega-->
     <div style="padding:1px;"> <%= h( ("#{task.title}").truncate(20, omission: '...')) %></div>
    <% end %>
  <% end %>
<% end %>
</div>