<div class="form-course"><!-- estilo en courses.scss -->
	<div style="width:400px; float:left;">

<div class="form-for-admin" style="height:800px;">
<%= form_for(@network, :remote => true) do |f| %>
  <% if @network.errors.any? %>


				<div id="error_explanation">
					<h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>
						<ul>
							<% @network.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
				</div>
  <% end %>

				<div class="field-style" style="clear: both; position: relative; display: block; height: 70px;">
					<p><%= f.label :nombre %><p/>
					<%= f.text_field :name, :class=> "default-form" %>
				</div>
		
				<div class="field" style="clear: both; position: relative; display: block; height: 60px;">
				    <p><%= f.label :subdominio %></p>
					<%= f.text_field :subdomain, :class=>"default-form" %>
				</div>
		
				<div class="field" style="clear: both; position: relative; display: block; height: 60px;">
					<p><%= f.label :Poblacion %></p>
					<%= f.text_field :population, :class=>"default-form" %>
					 <p><%= f.label :Mensaje_de_bienvenida_a_la_red %></p>
     <%= f.text_area :welcom_message, :class=>"default-form" %>   
				</div>
		
				<div class="checkboxes_layout" style="margin-bottom: 30px;">
					<div class="field" style="clear: both; position: relative; display: block; height: 30px;">
						<p style="margin-left:30px;margin-top:5px; position:absolute;">  <%= f.label :reestablecer_contraseña_al_importar_los_usuarios %> </p>
					<%= f.check_box :public_register, :title=> 'Registro público' %>
					</div>
			   
					
					<div class="field">
						<p style="margin-left:30px;margin-top:5px; position:absolute;">  <%= f.label :Formulario_de_registro_bloqueado  %> </p>
						<%= f.check_box :register_form, :title=> 'Registro público formulario' %>
					</div>
				</div>
		    
				<div class="actions_form" style="margin-top: 60px;">
					<%= f.submit %>
				</div>
			<% end %>
		</div>
	</div>

</div>
</div>
</div>