<%= form_for(@network) do |f| %>

  <% if @network.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>
     <ul>
       <% @network.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
  <% end %>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :subdomain, t('.subdomain') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%="#{@network.subdomain}"%>
        <%= f.hidden_field :subdomain, value: @network.subdomain %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :name, t('.name') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :name, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :population, t('.pop') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :population, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :welcom_message, t('.msg') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :welcom_message, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :image_front, t('.icon') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= image_tag(current_network.image_front, :style => "width:120px; height:80px;") %>
        <%= (current_network.image_front).to_s.split('/').last%>
        <%= f.file_field :image_front %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :logo, t('.icon2') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= image_tag(current_network.logo, :style => "width:120px; height:80px;") %>
        <%= (current_network.logo.response).to_s.split('/').last %>
        <%= f.file_field :logo %>
        <%= f.hidden_field :logo_type, :value => "26x26"  %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :titles, t('.label') + ':' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_area :titles, rows: 3 %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top no-label">
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.label :public_register do %>
          <%= f.check_box :public_register %>
          <%=t('.pwd')%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top no-label">
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.label :register_form do %>
          <%= f.check_box :register_form %>
          <%=t('.form')%>
        <% end %>
      </div>  
    </div>
  </div>

  <div class="form-group label-on-top no-label">
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.label :evaluable do %>
          <%= f.check_box :evaluable %>
          <%=t('.net_evaluable')%>
        <% end %>
      </div>
    </div>
  </div>

<h2>Bit</h2>

  <%= f.fields_for :bit_settings do |setting| %>
    <div class="form-group label-on-top l-label">
      <div class="form-group-label">
        <%= setting.label :authorization_keyword, t('.authorization_keyword')%>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= setting.text_field :authorization_keyword, required: true, placeholder: t('.example') + 'Bearer' %>
        </div>
      </div>
      <div class="form-group-label">
        <%= setting.label :api_key, t('.api_key') %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= setting.text_field :api_key, required: true, placeholder: t('.example') + 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9' %>
        </div>
      </div>
    </div>
  <% end %>
  
  <span class="btn btn-primary input-btn btn-medium activable">
    <%= f.submit t('.save') %>
  </span>

<% end %>