<%= form_for(@network) do |f| %>

  <% if @network.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>
     <ul>
       <% @network.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
  <% end %>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :name, 'Nombre:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :name, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :subdomain, 'Subdominio:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :subdomain, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :population, 'Poblaci칩n:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :population, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :welcom_message, 'Mensaje de bienvenida:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_field :welcom_message, required: true %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :image_front, 'Imagen de inicio de sesi칩n:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= image_tag(current_network.image_front, :style => "width:120px; height:80px;") %>
        <%= (current_network.image_front).to_s.split('/').last%>
        <%= f.file_field :image_front %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :logo, 'Logo de la instituci칩n:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= image_tag(current_network.logo, :style => "width:120px; height:80px;") %>
        <%= (current_network.logo.response).to_s.split('/').last %>
        <%= f.file_field :logo %>
        <%= f.hidden_field :logo_type, :value => "26x26"  %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top l-label">
    <div class="form-group-label">
      <%= f.label :titles, 'Etiquetas:' %>
    </div>
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.text_area :titles, rows: 3 %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top no-label">
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.label :public_register do %>
          <%= f.check_box :public_register %>
          Reestablecer contrase침a al importar los usuarios
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group label-on-top no-label">
    <div class="form-group-main">
      <div class="form-unit">
        <%= f.label :register_form do %>
          <%= f.check_box :register_form %>
          Habilitar formulario de registro publico.
        <% end %>
      </div>
    </div>
  </div>

  <h2>Wufoo</h2>

  <%= f.fields_for :wufoo_setting do |setting| %>
    <div class="form-group label-on-top l-label">
      <div class="form-group label-on-top l-label">
      <div class="form-group-label">
        <%= setting.label :acount_name, "Nombre de la Cuenta:" %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
           <%= setting.text_field :acount_name, required: true, placeholder: 'Ejemplo: cursame' %>
        </div>
      </div>
    </div>
      <div class="form-group-label">
        <%= setting.label :api_key, "API Key:" %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
           <%= setting.text_field :api_key, required: true, placeholder: 'Ejemplo: KNAF-0000-YMV9-G9H2' %>
        </div>
      </div>
    </div>
  <% end %>

  <span class="btn btn-primary input-btn btn-medium activable">
    <%= f.submit 'Guardar cambios' %>
  </span>

<% end %>