<div class="netWorkMenuHeader">
	<div class="currentFriends"><a href="#FDNS">amigos <span class="redPop">47</span></a></div>
	<div class="waitS"><a href="#PNDS">solicitudes enviadas <span class="redPop">2</span></a></div>
	<span class="name" style="float:right;height:20px;width:70px;padding-top:5px;color:#969696;">Filtrar por:</span>
</div>

<span class="dividerHeader"></span>

<% @network_users.each do |array| %>
     <%# @friend = Friendship.find_by_user_id_and_friend_id(current_user.id, user.id)%>
     <%# @add_me_friend = Friendship.find_by_user_id_and_friend_id(user.id, current_user.id)%>

     <div class="box_comunity">
         <div class="image_acces_comunity">
             <%= link_to image_tag(array[0].avatar.profile), show_user_path(array[0].personal_url) if (!array[0].avatar.blank?)%>
             <%= link_to image_tag(array[0].image_avatarx), show_user_path(array[0].personal_url) if  (array[0].avatar.blank?)%>
         </div><!-- ends image_access -->

     <div class="place-hldr">

     <div class="name">
       <%= array[0].name %>
     </div>

     <div class="add_friend_comunity">
         <%case%>
            <%when  array[1] == "friend_requested" %>
                <span class="solistyle"><%= "Solicitud enviada" %></span>
            <%when  array[1] == "accept_request" %>
                <%= link_to "aceptar", friendships_update_friend_path(array[0].id), :remote => true  %>
            <%when array[1] == "friend"%>
            <% else %>
            <div id="add_friend<%=array[0].id%>">
                <span class="addfriend"><%= link_to "Añadir a amigos", friendships_create_friend_path(array[0].id), :remote => true%></span>
            </div>
        <%end%>
    </div><!-- ends add_friend_comunity -->


      </div><!-- ends place-hldr -->

    </div><!-- ends box_comunity -->

<% end %>
