<% @network_users.each do |array| %>
     <% if array[0].personal_url != nil%>

     <div class="box_comunity">
         <div class="image_acces_comunity">
             <%= link_to image_tag(array[0].avatar.profile), show_user_path(array[0].personal_url) if (!array[0].avatar.blank?)%>
             <%= link_to image_tag(array[0].image_avatarx), show_user_path(array[0].personal_url) if  (array[0].avatar.blank?)%>
         </div><!-- ends image_access -->

     <div class="place-hldr">

     <div class="name">
       <%= array[0].name %>
     </div>

     <div class="add_friend_comunity">
         <%case%>
            <%when  array[1] == "friend_requested" %>
                <span class="solistyle"><%= "Solicitud enviada" %></span>
            <%when  array[1] == "accept_request" %>
                <%= link_to "aceptar", friendships_update_friend_path(array[0].id), :remote => true  %>
            <%when array[1] == "friend"%>
            <% else %>
            <div id="add_friend<%=array[0].id%>">
                <span class="addfriend"><%= link_to "Añadir a amigos", friendships_create_friend_path(array[0].id), :remote => true%></span>
            </div>
        <%end%>
    </div><!-- ends add friend -->


      </div><!-- ends dscription-comm -->

    </div><!-- ends box_comunity -->
    <%end%>

<% end %>
