<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header">
            <div class="section-header-main">
              <div class="section-title">
                <%= link_to icon('section-community'), network_comunity_path %>
                <%= link_to network_comunity_path do %>
                  <h1>Comunidad</h1>
                <% end %>
              </div>
              <div class="section-header-actions">
                <%= render partial: "/networks/users_search" %>
              </div>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to network_comunity_path, class: (action == 'network_comunity' ? "active" : " ") do %>
                    Mis amigos
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to filter_comunity_path, :remote => true, class: (action == 'about' ? "active" : " ") do %>
                    Miembros que no son amigos
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="cards-list comunity-card-list">
    <div class="cols-12">
      <div id="accesed">
        <%= render :partial => 'networks/who_sent', :locals => {:friends => @friends} %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner" style="text-align: center;">
        <div id="paginate">
          <%= link_to "Cargar más...", paginate_users_based_params_path(:page => 2, :type_in_act => "my_friends"), :remote => true, :class => "btn btn-secondary" if(@friends.count == 9) %>
        </div>
      </div>
    </div>
  </div>
</div>