<!-- Post -->
<div id="banner-profile" style="background:url('/assets/bannerprofile-clean.png'); background-position-y: -90px;">    
    
<div class="banner-shadow">
    
<div id="box-post-form">

 <div id="box-user-credential-principal">
<div class="thumbnail-principal" style="" >
    <a href="#" class="" style="background: #FFF;">
      <img src="http://placehold.it/140x140/E49800/333333" alt="">
    </a></div>
    Nombre de Usuario <br>
  </div>  


  <div class="box-3">&nbsp;</div>
  <div class="box-6">
    <div id="post">
      <div id="comment-form" style="height: 350px; width: 640px; background: #ccc; position: relative; display: none;">
        <%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network'} %>
        <div style="float: right; width: 220px">
          <div id="accept-post-form" style="float: left;"><img src="http://placehold.it/100x30/4D9900/ffffff&text=aceptar" alt=""></div>
          <div id="cancel-post-form" style="float: right;"><img src="http://placehold.it/100x30/ff0000/ffffff&text=cancelar" alt=""></div>
        </div>
      </div>
    </div>

    <div id="pre-post-form-princpal"class="pre-post-form" >
      <div class="create">
		          <a href ="#" class="comment">Comentario</a>
		          <a href ="#" class="homework">Tarea</a>
		           <a href ="#" class="discussion">Discusion</a>
		           <a href ="#" class="test">Cuestionario</a>
		              <a href ="#" class="poll">Encuesta</a>
		            <a href ="#" class="event">Evento</a>
	            </div>   
    </div>

  </div>
</div></div>
</div>


<!-- Content Post Box -->
<div id="box-post-content">
  <!-- SideBar -->
  <div class="box-3" style="padding: 70px 0px 0px 0px;">

      <div id="box-course" class="basic-lateral-box" >
            <h2>cursos</h2>
            <div id="form-new-course">
                <strong>Cursos form</strong>
                <ul>
                    <div class="content">
                           <!--  <%= render partial: "users/form_course.html.erb"%> -->
                    
                     </div>
                 
                  <div id="accept-course-form" style="float:left;"><img src="http://placehold.it/80x30/4D9900/ffffff&text=aceptar" alt=""></div>
                  <div id="cancel-course-form" style="float:right;"><img src="http://placehold.it/80x30/ff0000/ffffff&text=cancelar" alt=""></div>
                </ul>
            </div>

            <div id="tabs-courses" class="tabs-style">
                <ul id="ul-tabs">
                    <li class="element-left"><a href="#tabs-courses-1"><span class="title-num">13</span><span class="title">CURSOS</span></a></li>
                    <li class="element-right"><div id="new-course" class="plus-courses"></div><a href="#tabs-courses-2"><span class="title-num">5</span><span class="title">CREADOS</span></a></li>
                </ul>
                <div id="tabs-courses-1">
                    <ul id="course-list" >
                   <!--
 <% if @course_count == 0%>
                        <li><a href="#">No hay cursos</a></li>
                    <%else%>
                        <% @courses.each do |c|%>
                        <li><%= link_to "#{c.title}", course_path(c.id) %></li>
                        <%end%>
                    <%end%>
-->
                    </ul>
                    <div class="view-all"><a href="">Ver Todo</a></div>
                </div>
                <div id="tabs-courses-2">
                    <ul id="course-list" >
                        <li><a href ="#">Trigonometria</a></li>
                        <li><a href ="#">Lenguas Hispanas</a></li>
                        <li><a href ="#">Ingles</a></li>
                        <li><a href ="#">Calculo Integral</a></li>
                        <li><a href ="#">Programacion</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <h4>Usuarios</h4>
    <img src="http://placehold.it/260x350/4D99E0/ffffff&text=usuarios" alt="">
    <h4>Cursos</h4>
    <img src="http://placehold.it/260x350/4D99E0/ffffff&text=cursos" alt="">
  </div>

  <!-- Content -->
  <div class="box-stream-post" style="background: #DCEAF4;margin-left: 0px; width: 685px;float: left;">

    <div id="comentable_<%= current_network.id %>">
      <% @comments.reverse.each do |comment| %>
          <%= render :partial => '/shared/comments', :locals => {:comment => comment} %>
      <% end %>
    </div>

    <div id="comment1" style="width: 660px; height: 100%;background: #FFF; ">
      <h4>Comment</h4>
      <img src="http://placehold.it/45x45" alt="">
      <b>Nombre de Usuario</b>
      <span>fecha</span>
      <p>Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido
      </p>
      <div style="background: #eee;width: 100%;height: 28px;">
        <div style="float:left;">Numero de comentarios</div>
        <div style="float:right;">Likes</div>
      </div>
    </div>
    <div id="comment2" style="width: 660px; height: 100%;background: #FFF;">
      <h4>Comment</h4>
      <img src="http://placehold.it/45x45" alt="">
      <b>Nombre de Usuario</b>
      <span>fecha</span>
      <p>Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido</p>
      <div style="background: #eee;width: 100%;height: 28px;"></div>
    </div>


    <div id="comment" style="width: 660px; height: 100%;background: #FFF;">
      <h4>Comment</h4>
      <img src="http://placehold.it/45x45" alt="">
      <b>Nombre de Usuario</b>
      <span>fecha</span>
      <p>Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido Contenido
        Contenido Contenido Contenido Contenido</p>
      <div style="background: #eee;width: 100%;height: 28px;"></div>
    </div>
  </div>
</div>