
<div id="box-content" class="wrapper spaced">
  <div id="box-stream-post">

    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>
    
    <div id="timeline" class="tim">
      <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
    </div>

    <%= will_paginate( @wall ) %>

  </div>
</div>
<script type="text/javascript">
$(function() {

  <% if current_network.public_register == true && show_joyride(3) != "1" %>

    var content = '<%= escape_javascript(render(:partial => "/users/set_password_form", :locals => {:user => current_user}))  %>';
    createModal( content, "overlay-small overlay-informative" );

  <% elsif current_user.tour_network == false %>

    var tourContent = '<%= escape_javascript(render(partial: "/shared/tour/video_tour_first_time", locals: { video_id: "hRXdl0MHKoY", tour_type: "network" })) %>';
    createModal( tourContent, "video-tutorial-overlay overlay-informative not-removable" );

  <% elsif current_user.form_before_tour == false  %>
    <% case current_role %>
     <% when 'teacher' %>
      createModal( '<%= escape_javascript(render(:partial => "/shared/tour/survey_first_login", locals: { wufoo_form_id: "mknc34l1imkqrq", quiz_type: "teacher" })) %>', 'overlay-informative first-time-survey-overlay not-removable');
    <% when 'student' %>
      createModal( '<%= escape_javascript(render(:partial => "/shared/tour/survey_first_login", locals: { wufoo_form_id: "z1mgiziq0ywt4x0", quiz_type: "student" })) %>', 'overlay-informative first-time-survey-overlay not-removable');
    <% end %>
  <% end %>

  var aux = <%= (@show_course_expired) || false %>;
  
  if(aux) {
    $('li.delivery').click();
  }

  window.pagelessSettings = {
    url : '<%= wall_path %>',
    loaderImage : '<%= image_path("load.gif")%>'
  };

  $('#timeline').pageless({
    totalPages: 10,
    url: window.pagelessSettings.url,
    loader: "#loader-pagination",
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: window.pagelessSettings.loaderImage
  });
});
</script>
