<div id="banner-profile" style="background: linear-gradient(to bottom, rgba(39,39,39,0), rgba(0,0,0,1)),
 url(<%= current_user.coverphoto.blank? ? '/assets/'+current_user.cover_photox : current_user.coverphoto %>); background-size: 100% 440px; background-position-y: 0px; background-repeat: repeat-y;">

  
  <!--<div id="noticce">
   <div id="notice" class="notice"></div>
  </div>-->
   <%= render :partial => 'shared/head_menu'%>
</div>
<!-- Content Post Box -->
<%#= debug network_member%>
<div id="box-content" class="profile-line">
  <!-- SideBar -->
  <div id="side-bar" class="side-left-bar" >
    <!-- User Avatar -->
    <div id="box-user-credential" class="network-layout">
      <div class="thumbnail"  >

           <%= link_to image_tag(current_user.avatar.profile), show_user_path(current_user.personal_url) if ( !current_user.avatar.blank? ) %>
           <%= link_to image_tag(current_user.image_avatarx), show_user_path(current_user.personal_url) if (current_user.avatar.blank?  )  %>

      </div>
      <div class="tagname">
        <%= @user.name %>
      </div>
    </div>
   <!--  <div class="head_banner_style">
        <div class="sup_track">
        <div class="track">
        <%= image_tag('track.png')%>
        </div>
        <div class="track_text">
            <p><%= mail_to "info@cursa.me", "¡Anunciate aquí!"%>
             </p>
        </div>
        </div>
    </div> -->
    <div id="box-course" class="basic-lateral-box margin-top" >
      <%=render :partial => 'courses/courses.html.erb', :locals => {:courses => @courses} %>
    </div>

    <a class="help " id="help_courses"><%= image_tag('help.png')%></a>
       <script>
                $('#help_courses').click(function() {
                    $('#courses_help').toggle('drop', 400);
                    if($("#courses_help").css( 'visibility')=="hidden"){
                           $('#content_video_video_courses').html('');
                       }
                       else{
                          $('#content_video_video_courses').html('<object width="260" height="200"><param name="movie" value="http://www.youtube.com/v/OBZwWue4NhQ?hl=es_ES&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/OBZwWue4NhQ?hl=es_ES&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="260" height="200" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                       }
                   });

       </script>

       <div class="video_help courses_help" style="display: none" id="courses_help">
              <div class="content_video" id="content_video_video_courses">

              </div>
       </div>


    <div class= "box-comments"></div>
    <div class="clear"></div>
    <div id="tabs-friends" class="tabs-style">
   <div id="box-friends" class="basic-lateral-box" >
    <h2>AMIGOS</h2>


    <div id="tabs-friends" class="tabs-style">
      <ul id="ul-tabs">
             <div class="element-left" style="width:100px!important;">
                  <a class="plus-courses" style='margin-left: 194px;' href="<%=show_friends_path(current_user.personal_url)%>"></div>
                    <% @friends = current_user.friendships.where(:accepted => true)%>
                    <% @inverse_friends = current_user.inverse_friendships.where(:accepted => true)%>
                    <% @sum_f =  @friends.count +  @inverse_friends.count %>
          <a href="#tabs-friends-1">
            <div class="content-tab">
              <span class="title-num"><%= @sum_f %></span>
              <span class="title">amigos</span>
            </div>
          </a>
        </li>
       <!--  <li class="element-right" style="width:130px!important;">
          <a href="#tabs-friends-2">
            <div class="content-tab">
              <span class="title-num">20</span>
              <span class="title">sugerencias</span> -->
            </div>
          </a>
        </li>
      </ul>
      <div id="tabs-friends-1">
        <div class="content-avtr">
              <% @friends.each do |friend|%>
              <%  @friend = friend.friend%>
                   <%= link_to image_tag(@friend.avatar.modern, {:class => "avatar-mini"}),show_user_path(@friend.personal_url)  if ( !@friend.avatar.blank? ) %>
                   <%= link_to image_tag(@friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@friend.personal_url)  if (@friend.avatar.blank? )  %>
              <%end %>
              <% @inverse_friends.each do |friend|%>
              <% @inverse_friend = friend.user%>
              <%=link_to image_tag(@inverse_friend.avatar.modern, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (!@inverse_friend.avatar.blank?)%>
              <%= link_to image_tag(@inverse_friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (@inverse_friend.avatar.blank?)%>
              <%end%>
        </div>
        <div class="view-all"><%= link_to "Comunidad", network_comunity_path %></div>
      </div>
     <!-- <div id="tabs-friends-2">
        <div class="content-avtr">
          <%#= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>

        </div>
      </div>-->
    </div>
  </div>
  <!--<img src="http://placehold.it/260x350/4D99E0/ffffff&text=cursos" alt="">  -->
    <!--<a class="help " id="help_friends"><%= image_tag('help.png')%></a>
     <script>
              $('#help_friends').click(function() {
                  $('#friends_help').toggle('drop', 400);
                  if($("#friends_help").css( 'visibility')=="hidden"){
                         $('#content_video_video_friends').html('');
                     }
                     else{
                        $('#content_video_video_friends').html('<object width="260" height="200" ><param name="movie" value="http://www.youtube.com/v/gudXW66O9OM?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/gudXW66O9OM?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="260" height="200" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                     }
                 });

     </script>-->

     <div class="video_help courses_help" style="display: none" id="friends_help">
            <div class="content_video" id="content_video_video_friends">

            </div>
     </div>
</div>

<!-- Content -->

<div id="box-stream-post">
  <div id="pk_menu">
  <%=render :partial => 'shared/post_menu' %>
  </div>
  <%=render :partial => 'shared/wall_filters', :locals => {:path => wall_path} %>

  <!-- timeline -->
  <div id="timeline" class="tim">
    <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'network'} %>
  </div>
  <!-- fin timeline -->
<!-- mostrar el password por primera vez -->
<% if current_network.public_register == false%>
 <% if show_joyride(3) != '1'%>
  <%= render :partial => '/users/set_password_form', :locals => {:user => current_user} %>
    <script>
        modal('#set-password-form');
    </script>
  <% end %>
<%end%>
<!-- inicio de joyride -->
  <% if show_joyride(0) == '0'%>
    <%= render :partial => '/shared/network_joyride', :locals => {:wall => @wall,:visible_for => 'network'} %>
  <% end %>
<!-- fin de joyride -->

  <%= will_paginate(@wall) %>
</div>
</div>
<script type="text/javascript">
$(function() {
  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= wall_path %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
