<div class="wrapper sc-margined">
  <div class="content-main">
    <div id="box-content">
      <div id="box-stream-post">
        <div id="pk_menu">
          <%=render :partial => 'shared/post_menu' %>
        </div>
        
        <div id="timeline" class="tim">
          <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
        </div>
        <div id="paginate_wall" onclick="PaginateINwall('/',2, <%= @wall.total_pages %>)"></div>

      </div>
    </div>
  </div>

  <%
    sidebar_sections = [
      'upcomming_deliveryes',
      'upcomming_surveys'
    ]
  %>
  <%= render partial: 'shared/sidebar/sidebar', locals: { sidebar_sections: sidebar_sections } %>

</div>

<script type="text/javascript">
$(function() {

  <% if !current_user.self_register && show_joyride(3) != "1" %>
    
    var content = '<%= escape_javascript(render(:partial => "/users/set_password_form", :locals => {:user => current_user}))  %>';
    createModal( content, "overlay-small overlay-informative" );

  <% elsif current_user.tour_network == false %>

    var tourContent = '<%= escape_javascript(render(partial: "/shared/tour/video_tour_first_time", locals: { video_id: "hRXdl0MHKoY", tour_type: "network" })) %>';
    createModal( tourContent, "video-tutorial-overlay overlay-informative" );

  <% elsif current_user.form_before_tour == false  %>
    <% case current_role %>
     <% when 'teacher' %>
      createModal( '<%= escape_javascript(render(:partial => "/shared/tour/survey_first_login", locals: { wufoo_form_id: "mknc34l1imkqrq", quiz_type: "teacher" })) %>', 'overlay-informative first-time-survey-overlay');
    <% when 'student' %>
      createModal( '<%= escape_javascript(render(:partial => "/shared/tour/survey_first_login", locals: { wufoo_form_id: "z1mgiziq0ywt4x0", quiz_type: "student" })) %>', 'overlay-informative first-time-survey-overlay');
    <% end %>
  <% end %>

  var aux = <%= (@show_course_expired) || false %>;
  
  if(aux) {
    $('li.delivery').click();
  }

  window.pagelessSettings = {
    url : '<%= wall_path %>',
    loaderImage : '<%= image_path("load.gif")%>'
  };


});
</script>
