<div class="wrapper sc-margined">
  <div class="content-main">
    <div id="box-content">
      <div id="box-stream-post">
        <div id="pk_menu">
          <%=render :partial => 'shared/post_menu' %>
        </div>
        <div id="timeline" class="tim">
          <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
        </div>
        <div id="paginate_wall" onclick="PaginateINwall('/',2, <%= @wall.total_pages %>)"></div>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/sidebar/sidebar', locals: { sidebar_sections: [ 'upcomming_deliveryes', 'upcomming_surveys', 'android_app_ad' ] } %>
</div>

<script type="text/javascript">
  $(function() {
    <% if !current_user.self_register && show_joyride(3) != "1" %>    
      $.ajax({
        type: "GET",
        url: '<%= set_password_modal_path %>'
      });
    <% end %>

    window.pagelessSettings = {
      url : '<%= wall_path %>',
      loaderImage : '<%= image_path("load.gif")%>'
    };
  });
</script>
