<div id="box-content" class="wrapper">
  <div id="box-stream-post">

    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>
    
    <div id="timeline" class="tim">
      <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
    </div>
    
    <% if current_network.public_register == false%>
      <!-- Mostrar el password por primera vez -->
      <% if show_joyride(3) != "1"%>
        <%= render :partial => "/users/set_password_form", :locals => {:user => current_user} %>
        
        <script>
        modal("#set-password-form");
        </script>
      <% end %>
    <%end%>

    <% if show_joyride(0) == "0"%>
      <!-- Inicio de Joyride -->
      <%= render :partial => "/shared/network_joyride", :locals => {:wall => @wall,:visible_for => "network"} %>
    <% end %>

    <%= will_paginate(@wall) %>

  </div>
</div>


<script type="text/javascript">
$(function() {
  var aux = <%= (@show_course_expired) || false %>;
  if(aux) {
    $('li.delivery').click();
  }

  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= wall_path %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
