= render partial: 'califications/shared/califications_course_header', locals: { course: @course }
.califications
  .wrapper
    .cols-12
      .col{ class: current_user.student? ? "col-8" : "col-12" }
        .col-inner
          - unless current_user.student?
            - unless @course.evaluable_members.empty?
              .califications-course-members
                - @course.evaluable_members.each do |member|
                  = link_to califications_member_path(@course, member) do
                    .member-calification
                      %span.avatar-holder
                        = avatar('user', '45', "no", member.user.id, "avatar", "no", "no")
                      .member-calification-main
                        %h5= member.user.name
                        - if member.course.evaluation_periods.blank?
                          %span.member-score= t('.calification') + "#{evaluation_score (@course.cursame_criteria ? member.course_average : member.course_average_old)}"
            - else
              .no-content-section
                %h6= t('.no_members')

          - if current_user.student?
            - member = MembersInCourse.find_by_user_id_and_course_id current_user, @course
            - if @course.evaluation_periods.blank?
              = render partial: '/users/califications/final_grade_course', locals: { member: member }
            - else
              .standalone-member-calification
                - @course.evaluation_periods.each do |period|
                  = render partial: 'users/califications/deliveries_table_period',  locals: { member: member, period: period }
                  = render partial: 'users/califications/surveys_table_period',     locals: { member: member, period: period }
                  = render partial: 'users/califications/discussions_table_period', locals: { member: member, period: period }
      - if current_user.student?
        .col.col-4
          .col-inner
            .sidebar-responses
              .sidebar-responses-header
                %h6= t('.active_courses')
              .sidebar-responses-main
                - student_courses.each do |course|
                  = link_to califications_course_path(course) do
                    %div{:class => "one-p sidebar-user-response#{" active" if @course.id == course.id}"}
                      %span.avatar-holder
                        = avatar('course', '30', 'no', course.id, 'avatar avatar-30', 'no', 'no')
                      .sidebar-user-response-main
                        %h6= course.title

:javascript
  $(function () {
    $('.user-califications-header').click(function () {
      $(this).toggleClass('active').parent().children('.user-califications-main').slideToggle(400);
    });
    $('.course-califications-filter').change(function () {
      var id = $(this).val();
      if (id == 'all') {
        $('.course-califications-wrap').show();
      } else {
        $('.course-califications-wrap').hide();
        $('.califications-section-main').find('div#' + id).show();
      }
    });
  });
