= render partial: 'califications/shared/califications_course_header', locals: { course: @course }
.califications
  .wrapper
    .cols-12
      .col{ class: current_user.student? ? "col-8" : "col-12" }
        .col-inner
          - unless current_user.student?
            - unless @course.evaluable_members.empty?
              .califications-course-members
                - @course.evaluable_members.each do |member|
                  = link_to califications_member_path(@course, member) do
                    .member-calification
                      %span.avatar-holder
                        = avatar('user', '45', "no", member.user.id, "avatar", "no", "no")
                      .member-calification-main
                        %h5= member.user.name
                        - if member.course.evaluation_periods.blank?
                          %span.member-score= t('.calification') + "#{evaluation_score (@course.cursame_criteria ? member.course_average : member.course_average_old)}"
            - else
              .no-content-section
                %h6= t('.no_members')

          - if current_user.student?
            - member = MembersInCourse.find_by_user_id_and_course_id current_user, @course
            .closure-course-members-list
              .member-item
                .member-item-header
                  %h6= t('.final_score')
                .member-item-main
                  - if member.grade
                    - user = member.user
                    %table.member-evaluation-table
                      %thead
                        %tr
                          %th= t('.criterion')
                          %th= t('.score')
                      %tbody
                        %tr
                          %td
                            %h4 Cúrsame
                            %span.meta-info= t('.percent') + "#{@course.cursame_criteria ? cursame_percentage(member.course) : member.course.cursame_percentage_old }"
                          %td
                            %span.score.cursame-score-js= evaluation_score (@course.cursame_criteria ? member.course_average : (member.course_average_old * (member.course.cursame_percentage_old/100.0)))
                        - unless member.members_in_course_criteria.blank?
                          - criteria_course = member.members_in_course_criteria.reject {|criterium_course| ['cursame_deliveries', 'cursame_surveys', 'cursame_discussions'].include? criterium_course.evaluation_criterium.name }
                          - criteria_course.each do |criterium|
                            %tr
                              %td
                                %h4= criterium.evaluation_criterium.name
                                %span.meta-info= t('.percent') + "#{criterium.evaluation_criterium.evaluation_percentage}" + ' · ' + t('.calification') + "#{evaluation_score criterium.grade.score}"
                              %td
                                %span.score= evaluation_score (criterium.grade.score * criterium.evaluation_criterium.evaluation_percentage/100.0)
                        %tr.final-score
                          %td
                            %h4= t('.final_score')
                          %td
                            %span.score= evaluation_score member.grade.score
                  - else
                    .no-content-section
                      %h5= t('.no_score')
                      %p= t('.no_printable_score')
            .standalone-member-calification
              = render partial: 'users/califications/deliveries_table',  locals: { member: member }
              = render partial: 'users/califications/surveys_table',     locals: { member: member }
              = render partial: 'users/califications/discussions_table', locals: { member: member }
      - if current_user.student?
        .col.col-4
          .col-inner
            .sidebar-responses
              .sidebar-responses-header
                %h6= t('.active_courses')
              .sidebar-responses-main
                - student_courses.each do |course|
                  = link_to califications_course_path(course) do
                    %div{:class => "one-p sidebar-user-response#{" active" if @course.id == course.id}"}
                      %span.avatar-holder
                        = avatar('course', '30', 'no', course.id, 'avatar avatar-30', 'no', 'no')
                      .sidebar-user-response-main
                        %h6= course.title

:javascript
  $(function () {
    $('.user-califications-header').click(function () {
      $(this).toggleClass('active').parent().children('.user-califications-main').slideToggle(400);
    });
    $('.course-califications-filter').change(function () {
      var id = $(this).val();
      if (id == 'all') {
        $('.course-califications-wrap').show();
      } else {
        $('.course-califications-wrap').hide();
        $('.califications-section-main').find('div#' + id).show();
      }
    });
  });
