<% publication = publication.publication %>
<% delivered = current_user.assignments.where(:delivery_id => publication.id)[0] %>

<div class="overlay-header">
  <div class="overlay-icon">
    <%= icon('section-deliveries') %>
  </div>
  <div class="overlay-title">
    <h6>
      Tarea en el curso <%= link_to publication.courses[0].title, course_path(publication.courses[0].id) %>

    </h6>
    <span>Entregar antes del <%= es_current_date("#{publication.end_date.strftime('%B')}", "#{publication.end_date.strftime('%d')}", "#{publication.end_date.strftime('%Y')}" , "#{publication.end_date.strftime('%l:%M%P')}", format = 'latin_string') %></span>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<div class="delivery-overlay-content">
  <div class="overlay-content">
    <h3><%= publication.title %></h3>
    <%= publication.description_html %>
    
    <div class="publication-assets"> 
      <%= render :partial => "content/insertions_to_contents", :locals => { :type => publication, :cl => "delivery"}%>

      <% if publication.assets.count > 0 %>
        <div class="asset-box upload-label">
          <% publication.assets.each do |files|%>
            <div class="file-mini-upload publication-asset">
              <% @string = files.file.to_s.split('/').last %>
              <%= link_to "#{files.file}" , :target => '_blank' do %> 
                <%= icon('upload-asset-blue') %>
                <%= truncate( @string, :omission => "...", :length => 72) %>
              <% end %>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>

    <% if publication.areas_of_evaluations.count > 0 %>
      <div class="evaluation-box" style="height: 50px">
        <div id="chart-delivery-<%= publication.id %>" style="height: 50px"></div>
        <script type="text/javascript">
          $(function () {
            var chart;

            $(document).ready(function () {
              chart = new Highcharts.Chart({
                  chart: {
                      renderTo: 'chart-delivery-<%= publication.id %>',
                      type: 'bar',
                      marginBottom: 25,
                      spacingTop: -5
                  },
                  credits: {
                      enabled: false
                  },
                  title: {
                      text: ''
                  },
                  xAxis: {
                      lineWidth: 0,
                      minorGridLineWidth: 0,
                      lineColor: 'transparent',
                      labels: {
                          enabled: false
                      },
                      minorTickLength: 0,
                      tickLength: 0
                  },
                  yAxis: {
                      min: 0,
                      labels: {
                          enabled: false
                      },
                      gridLineWidth: 0,
                      reversed: true,
                      title: {
                          text: ''
                      }
                  },
                  tooltip: {
                      formatter: function () {
                          return '' + this.series.name + ': ' + this.y + ' (' + Math.round(this.percentage) + '%)';
                      }
                  },
                  plotOptions: {
                      series: {
                          stacking: 'percent'
                      }
                  },
                  legend: {
                      reversed: false,
                      style: {
                          fontFamily: 'monospace',
                          color: "#fff"
                      },
                      backgroundColor: '#f7f7f9',
                      layout: 'horizontal',
                      floating: true,
                      align: 'center',
                      verticalAlign: 'bottom',
                      y: 10,
                      shadow: false,
                      border: 0,
                      borderRadius: 3,
                      borderWidth: 1,
                      lineHeight: 10,
                      borderColor: '#bbbbd4',
                      itemStyle: {
                          fontSize: '10px',
                          color: '#9696ac'
                      },
                      itemHoverStyle: {
                          color: '#72728e',
                          fontSize: '10px'
                      }
                  },
                  series: [ <% @i = 1 %> <% publication.areas_of_evaluations.each do |areas| %> {
                      name: '<%= areas.name %>',
                      data: [ <%= areas.evaluation_percentage %> ],
                      index: <%= @i %>
                  }, <% @i = @i + 1 %> <% end %> ],
                  exporting: {
                      buttons: {
                          printButton: {
                              enabled: false
                          },
                          exportButton: {
                              enabled: false
                          }
                      }
                  }

              });
            });
          });
        </script>
      </div>
    <%end%>
  </div>

  <% publication.courses.each do |course| %>
    <% @if_im_member = MembersInCourse.find_by_course_id_and_user_id(course.id, current_user.id) %>
    <% if @if_im_member != nil && @if_im_member.owner != true%>
      <div class="overlay-footer">
        <% if publication.state == "published" && current_user.assignments.where(:delivery_id => publication.id).empty? %>
          <a href="#" class="show-delivery-form btn btn-medium btn-primary" data-target-id="<%= publication.id %>">Responder tarea</a>
        <% else %>
          <% if !delivered.nil? && !delivered.accomplishment.nil? %>
            <div class="delivery-results">
              <div class="delivery-overall-result">
                <div class="result"><%= delivered.accomplishment.to_s %></div>
                <h4>Calificación final obtenida</h4>
              </div>
              <% unless delivered.response_to_the_evaluations.empty? %>
                <div class="delivered-delivery-rubres">
                  <% delivered.response_to_the_evaluations.each do |delivery_rubre| %>
                    <div class="delivered-delivery-rubre">
                      <div class="rubre-calification">
                        <%= delivery_rubre.evaluation_porcentage %>
                      </div>
                      <div class="rubre-main">
                        <h6><%= delivery_rubre.name %></h6>
                        <p><%= delivery_rubre.comment_for_rubre == "" ? "Rubro sin comentarios" : delivery_rubre.comment_for_rubre %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <a href="#" class="show-delivery-form btn btn-medium btn-primary">Editar Entrega</a>
          <%end%>                
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>

<div class="delivery-overlay-submit-form" id="<%= publication.id %>">
  <div class="delivery-assignment-box" id="entrega-delivery-<%= publication.id %>">
    <% @delivery_id = publication.id %>
    <%= render :partial => "/assignments/form_for_delivery", :locals => {:delivery => publication, :cargo => publication.courses[0]}%>
  </div>
</div>

<script>
  $('.assignment-delevery-form').validate();
</script>