<% post = publication %>
<% publication = publication.publication %>

<div class="overlay-header">
  <div class="overlay-icon">
    <%= icon('section-discussions') %>
  </div>
  <div class="overlay-title">
    <h6>
      <%= link_to publication.user.name, show_user_path(publication.user.personal_url) %> <%=t('.discuss')%>

      <% unless publication.courses.empty? %>
        <%=t('.in_course')%> <%= link_to publication.courses[0].title, course_path(publication.courses[0].id) %>
      <% end %>
    </h6>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<div class="overlay-content">
  <h3><%= publication.title %></h3>
  <%= publication.description_html %>
  <%= render :partial => "content/insertions_to_contents", :locals => { :type => publication, :cl => 'discussion'}%>
</div>
<%= render partial: 'shared/publications/publication_comments', locals: { publication: post, post: publication } %>