<% cursame_url = "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}" %>

<%= render partial: "/notifier/shared/mail_head", locals: { cursame_url: cursame_url, no_borders: true } %>
  <table background="http://app.cursa.me/assets/mails/new_course_member_request/new-course-member-request-background.jpg" style="border-top: 1px solid #098b8c; border-bottom: 1px solid #098b8c;" width="100%">
    <tr>
      <td>
        <div>
          <table style="width: 540px; backgrounnd-size: cover" align="center">
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <br><br><br>
                <img src="http://app.cursa.me/assets/mails/new_course_member_request/new-course-member-request-icon.png" alt="">
                <br>
                <br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <h1 style="color: #ffffff; font-size: 20px; font-weight: bold; margin: 0;">¡Hola <%= @user.name %>!</h1>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <p style="color: #ffffff; font-size: 14px; font-weight: normal; margin: 0;">Has sido aceptado en el curso <strong><%= @course.title %></strong></p>
                <br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <%= link_to "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}/courses/#{@course.id}" do %>
                  <img src="http://app.cursa.me/assets/mails/new_course_member_request/new-course-member-accepted-button.png" alt="Ir a mi nuevo curso">
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <p style="color: #ffffff">Si el botón superior no funciona, haz click aquí:<br>
                  <%= link_to "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}/courses/#{@course.id}", "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}/courses/#{@course.id}", style: "color: #ffffff;" %></p>
                <br>
                <br>
                <br>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

<%= render partial: "/notifier/shared/mail_footer", locals: { no_borders: true } %>