<% cursame_url = "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}" %>

<%= render partial: "/notifier/shared/mail_head", locals: { cursame_url: cursame_url, no_borders: true } %>
  <table background="http://app.cursa.me/assets/mails/new_survey_in_course/survey-activity-background.jpg" style="border-top: 1px solid #a64608; border-bottom: 1px solid #a64608;" width="100%">
    <tr>
      <td>
        <div>
          <table style="width: 540px; backgrounnd-size: cover" align="center">
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <br><br><br>
                <img src="http://app.cursa.me/assets/mails/new_survey_in_course/survey-activity-icon.png" alt="">
                <br>
                <br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <h1 style="color: #ffffff; font-size: 20px; font-weight: bold; margin: 0;"><%=t('.hmwrk')%> <% @survey.courses.each do |course| %><%= course.title %><% end %></h1>
                <br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <h2 style="color: #ffffff; font-size: 17px; font-weight: bold; margin: 0;"><%= @survey.title %></h2>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <p style="color: #ffffff; font-size: 14px; font-weight: normal; margin: 0;"><%= @survey.deadline %></p>
                <br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <%= link_to "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}" do %>
                  <img src="http://app.cursa.me/assets/mails/new_survey_in_course/survey-view-button.png" alt="Ver cuestionario">
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 15px;">
                <p style="color: #ffffff"><%=t('.button')%>:<br>
                  <%= link_to "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}", "http://#{@user.devise_mailer_subdomain}.#{@user.ubication}", style: "color: #ffffff;" %></p>
                <br>
                <br>
                <br>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

<%= render partial: "/notifier/shared/mail_footer", locals: { no_borders: true } %>
