<% cursame_url = "http://#{@subdomain}.#{@domain}" %>

<%= render partial: "/notifier/shared/mail_head", locals: { cursame_url: cursame_url, no_borders: false } %>

<div style="background-color: #ffffff;">
    <table style="width: 540px;" align="center">
      <tr>
        <td>
          <br>
          <br>
          <br>
          <h1 style="font-size: 20px; font-weight: 400; margin: 0; color: #333;"><%=t('.msg')%></h1><br>
          <p style="font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;"><%= @content %></p><br/>

          <br/> <br/>

          <%= link_to image_tag("http://app.cursa.me/assets/mails/logo.png"), "http://#{@subdomain}.#{@domain}" %>

          <br>
          <br>
          <p style="font-size: 25px; color: #404040;"><br>
            <%= link_to t('.net'), "http://#{@subdomain}.#{@domain}", style: "color: #0071a2;" %></p>

          <br>
          <br>
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>

<%= render partial: "/notifier/shared/mail_footer", locals: { no_borders: false } %>
