<h2> <%=t('.course')%>: <%= @course.title%></h2>

<% if @errores.size != 0 then%>
   <h2>List of Errors </h2>
  </p>
  </p>
  <table id ="errores">
  <tr>
    <th><%=t('.line')%></th>
    <th><%=t('.error')%></th>
  </tr>

  <%@errores.each do |hash|%>
    <tr>
    <th><%=hash[:line].to_s%></th>
    <th><%=hash[:message]%></th>
    <tr>
  <%end%>
  </table>

<%else%>
 <%=t('.no_error')%>
<%end%>
