<html>
  <head>
  <title>Cursame | Bienvenido</title>
    <style type="text/css">
      h1 { font-family: arial; font-size: 15px; font-weight: lighter; }
      p { font-family: arial; color: #333; font-size: 14px; }
      a:link { color: #00B1C4; }
      .viewFooter { width: 650px; text-align: center; margin-top: 20px; display: block; color: #fff; font-family: arial; font-size: 12px; }
      .viewBrowser { width: 650px; text-align: right; margin-bottom: 10px; margin-top: 20px; display: block; color: #fff; font-family: arial; font-size: 12px; }
      .viewBrowser > a:link { color: #ccc; } .viewBrowser > a:hover { color: #00AFC9; }
      .buttonClick > a:link { width: 400px; background: #00B0C6; color: #fff; text-decoration: none; display: block; text-align: center; font-family: arial; height: 30px; padding-top: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    </style>
  </head>


  <body background="http://app.cursa.me/assets/mails/utiles.jpg" style="background-position: top center;">

    <center>
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#fff" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: 0px 3px 10px #000;">
      <tr>
        <td width="650px" height="200px" style="text-align:center;" valign="top" background="http://<%= @user.devise_mailer_subdomain %>.<%=@user.ubication %>/assets/mails/logo_welcome.png";>
          <h1 style="color: #00B0C6;font-size: 23px;text-align: center;margin-top:142px;">Activado</b></h1>
        </td>
      </tr>
      <tr>
        <td style="padding:0px 30px 20px 30px;" width="600px">

          <p>Hola  "<%= @user.email %>" has sido aceptado aceptado en Cúrsame.</p>
          <p>Tu constraseña es  "<%= @password %>" puedes cambiarla al iniciar sessión.</p>

        </td>
      </tr>
      <tr>
        <td style="padding:0px 30px 20px 30px;" width="600px">

        </td>
      </tr>
      <tr>
        <td width="600px" style="padding-left: 30px; margin-bottom: 30px; display: block;">
          <center>
            <span class="buttonClick">
              <%= link_to 'Ir a la red', "http://#{@user.subdomain}.#{@user.domain}" %>
            </span>
          </center>
        </td>
      </tr>
      <tr>
        <td height="30px">
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
    <span class="viewFooter"><%="Pomona #7, Roma Norte, Delegación Cuauhtémoc, Ciudad de México."%></span>
    </center>

  </body>
</html>

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
    h1, h2, p, span, table, td, tr, a {-webkit-font-smoothing: antialiased;}
    p { font-weight: normal; }
  </style>
</head>
<body style="padding: 0; margin: 0; font-family: 'Roboto', 'Helvetica Neue', sans-serif; background-color: #fafafa;">

  <div style="background: #FAFAFA;">
    <div>
      <table style="width: 540px;" align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding: 20px 0 12px 0;">
            <a href="http://cursa.me" title="Cúrsame">
              <img src="http://app.cursa.me/assets/mails/logo.png" alt="Cúrsame">
            </a>
          </td>
          <td align="right">
            <p style="font-size: 13px; color: #666;">Si no puedes ver este mail, <a href="" style="color: #0071a2; text-decoration: none;">haz click aquí.</a></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <table background="http://app.cursa.me/images/website/teacher-day-title.jpg" style="border-top: 1px solid #098b8c; border-bottom: 1px solid #098b8c;" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div>
          <table width="540" align="center" cellspacing="0" cellpadding="0" style="backgrounnd-size: cover">
            <tr>
              <td style="text-align: left;"> 
                <h1 style="color: #fff; margin: 50px 0; font-weight: 400; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);">¡Feliz día del Maestro!</h1>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <table width="540" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <br>
        <br>
        <h3 style="font-size: 18px; font-weight: 500; color: #333;">Hola [nombre],</h3>
        <p style="font-size: 16px; color: #333;">En Cúrsame estamos muy orgullosos de tí y de la labor tan importante que realizas por la educación en México, es una responsabilidad muy grande guiar a los futuros líderes y ciudadanos de nuestro País.</p>
        <p style="font-size: 16px; color: #333;">Personalmente quiero felicitarte y reiterar el compromiso que tenemos contigo. El trabajo que realizamos está pensado en generarte valor, mejorar tu capacidad de enseñanza y ayudar a que tu labor como docente sea más satisfactoria, productiva y enriquecedora. Seguiremos mejorando nuestra plataforma con este fin porque eres la pieza clave para que Cúrsame cumpla su misión.</p>
        <p style="font-size: 16px; color: #333;">Por tu dedicación permanente, por los esfuerzos que realizas, por no desistir en los tiempos difíciles y conservar la esperanza de educar para un mundo mejor: En nombre de todo nuestro equipo de trabajo te deseo un feliz día del Maestro ¡Te lo mereces! </p>
        <br>
        <img alt="Sign" src="http://app.cursa.me/images/website/sign.png">
        <h3 style="margin: 0; font-size: 18px; font-weight: 500; color: #333;">León Rangel</h3>
        <span style="font-size: 15px; color: #333;">CEO Cúrsame</span>
        <br>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </table>

  <div style="background: #fafafa; background-color: #fafafa; border-top: 1px solid #e3e3e3;" >
    <table style="width: 540px;" align="center">
      <tr>
        <td style="padding: 20px 0;">
          <h5 style="font-weight: bold; font-size: 13px; color: #333; margin: 0;">C&uacute;rsame &reg; 2014</h5>
          <p style="color: #333; font-size: 12px; margin: 0;">Pomona #7, Roma Norte, Delegaci&oacute;n Cuauht&eacute;moc, Ciudad de M&eacute;xico.</p>
          <p style="color: #333; font-size: 12px; margin: 0;"><a href="mailto:hola@cursa.me" style="color: #0071a2; text-decoration: none;">hola@cursa.me</a></p>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>   