<div id="main-admin-dashboard-container-total"></div>

<%
comments = []
deliveries = []
courses = []
surveys = []
discussions = []
users = []
networks = []
pontential_in_teworks = []

comments.push(Comment.count)
deliveries.push(Delivery.count)
courses.push(Course.count)
surveys.push(Survey.count)
discussions.push(Discussion.count)
users.push((User.count).to_i + (27222).to_i)
networks.push(Network.count)

    
    @networks = Network.all

    @count = 12000 
    @networks.each do |n|
         @count = @count + (n.population).to_i 
    end
pontential_in_teworks.push(@count)
%>

<script>
	$(function () {
        $('#main-admin-dashboard-container-total').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Actividades',
                x: 0 //center
            },
            subtitle: {
                text: 'Cursos, Tareas, Cuestionarios, Redes, Discusiones',
                x: 0
            },
            xAxis: {
                categories: ['Actividades']
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },

            series: [{
                name: 'Comentarios',
                data: <%= comments %>
            }, {
                name: 'Tareas',
                data: <%= deliveries %>
            }, {
                name: 'Cursos',
                data: <%= courses %>
            }, {
                name: 'Cuestionarios',
                data: <%= surveys %>
            }, {
                name: 'Discusiones',
                data: <%= discussions %>
            }, {
                name: 'Usuarios',
                data: <%= users %>
            }, {
                name: 'Redes',
                data: <%= networks %>

            },{
                name: 'Usuarios Potenciales',
                data: <%= pontential_in_teworks %>

            }]
        });
    });
</script>