
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="main-admin-dashboard-container-month"></div>

<%
comments = []
deliveries = []
courses = []
surveys = []
discussions = []
users = []
networks = []

date=Date.today
month = (date.month - 1)

start_date = Time.now.beginning_of_month
end_date = Time.now.end_of_month

comments.push(Comment.where("created_at > ? AND created_at < ?", start_date, end_date).count)
deliveries.push(Delivery.where("created_at > ? AND created_at < ?", start_date, end_date).count)
courses.push(Course.where("created_at > ? AND created_at < ?", start_date, end_date).count)
surveys.push(Survey.where("created_at > ? AND created_at < ?", start_date, end_date).count)
discussions.push(Discussion.where("created_at > ? AND created_at < ?", start_date, end_date).count)
users.push(User.where("created_at > ? AND created_at < ?", start_date, end_date).count)
networks.push(Network.where("created_at > ? AND created_at < ?", start_date, end_date).count)

%>

<script>
	$(function () {
        var meses = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        $('#main-admin-dashboard-container-month').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Actividades del mes',
                x: 0 //center
            },
            subtitle: {
                text: 'Cursos, Tareas, Cuestionarios, Redes, Discusiones',
                x: 0
            },
            xAxis: {
                categories: [meses[<%= month %>]]
            },
            yAxis: {
                title: {
                    text: 'Cantidad'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },

            series: [{
                name: 'Comentarios',
                data: <%= comments %>
            }, {
                name: 'Tareas',
                data: <%= deliveries %>
            }, {
                name: 'Cursos',
                data: <%= courses %>
            }, {
                name: 'Cuestionarios',
                data: <%= surveys %>
            }, {
                name: 'Discusiones',
                data: <%= discussions %>
            }, {
                name: 'Usuarios',
                data: <%= users %>
            }, {
                name: 'Redes',
                data: <%= networks %>
            }]
        });
    });
</script>