<%= form_tag  masive_mailer_path, :remote => true, :method => :get do %>
 <%= label_tag 'title' %></br>
 <%= text_field_tag 'titulo'%></br>
 <%= label_tag 'message' %></br>
 <%= text_area_tag 'message', nil, rows: 20, cols: 25%></br>
 <%= label_tag 'number of users when yo want send' %></br>
 <%= number_field_tag "number", 4 %></br>
 <%= label_tag 'Esta es la clave asignada al mensaje' %></br>
 <%= text_field_tag 'key', random_string_for_user_url%></br></br>
 <%= submit_tag "Enviar mensajes" %>
<%end%>
</br></br></br>

<% if MasiveMailerForSuperAdmin.count != 0 %>
<% @masive = MasiveMailerForSuperAdmin.last %>
<%= form_tag masive_mailer_path, :remote => true, :method => :get do %>
 <%= label_tag 'Reenviar el mensaje a la siguiente cantidad de usuarios con la clave de mensaje' %></br>
 <% if @masive.key_m != nil %>
 <%= text_field_tag 'key', @masive.key_m %></br></br>
 <%end%>
 <%= submit_tag "Enviar mensajes masivos a los siguientes usuaris" %>
<%end%>
<%else%>
<p>Se activará el formulario de reenvio cuando la cuenta de mailers masivos se mayor a 0</p>
<%end%>