<%= form_tag  masive_mailer_path, :remote => true, :method => :get do %>
 <%= label_tag t('.text1') %></br>
 <%= text_field_tag t('.text2')%></br>
 <%= label_tag t('.text3') %></br>
 <%= text_area_tag t('.text3'), nil, rows: 20, cols: 25%></br>
 <%= label_tag t('.text4') %></br>
 <%= number_field_tag t('.text5'), 4 %></br>
 <%= label_tag t('.text6') %></br>
 <%= text_field_tag t('.')'key', random_string_for_user_url%></br></br>
 <%= submit_tag t('.send_msg') %>
<%end%>
</br></br></br>

<% if MasiveMailerForSuperAdmin.count != 0 %>
<% @masive = MasiveMailerForSuperAdmin.last %>
<%= form_tag masive_mailer_path, :remote => true, :method => :get do %>
 <%= label_tag t('.forward')%></br>
 <% if @masive.key_m != nil %>
 <%= text_field_tag 'key', @masive.key_m %></br></br>
 <%end%>
 <%= submit_tag t('.massive_email') %>
<%end%>
<%else%>
<p><%=t('.mail')%></p>
<%end%>