<% content_for :javascripts do  %>
<%= javascript_include_tag('users/update_profile_pics') %>
<% end %>

<div class="profile-header-outer">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="profile-header">
            <div class="profile-banner" style="background-image: url(<%= @user_l.coverphoto.blank? ? '/assets/portada.png' : @user_l.coverphoto %>);">
              <% if @user_l == current_user %>
                <div class="profile-cover-loading spinner"></div>
                <div class="update-cover-pic">
                  <%= form_tag update_user_cover_pic_path, multipart: true, remote: true do %>
                    <%= hidden_field_tag 'user', @user_l.id %>
                    <%= label_tag 'user-cover-pic-input', class: 'profile-cover-upload' do %>
                      <%= icon 'white-cam' %> <span><%=%><%=t('.update')%></span>
                      <div class="hide-input-file">
                        <%= file_field_tag 'file', onchange: 'updateCoverPic(this);', accept: 'image/*', id: 'user-cover-pic-input' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

              <div class="admin-buttons">
                <% if @user_l == current_user %>
                  <%= link_to t('.edit'), edit_user_registration_path, class: 'btn btn-small btn-secondary hard-border-btn' %>
                <% end %>

                <div id="taxk_<%=@user_l.id%>">
                  <% if @user_l != current_user %>
                    <% unless @user_l.friends?(current_user) %>
                      <% if @user_l.have_a_friendship(current_user) %>
                        <% case current_user.who_sent?(@user_l) %>
                          <% when current_user %>
                            <%= link_to t('.cancel'), friendships_destroy_friend_path(@user_l.id), class: "btn btn-small btn-secondary hard-border-btn" %>
                            <span class="btn btn-small btn-disabled"><%=t('.send')%></span>
                          <% when @user_l %>
                            <%= link_to t('.ignore'), friendships_destroy_friend_path(@user_l.id), class: "btn btn-small btn-secondary hard-border-btn" %>
                            <%= link_to t('.accept'), friendships_update_friend_path(@user_l.id), class: "btn btn-small btn-primary hard-border-btn", remote: true%>
                          <% else %>
                            <%= link_to t('.add_friends'), friendships_create_friend_path(@user_l.id), class: "btn btn-small btn-secondary hard-border-btn", remote: true %>
                        <% end %>
                      <% else %>
                        <div id="add_friend<%=@user_l.id%>">
                          <%= link_to t('.add_friends'), friendships_create_friend_path(@user_l.id), class: "btn btn-small btn-primary hard-border-btn", remote: true %>
                        </div>
                      <% end %>
                    <%end%>
                  <%end%>
                </div>
              </div>
              <div class="profile-avatar">
                <% if @user_l == current_user %>
                  <%= form_tag update_user_profile_pic_path, multipart: true, remote: true do %>
                    <%= hidden_field_tag 'user', @user_l.id %>
                    <div class="profile-avatar-loading spinner"></div>
                    <%= label_tag 'user-profile-pic-input', class: 'profile-avatar-upload' do %>
                      <%= icon 'white-cam' %> <span><%=t('.update_photo')%></span>
                      <div class="hide-input-file">
                        <%= file_field_tag 'file', onchange: 'updateProfilePic(this, "user");', accept: 'image/*', id: 'user-profile-pic-input' %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <%= link_to show_user_path(@user_l.personal_url) do %>
                  <span class="avatar-holder">
                    <%= avatar('user', '150', 'no', @user_l.id, "avatar", "no", "no") %>
                  </span>
                <% end %>
              </div>
            </div>
            <div class="profile-info">
              <div class="profile-title">
                <%= link_to show_user_path(@user_l.personal_url) do %>
                  <h1><%= @user_l.name %></h1>
                <% end %>
              </div>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to t('.publications'), show_user_path(@user_l.personal_url), class: (action == 'show' ? "active" : " ") %>
                </li>
                <li>
                  <%= link_to t('.courses'), user_courses_path(@user_l.personal_url), class: (action == 'courses' ? "active" : " ") %>
                </li>
                <li>
                  <%= link_to t('.friends'), user_friends_path(@user_l.personal_url), class: (action == 'friends' ? "active" : " ") %>
                </li>
                <li>
                  <%= link_to t('.info'), user_info_path(@user_l.personal_url), class: (action == 'info' ? "active" : " ") %>
                </li>
                <% unless @user_l.library.nil? %>
                  <li>
                    <%= link_to t('.library'), user_library_path(@user_l.personal_url), class: (action == 'library' ? "active" : " ") %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
