<html>
  <head>
  <title>Cursame | <%=t('.')%>Bienvenido</title>
    <style type="text/css">
      h1 { font-family: arial; font-size: 15px; font-weight: lighter; }
      p { font-family: arial; color: #333; font-size: 14px; }
      a:link { color: #00B1C4; }
      .viewFooter { width: 650px; text-align: center; margin-top: 20px; display: block; color: #fff; font-family: arial; font-size: 12px; }
      .viewBrowser { width: 650px; text-align: right; margin-bottom: 10px; margin-top: 20px; display: block; color: #fff; font-family: arial; font-size: 12px; }
      .viewBrowser > a:link { color: #ccc; } .viewBrowser > a:hover { color: #00AFC9; }
      .buttonClick > a:link { width: 400px; background: #00B0C6; color: #fff; text-decoration: none; display: block; text-align: center; font-family: arial; height: 30px; padding-top: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    </style>
  </head>

  <body background="http://<%= @resource.devise_mailer_subdomain %>.<%=@resource.ubication %>/assets/mails/utiles.jpg" style="background-position: top center;">

    <center>
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#fff" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: 0px 3px 10px #000;">
      <tr>
        <td width="650px" height="200px" style="text-align:center;" valign="top" background="http://<%= @resource.devise_mailer_subdomain %>.<%=@resource.ubication %>/assets/mails/logo_welcome.png";>
          <h1 style="color: #00B0C6;font-size: 23px;text-align: center;margin-top:142px;"><b><%=t('.activitys')%></b></h1>
        </td>
      </tr>
      <tr>
        <td style="padding:0px 30px 20px 30px;" width="600px">
          <p><%=t('.hello')%>  "<%= @resource.email %>" <%=t('.activity')%></p>
        </td>
      </tr>
      <tr>
        <td style="padding:0px 30px 20px 30px;" width="600px">

        </td>
      </tr>
      <tr>
        <td width="600px" style="padding-left: 30px; margin-bottom: 30px; display: block;">
          <center>
            <span class="buttonClick">
                        <%= link_to t('.goto'), "http://#{ @resource.devise_mailer_subdomain} .#{@resource.ubication}" %></span>
          </center>
        </td>
      </tr>
      <tr>
        <td height="30px">
        </td>
      </tr>
      <tr>
        <td>
        <!--  <center><img src="http://<%= @resource.devise_mailer_subdomain %>.<%=@resource.ubication %>/assets/mails/contrasena.jpg"></center>-->
        </td>
      </tr>
    </table>
    <span class="viewFooter">Versalles #94, Colonia Juárez, Delegaci&oacuote;n Cuauhtemoc, Ciudad de M&eacute;xico.</span>
    </center>

  </body>
</html>
