<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
    h1, h2, p, span, table, td, tr, a {-webkit-font-smoothing: antialiased;}
    p { font-weight: normal; }
  </style>
</head>
<body style="padding: 0; margin: 0; font-family: 'Roboto', 'Helvetica Neue', sans-serif; background-color: #fafafa;">

  <div style="background: #FAFAFA;">
    <div>
      <table style="width: 540px;" align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding: 20px 0 12px 0;">
            <a href="http://cursa.me" title="Cúrsame">
              <img src="<%= @logo_url %>" alt="Cúrsame">
            </a>
          </td>
          <td align="right">
            <p style="font-size: 13px; color: #666;"><%=t('.mail')%>, <a href="http://cursa.me/teacher-day" target="_blank" style="color: #0071a2; text-decoration: none;"><%=t('.click')%></a></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <table background="http://app.cursa.me/images/website/teacher-day-title.jpg" style="border-top: 1px solid #098b8c; border-bottom: 1px solid #098b8c;" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div>
          <table width="540" align="center" cellspacing="0" cellpadding="0" style="backgrounnd-size: cover">
            <tr>
              <td style="text-align: left;">
                <h1 style="color: #fff; margin: 50px 0; font-weight: 400; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);"><%=t('.happy')%></h1>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <table width="540" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <br>
        <br>
        <h3 style="font-size: 18px; font-weight: 500; color: #333;">
          <%=t('.hello')%> <%= unless @user.name == "usuario sin nombre" then @user.name.split.map(&:capitalize).join(' ') else t('.teacher') end %>,
        </h3>
        <p style="font-size: 16px; color: #333;"><%=t('.text1')%></p>
        <p style="font-size: 16px; color: #333;"><%=t('.text2')%></p>
        <p style="font-size: 16px; color: #333;"><%=t('.text3')%> </p>
        <br>
        <img alt="Sign" src="http://app.cursa.me/images/website/sign.png">
        <h3 style="margin: 0; font-size: 18px; font-weight: 500; color: #333;">León Rangel</h3>
        <span style="font-size: 15px; color: #333;">CEO Cúrsame</span>
        <br>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </table>

  <div style="background: #fafafa; background-color: #fafafa; border-top: 1px solid #e3e3e3;" >
    <table style="width: 540px;" align="center">
      <tr>
        <td style="padding: 20px 0;">
          <h5 style="font-weight: bold; font-size: 13px; color: #333; margin: 0;">C&uacute;rsame &reg; 2014</h5>
          <p style="color: #333; font-size: 12px; margin: 0;">Pomona #7, Roma Norte, Delegaci&oacute;n Cuauht&eacute;moc, Ciudad de M&eacute;xico.</p>
          <p style="color: #333; font-size: 12px; margin: 0;"><a href="mailto:hola@cursa.me" style="color: #0071a2; text-decoration: none;">hola@cursa.me</a></p>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>
