<div class="user-sessions-wrap user-sessions-medium">
	<div class="user-sessions-network-brand">
    <% if current_network.free || current_network.logo.file == nil %>

      <%= link_to icon('logo-cursame'), root_path, title: current_network.name, class: "free_network" %>

    <% else %>
      <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
    <% end %>
  </div>
  <div class="user-sessions-main">
    <div class="user-session-content">
    	<h4>No has recibido instrucciones de desbloqueo</h4>
    	<p>Ingresa tu correo en el campo inferior para dar seguimiento a tu solicitud</p><br>

    	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-group no-label">
	        <div class="form-group-main">
	          <span class="input-icon session-icon-input">
	            <%= icon('email') %>
	            <%= f.email_field :email, :class => "email", :placeholder =>"Correo electrónico" %>
	          </span>
	        </div>
	      </div>

	      <div class="user-sessions-footer">
	        <div class="fr">
	          <span class="btn btn-primary btn-medium input-btn">
	            <%= f.submit "Reenviar instrucciones" %>
	          </span>
	        </div>
	      </div>

			<% end %>
    </div>

    <div class="user-session-links">
	    <%= render partial: 'devise/shared/links', locals: { login: true, signup: true, password: true, confirmation: true, unlock: false } %>
	  </div>

  </div>
</div>