<div class="wrapper">
  <% if @courses.empty? %>
    <div class="no-content-section">
      <h4>No hay cursos.</h4>
    </div>
  <%end%>

  <div class="cols-12 courses-list">
    <% courses.each do |course| %>
      <div class="col col-4">
        <div class="col-inner">
          <div id="<%= course.id %>" class="course">
            <div class="course-cover">

              <% @correspond = MembersInCourse.find_by_user_id_and_course_id(current_user, course.id) %>
              <% @course_id = course.id%>
              <% if @correspond %>

                <% if @correspond.accepted == true %>

                  <div class="dropdown-wrap course-actions">
                    <div class="dropdown-pull">
                      <i class="i i-settings"></i>
                    </div>
                    <div class="dropdown-v right">
                      <i class="tip"></i>
                      <ul>
                        <% if !@correspond.owner  %>
                          <li>
                            <div id="uik_<%= @correspond.id %>"> 
                              <%= link_to @correspond , confirm: '¿Esta seguro de querer abandonar este curso?', method: :delete, :remote => true do %>
                                <i class="i i-leave-course"></i> Abandonar
                              <% end %>
                            </div>
                          </li>
                        <% end %>

                        <% if @correspond.owner == true %>
                          <li>
                            <%= link_to edit_course_path(course) do %>
                              <i class="i i-edit-12"></i> Editar</a>
                            <% end %>
                          </li>
                          <li>
                            <div id="usk_<%=@correspond.id%>">
                              <%= link_to course, confirm: '¿Esta seguro que desea eliminar este curso?', method: :delete do %>
                                <i class="i i-trash-12"></i> Borrar</a>
                              <% end %>
                            </div>
                          </li>
                        <%end%>
                      </ul>
                    </div>
                  </div>
                <% else %>
                  <div class="course-user-status">
                    <p class="request-sent"><i class="i i-clock-w"></i> Esperando a ser aceptado</p>
                  </div>
                <% end %>
              
              <% else %>
                <div class="course-user-status">
                  <div id="hidden-<%= course.id %>" class="join-course-status">
                    <% if course.public_status == "Private" %>
                      <%= render partial: "courses/members_in_courses/private_course", :locals => {:member => member, :course_id => @course_id } %>
                    <% else %>   
                      <%= render partial: "courses/members_in_courses/public_course", :locals => {:member => member, :course_id => @course_id} %>  
                    <% end %>
                  </div>
                </div>
              <% end %>

              <div class="course-cover-image">
                <%= link_to course_path(course.id) do %>
                  <% if course.coverphoto.file.nil? %>
                    <%= image_tag "courses.png", alt: "corse" %>
                  <% else %>
                    <%= image_tag course.coverphoto.mosaic %>
                  <% end %>
                <% end %>
              </div>
            </div>
            
            <div class="course-description">
              <%= link_to course_path(course.id) do %>
                <h6><%= truncate course.title, :omission => "...", :length => 60 %></h6>
              <% end %>
              <%= truncate course.silabus, :omission => "...", :length => 60 if course.silabus? %>
            </div>
            
            <div class="course-detail-list">
              <div class="course-detail">
                <span class="meta-info"><i class="i i-calendar-12"></i> Finaliza:</span>
                <% if course.finish_date.present? %>
                  <p><%= es_current_date("#{course.finish_date.strftime('%B')}", "#{course.finish_date.strftime('%d')}" , "#{course.finish_date.strftime('%Y')}", nil, format = 'latin_string') %></p>
                <% end %>
              </div>
              <div class="course-detail clearfix">
                <span class="meta-info"><i class="i i-profesor-12"></i> Profesor:</span>
                <% if course.members_in_courses.present? %>
                  <p><%= course.members_in_courses.keep_if{ |member| member.owner }.map{ |member| member.user.name unless !member.user }.first %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>