<%= form_for(@members_in_course) do |f| %>
  <% if @members_in_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@members_in_course.errors.count, "error") %> prohibited this members_in_course from being saved:</h2>

      <ul>
      <% @members_in_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
