<h1>Listing members_in_courses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Course</th>
    <th>Accepted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members_in_courses.each do |members_in_course| %>
  <tr>
    <td><%= members_in_course.user_id %></td>
    <td><%= members_in_course.course_id %></td>
    <td><%= members_in_course.accepted %></td>
    <td><%= link_to 'Show', members_in_course %></td>
    <td><%= link_to 'Edit', edit_members_in_course_path(members_in_course) %></td>
    <td><%= link_to 'Destroy', members_in_course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>