<% if current_course.members_in_courses.count > 0 %>
  <div class="cards-list comunity-card-list" >
    <div class="cols-12">
      <% current_course.members_in_courses.each do |member| %>
        <% @member_it = agil_find_user(findX="#{member.user_id}", byX='id') %>
        <% next if @member_it == current_user %>

        <div class="col col-6" data-user-id="<%= @member_it.id %>">
          <div class="col-inner">
            <div class="user-card">
              <div class="user-card-main">
                <%= link_to show_user_path(@member_it.personal_url), class: 'user-card-avatar' do %>
                  <span class="avatar-holder">
                    <%= avatar('user', '150', 'no', @member_it.id, 'avatar avatar-80', 'no', 'no') %>
                  </span>
                <% end %>
                <div class="user-card-name">
                  <h5>
                    <% if @member_it.name != nil%>
                      <%= link_to @member_it.name, show_user_path(@member_it.personal_url) %>
                    <% end %>
                  </h5>
                </div>
              </div>
              <div class="user-card-footer">
                <div class="user-actions">
                  <%= render partial: '/courses/members_in_courses/permissionings_edit', :locals => {:member => member, :member_it => @member_it} %>
                </div>
                <div class="user-info">
                  <span class="user-role">
                    <%= t('.teacher') if current_user.teacher? %>
                    <%= t('.student') if current_user.student? %>
                    <%= t('.admin') if current_user.admin?  %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
