<% @member_it = member_it %>
<% @member =  member %>

<% case @member.accepted %>
  <% when true %>
    <% if current_user.id != @member_it.id %>
      <div id="options_to_<%@member_it.id%>" style="display:block;"> 
        <div class="dropdown-wrap">
          <div class="dropdown-pull">
            <span class="btn btn-small btn-secondary"> Editar </span>
          </div>
          <div class="dropdown-v right">
            <i class="tip"></i>
            <ul>
              <li>
                <%= form_for @member, :remote => true do |fcm| %>                           
                  <label class="as-link">
                    <%=  fcm.check_box :accepted, :onclick => "ValidateMemberInCourse('members_in_course_accepted_#{@member_it.id}', '#{@member.id}','acceptin', '#{@member_it.id}');"  %>
                    ¿Miembro aceptado en el grupo?
                  </label>
                <%end%>
              </li>
              <li>
                <%= form_for @member, :remote => true do |owner|%>
                  <label class="as-link">
                    <%= owner.check_box :owner, :onclick => "ValidateMemberInCourse('owner_in_course#{@member_it.id}', '#{@member.id}','ownerin', '#{@member_it.id}');", :class=> "owner_in_course#{@member_it.id}"  %>
                    Administrador
                  </label>
                <%end%>
              </li>
              <li>
                <%= link_to 'Eliminar del grupo', @member, confirm: '¿Estás seguro de querer eliminar este usuario del curso?', method: :delete, :remote => true %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <%end%>
  
  <% when false %>
    <%= form_for @member, :remote => true do |fcm| %>                           
      <%= link_to 'Eliminar', @member, confirm: '¿Estás seguro de querer eliminar este usuario del curso?', class: 'btn btn-small btn-secondary', method: :delete, :remote => true %>

      <label class="btn btn-small btn-primary activable ff">
        Aceptar Usuario
          <%=  fcm.check_box :accepted, :onclick => "ValidateMemberInCourse("+"'"+"members_in_course_accepted_#{@member_it.id}"+"'"+","+"'"+"#{@member.id}"+"'"+","+"'"+"acceptin"+"'"+","+"'"+"#{@member_it.id}"+"'"+");", :class=> "members_in_course_accepted_#{@member_it.id} tobe-t", :style => "display:none;"  %>
      </label>
    <%end%>
<%end%> 

