  <% case %>
        <% when member.accepted == true %>

              <% if current_user.id != member_it.id %>
                    <!-- imagen de settings para administración del curso -->
                    <div id="admin-settings-selector-true-admin<%=member_it.id%>" style="width:30px; height:30px; cursor:pointer;"><%= image_tag('icons_for_admin/settings.png')%></div>
                    <!-- settings de administración del curso -->
                    
                    <div id="options_to_<%=member_it.id%>" style="display:none;"> 
                      <%= form_for member, :remote => true do |fcm| %>                           
                            <%=  fcm.check_box :accepted, :onclick => "ValidateMemberInCourse('members_in_course_accepted_#{member_it.id}', '#{member.id}','acceptin', '#{member_it.id}');"  %><%= "Aceptar a este usuario en el curso."%>
                            <%= link_to 'Eliminar', member, confirm: 'Are you sure?', method: :delete, :remote => true %>
                      <%end%>
                      <%= form_for member, :remote => true do |owner|%>
                            <%= owner.check_box :owner, :onclick => 'submit()'  %> <%= "Administrador" %>
                      <%end%>
                    </div>
                     <script>
                         $('#admin-settings-selector-true-admin<%=member_it.id%>').click(function(){
                            $('#options_to_<%=member_it.id%>').toggle( "slow", function() {
                             });
                          });
                    </script>
              <%end%>
       
                     
        <% when member.accepted == false %>
                  <%= form_for member, :remote => true do |fcm| %>                           
                      <%=  fcm.check_box :accepted, :onclick => "ValidateMemberInCourse('members_in_course_accepted_#{member_it.id}', '#{member.id}','acceptin', '#{member_it.id}');", :class=> "members_in_course_accepted_#{member_it.id}"  %><%= "Miembro aún no aceptado en el curso."%>
                      <%= link_to 'Eliminar', member, confirm: 'Are you sure?', method: :delete, :remote => true %>
                  <%end%>
  <%end%> 