<%= form_for(@member, :remote => true) do |f| %>
  <%= f.hidden_field :user_id,:value => current_user.id %>
  <%= f.hidden_field :course_id, :value => @course_id %>
  <%= f.hidden_field :accepted, :value => 0 %> 
  <span class="btn btn-primary hard-border-btn input-btn">
    <%= f.submit "Solicitar ingresar al curso" %>
  </span>
<% end %>