
<% @time_now = Time.now %>

<div class="evaluation-areas-list">
  <div id="nested_evaluation_form" class="evaluation-area">
      <div class="fl" style="width: 150px;">
        <%= f.text_field :name, class: 'subject', placeholder: '¿Que criterio se evaluará?', style: "width: 150px;", required: "required"  %>
      </div>

      <div id="content-slider-0" class="slider-content fl">
        <div id="slider-0" class="slider" style="width: 150px;"></div>
      </div>
        
      <label id="label-nested-form-0" class="fr"></label>
      <%= f.hidden_field :evaluation_percentage, :value => "" , :maxlength=> "3", :class=>"percent-input"%>
      <%= f.hidden_field :delivery_id, :value => @delivery_id %>
      <%= f.hidden_field :active, :value =>  true %>
      <%= f.hidden_field :date_of_item, :value =>@time_now %>
      <br>
      <div class="clear-break"></div>
  </div>


</div>
<div id="total_nested_evaluation" class="total" style="float:right; "></div>

<script type="text/javascript">

    var nestedInputs = $('#nested_evaluation_form').html();
    $('#nested_evaluation_form').empty();
    $('#nested_evaluation_form, #total_nested_evaluation').hide();   //hide show area

    var controlNestedHomework=0;
    var nestedNewHomeworkSlider=undefined;

    $(document).ready(function() {
        $('#more_nested_evaluation_btn').click(function(){            

            if( nestedNewHomeworkSlider == undefined){
              nestedNewHomeworkSlider = new NestedSlider();
            }

            var str = null;
            
            $('#nested_evaluation_form, #total_nested_evaluation').show();  //show area
            $(nestedInputs).each(function( index, value ) {                
                changeAttr($(value).clone(),'id','name');
            });
            var slider  = $('#slider-'+controlNestedHomework),
                input_id = $('#delivery_areas_of_evaluations_attributes_'+controlNestedHomework+'_evaluation_percentage'),
                label_id = $('#label-nested-form-'+controlNestedHomework);
            nestedNewHomeworkSlider.initSlider( slider, input_id, label_id );
            controlNestedHomework++;
        });
    });

    // Change the properties: ID and Name from elements
    function changeAttr(value, id_value, id_name){
        //Si contiene un objeto hijo entra   (para el caso del slider)
        if ( $(value).children().length > 0 ) {
            var child_id = $(value).children().attr(id_value);
            var child_name = $(value).children().attr(id_name);
                child_id = (child_id!=undefined)? child_id.replace('0',controlNestedHomework) : undefined;
                child_name = (child_name!=undefined)?child_name.replace('0',controlNestedHomework):undefined;
                $(value).children().attr(id_value, child_id);
                $(value).children().attr(id_name, child_name);
        }
        var str_id = $(value).attr(id_value);
        str_id = (str_id!=undefined)? str_id.replace('0',controlNestedHomework) : undefined;
        $(value).attr(id_value,str_id);
        var str_name = $(value).attr(id_name);
        str_name = (str_name!=undefined)?str_name.replace('0',controlNestedHomework):undefined;
        $(value).attr(id_name,str_name);
        $('#nested_evaluation_form').append($(value));
    }

    function removeSliderEvaluation(){

        $('#nested_evaluation_form').empty();
        controlNestedHomework = 0;
        nestedNewHomeworkSlider=undefined;
        $('#nested_evaluation_form, #total_nested_evaluation').hide();  //show area

    }
</script>