<% @time_now = Time.now %>
<div id="nested_evaluation_form" class="evaluation-area">
    <%= f.text_field :name, :class => 'subject', :placeholder=>'¿Que criterio se evaluará?' %>
    <div id="content-slider-0" class="slider-content"><div id="slider-0" class="slider"></div></div>
    <%= f.text_field :evaluation_percentage, :value => "" , :maxlength=> "3", :class=>"percent-input", :disabled => true  %>
    <%= f.hidden_field :delivery_id, :value => @delivery_id %>
    <%= f.hidden_field :active, :value =>  true %>
    <%= f.hidden_field :date_of_item, :value =>@time_now %>
</div>
<div id="total_nested_evaluation" class="total"></div>
<div id="more_nested_evaluation_btn" class="a-btn" style="float: left;">Agregar Criterio</div>


<script type="text/javascript">

    var currentAvailablePercent = 100;
    var currentIncrementationPercent = 0;
    var totalPercent = 100;


    var nestedInputs = $('#nested_evaluation_form').html();
    $('#nested_evaluation_form').empty();
    $('#nested_evaluation_form, #total_nested_evaluation').hide();   //hide show area


    $(document).ready(function() {
        var controlNestedHomework=0;
        $('#more_nested_evaluation_btn').click(function(){
            var str=null;
            $('#nested_evaluation_form, #total_nested_evaluation').show();  //show area

            $(nestedInputs).each(function( index, value ) {
                changeAttr($(value).clone(),'id','name');
            });
            initSlider( controlNestedHomework );
            controlNestedHomework++;
        });

        // Properties value change ID and Name properties from elements
        function changeAttr(value, id_value, id_name){
            //Si contiene un objeto hijo entra   (para el caso del slider)
            if ( $(value).children().length > 0 ) {
                //console.log($(value).children().attr('id'));
                //changeAttr($(value).children(),'id','name');
                var child_id = $(value).children().attr(id_value);
                child_id = (child_id!=undefined)? child_id.replace('0',controlNestedHomework) : undefined;
                $(value).children().attr(id_value, child_id);
            }
            var str_id = $(value).attr(id_value);
            str_id = (str_id!=undefined)? str_id.replace('0',controlNestedHomework) : undefined;
            $(value).attr(id_value,str_id);

            var str_name = $(value).attr(id_name);
            str_name = (str_name!=undefined)?str_name.replace('0',controlNestedHomework):undefined;
            $(value).attr(id_name,str_name);
            $('#nested_evaluation_form').append($(value));
        }

        function initSlider( numControl ){
            var slider  = $('#slider-'+numControl),
                input_id = $('#delivery_areas_of_evaluations_attributes_'+numControl+'_evaluation_percentage');

            var storedSliderValue=0;
            var tmpLimit=0;

            slider.slider({
                range: "min",
                min: 0,
                create: function(event,result) {
                    if(currentAvailablePercent>0){
                        currentIncrementationPercent = currentAvailablePercent + currentIncrementationPercent;
                        storedSliderValue = currentAvailablePercent + storedSliderValue;
                        $(this).slider('value', storedSliderValue);
                    }
                    storedSliderValue = $(this).slider("values", 0);
                    currentAvailablePercent = totalPercent - currentIncrementationPercent;
                },
                slide: function(event, result) { //When the slider is sliding

                    tmpLimit = storedSliderValue + currentAvailablePercent;

                    console.log('slide');
                    if(parseInt(result.value)<tmpLimit) {
                        currentIncrementationPercent = currentIncrementationPercent - storedSliderValue;
                        currentIncrementationPercent = currentIncrementationPercent + parseInt(result.value);
                        currentAvailablePercent = 100 - currentIncrementationPercent;
                        storedSliderValue = parseInt(result.value);
                    }else{
                        if(currentAvailablePercent>0){
                            currentIncrementationPercent = currentAvailablePercent + currentIncrementationPercent;
                            storedSliderValue = currentAvailablePercent + storedSliderValue;
                            $(this).slider('value', storedSliderValue);
                        }
                        storedSliderValue = $(this).slider("values", 0);
                        currentAvailablePercent = totalPercent - currentIncrementationPercent;
                    }

                    if( parseInt(result.value) > ( storedSliderValue+currentAvailablePercent ) ){
                        input_id.val(storedSliderValue);
                        return false;
                    }else{
                        input_id.val(result.value);
                    }


                },
                change: function(event, result) {
                    $('#total_nested_evaluation').html('Total: '+currentIncrementationPercent+'%');

                }
            });
            input_id.val( slider.slider("values", 0) );
            $('#total_nested_evaluation').html('Total: '+currentIncrementationPercent+'%');

            input_id.keyup(function() {
                slider.slider('value', $(this).val());
            });
        }




    });

</script>