<%= form_for(@areas_of_evaluation) do |f| %>
  <% if @areas_of_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@areas_of_evaluation.errors.count, "error") %> prohibited this areas_of_evaluation from being saved:</h2>

      <ul>
      <% @areas_of_evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :delivery_id, :value => @delivery_id %>
  </div>
  <div class="field">
    <%= f.label :evaluation_percentage %><br />
    <%= f.number_field :evaluation_percentage %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active, :value =>  true %>
  </div>
  <div class="field">
    <%= f.label :date_of_item %><br />
    <%= f.datetime_select :date_of_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
