<h1>Listing areas_of_evaluations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Assignment</th>
    <th>Evaluation percentage</th>
    <th>Active</th>
    <th>Date of item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas_of_evaluations.each do |areas_of_evaluation| %>
  <tr>
    <td><%= areas_of_evaluation.name %></td>
    <td><%= areas_of_evaluation.description %></td>
    <td><%= areas_of_evaluation.assignment_id %></td>
    <td><%= areas_of_evaluation.evaluation_percentage %></td>
    <td><%= areas_of_evaluation.active %></td>
    <td><%= areas_of_evaluation.date_of_item %></td>
    <td><%= link_to 'Show', areas_of_evaluation %></td>
    <td><%= link_to 'Edit', edit_areas_of_evaluation_path(areas_of_evaluation) %></td>
    <td><%= link_to 'Destroy', areas_of_evaluation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Areas of evaluation', new_areas_of_evaluation_path %>
