<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @areas_of_evaluation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @areas_of_evaluation.description %>
</p>

<p>
  <b>Delivery:</b>
  <%= @areas_of_evaluation.delivery_id %>
</p>

<p>
  <b>Evaluation percentage:</b>
  <%= @areas_of_evaluation.evaluation_percentage %>
</p>

<p>
  <b>Active:</b>
  <%= @areas_of_evaluation.active %>
</p>

<p>
  <b>Date of item:</b>
  <%= @areas_of_evaluation.date_of_item %>
</p>


<%= link_to 'Edit', edit_areas_of_evaluation_path(@areas_of_evaluation) %> |
<%= link_to 'Back', areas_of_evaluations_path %>
