= form_for(GoogleForm.new, remote: true, html: { class: "default-form", id: "google_form", multipart: true }) do |f|
  .new-publication-form-content
    .form-group
      .form-group-label
        = f.label :title, t('.title')
      .form-group-main
        .form-unit
          = f.text_field :title, placeholder: t('.title2'), required: "required"
    .form-group
      .form-group-label
        = f.label :description, t('.descrip')
      .form-group-main
        .form-unit
          = f.text_field :description, placeholder: t('.form_descrip'), required: "required"
    .form-group
      .form-group-label
        = f.label :description, "URL: "
      .form-group-main
        .form-unit
          = f.text_field :url, placeholder: t('.form_url'), required: "required"
    .form-group
      .form-group-label
        = f.label :init_date, t('.dates')
      .form-group-main
        .f-col.f-col-5
          .form-unit
            = f.text_field :init_date, placeholder: t('.publish_date'), class: "date-input delivery delivery_publish_date", id: 'form_init_date', value: f.object.init_date, required: "required"
        .f-col.f-col-5
          .form-unit
            = f.text_field :term_date, placeholder: t('.deliver_day'), class: "date-input delivery delivery_end_date", id: 'form_term_date', value: f.object.term_date, required: "required"
    .form-group
      .form-group-label
        = f.label :wufoo_roles, t('.roles')
      .form-group-main
        .f-col.f-col-3
          .form-unit
            = check_box_tag "google_form[role_ids][]", Role.find_by_title('teacher').id
            #{t('network_tags.profesor_tag')}
        .f-col.f-col-3
          .form-unit
            = check_box_tag "google_form[role_ids][]", Role.find_by_title('student').id
            #{t('network_tags.student_tag')}
  .new-publication-footer
    %ul.list-buttons.right.fr
      %li
        = link_to t('.cancel'), "", class: "btn btn-secondary cancel-post-form_tab", id: "cancel-post-form_tab"
      %li
        - if current_network.subdomain == "meems"
          = render partial: "shared/dropdown_phases", locals: { defaultText: t('.phases'), default_icon: 'course-new-publication' }
        = render partial: "/google_forms/shared/dropdown", locals: { hasPublic: true, hasCourses: true, defaultText: t('.public'), default_icon: 'public-new-publication' }
      %li
        %span.btn.btn-primary.input-btn.activable
          = f.submit t('.publish'), id: "wufoo-post-form", class: "activable"
= content_for :javascripts do
  :javascript
    $(function () {
      $("#form_init_date, #form_term_date").datetimepicker({
        inline: false,
        minDate: 0,
        hourMin: 0,
        hourMax: 23,
        controlType: 'select',
        showOtherMonths: true,
        dateFormat: 'dd/mm/yy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        beforeShow: function(input, inst) {
          var cal = inst.dpDiv;
          var top  = $(this).offset().top + $(this).outerHeight();
          var left = $(this).offset().left;
          setTimeout(function(){ cal.css({'top' : top, 'left': left });}, 10);
        }
      });
      $('#google_form').validate();
    });
