.overlay-header
  .overlay-title
    %h4= wufoo_form.form['Name']
    %p= wufoo_form.form['Description']
  .close-overlay= icon('x-close')
= form_tag wufoo_form_entry_path(wufoo_form), method: :get, remote: true, id: "user-quiz-form" do
  .overlay-content.no-padding
    .quiz-wrap
      - hidden_field_tag "wufoo_form_id", wufoo_form.identifier
      - wufoo_form.form.fields.each do |field|
        - if field['Type'] == 'text' && field['ID'] == 'EntryId'
          = hidden_field_tag field['ID'], SecureRandom.uuid
        - elsif field['Type'] == 'date' && field['ID'] == 'DateCreated'
          = hidden_field_tag field['ID'], Time.now 
        - elsif field['Type'] == 'text' && field['ID'] == 'CreatedBy'
          = hidden_field_tag field['ID'], current_user.name
        - elsif field['Type'] == 'date' && field['ID'] == 'LastUpdated'
          = hidden_field_tag field['ID'], Time.now 
        - elsif field['Type'] == 'text' && field['ID'] == 'UpdatedBy'
          = hidden_field_tag field['ID'], current_user.name
        - else
          .quiz-item
            .quiz-item-header
              = label_tag field['ID'], "#{field['Title']} <span class='required'>*</span>".html_safe
            .quiz-item-options
              - case field['Type']
              - when 'text'
                = text_field_tag field['ID'], "", required: "required"
              - when 'radio'
                - field['Choices'].each_with_index do |choice, index|
                  .option
                    = label_tag do
                      = radio_button_tag field['ID'], (index + 1), false
                      = choice['Label']
              - when 'checkbox'
                .checkbox-group
                  - field['SubFields'].each_with_index do |subfield, index|
                    - index == 0 ? options = {required: "required"} : options = {}
                    .option
                      = label_tag do
                        = check_box_tag subfield['ID'], subfield['Label'], false, { class: "require-one" }
                        = subfield['Label']
              - when 'likert'
                %table.quiz-table
                  %thead
                    %tr
                      %th="&nbsp;"
                      - field['Choices'].each_with_index do |choice, index|
                        %th= choice['Label']
                  %tbody
                    - field['SubFields'].each_with_index do |subfield, index|
                      %tr
                        %td= subfield['Label']
                        %td.center
                          = label_tag do
                            - 1..4.each do |n|
                              = radio_button_tag subfield['ID'], "1", false
                              %br= n
    .overlay-footer
      .fl
        %span.btn.btn-medium.btn-primary.input-btn= submit_tag "Enviar Formulario"
