.post-box.form.academic.wufoo_form{ 'data-wall-id' => wall.id, class: card_type, data: {} }
  - if wall && (wufoo_form.user == current_user || current_user.admin?)
    = render partial: 'shared/posts/post_admin_actions', locals: { post: wufoo_form, wall: wall }
  .post-box-main
    .post-box-main-author
      - case wufoo_form.showable.class.name
      - when "Course"
        = link_to course_path(wufoo_form.showable), title: wufoo_form.showable.title, class: 'post-box-avatar' do
          %span.avatar-holder
            = avatar 'course', '45', 'no', wufoo_form.showable.id, 'avatar', 'no', 'no'
        .post-box-main-author-content
          = link_to wufoo_form.showable.title, course_path(wufoo_form.showable), title: wufoo_form.showable.title
          %span.timestamp= time_ago_in_words wufoo_form.init_date
      - when "Network"
        = link_to show_user_path(wufoo_form.user.personal_url), title: wufoo_form.user.name, class: 'post-box-avatar' do
          %span.avatar-holder
            = avatar 'user', '45', 'no', wufoo_form.user.id, 'avatar', 'no', 'no'
        .post-box-main-author-content
          .post-breadcrumb
            %span
              = link_to wufoo_form.user.name, show_user_path(wufoo_form.user.personal_url), title: wufoo_form.user.name
            %span.timestamp= time_ago_in_words wufoo_form.init_date
    .post-box-content
      .icon-card
        = icon 'wufoo-post-card'
      = link_to wufoo_form_modal_path(wufoo_form), remote: true, class: 'activable' do
        %h3= wufoo_form.form['Name']
        %p= wufoo_form.form['Description']
      %span.post-box-meta= "#{icon 'date-mini-w'} #{pretty_date_format wufoo_form.term_date}".html_safe
      = link_to 'Ver Formulario', wufoo_form_modal_path(wufoo_form), remote: true, class: "btn btn-small btn-transparent activable"
      = render partial: 'shared/posts/post_meta_data', locals: { wall: wall, post: wufoo_form }
    .post-box-under-container
      .post-box-likes= render partial: 'shared/posts/post_people_who_liked', locals: { post: wufoo_form, wall: wall }
      .comments-wrap.wufooform{ data: { comments_group_id: wufoo_form.id } }
        = render partial: 'shared/posts/post_comments_list', locals: { post: wufoo_form, new_comment: true }