<script>
   $("#<%=@termination%>_<%=cf.id%>").hover(
     function () {
       $(this).append($("<span style='z-index:100000000;position: absolute;'><div class='tooltipr'><%=truncate("#{@sintetic_name}", :omission => "...", :length => 25)%></div></span>"));
     },
     function () {
       $(this).find("span:last").remove();
     }
   );
   
    $('#<%=@termination%>_<%=cf.id%>').click(function(e) {
          $('#t_<%=@termination%>_<%=cf.id%>').lightbox_me({
	              centered: true, 
	              onLoad: function() { 
                  $('#t_<%=@termination%>_<%=cf.id%>').find('input:first').focus() 
                                      }

    	              });
    	  e.preventDefault();
	  });
   
  </script>
 <%#= link_to truncate("#{@sintetic_name}", :omission => "...", :length => 35), "#{cf.file}"%>
 <div id="t_<%=@termination%>_<%=cf.id%>" class="content_f_box"  style="display:none">
             <div><a id="close_x" class="close close_l" href="#" style="margin-top:-20px;"><center>x</center></a></div>
                      <center>  
                  <div style="font-size:25px;"><%= link_to truncate("#{@sintetic_name} DESCARGAR", :omission => "...", :length => 30), "#{cf.file}", :download => @sintetic_name, :class=>'link_download'%></br></div>      
                      <p style="margin-top:30px;">
                           Cúrsame no se hace responsable de cualquier contenido de este tipo que pueda ser subido a la página, 
                           ni de derechos de autor ni de derechos de marca, el usuario que ha subido este contenido en 100% responsable
                           de él. "Cualquier problema de este tipo favor de reportarlo a <%= mail_to "info@cursa.me", "info@cursa.me"%> "
                      </p>                                                 
                     </center>
 </div>