<% 
  file_types = [
    'pdf','xls','xlsx','ppt','txt','pptx','doc','docx', 'txt', 'odt', 'adp', 'ade',
    'png','jpg','jpeg','gif','tif','bmp',
    'avi','mp4','mov','wma','mpge','flv', 'm4v',
    'exe','zip','rar','iso','dmg','psd', 'cad'
  ];
%>

<div class="library-item" id="<%=cf.id%>">    
  <div class="library-item-icon">
    <% if file_types.include? @termination %>
      <%= icon("type-#{@termination}") %>
    <%end%>
  </div>
  <div class="library-item-main">
    <%= link_to truncate("#{@sintetic_name}", :omission => "...", :length => 95), cf.file.to_s, download: @sintetic_name %>
    <br>
    <span class="meta-info"><%= cf.created_at.strftime( '%A %e de %B del %Y') %></span>
    <% if @member.owner != nil && @member.owner == true %>
      <%= link_to "Borrar", "#{course_files_path}/#{cf.id}?course=#{course.id}", confirm: '¿Estas seguro de querer eliminar este archivo?', method: :delete, :remote => true %>
    <% end %>
  </div>
</div>
