<%= form_for @notification do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :notificator_id %><br />
    <%= f.number_field :notificator_id %>
  </p>
  <p>
    <%= f.label :notificator_type %><br />
    <%= f.text_field :notificator_type %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </p>
  <p><%= f.submit %></p>
<% end %>
