<% title "Notifications" %>

<table>
  <tr>
    <th>Notificator</th>
    <th>Notificator Type</th>
    <th>User</th>
    <th>Kind</th>
  </tr>
  <% for notification in @notifications %>
    <tr>
      <td><%= notification.notificator_id %></td>
      <td><%= notification.notificator_type %></td>
      <td><%= notification.user_id %></td>
      <td><%= notification.kind %></td>
      <td><%= link_to "Show", notification %></td>
      <td><%= link_to "Edit", edit_notification_path(notification) %></td>
      <td><%= link_to "Destroy", notification, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Notification", new_notification_path %></p>
