= form_for [:managers, delivery] do |f|
  .form-group.abel-on-top.l-label
    .form-group-label
      = f.label :title, 'Tema de la tarea:'
    .form-group-main
      .form-unit
        = f.text_field :title, placeholder: "Ejemplo: Ejemplo: Números primos", required: true, autocomplete: "off"

  .form-group.abel-on-top.l-label
    .form-group-label
      = f.label :silabus, 'Descripción:'
    .form-group-main
      .form-unit
        = f.text_area :description, placeholder: "Descripción", required: true, autocomplete: "off", rows: 7

  %br/
  %br/
  %ul.list-buttons.left
    %li= link_to 'Cancelar', :back, class: 'btn btn-medium btn-secondary'
    %li
      %span.btn.btn-primary.input-btn.btn-medium.activable
        = f.submit ( delivery.new_record? ? 'Crear Tarea' : 'Guardar cambios')