<h1>New group:</h1>
<%= form_tag create_group_path do %>
  <%=t('.name')%>:<p><%= text_field_tag(:name) %>
  <p>
  Description:<p><%= text_area_tag(:description) %>
  <p><%= submit_tag(t('.create')) %>
<% end %>
</p>

<h1>Groups List:</h1>
<%@user.groups.each do |group|%>
  <p>
  <%= group.name%>
  <%= link_to 'Remove', {:controller => "groups", :action => "destroy",:user_id => @user.id, :group_id => group.id},:method => :delete%>
  </p>
<%end%>
