<p>
  <b>User: <%= @user.personal_url%></b>
</p>
<% @groups.each do |group| %>
   <p>
   <b>Group name: </b> <%=group.name%>
    <%= link_to 'Edit', edit_group_path(@user.personal_url,group)%>
    <%= link_to 'Remove', {:controller => "groups", :action => "destroy", :group_id => group.id}, :method => :delete %>
    <% group.members.each do |user| %>
    </p>
    <%= link_to user.to_s, show_user_path(user.personal_url)%>
    <%= link_to 'Remove', {:controller => "members_in_groups",:action => "destroy", :user_id => user.id, :group_id => group.id}, :method => :delete%>
    </p>
   <%end%>
   </p>
<%end%>

<%@friends.each do |friend| %>
  <%= friend.to_s%>
  <%@groups.each do |group|%>
  <%if !@user.member_of?(group,friend)%>
  <%= link_to group.name, { :controller => "members_in_groups", :action => "create", :user_id => friend.id, :group_id => group.id},  :method => :create%>
  <%end%>
  <%end%>
  <p>
<%end%>
