<div id="<%= course.id %>" class="course-califications-wrap">
  <% if current_user.student? %>
    <% course.members_in_courses.reject { |member| member.user_id != current_user.id }.each do |member| %>
      <div class="course-califications-header">
        <div class="course-califications-header-avatar">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", member.course.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="course-califications-header-main">
          <h3><%= member.course.title %></h3>
          <span>Calificacion: <%= evaluation_score member.course_average %></span>
        </div>
      </div>
      <div class="course-califications-main">
        <%= render partial: 'users/califications/deliveries_table',  locals: { member: member } %>
        <%= render partial: 'users/califications/surveys_table',     locals: { member: member } %>
        <%= render partial: 'users/califications/discussions_table', locals: { member: member } %>
      </div>
    <% end %>
  <% else %>
    <div class="course-califications-header">
      <div class="course-califications-header-avatar">
        <span class="avatar-holder">
          <%= avatar('course', '45', "no", course.id, "avatar", "no", "no") %>
        </span>
      </div>
      <div class="course-califications-header-main">
        <h4><%= course.title %></h4>
      </div>
    </div>
    <div class="course-califications-main">
      <% unless course.empty? %>
        <% course.evaluable_members.each do |member| %>
          <div class="user-califications-wrap">
            <div class="user-califications-header">
              <%= avatar('user', '30', "no", member.user.id, "avatar", "no", "no") %>
              <div class="user-califications-header-title">
                <h6><%= member.user.name%></h6>
                <span>Calificacion: <%= member.course_average %></span>
                <span class="arrow-down triagle-8"></span>
              </div>
            </div>
            <div class="user-califications-main">
              <%= render partial: 'users/califications/deliveries_table',  locals: { member: member } %>
              <%= render partial: 'users/califications/surveys_table',     locals: { member: member } %>
              <%= render partial: 'users/califications/discussions_table', locals: { member: member } %>
            </div>
          </div>
        <%end%>
      <% else %>
        <div class="no-sub-content-section">
          <h6>Este curso no tiene miembros</h6>
        </div>
      <% end %>
    </div>
  <% end %>
</div>