<div id="return-course" class="return-courses"></div>
<div class="title">Crear nuevo curso</div>
<div class="ui-widget-overlay">Cargando ...</div>

<%= form_for(@course, :remote => true) do |f|  %>
  <div class="field">
    <%= f.text_field :title, :placeholder=>'Nombre' %>
  </div>
  <div class="field">
    <%= f.text_area :silabus, :rows => 3, :cols => 28 , :placeholder=>'Descripción' %>
  </div>
  <div class="field">
    <%= f.date_select :init_date %>
  </div>
  <div class="field">
    <%= f.date_select :finish_date %>
  </div>
  <div class="field">
      Tipo de curso: <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
  </div>
  <div class="actions", id="create_course_form">
    <%= f.submit%>
  </div>
<% end %>

<div id="accept-course-form" style="float:left;"><img src="http://placehold.it/80x30/4D9900/ffffff&text=aceptar" alt=""></div>
<div id="cancel-course-form" style="float:right;"><img src="http://placehold.it/80x30/ff0000/ffffff&text=cancelar" alt=""></div>

    <script>
    $("#create_course_form").on('click',function(){
       $(".ui-widget-overlay").css('display','block');
    });    
</script>