<div id="return-course" class="return-course-icon"></div>
<div class="title">Crear nuevo curso</div>
<div class="ui-widget-overlay">Cargando ...</div>

<%= form_for(@course, :remote => true) do |f|  %>
  <div class="field">
    <%= f.text_field :title, :placeholder=>'Nombre' %>
  </div>
  <div class="field">
    <%= f.text_area :silabus, :rows => 3, :cols => 27 , :placeholder=>'Descripción' %>
  </div>
  <div class="field">
    <%= f.text_field :init_date, :placeholder=>'Fecha Inicio', :class=>"date-input" %>
  </div>
  <div class="field">
    <%= f.text_field :finish_date, :placeholder=>'Fecha Final', :class=>"date-input" %>
  </div>
  <div class="field">
      Tipo de curso: <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
  </div>
  <div class="actions", id="create_course_form">
    <%= f.submit%>
  </div>
  <div id="cancel-course-form" class="actions", id="create_course_form">
    <%= button_tag "Cancel", :type => 'button' %>
  </div>
<% end %>
<script>
    $("#create_course_form").on('click',function(){
       $(".ui-widget-overlay").css('display','block');
    });
</script>