<div id="return-course" class="return-course-icon"></div>
<div class="title"><%=t('.create')%> <%= t('network_tags.course_tag') %></div>
<div class="ui-widget-overlay"><%=t('.load')%></div>
<%= javascript_include_tag('courses_validate_form.js') %>

<%= form_for(Course.new, :remote => true, :html => { :class => "default-form course-form"}) do |f|  %>
    <%= f.hidden_field :network_id, :value => current_network.id%>
    <%= f.text_field :title, :placeholder=>t('.name') %>
    <%= f.text_area :silabus, :rows => 3, :cols => 27 , :placeholder=>t('.descrip'), :class => 'border_for_text' %>
    <%= f.text_field :init_date, :placeholder=>t('.init_date'), :class=>"date-input" %>
    <%= f.submit t('.create2') , :class=>'input-button active', :id => 'create_course_form'%>
    <%= button_tag t('.cancel'), :type => 'button', :class=>'input-button', :id => 'cancel-course-form' %>
    <div style="clear: both"></div>
<% end %>


<script type="text/javascript">
    $(function() {
        $( "#course_init_date" ).datepicker({
            inline: true,
            minDate: 0,
            showOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            monthNames: [I18n.t("date.month.jan"),
                 I18n.t("date.month.feb"),
                 I18n.t("date.month.mar"),
                 I18n.t("date.month.apr"),
                 I18n.t("date.month.may"),
                 I18n.t("date.month.jun"),
                 I18n.t("date.month.jul"),
                 I18n.t("date.month.aug"),
                 I18n.t("date.month.sept"),
                 I18n.t("date.month.oct"),
                 I18n.t("date.month.nov"),
                 I18n.t("date.month.dec")],
            dayNamesMin: [I18n.t("date.day.sun"),
                  I18n.t("date.day.mon"),
                  I18n.t("date.day.tu"),
                  I18n.t("date.day.we"),
                  I18n.t("date.day.th"),
                  I18n.t("date.day.fri"),
                  I18n.t("date.day.sat")]
        });


    });
</script>
