<div id="return-course" class="return-course-icon"></div>
<div class="title">Crear nuevo curso</div>
<div class="ui-widget-overlay">Cargando ...</div>

<%= form_for(@course, :remote => true, :html => { :class => "default-form course-form"}) do |f|  %>
    <%= f.text_field :title, :placeholder=>'Nombre' %>
    <%= f.text_area :silabus, :rows => 3, :cols => 27 , :placeholder=>'Descripción' %>
    <%= f.text_field :init_date, :placeholder=>'Fecha inicio', :class=>"date-input" %>
    <%= f.text_field :finish_date, :placeholder=>'Fecha final', :class=>"date-input" %>
    <%# f.label :porcentaje_de_valor_que_tienen_los_examenes%>
    <div id="content-slider-course-1" class="slider-content"><div id="slider-course-1" class="slider"></div></div>
    <%= f.hidden_field :survey_param_evaluation , :placeholder=>'Descripción' %>
    <%# f.label :porcentaje_de_valor_que_tienen_las_tareas_o_evidencias_de_la_clase %>
    <div id="content-slider-course-2" class="slider-content"><div id="slider-course-2" class="slider"></div></div>
    <%= f.hidden_field :delivery_param_evaluation , :placeholder=>'Descripción' %>
    <%= f.select :public_status, options_for_select([['Privado', 'Private'],['Público', 'public']])%>
    <%= f.submit "Crear" , :class=>'input-button active'%>    
    <%= button_tag "Cancel", :type => 'button', :class=>'input-button', :id => 'cancel-course-form' %>
<% end %>
<script type="text/javascript">
    $("#create_course_form").on('click',function(){
       //$(".ui-widget-overlay").css('display','block');
    });

    $(function() {
        $( "#course_init_date, #course_finish_date" ).datepicker({
            inline: true,
            minDate: 0,
            showOtherMonths: true,
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
        });

        $('#slider-course-1').slider({
            range: "min",
            min: 0,
            create: function(event,result) {
            },
            slide: function(event, result) { //When the slider is sliding
            },
            change: function(event, result) {
            }
        });
        $('#slider-course-2').slider({
            range: "min",
            min: 0,
            create: function(event,result) {
            },
            slide: function(event, result) { //When the slider is sliding
            },
            change: function(event, result) {
            }
        });

        /*
        $('#slider-1').slider({
            range: "min",
            min: 0,
            create: function(event,result) {
                if(currentAvailablePercent>0){
                    currentIncrementationPercent = currentAvailablePercent + currentIncrementationPercent;
                    storedSliderValue = currentAvailablePercent + storedSliderValue;
                    $(this).slider('value', storedSliderValue);
                }
                storedSliderValue = $(this).slider("values", 0);
                currentAvailablePercent = totalPercent - currentIncrementationPercent;
            },
            slide: function(event, result) { //When the slider is sliding

                tmpLimit = storedSliderValue + currentAvailablePercent;

                console.log('slide');
                if(parseInt(result.value)<tmpLimit) {
                    currentIncrementationPercent = currentIncrementationPercent - storedSliderValue;
                    currentIncrementationPercent = currentIncrementationPercent + parseInt(result.value);
                    currentAvailablePercent = 100 - currentIncrementationPercent;
                    storedSliderValue = parseInt(result.value);
                }else{
                    if(currentAvailablePercent>0){
                        currentIncrementationPercent = currentAvailablePercent + currentIncrementationPercent;
                        storedSliderValue = currentAvailablePercent + storedSliderValue;
                        $(this).slider('value', storedSliderValue);
                    }
                    storedSliderValue = $(this).slider("values", 0);
                    currentAvailablePercent = totalPercent - currentIncrementationPercent;
                }

                if( parseInt(result.value) > ( storedSliderValue+currentAvailablePercent ) ){
                    input_id.val(storedSliderValue);
                    return false;
                }else{
                    input_id.val(result.value);
                }


            },
            change: function(event, result) {
                $('#total_nested_evaluation').html('Total: '+currentIncrementationPercent+'%');

            }
        }); */

    });
</script>