
<div class="wrapper">
  <div class="cards-list comunity-card-list">
    <% friends.each do |f| %>
      <div class="card">
        <div class="card-avatar">
          <%= link_to show_user_path(f.personal_url) do %>
            <span class="avatar-holder">
              <%= avatar('user', '45', 'no', f.id, 'avatar', 'no', 'no') %>
            </span>
          <% end %>
        </div>
        <div class="card-main">
        <% if f.name != nil%>
            <%= link_to truncate( f.name, :omission => "...", :length => 36 ), show_user_path(f.personal_url) %>
          <%end%>
          <%if f.friends?(current_user) %>
                <%= link_to "Eliminar", friendships_update_friend_path(f.id), class: "btn btn-small btn-primary", remote: true %>
          <%else%>
          <% p @user_l.friends_request?(f) %>
          <%@user_l.friends_request?(f) %>
          <div class="user-actions">
            <% case  %>
            <% when  f.friends_request?(@user_l) %>
              <span class="btn btn-small btn-disabled">Solicitud enviada</span>
            <% when  @user_l.friends_request?(f)   %>
              <%= link_to "Aceptar", friendships_update_friend_path(f.id), class: "btn btn-small btn-primary", remote: true %>
            <% else %>
              <div id="add_friend<%=f.id%>">
                <%= link_to "Añadir a amigos", friendships_create_friend_path(f.id), class: "btn btn-small btn-secondary ", remote: true %>
              </div>
            <%end%>

          </div>
         <%end%>

        </div>
      </div>
    <% end %>
  </div>
</div>