<div id="set-password-form">
    <div class="cover_setter_box">
    
	<%= form_tag "/users/set_password", remote: true do%>
	    <%= hidden_field_tag 'user_id', user.id %>
	     <div class="leftlabel">
			<div>
				<%= label_tag :nuevo_password %>
			    <%= password_field_tag :password, :autocomplete => "on"%>
			</div>
		</div>
	    <%= submit_tag "Guardar", :class => 'button-l-k'%>
	<%end%></br>
	<p>Bienvenido a Cúrsame, es necesario que escribas tu contraseña para terminar con el proceso de validación de tu cuenta.</p>
	</div>

</div>
