<div class="overlay-header">
  <div class="overlay-title">
    <h4><%=t('.set_pwd')%></h4>
  </div>
</div>
<%= form_tag "/users/set_password", id: "first-time-set-password-form" do%>
	<div class="overlay-content">

		<div id="set-password-form">
			<p><%=t('.welcome')%></p><br>
				<%= hidden_field_tag 'user_id', user.id %>
				<div class="form-group-main">
	        <span class="input-icon session-icon-input">
						<%= icon('password') %>
	          <%= password_field_tag :password, "", placeholder: t('.pwd'), required: "required", minlength: "6" %>
	        </span>
	      </div>
		</div>
	</div>
	<div class="overlay-footer">
		<span class="btn btn-medium btn-primary input-btn">
			<%= submit_tag t('.save') %>
		</span>
	</div>
<% end %>
<script>
	$(function() {
		$('#first-time-set-password-form').validate();
	});
</script>