<div id="set-password-form">
	<%= form_tag "/users/set_password", remote: true do%>
	    <%= hidden_field_tag 'user_id', user.id %>
	     <div class="leftlabel">
			<div>
				<%= label_tag :nuevo_password %>
			    <%= password_field_tag :password, :autocomplete => "on"%>
			</div>
		</div>
	    <%= submit_tag "Guardar"%>
	<%end%>
</div>