<%= render partial: 'users/shared/user_profile_header' %>
<% unless @user_l.courses.empty? %>
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="sub-profile-title">
            <h3><%=t('.courses2')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="courses-list">
      <div class="cols-12">
        <% @user_l.courses.each do |course| %>
          <%= render partial: 'courses/shared/course_card', locals: { course: course, course_card_footer: false } %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-content-section">
    <% if @user_l == current_user %>
      <h4><%=t('.no_registered')%></h4>
      <p><%=t('.find')%> <%= link_to (t('.courses2'), courses_path) %>.</p>
    <% else %>
      <h4><%=t('.no_members')%></h4>
    <% end %>
  </div>
<% end %>