<h1><%= @user.name %></h1>
<div id="notice-waiting-friend"></div>
<% if @user.id != current_user.id  %>
<% if @friend_a == nil && @pending_relarionships_user_one == nil %>
<div id="form-add-user">
  <%= form_for @friend, :url => create_user_friends_path, :remote => true do |friend| %>
       <%= friend.hidden_field :status_friendship, :value => "1" %>
       <%= friend.submit "+ Solicitud de amistad", :class => "btn"%>
    <%end%></br>
</div>
<%end%>

    <%case%>
        <%when @pending_relarionships_user_two != nil && @pending_relarionships_user_two.friend_two  == @user.id &&  @pending_relarionships_user_two.status_friendship == 1 %>
                <div class ="btn disabled"> Ya le has hecho solicitud de amistad </div></br>
        <%when @pending_relarionships_user_two != nil && @pending_relarionships_user_two.friend_one == @user.id  %>
                <div class ="btn"> Este usuario ha solicitado ser tu amigo </div></br>
                
        <%when @friend_a != nil && @friend_a.friend_two == @user.id && @friend_a.status_friendship == 1 %>
                <div class ="btn disabled"> Ya le has hecho solicitud de amistad </div></br>
        <%when @friend_a != nil && @friend_a.friend_one == @user.id  %>
                <div class ="btn"> Este usuario ha solicitado ser tu amigo </div></br>
         
    <%end%>
<%else%>
  <%= link_to "solicitudes de amistad pendientes", user_waiting_friends_path, :class=>'btn'%></br>

<%end%>


</br>
<%= link_to image_tag(@user.avatar.profile)%></br>
<%= render :partial => "users/menu_member"%>


