


<div id="banner-profile" style="background:url('<%= @user.coverphoto %>'); background-size: 100% 440px; background-position-y: 0px; background-repeat: repeat-y;">
    <div class="banner-shadow">
        <div id="box-titles">
            <ul id="banner-btns" class="list-header">
                <li class="calendar" get-to="#calendar-area" move-sidebar-height="36px" on-load-function="calendar">Calendario</li>
                <li class="calendar" get-to="#full-deliveries-area" move-sidebar-height="36px">Entregas</li>
            </ul>
        </div>



        <div id="box-titles-content" class="box-titles-content-style">

            <div id="calendar-area" style="height: 300px">
              <%= render partial: "calendar/calendar_mini"%>
              <%= render partial: "calendar/list"%>
            </div>
            <div id="full-deliveries-area" style="height: 450px">
              deliveries area
            </div>
        </div>
    </div>
</div>


<!-- Content Post Box -->
<div id="box-content" class="profile-line">
    <!-- SideBar -->
    <div id="side-bar" class="side-left-bar" >
        <!-- User Avatar -->
        <div id="box-user-credential" class="user-layout">
            <div class="thumbnail"  >
              <%= image_tag(@user.avatar.profile)%>
            </div>
            <div class="tagname">
              <%= @user.name %>
            </div>
           
            
        </div>
        <div id="box-profile-info" class="basic-lateral-box margin-top">
            <li class="aboutme"><%= @user.bios %></li>
            <li class="mail"> <%= @user.email %></li>
            <li class="twitter"><%= @user.facebook_link %> </li>
            <li class="facebook"><%= @user.twitter_link%></li>
        </div>
        <%#= current_user.devise_mailer_subdomain%>

        <div id="box-course" class="basic-lateral-box" >
            <h2>cursos</h2>
            <div id="form-new-course" class="form-new-course-lateral">
                <%= render partial: "users/form_course.html.erb"%>
            </div>
            <div id="tabs-courses" class="tabs-style">
                <ul id="ul-tabs">
                    <li class="element-left">
                      <a href="#tabs-courses-1">
                        <div class="content-tab">
                          <span class="title-num"><%= @count_course_iam_member%></span>
                          <span class="title">CURSOS</span>
                        </div>
                      </a>
                    </li>
                    <% permitted_to? :create, :courses do %>
                
                    <li class="element-right">
                      <div id="new-course-btn" class="plus-courses"></div>
                      <a href="#tabs-courses-2">
                        <div class="content-tab">
                          <span class="title-num"><%= @count_course_iam_member_and_owner %></span>
                          <span class="title">CREADOS</span>
                        </div>
                      </a>
                    </li>
                   <%end%>
                </ul>
                <div id="tabs-courses-1">
                    <ul id="course-list" >
                        <% if @course_count == 0%>
                            <li><a href="#">No hay cursos</a></li>
                        <%else%>
                            <% @courses.each do |cu|%>
                                <% @cort = Course.find(cu.course_id)%>
                                   <% if @cort.network_id == current_network.id %>
                                    <% if cu.accepted == true %>
                                        <li><%= link_to "#{@cort.title}", course_path(@cort.id) %></li>
                                    <%end%>
                                   <%end%>
                                <%end%>
                        <%end%>
                    </ul>
                    <div class="view-all"><%= link_to "Ver todos", courses_path%></div>
                </div>
                <div id="tabs-courses-2">
                    <ul id="course-list" >
                        <% if @course_count == 0%>
                            <li><a href="#">No hay cursos</a></li>
                        <%else%>
                            <% @courses.each do |cu|%>
                                <% @cort = Course.find(cu.course_id)%>
                                <% if @cort.network_id == current_network.id %>
                                <% if cu.owner == true%>
                                    <li><%= link_to "#{@cort.title}", course_path(@cort.id) %></li>
                                <%end%>
                                <%end%>
                            <%end%>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
         <% if @user.id == current_user.id %>
            <%= link_to "Solicitudes de amistad", friendships_path%>
            <%else%>
            <%= form_for (@friendship = Frienship.new) do |friendship|%>

             <%= friendship.hidden_field :user_id, :value => current_user.id %>
             <%= friendship.hidden_field :user_id, :value => @user.id %>
             <%= friendship.submit "Agregar a mis amigos"%>

            <%end%>
            <%end%>
      <!-- se comenta amigos para la beta que saldrá el día 15 de febrero -->
         <!--<div id="box-friends" class="basic-lateral-box" >
            <h2>AMIGOS</h2>
            <div id="tabs-friends" class="tabs-style">
                <ul id="ul-tabs">
                    <li class="element-left" style="width:100px!important;">
                        <a href="#tabs-friends-1">
                            <div class="content-tab">
                                <span class="title-num">39</span>
                                <span class="title">amigos</span>
                            </div>
                        </a>
                    </li>
                    <li class="element-right" style="width:130px!important;">
                      <a href="#tabs-friends-2">
                        <div class="content-tab">
                          <span class="title-num">20</span>
                          <span class="title">sugerencias</span>
                        </div>
                      </a>
                    </li>
                </ul>
               
                <div id="tabs-friends-1">
                  <div class="content-avtr">
                      <%#= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                  </div>
                  <div class="view-all"><a href="">Ver Todo</a></div>
                </div>
                <div id="tabs-friends-2">
                  <div class="content-avtr">
                    <%#= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                  
                  </div>
                </div>
            </div>
        </div>-->
        <!--<img src="http://placehold.it/260x350/4D99E0/ffffff&text=cursos" alt="">  -->
    </div>

    <!-- Content -->
    <div id="box-stream-post">
      <%=render :partial => 'shared/post_menu' %>

      <% @comments.reverse.each do |comment| %>
          <%= render :partial => '/shared/comments', :locals => { :comment=>comment } %>
      <%end%>

      <div id="box-comments">
        <div class="general-cir"></div>
        <div id="comment1" class="comment" >
          <div class="arrow-left"></div>
          <div class="header">
            <div class="null-image"></div>
            <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
            <div class="name"> <%#  comment.user.name %></div>  <span>fecha</span>
          </div>
          <div class="content">
            <div class="null-image"></div>
            <%#  comment.comment %>

          </div>

          <div class="footer">
            <img src="/assets/icons/grey-mini-comment.png" class="icon">
            <img src="/assets/icons/grey-mini-like.png" class="icon">
            <div class="labels"><%# comment.comments.count %> Comentarios</div>
            <div class="labels">12 Likes</div>
          </div>
        </div>
      </div>


        <div id="box-comments">
            <div class="general-cir"></div>
                <div id="" class="comment-image" >
                    <div class="arrow-left"></div>
                        <div class="header">
                            <div class="null-image"></div>
                            <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
                            <b>Nombre Usuario</b>  <span>fecha</span>
                        </div>
                    <div class="footer">
                        <div class="content-footer">
                            <img src="/assets/icons/white-mini-comment.png" class="icon">
                            <img src="/assets/icons/white-mini-like.png" class="icon">
                            <div class="labels">20 Comentarios</div>
                            <div class="labels">12 Likes</div>
                        </div>
                    </div>
                    <div class="content" ><img src="/assets/comment_image.jpg" class="single-image"></div>
            </div>
        </div>
      <div id="box-comments">
        <div class="general-cir"></div>

        <div id="" class="comment" >
          <div class="arrow-left"></div>
          <div class="header">
            <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
            <b>Nombre Usuario</b>  <span>fecha</span>
          </div>
          <div class="content">
            <p>Isum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>

          <div class="footer">
            <img src="/assets/icons/grey-mini-comment.png" class="icon">
            <img src="/assets/icons/grey-mini-like.png" class="icon">
            <div class="labels">20 Comentarios</div>
            <div class="labels">12 Likes</div>
          </div>
        </div>
      </div>

    </div>

</div>
