<div id="banner-profile" style="display: none">
  <%@incourse = false%>
  <%= render :partial => 'shared/head_menu' %>
</div>

<%= render partial: 'user-header', locals: { compact: false } %>

<div class="wrapper spaced">
  
  <div id="box-stream-post">
    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>
    
    <div id="timeline" class="tim">
      <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'user'} %>
    </div>
    
    <% if show_joyride(2) == '0' %>
      <%= render :partial => '/shared/user_joyride', :locals => {:wall => @wall,:visible_for => 'network'} %>
    <% end %>       
    
    <%= will_paginate(@wall) %>
  </div>
  
</div>

<!-- Content Post Box -->
<div id="box-content" class="profile-line">
    <!-- SideBar -->
    <div id="side-bar" class="side-left-bar" >

    <div class="friendship_conf" style="margin: 0 auto; clear: both; position: relative; display: block; width: 230px;">
        <!--btones de solicitud de amistad -->
      <div class="send_request btn_blue" style="margin-bottom: 10px; display:none;">Enviar solicitud de amistad</div>
      <div class="sent_request btn_gray" style="margin-bottom: 10px; display:none;">Solicitud enviada</div>
      <div class="reject_request btn_gray" style="margin-bottom: 10px; display:none;">Solicitud rechazada</div>
    </div>
    
    <!-- se comenta amigos para la beta que saldrá el día 15 de febrero -->
      <div id="box-friends" class="basic-lateral-box" >
            <h2><%= current_network.friends_tag %></h2>
            <div id="tabs-friends" class="tabs-style">
                <ul id="ul-tabs" class="tabs-friends-cc">
                    <div class="element-left" style="width:100px!important;">
                        <a class="plus-courses"  id="friend_solicitud" style='margin-left: 194px;' href="<%=show_friends_path(current_user.personal_url)%>"></div>
                            <script>
                                  $(".tabs-friends-cc").hover(
                                           function () {
                                             $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:225px; float:left; margin-top:-30px'><div class='tooltipr'><%=truncate("Para ver las solicitudes de amistad da click en el boton azul de la derecha.", :omission => "...", :length => 155) %></div></span>"));
                                           },
                                           function () {
                                             $(this).find("span:last").remove();
                                           }
                                  );
                              </script>
                        <% @friends = @user_l.friendships.where(:accepted => true)%>
                        <% @inverse_friends = @user_l.inverse_friendships.where(:accepted => true)%>
                        <% @sum_f =  @friends.count +  @inverse_friends.count %>

                        <a href="#tabs-friends-1">
                            <div class="content-tab">
                                <span class="title-num"><%= @sum_f %></span>
                                <span class="title"><%= current_network.friends_tag %></span>
                            </div>
                        </a>
                    </li>
                </ul>

                <div id="tabs-friends-1">
                  <div class="content-avtr">
                      <% @friends.each do |friend|%>
                      <%  @friend = friend.friend%>
                      <div class="friend_id_tooltip<%=@friend.id%>" style="float:left;">
                      
                           <%= link_to image_tag(@friend.avatar.modern, {:class => "avatar-mini"}),show_user_path(@friend.personal_url)  if ( !@friend.avatar.blank? ) %>
                           <%= link_to image_tag(@friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@friend.personal_url)  if (@friend.avatar.blank? )  %>
                        </div>
                        
                       <script>
                                 $(".friend_id_tooltip<%=@friend.id%>").hover(
                                          function () {
                                            $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:35px; float:left; margin-top:-50px'><div class='tooltipr'><%=truncate("#{@friend.name}", :omission => "...", :length => 155) if ( !@friend.name.blank?) %></div></span>"));
                                          },
                                          function () {
                                            $(this).find("span:last").remove();
                                          }
                                 );
                       </script>
                      <%end %>
                      <% @inverse_friends.each do |friend|%>
                      <% @inverse_friend = friend.user%>
                      <div class="friend_id_tooltip<%=@inverse_friend.id%>" style="float:left;">
                      
                      <%=link_to image_tag(@inverse_friend.avatar.modern, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (!@inverse_friend.avatar.blank?)%>
                      <%= link_to image_tag(@inverse_friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (@inverse_friend.avatar.blank?)%>
                      </div>
                      
                       <script>
                             $(".friend_id_tooltip<%=@inverse_friend.id%>").hover(
                                      function () {
                                        $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:35px; float:left; margin-top:-50px'><div class='tooltipr'><%=truncate("#{@inverse_friend.name}", :omission => "...", :length => 155) if ( !@inverse_friend.name.blank?) %></div></span>"));
                                      },
                                      function () {
                                        $(this).find("span:last").remove();
                                      }
                             );
                        </script>
                      <%end%>
                  </div>
                  <div class="view-all" id="comunidad_fgthk"><%= link_to "#{current_network.comunity_tag}", network_comunity_path %></div>
                    <script>
                              $("#comunidad_fgthk").hover(
                                   function () {
                                     $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:-7px; float:left; margin-top:-5px'><div class='tooltipr'><%=truncate("Ver todos los miembros de la #{current_network.comunity_tag}.", :omission => "...", :length => 155) %></div></span>"));
                                   },
                                   function () {
                                     $(this).find("span:last").remove();
                                   }
                                 );

                       </script>
                </div>
            </div>
        </div>

            <div class="video_help friend_user_help" style="display: none" id="friends_help">
                   <div class="content_video" id="content_video_video_friends">

                   </div>
            </div>
    </div>
    
    

   

</div>
<script type="text/javascript">
$(function() {
  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= show_user_path(@user_l.personal_url) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
