<div id="banner-profile" style="background: linear-gradient(to bottom, rgba(39,39,39,0), rgba(39,39,39,1)),
 url(<%= @user_l.coverphoto.blank? ? '/assets/'+ @user_l.cover_photox : @user_l.coverphoto %>); background-size: 100% 440px; background-position-y: 0px; background-repeat: repeat-y;">

<div id="noticce">
	<div id="notice" class="notice"></div>
</div>


  
   <%= render :partial => 'shared/head_menu'%>
</div>
<!-- Content Post Box -->
<div id="box-content" class="profile-line">
    <!-- SideBar -->
    <div id="side-bar" class="side-left-bar" >
        <!-- User Avatar -->
        <div id="box-user-credential" class="network-layout">
            <div class="thumbnail">

             <%= link_to image_tag(@user_l.avatar.profile), show_user_path(@user_l.personal_url) if ( !@user_l.avatar.blank?) %>

              <%= link_to image_tag(@user_l.image_avatarx), show_user_path(@user_l.personal_url) if (@user_l.avatar.blank?) %>
            </div>

            <div class="tagname">
              <%= @user_l.name %>
            </div>

        </div>
        <div id="box-profile-info" class="basic-lateral-box margin-top">
            <li class="aboutme"><%= @user_l.bios %></li>
            <li class="mail"> <%= @user_l.email %></li>
            <li class="twitter"><%= @user_l.facebook_link %> </li>
            <li class="facebook"><%= @user_l.twitter_link%></li>
            <li class=""><%=link_to "editar usuario",  edit_user_registration_path %></li>

        </div>


        <div id="box-course" class="basic-lateral-box" >
            <%=render :partial => 'courses/courses.html.erb', :locals => {:courses => @courses} %>
        </div>
         <%# if @user.id == current_user.id %>
            <%#= link_to "Solicitudes de amistad", friendships_path%>
            <%#else%>
            <%#= form_for (@friendship = Frienship.new) do |friendship|%>

             <%#= friendship.hidden_field :user_id, :value => current_user.id %>
             <%#= friendship.hidden_field :user_id, :value => @user.id %>
             <%#= friendship.submit "Agregar a mis amigos"%>

            <%#end%>
            <%#end%>
      <!-- se comenta amigos para la beta que saldrá el día 15 de febrero -->
      <div id="box-friends" class="basic-lateral-box" >
            <h2>AMIGOS</h2>
            <div id="tabs-friends" class="tabs-style">
                <ul id="ul-tabs">
                    <div class="element-left" style="width:100px!important;">
                        <a class="plus-courses" style='margin-left: 194px;' href="<%=show_friends_path(current_user.personal_url)%>"></div>
                        <% @friends = @user_l.friendships.where(:accepted => true)%>
                        <% @inverse_friends = @user_l.inverse_friendships.where(:accepted => true)%>
                        <% @sum_f =  @friends.count +  @inverse_friends.count %>

                        <a href="#tabs-friends-1">
                            <div class="content-tab">
                                <span class="title-num"><%= @sum_f %></span>
                                <span class="title">amigos</span>
                            </div>
                        </a>
                    </li>
                  <!--   <li class="element-right" style="width:130px!important;">
                      <a href="#tabs-friends-2">
                        <div class="content-tab">
                          <span class="title-num">20</span>
                          <span class="title">sugerencias</span>
                        </div>
                      </a>
                    </li> -->
                </ul>

                <div id="tabs-friends-1">
                  <div class="content-avtr">
                      <% @friends.each do |friend|%>
                      <%  @friend = friend.friend%>
                           <%= link_to image_tag(@friend.avatar.modern, {:class => "avatar-mini"}),show_user_path(@friend.personal_url)  if ( !@friend.avatar.blank? ) %>
                           <%= link_to image_tag(@friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@friend.personal_url)  if (@friend.avatar.blank? )  %>
                      <%end %>
                      <% @inverse_friends.each do |friend|%>
                      <% @inverse_friend = friend.user%>
                      <%=link_to image_tag(@inverse_friend.avatar.modern, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (!@inverse_friend.avatar.blank?)%>
                      <%= link_to image_tag(@inverse_friend.image_avatarxxx, {:class => "avatar-mini"}), show_user_path(@inverse_friend.personal_url) if (@inverse_friend.avatar.blank?)%>
                      <%end%>
                  </div>
                  <div class="view-all"><%= link_to "Comunidad", network_comunity_path %></div>
                </div>
                <!-- <div id="tabs-friends-2">
                  <div class="content-avtr">
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>

                  </div>
                </div>-->
            </div>
        </div>
    </div>

    <!-- Content -->
    <div id="box-stream-post">

      <%=render :partial => 'shared/post_menu' %>
        <%=render :partial => 'shared/wall_filters', :locals => {:path => show_user_path(@user_l.personal_url)} %>
        <div id="timeline">
          <%= render :partial => '/shared/publications', :locals => {:wall => @wall} %>
        </div>
        <!-- fin timeline -->
        <%= will_paginate(@wall) %>

    </div>

</div>
<script type="text/javascript">
$(function() {
  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= show_user_path(@user_l.personal_url) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
