<div id="banner-profile" style="display: none">
  <% @incourse = false %>
  <%= render :partial => 'shared/head_menu' %>
</div>

<%= render partial: 'user-header' %>

<div class="wrapper spaced">
  
  <div id="box-stream-post">
    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>
    
    <div id="timeline" class="tim">
      <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'user'} %>
    </div>
    
    <% if show_joyride(2) == '0' %>
      <%= render :partial => '/shared/user_joyride', :locals => {:wall => @wall,:visible_for => 'network'} %>
    <% end %>       
    
    <%= will_paginate(@wall) %>
  </div>
  
</div>

<script type="text/javascript">
  $(function() {
    var p = $('#timeline').pageless({
      totalPages: <%= @wall.total_pages %>,
      url: '<%= show_user_path(@user_l.personal_url) %>',
      loaderMsg: '...',
      onInit:function(opts){
        this.pageless = {
          opts : opts
        };
      },
      params:{
        search:''
      },
      loaderImage: '<%= image_path("load.gif")%>'
    });
  });
</script>