<%= render partial: 'users/shared/user_profile_header' %>
<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">        
        <% if filter_friendship %>
          <div id="box-stream-post">
            <div id="pk_menu">
              <%=render :partial => 'shared/post_menu' %>
            </div>
            <div id="timeline" class="tim">
              <%= render :partial => "/shared/posts/posts_list", :locals => {:wall => @wall, :visible_for => "user"} %>
            </div>   
            <div id="paginate_wall" onclick="PaginateINwall('/users/<%=@user_l.personal_url%>',2, <%= @wall.total_pages %>)"></div>
          </div>
        <% else %>
          <div class="no-content-section">
            <h4>No eres amigo del usuario <%= @user_l.name%></h4>
            <p>Agrégalo para poder postear en su muro.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>