<!-- Soliciude de amistad pendientes mover a la seccion de amigos -->
<!--
<div id="notice-waiting-friend"></div>
<% if @user.id != current_user.id  %>
    <% if @friend_a == nil && @pending_relarionships_user_one == nil %>
        <div id="form-add-user">
          <%= form_for @friend, :url => create_user_friends_path, :remote => true do |friend| %>
               <%= friend.hidden_field :status_friendship, :value => "1" %>
               <%= friend.submit "+ Solicitud de amistad", :class => "btn"%>
            <%end%>
          </br>
        </div>
    <%end%>

    <%case%>
        <%when @pending_relarionships_user_two != nil && @pending_relarionships_user_two.friend_two  == @user.id &&  @pending_relarionships_user_two.status_friendship == 1 %>
                <div class ="btn disabled"> Ya le has hecho solicitud de amistad </div></br>
        <%when @pending_relarionships_user_two != nil && @pending_relarionships_user_two.friend_one == @user.id  %>
                <div class ="btn"> Este usuario ha solicitado ser tu amigo </div></br>
                
        <%when @friend_a != nil && @friend_a.friend_two == @user.id && @friend_a.status_friendship == 1 %>
                <div class ="btn disabled"> Ya le has hecho solicitud de amistad </div></br>
        <%when @friend_a != nil && @friend_a.friend_one == @user.id  %>
                <div class ="btn"> Este usuario ha solicitado ser tu amigo </div></br>
    <%end%>
<%else%>
  <%= link_to "solicitudes de amistad pendientes", user_waiting_friends_path, :class=>'btn'%>
    </br>
<%end%>-->

<div id="banner-profile" style="background:url('/assets/bannerprofile-clean.png'); background-position-y: -90px;">    
<div class="banner-shadow">
    <div id="box-titles">
        <div>
       		 <ul class="list-header">
       		 	<li class="schools">Escuelas</li> <li class="gallery">Galería</li> <li class="gallery">Galería</li>
       		 </ul>
        </div>
    </div> 
    <div id="box-titles-content">
        <%= render :partial => "users/menu_member"%>
    </div>
</div>
</div>


<!-- Content Post Box -->
<div id="box-content" class="profile-line">


    <!-- SideBar -->
    <div class="box-3" >
        <!-- User Avatar -->
        <div id="box-user-credential">
            <div class="thumbnail"  >
              <%= image_tag(@user.avatar.profile)%>
            </div>
            <div class="tagname">
              <%= @user.name %>
            </div>
        </div>
        <div id="box-profile-info" class="basic-lateral-box">
          <%= current_user.email %>
        </div>

        <div id="box-course" class="basic-lateral-box" >
            <h2>cursos</h2>
            <div id="form-new-course">
                <strong>Cursos form</strong>
                <ul>
                    <div class="content">
                            <%= render partial: "users/form_course.html.erb"%>
                    
                     </div>
                 
                  <div id="accept-course-form" style="float:left;"><img src="http://placehold.it/80x30/4D9900/ffffff&text=aceptar" alt=""></div>
                  <div id="cancel-course-form" style="float:right;"><img src="http://placehold.it/80x30/ff0000/ffffff&text=cancelar" alt=""></div>
                </ul>
            </div>

            <div id="tabs-courses" class="tabs-style">
                <ul id="ul-tabs">
                    <li class="element-left"><a href="#tabs-courses-1"><span class="title-num">13</span><span class="title">CURSOS</span></a></li>
                    <li class="element-right"><div id="new-course" class="plus-courses"></div><a href="#tabs-courses-2"><span class="title-num">5</span><span class="title">CREADOS</span></a></li>
                </ul>
                <div id="tabs-courses-1">
                    <ul id="course-list" >
                    <% if @course_count == 0%>
                        <li><a href="#">No hay cursos</a></li>
                    <%else%>
                        <% @courses.each do |c|%>
                        <li><%= link_to "#{c.title}", course_path(c.id) %></li>
                        <%end%>
                    <%end%>
                    </ul>
                    <div class="view-all"><a href="">Ver Todo</a></div>
                </div>
                <div id="tabs-courses-2">
                    <ul id="course-list" >
                        <li><a href ="#">Trigonometria</a></li>
                        <li><a href ="#">Lenguas Hispanas</a></li>
                        <li><a href ="#">Ingles</a></li>
                        <li><a href ="#">Calculo Integral</a></li>
                        <li><a href ="#">Programación</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="box-friends" class="basic-lateral-box" >
            <h2>AMIGOS</h2>
            <div id="tabs-friends" class="tabs-style">
                <ul id="ul-tabs">
                    <li class="element-left" style="width:43%!important;"><a href="#tabs-friends-1"><span class="title-num">39</span><span class="title">amigos</span></a></li>
                    <li class="element-right" style="width:57%!important;"><a href="#tabs-friends-2"><span class="title-num">20</span><span class="title">sugerencias</span></a></li>
                </ul>
                <div id="tabs-friends-1">
                  <div class="content-avtr">
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                      <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                  </div>
                  <div class="view-all"><a href="">Ver Todo</a></div>
                </div>
                <div id="tabs-friends-2">
                  <div class="content-avtr">
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                    <%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%>
                  </div>
                </div>
            </div>
        </div>
        <!--<img src="http://placehold.it/260x350/4D99E0/ffffff&text=cursos" alt="">  -->
    </div>

    <!-- Content -->
    <div id="box-stream-post">
        <div class="box-6">
            <div id="post">
                <div id="comment-form" style="height: 350px; width: 600px; margin-left:55px; background: #ccc; position: relative; display: none;">
                    <%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network'} %>
                    <div style="float: right; width: 220px">
                        <div id="accept-post-form" style="float: left;"><img src="http://placehold.it/100x30/4D9900/ffffff&text=aceptar" alt=""></div>
                        <div id="cancel-post-form" style="float: right;"><img src="http://placehold.it/100x30/ff0000/ffffff&text=cancelar" alt=""></div>
                    </div>
                </div>
            </div>
            <div id="pre-post-form">
	            <ul class="create">
		          <li class="comment">Comentario</li>
		           <li class="homework">Tarea</li>
		            <li class="discussion">Discusión</li>
		             <li class="test">Cuestionario</li>
		              <li class="poll">Encuesta</li>
		               <li class="event">Evento</li>
	            </ul>     
            </div>
        </div>

        <div id="box-comments">
            <div class="general-cir"></div>
            <div id="comment1" class="comment" >
                <div class="arrow-left"></div>
                <div class="header">
                    <div class="null-image"></div>
                    <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
                    <div class="name">Nombre Usuario</div>  <span>fecha</span>
                </div>
                <div class="content">
                  <div class="null-image"></div>
                  <p>Isum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>

                <div class="footer">
                  <img src="/assets/icons/grey-mini-comment.png" class="icon">
                  <img src="/assets/icons/grey-mini-like.png" class="icon">
                  <div class="labels">20 Comentarios</div>
                  <div class="labels">12 Likes</div>
                </div>
            </div>
        </div>
        <div id="box-comments">
            <div class="general-cir"></div>
                <div id="" class="comment-image" >
                    <div class="arrow-left"></div>
                        <div class="header">
                            <div class="null-image"></div>
                            <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
                            <b>Nombre Usuario</b>  <span>fecha</span>
                        </div>
                    <div class="footer">
                        <div class="content-footer">
                            <img src="/assets/icons/white-mini-comment.png" class="icon">
                            <img src="/assets/icons/white-mini-like.png" class="icon">
                            <div class="labels">20 Comentarios</div>
                            <div class="labels">12 Likes</div>
                        </div>
                    </div>
                    <div class="content" ><img src="/assets/comment_image.jpg" class="single-image"></div>
            </div>
        </div>
      <div id="box-comments">
        <div class="general-cir"></div>

        <div id="" class="comment" >
          <div class="arrow-left"></div>
          <div class="header">
            <div class="avatar"><%= image_tag(@user.avatar.modern,{:class => "avatar-mini"})%></div>
            <b>Nombre Usuario</b>  <span>fecha</span>
          </div>
          <div class="content">
            <p>Isum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lab velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>

          <div class="footer">
            <img src="/assets/icons/grey-mini-comment.png" class="icon">
            <img src="/assets/icons/grey-mini-like.png" class="icon">
            <div class="labels">20 Comentarios</div>
            <div class="labels">12 Likes</div>
          </div>
        </div>
      </div>

    </div>

</div>