<div class="signup-layout"></div>
	<div class="content login" id="titlheader" style="text-align:center;">
		<b>¿Olvidaste tu contraseña?</b>
		<p style="font-size: 16px; margin-top: 10px;">No importa, nosotros te ayudamos a recuperarla, por favor solo agrega el correo electrónico con el cual te diste de alta y presiona el botón de "reactivar contraseña".</p>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<%= devise_error_messages! %>
				
				  <div class="form-signin form-signup" style="height:125px;padding-top:7px;margin-top:40px;display:block;">
					<div><!-- <%= f.label :Por_favor_escribe_tu_correo_electronico %> -->
						<%= f.email_field :email, :class => 'email', :placeholder =>"Correo electrónico" %></div>
						<div><%= f.submit "Reactivar contraseña", :class =>"confirm-btn" %></div>
				<% end %>
	</div>

</div>
	
							<div class="confirmation-links">
					<%= render "devise/shared/links" %>
				</div>