<div class="other-contact">
  <h6><%= t('.text1') %></h6>
  <ul>
    <li>
      <%= icon('contact-mail') %>
      <div class="contact-ways-desc">
        <a href="mailto:hola@cursa.me" title="hola@cursa.me">hola@cursa.me</a>
      </div>
    </li>
    <li>
      <%= icon('contact-phone') %>
      <div class="contact-ways-desc">
        <p>+52 (55) 63 6328 93</p>
      </div>
    </li>
    <li>
      <%= icon('contact-location') %>
      <div class="contact-ways-desc">
        <p>Versalles #94, Colonia Juárez, Cuauhtémoc, Ciudad de México</p>
      </div>
    </li>
  </ul>
</div>
<br>
<a href="https://www.facebook.com/Cursameoficial" target="_blank" class="btn btn-fb btn-full"><%= icon('follow-fb-white') %> <%= t('.follow_us_on_facebook') %></a>
<br>
<a href="https://twitter.com/cursame" target="_blank" class="btn btn-twitter btn-full"><%= icon('follow-twitter-white') %> <%= t('.follow_us_on_twitter') %></a>
