<% resource = User.find(user_id)%>
<% resource_name = :user%>
<%= form_for(resource, :as => :user, :url => registration_path(resource_name), :html => { :method => :put, :class => "default-form user-edit-form"}) do |f| %>
<div id="edituserdmenu">
    <h3>Editar Usuario</h3>
    <div class="box-avatar">
    <div class="clip"></div>
      <div class="box-image">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
          <td><%= image_tag(resource.avatar.profile, :class => "avatar-mini avatar")%></td>
          <td><%= f.file_field :avatar, :class=> 'stylize' %></td>
          </tr>
          <tr>
          <td></td>
          <td>
          <span class="fixelement"><%= f.label :Imagen_de_perfil, :class=> 'avatar-label' %></span>
          <div style="clear: both;">
                <%#= f.fields_for :avatar do |asset| %>
                    <%#= render :partial => "shared/assets_form", :locals => { :f => asset, :isSingle => true } %>
                <%#end%>
          </div>
          </td>
          </tr>
       </table>
      </div><!-- ends box-image -->
      <div class="box-image">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
          <td><%= image_tag(resource.coverphoto, :class => "avatar-mini cover")%></td>
          <td><%= f.file_field :coverphoto, :class=> 'stylize' %></td>
          </tr>
          <tr>
          <td></td>
          <td>
          <span class="fixelement"><%= f.label :imagen_de_portada, :class=> 'coverphoto-label' %></span>
          <div style="clear: both;">
            <%#= f.fields_for :coverphoto do |asset| %>
                <%#= render :partial => "shared/assets_form", :locals => { :f => asset, :isSingle => true } %>
                <%#end%>
          </div>
          </td>
          </tr>
          </table>
      </div>
      <div class="box-cancel">
        <p>¿Quieres darte de baja? <%= link_to "Cancela tu cuenta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
      </div>
    </div><!-- ends box-image -->

  <div class="box-fields edituser">
      <div class="leftlabel">
        <%= f.label :Nombre %>
        <%= f.text_field :first_name %>
      </div>
      <div class="rightlabel">
        <%= f.label :Apellido %>
        <%= f.text_field :last_name %>
      </div>
      <div class="leftlabel">
        <%= f.label :Correo_electronico %>
        <%= f.email_field :email %>
      </div>
      <div class="rightlabel">
        <%= f.label :bio %> <br>
        <%= f.text_area :bios, :rows => 6, :style=>"width:230px" %>
      </div>
      <div class="leftlabel">
        <%= f.label :twitter_link %>
        <%= f.text_field :twitter_link %>
      </div>

      <div class="leftlabel">
        <%= f.label :Direccion %>
        <div style="float:left; clear: both;">
        <div class="personal-url-label" style="padding-top:10px;">http://cursa.me/users/</div><%= f.text_field :personal_url, :class => 'personal-url' %></div>
      </div>
      <div class="passsctn" style="clear: both;background: #eee;width: 526px;height: 80px; padding: 0px 10px; margin-left: -10px; top: 13px; margin-bottom:20px; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;">
        <div class="leftlabel">
          <div><%= f.label :nuevo_password %>
            <%= f.password_field :password, :autocomplete => "off" %></div>
            <!-- (Deja el campo en blanco si no quieres cambiar tu contraseña) -->
      </div>
        <div class="rightlabel">
            <div><%= f.label :confirma_el_password %><br />
            <%= f.password_field :password_confirmation %></div>
      </div>
      <%= f.hidden_field :user_id, :value => resource.id %>
    </div><!-- ends   -->

  </div><!-- ends box-fields -->

  <div class="submit-area"></div>
  <div class="submit-btns" style="margin-top:0px!important;float:right!important;"><%= f.submit "Actualizar" %><%= link_to "Regresar", :back, :class => "a-btn" %></div>

  </div><!-- ends edituserdmenu -->
<% end %>
