<% content_for :body_classes do %>
background-white
<% end %>

<div class="page-normal-header">
  <div class="wrapper spaced">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header-title no-icon">
            <div class="section-title">
              <h1><%=t('.edit')%></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "default-form user-edit-form"}) do |f| %>

  <div class="wrapper ver-spaced">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">

          <%= devise_error_messages! %>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :first_name, t('.name') + ':'  %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.text_field :first_name, required: "required" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :last_name, t('.last_name') + ':' %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.text_field :last_name, required: "required" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :bios, t('.bios') + ':' %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.text_area :bios, :rows => 6, required: "required" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :email, t('.email') %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.email_field :email, required: "required" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :twitter_link, 'Twitter:' %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.text_field :twitter_link, :placeholder => t('.example') + ': https://twitter.com/cursame' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :personal_url, t('.dir') + ':'%>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <div class="user-custom-url-wrap">
                  <%= icon('green-checkmark') %>
                  <%= icon('red-x') %>
                  <span>http://cursa.me/users/</span>
                  <%= f.text_field :personal_url, :class => 'personal-url' %>
                </div>
                <span id="url-status"></span>
                <p><%=t('.text1')%>  (¨,:*`^;/ \) <%=t('.text2')%></p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :password, t('.new_pwd') + ':' %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.password_field :password, :autocomplete => "off", :minlength => 6 %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
              <%= f.label :password_confirmation, t('.confirm_new_pwd') + ':' %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= f.password_field :password_confirmation, :minlength => 6 %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-label">
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <p><%=t('.down')%> <%= link_to t('.cancel'), destroy_user_with_parts_path(current_user.id), confirm: t('.confirm_delete') %>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper ver-spaced clearfix">
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <div class="fl">
            <%= link_to t('.cancel2'), :back, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
      <div class="col col-8">
        <div class="col-inner">
          <div class="fr">
            <ul class="list-buttons right">
              <li>
                <%= f.password_field :current_password, placeholder: t('.current_pwd'), required: "required", minlength: 6 %>
              </li>
              <li>
                <span class="btn btn-primary input-btn">
                  <%= f.submit t('.update') %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
<script>

  function readURL(input,id) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
          var width = $('.'+id).width();
          var height = $('.'+id).height();


      reader.onload = function (e) {
        $('.'+id)
        .attr('src', e.target.result)
        .width(width)
        .height(height);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $(function() {

    $("#user_personal_url").keyup(function () {
      var value = $(this).val();
      $(this).val(value.replace(/[^a-z0-9]/gi,''));
      var url = '/personlization_url_corroborate/'+value+"";
      $.get(""+url+"");
    });

    $('#edit_user').validate({
      rules: {
        "user[twitter_link]": {
          url: true
        },
        "user[password_confirmation]": {
          equalTo: "#user_password"
        }
      }
    });

  });
</script>
