
<% if current_network.nil? %>
  <div class="login">
    <p>Lo sentimos pero la red a la que estas intentado accesar no existe, pregunta a un encargado de tu escuela él sabrá ayudarte. <br>
    <%= link_to "Ir al inicio", "http://www.cursa.me" %></p>
    <h5>¡Gracias!</h5>
  </div>
<% else %>
  
  <div class="user-sessions-wrap user-sessions-medium">
    <div class="user-sessions-network-brand">
      <% if current_network.free || current_network.logo.file == nil %>
        <%= link_to icon('logo-cursame'), root_path, title: current_network.name, class: "free_network" %>
      <% else %>
        <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
      <% end %>
      <div class="header-link">
        <%= link_to "¿Ya eres usuario? Ingresa →", new_session_path(resource_name) %>
      </div>
    </div>
    <div class="user-sessions-main">
      <div class="user-session-content">
        <% if current_network.register_form == true %>
          <p>Lo sentimos pero la red a la que estas intentado no permite el registro público. pregunta a un encargado de tu escuela él sabrá ayudarte.</p><br>
          <%= link_to "Ir a la página principal", "/users/sign_in" %>
        <% else %>

          <%= devise_error_messages! %>
          <div id="error_message"></div>
          
          <h4>Regístrate</h4><br>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= f.hidden_field :personal_url, :class => "pswdcode", :value => random_string_for_user_url %>
            <%= f.hidden_field :subdomain, :class => "pswdcode", :value => current_network.subdomain%>
            <%= f.hidden_field :domain, :class => "pswdcode", :value => request.domain %>
            <%= f.hidden_field :avatar, :class => "psdcode", :value => '/assets/imagex.png'%>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :email, 'Correo electrónico:' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.email_field :email, :class => "email",:placeholder =>"Correo electrónico" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :first_name, 'Nombre(s):' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.text_field :first_name, :class => "pswd",:placeholder =>"Nombre(s)" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :last_name, 'Apellidos:' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.text_field :last_name, :class => "pswd",:placeholder =>"Apellidos" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :password, 'Contraseña:' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.password_field :password, :class => "pswd",:placeholder =>"Contraseña" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :password_confirmation, 'Confirmar contraseña:' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.password_field :password_confirmation, :class => "pswd", :placeholder =>"Confirmacion de contraseña" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :role_id, 'Tipo de usuario:' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <% networks = @user.permissionings.build %>
                  <%= f.fields_for :permissionings do |permissioning|%>
                    <%= permissioning.hidden_field :network_id, :value => current_network.id %>
                    <%= permissioning.select :role_id, options_for_select([['Soy alumno', '2'], ['Soy profesor', '3']]), :class =>"default-form dropperDwn" %>
                  <%end%>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label label-right">
                <%= f.check_box :accepted_terms %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <label for="user_accepted_terms" style="display: block; padding-top: 6px;">Acepto los <%= link_to "Términos y Condiciones", conditions_path, target: '_blank' %>.</label>
                </div>
              </div>
            </div>

            <div class="user-sessions-footer">
              <div class="fr">
                <span class="btn btn-primary btn-medium input-btn">
                  <%= f.submit "Registrarme" %>
                </span>
              </div>
            </div>
            
          <% end %>

        <% end %>
      </div>

      <div class="user-session-links">
        <%= render partial: 'devise/shared/links', locals: { login: false, signup: false, password: true, confirmation: true, unlock: true } %>
      </div>

    </div>
  </div>

<%end%>

<script>
 
  $("#user_email").keyup(function () {
      var value = $(this).val();
      if (value ==" " || value == ""){             
             $(this).css('border',' solid 1px #EE1D1D');
             $('.signup-btn').attr("disabled", true);
             $('.signup-btn').css('background', '#EE1D1D');
             $('.signup-btn').css('cursor', 'default');
             $('#sin_user_email').remove();
             $('#error_message').append('<div id="sin_user_email" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de email sin llenar</div>');
             

         }else{
             $(this).css('border',' solid 1px #c9c9c9'); 
             $('.signup-btn').attr("disabled", false);
             $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
             $('.signup-btn').css('cursor', 'pointer');
             $('#sin_user_email').remove();
             
             
         }
     
  });
  $("#user_first_name").keyup(function () {
      var value = $(this).val();
       if (value ==" " || value == ""){             
                $(this).css('border',' solid 1px #EE1D1D');
                $('.signup-btn').attr("disabled", true);
                $('.signup-btn').css('background', '#EE1D1D');
                $('.signup-btn').css('cursor', 'default');
                $('#sin_user_first_name').remove();
                $('#error_message').append('<div id="sin_user_first_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de nombre sin llenar</div>');


            }else{
                $(this).css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_first_name').remove();


            }

   });
   $("#user_last_name").keyup(function () {
         var value = $(this).val();
          if (value ==" " || value == ""){             
                     $(this).css('border',' solid 1px #EE1D1D');
                     $('.signup-btn').attr("disabled", true);
                     $('.signup-btn').css('background', '#EE1D1D');
                     $('.signup-btn').css('cursor', 'default');
                     $('#sin_user_last_name').remove();
                     $('#error_message').append('<div id="sin_user_last_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de apellidos sin llenar</div>');


                 }else{
                     $(this).css('border',' solid 1px #c9c9c9'); 
                     $('.signup-btn').attr("disabled", false);
                     $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                     $('.signup-btn').css('cursor', 'pointer');
                     $('#sin_user_last_name').remove();


                 }

    });
   $("#user_password").keyup(function () {
             var value = $(this).val();
              if (value ==" " || value == ""){             
                          $(this).css('border',' solid 1px #EE1D1D');
                          $('.signup-btn').attr("disabled", true);
                          $('.signup-btn').css('background', '#EE1D1D');
                          $('.signup-btn').css('cursor', 'default');
                          $('#sin_user_password').remove();
                          $('#error_message').append('<div id="sin_user_password" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de contraseña sin llenar</div>');


                      }else{
                          $(this).css('border',' solid 1px #c9c9c9'); 
                          $('.signup-btn').attr("disabled", false);
                          $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                          $('.signup-btn').css('cursor', 'pointer');
                          $('#sin_user_password').remove();


                      }

   });
   
   $("#user_password_confirmation").keyup(function () {
                var value = $(this).val();
                 if (value ==" " || value == ""){             
                              $(this).css('border',' solid 1px #EE1D1D');
                              $('.signup-btn').attr("disabled", true);
                              $('.signup-btn').css('background', '#EE1D1D');
                              $('.signup-btn').css('cursor', 'default');
                              $('#sin_user_password_confirmation').remove();
                              $('#error_message').append('<div id="sin_user_password_confirmation" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de confirmar contraseña sin llenar</div>');


                          }else{
                              $(this).css('border',' solid 1px #c9c9c9'); 
                              $('.signup-btn').attr("disabled", false);
                              $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                              $('.signup-btn').css('cursor', 'pointer');
                              $('#sin_user_password_confirmation').remove();


                          }

    });
    
    $("#user_accepted_terms").click(function () {
                  var value = $(this).val();
                  var checked = $(this).attr('checked');
                  console.log(checked);
                  
                  if (checked == null){             
                      $('.terms_box').css('border',' solid 1px #EE1D1D');
                      $('.signup-btn').attr("disabled", true);
                        $('.signup-btn').css('background', '#EE1D1D');
                        $('.signup-btn').css('cursor', 'default');
                        $('#sin_user_accepted_terms').remove();
                        $('#error_message').append('<div id="sin_user_accepted_terms" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Términos y condiciones del sitio sin llenar.</div>');
                  }else{
                      $('.terms_box').css('border',' solid 1px #fff'); 
                      $('.signup-btn').attr("disabled", false);
                      $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                      $('.signup-btn').css('cursor', 'pointer');
                      $('#sin_user_user_accepted_terms').remove();
                      
                  }

      });
      
  
      $('#new_user').submit(function(){
            var email = $("#user_email").val();
            var nombre = $("#user_first_name").val();
            var apellidos = $("#user_last_name").val();
            var password = $("#user_password").val();
            var confirmed_password = $("#user_password_confirmation").val();
            var terms = $("#user_accepted_terms").attr('checked');
            
            if(email == " " || email == ""){
                 $('#user_email').css('border',' solid 1px #EE1D1D');
                 //$('.signup-btn').attr("disabled", true);
                 $('.signup-btn').css('background', '#EE1D1D');
                 $('#sin_user_email').remove();
                 $('#error_message').append('<div id="sin_user_email" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de email sin llenar</div>');
               return false;
            }else if(nombre == " " || nombre == ""){
                 $('#user_first_name').css('border',' solid 1px #EE1D1D');
                 //$('.signup-btn').attr("disabled", true);
                 $('.signup-btn').css('background', '#EE1D1D');
                 $('#sin_user_first_name').remove();
                 $('#error_message').append('<div id="sin_user_first_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de nombre sin llenar</div>');
               return false;    
            }else if(apellidos == " " || apellidos == ""){
                  $('#user_last_name').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_last_name').remove();
                  $('#error_message').append('<div id="sin_user_last_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de apellidos sin llenar</div>');
               return false;   
            }else if(password == " " || password == ""){
                  $('#user_password').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_password').remove();
                  $('#error_message').append('<div id="sin_user_password" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de contraseña sin llenar</div>');
               return false;   
            }else if(confirmed_password == " " || confirmed_password == ""){
                  $('#user_password_confirmation').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_password_confirmation').remove();
                  $('#error_message').append('<div id="sin_user_password_confirmation" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de confirmar contraseña sin llenar</div>');
               return false;   
            }else if(terms == null){
                    $('.terms_box').css('border',' solid 1px #EE1D1D');
                    //$('.signup-btn').attr("disabled", true);
                    $('.signup-btn').css('background', '#EE1D1D');
                    $('#sin_user_accepted_terms').remove();
                    $('#error_message').append('<div id="sin_user_accepted_terms" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Términos y condiciones del sitio sin llenar.</div>');
               return false;   
            }else{
                $('#user_email').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_email').remove();
                
                $('#user_first_name').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_first_name').remove();
                
                $('#user_last_name').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_last_name').remove();
                
                $('#user_password').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_password').remove();
                
                $('#user_password_confirmation').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');       
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_password_confirmation').remove();
                
                $('.terms_box').css('border',' solid 1px #fff'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_user_accepted_terms').remove();
                
               return true;       
           }
      });
</script>
