<% if current_network.nil? %>
  <%= render partial: "/shared/sessions/network_not_exist" %>
<% else %>
  <div class="user-sessions-wrap user-sessions-medium">
    <%= render partial: "shared/sessions/network_box_head", locals: { sign_up: false, sign_in: true } %>
    <div class="user-sessions-main">
      <div class="user-session-content">
        <% unless current_network.register_form %>
          <p><%=t('.text1')%></p><br>
          <%= link_to t('.text2'), "/users/sign_in" %>
        <% else %>

          <% if request.env['PATH_INFO'] == '/teachers/sign_up' %>
            <h4><%=t('.teacher')%></h4><br>
          <% else %>
            <h4><%=t('.student')%></h4><br>
          <% end %>
          <% unless devise_error_messages!.blank? %>
            <div class="user-session-errors">
              <%= devise_error_messages! %>
            </div>
          <% end %>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "sign-up-form" }) do |f| %>
            <%= f.hidden_field :personal_url, :class => "pswdcode", :value => random_string_for_user_url %>
            <%= f.hidden_field :subdomain, :class => "pswdcode", :value => current_network.subdomain %>
            <%= f.hidden_field :domain, :class => "pswdcode", :value => request.domain %>
            <%= f.hidden_field :avatar, :class => "psdcode", :value => '/assets/imagex.png'%>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :email, t('.email') + ':' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.email_field :email, placeholder: t('.email'), required: "required", autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :first_name, t('.name') + ':' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.text_field :first_name, placeholder: t('.name'), required: "required", autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :last_name, t('.last_name') %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.text_field :last_name, placeholder: t('.last_name'), required: "required", autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :password, t('.pwd') + ':' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.password_field :password, placeholder: t('.pwd'), required: "required", autocomplete: "off", minlength: "6" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label">
                <%= f.label :password_confirmation, t('.confirm_pwd') + ':' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <%= f.password_field :password_confirmation, placeholder: t('.confirm_pwd2'), required: "required", autocomplete: "off", minlength: "6" %>
                </div>
              </div>
            </div>
            <%= f.hidden_field :self_register, value: true %>
            <div class="form-group">
              <div class="form-group-label" style="display: none;">
                <%= f.label :role_id, t('.type') + ':' %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <% networks = @user.permissionings.build %>
                  <%= f.fields_for :permissionings do |permissioning|%>
                    <%= permissioning.hidden_field :network_id, :value => current_network.id %>
                    <% if request.env['PATH_INFO'] == '/teachers/sign_up' %>
                      <%= permissioning.hidden_field :role_id, :value => '3' %>
                    <% else %>
                      <%= permissioning.hidden_field :role_id, :value => '2' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group-label label-right">
                <%= f.check_box :accepted_terms, required: "required" %>
              </div>
              <div class="form-group-main">
                <div class="form-unit">
                  <label for="user_accepted_terms" style="display: block; padding-top: 6px;"><%=t('.accept')%> <%= link_to t('.terms'), conditions_path, target: '_blank' %>.</label>
                </div>
              </div>
            </div>

            <div class="user-sessions-footer">
              <div class="fr">
                <span class="btn btn-primary btn-medium input-btn">
                  <%= f.submit t('.sign_in') %>
                </span>
              </div>
            </div>

          <% end %>
        <% end %>
      </div>

      <div class="user-session-links">
        <%= render partial: 'devise/shared/links', locals: { login: false, signup: false, password: true, confirmation: true, unlock: true } %>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      $('.sign-up-form').validate({
        rules: {
          "user[password_confirmation]": {
            equalTo: "#user_password"
          }
        },
        messages: {
          "user[password_confirmation]": {
            equalTo: "Escribe la misma contraseña en los dos campos."
          }
        }
      });
  });
  $(document).ready(function(){
    if($("#user_permissionings_attributes_1_network_id").length == 1) {
       $('#user_permissionings_attributes_1_network_id').remove();
       $('#user_permissionings_attributes_1_role_id').remove();
    }
  });
  </script>
<% end %>
