<% if current_network.nil? %>
<script>
$(document).ready(function() {
    $("#bg").ezBgResize();
});

</script>
<% if current_network.image_front.file != nil%>

  <div class="signup-restore" style='background-image:url("<%= current_network.image_front %>") !important; background-size: 120%;'></div>
  <%else%>
  <div class="signup-restore"></div>

<%end%>

<div class="login">
    <p>
    <b>Lo sentimos pero la red a la que estas intentado accesar no existe</b></br>
    <b>pregunta a un encargado de tu escuela él sabrá ayudarte.</b></br>
    
    <h1 style="font-size:65px;color:#000;text-align:center;margin-top:40px;">¡Gracias!</h1></br>
    <center>
    <b style="text-align:center;"><%= link_to "Ir al inicio", "http://www.cursa.me" %></b>
    </center>
    
    </p>
    <br><br>
    <center>
</div>
<%else%>

<% if current_network.register_form == true%>
<div class="signup-restore"></div>

   <div class="login">
       <p>
       <b>Lo sentimos pero la red a la que estas intentado no permite el registro público.</b></br>
       <b>pregunta a un encargado de tu escuela él sabrá ayudarte.</b></br>

       <h1 style="font-size:65px;color:#000;text-align:center;margin-top:40px;">¡Gracias!</h1></br>
       <center>
       <b style="text-align:center;"><%= link_to "Ir a la página principal", "/users/sign_in" %></b>
       </center>

       </p>
       <br><br>
       <center>
   </div>
<%else%>
<% if current_network.image_front.file != nil%>

  <div class="signup-restore" style='background-image:url("<%= current_network.image_front %>") !important; background-size: 120%;'></div>
  <%else%>
  <div class="signup-restore"></div>

<%end%>

<div class="content login" id="titlheader">

		<p style="background: rgba(95,150,191,0.4); text-align: center; padding: 20px 0 14px 0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;"><b style="font-size: 23px;">Regístrate en Cúrsame</b></p>


<div id="Register_Singin" class="confirmationIndexHeader" style="width: 700px; height: 625px; margin: 0 auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; overflow: auto;">

	<div class="" style="float: left; width: 319px; margin: 10px auto; padding: 15px;">
		<p>C&uacute;rsame conecta a directivos, profesores y alumnos permiti&eacute;ndoles interactuar social y acad&eacute;micamente.</p>
		
		<div class="SliderLogin" style="display: block; position: relative; margin: 15px auto 0px -15px; width: 370px; height: 300px; overflow: hidden;">

			<div class="banner">
        <div class="contentSlider video">
        <p style="font-size: 16px; margin-top: 42px; text-align: center;">Conoce un poco más de <b style="font-size: 16px;">Cúrsame</b></p>
        </div>
        
        <div class="contentSlider plataforma">
        <p style="font-size: 16px; margin-top: 22px; text-align: center;"><b style="font-size: 16px;">Cúrsame</b> ofrece una plafatorma de aprendizaje dentro de una red social educativa</p>
        </div>

        <div class="contentSlider funciones">
        <p style="font-size: 16px; margin-top: 42px; text-align: center;">Contamos con funciones simples pero poderosas para ayudarte a ser más productivo</p>
        </div>
			</div>
		</div>
		
<ul class="styleNav" style="margin: 0 auto; position: relative; display: block; width: 50px; margin-top: 15px; padding-left: 25px;">
	<li><a id="idone" style="cursor: pointer;"><img src="../assets/circle.png" border="0"></a></li>
	<li><a id="idtwo" style="cursor: pointer;"><img src="../assets/circle.png" border="0"></a></li>
	<li><a id="idtree" style="cursor: pointer;"><img src="../assets/circle.png" border="0"></a></li>
</ul>


<script type="text/javascript">
    $('#idone').click( function() { $('.banner').animate({left: '0px'}, 800); });
    $('#idtwo').click( function() { $('.banner').animate({left: '-380px'}, 600); });
    $('#idtree').click( function() { $('.banner').animate({left: '-750px'}, 800); });
    
    $('.video').click( function() {
		window.location = "http://www.youtube.com/watch?v=aeMPQJ6VhmQ"
    });
    
    $('.styleNav li img').click ( function() {
    	$('.styleNav li img').css({ opacity: "0.5" });
    	$(this).css({ opacity: "1" });
    });
</script>

<!--
<script type="text/javascript">
	var number = [ one, two, tree ];
    $('#id+number').click( function() {
    		$('.banner').animate({left: '-300px'});
    });
</script>
-->
	 <div style="background:#FFF; padding:20px; margin:10px; display:none;">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </div> 
		
		<div class="confirmation-links" style="text-align: left; font-size: 12px; line-height: 1.5em;">
			<%- if controller_name != 'sessions' %>
			  <%= link_to "¿Ya eres usuario? Ingresa", new_session_path(resource_name) %><br />
			<% end -%>
			<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			  <%= link_to "¿No recibiste las instrucciones de confirmación?", new_confirmation_path(resource_name) %><br />
			<% end -%>
			<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
			  <%= link_to "¿No recibiste las instrucciones de desbloqueo?", new_unlock_path(resource_name) %><br />
			<% end -%>
		</div>
		
	</div>

	<div class="rgister" style="width: 330px; background: #FFF; float: right; padding-bottom: 10px;">
		<div class="login-heading">Por favor, llena los siguientes datos</div>
			<%= devise_error_messages! %>
			<div id="error_message"></div>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<div><!-- <%= f.label :email %><br /> --> <%= f.email_field :email, :class => "email",:placeholder =>"Correo electrónico" %></div>
		<div><!-- <%= f.label :first_name %><br /> --> <%= f.text_field :first_name, :class => "pswd",:placeholder =>"Nombre(s)" %></div>
		<div><!-- <%= f.label :last_name %><br /> --> <%= f.text_field :last_name, :class => "pswd",:placeholder =>"Apellidos" %></div>
		<div><!-- <%= f.label :password %><br /> --> <%= f.password_field :password, :class => "pswd",:placeholder =>"Contraseña" %></div>		

		<div><!-- <%= f.label :password_confirmation %><br /> --> <%= f.password_field :password_confirmation, :class => "pswd", :placeholder =>"Confirmacion de contraseña" %></div>
		<!-- <div style="color:#bbb;text-align:center;font-size:14px;font-weight:lighter;margin-top:23px;">Codigo de confirmación</div> -->
		<%= f.hidden_field :personal_url, :class => "pswdcode", :value => random_string_for_user_url %>
    	<%= f.hidden_field :subdomain, :class => "pswdcode", :value => current_network.subdomain%>
		<%= f.hidden_field :domain, :class => "pswdcode", :value => request.domain %>
		<%= f.hidden_field :avatar, :class => "psdcode", :value => '/assets/imagex.png'%>

		<div class="dropperDwn">
	       <!--muy importante estas lineas sirven para machar la red en caso de que exista una current_network con lo cual el usuario al crearse puede ingresar directamente a la red -->
	       <% 1.times do networks = @user.permissionings.build end %>
		       <%= f.fields_for :permissionings do |permissioning|%>
	           <%= permissioning.hidden_field :network_id, :value => current_network.id %>
	           <%= permissioning.select :role_id, options_for_select([['Soy alumno', '2'], ['Soy profesor', '3']]), :class =>"default-form dropperDwn" %>
	       <%end%>
	   </div>
		<div class="terms" style="width: 285px;font-size: 12px!important; color: #CCC; height: 120px; margin: 0 auto; margin: 10px auto; overflow: auto;">
		    <%= render partial: "home/terms_and_conditions"%>
		</div>
		

		
		<label class="terms_box" style="color: #6a6a6a; font-size: 12px; margin-left: 10px; width: 200px;">
			<%= f.check_box :accepted_terms %> <label></label><span>Acepto los términos y condiciones</span>
		</label>
		
		<%= f.submit "Registrarme", :class =>"signup-btn" %>
		
		<% end %>
		
	</div><!-- ends form-signup -->
</div><!-- ends content login -->

</div>

<!-- <%= render "devise/shared/links" %> -->

<div style="margin-bottom:20px;"><%= render "devise/shared/footer-links" %></div>
<%end%>
<%end%>
<script>
 
  $("#user_email").keyup(function () {
     var value = $(this).val();
      if (value ==" " || value == ""){             
             $(this).css('border',' solid 1px #EE1D1D');
             $('.signup-btn').attr("disabled", true);
             $('.signup-btn').css('background', '#EE1D1D');
             $('.signup-btn').css('cursor', 'default');
             $('#sin_user_email').remove();
             $('#error_message').append('<div id="sin_user_email" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de email sin llenar</div>');
             

         }else{
             $(this).css('border',' solid 1px #c9c9c9'); 
             $('.signup-btn').attr("disabled", false);
             $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
             $('.signup-btn').css('cursor', 'pointer');
             $('#sin_user_email').remove();
             
             
         }
     
  });
  $("#user_first_name").keyup(function () {
      var value = $(this).val();
       if (value ==" " || value == ""){             
                $(this).css('border',' solid 1px #EE1D1D');
                $('.signup-btn').attr("disabled", true);
                $('.signup-btn').css('background', '#EE1D1D');
                $('.signup-btn').css('cursor', 'default');
                $('#sin_user_first_name').remove();
                $('#error_message').append('<div id="sin_user_first_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de nombre sin llenar</div>');


            }else{
                $(this).css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_first_name').remove();


            }

   });
   $("#user_last_name").keyup(function () {
         var value = $(this).val();
          if (value ==" " || value == ""){             
                     $(this).css('border',' solid 1px #EE1D1D');
                     $('.signup-btn').attr("disabled", true);
                     $('.signup-btn').css('background', '#EE1D1D');
                     $('.signup-btn').css('cursor', 'default');
                     $('#sin_user_last_name').remove();
                     $('#error_message').append('<div id="sin_user_last_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de apellidos sin llenar</div>');


                 }else{
                     $(this).css('border',' solid 1px #c9c9c9'); 
                     $('.signup-btn').attr("disabled", false);
                     $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                     $('.signup-btn').css('cursor', 'pointer');
                     $('#sin_user_last_name').remove();


                 }

    });
   $("#user_password").keyup(function () {
             var value = $(this).val();
              if (value ==" " || value == ""){             
                          $(this).css('border',' solid 1px #EE1D1D');
                          $('.signup-btn').attr("disabled", true);
                          $('.signup-btn').css('background', '#EE1D1D');
                          $('.signup-btn').css('cursor', 'default');
                          $('#sin_user_password').remove();
                          $('#error_message').append('<div id="sin_user_password" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de contraseña sin llenar</div>');


                      }else{
                          $(this).css('border',' solid 1px #c9c9c9'); 
                          $('.signup-btn').attr("disabled", false);
                          $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                          $('.signup-btn').css('cursor', 'pointer');
                          $('#sin_user_password').remove();


                      }

   });
   
   $("#user_password_confirmation").keyup(function () {
                var value = $(this).val();
                 if (value ==" " || value == ""){             
                              $(this).css('border',' solid 1px #EE1D1D');
                              $('.signup-btn').attr("disabled", true);
                              $('.signup-btn').css('background', '#EE1D1D');
                              $('.signup-btn').css('cursor', 'default');
                              $('#sin_user_password_confirmation').remove();
                              $('#error_message').append('<div id="sin_user_password_confirmation" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de confirmar contraseña sin llenar</div>');


                          }else{
                              $(this).css('border',' solid 1px #c9c9c9'); 
                              $('.signup-btn').attr("disabled", false);
                              $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                              $('.signup-btn').css('cursor', 'pointer');
                              $('#sin_user_password_confirmation').remove();


                          }

    });
    
    $("#user_accepted_terms").click(function () {
                  var value = $(this).val();
                  var checked = $(this).attr('checked');
                  console.log(checked);
                  
                  if (checked == null){             
                      $('.terms_box').css('border',' solid 1px #EE1D1D');
                      $('.signup-btn').attr("disabled", true);
                        $('.signup-btn').css('background', '#EE1D1D');
                        $('.signup-btn').css('cursor', 'default');
                        $('#sin_user_accepted_terms').remove();
                        $('#error_message').append('<div id="sin_user_accepted_terms" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Términos y condiciones del sitio sin llenar.</div>');
                  }else{
                      $('.terms_box').css('border',' solid 1px #fff'); 
                      $('.signup-btn').attr("disabled", false);
                      $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                      $('.signup-btn').css('cursor', 'pointer');
                      $('#sin_user_user_accepted_terms').remove();
                      
                  }

      });
      
  
      $('#new_user').submit(function(){
            var email = $("#user_email").val();
            var nombre = $("#user_first_name").val();
            var apellidos = $("#user_last_name").val();
            var password = $("#user_password").val();
            var confirmed_password = $("#user_password_confirmation").val();
            var terms = $("#user_accepted_terms").attr('checked');
            
            if(email == " " || email == ""){
                 $('#user_email').css('border',' solid 1px #EE1D1D');
                 //$('.signup-btn').attr("disabled", true);
                 $('.signup-btn').css('background', '#EE1D1D');
                 $('#sin_user_email').remove();
                 $('#error_message').append('<div id="sin_user_email" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de email sin llenar</div>');
               return false;
            }else if(nombre == " " || nombre == ""){
                 $('#user_first_name').css('border',' solid 1px #EE1D1D');
                 //$('.signup-btn').attr("disabled", true);
                 $('.signup-btn').css('background', '#EE1D1D');
                 $('#sin_user_first_name').remove();
                 $('#error_message').append('<div id="sin_user_first_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de nombre sin llenar</div>');
               return false;    
            }else if(apellidos == " " || apellidos == ""){
                  $('#user_last_name').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_last_name').remove();
                  $('#error_message').append('<div id="sin_user_last_name" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de apellidos sin llenar</div>');
               return false;   
            }else if(password == " " || password == ""){
                  $('#user_password').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_password').remove();
                  $('#error_message').append('<div id="sin_user_password" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de contraseña sin llenar</div>');
               return false;   
            }else if(confirmed_password == " " || confirmed_password == ""){
                  $('#user_password_confirmation').css('border',' solid 1px #EE1D1D');
                  //$('.signup-btn').attr("disabled", true);
                  $('.signup-btn').css('background', '#EE1D1D');
                  $('#sin_user_password_confirmation').remove();
                  $('#error_message').append('<div id="sin_user_password_confirmation" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Campo de confirmar contraseña sin llenar</div>');
               return false;   
            }else if(terms == null){
                    $('.terms_box').css('border',' solid 1px #EE1D1D');
                    //$('.signup-btn').attr("disabled", true);
                    $('.signup-btn').css('background', '#EE1D1D');
                    $('#sin_user_accepted_terms').remove();
                    $('#error_message').append('<div id="sin_user_accepted_terms" style="color:#EE1D1D; padding:5px; margin-left:12px; font-size:12px; font-style:oblique; ">Términos y condiciones del sitio sin llenar.</div>');
               return false;   
            }else{
                $('#user_email').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_email').remove();
                
                $('#user_first_name').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_first_name').remove();
                
                $('#user_last_name').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_last_name').remove();
                
                $('#user_password').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_password').remove();
                
                $('#user_password_confirmation').css('border',' solid 1px #c9c9c9'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');       
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_password_confirmation').remove();
                
                $('.terms_box').css('border',' solid 1px #fff'); 
                $('.signup-btn').attr("disabled", false);
                $('.signup-btn').css('background-image', '-webkit-linear-gradient(top, rgb(248, 96, 73), rgb(214, 67, 45))');
                $('.signup-btn').css('cursor', 'pointer');
                $('#sin_user_user_accepted_terms').remove();
                
               return true;   
               
                
                
           }
        
            
          
         
      });
</script>
