
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Administración", managers_wall_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Usuarios", managers_members_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Settings", managers_network_configuration_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Biblioteca", managers_library_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Correo Masivo", massive_mails_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Importar usuarios", managers_import_users_path %></li>
<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%= link_to "Importar cursos", managers_import_courses_path %></li>
