<li class=""> <img src="/assets/icons/icon_admin.png" class="icon"> <%= link_to "Adminstración", managers_path %></li>
<li class=""> <img src="/assets/icons/icon_user.png" class="icon"> <%= link_to "Usuarios", managers_members_path %></li>
<li class=""> <img src="/assets/icons/icon_settings_white.png" class="icon"> <%= link_to "Configuración", managers_network_configuration_path %></li>
<!--<li class=""> <img src="/assets/icons/file_icon_white.png" class="icon"> <%#= link_to "Biblioteca", managers_library_path %></li>-->
<li class=""> <img src="/assets/icons/icon_mail_white.png" class="icon"> <%= link_to "Correo Masivo", massive_mails_path %></li>
<li class=""> <img src="/assets/icons/icon_import_users_white.png" class="icon"> <%= link_to "Importar usuarios", managers_import_users_path %></li>
<li class=""> <img src="/assets/icons/icon_import_courses_white.png" class="icon"> <%= link_to "Importar cursos", managers_import_courses_path %></li>
<li class=""> <img src="/assets/icons/icon_import_users_course_white.png" class="icon"> <%= link_to "Importar alumnos de curso", managers_import_members_path %></li>