<li class=""> <img src="/assets/icons/icon_admin.png" class="icon"> <%= link_to t('.admin'), managers_path %></li>
<li class=""> <img src="/assets/icons/icon_user.png" class="icon"> <%= link_to t('.usr'), managers_users_path %></li>
<li class=""> <img src="/assets/icons/icon_settings_white.png" class="icon"> <%= link_to t('.config'), managers_network_configuration_path %></li>
<!--<li class=""> <img src="/assets/icons/file_icon_white.png" class="icon"> <%#= link_to "Biblioteca", managers_library_path %></li>-->
<li class=""> <img src="/assets/icons/icon_mail_white.png" class="icon"> <%= link_to t('.masive'), massive_mails_path) %></li>
<li class=""> <img src="/assets/icons/icon_import_users_white.png" class="icon"> <%= link_to t('.import_usr'), managers_import_users_path %></li>
<li class=""> <img src="/assets/icons/icon_import_courses_white.png" class="icon"> <%= link_to t('.import_cur'), managers_import_courses_path %></li>
<li class=""> <img src="/assets/icons/icon_import_users_course_white.png" class="icon"> <%= link_to t('.import_std'), managers_import_members_path %></li>