
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/chart.png" class="icon margin-right10x class_image2525"> <%= link_to "Administración", managers_wall_path %></li>
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/users_group.png" class="icon margin-right10x class_image2525"> <%= link_to "Usuarios", managers_members_path %></li>
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/tools.png" class="icon margin-right10x class_image2525"> <%= link_to "Settings", managers_network_configuration_path %></li>
<!--<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> <%#= link_to "Biblioteca", managers_library_path %></li>-->
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/email.png" class="icon margin-right10x class_image2525"> <%= link_to "Correo Masivo", massive_mails_path %></li>
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/user_search.png" class="icon margin-right10x class_image2525"> <%= link_to "Importar usuarios", managers_import_users_path %></li>
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/bank.png" class="icon margin-right10x class_image2525"> <%= link_to "Importar cursos", managers_import_courses_path %></li>
<li class=""> <img src="/assets/icons_for_admin/flat_for_admin/user_card.png" class="icon margin-right10x class_image2525"> <%= link_to "Imp. Alumnos a curso", managers_import_members_path %></li>
