<div id="fix_admin" style="width: 980px; margin: 0 auto;">

<div id="admin-content">
	<div class="header-for-content">
		<h8 class="h8" style="float:left;"><%=t('.import1')%> <!-- en los cursos --> </h8>
		<p style="font-style:oblique; float:left;"><%=t('.import2')%></p>
	</div>
	
	<div style="margin-top:30px; margin-bottom:30px; margin-left: 85px; float: left;">
		<a href="/plantillas/members_course_plantilla.csv" class="button_button">
			<!-- <img src="/assets/icons_for_admin/folder_download.png" class="icon margin-right10x class_image2525"> -->
			<%=t('.download')%>
		</a>
	</div>
	
	<div class="form-for-admin" style="float: left; margin-left: 40px; margin-top: 10px;">
		<label class="fileContainer">
			<%= file_field_tag :file %>
		</label>
			<p>
		<div style="margin-top:30px;">
			<%= submit_tag t('.import3')%>
		</div>	
	</div>


	<div class="instructions">
		<p class="manager_notice">
			<%=t('.text1')%><br /><br />
			<%=t('.text2')%><br />
			<%=t('.text3')%>
		</p>
	</div>


<%= t('.no_file') if @noFile %>
	<p>
    <p style="font-size: 18px; font-weight: 100; padding:10px;"><%=t('.')%><p>
    

<%= form_tag upload_members_path, multipart: true do %>
  <table class="striped">
    <tr>
      <th><%=t('.course')%></th>
      <th><%=t('.import4')%></th>
    </tr>
  <% @courses.each do %>
     <% |course| %>
     <tr>
       <td><%= course.title %></td>
       <td><%= check_box_tag 'courses[]', course.id, false %></td>
     </tr>
  <% end %>
  
  </table>
  
<% end %>
</div>
</div>

<script>
	$('#admin-sidebar li:contains("Importar alumnos de curso")').css({ background: "#1B57A0" });
</script>