<div id="admin-sidebar">
  <h5>Adminitracion</h5>
  <ul><%= render :partial => "managers/menu"%></ul>
</div>
<div id="admin-content">
<h2> Import Members in Courses </h2>
<a href="/plantillas/members_course_plantilla.csv">miembros_plantilla.csv</a>
<p>
Propietario solo puede ser 0 o 1, donde 0 es para referirse a que aquel usuario sera el dueño del curso
mientras que 1 es para especificar que solo es un miembro del curso nada mas.
<p>
El Email debe de ser el correo asociado al usuario.
<p>

<%= "NO SE ENCONTRO EL ARCHIVO" if @noFile %>
<p>

<%= form_tag upload_members_path, multipart: true do %>
  <table class="striped">
    <tr>
      <th>Course</th>
      <th>¿Importar?</th>
    </tr>
  <% @courses.each do %>
     <% |course| %>
     <tr>
       <td><%= course.title %></td>
       <td><%= check_box_tag 'courses[]', course.id, false %></td>
     </tr>
  <% end %>
  </table>
  <%= file_field_tag :file %>
  <p>
  <%= submit_tag "Import"%>
<% end %>
</div>
