<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>

  </ul>
</div>
<div id="admin-content">
<h2>Import Users</h2>
<a href="/plantillas/usuarios_plantilla.csv">usuarios_plantilla.csv</a>
<p>
El role puede ser estudiante o maestro.
<p>
El email debe de ser el email del usuario.
<p>
<%= form_tag upload_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <p>
	<%= hidden_field_tag 'domain', request.domain %>
  <%= submit_tag "Import" %>
<% end %>

<%="NO SE ENCONTRO UN ARCHIVO" if @noFile %>

<h2>List Of Users<h2>
<table class="striped">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Nombre</th>

<!--
    <th>Encrypted_password</th>
    <th>Reset_password_token</th>
    <th>Reset_password_sent_at</th>
    <th>Remember_created_at</th>
    <th>Sign_in_count</th>
    <th>Current_sign_in_at</th>
    <th>Last_sign_in_at</th>
    <th>Current_sign_in_ip</th>
    <th>Last_sign_in_ip</th>
    <th>Created_at</th>
    <th>Updated_at</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Description</th>
    <th>Personal_url</th>
    <th>Avatar</th>
    <th>Coverphoto</th>
    <th>Facebook_link</th>
    <th>Twitter_link</th>
    <th>Bios</th>
    <th>Confirmation_token</th>
    <th>Confirmed_at</th>
    <th>Confirmation_sent_at</th>
    <th>Unconfirmed_email</th>
    <th>Failed_attempts</th>
    <th>Unlock_token</th>
    <th>Locked_at</th>
    <th>Authentication_token</th>-->
  </tr>
<% @users.each do |user|%>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.name%></td>
<!--<td><%= user.encrypted_password %></td>
    <td><%= user.reset_password_token %></td>
    <td><%= user.reset_password_sent_at %></td>
    <td><%= user.remember_created_at %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.description %></td>
    <td><%= user.personal_url %></td>
    <td><%= user.avatar %></td>
    <td><%= user.coverphoto %></td>
    <td><%= user.facebook_link %></td>
    <td><%= user.twitter_link %></td>
    <td><%= user.bios %></td>
    <td><%= user.confirmation_token %></td>
    <td><%= user.confirmed_at %></td>
    <td><%= user.confirmation_sent_at %></td>
    <td><%= user.unconfirmed_email %></td>
    <td><%= user.failed_attempts %></td>
    <td><%= user.unlock_token %></td>
    <td><%= user.locked_at %></td>
    <td><%= user.authentication_token %></td>-->
  </tr>
<%end%>
</div>
