<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>

  </ul>
</div>
<div id="admin-content">
<h2>Import Courses</h2>
<div style="margin-top:30px; margin-bottom:30px; margin-left:5px;">

<a href="/plantillas/cursos_plantilla.csv" class="button_button" > <img src="/assets/icons_for_admin/folder_download.png" class="icon margin-right10x class_image2525"> cursos_plantilla.csv</a>
</div>
<p class="manager_notice">Es importante tomar en cuenta que el formato del archivo es muy importante para importar correctamente los cursos.</p></br>
<p>
El estatus del curso solo puede ser privado o publico, sin acentos.
<p>
Las fechas son del siguiente estilo: AAAA-MM-DD
<p>
Si el curso ya se agrego, recuerda que puedes importa otro curso son los mismo valores, pero que es distinto al anterior.
<p>
<%= form_tag upload_courses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <p>
  <%= submit_tag "Import" %>
<% end %>

<%= "NO SE ENCONTRO UN ARCHIVO" if @noFile%>
</p>
</p>
<h2>List Of Courses<h2>
<table class="striped">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Silabus</th>
    <!--
    <th>Init date</th>
    <th>Finish date</th>
    <th>Public status</th>
    <th>Survey param evaluation</th>
    <th>Delivery param evaluation</th>
    <th>Network id</th>
    <th>Active status</th>-->
  </tr>
<% @courses.each do |course|%>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.title %></td>
    <td><%= course.silabus %></td>
    <!--
    <th><%= course.init_date %></th>
    <th><%= course.finish_date %></th>
    <th><%= course.public_status %></th>
    <th><%= course.survey_param_evaluation %></th>
    <th><%= course.delivery_param_evaluation %></th>
    <th><%= course.network_id %></th>
    <th><%= course.active_status %></th>-->
  </tr>
<%end%>
</table>
</div>
