<div id="fix_admin" style="width: 980px; margin: 0 auto;">

<div id="admin-sidebar" style="background: #1A83D5; color: #FFF;">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>
  </ul>
</div>

<div id="admin-content" style="width: 700px;">
	<div id="admin-content">
		<div class="header-for-content">
			<h8 class="h8" style="float:left;">Importar cursos </h8>
			<p style="font-style:oblique; float:left;">Importa los cursos de tu comunidad desde una base de datos.</p>
		</div>
		<div style="margin-top: 30px; margin-bottom: 30px; margin-left: 85px; float: left;">
		<a href="/plantillas/cursos_plantilla.csv" class="button_button" >
			Descargar archivo de cursos
		</a>
	</div>

	<div class="form-for-admin" style="float: left; margin-left: 40px; margin-top: 10px;">
		<%= form_tag upload_courses_path, multipart: true do %>
			<label class="fileContainer">
				<!-- Da click para subir tu archivo de cursos. -->
				<%= file_field_tag :file %>
			</label>
	
			<p>
				<div style="margin-top:30px;">
				<%= submit_tag "Importar archivo de cursos" %>
				</div>
		<% end %>
	</div>
</div>


</br>
<div class="instructions">
<p class="manager_notice">Es importante tomar en cuenta que el formato del archivo es muy importante para importar correctamente los cursos.</p></br>
<p class="manager_notice">
• El estatus del curso solo puede ser privado o publico, sin acéntos.<br />
• Las fechas son del siguiente estilo: AAAA-MM-DD.<br />
• Si el curso ya se agrego, recuerda que puedes importa otro curso son los mismo valores, pero que es distinto al anterior.
</p>
</div>

<%= "NO SE ENCONTRO UN ARCHIVO" if @noFile%>
</p>
</p>
<p style="font-size: 18px; font-weight: 100; padding:10px;">Lista de cursos<p>
<table class="striped">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Silabus</th>
    <!--
    <th>Init date</th>
    <th>Finish date</th>
    <th>Public status</th>
    <th>Survey param evaluation</th>
    <th>Delivery param evaluation</th>
    <th>Network id</th>
    <th>Active status</th>-->
  </tr>
<% @courses.each do |course|%>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.title %></td>
    <td><%= course.silabus %></td>
    <!--
    <th><%= course.init_date %></th>
    <th><%= course.finish_date %></th>
    <th><%= course.public_status %></th>
    <th><%= course.survey_param_evaluation %></th>
    <th><%= course.delivery_param_evaluation %></th>
    <th><%= course.network_id %></th>
    <th><%= course.active_status %></th>-->
  </tr>
<%end%>
</table>
</div>

</div>

<script>
	$('#admin-sidebar li:contains("Importar cursos")').css({ background: "#1B57A0" });
</script>