<div id="fix_admin" style="width: 980px; margin: 0 auto;">

<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>
  </ul>
</div>

<div id="admin-content" style="width: 700px;">
    <div class="header-for-content">
        <h8 class="h8" style="float:left;">Importar usuarios</h8>
        <p style="font-style:oblique; float:left;">Importa los usuarios de tu comunidad desde una base de datos.</p>
    </div>
    
	<div style="margin-top:30px; margin-bottom:30px; margin-left: 85px; float:left;">
		<a href="/plantillas/usuarios_plantilla.csv" class="button_button">
			<!-- <img src="/assets/icons_for_admin/download.png" class="icon margin-right10x class_image2525"> -->
			Descargar archivo de usuarios <!-- usuarios_plantilla.csv -->
		</a>
	</div>

	<div class="form-for-admin" style="float: left; margin-left: 40px; margin-top: 10px;">
		<%= form_tag upload_users_path, multipart: true do %>
			<label class="fileContainer">
				<%= file_field_tag :file %>
			</label>
		
			<p>
			<%= hidden_field_tag 'domain', request.domain %>
			<div style="margin-top:30px;">
				<%= submit_tag "Importar archivo de usuarios" %>
			</div>
		<% end %>
	
</div><!-- ends admin-content -->


<div class="instructions">
<p class="manager_notice">Es importante tomar en cuenta que el formato del archivo es muy importante para importar correctamente los usuarios.</p></br>
<p class="manager_notice">
• El role puede ser estudiante o maestro.<br />
• El email debe de ser el email del usuario.
</p>
</div>

<%="NO SE ENCONTRO UN ARCHIVO" if @noFile %>

<p style="font-size: 18px; font-weight: 100; padding:10px;">Lista de usuarios</p>

<table class="striped">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Nombre</th>

<!--
    <th>Encrypted_password</th>
    <th>Reset_password_token</th>
    <th>Reset_password_sent_at</th>
    <th>Remember_created_at</th>
    <th>Sign_in_count</th>
    <th>Current_sign_in_at</th>
    <th>Last_sign_in_at</th>
    <th>Current_sign_in_ip</th>
    <th>Last_sign_in_ip</th>
    <th>Created_at</th>
    <th>Updated_at</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Description</th>
    <th>Personal_url</th>
    <th>Avatar</th>
    <th>Coverphoto</th>
    <th>Facebook_link</th>
    <th>Twitter_link</th>
    <th>Bios</th>
    <th>Confirmation_token</th>
    <th>Confirmed_at</th>
    <th>Confirmation_sent_at</th>
    <th>Unconfirmed_email</th>
    <th>Failed_attempts</th>
    <th>Unlock_token</th>
    <th>Locked_at</th>
    <th>Authentication_token</th>-->
  </tr>
<% @users.each do |user|%>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.name%></td>
<!--<td><%= user.encrypted_password %></td>
    <td><%= user.reset_password_token %></td>
    <td><%= user.reset_password_sent_at %></td>
    <td><%= user.remember_created_at %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.description %></td>
    <td><%= user.personal_url %></td>
    <td><%= user.avatar %></td>
    <td><%= user.coverphoto %></td>
    <td><%= user.facebook_link %></td>
    <td><%= user.twitter_link %></td>
    <td><%= user.bios %></td>
    <td><%= user.confirmation_token %></td>
    <td><%= user.confirmed_at %></td>
    <td><%= user.confirmation_sent_at %></td>
    <td><%= user.unconfirmed_email %></td>
    <td><%= user.failed_attempts %></td>
    <td><%= user.unlock_token %></td>
    <td><%= user.locked_at %></td>
    <td><%= user.authentication_token %></td>-->
  </tr>
<%end%>
</div>

</div>

<script>
	$('#admin-sidebar li:contains("Importar usuarios")').css({ background: "#1B57A0" });
</script>