- content_for :javascripts do
  = javascript_include_tag 'mailer/checkbox'

.cols-12
  .col.col-11.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.masive')
          %p= t('.masive2')
        - if current_network.subdomain != 'meems'
          .actions
            = link_to t('.select_users'), managers_network_mailer_user_list_path, class: 'btn btn-complementary'
            = link_to t('.select_teachers'), managers_network_mailer_teacher_list_path, class: 'btn btn-complementary'
            = link_to t('.select_students'), managers_network_mailer_student_list_path, class: 'btn btn-complementary'
      = form_tag managers_mailer_deliver_path, class: 'form-validate-js' do
        - if current_network.subdomain != 'meems'
          .ul
            = t('.message_for_all_users')
            .li
              = check_box_tag 'users', 'only_teachers'
              = t('.only_teachers')
            .li
              = check_box_tag 'users', 'only_students'
              = t('.only_students')

        = render partial: 'managers/shared/managers_massive_mailer_form'

        %span.btn.btn-primary.input-btn.btn-medium.activable
          = submit_tag t('.send')
