.cols-12
  .col.col-10.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.masive')
          %p= t('.masive2')
      = form_tag managers_mailer_deliver_path, class: 'form-validate-js' do
        .form-group.label-on-top.l-label
          .form-group-label
            = label :subject, t('.subject') + ':'
          .form-group-main
            .form-unit
              = text_field_tag :subject, '', placeholder: t('.example') + ': ' + t('.example2'), required: true

        .form-group.label-on-top.l-label
          .form-group-label
            = label :message, t('.msg') + ':'
          .form-group-main
            .form-unit
              = text_area_tag :message, '', placeholder: t('.msg'), rows: 8, required: true

        %span.btn.btn-primary.input-btn.btn-medium.activable
          = submit_tag t('.send')