<div id="admin-sidebar">
	<h5>Administracion</h5>
	<ul>
		<%= render :partial => "managers/menu"%>
	
	</ul>
</div>
<div id="admin-content">

<div id="header-users"> Maestros | Estudiantes | Adminsitradores _______ Nuevo Usuario <br /><br />
<h2 class="courses-title-h2">Lista de usuarios </h2>
<div class="search default-form delivery-form serch-courses">
<form accept-charset="UTF-8" action="/courses" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
  <p>
    <input id="search" name="search" placeholder="Buscar Usuario" type="text" autocomplete="OfF" class="ui-autocomplete-input" role="textbox" aria-autocomplete="list" aria-haspopup="true">
   <!--  <input name="commit" type="submit" value="Buscar Curso" /> -->
  </p>
</form></div>

<% current_network.users.each do |user|%>

	<div class="the-list">
		<ul class="list">
			<li class="user-list">
				<div class="avatar"> <%= image_tag(user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> <%= user.name %><br/>
				 <a href=""><%= user.email %> </a>
				 </div>
				 <% @permisos = Permissioning.find_by_user_id_and_network_id(user.id, current_network.id) %>

				 <div class="actions">
				 	 <img src="/assets/icons/config.png" class="" id="edit_role-<%= @permisos.id%>">
				 	 <div id= "edit_role-<%= @permisos.id%>">
				 	      <%= form_for @permisos, remote: true do |permisos| %>
				 	      <%= permisos.select :role_id, options_for_select([['alumno', '2'], ['profesor', '3'], ['admin', '1'] ])%>
				 	      
                           <%= permisos.submit "Actualizar role" %>
				 	      <%end%>
				 	 </div>
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
		</ul> </div>
<%end%>

</div> 