<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>

  </ul>
</div>
<div id="admin-content">

<!--
<div id="header-users"> Maestros | Estudiantes | Adminsitradores _______ Nuevo Usuario <br /><br />
-->
<h2 class="courses-title-h2">Lista de usuarios </h2>
<%= form_tag managers_members_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder =>'Buscar Usuarios' %>
   <!--  <%= submit_tag "Buscar Curso", :title => nil %> -->
  </p>
<% end %>
<% @users.each do |user|%>

  <div class="the-list">
    <ul class="list">
      <li class="user-list">
        <div class="avatar"> <%= image_tag(user.avatar.modern,{:class => "avatar-mini"}) if ( !user.avatar.blank?) %> <%= image_tag(user.image_avatarxxx,{:class => "avatar-mini"}) if ( user.avatar.blank?) %> </div>
         <div class="info"> <%= user.name %><br/>
         <a href=""><%= user.email %> </a>
         </div>
         <% @permisos = Permissioning.find_by_user_id_and_network_id(user.id, current_network.id) %>
         <div style="color:#F6C103;">
                 <% @role = Role.find(@permisos.role_id)%>
                 <%= @role.title %>
                 </div>
         <div class="actions">

           <img src="/assets/icons/config.png" class="" id="edit_user-<%= @permisos.id%>">
           <div id="edit_user_role_open-<%= @permisos.id%>" style="display: none">
               <b> Cambiar el rol del usuario </b>
                <%= form_tag "/permissionings/update", remote: true do  %>
                <%= select_tag 'role_id', options_for_select([['alumno', '2'], ['profesor', '3'], ['admin', '1'] ])%>
                <%= hidden_field_tag 'user_id',user.id %>
                           <%= submit_tag "Actualizar role" %>
                <%end%>
           </div>
           <%if !user.confirmed? then%>
              <div id="edit_user_confirmed_open-<%= user.id%>" style="display: none"><label id="icon-user-confirmed" class="user-confirm">
              <%= form_tag "/users/confirm", remote: true do%>
                   <%= hidden_field_tag 'user_id', user.id %>
                   <%= submit_tag "Confirmar"%>
              <%end%>
              </label>
              </div>
           <%end%>
           <script>

                       $('#edit_user-<%= @permisos.id%>').click(function() {
                         $('#edit_user_role_open-<%= @permisos.id%>').toggle('slow', function() {
                           // Animation complete.
                         });
                       $('#edit_user_confirmed_open-<%= user.id%>').toggle('slow',function() {
                         $('#edit_user-<%= @permisos.id%>').removeClass('user-confirm');
                          });
                       });
                     </script>
           <%#= link_to image_tag('/assets/icons/suspsend.png'), user, :confirm => '¿Estas seguro de querer eliminar este usuario?', :method => :delete  %>
         </div>
         <div class="clear"></div>
      </li>
    </ul> </div>
<%end%>

<%= will_paginate @users %>
</div>
