<div id="admin-sidebar">
	<h5>Administracion</h5>
	<ul>
		<li class=""> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Dsashboard</li>
		<li class="active"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Usuarios</li>
		<li> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Settings</li>
	</ul>
</div>
<div id="admin-content">

<div id="header-users"> Maestros | Estudiantes | Adminsitradores _______ Nuevo Usuario <br /><br />
<h2 class="courses-title-h2">Lista de usuarios </h2>
<div class="search default-form delivery-form serch-courses">
<form accept-charset="UTF-8" action="/courses" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
  <p>
    <input id="search" name="search" placeholder="Buscar Usuario" type="text" autocomplete="OfF" class="ui-autocomplete-input" role="textbox" aria-autocomplete="list" aria-haspopup="true">
   <!--  <input name="commit" type="submit" value="Buscar Curso" /> -->
  </p>
</form></div>


	<div class="the-list">
		<ul class="list">
			<li class="user-list">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list par">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list par">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
<li class="user-list  par">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list par">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
			<li class="user-list">
				<div class="avatar"> <%= image_tag(current_user.avatar.modern,{:class => "avatar-mini"})%></div>
				 <div class="info"> Leon Rangel <br/>
				 <a href="">leon@cursa.me </a>
				 </div>
				 <div class="actions">
				 	<img src="/assets/icons/config.png" class="">
					 <img src="/assets/icons/suspsend.png" class="">
					 <img src="/assets/icons/config.png" class="">
				 </div>
				 <div class="clear"></div>
			</li>
		</ul> </div>
</div> 