<div id="fix_admin" style="width: 980px; margin: 0 auto;">

<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>

  </ul>
</div>
<div id="admin-content">
    <div class="header-for-content">
        <h8 class="h8" style="float:left;">Mail masivo a usuarios</h8>
        <p style="font-style:oblique; float:left;">Envía un mail a todos los miembros de tu comunidad.</p>
    </div>

	<div class="form-course" style="width: 660px; float: left;"><!-- estilo en courses.scss -->
		<div class="form-for-admin" style="float:left;">
			<!--<div  class="form-mailer" id="admin-content">-->

			<%= form_tag "/managers/sending" do%>
			<p style="float: left; margin-right: 38px;">Título:</p>
				<%= text_field_tag(:subject) %>
					<span style="clear: both; height: 13px; display: block;"></span>
			<p style="float: left; margin-right: 6px;">Contenido:</p>
				<%=text_area_tag(:message) %>
					<span style="clear: both; height: 8px; display: block;"></span>
			<div class="Send_mail_managers" style="margin-top: 23px; margin-left: 30px; float: right;">
				<%=submit_tag("Enviar")%>
			</div>
			<%end%>
		</div>
		
		<span style="clear: both; height: 8px; display: block;"></span>
		
		<div id="preview-button" style="clear: both;">Visualizar correo</br>
			<div style="margin-top:-10px;">
				<%= image_tag('icons_for_admin/preview.png', width:40, height:40)%>
			</div>
		</div>

	<script>
		$("#preview-button").click(function() {
		 $('#posting-preview').html('');
		 	var msg = $("#message").val();
		 $('#posting-preview').html(msg);
		});		
		$('#admin-sidebar li:contains("Correo Masivo")').css({ background: "#1B57A0" });
	</script>
	
    <div class="posting-preview" id="posting-preview"></div>
    
</div>
</div>

</div>