<div id="admin-sidebar">
	<h5>Administracion</h5>
	<ul>
		<li class="active"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Dsashboard</li>
		<li> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Usuarios</li>
		<li> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Settings</li>
	</ul>
</div>
<div id="admin-content">
	<div class="users-chart">
          <%= render :partial => "managers/charts/users"%>
          <div class="meter orange nostripes">
              <% if @member_count == 0%>
                <span style="width:<%= @quiq_start %>%;"></span>
                <p  class="hope">Usuarios registrados: <b><%= @quiq_start %></b></p> <p class="hope-right">Población esperada: <b><%= @network_population %></b></p>  
              <%else%>
      	    	<span style="width:<%= @member_count %>%;"></span>
      	    	 <p class="hope">Población esperada: <%= @network_population %> / actual: <%= @member_count %></p>
      	      <%end%>
      	</div>
    
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Usuarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Cursos</div>
		<div id="courses_graph" style="height:227px; weight:279px;" ></div>
		
		<script>
        Morris.Donut({
          element: 'courses_graph',
          data: [
            {label: "Cursos", value: <%=@courses.count %> },
            {label: "Públicos", value:<%= @publico %>},
            {label: "Privados", value:<%= @privado%> }
          ]
        });
       
       
         </script>
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Tareas</div>
       	<div id="deliveries_graph" style="height:227px; weight:279px;" ></div>
	
       	<script>
           Morris.Donut({
             element: 'deliveries_graph',
             data: [
               {label: "Tareas", value: <%=@total_deliveries %> },
               {label: "En curso", value:<%= @published_deliveries_count  %>},
               {label: "En cola y finalizadas ", value:<%= @unpublished_deliveries_count %> }
             ]
           });


        </script>
       
 	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Cuestionarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Discusiones</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
	<div class="admin-chart">
		<div class="header-chart"> <img src="/assets/icons/grey-mini-comment.png" class="icon"> Comentarios</div>
		<img src="/assets/charts/chart1.png">
	</div>
	
</div>