<link rel="stylesheet" href="//cdn.oesmith.co.uk/morris-0.4.1.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

<div id="fix_admin" style="width: 980px; margin: 0 auto;">

<div id="admin-sidebar">
  <h5>Administracion</h5>
  <ul>
    <%= render :partial => "managers/menu"%>
  </ul>
</div>

<div id="admin-content">
    <div class="header-for-content">
         <h8 class="h8" style="float:left;">Administración de la red </h8></br></br>
         <p style="font-style:oblique; float:left;">Panel de gráfico del funcionamiento de la red.</p>
     </div>
     <p class="" style="z-index:4; color:#000; padding:15px; font-size:20px; font-style:italic; margin-bottom:-30px; font-weigh:bold;">Población esperada: <%= @network_population %> / actual: <%= @member_count %> <img src="/assets/icons_for_admin/simple_icons_real/internet.png" class=" class_image2525"></p>
  <div class="users-chart">
          <%= render :partial => "managers/charts/users"%>
          
          <div class="meter orange nostripes">
              <span style="width:<%=  @porcent_of_students %>%; z-index:1 !important; margin-top: -18px;"></span>
        </div>
  </div>

  <div class="admin-chart">
    <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Usuarios</div>

     <% @counter_students = current_network.permissionings.where(:role_id => 2).count %>
     <% @counter_teachers = current_network.permissionings.where(:role_id => 3).count %>
     <% @counter_admins = current_network.permissionings.where(:role_id => 1).count %>

  <div id="profiles_graph" style="height:227px; weight:279px;" ></div>

    <script class="text/javascript">
    Morris.Donut({
              element: 'profiles_graph',
              data: [
                {label: "Estudiantes", value:<%= @counter_students %> },
                {label: "Profesores", value:<%= @counter_teachers %>},
                {label: "Administradores", value:<%= @counter_admins %> }
              ]
            });
    </script>


  </div>

  <div class="admin-chart">
    <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Cursos</div>
    <div id="courses_graph" style="height:227px; weight:279px;" ></div>

        <script class="text/javascript">
        Morris.Donut({
          element: 'courses_graph',
          data: [
            {label: "Cursos", value: <%=@courses.count %> },
            {label: "Públicos", value:<%= @publico %>},
            {label: "Privados", value:<%= @privado%> }
          ]
        });


         </script>
  </div>

  <div class="admin-chart">
    <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Tareas</div>
        <div id="deliveries_graph" style="height:227px; weight:279px;" ></div>

        <script class="text/javascript">
           Morris.Donut({
             element: 'deliveries_graph',
             data: [
               {label: "Tareas", value: <%=@total_deliveries %> },
               {label: "En curso", value:<%= @published_deliveries_count  %>},
               {label: "En cola y finalizadas ", value:<%= @unpublished_deliveries_count %> }
             ]
           });


        </script>

  </div>
  <div class="admin-chart">
  <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Comentarios</div>
    <div id="comments_graph" style="height:227px; weight:279px;" ></div>
          <% @comment = current_network.comments.count %>




            <script class="text/javascript">

              Morris.Donut({
                 element: 'comments_graph',
                 data: [
                   {label: "Comentarios", value: <%=@comment %> }

                 ]
               });


            </script>
  </div>


  <div class="admin-chart">
        <% @surveys = current_network.surveys.count %>
        <% @surveys_publish = current_network.surveys.where(:state => 'published').count%>
        <% @surveys_unpublished =  current_network.surveys.where(:state => 'unpublish').count%>
        <%# @user_surveys = current_network.surveys.user_surveys.count %>
          <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Examenes</div>
          <div id="surveys_graph" style="height:227px; weight:279px;" ></div>

        <script class="text/javascript">

          Morris.Donut({
             element: 'surveys_graph',
             data: [
               {label: "Examenes", value: <%=@surveys %> },
               {label: "Examenes en curso", value: <%=@surveys_publish %> },
               {label: "Examenes sin publicar", value: <%=@surveys_unpublished %> },



             ]
           });


        </script>

  </div>

  <div class="admin-chart">
    <div class="header-chart"> <img src="/assets/icons/file_icon.png" class="icon"> Discusiones</div>
         <% @discussions = current_network.discussions.count %>
            <%# @user_surveys = current_network.surveys.user_surveys.count %>

                <div id="discussion_graph" style="height:227px; weight:279px;" ></div>

            <script class="text/javascript">

              Morris.Donut({
                 element: 'discussion_graph',
                 data: [
                   {label: "Discusiones", value: <%=@discussions %> }


                 ]
               });


            </script>

  </div>
</div>

</div>
