<%
   random_id = "#{random}"
   @asset_unique = "upload-delivery-form-#{random_id}"
   isSingle ||= false
   labelIdBox ||= "none"
%>
<%= form_for @asset = Asset.new, :html => { :class => "default-form uploader-form"} do |f| %>
<div id="new_assets">
	<div id="<%= @asset_unique %>" class="file-input-box">
	      <%= button_tag "Adjuntar archivo", :type => 'button', :class=>'browse-button', :id=>'hidden-btn-0' %>
	      <%= f.file_field :file, :class=>'upload-input', :id =>'asset-file-0', multiple: true, name: "asset[file]" %>
	      <% f.password_field :encryption_code_to_access %>
	      <%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
</div>



<% end %>
<script type="text/javascript">

    $(document).ready(function() {
    //     var uploader<%= random_id %> = new Uploader('#<%= @asset_unique %>', '#<%= @label_unique %>'<% if isSingle %>, true<% end %>);
    //

        $('#new_assets #<%= @asset_unique %>').click(function(){
            $('#new_assets').fileupload({
                dataType: "script",
                add:function(e,data){
                    console.log(data);
                    data.context = $(tmpl("template-upload",data.files[0]));
                    //console.log($('#unica').attr('id'));//.html('hola');//data.context);
                    $('<%= labelIdBox%>').append(data.context);
                    data.submit();
                },
                progress:function(e,data){
                    if(data.context){
                        progress = parseInt(data.loaded / data.total * 100,0);
                        data.context.find('.bar').css('width',progress+ "%");
                    }
                }
            });
        });

    });
</script>

<script id="template-upload" type="text/x-tmpl">
  <div class="file-mini-upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
