<%
   random_id = "#{random}"
   @asset_unique = "upload-delivery-form-#{random_id}"
   @label_unique = "upload-labels-#{random_id}"
%>
<div id="<%= @asset_unique %>">
  <div id="upload-delivery-element-0" class="file-input-box">
      <%= button_tag "Adjuntar archivo", :type => 'button', :class=>'browse-button', :id=>'hidden-btn-0' %>
      <%= f.file_field :file, :class=>'upload-input', :id =>'asset-file-0' %>
      <% f.password_field :encryption_code_to_access %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
</div>
<div id="<%= @label_unique %>" class="upload-label"></div>
<script type="text/javascript">
    $(document).ready(function(){
        var uploader<%= random_id %> = new Uploader('#<%= @asset_unique %>', '#<%= @label_unique %>');
    });
</script>