<%= form_tag "/home/add_new_comment", :class => "default-form comment-form", remote: true do %>
  <div class="video_help" style="display: none" id="comment_help">
       <div class="content_video" id="content_video_video">
           
       </div>
   </div>
    <% if comment_id.nil? then %>
       <%= text_area_tag "comment", nil, :rows => 4, :cols => 76, :placeholder=>'Comentario', :required =>'required'  %>
    <% else %>
        <%= text_area_tag "comment", comment, :rows => 4, :cols => 76, :placeholder=>'Comentario', :required =>'required'  %>
    <% end %>
    <%= hidden_field_tag 'commentable_id', commentable_id %>
    <%= hidden_field_tag 'commentable_type', commentable_type %>
    <% if comment_id != nil then %>
       <%= hidden_field_tag 'comment_id', comment_id %>
    <% end %>
    <div class="submit-area"></div>
    <%= button_tag "Cancelar", :type => 'button', :class=>'input-button', :id => 'cancel-post-form' %>
    <%= submit_tag "Comentar",:class=>"btn btn-primary", :id => 'comment-post-form' %>
    <%if !@user_show%>
      <% if comment_id == nil %>
       <%= render :partial => "shared/dropdown",
                  :locals => { :hasPublic => true,:hasCourses => true, :hasGroups => true,
                               :hasUser => true, :defaultText => 'Público', :defaultClass => 'public-dd' } %>
     <% end %>
    <% end %>
    <a class="help" id="help_comment"><%= image_tag('help.png')%></a>
     <script>
             $('#help_comment').click(function() {
                 $('#comment_help').toggle('blind', 400);
                 if($("#comment_help").css( 'visibility')=="hidden"){
                        $('#content_video_video').html('');
                    }
                    else{
                       $('#content_video_video').html('<object width="560" height="280"><param name="movie" value="http://www.youtube.com/v/PsV6eKyMQNI?hl=es_ES&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/PsV6eKyMQNI?hl=es_ES&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="560" height="280" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                    }
                });                         
                
    </script>
   
<% end %>
