<!--
<div id="more-comments-<%= comment.id  %>">cargas mas comentarios</div>
-->
<div id="comment_<%= comment.id %>" class="child-comment-box">
      <% @vote_comment = comment.votes.up.by_type(User).where(:voter_id => current_user.id)%>
      <% @condition_comment =  @vote_comment[0]%>
     <%if @condition_comment == nil %>
       <div id="liked-c-<%= comment.id%>">
       <div class="heart-icon"><%= link_to image_tag('icons/heart-icon-child-comment.png'), upvote_comment_path(comment.id), :remote => true%></div>
       </div>

       <%else%>
       <div id="liked-c-<%= comment.id%>">
       <div class="heart-icon"><%= link_to image_tag('icons/heart-icon-child-comment-hover-orange.png'), downvote_comment_path(comment.id), :remote => true%></div>
       </div>
       <%end%>

       <%if comment.owner?(current_role, current_user) then%>
          <span class="deleteComment"><%= link_to image_tag('icons/trash.png'), destroy_comment_path(comment.id), :remote => true%></span>
       <%end%>
    <div class="avatar-child-comment id_for_avatar_c<%=comment.user.id%>" href="#">
        <%#= debug comment.user.avatar%>
    <% if comment.user.avatar.blank? %>
        <%= link_to image_tag(comment.user.image_avatarxx, {:class => "avatar-mini", :style => "width:28px;"}), show_user_path(comment.user.personal_url)%>
      <%else%>
        <%= link_to image_tag(comment.user.avatar, {:class => "avatar-mini", :style => "width:28px;"}), show_user_path(comment.user.personal_url) %>
    <%end%>
    </div>
    <div class="info-comment">
        <div class="username"><%= comment.user.name %></div>
        <div class="date"><%= comment.created_at.strftime('%d/%m/%Y') %></div>
        <div class="comment" style="font-weight:normal !important;"><%= comment.comment_html %></div>
        <div  id="counter-like-c<%= comment.id%>" style="font-size:9px;"><%= comment.votes.up.size %> me gusta</div>
    </div>

</div>

 <script>
       $(".id_for_avatar_c<%=comment.user.id%>").hover(
            function () {
              $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:30px; float:left; margin-top:-30px'><div class='tooltipr'><%=truncate("#{comment.user.name}", :omission => "...", :length => 155)  if ( !comment.user.name.blank?) %></div></span>"));
            },
            function () {
              $(this).find("span:last").remove();
            }
          );
</script>
