<div id="comment_<%= comment.id %>" class="child-comment-box">

  <div class="comment-author">
    
    <%= link_to show_user_path(comment.user.personal_url) do %>
      <span class="avatar-holder">
        <%= avatar('user', '30', 'no', comment.user.id, 'avatar', 'no', 'no') %>
      </span>
    <% end %>
    
  </div>

    <div class="comment-main">
      <h6><%= link_to comment.user.name, comment.user.personal_url %></h6>
      <div class="comment" style="font-weight:normal !important;"><%= comment.comment_html %></div>
        
      <div class="publication-metadata">
        <div>
          <% @vote_comment = comment.votes.up.by_type(User).where(:voter_id => current_user.id)%>
          <% @condition_comment =  @vote_comment[0]%>

          <% if @condition_comment == nil %>
            <div id="liked-c-<%= comment.id%>">
              <%= link_to upvote_comment_path(comment.id), :remote => true do%>
                <i class='i i-like-c'></i>
              <% end %>
            </div>
          <%else%>
            <div id="liked-c-<%= comment.id%>">
              <%= link_to downvote_comment_path(comment.id), :remote => true do %>
                <i class='i i-like-c-active'></i>
              <% end %>
            </div>
          <%end%>
        </div>
        <span>&middot;</span>
        <div class="meta-data">
          <div  id="counter-like-c<%= comment.id%>"><%= comment.votes.up.size %> me gusta</div>
        </div>
        <span>&middot;</span>
        <div class="meta-data">
        <%= es_current_date("#{comment.created_at.strftime('%B')}", "#{comment.created_at.strftime('%d')}" , "#{comment.created_at.strftime('%Y')}","#{comment.created_at.strftime('%l:%M%P')}",'latin_string')%>
        </div>
        <%if comment.owner?(current_role, current_user) %>
          <div class="edit-publication">
            <span>&middot;</span>
            <div class="meta-data">
              <%= link_to "Borrar", destroy_comment_path(comment.id), :remote => true%>
            </div>
          </div>
        <%end%>
      </div>
    </div>

</div>
