- form_reference_id = SecureRandom.urlsafe_base64

= form_tag "/home/add_new_comment", class: "default-form comment-form comment_form_top", id: form_reference_id, remote: true do
  = hidden_field_tag 'in_form', in_form
  = hidden_field_tag 'commentable_id', commentable_id
  = hidden_field_tag 'commentable_type', commentable_type
  - if comment_id != nil
    = hidden_field_tag 'comment_id', comment_id

  .new-publication-form-content
    - if comment_id.nil?
      = text_area_tag "comment", '', placeholder: message , class: 'comment_for_wall autogrow', required: true
    - else
      = text_area_tag "comment", comment, placeholder: message, class: 'comment_for_wall autogrow', required: true

  - unless active_edit
    .new-publication-footer
      %ul.list-buttons.right.fr
        - unless in_form == 'user'
          %li
            - if in_form != 'course' && comment_id == nil
              = render partial: "shared/dropdown", locals: { hasPublic: true, hasCourses: true, defaultText: t('.new_publication.public'), default_icon: 'public-new-publication', in_type: in_type }
            - else
              = hidden_field_tag "commentable_type", 'Course'
              = hidden_field_tag "delivery[course_ids][]", @course.id
        %li
          = label_tag "upload-asset", class: 'btn btn-secondary' do
            = icon('upload-asset')
            = t('.file')
          .hide-input-file
            = file_field_tag :filename, id: "upload-asset", class: 'upload-input', multiple: false, name: "asset[filename]"
            = hidden_field_tag :user_id, current_user.id
        %li
          %span.btn.btn-primary.input-btn.activable
            = submit_tag t('.new_publication.comment'), class: "activable", id: 'comment-post-form'
  - else
    %ul.list-buttons.left
      %li
        %a.btn.btn-secondary.cancel-edit-publication-js{href: "#"}
          = t('.new_publication.cancel')
      %li
        %span.btn.btn-primary.input-btn
          = submit_tag t('.new_publication.save'), class: "activable", id: "comment-post-form"

:javascript
  $(function() {
    $('##{form_reference_id}').validate();
  });