<% form_reference_id = SecureRandom.urlsafe_base64 %>

<%= form_tag "/home/add_new_comment", :class => "default-form comment-form comment_form_top", id: form_reference_id, remote: true do %>  
  
  <div class="new-publication-form-content">
    <% if comment_id.nil? then %>
      <%= text_area_tag "comment", nil, :placeholder=> message , :class => 'comment_for_wall autogrow', :required => "required" %>
    <% else %>
      <%= text_area_tag "comment", comment, :placeholder=> message, :class => 'comment_for_wall autogrow', :required => "required" %>
    <% end %>

    <%= hidden_field_tag 'commentable_id', commentable_id %>
    <%= hidden_field_tag 'commentable_type', commentable_type %>

    <% if comment_id != nil then %>
      <%= hidden_field_tag 'comment_id', comment_id %>
    <% end %>
  </div>
  
  <% unless active_edit %>
    <div class="new-publication-footer">

      <ul class="list-buttons right fr">
        <% unless @user_show %>
          <li>
          <% if @incourse != true && comment_id == nil %>
            <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, :hasCourses => true, :hasGroups => true, :hasUser => true, :defaultText => 'Público', :default_icon => 'public-new-publication', :in_type => in_type } %>
          <%else%>

            <%= hidden_field_tag "commentable_type", 'Course'%>
            <%= hidden_field_tag "delivery[course_ids][]", @course.id %>

          <%end%>
          </li>
        <% end %>
        <li>
          <span class="btn btn-primary input-btn activable">
            <%= submit_tag "Comentar", :class=>"activable", :id => 'comment-post-form' %>
          </span>
        </li>

    </div>
  <% else %>
    <ul class="list-buttons left">
      <li>
        <a class="btn btn-secondary cancel-edit-publication-js" href="#">Cancelar</a>
      </li>
      <li>
        <span class="btn btn-primary input-btn">
          <%= submit_tag "Guardar", :class=> "activable", :id => "comment-post-form" %>
        </span>
      </li>
    </ul>
  <% end %>

<% end %>

<script>
  $(function() {
    $('#<%= form_reference_id %>').validate();
  });
</script>

