
<!-- <div id="box-comments" > -->
<div id="box-comments" >
  <div class="general-cir"></div>

  <div id = "comment_<%= comment.id %>" class="comment-text" >
    <div class="arrow-left"></div>
    <div class="header">
      <div class="avatar"><%= image_tag(comment.user.avatar.modern,{:class => "avatar-mini"})%></div>
      <div class="top-null-image"></div><b><%= comment.user.name %></b>  <span class="date">29/Ene/2012</span>
    </div>
    <div class="content">
      <div class="null-image"></div>
      <p><%= comment.comment %></p>
    </div>

    <div class="footer" id="footer-comment-<%= comment.id %>">
      <img src="/assets/icons/grey-mini-comment.png" class="icon comments">
      <img src="/assets/icons/grey-mini-like.png" class="icon like">
      <div class="labels">20 Comentarios</div>
      <div class="labels">12 Likes</div>
    </div>
  </div>

  <!-- area para comentar -->
  <div class="make-comments" style="display:none;" id="commentable-area-<%= comment.id %>">
    <div id="comments-comment-<%= comment.id %>">
     <% comment.comments.each do |commentt| %>
     <%= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
     <%end%>    
   </div>
   <div style:"float:left;">
    <%= render :partial => '/shared/form_commentable',:locals => {:commentable_id => comment.id,:commentable_type => 'Comment'} %>
    </div>
  </div>

</div>

<script type="text/javascript">

$('#footer-comment-<%= comment.id %>').on('click',function(e){
  e.preventDefault();
  if(e.target.className === 'icon comments'){ //si quiere ver los comentarios
    $('#commentable-area-<%= comment.id %>').fadeToggle();
  }
  if(e.target.className === 'icon like'){ //si quiere daler like ;)
    alert('like!!');
  }  
});

</script>
