<%= form_tag "/home/add_new_comment", :class => "default-form comment-form", :remote =>true do %>
    <%= text_area_tag "comment", nil, :rows => 4, :cols => 76, :placeholder=>'Comentario'  %>
    <%=hidden_field_tag 'commentable_id', commentable_id %>
    <%=hidden_field_tag 'commentable_type', commentable_type %>
    <div class="submit-area"></div>
    <%= button_tag "Cancel", :type => 'button', :class=>'input-button', :id => 'cancel-post-form' %>
    <%= submit_tag "Comentar",:class=>"btn btn-primary" %>
    <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, :hasCourses => true, :defaultText => 'Público', :defaultClass => 'public-dd' } %>
<% end %>