
<%= form_tag "/home/add_new_comment", :class => "default-form comment-form comment_form_top", remote: true do %>  
  
  <div class="new-publication-form-content">
    <% if comment_id.nil? then %>
      <%= text_area_tag "comment", nil, :placeholder=>'¿Que estás pensando?', :class => 'comment_for_wall autogrow' %>
    <% else %>
      <%= text_area_tag "comment", comment, :placeholder=>'¿Que estás pensando?', :class => 'comment_for_wall' %>
    <% end %>

    <%= hidden_field_tag 'commentable_id', commentable_id %>
    <%= hidden_field_tag 'commentable_type', commentable_type %>

    <% if comment_id != nil then %>
      <%= hidden_field_tag 'comment_id', comment_id %>
    <% end %>
  </div>

  <div class="new-publication-footer">
  	<%= link_to "Cancelar", "#", class: 'cancel-new-publication btn btn-secondary' %>

    <%if !@user_show%>
        
      <% if @incourse != true && comment_id == nil %>
        <%= render :partial => "shared/dropdown", :locals => { :hasPublic => true, :hasCourses => true, :hasGroups => true, :hasUser => true, :defaultText => 'Público', :defaultClass => 'public-dd' } %>
      <%else%>

        <%= hidden_field_tag "commentable_type", 'Course'%>
        <%= hidden_field_tag "delivery[course_ids][]", @course.id %>

      <%end%>

    <% end %>

    <span class="btn btn-primary input-btn">
      <%= submit_tag "Comentar", :class=>"btn btn-primary activable", :id => 'comment-post-form' %>
    </span>

  </div>

<% end %>

