<%
  #=========================================
  #============ Comments Logic =============
  #=========================================


  if(comment)
    object = comment
    id_comment = (object.id) ? object.id : ''
    name_comment = (object.user.name) ? object.user.name : ''
    content_comment = (object.comment) ? object.comment : ''
    avatar_comment = (object.user.avatar.modern) ? object.user.avatar.modern : ''
    date_comment = (object.created_at)? object.created_at : ''
  elsif(delivery_comment)
  end
%>

<!-- <div id="box-comments" > -->
<div id="box-comments" >
  <div class="general-cir"></div>

  <div id = "comment_<%= id_comment %>" class="comment-text" >
    <div class="arrow-left"></div>
    <div class="header">
      <div class="avatar"><%= image_tag(avatar_comment,{:class => "avatar-mini"})%></div>
      <div class="top-null-image"></div><b><%= name_comment %></b>  <span class="date"><%= date_comment %></span>
    </div>
    <div class="content">
      <div class="null-image"></div>
      <p><%= content_comment %></p>
    </div>

    <div class="footer" id="footer-comment-<%= comment.id %>">
      <img src="/assets/icons/grey-mini-comment.png" class="icon comments">
      <img src="/assets/icons/grey-mini-like.png" class="icon like">
      <div class="labels">20 Comentarios</div>
      <div class="labels">12 Likes</div>
      <!-- los comentarios del comentario
      <%# comment.comments.each do |commentt| %>
          <%#= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
      <%# end%>
      -->
      <!-- area para comentar -->
      <div class="media" style="display: none;">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= current_user.avatar%>" width ="32px">
        </a>
        <div class="media-body">
          <%#= render :partial => '/shared/form_commentable',:locals => {:commentable_id => comment.id,:commentable_type => 'Comment'} %>
        </div>
      </div>
    </div>
  </div>

  <!-- area para comentar -->
      <div class="post-child-comment-box" style="display:block;" id="commentable-area-<%= comment.id %>">
          <div id="comments-comment-<%= comment.id %>" style="display: none;">
            <% comment.comments.each do |commentt| %>
            <%= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
            <%end%>
          </div>
          <div class="user-post-child-comment">
            <%= render :partial => '/shared/form_commentable',:locals => {:commentable_id => comment.id,:commentable_type => 'Comment'} %>
          </div>
      </div>

</div>

<script type="text/javascript">

$('#footer-comment-<%= comment.id %>').on('click',function(e){
  e.preventDefault();
  if(e.target.className === 'icon comments'){ //si quiere ver los comentarios
    $('#commentable-area-<%= comment.id %>').fadeToggle();
  }
  if(e.target.className === 'icon like'){ //si quiere daler like ;)
    alert('like!!');
  }  
});

</script>
