 <!-- Tip Content -->
    <ol id="joyRideTipContentC" style="display:none">
      <li  data-text="Siguiente" class="custom">
        <h2><%= t('.joyRideTipContent.welcome') %></h2>
        <p><%= t('.joyRideTipContent.subtitle') %></p>
      </li>
      <li data-id="noticce" data-button="Siguiente" data-options="tipLocation:top;tipAnimation:fade">
        <h2><%= t('.joyRideTipContent.notif') %></h2>
        <p><%= t('.joyRideTipContent.notif_area') %></p>
      </li>
      <li data-id="box-user-credential" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.profile') %></h2>
        <p><%= t('.joyRideTipContent.sub_profile') %></p>
      </li>

      <li data-id="edit_course" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.edit_course') %></h2>
        <p><%= t('.joyRideTipContent.ed_course') %></p>
      </li>
      
       <li data-id="box-course" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.descrip') %></h2>
        <p><%= t('.joyRideTipContent.course_descrip') %></p>
      </li>

      <li data-id="edit_course" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.course_edit') %></h2>
        <p><%= t('.joyRideTipContent.text_edit_course') %></p>
      </li>

      <li data-id="tabs-friends-1" data-button="Terminar">
        <h2><%= t('.joyRideTipContent.friends') %></h2>
        <p><%= t('.joyRideTipContent.friends_list') %></p>
      </li>

      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.create_content') %></h2>
        <p><%= t('.joyRideTipContent.content_area') %></p>
      </li>
      <li data-id="timeline" data-button="Terminar" data-options="tipLocation:right">
        <h2><%= t('.joyRideTipContent.publications') %></h2>
        <p><%= t('.joyRideTipContent.pub_area') %></p>
      </li>
    </ol>



<script>
  $('#joyRideTipContentC').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        'postRideCallback': function (argument) {
          var data ={
              data:1
          };
          $.get('/home/finish_tour',data,null,"script");
        },
        // modal:true,
        expose: true
        });
</script>