<% 
   @d = Delivery.find(delivery.id)
   @d.expired?
%> 

<div class="null-image"></div>
    <p class="title-discusion" style="width:150px; float:left; margin-left:-60px; "><%= truncate("#{delivery.title}", :omission => "...", :length => 35) %></p>

<div class="end-date-box">
    <div class="end-date-label"><%= t('.end_delivery')%></div>
    <div class="end-date">
        <%= delivery.end_date.strftime( '%d-%h-%Y %l:%M%P') %>
    </div>
</div>
<div class="description" style=" font-weight:normal !important;">
  <p style="margin:15px;">  <%= delivery.description_html %> </p>
</div>


<!--este script sirve para insertar los contenidos por typo en cada uno de los genericos-->
<%= render :partial => "content/insertions_to_contents", :locals => { :type => delivery, :cl => "delivery"}%>

<% if delivery.assets.count > 0 %>
<div class="extra-label"><%= t('.files')%></div>
<div class="asset-box upload-label">
    <% delivery.assets.each do |files|%>
        <div class="file-mini-upload">
             <% @string = files.file.to_s.split('/').last %>
            <%#= debug files.file %> <span><%= link_to "#{@string}", "#{files.file}" , :target => '_blank' %> </span>
        </div>
    <%end%>
</div>
<%end%>
<% if delivery.evaluation_criteria.count > 0 %>
<div class="extra-label"><%= t('.evaluates')%></div>
<div class="evaluation-box">
    <div id="chart-delivery-<%= delivery.id %>" style="min-width: 580px; height: 60px; margin: 0 auto"></div>
    <script type="text/javascript">
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'chart-delivery-<%= delivery.id %>',
                        type: 'bar',
                        marginBottom: 25,
                        spacingTop: -5
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        // categories: ['ortografia', 'desarrollo'],
                        lineWidth: 0,
                        minorGridLineWidth: 0,
                        lineColor: 'transparent',
                        labels: {
                            enabled: false
                        },
                        minorTickLength: 0,
                        tickLength: 0
                    },
                    yAxis: {
                        min: 0,
                        labels: {
                            enabled: false
                        },
                        gridLineWidth: 0,
                        reversed: true,
                        title: {
                            text: ''
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '' + this.series.name + ': ' + this.y + ' (' + Math.round(this.percentage) + '%)';
                        }
                    },
                    plotOptions: {
                        series: {
                            stacking: 'percent'
                        }
                    },
                    legend: {
                        reversed: false,
                        style: {
                            fontFamily: 'monospace',
                            color: "#fff"
                        },
                        backgroundColor: '#f7f7f9',
                        layout: 'horizontal',
                        floating: true,
                        align: 'center',
                        verticalAlign: 'bottom',
                        y: 10,
                        shadow: false,
                        border: 1,
                        borderRadius: 3,
                        borderWidth: 1,
                        lineHeight: 10,
                        borderColor: '#bbbbd4',
                        itemStyle: {
                            fontSize: '10px',
                            color: '#9696ac'
                        },
                        itemHoverStyle: {
                            color: '#72728e',
                            fontSize: '10px'
                        }
                    },
                    series: [ <% @i = 1 %> <% delivery.evaluation_criteria.each do |areas | %> {
                        name: '<%= areas.name %>',
                        index: <%= @i %>
                    }, <% @i = @i + 1 %> <% end %> ],
                    exporting: {
                        buttons: {
                            printButton: {
                                enabled: false
                            },
                            exportButton: {
                                enabled: false
                            }
                        }
                    }

                });
            });

        });
    </script>
</div>
<%end%>
<!--se crea una validación para que los owner del curso y los que no son miembros no puedan entregar las tareas-->
<% publication.courses.each do |course|%>
<% @if_im_member = MembersInCourse.find_by_course_id_and_user_id(course.id, current_user.id) %>
<% if @if_im_member != nil%>
<% if @if_im_member.owner != true%>
<div class="delivery-box">
    <div class="green-btn">
        <div class="labels">
            <% if delivery.state == "published" && current_user.assignments.where(:delivery_id => delivery.id).empty?%>
            <div id="open-close-delivery<%= delivery.id %>">
                <a><%= t('.reply')%></a>
            </div>            
            <%else%>
                <% accomplishment = current_user.assignments.where(:delivery_id => delivery.id)[0].accomplishment%>
                <% if accomplishment != nil %>
                    <div style="background-color:#FFF; border:5px solid #FFF; margin:-2px -2px -2px -2px; color:#3BB3C5;font-size:34px; text-shadow:none">
                       <%= accomplishment.to_s %>
                    </div>
                <%else%>
                    <div id="open-close-delivery<%= delivery.id%>">
                       <a><%= t('.edit_delivery')%></a>
                    </div>
                <%end%>                
            <%end%>
        </div>
    </div>
</div>
    <!-- algo que se puede descifrar de alguna manera -->
    <script>
        $("#open-close-delivery<%= delivery.id %>").click(function () {
            $('#entrega-delivery-<%= delivery.id %>').show("slow");
            $('#cancel-post-form-<%=delivery.id%>').click(function () {
                $("#open-close-delivery<%= delivery.id %>").show();
                $("#open-close-delivery<%= delivery.id %>").parent().parent().show();
                $('#entrega-delivery-<%= delivery.id %>').hide("slow");
            });
        });
        // $("#open-close-deliverylo<%= delivery.id %>").click(function () {
        //     $('#entrega-delivery-lo<%= delivery.id %>').toggle("slow");
        // });
    </script>
<%end%>
<%end%>
<%end%>
<div class="delivery-assignment-box" id="entrega-delivery-<%= delivery.id %>">
    <% @delivery_id=delivery.id%>
    <%=render :partial => "/assignments/form_for_delivery", :locals => {:delivery => delivery, :cargo => cargo}%>
</div>

 <div style="display:none; margin-top:15px; margin-left:5px;" id="entrega-delivery-lo<%= delivery.id %>">
                <% @count_deliveries_assignments = delivery.assignments.count %>
                <%= @count_deliveries_areas_of_evaluation = delivery.areas_of_evaluation.count %>

                <% if @count_deliveries_areas_of_evaluation > 0%>
                <%else%>
                  <b><%= t('.no_evaluation')%></b></br>
                <%end%>
                <% if @count_deliveries_assignments > 0%>
                    <% delivery.assignments.each do |assignment| %>
                       <b><%= assignment.title %></b></br>
                       <%= assignment.brief_description %></br>
                          <%= form_for assignment do |assignment_form|%>

                               <%= assignment_form.fields_for :response_to_the_evaluations do |response| %>
                                     <b><%= t('.category')%></b></br>
                                      <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>
                               <%end%>
                                    <b><%= t('.final_eval')%></b>
                                   <%= assignment_form.text_field :accomplishment %></br>
                               <%= assignment_form.submit%></br>

                          <%end%>
                       <%= link_to(t('.view_delivey'), "http://#{current_network.subdomain}.#{links}/assignments/#{assignment.id}")%>
                    <%end%>
                  <% else %>
                    <b><%= t('.no_reply')%></b>
                <% end %>
</div>
