- random_id = "#{random}"
- isActivity = !isActivity.nil?

.inline-block
  .dropdown-wrap.target-dropdown{id: "drop-down-#{random_id}"}
    .dropdown-pull.btn.btn-secondary
      %span#title-dd
        = icon(default_icon)
        = defaultText
      %span.arrow
    .dropdown-v.right
      %i.tip
      - if hasPublic && hasCourses
        %ul#box-selector-dd.dropdown.target-selector{style: "display: block;"}
          %li
            %label#icon-dd-public.world-dd.active
              = icon('public-new-publication')
              %input#is_public{:name => "is_public", :type => "checkbox", :value => "1"}/
              = t('.dropdown_v.public')
              \#{icon('checked-16')}
          %li
            %label#icon-dd-course.course-dd
              = icon('course-new-publication')
              = t('.dropdown_v.courses')
      - if hasCourses
        %ul#box-course-dd.dropdown.target-courses-selector{style: ("display: none;" if hasPublic)}
          - unless current_user.courses.empty?
            - courses = teacher_courses if is_teacher
            - courses = student_courses if is_student
            - courses.each do |course|
              %li
                %label
                  = avatar('course', '25', "no", course.id, "avatar avatar-24", "no", "no")
                  - if !course.evaluation_periods.empty? && isActivity
                    = check_box_tag 'delivery[course_ids][]', course.id, false, class: ""
                  - else
                    = check_box_tag 'delivery[course_ids][]', course.id, false, class: 'course-selector-js'
                  = truncate(course.title, omission: "...", length: 17)
                  = icon('checked-16')
                  - if !course.evaluation_periods.empty? && isActivity
                    - course.evaluation_periods.each do |evaluation_period|
                      - course_id = "#{course.id}"
                      %ul#box-course-dd.dropdown.target-courses-selector.evaluation-periods-selector{style: "display: block;", course_id: course_id, class: course_id }
                        %li
                          %label{class: course_id }
                            = avatar('course', '25', "no", evaluation_period.id, "avatar avatar-24", "no", "no")
                            = check_box_tag 'delivery[evaluation_periods][]', evaluation_period.id, false, class: "evaluation-period-selector-js #{course.id}"
                            = truncate evaluation_period.name, omission: "...", length: 17
                            = icon('checked-16')

          - else
            .inner-no-content
              - if is_student
                %h5
                  = t('.dropdown_v.no_member')
                %p
                  = t('.dropdown_v.goto_section')
                  #{link_to 'Cursos', courses_path}
              - else
                %h5
                  = t('.dropdown_v.no_course')
          - if hasCourses && hasPublic
            %li
              #box-return-dd.return-dd
                = icon('back-blue')
                = t('.return')
:javascript
  $(document).ready(function() {
      var dropdown      = $('#drop-down-#{random_id}'),
          titleDropdown = dropdown.find('#title-dd');

      dropdown.find('#icon-dd-public').click(function() {
        cleanCoursesSelectorDropdown(dropdown);
        $(this).addClass('active');
        $(this).find('#is_public').prop('checked', true);
        titleDropdown.text('Público').prepend($('<i class="i i-public-new-publication"></i>'));
      });

      dropdown.find('#icon-dd-course').click(function() {
        dropdown.find('#box-selector-dd').hide();
        dropdown.find('#box-course-dd').show();
      });

      dropdown.find('#box-return-dd').click(function(e) {
        dropdown.find('#box-selector-dd').show();
        dropdown.find('#box-course-dd').hide();
        e.preventDefault();
      });

      dropdown.find('.target-courses-selector.evaluation-periods-selector > li label').click(function(e) {
        var $this            = $(this),
            course_id        = $this.parent().parent().attr('course_id'),
            checkboxesLabels = dropdown.find(".target-courses-selector.evaluation-periods-selector > li label." + course_id),
            checkboxesInputs = dropdown.find(".evaluation-period-selector-js." + course_id),
            checkbox         =  $this.find('input[type="checkbox"].evaluation-period-selector-js'),
            isPublicCheckbox = dropdown.find('.target-selector input[name=is_public]');

        dropdown.find('#icon-dd-public').removeClass('active');
        isPublicCheckbox.val(0);
        titleDropdown.text('Cursos').prepend( $('<i class="i i-course-new-publication"></i>') );

        if ( checkbox.is(':checked') ) {
          checkboxesLabels.removeClass('active');
          checkboxesInputs.attr('checked', false);

          checkbox.attr('checked', false);
          $this.removeClass('active');
        } else {
          checkboxesLabels.removeClass('active');
          checkboxesInputs.attr('checked', false);

          checkbox.attr('checked', true);
          $this.addClass('active');
        }

        e.preventDefault();
        e.stopPropagation();
      });

      dropdown.find('.target-courses-selector > li label').click(function(e) {
        var $this      = $(this),
            checkbox   = $this.find('input[type="checkbox"].course-selector-js'),
            isPublicCheckbox = dropdown.find('.target-selector input[name=is_public]');

        if (checkbox.length != 0) {
          dropdown.find('#icon-dd-public').removeClass('active');
          isPublicCheckbox.val(0);
          titleDropdown.text('Cursos').prepend( $('<i class="i i-course-new-publication"></i>') );

          if ( checkbox.is(':checked') ) {
            checkbox.attr('checked', false);
            $this.removeClass('active');
          } else {
            checkbox.attr('checked', true);
            $this.addClass('active');
          }

          e.preventDefault();
          e.stopPropagation();
        };
      });
  });
