<%
   #
   # hasPublic:Boolean    .- Indica si será publico o si contiene propiedad publico
   # hasCourses:Boolean   .- Indica si contendra cursos
   # *defaultText:String  .- Texto por default del componente
   # *defaultClass:String .- Clase que contiene el icono del texto por default
   #
   random_id = "#{random}"
   hasSomeLocals = ( hasPublic && hasCourses && hasGroups) ? true : false
   extra_style = extra_style || ''
%>

<div id="dropdrop_comment" class="inline-block">
  <div id="drop-down-<%= random_id %>" class="dropdown-wrap target-dropdown">

    <div class="dropdown-pull btn btn-secondary">
      <span id="title-dd"><%= icon(default_icon) %><%= defaultText %></span><span class="arrow"></span>
    </div>
    
    <div class="dropdown-v right">
      <i class="tip"></i>
        
        <% if hasPublic && hasCourses %>
        <ul class="dropdown target-selector" id="box-selector-dd" style="display: block;">
          <% if hasPublic  %>
            <li>
              <label id="icon-dd-public" class="world-dd">
                <%= icon('public-new-publication') %>
                <input id="is_public" name="is_public" type="checkbox" value="1">
                Público
                <%= icon('checked-16') %>
              </label>
            </li>
          <% end %>
        
          <% if hasUser %>
            <!-- <li>
              <label id="icon-dd-user" for="is_user" class="user-dd">
                <input id="is_user" name="is_user" type="checkbox" value="<%= current_user.id%>">
                Usuario
              </label>
            </li> -->
          <% end %>
          
          <% if hasCourses %>
            <li>
              <label id="icon-dd-course" class="course-dd">
                <%= icon('course-new-publication') %>
                Cursos
              </label>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      <% if hasCourses  %>
        <ul class="dropdown target-courses-selector" id="box-course-dd" style="<%= "display: none;" if hasPublic %>">

          <% unless current_user.courses.empty? %>
            
            <% for course in current_network.courses %>
              <% @course_member = MembersInCourse.find_by_course_id_and_user_id(course.id, current_user.id) %>

              <% if !@course_member.nil? %>
                <% if @course_member.owner == true || course.id == @course_member.course_id %>
                  <li>
                    <label for="<%= random_id.to_s + course.id.to_s %>">
                      <%= avatar('course', '25', "no", course.id, "avatar avatar-24", "no", "no") %>
                      <%= check_box_tag 'delivery[course_ids][]', course.id, false, id: "#{random_id.to_s + course.id.to_s}" %>
                      <%= truncate( course.title, omission: "...", length: 17) %>
                      <%= icon('checked-16') %>
                    </label>
                  </li>
                <% end%>
              <% end %>
            <% end %>

          <% else %>
            <div class="inner-no-content">
              <% if current_role == 'student' %>
                <h5>No eres miembro de ningún curso.</h5>
                <p>Únete a uno en la sección de <%= link_to 'Cursos', courses_path %></p>
              <% else %>
                <h5>No has creado ningún curso todavia.</h5>
                <p><%= link_to 'Crear curso ahora →', new_course_path %></p>
              <% end %>
            </div>
          <% end %>

          <% if hasCourses && hasPublic %>
            <li>
              <div id="box-return-dd" class="return-dd">
                <%= icon('back-blue') %>
                Volver
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var dropdown      = $('#drop-down-<%= random_id %>'),
            titleDropdown = dropdown.find('#title-dd');

        new DropDown( dropdown );

        dropdown.find('#icon-dd-public').click(function() {

            dropdown.find('input:checkbox').removeAttr('checked');
            dropdown.find('label').removeClass('active');
            $(this).addClass('active');

            titleDropdown.text('Público').prepend($('<i class="i i-public-new-publication"></i>'));
        });

        dropdown.find('#icon-dd-user').click(function() {

            dropdown.find('input:checkbox').removeAttr('checked');
            titleDropdown.html( $(this).text() );

        });

        dropdown.find('#icon-dd-course').click(function() {
          
            titleDropdown.text('Cursos').prepend( $('<i class="i i-course-new-publication"></i>') );
            dropdown.find('label').removeClass('active');
            dropdown.find('#box-selector-dd').hide();
            dropdown.find('#box-course-dd').show();

        });

        dropdown.find('#box-return-dd').click(function(e) {
            dropdown.find('#box-selector-dd').show();
            dropdown.find('#box-course-dd').hide();

            e.preventDefault();
        });

        dropdown.find('.target-courses-selector > li label').click(function(e) {
          var $this     = $(this),
              checkbox  = $this.find('input[type="checkbox"]');


          if ( checkbox.is(':checked') ) {
            checkbox.attr('checked', false);
            $this.removeClass('active');
          } else {
            checkbox.attr('checked', true);
            $this.addClass('active');
          }

          e.preventDefault();
        });
    });
</script>
