<%
   #
   # hasPublic:Boolean    .- Indica si será publico o si contiene propiedad publico
   # hasCourses:Boolean   .- Indica si contendra cursos
   # *defaultText:String  .- Texto por default del componente
   # *defaultClass:String .- Clase que contiene el icono del texto por default
   #
   random_id = "#{random}"
   hasSomeLocals = ( hasPublic && hasCourses && hasGroups) ? true : false
   extra_style = extra_style || ''
%>

<div id="dropdrop_comment" class="inline-block">
  <div id="drop-down-<%= random_id %>" class="dropdown-wrap">

    <div class="dropdown-pull btn btn-secondary">
      <span id="title-dd"><%= defaultText %></span>
    </div>
    
    <div class="dropdown-v right">
      <i class="tip"></i>
      
      <% if hasPublic  %>
        <ul class="dropdown" id="box-selector-dd" style="display: block;">
          <li>
            <input id="is_public" name="is_public" type="checkbox" value="1">
            <label id="icon-dd-public" class="world-dd">Público</label>
          </li>

          <%if hasUser%>
            <li>
              <input id="is_user" name="is_user" type="checkbox" value="<%= current_user.id%>">
              <label id="icon-dd-user" for="is_user" class="user-dd">Usuario</label>
            </li>
          <%end%>
          
          <li>
            <label id="icon-dd-course" class="course-dd">Cursos</label>
          </li>
        </ul>
      <% end %>

      <% if hasCourses  %>
        <ul class="dropdown" id="box-course-dd" style="display: none;">
          <% for course in Course.find(:all) %>
            <% @course_member = MembersInCourse.find_by_course_id_and_user_id(course.id, current_user.id) %>
              
            <% if !@course_member.nil?%>
              <% if @course_member.owner == true #|| course.id == @course_member.course_id %>
                <li>
                  <%= check_box_tag 'delivery[course_ids][]', course.id, false %>
                  <label for="delivery[course_ids][]"><%= course.title %></label>
                </li>
              <% end%>

            <%end%>
          <% end %>

          <% if hasSomeLocals %>
            <li>
              <label id="box-return-dd" class="return-dd">Volver</label>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var idDD = '#drop-down-<%= random_id %>';
        new DropDown( $(idDD) );

        $(idDD + ' #icon-dd-public').click(function() {

            $(idDD + ' input:checkbox').removeAttr('checked');
            $(idDD + ' #title-dd').html($(idDD + ' #icon-dd-public').html());

        });

        $(idDD + ' #icon-dd-user').click(function() {

            $(idDD + ' input:checkbox').removeAttr('checked');
            $(idDD + ' #title-dd').html($(idDD + ' #icon-dd-user').html());

        });

        $(idDD + ' #icon-dd-course').click(function() {
          
            $(idDD+' #title-dd').html($(idDD + ' #icon-dd-course').html());
            $(idDD + ' #box-selector-dd').hide();
            $(idDD + ' #box-course-dd').show();
        });

        $(idDD + ' #box-return-dd').click(function() {
            $(idDD + ' #box-selector-dd').show();
            $(idDD + ' #box-course-dd').hide();
        });
    });
</script>
