- phases = Phase.order('phases.order ASC')
- random_id = "#{random}"

.inline-block
  .dropdown-wrap.target-dropdown{id: "drop-down-#{random_id}"}
    .dropdown-pull.btn.btn-secondary
      %span#title-dd
        = icon(default_icon)
        = defaultText
      %span.arrow
    .dropdown-v.right
      %i.tip
      %ul#box-course-dd.dropdown.target-courses-selector{style: ("")}
        - phases.each do |phase|
          %li
            %label
              = avatar('course', '25', "no", phase.id, "avatar avatar-24", "no", "no")
              = check_box_tag 'phase[]', phase.id, false, class: "phase-selector-js"
              = "#{phase.order}. #{phase.name}"
              = icon('checked-16')
:javascript
  $(document).ready(function() {
      var dropdown      = $('#drop-down-#{random_id}'),
          titleDropdown = dropdown.find('#title-dd');

      dropdown.find('#icon-dd-course').click(function() {
        dropdown.find('#box-selector-dd').hide();
        dropdown.find('#box-course-dd').show();
      });

      dropdown.find('#box-return-dd').click(function(e) {
        dropdown.find('#box-selector-dd').show();
        dropdown.find('#box-course-dd').hide();
        e.preventDefault();
      });

      dropdown.find('.target-courses-selector > li label').click(function(e) {
        var $this       = $(this),
            checkbox    = $this.find('input[type="checkbox"]'),
            checkboxesLabels  = dropdown.find('.target-courses-selector > li label'),
            checkboxesInputs  = dropdown.find(".phase-selector-js");

        titleDropdown.text('Etapas').prepend( $('<i class="i i-course-new-publication"></i>') );

        if ( checkbox.is(':checked') ) {
          checkboxesLabels.removeClass('active');
          checkboxesInputs.attr('checked', false);

        } else {
          checkboxesLabels.removeClass('active');
          checkboxesInputs.attr('checked', false);

          checkbox.attr('checked', true);
          $this.addClass('active');
        }

        e.preventDefault();
        e.stopPropagation();
      });
  });
