<div class="banner-shadow">
    <div id="box-titles">
        <ul id="banner-btns" class="list-header">
            <li class="calendar" get-to="#calendar-area" move-sidebar-height="105px" on-load-function="calendar">Calendario</li>
            <% permitted_to? :create, :courses do %>
            <li class="calendar" get-to="#full-deliveries-area" move-sidebar-height="105px">Entregas</li>
            <li class="calendar" get-to="#my_old_courses" move-sidebar-height="105px">Cursos antiguos</li>
            <%end%>
        </ul>
    </div>

    <div id="box-titles-content" class="box-titles-content-style">
        <div id="calendar-area" style="height:500px">
             <div class="black-delivery-box" style="padding:5px; margin-top:4px;width: px;">
                    <div class="header">
                        <h1 style="margin-left:10px; padding:2px;"> Calendario
                        </h1>
                    </div>
                </div>
                <%= render partial: "calendar/calendar_mini"%>
                <%= render partial: "calendar/list"%>
        </div>
       
        <div id="full-deliveries-area" >
          <%= link_to "Atualizar información", user_acces_courses_path, :remote => true%>
          <div id="actual_resources">
          <% @course_for_user = current_user.courses.where(:active_status => true)%>
          <%= render partial: "courses/dashboard_deliver", :locals => {:course_for_user => @course_for_user }%>
          </div>
        </div>
        
        <div id="my_old_courses">
            <%= link_to "Actualizar información", user_old_courses_path, :remote => true  %>
            <div id="old_resources" >
                <% @old_course_for_user = current_user.courses.where(:active_status => false)
                %>
                <%= render partial: "courses/old_course",:locals => {:old_course_for_user => @old_course_for_user}%>
            </div>
        </div>  
                  
    </div>
</div>