<!-- Tip Content -->
<ol id="joyRideTipContentN" style="display:none">
  <li  data-text="Siguiente" class="custom">
    <h2><%=t('.joyride_tip_content.welcome') %></h2>
    <p><%=t('.joyride_tip_content.description') %></p>
  </li>
  <li data-id="box-course" data-button="Siguiente" data-options="tipLocation:right">
    <h2><%=t('.joyride_tip_content.courses') %></h2>
    <p><%=t('.joyride_tip_content.description_courses') %></p>
  </li>
  <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
    <h2><%=t('.joyride_tip_content.menu') %></h2>
    <p><%=t('.joyride_tip_content.menu_description') %></p>
  </li>
  <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.joyride_tip_content.text1') %></h2>
        <p><%=t('.joyride_tip_content.text2') %></p>
        <div><%= image_tag("dropdown.png") %></div>
      </li>
      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.joyride_tip_content.text3') %></h2>
        <p><%=t('.joyride_tip_content.text4') %></p>
        <div><%= image_tag("cursos-dropdown.png") %></div>
      </li>

      <li data-class="publication-box" data-button="Siguiente" data-options="tipLocation:right" style="margin-top:50px;">
        <h2><%=t('.joyride_tip_content.text5') %></h2>
        <p><%=t('.joyride_tip_content.text6') %></p>
      </li>

      <li data-id="trans-nav" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.joyride_tip_content.text7') %></h2>
        <p><%=t('.joyride_tip_content.text8') %></p>
      </li>      

      <li data-id="tabs-friends-1" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.joyride_tip_content.text9') %></h2>
        <p><%=t('.joyride_tip_content.text10') %></p>
      </li>

      <li data-id="banner-btns" data-button="Siguiente">
        <h2><%=t('.joyride_tip_content.text11') %></h2>
        <p><%=t('.joyride_tip_content.text12') %></p>
      </li>

      <li data-button="Terminar">
        <h2><%=t('.joyride_tip_content.text13') %></h2>
        <p><%=t('.joyride_tip_content.text14') %></p>
      </li>
    </ol>



<script>
  $('#joyRideTipContentN').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        'postRideCallback': function (argument) {
          var data ={
              data:0
          };
          $.get('/home/finish_tour',data,null,"script");
        },
        expose: true
  });
</script>
