<% if current_role == "superadmin"%>
<% else %>

<li id="notification-<%=notification.id.to_s%>" class="<%= cls %>" >
  
  <div class="activity-feed">  
  <% if notification.notificator != nil%>
    
    <% case notification.kind %>
    <% when 'user_comment_on_network'%> 
      <!-- Notificacion: 1 - Usuario comento en una red *** esta no sucede por que son muchos usuarios-->
      <% if current_user && current_user.avatar != nil%>
        <% user = notification.notificator.user%>
        
        <%= link_to image_tag(user.avatar.modern, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !user.avatar.blank? )%>
        <%= link_to image_tag(user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( user.avatar.blank? )%>
      <% end%>
      
      <%=link_to "#{notification.notificator.user.name}", show_user_path(notification.notificator.user.personal_url) if (!notification.notificator.user.name.blank?)%>
      <%=link_to " Ver usuario ", show_user_path(notification.notificator.user.personal_url) if (notification.notificator.user.name.blank?)%>
      comentó en la red <%= link_to "#{notification.notificator.commentable.name}", network_path(notification.notificator.commentable.subdomain) %>
      
      <!-- /?search=<%= notification.notificator_type %>&id_search=<%=notification.notificator_id.to_s%>") -->
      
    <!-- Notificacion: 2 - Usuario comento en un curso -->
    <% when 'user_comment_on_course'%>
      <% user = notification.notificator.user%>
      
      <%= link_to course_path(notification.notificator.commentable.id) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><span class="as-link"><%= user.name %></span> comentó en el curso <span class="as-link"><%= notification.notificator.commentable.title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>
      
    <!-- Notificacion: 3 - Curso publico nuevo en una red -->
    <% when 'new_public_course_on_network'%>
      <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">
      Nuevo curso
      <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.id) %></b> en tu red <b><%= notification.notificator.network.name %></b>
      <!-- #notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses") -->
    
    <!-- Notificacion: 4 - Usuario aceptado en un curso -->
    <% when 'user_accepted_in_course'%>
      <%= link_to course_path(notification.notificator.id) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>Has sido aceptado en el curso <span class="as-link"><%= notification.notificator.title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 5 - Nueva tarea en un curso -->
    <% when 'new_delivery_on_course'%>
      <%= link_to "#{course_path(notification.notificator.courses[0].id)}?search=#{notification.notificator_type}&id_search=#{notification.notificator_id.to_s}" do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>Nueva tarea <span class="as-link"><%= notification.notificator.title %></span> en tu curso <span class="as-link"><%= notification.notificator.courses[0].title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 6 - Nueva discusion en un curso -->
    <% when 'new_discussion_on_course' %>
      <%= link_to "#{course_path(notification.notificator.courses[0].id)}?search=#{notification.notificator_type}&id_search=#{notification.notificator_id.to_s}" do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>Nueva discusion <span class="as-link"><%= notification.notificator.title %></span> en tu curso <span class="as-link"><%= notification.notificator.courses[0].title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 7 - Nuevo cuestionario en un curso -->
    <% when 'new_survey_on_course'%>
      <%= link_to "#{course_path(notification.notificator.courses.first.id)}?search=#{notification.notificator_type}&id_search=#{notification.notificator_id.to_s}" do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>Nuevo cuestionario <span class="as-link"><%= notification.notificator.name %></span> en tu curso <span class="as-link"><%= notification.notificator.courses[0].title %></span> </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 8 - Nueva entrega a una tarea -->
    <% when 'new_assignment_on_delivery'%>
      <%= link_to "#{course_path(notification.notificator.course_id)}/activities_depot" do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", notification.notificator.user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <% if notification.notificator.user != nil && notification.notificator.user.name != nil%>
              <span class="as-link"><%= notification.notificator.user.name %></span>
            <%else%>
              Un usuario
            <%end%>
            ha respondido a la tarea <span class="as-link"><%= notification.notificator.delivery.title %></span>.
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 9 - Nueva calificacion en una respuesta -->
    <% when 'new_accomplishment_on_assignment'%>
      <%= link_to "#{course_path(notification.notificator.delivery.courses.first.id)}?search=Delivery&id_search=#{notification.notificator.delivery.id.to_s}" do %>

        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.delivery.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            Han calificado tu tarea <span class="as-link"><%= notification.notificator.delivery.title %></span> del curso <span class="as-link"><%= notification.notificator.delivery.courses.first.title %></span>
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 10 - Solicitud de amistad -->
    <% when 'user_request_friendship'%>
      <% if notification.notificator != nil && notification.notificator.user != nil %>
        <% user = notification.notificator.user %>
        <%= link_to "#{user_friends_path(notification.notificator.friend.personal_url)}?pending=true" do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", "#{notification.notificator.user_id}", "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= notification.notificator.user.name %></span> ha solicitado ser su amigo</h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>

      <%end%>
    
    <!-- Notificacion: 11 - Usuario acepto amistad -->
    <% when 'user_accepted_friendship'%>
      <% if notification.notificator != nil && notification.notificator.friend != nil %>
          <% user = notification.notificator.friend %>
          
          <%= link_to show_user_path(user.personal_url) do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6><span class="as-link"><%= user.name %></span> ha aceptado su solicitud de amistad.</h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>

      <%end%>
      
    <!-- Notificacion: 12 - Usuario comento en una discusion -->
    <% when 'user_comment_on_discussion'%>
      <% user = notification.notificator.user %>

      <%
        if notification.notificator.commentable.courses.first.nil?
          notificationURL = "/?search=#{notification.notificator.commentable_type}&id_search=#{notification.notificator.commentable_id.to_s}"
        else
          notificationURL = "#{course_path(notification.notificator.commentable.courses.first.id)}?search=#{notification.notificator.commentable_type}&id_search=#{notification.notificator.commentable_id.to_s}"
        end
      %>
      <%= link_to notificationURL do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><span class="as-link"><%= user.name %></span> comentó en tu discusión <span class="as-link"><%=  %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>
      
    <!-- Notificacion: 13 - Usuario comento en un comentario -->
    <% when 'user_comment_on_comment'%>    
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>

        <% if notification.notificator.commentable.commentable_type == "Course" %>
          <% url = "/courses/#{notification.notificator.commentable.commentable_id}?search=Comment&id_search=#{notification.notificator.commentable_id}" %>
        <% else %>
          <% url = "/?search=Comment&id_search=#{notification.notificator.commentable_id}" %>
        <% end %>

        <%= link_to url do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span> ha comentado en un comentario que hiciste.</h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>
    
    <!-- Notificacion: 14 - Usuario comento en un usuario -->      
    <% when 'user_comment_on_user'%>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        
        <%= link_to "#{show_user_path(notification.notificator.commentable.personal_url)}?search=Comment&id_search=#{notification.notificator_id}" do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span> ha comentado en tu perfil.</h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %> 
    
    <!-- Notificacion: 15 - Usuario comento en una tarea --> 
    <% when 'user_comment_on_delivery'%>
       <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        <%= link_to "#{course_path(notification.notificator.commentable.courses.first.id)}?search=Delivery&id_search=#{notification.notificator.commentable_id}" do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span> ha comentado en la tarea <span class="as-link"><%= notification.notificator.commentable.title %></span></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

      <!-- "#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=%>" -->

    <!-- Notificacion: 16 - Solicitud de membresia en un curso -->
    <% when 'user_request_membership_in_course' %>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        
        <%= link_to course_members_path(notification.notificator.course.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span> ha solicitado entrar al curso <span class="as-link"><%= notification.notificator.course.title %></span></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>

      <%end%>

    <!-- Notificacion: 17 - Respuesta de cuestionario -->
    <% when 'new_assignment_on_survey' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.user != nil %>
          <% user = notification.notificator.user %>

          <%= link_to course_activities_depot_path(notification.notificator.survey.courses.first.id) do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6>
                <span class="as-link"><%= user.name %></span> ha respondido el cuestionario <span class="as-link"><%= notification.notificator.survey.name %></span>
              </h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>
          
        <%end%>
      <%end%>

    <!-- Notificacion: 18 - Curso expirado -->
    <% when 'course_expired' %>
      <% if notification.notificator != nil %>
        <%= link_to course_path(notification.notificator.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6>El curso <span class="as-link"><%= notification.notificator.title %></span> ha llegado a su fecha final. Por favor desactívalo.</h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

    <% when 'course_deactivated' %>
      <% if notification.notificator != nil %>
        <%= link_to course_path(notification.notificator.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6>
              El curso <span class="as-link"><%= notification.notificator.title %></span> ha sido
              <%= notification.notificator.active_status ? "activado" : "desactivado" %>.
            </h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

    <%else%>
      <%= notification.kind %>
      <% @array = notification.notificator.user %>
      <% if @array.class == Array %>
        <% user =  @array.first %>
        <%= image_tag(user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !user.avatar.blank?) %><%= image_tag(user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( user.avatar.blank?) %>Una actividad por <%=link_to "#{user.name} ",show_user_path(user.personal_url) if ( !user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(user.personal_url) if (user.name.blank?)%>
      <%else%>
        <% if notification.notificator.user  != nil %>
          <% if  notification.notificator.user.avatar != nil %>
            <%= image_tag(notification.notificator.user.avatar.modern, {:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?) %>
            <%= image_tag(notification.notificator.user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?) %>
          <%end%>
          Una actividad por <%=link_to "#{notification.notificator.user.name} ", show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%>
          <%=link_to " Ver usuario ", show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%>
        <%end%>
      <%end%>
    <%end%>

    </div>
  </li>
  <%end%>
<%end%>
