<!-- este partial controla la logica para mostrar notificaciones -->
<% if current_role == "superadmin"%>
<%else%>

<li id="notification-<%=notification.id.to_s%>" style="padding_right: 0px" redirect_to="" class="<%= cls %>" onclick ="me('<%= notification.notificator_type %>', <%=notification.id.to_s%>, '<%=notification.kind.to_s %>')">
<% if notification.notificator != nil%>
  <% case notification.kind %>
    <% when 'user_comment_on_network'%> 
    <!-- Notificacion: 1 - Usuario comento en una red *** esta no sucede por que son muchos usuarios-->
      <% if current_user && current_user.avatar != nil%>
        <% user = notification.notificator.user%>
        
        <%= link_to image_tag(user.avatar.modern, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !user.avatar.blank? )%>
        <%= link_to image_tag(user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( user.avatar.blank? )%>
      <% end%>
      
      <%=link_to "#{notification.notificator.user.name}", show_user_path(notification.notificator.user.personal_url) if (!notification.notificator.user.name.blank?)%>
      <%=link_to " Ver usuario ", show_user_path(notification.notificator.user.personal_url) if (notification.notificator.user.name.blank?)%>
      coment贸 en la red <%= link_to "#{notification.notificator.commentable.name}", network_path(notification.notificator.commentable.subdomain) %>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/?search=<%= notification.notificator_type %>&id_search=<%=notification.notificator_id.to_s%>")</script>
      
    <!-- Notificacion: 2 - Usuario comento en un curso -->
    <% when 'user_comment_on_course'%>
      <% if current_user && current_user.avatar != nil %>
        <% user = notification.notificator.user%>
        
        <%= link_to image_tag(notification.notificator.user.avatar.modern,{:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !notification.notificator.user.avatar.blank?) %>
        <%= link_to image_tag(notification.notificator.user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( notification.notificator.user.avatar.blank?) %>
      <% end %>
      
      <%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%>
      <%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%>coment贸 en el curso <%= link_to "#{notification.notificator.commentable.title}", course_path(notification.notificator.commentable.id) %>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.commentable_id.to_s%>?search=<%=notification.notificator_type%>&id_search=<%=notification.notificator_id.to_s%>")</script>
      
    <!-- Notificacion: 3 - Curso publico nuevo en una red -->
    <% when 'new_public_course_on_network'%>
      <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">
      Nuevo curso
      <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.id) %></b> en tu red <b><%= notification.notificator.network.name %></b>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses")</script>
    
    <!-- Notificacion: 4 - Usuario aceptado en un curso -->
    <% when 'user_accepted_in_course'%>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.id), class:"avatar-notifications avatar-mini" %>Has sido aceptado en el curso <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.id) %><b>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator_id.to_s%>")</script>

    <!-- Notificacion: 5 - Nueva tarea en un curso -->
    <% when 'new_delivery_on_course'%>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.courses.first.id), class:"avatar-notifications avatar-mini" %>Nueva tarea <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.courses.first.id) %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}", course_path(notification.notificator.courses[0].id) if ( !notification.notificator.courses.blank?)%>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.courses.first.id.to_s%>?search=<%=notification.notificator_type%>&id_search=<%=notification.notificator_id.to_s%>")</script>

    <!-- Notificacion: 6 - Nueva discusion en un curso -->
    <% when 'new_discussion_on_course' %>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.courses.first.id), class:"avatar-notifications avatar-mini" %> Nueva discusion <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.courses.first.id) %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}",course_path(notification.notificator.courses[0].id) if (!notification.notificator.courses.blank?)%>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.courses.first.id.to_s%>?search=<%=notification.notificator_type%>&id_search=<%=notification.notificator_id.to_s%>")</script>

    <!-- Notificacion: 7 - Nuevo cuestionario en un curso -->
    <% when 'new_survey_on_course'%>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.courses.first.id), class:"avatar-notifications avatar-mini" %>Nuevo cuestionario <b><%= link_to "#{notification.notificator.name}", course_path(notification.notificator.courses.first.id) %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}", course_path(notification.notificator.courses[0].id) if (!notification.notificator.courses.blank?) %>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.courses.first.id.to_s%>?search=<%=notification.notificator_type%>&id_search=<%=notification.notificator_id.to_s%>")</script>

    <!-- Notificacion: 8 - Nueva entrega a una tarea -->
    <% when 'new_assignment_on_delivery'%>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.delivery.courses.first.id), class:"avatar-notifications avatar-mini" %>
      <% if notification.notificator.user != nil%>
        <% if notification.notificator.user.name != nil%>
          <%= link_to "#{notification.notificator.user.name}", show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)  %>
        <%else%>
          <%= link_to "Un usuario", show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?) %>
        <%end%>
      <%end%>ha respondido a la tarea
      <b><%= link_to "#{notification.notificator.delivery.title}", course_path(notification.notificator.delivery.courses.first.id) %></b>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.course_id%>?search=Delivery&id_search=<%=notification.notificator.delivery.id.to_s%>&show_assig=<%= notification.notificator_id.to_s %>")</script>

    <!-- Notificacion: 9 - Nueva calificacion en una respuesta -->
    <% when 'new_accomplishment_on_assignment'%>
      <%= link_to image_tag("/assets/group-avatar-mini.png"), course_path(notification.notificator.delivery.courses.first.id), class:"avatar-notifications avatar-mini" %>Han calificado tu tarea
      <b><%= link_to "#{notification.notificator.delivery.title}", course_path(notification.notificator.delivery.courses.first.id) %></b>
      del curso <b><%= link_to "#{notification.notificator.delivery.courses.first.title}", course_path(notification.notificator.delivery.courses.first.id) %></b>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.course_id%>?search=Delivery&id_search=<%=notification.notificator.delivery.id.to_s%>&show_accom=<%= notification.notificator_id.to_s %>")</script>

    <!-- Notificacion: 10 - Solicitud de amistad -->
    <% when 'user_request_friendship'%>
      <% if notification.notificator != nil %>
        <% if notification.notificator.user != nil %>
          <% user = notification.notificator.user %>
          <%= link_to image_tag(user.image_avatarxxx), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" if (user.avatar.blank?) %>
          <%= link_to image_tag(user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini"  if (!user.avatar.blank?) %>
          El usuario <b><%= link_to "#{notification.notificator.user.name}", show_friends_path(current_user.personal_url) %></b>
          ha solicitado ser su amigo.
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/comunity?search_reqfs=<%=notification.notificator.user_id%>")</script>
        <%end%>
      <%end%>
    
    <!-- Notificacion: 11 - Usuario acepto amistad -->
    <% when 'user_accepted_friendship'%>
      <% if notification.notificator != nil %>
        <% if notification.notificator.friend != nil %>
          <% user = notification.notificator.friend %>
          
          <%= link_to image_tag(user.image_avatarxxx), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" if (user.avatar.blank?) %>
          <%= link_to image_tag(user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini"  if (!user.avatar.blank?) %>
          El usuario <b><%= link_to "#{user.name}", show_user_path(user.personal_url) %></b>
          ha aceptado su solicitud de amistad.
          <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/users/<%= notification.notificator.friend.personal_url %>")</script>
        <%end%>
      <%end%>
      
    <!-- Notificacion: 12 - Usuario comento en una discusion -->
    <% when 'user_comment_on_discussion'%>
      <% if current_user && current_user.avatar != nil %>
        <% user = notification.notificator.user %>
        <%= link_to image_tag(current_user.avatar.modern,{:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !notification.notificator.user.avatar.blank?)%>
        <%= link_to image_tag(current_user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( notification.notificator.user.avatar.blank?)%>
      <%end%>
      <b><%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%></b> coment贸 en tu discusi贸n
      <% if notification.notificator.commentable.courses.first.nil? %>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/?search=<%= notification.notificator.commentable_type %>&id_search=<%=notification.notificator.commentable_id.to_s %>")</script>
      <% else %>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%= notification.notificator.commentable.courses.first.id.to_s %>?search=<%= notification.notificator.commentable_type %>&id_search=<%=notification.notificator.commentable_id.to_s %>");</script>
      <% end %>
      
    <!-- Notificacion: 13 - Usuario comento en un comentario -->
    <% when 'user_comment_on_comment'%>    
      <% if notification.notificator != nil %>
         <% user = notification.notificator.user %>
         <%= link_to image_tag(user.avatar.blank? ? user.image_avatarxxx : user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" %>        
          El usuario <b><%= link_to "#{user.name}", show_user_path(user.personal_url) %></b>
          ha comentado en un comentario que hiciste .
      <% end %>
      <% if notification.notificator.commentable.commentable_type == "Course" %>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%= notification.notificator.commentable.commentable_id %>?search=Comment&id_search=<%=notification.notificator.commentable_id%>")</script>
      <% else %>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/?search=Comment&id_search=<%=notification.notificator.commentable_id%>")</script>
      <% end %>
    
    <!-- Notificacion: 14 - Usuario comento en un usuario -->      
    <% when 'user_comment_on_user'%>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        <%= link_to image_tag(user.avatar.blank? ? user.image_avatarxxx : user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" %>        
          El usuario <b><%= link_to "#{user.name}", show_user_path(user.personal_url) %></b>
          ha comentado en tu perfil.
      <% end %> 
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/users/<%=notification.notificator.commentable.personal_url%>?search=Comment&id_search=<%=notification.notificator_id%>")</script>
    
    <!-- Notificacion: 15 - Usuario comento en una tarea --> 
    <% when 'user_comment_on_delivery'%>
       <% if notification.notificator != nil %>
         <% user = notification.notificator.user %>
         <%= link_to image_tag(user.avatar.blank? ? user.image_avatarxxx : user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" %>        
          El usuario <b><%= link_to "#{user.name}", show_user_path(user.personal_url) %></b>
          ha comentado en la tarea <%="#{notification.notificator.commentable.title}"%>.
      <% end %>
      <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.commentable.courses.first.id%>?search=Delivery&id_search=<%=notification.notificator.commentable_id%>")</script>

    <!-- Notificacion: 16 - Solicitud de membresia en un curso -->
    <% when 'user_request_membership_in_course' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.user != nil %>
          <% user = notification.notificator.user %>
          <%= link_to image_tag(user.image_avatarxxx), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" if (user.avatar.blank?) %>
          <%= link_to image_tag(user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini"  if (!user.avatar.blank?) %>
          El usuario <b><%= link_to "#{notification.notificator.user.name}", show_friends_path(current_user.personal_url) %></b>
          ha solicitado entrar al curso <b><%= link_to "#{notification.notificator.course.title}", course_path(notification.notificator.course.id) %><b>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "<%= course_path(notification.notificator.course.id)%>/members")</script>
        <%end%>
      <%end%>

    <!-- Notificacion: 17 - Respuesta de cuestionario -->
    <% when 'new_assignment_on_survey' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.user != nil %>
          <% user = notification.notificator.user %>
          <%= link_to image_tag(user.image_avatarxxx), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini" if (user.avatar.blank?) %>
          <%= link_to image_tag(user.avatar.modern), show_user_path(user.personal_url), class:"avatar-notifications avatar-mini"  if (!user.avatar.blank?) %>
          El usuario <b><%= link_to "#{notification.notificator.user.name}", show_friends_path(current_user.personal_url) %></b>
          ha respondido el cuestionario <b><%= notification.notificator.survey.name %></b>
        <script>$("#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=notification.notificator.survey.courses.first.id%>?search=Survey&id_search=<%=notification.notificator.survey.id.to_s%>&show_survey=<%= notification.notificator_id.to_s %>")</script>
        <%end%>
      <%end%>

    <%else%>
      <%= notification.kind %>
      <% @array = notification.notificator.user %>
      <% if @array.class == Array %>
        <% user =  @array.first %>
        <%= image_tag(user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !user.avatar.blank?) %><%= image_tag(user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( user.avatar.blank?) %>Una actividad por <%=link_to "#{user.name} ",show_user_path(user.personal_url) if ( !user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(user.personal_url) if (user.name.blank?)%>
      <%else%>
        <% if notification.notificator.user  != nil %>
          <% if  notification.notificator.user.avatar != nil %>
            <%= image_tag(notification.notificator.user.avatar.modern, {:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?) %>
            <%= image_tag(notification.notificator.user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?) %>
          <%end%>
          Una actividad por <%=link_to "#{notification.notificator.user.name} ", show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%>
          <%=link_to " Ver usuario ", show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%>
        <%end%>
      <%end%>
    <%end%>
  <br/>
  <span class="time"><%=time_ago_in_words(notification.created_at)%></span>
  </li>
  <%end%>
<%end%>
