<li id="notification-<%=notification.id.to_s%>" class="<%= cls %>" >
  <div class="activity-feed">
  <% if notification.notificator != nil%>

    <% case notification.kind %>
    <% when 'user_comment_on_network'%>
      <!-- Notificacion: 1 - Usuario comento en una red *** esta no sucede por que son muchos usuarios-->
      <% if current_user && current_user.avatar != nil%>
        <% user = notification.notificator.user%>

        <%= link_to image_tag(user.avatar.modern, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !user.avatar.blank? )%>
        <%= link_to image_tag(user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( user.avatar.blank? )%>
      <% end%>

      <%=link_to "#{notification.notificator.user.name}", show_user_path(notification.notificator.user.personal_url) if (!notification.notificator.user.name.blank?)%>
      <%=link_to t('.activity_feed.lookup_usr'), show_user_path(notification.notificator.user.personal_url) if (notification.notificator.user.name.blank?) %>
      <%=t('.activity_feed.comment_net')%><%= link_to "#{notification.notificator.commentable.name}", network_path(notification.notificator.commentable.subdomain) %>

    <!-- Notificacion: 2 - Usuario comento en un curso -->
    <% when 'user_comment_on_course'%>
      <% user = notification.notificator.user%>

      <%= link_to comment_path(notification.notificator) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><span class="as-link"><%= user.name %></span> <%=t('.activity_feed.comment_course')%><span class="as-link"><%= notification.notificator.commentable.title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 3 - Curso publico nuevo en una red -->
    <% when 'new_public_course_on_network'%>
      <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">
      <%=t('.activity_feed.new_course')%>
      <b><%= link_to "#{notification.notificator.title}", course_path(notification.notificator.id) %></b><%=t('.activity_feed.in_network')%><b><%= notification.notificator.network.name %></b>
      <!-- #notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses") -->

    <!-- Notificacion: 4 - Usuario aceptado en un curso -->
    <% when 'user_accepted_in_course'%>
      <%= link_to course_path(notification.notificator.id) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><%=t('.activity_feed.accept_course')%><span class="as-link"><%= notification.notificator.title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 5 - Nueva tarea en un curso -->
    <% when 'new_delivery_on_course'%>
      <%= link_to delivery_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><%=t('.activity_feed.new_homework')%><span class="as-link"><%= notification.notificator.title %></span> <%=t('.activity_feed.in_course')%><span class="as-link"><%= notification.notificator.courses[0].title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 6 - Nueva discusion en un curso -->
    <% when 'new_discussion_on_course' %>
      <%= link_to discussion_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><%=t('.activity_feed.new_discus')%><span class="as-link"><%= notification.notificator.title %></span> <%=t('.activity_feed.in_course1')%><span class="as-link"><%= notification.notificator.courses[0].title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 7 - Nuevo cuestionario en un curso -->
    <% when 'new_survey_on_course'%>
      <%= link_to survey_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><%=t('.activity_feed.new_question')%>Nuevo cuestionario <span class="as-link"><%= notification.notificator.name %></span> <%=t('.activity_feed.in_course2')%><span class="as-link"><%= notification.notificator.courses[0].title %></span> </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 7.1 - Cuestionario editado en un curso -->
    <% when 'edit_survey_on_course'%>
      <%= link_to survey_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>El cuestionario <span class="as-link"><%= notification.notificator.name %></span> de tu curso <span class="as-link"><%= notification.notificator.courses[0].title %></span> ha sido editado </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 8 - Nueva entrega a una tarea -->
    <% when 'new_assignment_on_delivery'%>
      <% response = notification.notificator.delivery.responses.keep_if {|response| response.user_id == notification.notificator.user.id } %>

      <%= link_to evaluate_delivery_response_path(response) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", notification.notificator.user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <% if notification.notificator.user != nil && notification.notificator.user.name != nil%>
              <span class="as-link"><%= notification.notificator.user.name %></span>
            <%else%>
              <%=t('.activity_feed.one_usr')%>
            <%end%>
            <%=t('.activity_feed.response_homework')%><span class="as-link"><%= notification.notificator.delivery.title %></span>.
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 9 - Nueva calificacion en una respuesta -->
    <% when 'new_accomplishment_on_assignment'%>
      <%= link_to delivery_modal_path(notification.notificator.delivery.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.delivery.courses.first.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <%=t('.activity_feed.homework_calif')%><span class="as-link"><%= notification.notificator.delivery.title %></span> <%=t('.activity_feed.coursework')%><span class="as-link"><%= notification.notificator.delivery.courses.first.title %></span>
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 10 - Solicitud de amistad -->
    <% when 'user_request_friendship'%>
      <% if notification.notificator != nil && notification.notificator.user != nil %>
        <% user = notification.notificator.user %>
        <%= link_to "#{user_friends_path(notification.notificator.friend.personal_url, pending: true)}" do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", "#{notification.notificator.user_id}", "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= notification.notificator.user.name %></span> <%=t('.activity_feed.friend_notif')%></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>

      <%end%>

    <!-- Notificacion: 11 - Usuario acepto amistad -->
    <% when 'user_accepted_friendship'%>
      <% if notification.notificator != nil && notification.notificator.friend != nil %>
          <% user = notification.notificator.friend %>

          <%= link_to show_user_path(user.personal_url) do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6><span class="as-link"><%= user.name %></span> <%=t('.activity_feed.friend_req')%></h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>

      <%end%>

    <!-- Notificacion: 12 - Usuario comento en una discusion -->
    <% when 'user_comment_on_discussion'%>
      <% user = notification.notificator.user %>
      <%= link_to discussion_path(notification.notificator.commentable) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6><span class="as-link"><%= user.name %></span><%=t('.activity_feed.discuss_comment')%><span class="as-link"><%= notification.notificator.commentable.title %></span></h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 13 - Usuario comento en un comentario -->
    <% when 'user_comment_on_comment'%>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        <%= link_to comment_path(notification.notificator.commentable) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span><%=t('.activity_feed.comment_to_comment')%></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

    <!-- Notificacion: 14 - Usuario comento en un usuario -->
    <% when 'user_comment_on_user'%>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        <%= link_to comment_path(notification.notificator) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span><%=t('.activity_feed.comment_profile')%></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

    <!-- Notificacion: 15 - Usuario comento en una tarea -->
    <% when 'user_comment_on_delivery'%>
       <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>
        <%= link_to delivery_path(notification.notificator.commentable) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span><%=t('.activity_feed.comment_to_homework')%><span class="as-link"><%= notification.notificator.commentable.title %></span></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

      <!-- "#notification-<%=notification.id.to_s%>").attr("redirect_to", "/courses/<%=%>" -->

    <!-- Notificacion: 16 - Solicitud de membresia en un curso -->
    <% when 'user_request_membership_in_course' %>
      <% if notification.notificator != nil %>
        <% user = notification.notificator.user %>

        <%= link_to course_members_path(notification.notificator.course.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= user.name %></span> <%=t('.activity_feed.add_to_course')%><span class="as-link"><%= notification.notificator.course.title %></span></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>

      <%end%>

    <!-- Notificacion: 17 - Respuesta de cuestionario -->
    <% when 'new_assignment_on_survey' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.user != nil %>
          <% user = notification.notificator.user %>
          <% response = notification.notificator.survey.responses.keep_if {|response| response.user_id == user.id } %>
          <%= link_to evaluate_survey_response_path(response) do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6>
                <span class="as-link"><%= user.name %></span> <%=t('.activity_feed.quest_response')%><span class="as-link"><%= notification.notificator.survey.name %></span>
              </h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>

        <%end%>
      <%end%>

    <!-- Notificacion: 18 - Curso expirado -->
    <% when 'course_expired' %>
      <% if notification.notificator != nil %>
        <%= link_to course_path(notification.notificator.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><%=t('.activity_feed.the_course')%><span class="as-link"><%= notification.notificator.title %></span> <%=t('.activity_feed.course_expired')%></h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>

          </div>
        <% end %>
      <% end %>

    <!-- Notificacion: 19 - Retroalimentacion en cuestionario -->
    <% when 'feedback_on_user_survey' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.gradable.user != nil %>
          <% user = notification.notificator.gradable.user %>
          <% response = notification.notificator.gradable.survey.responses.keep_if {|response| response.user_id == user.id } %>
          <%= link_to survey_modal_path(notification.notificator.gradable.survey), remote: true do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6>
                <%=t('.activity_feed.quest_feedback')%><span class="as-link"><span class="as-link"><%= notification.notificator.gradable.survey.name %></span>
              </h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>

        <%end%>
      <%end%>

    <% when 'course_deactivated' %>
      <% if notification.notificator != nil %>
        <%= link_to course_path(notification.notificator.id) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('course', '45', "no", notification.notificator.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6>
              <%=t('.activity_feed.text15')%><span class="as-link"><%= notification.notificator.title %></span><%=t('.activity_feed.text16')%>
              <%= notification.notificator.active_status ? t('.activity_feed.active') : ('.activity_feed.ended') %>.
            </h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <% end %>

    <% when 'new_score_on_discussion_response' %>
      <% if notification.notificator != nil %>
        <% if notification.notificator.gradable.user != nil %>
          <% user = notification.notificator.gradable.user %>
          <% # response = notification.notificator.gradable.survey.responses.keep_if {|response| response.user_id == user.id } %>
          <%= link_to discussion_modal_path(notification.notificator.gradable.discussion), remote: true do %>
            <div class="activity-feed-author">
              <span class="avatar-holder">
                <%= avatar('user', '45', "no", user.id, "avatar", "no", "no") %>
              </span>
            </div>
            <div class="activity-feed-main">
              <h6>
                <%=t('.activity_feed.text17')%><span class="as-link"><span class="as-link"><%= notification.notificator.gradable.discussion.title %></span>
              </h6>
              <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
            </div>
          <% end %>

        <%end%>
      <%end%>

    <% when 'course_grade' %>
      <% unless notification.notificator.nil? || notification.notificator.gradable.user.nil? || notification.notificator.gradable.course.nil? %>
        <%= link_to califications_course_path(notification.notificator.gradable.course) do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", notification.notificator.gradable.user.id, "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6>
              <%=t('.activity_feed.course_calif')%><span class="as-link"><span class="as-link"><%= notification.notificator.gradable.course.title %></span>
            </h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>
      <%end%>

    <% when 'network_google_form' %>
      <%= link_to google_form_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", notification.notificator.user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <span class="as-link"><%= notification.notificator.user.name %></span> ha compartido un formulario publico.
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>
    <% when 'course_google_form' %>
      <%= link_to google_form_modal_path(notification.notificator.id), remote: true do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('course', '45', "no", notification.notificator.pollable.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <span class="as-link"><%= notification.notificator.user.name %></span> ha compartido un formulario en el curso <span class="as-link"><%= notification.notificator.pollable.title %></span>.
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>

    <!-- Notificacion: 10 - Solicitud de amistad -->
    <% when 'new_reported_content'%>
      <% if notification.notificator != nil && notification.notificator.user != nil %>
        <% user = notification.notificator.user %>
        <%= link_to "#{managers_reported_content_path(notification.notificator)}" do %>
          <div class="activity-feed-author">
            <span class="avatar-holder">
              <%= avatar('user', '45', "no", "#{notification.notificator.user_id}", "avatar", "no", "no") %>
            </span>
          </div>
          <div class="activity-feed-main">
            <h6><span class="as-link"><%= notification.notificator.user.name %></span> ha denunciado una publicación</h6>
            <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
          </div>
        <% end %>

      <%end%>
    <% when 'new_library_file' %>
      <%= link_to library_path(notification.notificator.library) do %>
        <div class="activity-feed-author">
          <span class="avatar-holder">
            <%= avatar('user', '45', "no", notification.notificator.user.id, "avatar", "no", "no") %>
          </span>
        </div>
        <div class="activity-feed-main">
          <h6>
            <%= library_file_notification_message(notification) %>
          </h6>
          <%= render partial: '/shared/notifications/notification_meta_data', locals: { notification: notification } %>
        </div>
      <% end %>
    <%else%>
      <%= notification.kind %>
      <% @array = notification.notificator.user %>
      <% if @array.class == Array %>
        <% user =  @array.first %>
        <%= image_tag(user.avatar.modern, {:class => "avatar-notifications avatar-mini"}) if (!user.avatar.blank?) %>
        <%= image_tag(user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}) if ( user.avatar.blank?) %>
        <%= t('.activity_feed.activities_p_user') %>
        <%= link_to "#{user.name} ", show_user_path(user.personal_url) if (!user.name.blank?) %>
        <%= link_to t('.activity_feed.view_usr'), show_user_path(user.personal_url) if (user.name.blank?) %>
      <%else%>
        <% if notification.notificator.user  != nil %>
          <% if  notification.notificator.user.avatar != nil %>
            <%= image_tag(notification.notificator.user.avatar.modern, {:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?) %>
            <%= image_tag(notification.notificator.user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?) %>
          <%end%>
          <%=t('.activity_feed.activities_p_user')%><%=link_to "#{notification.notificator.user.name} ", show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%>
          <%= link_to t('.activity_feed.view_usr'), show_user_path(notification.notificator.user.personal_url) if (notification.notificator.user.name.blank?) %>
        <%end%>
      <%end%>
    <%end%>

    </div>
  </li>
<%end%>
