<% if current_user%>
<script>
var Cursame ={
	userId: <%= current_user.id%>
};
</script>
<ul id="nav" class="drop">
	<li><a href='#'><span id="notifications_count"><%= current_user.notifications.count %></span></a>
	</li>
</ul>
<!-- tratamos las notificaciones para agregarles el css first y last-->
<%
notifications = current_user.notifications.order("created_at DESC")
notifications_first = notifications.shift
notifications_last = notifications.pop
%>
<!-- notification -->
<div id="box-notifications" style="display:none;">
	<div id="" class="comment-text" >
		<div class="arrow-top"></div>
		<div class="header">
			<b>Notificaciones</b>  
		</div>
		<div class="content">
			<ul id="notifications_list">
				<%if notifications_first%>
				<%= render :partial => '/shared/notification_type', :locals => {:notification => notifications_first, :cls => 'first'} %>				
				<%end%>

				<% notifications.each do |notification|%>
				<%= render :partial => '/shared/notification_type', :locals => {:notification => notification, :cls => ''} %>
				<%end%>

				<%if notifications_last%>
				<%= render :partial => '/shared/notification_type', :locals => {:notification => notifications_last, :cls => 'last'} %>	
				<%end%>
			</ul>
		</div>

		<div class="footer">
			<b>Ver todas</b>
		</div>
	</div>
</div>
<%= subscribe_to "/notifications/"+current_user.id.to_s %>
<%end%>