<!-- este partial controla la logica para mostrar notificaciones -->
<% if current_role == "superadmin"%>
<%else%>
<li class="<%= cls %>" id="notification-<%=notification.notificator_id.to_s %>"
  onclick ="me('<%= notification.notificator_type %>',<%=notification.notificator_id.to_s %>)">

  <% case notification.kind%>
  <% when 'user_comment_on_network'%>
  <% if current_user && current_user.avatar != nil%>
  <%= image_tag(notification.notificator.user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?)%><%= image_tag(notification.notificator.user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?)%><% end%>
  <%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%> coment贸 en la red <%= link_to "#{notification.notificator.commentable.name}", network_path(notification.notificator.commentable.subdomain) %>

  <% when 'user_comment_on_course'%>
  <% if  current_user && current_user.avatar != nil %>
  <%= image_tag(notification.notificator.user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?) %>   <%= image_tag(notification.notificator.user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?) %>
   <%end%><%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%> coment贸 en el curso <%= link_to "#{notification.notificator.commentable.title}", course_path(notification.notificator.commentable.id) %>

  <% when 'new_public_course_on_network'%>
  <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">Nuevo curso <b><%= notification.notificator.title %></b> en tu red <b><%= notification.notificator.network.name %></b>

  <% when 'user_accepted_in_course'%>

  <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">Has sido aceptado en el curso <b><%= notification.notificator.title%><b>

  <% when 'new_delivery_on_course'%>
  <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">Nueva tarea <b><%= notification.notificator.title %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}", course_path(notification.notificator.courses[0].id) if ( !notification.notificator.courses.blank?)%>

  <% when 'new_discussion_on_course' %>
  <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini"> Nueva discussion <b><%= notification.notificator.title %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}",course_path(notification.notificator.courses[0].id) if (!notification.notificator.courses.blank?)%>

  <% when 'new_survey_on_course'%>
  <img src="/assets/group-avatar-mini.png" class="avatar-notifications avatar-mini">Nuevo cuestionario <b><%= notification.notificator.title %></b> en tu curso <%= link_to "#{notification.notificator.courses[0].title}", course_path(notification.notificator.courses[0].id) if ( !notification.notificator.courses.blank?) %>

  <% when 'user_comment_on_discussion'%>
  <% if current_user && current_user.avatar != nil %>
  <%= image_tag(current_user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?)%>
  <%= image_tag(current_user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?)%>

  <%end%><b><%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%></b> coment贸 en tu discusi贸n

  <%else%>
  
   <% @array = notification.notificator.user %>
   <% if @array.class != Array %>
   <% if  current_user && current_user.avatar != nil %>
     <%= image_tag(notification.notificator.user.avatar.modern,{:class => "avatar-notifications avatar-mini"}) if ( !notification.notificator.user.avatar.blank?) %>   <%= image_tag(notification.notificator.user.image_avatarxxx,{:class => "avatar-notifications avatar-mini"}) if ( notification.notificator.user.avatar.blank?) %><%end%>Una actividad por <%=link_to "#{notification.notificator.user.name} ",show_user_path(notification.notificator.user.personal_url) if ( !notification.notificator.user.name.blank?)%><%=link_to " Ver usuario ",show_user_path(notification.notificator.user.personal_url) if ( notification.notificator.user.name.blank?)%> <!--en tu curso <b>< notification.notificator.courses[0].title  if ( notification.notificator.courses != nil) %></b>-->
  <%end%>
  <%end%>
  <br/>
  <span class="time"><%=time_ago_in_words(notification.created_at)%></span>
</li>
<%end%>

<script>
    $(function(){
        $('#notification-<%=notification.notificator_id.to_s %>').on('click',
          function(){
            $('#box-notifications').hide();
        });
    });
</script>
