.new-publication
  - unless in_form == 'user'
    .new-publication-main
      .tabs.post-menu-tabs
        .tabs-buttons
          - permitted_to? :create, :comments do
            .tab.active{"data-id-target" => "comment-tab-content"}
              = icon('commet-post')
              = t('.comment')
              %span.tip
          - current_network.evaluable? and permitted_to? :create, :deliveries do
            .tab{"data-id-target" => "delivery-tab-content"}
              = icon('delivery-post')
              = t('.homework')
              %span.tip
          - permitted_to? :create, :discussions do
            .tab{"data-id-target" => "discussion-tab-content"}
              = icon('discussion-post')
              = t('.discussion')
              %span.tip
          - current_network.evaluable? and permitted_to? :create, :surveys do
            .tab{"data-id-target" => "survey-tab-content"}
              = icon('survey-post')
              = t('.questionnaire')
              %span.tip
          - permitted_to? :create, :forms do
            .tab{"data-id-target" => "wufoo-tab-content"}
              = icon('wufoo-post')
              = t('.form')
              %span.tip
        - @active_edit = false
        .tabs-main
          - permitted_to? :create, :comments do
            #comment-tab-content.tab-content{style: "display: block;"}
              = render partial: '/shared/comment_form',locals: {commentable_id: current_network.id, commentable_type: 'Network', comment_id: nil, message: t('.what_are_y_think'), active_edit: false, in_type: 'comment', in_form: in_form}
          - permitted_to? :create, :deliveries do
            #delivery-tab-content.tab-content
              = render partial: '/deliveries/delivery_compart_form', locals: {active_edit: @active_edit, in_type: 'delivery', in_form: in_form}
          - permitted_to? :create, :discussions do
            #discussion-tab-content.tab-content
              = render partial: "/discussions/form_for_discussion", locals: {active_edit: @active_edit, in_type: 'discussion', in_form: in_form}
          - permitted_to? :create, :surveys do
            #survey-tab-content.survey-form-area-style.tab-content
              = render partial: '/surveys/form', locals: {active_edit: @active_edit, in_type: 'survey', in_form: in_form}
          - permitted_to? :create, :forms do
            #wufoo-tab-content.tab-content
              = render partial: '/google_forms/shared/form'
  - else
    .new-publication-main
      .tabs
        .tabs-buttons
          - permitted_to? :create, :comments do
            .tab.active{"data-id-target" => "comment-tab-content"}
              = icon('commet-post')
              = t('.comment')
              %span.tip
        .tabs-main
          - permitted_to? :create, :comments do
            #comment-tab-content.tab-content{style: "display: block;"}
              = render partial: '/shared/comment_form',locals: { commentable_id: @user_l.id, commentable_type: 'User', comment_id: nil, message: t('.post_comment'), active_edit: false, in_type: 'comment', in_form: in_form}
