<div class="profile-post-box blured-i">
    <%= javascript_include_tag('application.animation.js') %>
<%if !@user_show %>
  <div id="post-forms" >
     <% @active_edit = false %> 
    <div id="message-form-area"  class="message-form-area-style flonder " >
      <% permitted_to? :create, :comments do %>
      <%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network', :comment_id => nil} %>
      <% end %>
    </div>
    <div id="delivery-form-area" class="delivery-form-area-style flonder  " >
      <% permitted_to? :create, :deliveries do %>
      <%= render :partial => '/deliveries/delivery_compart_form', :locals => {:active_edit => @active_edit}%>
      <%end%>
    </div>
    <div id="survey-form-area" class="survey-form-area-style flonder " >
      <% permitted_to? :create, :surveys do %>
      <%= render :partial => '/surveys/form', :locals => {:active_edit => @active_edit}%>
      <%end%>
    </div>

    <div id="discussion-form-area" class="discussion-form-area-style  flonder" >
      <% permitted_to? :create, :discussions do %>
      <%= render :partial => "/discussions/form_for_discussion", :locals => {:active_edit => @active_edit}%>
      <%end%>
    </div>
  </div>

  <div id="profile-form-options" class="post-btns-box">
    <% permitted_to? :create, :comments do %>
    <a href="#message-form-area" class="message-form-btn blured" onclick="HashBlured();" ><div class="border" ><div class="icon"></div></div>Comentario</a>
    <%end%>
    <% permitted_to? :create, :deliveries do %>
    <a href="#delivery-form-area"class="delivery-form-btn blured" onclick="HashBlured();"><div class="border" ><div class="icon"></div></div>Tarea</a>
    <% end%>
    <% permitted_to? :create, :discussions do %>
    <a href="#discussion-form-area" class="discussion-form-btn blured" onclick="HashBlured();"><div class="border" ><div class="icon"></div></div>Discusión</a>
    <% end%>
    <% permitted_to? :create, :surveys do %>
    <a href="#survey-form-area" class="survey-form-btn blured" onclick="HashBlured();"><div class="border" ><div class="icon"></div></div>Cuestionario</a>
    <% end%>
    <% permitted_to? :create, :surveys do %>
    <!-- <a href="" class="poll"><div class="border" ><div class="icon"></div></div>Encuesta</a> -->
    <%end%>
    <% permitted_to? :create, :events do %>
    <!-- <a href="" class="event"><div class="border" ><div class="icon"></div></div>Evento</a> -->
    <%end%>
  </div>
<%else%>
   <div id="post-forms">
     <div id="message-form-area"  class="message-form-area-style">
       <% permitted_to? :create, :comments do %>
       <%= render :partial => '/shared/comment_form',:locals => { :commentable_id => @user_l.id,:commentable_type => 'User', :comment_id => nil} %>
       <%end%>
     </div>
   </div>

   <div id="profile-form-options" class="post-btns-box">
    <% permitted_to? :create, :comments do %>
    <a href="#message-form-area" class="message-form-btn"><div class="border" ><div class="icon"></div></div>Comentario</a>
    <%end%>

   </div>
<%end%>
</div>
