<div class="new-publication">
<scrip src="/assets/pots_menu_tabs.js"></scrip>
<scrip src="/assets/post_menu_validation_forms.js"></scrip>

  <div class="new-publication-author">

    <%= link_to show_user_path(current_user.personal_url) do %>
      <span class="avatar-holder">
        <%= avatar('user', '45', 'no', current_user.id, 'avatar', 'no', 'no') %>
      </span>
    <% end %>
    
  </div>
  
  <% if !@user_show %>
    <div class="new-publication-main">
      
      <div class="tabs">
        <div class="tabs-buttons">
          <% permitted_to? :create, :comments do %>
            <div class="tab active" data-id-target="comment-tab-content">
              <%= icon('commet-post') %> Comentario
              <span class="tip"></span>
            </div>
          <%end%>

          <% permitted_to? :create, :deliveries do %>
            <div class="tab" data-id-target="delivery-tab-content">
              <%= icon('delivery-post') %> Tarea
              <span class="tip"></span>
            </div>
          <% end%>

          <% permitted_to? :create, :discussions do %>
            <div class="tab" data-id-target="discussion-tab-content">
              <%= icon('discussion-post') %> Discusión
              <span class="tip"></span>
            </div>
          <% end%>

          <% permitted_to? :create, :surveys do %>
            <div class="tab" data-id-target="survey-tab-content">
              <%= icon('survey-post') %> Cuestionario
              <span class="tip"></span>
            </div>
          <% end%>
        </div>
         
        <% @active_edit = false %>

        <div class="tabs-main">
          <% permitted_to? :create, :comments do %>
            <div id="comment-tab-content" class="tab-content" style="display: block;">
              <%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network', :comment_id => nil, :message => '¿Qué estás pensando?', :active_edit => false} %>
            </div>
          <% end %>
          
          <% permitted_to? :create, :deliveries do %>
            <div id="delivery-tab-content" class="tab-content">
              <%= render :partial => '/deliveries/delivery_compart_form', :locals => {:active_edit => @active_edit}%>
            </div>
          <%end%>

          <% permitted_to? :create, :discussions do %>
            <div id="discussion-tab-content" class="tab-content">
              <%= render :partial => "/discussions/form_for_discussion", :locals => {:active_edit => @active_edit}%>
            </div>
          <%end%>

          <% permitted_to? :create, :surveys do %>
            <div id="survey-tab-content" class="survey-form-area-style tab-content">
              <%= render :partial => '/surveys/form', :locals => {:active_edit => @active_edit}%>
            </div>
          <%end%>
        </div>
      </div>

    </div>

  
  <% else %>
    <div class="new-publication-main"> 
      
      <div class="tabs">
        <div class="tabs-buttons">
      	  <% permitted_to? :create, :comments do %>
            <div class="tab active" data-id-target="comment-tab-content">
              <%= icon('commet-post') %> Comentario
              <span class="tip"></span>
            </div>
          <%end%>
        </div>
        
        <div class="tabs-main">
          <% permitted_to? :create, :comments do %>
            <div id="comment-tab-content" class="tab-content" style="display: block;">
              <%= render :partial => '/shared/comment_form',:locals => { :commentable_id => @user_l.id,:commentable_type => 'User', :comment_id => nil, :message => 'Deja un comentario.', :active_edit => false} %>
            </div>
          <%end%>
        </div>
      </div>

    </div>
  <%end%>
   
</div>
