<% wall.each do |publication| %>

<!-- le ocultamos informacion privada al usuario -->
<% if visible_for == 'user' && !publication.courses.empty?%>
  <%  next %>
<%end%>

<% if visible_for == 'network' && !publication.courses.empty? && !(current_user.roles.last.id == 1 || current_user.roles.last.id == 4)%>
  <%  if !publication.courses[0].members_in_courses.where(:user_id =>current_user.id, :accepted => true )[0]%>
    <%  next %>
  <%end%>
<%end%>

<%
  # aqui es inicializan las variables para todos los tipos de publicaciones
  post = publication.publication
  id = publication.id
  publication_cls = 'delivery'
  case publication.publication_type
  when 'Comment'
    if post.user == nil
      next
    end    
    avatar = post.user.avatar.modern 
    personal_url = post.user.personal_url
    image_avatarxx = post.user.image_avatarxx
    name = post.user.name
    user_name = name
    content = post.comment_html
    course = post.commentable if post.commentable_type == 'Course'
    if course != nil
    posted_in_for = course.title
    posted_in_for_id = course.id
    end
    ico =''
    tipo = 'Comentario'
  when 'Course'
    avatar = post.avatar.modern
    course_avatarxx = post.course_avatarxx
    name = post.title
    content = post.silabus
    ico = ''
  when 'Discussion'
    if post.user == nil
      next
    end
    avatar = post.user.avatar.modern
    personal_url = post.user.personal_url
    image_avatarxx = post.user.image_avatarxx
    name = post.title
    user_name = post.user.name
    course = post.courses
    posted_in_for = course[0].title if ( !post.courses.blank? )
    posted_in_for_id = course[0].id if ( !post.courses.blank? )
    content = post.description_html
    ico = '-discussion'
    tipo = 'Discusion'
  when 'Delivery'
    if post.user == nil
      next
    end
    avatar = post.user.avatar.modern
    personal_url = post.user.personal_url
    image_avatarxx = post.user.image_avatarxx
    cargo = post.courses[0]
    name = post.title
    user_name = post.user.name
    course = post.courses
    posted_in_for = course[0].title
    posted_in_for_id = course[0].id
    content = post.description_html
    publication_cls = 'delivery'
    ico = '-homework'
    tipo  = 'Tarea'
  when 'Survey'
    if post.user == nil
      next
    end
    avatar = post.user.avatar.modern
    personal_url = post.user.personal_url
    image_avatarxx = post.user.image_avatarxx
    course = post.courses
    user_name = post.user.name
    posted_in_for = course[0].title
    posted_in_for_id = course[0].id
    name = post.name
    ico = '-survey'
    tipo = 'Examen'
  end
  created_at = post.created_at

  type = publication.publication_type
  %>
  <%#= debug personal_url %>

<% if post.state == "published" %>

  <div class="publication-box public-blur dek<%=id%>" id="deleted_id_<%= id %>">

      <%#= debug cargo.publication.comments %>
	
	<div class="icon_persistent_container" style="width: 35px; height: 35px; float: left;">
	    <div class="general-cir<%=ico%> persistent_icon"></div>
    </div>

    <div id = "publication-<%= id %>" class="comment-text <%= publication_cls %>" >
      <div class="arrow-left"></div>
      <div class="header">
        <div class="avatar" >
        <% case type  %>
        <% when 'Course'%>
          <%= link_to image_tag(avatar,{:class => "avatar-mini"}), course_path(post.id) if ( !avatar.blank? && !nil)%>
         <%= link_to image_tag(course_avatarxx,{:class => "avatar-mini"}), course_path(post.id) if (avatar.blank? || nil)%>
        <%else%>
        <div class="id_for_avatar<%=post.user.id%>">
        <%= link_to image_tag(avatar,{:class => "avatar-mini"}), show_user_path(personal_url) if ( !avatar.blank?  && !nil)%>
        <%= link_to image_tag(image_avatarxx,{:class => "avatar-mini"}), show_user_path(personal_url) if (avatar.blank? || nil)%>
        </div>
        
        <script>
               $(".id_for_avatar<%=post.user.id%>").hover(
                    function () {
                      $(this).append($("<span style='z-index:100000000000;position: absolute; margin-left:30px; float:left; margin-top:-50px'><div class='tooltipr'><%=truncate("#{user_name}", :omission => "...", :length => 155)  if ( !user_name.blank?) %></div></span>"));
                    },
                    function () {
                      $(this).find("span:last").remove();
                    }
                  );

				// se agregaron persistent icons
				$(function(){
					var stickyIcon = $('#deleted_id_<%= id %>').offset().top;
					
					$(window).scroll(function(){
						//if( $('#deleted_id_<%= id %>') >= 0 ) {
						if( $(window).scrollTop() > (stickyIcon - 35 ) ) {
							$('#deleted_id_<%= id %>').find('.general-cir<%=ico%>').css({position: 'fixed', display: 'block', top: '35px'});
							//console.log('hola');
						} else {
							$('#deleted_id_<%= id %>').find('.general-cir<%=ico%>').css({position: 'static', top: '0px'});
							//$('.persistent_icon').css({position: 'static', top: '0px'});
						}
					});
				});

				/*
				$(function(){
				        //var stickyIcon = $('.publication-box').offset().top;
				        var stickyIcon = $('#deleted_id_<%= id %>').offset().top;
				          
				        $(window).scroll(function(){
				                if( $(window).scrollTop() > stickyIcon ) {
				                		$('#deleted_id_<%= id %>').each( function() {
					                		$('.persistent_icon').css({position: 'fixed', display: 'block', top: '35px'});
					                		console.log('hola');
				                		});
				                        
				                } else {
				                        $('.persistent_icon').css({position: 'static', top: '0px'});
				                }
				        });
				});
				*/

				

        </script>
        <%end%>
        </div>
             
             
             
        <div class="top-null-image"></div><% if type != 'Course' %><%= link_to truncate(" #{tipo} en el curso: #{posted_in_for}", :omission => "...", :length => 35), course_path(posted_in_for_id) if ( !posted_in_for.blank?) %><b> por </b><%= link_to truncate(" #{user_name}", :omission => "...", :length => 15), show_user_path(personal_url) if ( !user_name.blank?) %>
 <%= link_to "Usuario", show_user_path(personal_url) if ( user_name.blank?) %><%end%><%#= "#{name}" %><span class="date">Creado: <%= created_at.strftime( '%d-%h-%Y %l:%M%P') %></span>
      </div>


      <div class="content">

        <div class="null-image"></div>
        <% case type%>
        <% when 'Discussion'%>
        <p class="title-discusion"><%= truncate("#{name}", :omission => "...", :length => 35) %> </p>
        <div style="font-weight:normal !important;"><p><%= content %></p></div>
        <%= render :partial => "content/insertions_to_contents", :locals => { :type => post, :cl => 'discussion'}%>
        <% when 'Course'%>
        <p class="title-discusion"><%= truncate("#{name}", :omission => "...", :length => 35) %></p>
         <div style="font-weight:normal !important;"><p ><%= content %></p></div>
        <% when 'Comment'%>
         <div style="font-weight:normal !important;"> <p ><%= content %></p></div>
        <% when 'Survey'%>
          <%= render :partial => '/shared/survey_publication_tpl', :locals => {:survey => post} %>
        <% when 'Delivery'%>
          <%= render :partial => '/shared/delivery_publication_tpl', :locals => {:delivery => post, :cargo => cargo, :publication => publication} %>
        <%end%>

      </div>


      <!-- footer -->
      <div class="footer" id="footer-publication-<%= id %>">
          <% @vote = publication.publication.votes.up.by_type(User).where(:voter_id => current_user.id)%>
          <% @condition =  @vote[0]%>
          <%if @condition == nil %>

         <div id="liked-<%= publication.id%>">
	         <div class="icon like">
	         	<%= link_to image_tag('icons/heart-icon-child-comment.png'), upvote_path(publication.id), :remote => true%>
	         </div>
         </div>
         
         <%else%>
         
         <div id="liked-<%= publication.id%>">
	         <div class="icon like"><%= link_to image_tag('icons/heart-icon-child-comment-hover-orange.png'), downvote_path(publication.id), :remote => true%></div>
         </div><!-- liked -->
         
         <%end%>
         
         <!-- Destroy Wall -->
         <%if publication.publication.owner?(current_role, current_user) then %>
          
	     <!-- 		<span class="deleteComment" ><img src="/assets/trashbin.png" style="margin-right: 5px; float:left;"></span>-->
	         
	     <!--modificaciones a la caja de edición-->     
	     <div class="link_publications">
	          <div class="trashIt"><%= link_to image_tag("trash22.png"), destroy_wall_path(publication.id), :remote=>true%>
			  		<span style="visibility: hidden; position: absolute; display: inline; margin-top: -20px; margin-left: 15px;" class="OpenIdTrashIt">Eliminar</span>
			  </div>

	          <% if publication.publication_type != 'Course'%>
	          	
			  <div class="non-blur editIt" id="oppen_<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>">
				  <%= link_to image_tag('icons/pencil-mini-low.png'), edit_wall_path(:type => publication.publication_type, :id => publication.publication_id), :remote=>true %>
			  		<span style="visibility: hidden; position: absolute; display: inline; margin-top: -20px; margin-left: 15px;" class="OpenIdEditIt">Editar</span>
			  </div><!-- non-blur -->
			  
			 <%end%>
	    </div><!-- link_publications -->
	    
	     
	     <script>
	            $('#oppen_<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>').click(function () {
	                if($.browser.webkit){
	                EditingBlur();
	                $('.dek<%=id%>').foggy(false);	 
	                }               
                    $('.link_publications').hide();
                    $('#<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>').toggle('puff');
                });
	     </script>
	     
		 <script>
		 $(document).ready( function() {
			 $('.link_publications').hide();
		 });
		 </script>

		 <script>
			// evento mostrar, ocultar caja 
		 	$('.delivery').mouseenter(function() {
		 		$(this).find('.link_publications').fadeIn(100);
		 	}),
		 	$('.delivery').mouseleave(function() {
		 		$(this).find('.link_publications').fadeOut(100);
		 	}),
			// evento mostrar, ocultar texto eliminar
		 	$('.trashIt').mouseenter(function() {
		 		$(this).find('.OpenIdTrashIt').css({visibility: "visible"}, 200);
		 	}),
		 	$('.trashIt').mouseleave(function() {
		 		$(this).find('.OpenIdTrashIt').css({visibility: "hidden"}, 200);
		 	}),
			// evento mostrar, ocultar texto editar
		 	$('.editIt').mouseenter(function() {
		 		$(this).find('.OpenIdEditIt').css({visibility: "visible"}, 200);
		 	}),
		 	$('.editIt').mouseleave(function() {
		 		$(this).find('.OpenIdEditIt').css({visibility: "hidden"}, 200);
		 	});
		 </script>

	   
	              
	            <div class="form_for_edit_wall" id="<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>" style="display:none;">
	              <div class="rander">
	                 <div class="form_for_edit_wall_top"id="<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>_close" >x</div>
	              </div>
	              <div id="<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>_contribution"></div>
	            </div><!-- form_for_edit_wall -->
	           
        <script>
	         $('#<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>_close').click(function () {
	
	            if($.browser.webkit){
	            CancelEditingBlur();
	            DisableBlured();
	            $('#deleted_id_<%= id %>').foggy(false);
	            }
	            $('.link_publications').show();
	            $('#<%="#{publication.publication_type}_id_#{publication.publication_id}"%>').toggle('highlight', {color: '#000'}, 3700);
	            $('#<%="#{publication.publication_type}_id_#{publication.publication_id}"%>_contribution').html('');   
	
	         });
           </script>
                   	     
          <%end%>
          
          <div class="labels"><%= post.comments.count %> Comentarios</div>
          <div class="labels">
          	<div style="float:left" id="counter-like-<%= publication.id%>"><%= publication.publication.votes.up.size %></div>
		  	<div style="float:left">&nbsp;me gusta</div>
		  </div>
		  
        </div>
      </div>


    <!-- area para comentar -->
    <div class="post-child-comment-box" style="display:block;" id="commentable-area-<%= publication.id %>">
      <div id="comments-publication-<%= publication.id %>" style="display: block;">
        <!-- si el post tiene mas de 3 comentarios -->
        <% if post.comments.count > 3 %>
          <div id="more-comments-<%= id  %>" class="more-comment-box"><span >Ver comentarios anteriores</span> </div>
        <%end%>

        <% post.comments.last(3).each do |commentt| %>
          <%= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
        <%end%>
      </div>
      <div class="user-post-child-comment">
        <%= render :partial => '/shared/form_commentable',:locals => {:commentable_id => post.id,:commentable_type => type} %>
      </div>
    </div>
    
    
  </div>
<%end%>

  <script type="text/javascript">
  $('#footer-publication-<%= id %>').on('click',function(e){
    e.preventDefault();
  if(e.target.className === 'icon comments'){ //si quiere ver los comentarios
    // alert('comments!!');
  }
  if(e.target.className === 'icon like'){ //si quiere daler like ;)
    // alert('like!!');
  }
});

  $('#more-comments-<%= id %>').live('click',function(e){
    $.getScript("<%=request.protocol + request.host_with_port%>/home/load_more_comments/<%= publication.id %>");
    return false;
  });
  </script>
  
<%end%>
