<% wall.each do |publication| %>
<%
  # aqui es inicializan las variables para todos los tipos de publicaciones
  post = publication.publication
  id = publication.id
  publication_cls = 'delivery'
  cargo = publication
  case publication.publication_type
  when 'Comment'
    avatar = post.user.avatar.modern
    name = post.user.name
    content = post.comment_html
    ico =''
  when 'Course'
    avatar = post.avatar.modern
    name = post.title
    content = post.silabus
    ico = ''
  when 'Discussion'
    avatar = post.user.avatar.modern
    name = post.title
    content = post.description
    ico = '-discussion'
  when 'Delivery'
    avatar = post.user.avatar.modern
    name = post.title
    content = post.description
    publication_cls = 'delivery'
    ico = '-homework'
  when 'Survey'
    avatar = post.user.avatar.modern
    name = post.name
    ico = '-survey'
  end
  created_at = post.created_at
  
  type = publication.publication_type
  %>

<% if post.state == "published" %>

  <div class="publication-box" >
      
      <%#= debug cargo.publication.comments %>
      
    <div class="general-cir<%=ico%>"></div>

    <div id = "publication-<%= id %>" class="comment-text <%= publication_cls %>" >
      <div class="arrow-left"></div>
      <div class="header">
        <div class="avatar"><%= image_tag(avatar,{:class => "avatar-mini"})%></div>
      
        <div class="top-null-image"></div><b><%= name %></b>  <span class="date">Creado: <%= created_at.strftime( '%d-%h-%Y %l:%M%P') %></span>
      </div>
        

      <div class="content">

        <div class="null-image"></div>
        <% case type%>
        <% when 'Discussion'%>
        <p class="title-discusion"><%= name %> </p>
        <div class="description"><%= content %></div>
        <% when 'Course'%>      
        <p class="title-discusion"><%= name %></p>
        <div class="description"><%= content %></div>
        <% when 'Comment'%>
        <p><%= content %></p>
        <% when 'Survey'%>
          <%= render :partial => '/shared/survey_publication_tpl', :locals => {:survey => post} %>
        <% when 'Delivery'%>
          <%= render :partial => '/shared/delivery_publication_tpl', :locals => {:delivery => post, :cargo => cargo} %>
        <%end%>

      </div>


      <!-- footer -->
      <div class="footer" id="footer-publication-<%= id %>">
        <div class="icon like">&nbsp;&nbsp;</div>
        <div class="labels"><%= post.comments.count %> Comentarios</div>
        <% if publication.publication_type == 'Delivery'%>
         <!--  <% if MembersInCourse.is_owner_by_delivery_and_user_id(post,current_user) %>
           <div class="labels"><div id="open-close-lo<%= post.id %>"><a>Respuestas</a></div></div>
          <%else%>
            <div class="labels"><div id="open-close-<%= post.id %>"><a>Responder tarea</a></div></div>
          <%end%>-->
        <%else%>
          <div class="labels">12 Likes</div>
        <%end%>        
      </div>
    </div>

    <!-- area para comentar -->
    <div class="post-child-comment-box" style="display:block;" id="commentable-area-<%= publication.id %>">
      <div id="comments-publication-<%= publication.id %>" style="display: block;">
        <!-- si el post tiene mas de 3 comentarios -->
        <% if post.comments.count > 3 %>
          <div id="more-comments-<%= id  %>" class="more-comment-box"><span >Ver comentarios anteriores</span> </div>
        <%end%>

        <% post.comments.last(3).each do |commentt| %>
          <%= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
        <%end%>
      </div>
      <div class="user-post-child-comment">
        <%= render :partial => '/shared/form_commentable',:locals => {:commentable_id => post.id,:commentable_type => type} %>
      </div>
    </div>
  </div>
<%end%>
  <script type="text/javascript">
  $('#footer-publication-<%= id %>').on('click',function(e){
    e.preventDefault();
  if(e.target.className === 'icon comments'){ //si quiere ver los comentarios
    alert('comments!!');
  }
  if(e.target.className === 'icon like'){ //si quiere daler like ;)
    alert('like!!');
  }  
});

  $('#more-comments-<%= id %>').live('click',function(e){
    $.getScript("home/load_more_comments/<%= publication.id %>");    
    return false;
  });
  </script>
<%end%>