<% wall.each do |publication| %>

<%
  # aqui es inicializan las variables para todos los tipos de publicaciones
  post = publication.publication
  id = publication.id 
  case publication.publication_type
  when 'Comment'
    avatar = post.user.avatar.modern
    name = post.user.name
    content = post.comment_html
  when 'Course'
    avatar = post.avatar.modern
    name = post.title
    content = post.silabus
  when 'Discussion'
    avatar = post.user.avatar.modern
    name = post.title
    content = post.description
  when 'Delivery'
    avatar = post.user.avatar.modern
    name = post.title
    content = post.description
  when 'Survey'
    avatar = post.user.avatar.modern
    name = post.name
  end
  created_at = post.created_at
  
  type = publication.publication_type
  %>
  <div class="publication-box" >
    <div class="general-cir"></div>

    <div id = "publication-<%= id %>" class="comment-text" >
      <div class="arrow-left"></div>
      <div class="header">
        <div class="avatar"><%= image_tag(avatar,{:class => "avatar-mini"})%></div>
        <div class="top-null-image"></div><b><%= name %></b>  <span class="date"><%= created_at %></span>
      </div>
      <div class="content">
        <div class="null-image"></div>
        <% case type%>
        <% when 'Discussion'%>
        <p class="title-discusion"><%= name %></p>
        <p><%= content %></p>
        <% when 'Course'%>      
        <p class="title-discusion"><%= name %></p>
        <p><%= content %></p>
        <% when 'Comment'%>
        <p><%= content %></p>
        <% when 'Survey'%>
          <img src="/assets/survey.jpg" class="single-image">
        <% when 'Delivery'%>
        <p class="title-homework"><%= name %></p>
        <p class="text-homework"><%= content %></p>
        <div class="upload-labels" style="display: block;">
          <div class="file-mini-upload">Captura de pantalla 2013-01-31 a la(s) 12.48.05.JPG</div>
        </div>
        <%end%>

      </div>
      <!-- footer -->
      <div class="footer" id="footer-publication-<%= id %>">
        <img src="/assets/icons/grey-mini-comment.png" class="icon comments">
        <img src="/assets/icons/grey-mini-like.png" class="icon like">
        <div class="labels">20 Comentarios</div>

        <div class="labels">12 Likes</div>
      </div>
    </div>

    <!-- area para comentar -->
    <div class="post-child-comment-box" style="display:block;" id="commentable-area-<%= publication.id %>">
      <div id="comments-publication-<%= publication.id %>" style="display: block;">
        <div id="more-comments-<%= id  %>">cargas mas comentarios</div>
        <% post.comments.last(3).each do |commentt| %>
        <%= render :partial => '/shared/comment', :locals => {:comment => commentt} %>
        <%end%>
      </div>
      <div class="user-post-child-comment">
        <%= render :partial => '/shared/form_commentable',:locals => {:commentable_id => post.id,:commentable_type => type} %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $('#footer-publication-<%= id %>').on('click',function(e){
    e.preventDefault();
  if(e.target.className === 'icon comments'){ //si quiere ver los comentarios
    alert('comments!!');
  }
  if(e.target.className === 'icon like'){ //si quiere daler like ;)
    alert('like!!');
  }  
});

  $('#more-comments-<%= id %>').live('click',function(e){
    $.getScript("home/load_more_comments/<%= publication.id %>");    
    return false;
  });
  </script>
<%end%>