<div class="global-sidebar">
  <div class="user s-unit">
    <%= link_to show_user_path(current_user.personal_url) do %>
      <%= avatar('user', '30', "no", current_user.id, "avatar avatar-30", "no", "no") %>
      <span class="name">
        <%= truncate("#{current_user.name}" , :omission => "...", :length => 19) %>
      </span>
    <% end %>
  </div>

  <div class="sidebar-section sidebar-navigation s-unit">
    <div class="sidebar-section-main">
      <ul class="section-list navigation">
        <li>
          <%= link_to '/' do %>
            <%= icon 'home-w' %><%= t('.sidebar_section.initiation')%>
          <% end %>
        </li>
        <% if current_role == 'student' %>
          <% if current_network.evaluable? %>
            <li>
              <%= link_to deliveries_path do %>
                <%= icon 'homeworks-w' %><%= t('.sidebar_section.homework')%>
              <%end%>
            </li>
            <li>
              <%= link_to surveys_path do %>
                <%= icon 'questionaries-w' %><%= t('.sidebar_section.questionnaire')%>
              <%end%>
            </li>
          <% end %>
          <li>
            <%= link_to discussions_path do %>
              <%= icon 'discussions-w' %><%= t('.sidebar_section.discussion')%>
            <%end%>
          </li>
        <% end %>

        <% if ((current_role == 'teacher' || current_role == 'admin' || current_role == 'superadmin') and current_network.evaluable?) %>
          <li>
            <%= link_to evaluate_activities_path do %>
              <%= icon 'evaluate-w' %><%= t('.sidebar_section.activities')%>
            <%end%>
          </li>
        <% end %>
        <li>
          <%= link_to courses_path do %>
            <%= icon 'courses-w' %><%= t('.sidebar_section.courses', locale: locale)%>
          <% end %>
        </li>
        <% if current_network.evaluable? %>
          <li>
            <%= link_to califications_path do %>
              <%= icon 'stats-w' %> <%= t('.sidebar_section.ratings')%>
            <%end%>
          </li>
        <% end %>
        <% if current_network.evaluable? %>
          <li>
            <%= link_to calendar_path, :data => "menu" do %>
              <%= icon 'calendar-w' %> <%= t('.sidebar_section.calendar')%>
            <% end %>
            </a>
          </li>
        <% end %>
        <li>
          <%= link_to library_path(current_network.library), :data => "menu" do %>
            <%= icon 'library-w' %><%=t('.sidebar_section.library')%>
          <% end %>
        </li>
        <li>
          <%= link_to network_comunity_path, :data => "menu" do %>
            <%= icon 'community-w' %><%= t('.sidebar_section.community', locale: locale)%>
          <% end %>
        </li>
        <% if current_network.radar_token? %>
          <li>
            <%= link_to(radar_path, target: '_blank', id: 'radar_link') do %>
              <%= icon 'radar' %><%= t('.sidebar_section.radar')%>
            <% end %>
          </li>
        <% end %>
        <% if !current_network.find_setting(:vlex_sso).nil? && current_network.find_setting(:vlex_sso).value == 't' %>
          <li>
            <%= link_to vlex_remote_auth, target: '_blank' do %>
              <%= icon 'vlex' %><%= t('.sidebar_section.vLex')%>
            <% end %>
          </li>
        <% end %>
        <li class="chat-link">
          <%= link_to chat_path, :data => "menu" do %>
            <%= icon 'messages-w' %><%= t('.sidebar_section.chat')%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar-section sidebar-courses">
    <div class="sidebar-section-header s-unit">
      <h3><%= current_network.courses_tag %></h3>
    </div>
    <div class="sidebar-section-main scroller s-to-f scrollbar">
      <ul class="section-list side-courses user-courses-js">
        <% unless current_user_courses.empty? %>
          <% courses = current_user_courses if is_teacher %>
          <% courses = student_courses if is_student %>
          <% courses.each do |course| %>
            <li>
              <%= link_to course_path(course.id), id: course.id do %>
                <%= avatar('course', '25', "no", course.id, "avatar avatar-24", "no", "no") %>
                <%= truncate(course.title, omission: "...", length: 22) %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <div class="inner-no-content">
            <% if current_role == 'student' %>
              <h5><%= t('.sidebar_section.no_member')%></h5>
              <p><%= t('.sidebar_section.course_message') %> <%= link_to(t('.sidebar_section.course_href'), courses_path, class: 'underline') %></p>
            <% else %>
              <h5><%= t('.sidebar_section.no_course', locale: locale)%></h5>
              <p><%= link_to(t('.sidebar_section.no_course_href', locale: locale), new_course_path, class: 'underline') %></p>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="sidebar-section sidebar-chat tabs">
    <div class="sidebar-section-header s-unit">
      <h3><%= t('.sidebar_section.chat')%></h3>

      <div class="chat-switch-wrap tabs-buttons">
        <div class="chat-switch tab active" data-id-target="chat-group-friends">
          <%= icon('friends-12') %> <span><%= t('.sidebar_section.friends')%></span>
        </div>
        <div class="chat-switch tab" data-id-target="chat-group-courses">
          <%= icon('courses-12') %> <span><%= t('.sidebar_section.courses', locale: locale)%></span>
        </div>
      </div>

    </div>
    <div class="sidebar-section-main scroller s-to-f scrollbar">
      <div class="tabs-main">
        <div id="chat-group-friends" class="tab-content">
          <% if current_user.count_friendships != 0 || current_user.admin? || current_user.superadmin? %>
            <ul class="section-list side-courses">
              <% @friends_online.each do |user|%>
                <li>
                  <%= link_to open_channel_path(user.id), remote: true, class: "open-chat-panel", data: { panel_type: "user", channel_id: user.id  } do %>
                    <% if user.avatar.file != nil %>
                      <%= image_tag("#{user.avatar.mini}", alt: "", class: "avatar avatar-24") %>
                    <% else %>
                      <%= image_tag("imagexx.png", alt: "", class: "avatar avatar-24") %>
                    <% end %>

                    <%= truncate("#{user.name}", :omission => "...", :length => 20) || user.email %>
                    <div class="<%= user.online ? 'user-online': 'user-offline' %>" id ="chat-list-user-<%= user.id %>" title="<%= user.online ? t('.sidebar_section.disp_usr'): t('.sidebar_section.no_disp_usr')%>"></div>

                  <% end %>
                </li>
              <%end%>
            </ul>
          <% else %>
            <div class="inner-no-content">
              <h5><%= t('.sidebar_section.no_friends')%></h5>
              <p><%= t('.sidebar_section.add_friends')%> <%= link_to( t('.sidebar_section.community_href'), network_comunity_path, class: 'underline') %></p>
            </div>
          <% end %>

        </div>

        <div id="chat-group-courses" class="tab-content" style="display: none;">
          <ul class="section-list side-courses courses-online-js">
            <% if !current_user_courses.empty? || current_user.permissionings.first.role_id == 1 || current_user.permissionings.first.role_id == 4 %>
              <% @courses_online.each do |course|%>
                <li>
                  <%= link_to open_channel_path(course.id,"course" => true), :remote => true, id: course.id do %>
                    <% if !course.avatar.file.nil? %>
                        <%= image_tag("#{course.avatar.mini}", alt: "", class: "avatar avatar-24") %>
                    <% else %>
                       <%= image_tag("course-avatarxx.png", alt: "", class: "avatar avatar-24") %>
                    <% end %>
                    <%= truncate("#{course.title}", :omission => "...", :length => 20) %>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <div class="inner-no-content">
                <% if current_role == 'student' %>
                  <h5><%= t('.sidebar_section.no_member', locale: locale)%></h5>
                  <p><%= t('.sidebar_section.course_message', locale: locale) %> <%= link_to(t('.sidebar_section.course_href'), courses_path, class: 'underline') %></p>
                <% else %>
                  <h5><%= t('.sidebar_section.no_course', locale: locale)%></h5>
                  <p><%= link_to(t('.sidebar_section.no', locale: locale), new_course_path, class: 'underline') %></p>
                <% end %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="global-footer s-unit">
    <div class="cursame-brand">
      <%= link_to "Cursame", "http://cursa.me/", class: "footer-logo", target: "_blank" %>
    </div>
    <div class="rights">
      <span>® <%= Time.new.year %></span>
    </div>
  </div>

</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      mixpanel.identify("<%= current_user.id %>");
      $("#radar_link").click(function() {
        mixpanel.track("Radar", {
          "Network": "<%= current_network.name %>",
          "Subdomain": "<%= current_network.subdomain %>",
          "Role": "<%= current_user.role_title %>"
        });
      });
    });
  </script>
<% end %>
