<div class="image-survey" id="open-close-<%= survey.id %>" style="height: 210px;">
  <% response = UserSurvey.find_by_survey_id_and_user_id(survey.id,current_user.id) %>
  <% if response.blank? %>
      <div id="image-<%= survey.id %>" class="image-surveys"><div class="response-survey">Responder</div></div>
      </div>
      <div class="survey-assignment-box" id="entrega-<%= survey.id %>">
        <%= render :partial => '/surveys/survey_response_tpl', :locals => {:survey => survey}%>
      </div>
  <% else %>
      <div id="image-<%= survey.id %>" class="image-surveys"><div class="response-survey">Respondido!!!</div></div>
  <% end %>


<script>
    $("#open-close-<%= survey.id %>").click(function () {
        $('#entrega-<%= survey.id %>').show();
        $('#entrega-<%= survey.id %>>form>#cancel-post-form').click(function () {
            $("#open-close-<%= survey.id %>").show();
            $("#open-close-<%= survey.id %>").parent().parent().show();
            $('#entrega-<%= survey.id %>').hide();
        });
    });
</script>

