<div class="image-survey" id="open-close-<%= survey.id %>">
  <img src="/assets/survey.jpg" class="single-image">
</div>
  <div class="survey-assignment-box" id="entrega-<%= survey.id %>">
    <%= render :partial => '/surveys/survey_response_tpl', :locals => {:survey => survey}%>
  </div>

<script>
    $("#open-close-<%= survey.id%>").hover(function () {
        var idOrCls = "#open-close-<%= survey.id%>",
                msj = "<div class='response-survey'>Responder</div>";
        $('<div class="ui-widget-overlay" id="mask-<%= survey.id %>"><span>' + msj + '</span></div>').appendTo(idOrCls);
        $('#mask-<%= survey.id %>').show();
    },function () {
        $('#mask-<%= survey.id %>').remove();
    });

    $("#open-close-<%= survey.id %>").click(function () {
        $('#mask-<%= survey.id %>').remove();
        $('#entrega-<%= survey.id %>').toggle("slow");
        $(this).unbind('hover');
        $('#entrega-<%= survey.id %>>form>#cancel-post-form').click(function () {
            $("#open-close-<%= survey.id %>").show();
            $("#open-close-<%= survey.id %>").parent().parent().show();
            $('#entrega-<%= survey.id %>').hide();
        });
    });
</script>


<!--<div class="green-btn boton-verde">
  <div class="labels">
    <div id="open-close-<= survey.id %>">
      <a>Responder</a>
    </div>
  </div>
</div>
<div class="survey-assignment-box" id="entrega-<= survey.id %>">
  < @survey = survey %>
  <= render :partial => '/surveys/survey_response_tpl' %>
</div> -->


