<div class="image-survey" id="open-close-<%= survey.id %>" style="height: 109px; margin-top: -16px; position: relative; z-index: 0;">
  <% response = UserSurvey.find_by_survey_id_and_user_id(survey.id,current_user.id) %>
  <%  @s = Survey.find(survey.id)
      @s.expired?  
  %>
  <% if response.blank? %>
      <div id="image-<%= survey.id %>" class="image-surveys">
      	<div class="response-survey">
	      	<span class="RespondSurvey"></span>
      	</div>
      </div>
      </div>
      <div class="survey-assignment-box" id="entrega-<%= survey.id %>">
        <%= render :partial => '/surveys/survey_response_tpl', :locals => {:survey => survey}%>
      </div>
  <% else %>
      <div id="image-<%= survey.id %>" class="resolve-surveys"><div class="response-survey" style=" margin-top:-10px;color:#3BB3C5;font-size:34px"><%= response.result.to_s %></div></div>
      </div>
  <% end %>


<script>
    $("#open-close-<%= survey.id %>").click(function () {
        $('#entrega-<%= survey.id %>').show();
        $('#entrega-<%= survey.id %>>form>#cancel-post-form').click(function () {
            $("#open-close-<%= survey.id %>").show();
            $("#open-close-<%= survey.id %>").parent().parent().show();
            $('#entrega-<%= survey.id %>').hide();
        });
    });
</script>

<!-- funcionalidad cuestionario
<script>
	$('.image-surveys').mouseenter( function() {
		$(this).css({ marginTop: "-25px", position: "absolute", display: "block" });
	}),
	$('.image-surveys').mouseleave( function() {
		$(this).css({ marginTop: "0px", position: "absolute", display: "block" });
	});
</script>
-->

<script>
	$('.image-survey').click( function() {
		$(this).slideUp(300);
	}),
	$('.cancel-post-form').click( function() {
		$('.image-survey').slideDown(300);
	});
</script>