<header id="user_nav" class="topbar">
  <div class="topbar-spacer">
    <div id="log_loadding"></div>
    <%= render partial: 'shared/flash', locals: { full: false } %>
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="network">
              <div class="menu-sidebar">
                <%= icon('menu') %> <!-- Menú -->
              </div>
              <% if current_network.logo.file.nil? %>
                <%= link_to root_path, title: current_network.name, class: "free_network" do %>
                  <%= icon('logo-cursame') %>
                <% end %>
              <% else %>
                <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
              <% end %>
            </div>
            <div class="activity-notificactions">
              <div class="activity-block support-buttton">
                <a href="http://myaccount.zendesk.com/account/dropboxes/2830039812" onClick="script: Zenbox.show(); return false;"><%= icon('support') %> <%= t('.activity_notifications.help')%></a>
              </div>

              <div id="message_notifications" class="activity-block">
                <%= render :partial => '/shared/chat/message_notifications' %>
              </div>

              <div id="notifications" class="activity-block">
                <%= render :partial => '/shared/notifications' %>
              </div>

              <div class="activity-block">
                <div class="dropdown-wrap">
                  <div class="dropdown-pull activity-dropdown-pull">
                    <%= icon('user-settings') %>
                  </div>
                  <div class="dropdown-v right">
                    <i class="tip"></i>
                    <ul>
                      <% if current_user.admin? && !current_user.operator? %>
                        <li>
                          <%= link_to(t('.activity_block.admin_href'), managers_path) %>
                        </li>
                      <% end %>
                      <li>
                        <%= link_to(t('.activity_block.profile_href'), show_user_path(current_user.personal_url)) %>
                      </li>
                      <li>
                        <%= link_to(t('.activity_block.edit_profile_href'), edit_user_registration_path) %>
                      </li>
                      <li>
                        <%= link_to(t('.activity_block.sign_out_href'), sign_out_path, method: :delete) %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
