 <!-- Tip Content -->
    <ol id="joyRideTipContentU" style="display:none">
      <li  data-text="Siguiente" class="custom">
        <h2><%=t('.welcome_prof')%></h2>
        <p><%=t('.text_prof')%></p>
      </li>
      <li data-id="noticce" data-button="Siguiente" data-options="tipLocation:top;tipAnimation:fade">
        <h2><%=t('.notif')%></h2>
        <p><%=t('.text_notif')%></p>
      </li>
      <li data-id="box-user-credential" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.prof')%></h2>
        <p><%=t('.prof_photo')%></p>
      </li>

      <li data-id="edit-user" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.edit_prof')%></h2>
        <p><%=t('.text_edit_prof')%></p>
      </li>

      <li data-id="edit-user" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.edit_prof')%></h2>
        <p><%=t('.text_edit_prof')%></p>
      </li>

      <li data-id="box-course" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.courses')%></h2>
        <p><%=t('.courses_area')%></p>
      </li>

      <li data-id="tabs-friends-1" data-button="Terminar">
        <h2><%=t('.friends')%></h2>
        <p><%=t('.friends_list')%></p>
      </li>

      <li data-id="post-forms" data-button="Siguiente" data-options="tipLocation:right">
        <h2><%=t('.content')%></h2>
        <p><%=t('.content_area')%></p>
      </li>
      <li data-id="timeline" data-button="Terminar" data-options="tipLocation:right">
        <h2><%=t('.publ')%></h2>
        <p><%=t('.publ_area')%></p>
      </li>
    </ol>



<script>
  $('#joyRideTipContentU').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        'postRideCallback': function (argument) {
          var data ={
              data:2
          };
          $.get('/home/finish_tour',data,null,"script");
        },
        // modal:true,
        expose: true
        });
</script>