<%= form_tag wall_path, :method => 'get',:class => "filter-form", :id => "wall_search" do %>

<ul id="trans-nav">
    <li><img src="/assets/filtrar.png" style="margin-left: 13px;">
        <ul>
	        <img src="/assets/line-up.png" style="width:11px;height:10px;position:absolute;display:block;margin:-8px 0 0 25px;">
			<%= hidden_field_tag :page, 1 %>
			<li><label class="lblclass"><%= radio_button_tag 'search', 'Discussion' %>Discusiones</label></li>
			<li><label class="lblclass"><%= radio_button_tag 'search', 'Course' %>Cursos</label></li>
			<li><label class="lblclass"><%= radio_button_tag 'search', 'Comment' %>Comentarios</label></li>
			<li><label class="lblclass"><%= radio_button_tag 'search', 'Delivery' %>Entregas</label></li>
        </ul>
    </li>
</ul>
	</nav>

<% end %>

<script>
$(function(){
	$("#wall_search input:radio").live('click',function(){
		var form = $('#wall_search');
		console.log(form.serialize());
		$.get(form.action,form.serialize(),null,"script");
	});
});
</script>