<%
  random_id = "#{random}"
  @labelIdBox = "upload-labels-#{random_id}"
  formId= "form-upload-delivery-#{random_id}"
%>

<% unless active_edit %>
  <% @delivery = Delivery.new %>
<% else %>
  <% @delivery = delivery %>
<% end %>

<%= form_for(@delivery, remote: true, html: { class: "default-form delivery-form", multipart: true, id: formId, data: { post_type: 'Delivery' } }) do |f| %>
  <%= hidden_field_tag 'in_form', in_form%>
  <div class="new-publication-form-content">
    <% contents = @delivery.contents.build %>
    <%= f.hidden_field :network_id, value: current_network.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :title, "#{t('.hmwrk_theme')}:".html_safe %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :title , placeholder: t('.example'), required: "required" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :publish_date, "#{t('.dates')}:" %>
      </div>
      <div class="form-group-main">
        <div class="f-col f-col-5">
          <div class="form-unit">
            <%= f.text_field :publish_date, placeholder: t('.publish_date'), class: "date-input delivery delivery_publish_date", id: 'publish_date_'+random_id, value: f.object.publish_date, required: "required" %>
          </div>
        </div>

        <div class="f-col f-col-5">
          <div class="form-unit">
            <%= f.text_field :end_date, placeholder: t('.deliver_date'), class: "date-input delivery delivery_end_date", id: 'end_date_'+random_id, value: f.object.end_date %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <%= f.label :description, "#{t('.descrip')}:" %>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_area :description, rows: 3, placeholder: t('.descrip'), required: true, class: 'autogrow' %>
        </div>
      </div>
    </div>

    <% if active_edit == false %>
      <div class="form-group">
        <div class="form-group-label label-no-p">
          <%= f.label '', "#{t('.criterium')}:" %>
        </div>
        <div class="form-group-main">
          <div class="areas-of-evaluation">
            <div class="form-unit">
              <div class="fields-wrap">
                <div class="fields-group">
                  <%= f.fields_for :evaluation_criteria do | builder | %>
                    <%= render partial: "shared/evaluation_criteria/evaluation_criteria_fields", locals: { f: builder, base_model: @delivery } %>
                  <% end %>
                </div>
                <%= link_to_add_evaluation_criteria t('.add_criterium'), f, :evaluation_criteria %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-label label-no-p">
          <%= f.label "", t('.support') %>
        </div>
        <div class="form-group-main">
          <div class="form-unit">
            <ul class="list-buttons left">
              <li>
                <a class="btn btn-small btn-secondary add-dropbox-content-js"><%= icon('dropbox-asset') %> Dropbox</a>
              </li>
              <li>
                <%= render partial: 'assets/upload_asset_button', locals: { from: 'delivery-create-form' } %>
              </li>
            </ul>
            <%= render partial: 'assets/support_material_container', locals: { from: 'delivery-create-form-assets' , object: @delivery} %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <% if active_edit %>
    <p><%=t('.integrity')%> </p></br>
    <% unless delivery.evaluation_criteria.empty? %>
      <br>
    <% end %>
  <% end %>

  <div class="new-publication-footer">
    <% if active_edit == false %>
      <ul class="list-buttons right fr">
        <li>
          <%= link_to t('.cancel'), "", :class=>'btn btn-secondary cancel-post-form_tab', :id => 'cancel-post-form_tab' %>
        </li>
        <li>
          <% if in_form != 'course'%>
              <%= render :partial => "shared/dropdown", :locals => { :hasPublic => false, isActivity: true, :hasCourses => true,
                                                                    :defaultText => t('.courses'), :default_icon => 'course-new-publication', :in_type => in_type } %>
          <% elsif !@course.evaluation_periods.empty? %>
              <%= render partial: "shared/dropdown_evaluation_periods",
                         locals: { defaultText: t('.evaluation_periods'), default_icon: 'course-new-publication', in_type: in_type, course: @course } %>
              <%= hidden_field_tag "delivery[course_ids][]", @course.id %>
          <% else %>
            <%= hidden_field_tag "delivery[course_ids][]", @course.id %>
          <%end%>
        </li>
        <li>
          <span class="btn btn-primary input-btn activable">
            <%= f.submit t('.publish'), :id => 'comment-post-form', :class => "activable"%>
          </span>
        </li>
      </ul>
    <% else %>
      <ul class="list-buttons left">
        <li>
          <a class="cancel-edit-publication-js btn btn-secondary" href="#"><%=t('.cancel')%></a>
        </li>
        <li>
          <span class="btn btn-primary input-btn activable">
            <%= f.submit t('.save'), :id => 'comment-post-form', :class => "activable"%>
          </span>
        </li>
      </ul>
  <%end%>
  </div>

<% end %>

<script type="text/javascript">
  $(function() {
    $( "#publish_date_<%=random_id %>, #end_date_<%=random_id%>" ).datetimepicker({
      inline: false,
      minDate: 0,
      hourMin: 0,
      hourMax: 23,
      controlType: 'select',
      showOtherMonths: true,
      dateFormat: 'dd/mm/yy',
      monthNames: [I18n.t("date.month.jan"),
                 I18n.t("date.month.feb"),
                 I18n.t("date.month.mar"),
                 I18n.t("date.month.apr"),
                 I18n.t("date.month.may"),
                 I18n.t("date.month.jun"),
                 I18n.t("date.month.jul"),
                 I18n.t("date.month.aug"),
                 I18n.t("date.month.sept"),
                 I18n.t("date.month.oct"),
                 I18n.t("date.month.nov"),
                 I18n.t("date.month.dec")],
      dayNamesMin: [I18n.t("date.day.sun"),
                  I18n.t("date.day.mon"),
                  I18n.t("date.day.tu"),
                  I18n.t("date.day.we"),
                  I18n.t("date.day.th"),
                  I18n.t("date.day.fri"),
                  I18n.t("date.day.sat")],
      beforeShow: function(input, inst) {
        var cal = inst.dpDiv;
        var top  = $(this).offset().top + $(this).outerHeight();
        var left = $(this).offset().left;
        setTimeout(function() {
          cal.css({
              'top' : top,
              'left': left
          });
        }, 10);
      }
    });

    $('#<%= formId %>').validate();

  });

</script>
