<%#if @count_course_iam_member_and_owner != 0%>
    <%= form_for(@delivery = Delivery.new, :remote => true ,:html => { :class => "default-form delivery-form", :multipart => true, :id => "new_delivery_form"}) do |f| %>
        <%= f.hidden_field :network_id, :value => current_network.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.text_field :title , :placeholder=>'Titulo de la tarea' %>
        <%= f.text_field :end_date, :placeholder=>'Fecha de entrega', :class=>"date-input delivery" %>
        <%= f.text_field :publish_date, :placeholder=>'Día de pubicación', :class=>"date-input delivery" %>
        <%= f.text_area :description , :rows => 4, :cols => 76 , :placeholder=>'Descripción' %>
              <% 1.times do
                 areas_of_evaluations = @delivery.areas_of_evaluations.build
             end%>

        <%= f.fields_for :areas_of_evaluations do |builder| %>
            <%= render :partial => "areas_of_evaluations/form", :locals => { :f => builder } %>
        <% end %>

        <%= f.number_field :porcent_of_evaluation, :placeholder=>'Eval.', :class=>"percent-input" %>              
        <%#= f.fields_for :assets do |asset| %>
            <%#= render :partial => "shared/assets_form" %>
        <%#end%>
        <div class="submit-area"></div>
        <%= button_tag "Cancelar", :type => 'button', :class=>'input-button', :onClick=>'removeSliderEvaluation();' , :id => 'cancel-post-form' %>
        <%= f.submit "Publicar", :id => 'create_delivery_form'%>

        <%= render :partial => "shared/dropdown", :locals => { :hasPublic => false, :hasCourses => true, :defaultText => 'Cursos', :defaultClass => 'course-dd' } %>

    <% end %>
<%#end%>
<%= render :partial => "shared/assets_form" %>
<script type="text/javascript">
$(document).ready(function() {
  $( "#delivery_publish_date, #delivery_end_date" ).datepicker({
    inline: false,
    minDate: 0,
    showOtherMonths: true,
    dateFormat: 'dd/mm/yy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
  });

  // $("#create_delivery_form").on('click',function(){
  //   mask('#new_delivery_form','Cargando ...');
  // });
});
</script>