<%
  random_id = "#{random}"
  @labelIdBox = "upload-labels-#{random_id}"
  formId= "form-upload-delivery-#{random_id}"
%>

<% if !@active_edit %>
  <% @delivery=Delivery.new %>
<% end %>

<% if @active_edit == false %>
  <!--	<a class="help delivery_help" id="help_delivery" style="margin-top: -25px; margin-right:565px;"><%= image_tag('help.png')%></a>-->
<%end%>
<%= form_for(@delivery, :remote => true ,:html => { :class => "default-form delivery-form", :multipart => true, :id => formId}) do |f| %>
  
  <div class="new-publication-form-content">
    <div class="video_help help_use_to_delivery" style="display: none" id="delivery_help">
      <div class="content_video" id="content_video_video_delivery"></div>
    </div>
    
    <% contents = @delivery.contents.build %>

    <div>
      <% if @active_edit == false %>
  	   <%= render :partial => "content/heather_contents",
                  :locals => {:f => f, :typeo => 'delivery', :acces_to => @delivery, :contents => "contents" } %>
      <%end%>
    </div>
    
    <%= f.hidden_field :network_id, :value => current_network.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
          
    <%= f.text_field :title , :placeholder=>'Escribe el tema de la tarea', :class => 'form_fix_title_overlay' %>
    <%#= f.datetime_select :publish_date%>
    <%#= f.datetime_select :end_date%>

    <%= f.text_field :publish_date, :placeholder=>'Día de publicación', :class=>"date-input delivery form_fix_date_overlay delivery_publish_date", :id => 'publish_date_'+random_id, :value=> f.object.end_date %>
    
    <%= f.text_field :end_date, :placeholder=>'Fecha de entrega', :class=>"date-input delivery form_fix_date_overlay delivery_end_date", :id => 'end_date_'+random_id, :value=>f.object.end_date  %>
    
    <%= f.text_area :description , :placeholder=>'Descripción', :class => 'border_for_text' %>

    <% if @active_edit == false %>    
      <% areas_of_evaluations = @delivery.areas_of_evaluations.build %>

      <div class="form_fix_criteria">
        <%= f.fields_for :areas_of_evaluations do |builder| %>
          <%= render :partial => "areas_of_evaluations/form", :id => 'areas_of_evaluations', :locals => { :f => builder } %>
  			<% end %>
      </div>

      <div id="more_nested_evaluation_btn" class="evaluate-btn">Agregar Criterio</div>

  		<div id="<%=@labelIdBox%>" class="upload-label upload-form"></div>
  		
      <%= f.number_field :porcent_of_evaluation, :placeholder=>'Evaluación final', :class=>"percent-input" %>

      <%#= f.fields_for :assets do |asset| %>
        <%#= render :partial => "shared/assets_form" %>
      <%#end%>
    </div>
    
    <div class="new-publication-footer">
    <div>
      <div class="submit-area"></div>
	        
			<% if @active_edit == false %>
				<a class="help delivery_help" style="float: left!important; margin-left: -2px;" id="help_delivery"><%= image_tag('help.png')%></a>
			<%end%>
	        
      <div>
  			<%= button_tag "Cancelar", :type => 'button', :class=>'input-button cancel-post-form_tab', :onClick=>'removeSliderEvaluation();' , :id => 'cancel-post-form_tab' %>
  			<%= f.submit "Publicar", :id => 'comment-post-form'%>
			</div>
			
      <div>
        <%= render :partial => "shared/dropdown", :locals => { :hasPublic => false, :hasCourses => true, :hasGroups => false,:hasUser => false, :defaultText => 'Cursos', :defaultClass => 'course-dd' } %>
			</div>
    </div>      

  <%else%>

      <div>
			 <%= f.submit "Guardar Tarea", :id => 'comment-post-form', :class =>"btn activable"%>        
		  </div>

  <%end%>
  </div> 
          
    
<% end %>

<% if @active_edit == false %>

  <div> 
    <%= render :partial => "shared/assets_form", :locals =>{:labelIdBox=>'#'+@labelIdBox, :formId => formId} %>

    <div>
      <%= render partial: 'content/list', :locals => {:typeo => 'delivery'} %>
    </div>
  </div>

<%else%>

  <p>Por integridad de la actividad no se permiten modificar los archivos, contenidos y criterios después de ser creada le pedimos de la manera mas atenta si necesita agregar alguno de estos elimine la actividad y vuelva a cargarla. </p></br>
    
  <div>
    <b style="text-align:justify;"> Criterios: </b></br>

    <% @delivery.areas_of_evaluations.each do |d| %>
       <%= d.name%>: <%= d.evaluation_percentage%></br>
    <%end%>
  </div>
<%end%>

<script type="text/javascript">
  $(document).ready(function() {
    $( "#publish_date_<%=random_id %>, #end_date_<%=random_id%>" ).datetimepicker({
      inline: false,
      minDate: 0,
      hourMin: 0,
      hourMax: 23,
      controlType: 'select',
      showOtherMonths: true,
      dateFormat: 'dd/mm/yy',
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
    });
  });
</script>
