<% if @count_course_iam_member_and_owner > 0%>
    <%= form_for(@delivery, :html => { :class => "default-form delivery-form"}) do |f| %>
        <%= f.text_field :title , :placeholder=>'Titulo de la tarea' %>
        <%= f.number_field :porcent_of_evaluation, :placeholder=>'Evaluación', :class=>"percent-input" %>
        <%= f.text_area :description , :rows => 4, :cols => 76 , :placeholder=>'Descripción' %>
        <%= f.text_field :publish_date, :placeholder=>'Día de pubicación', :class=>"date-input" %>
        <%= f.text_field :end_date, :placeholder=>'Ultimo día de entrega', :class=>"date-input" %>

        <%= f.fields_for :areas_of_evaluations do |builder| %>
            <%= render :partial => "areas_of_evaluations/form", :locals => { :f => builder } %>
        <% end %>

        <%= button_tag "Cancel", :type => 'button', :class=>'input-button', :id => 'cancel-post-form', :onClick=>'removeSliderEvaluation();' %>

        <%= f.submit "Publicar"%>
        <div id="CourseDropDown" class="wrapper-dropdown"><span>Curso ...</span><div class="box-arrow"></div>
          <ul class="dropdown">
            <% for course in Course.find(:all) %>
                <% @course_member = MembersInCourse.find_by_course_id_and_user_id(course.id, current_user.id) %>
                <% if @course_member.owner == true && course.id == @course_member.course_id %>
                    <li><%= check_box_tag 'delivery[course_ids][]', course.id, false %><label for="delivery[course_ids][]"><%= course.title %></label></li>
                <%end%>
            <% end %>
          </ul>
        </div>


      <script type="text/javascript">
        $(document).ready(function() {
                $( "#delivery_publish_date, #delivery_end_date" ).datepicker({
                    inline: false,
                    minDate: 0,
                    showOtherMonths: true,
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
                });
        });
      </script>
    <% end %>
<%end%>