= render partial: 'deliveries/shared/deliveries_header'
.academic-activities-list-wrap
	- unless @today_deliveries.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.hmwrks')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'deliveries/shared/deliveries_list', locals: { deliveries: @today_deliveries }

	- unless @tomorrow_deliveries.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.tomorrow_hmwrks')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'deliveries/shared/deliveries_list', locals: { deliveries: @tomorrow_deliveries }

	- unless @rest_of_deliveries.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.deliver_hmwrks')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'deliveries/shared/deliveries_list', locals: { deliveries: @rest_of_deliveries }

	- if @today_deliveries.count + @tomorrow_deliveries.count + @rest_of_deliveries.count == 0
		.no-content-section
			%h4= t('.no_hmwrks')
			%p= t('.no_deliver')
			= link_to t('.past_hmwrks'), deliveries_lapsed_path