<h1>Listing deliveries </h1>
<%= render 'form'%>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Publish date</th>
    <th>End date</th>
    <th>Porcent of evaluation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deliveries.each do | course_delivery| %>
  <tr>
    <td><%= course_delivery.title %></td>
    <td><%= course_delivery.description %></td>
    <td><%= course_delivery.publish_date %></td>
    <td><%= course_delivery.end_date %></td>
    <td><%= course_delivery.porcent_of_evaluation %></td>
    <td><%= link_to 'Show',  course_delivery %></td>
    <td><%= link_to 'Edit', edit_delivery_path(course_delivery) %></td>
    <td><%= link_to 'Destroy', course_delivery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery', new_course_delivery_path %>
