<h1>Listing deliveries </h1>
<%= render 'deliveries/delivery_compart_form',  :f => build  %>%>

  
  <% current_course.deliveries.each do |ds| %>
   <b><%= ds.title %></b>
   <p><%= ds.description %></p>
   
        <% @delivery_id = ds.id%> 
          
         <b>Restante a asignar <% @porcent =  ds.areas_of_evaluations.sum(:evaluation_percentage) %>
          <%= @puntos_de_porcentaje_a_asignar = 100 - @porcent%>%</b>
         
         
        
       <%= render partial: 'areas_of_evaluations/form'%>
      <% ds.areas_of_evaluations.each do |ds_areas_eva|%>
         <%=  ds_areas_eva.name %> <%= ds_areas_eva.evaluation_percentage %>%</br>
           <% @editing_areas = ds_areas_eva %>
           <%= render partial: 'deliveries/edit_rubre'%>
           
         
      <%end%>
  <%end%>
  
 
   
</table>

<br />

<%= link_to 'New Delivery', new_course_delivery_path %>
