<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header">
            <div class="section-header-main">
              <div class="section-title">
                <%= link_to icon('section-deliveries'), my_deliveries_path %>
                <%= link_to my_deliveries_path do %>
                  <h1>Tareas</h1>
                <% end %>
              </div>
              <% unless current_user.courses.empty? %>
                <%= render partial: '/shared/publications-filter/filter_by_course_publications', locals: { type: 'tareas' } %>
              <% end %>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to wall_filter_path(:typeforfilter => 'Delivery', :responds => 'false'), :remote => true, class: (action == 'my_deliveries' ? "active" : " ") do %>
                    Tareas por entregar
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to wall_filter_path(:typeforfilter => 'Delivery', :responds => 'true'), :remote => true, class: (action == 'about' ? "active" : " ") do %>
                    Tareas entregadas
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper sc-margined">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <div id="timeline" class="tim">
          <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
        </div>
        <div id="paginate_wall" onclick="PaginateINwall('/deliveries',2, <%= @wall.total_pages %>)"></div>
      </div>
    </div>
  </div>
</div>