<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @delivery.title %>
</p>

<p>
  <b>Description:</b>
  <%= @delivery.description %>
</p>

<p>
  <b>Publish date:</b>
  <%= @delivery.publish_date %>
</p>

<p>
  <b>End date:</b>
  <%= @delivery.end_date %>
</p>

<p>
  <b>Porcent of evaluation:</b>
  <%= @delivery.porcent_of_evaluation %>
</p>

<% @courses =  @delivery.courses %>
<% @courses.each do |cs|%>
    <% @course_id = cs.id%>
  <b>Tarea a entregar para el curso </b> <%= cs.title %></br>
  <% @ushk = cs.users %>
     <%  @ushk.each do |hk|%>
          <%@perenial =  hk.id %></br>
          <% @inmortal = current_user.id %>
          <% if @perenial == @inmortal %>
             <%= render :partial => "assignments/form_for_delivery" %>
          <%end%>
     <%end%>
     
<%end%>
<% @delivery.assignments.each do |atr| %>
 
 <%= atr.title %>
 <%= atr.brief_description %>
 <%= atr.assets %></br>
 
 
<%end%>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
