<%
  set_meta_tags title: 'Términos y Condiciones',
                description: 'Conoce nuestros Terminos y Condiciones',
                keywords: 'terms, terminos, conditions, condiciones',
                og: {
                  title: 'Aplicaciones · Cúrsame',
                  description: 'Conoce nuestros Terminos y Condiciones',
                  image: 'http://cursa.me/images/website/og-landing.png',
                  url: 'http://cursa.me/terms-conditions'
                }
%>

<div class="terms-and-conditions wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <h1><%=t('.terms')%></h1>
        <br>

        <h4>1. <%=t('.terms1f')%></h4>
        <p><%=t('.terms1')%></p></br>

        <h4>2. <%=t('.terms2f')%></h4>
        <p><%=t('.terms2')%></p></br>

        <h4>3. <%=t('.terms3f')%></h4>
        <p><%=t('.terms3')%></p></br>

        <h4>4. <%=t('.terms4f')%></h4>
        <p><%=t('.terms4')%></p></br>

        <h4>5. <%=t('.terms5f')%></h4>
        <br>
        <h5>5.1 <%=t('.terms51')%></h5>
        <p><%=t('.terms5')%></p>
        </br>
        <h5>5.2 <%=t('.terms52')%></h5>
        <p><%=t('.terms5x')%></p>
        </br>
        <h5>5.3 <%=t('.terms53')%></h5>
        <p><%=t('.terms53x')%> </p>

        </br><h5>5.4 <%=t('.terms54')%></h5>
        <p><%=t('.terms54x')%></p><br>
        </br>
        <h4>6. <%=t('.terms6f')%></h4>
        <p><%=t('.terms6x')%></p></br>

        <h5>6.1 <%=t('.terms61f')%></h5>
        <p><%=t('.terms61x')%></p></br>

        <h4>7. <%=t('.terms7')%></h4>
        <p><%=t('.terms7x')%>:</p><br>

        <p>a. <%=t('.terms7ax')%></p><br>

        <p>b. <%=t('.terms7bx')%></p><br>

        <p>c. <%=t('.terms7cx')%></p><br>

        <p>d. <%=t('.terms7dx')%></p></br>

        <p>e. <%=t('.terms7ex')%></p></br>

        <p>f. <%=t('.terms7fx')%></p><br>

        <p>g. <%=t('.terms7gx')%></p></br>

        <p>h. <%=t('.terms7hx')%></p></br>

        <p>i. <%=t('.terms7ix')%></p></br>

        <p>j. <%=t('.terms7jx')%></p></br>

        <p>k. <%=t('.terms7kx')%></p></br>

        <p>l. <%=t('.terms7lx')%></p></br>

        <p>m. <%=t('.terms7mx')%></p></br>

        <p>n. <%=t('.terms7nx')%></p></br>

        <p>o. <%=t('.terms7ox')%></p></br>

        <p>p. <%=t('.terms7px')%></p></br>

        <h5>7.1 <%=t('.terms71')%></h5><br>

        <p><%=t('.terms71f')%></p></br>

        <p><%=t('.terms71x')%></p></br>

        <h5>7.2 <%=t('.terms72')%></h5><br>

        <p><%=t('.terms72x')%></p></br>

        <h5>7.3 <%=t('.terms73f')%></h5><br>

        <p><%=t('.terms73')%>:</p></br>

        <p>(a) <%=t('.terms73x')%></p>
        </br>

        <p><%=t('.terms73x1')%></p></br>

        <h5>7.5 <%=t('.terms75')%></h5><br>
        <p><%=t('.terms75f')%></p></br>

        <h5>7.6 <%=t('.terms76')%></h5><br>

        <p><%=t('.terms76f')%></p></br>

        <p><%=t('.terms76x')%></p></br>

        <p><%=t('.terms76x1')%></p></br>

        <h4>8. <%=t('.terms8')%></h4>
        <p><%=t('.terms8x')%></p></br>


        <h4>9. <%=t('.terms9f')%></h4>
        <p><%=t('.terms9x')%></h4></br>

        </br><h4>10. <%=t('.terms10f')%></h4>
        <p><%=t('.terms10x')%></p></br>
      </div>
    </div>
  </div>
</div>
