<% 
  set_meta_tags title: 'Acerca de Nosotros',
                description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
                keywords: 'cursame, nosotros, quienes somos',
                og: {
                  title: 'Nosotros · Cúrsame',
                  description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
                  image: 'http://cursa.me/images/website/about-title.jpg',
                  url: 'http://cursa.me/about'
                }
%>

<div class="about-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h1>Acerca de Nosotros</h1>
            <p>Cúrsame es una plataforma educativa  fundada en México a finales de 2011 por un grupo de estudiantes de diversas universidades del país con el objetivo de mejorar la calidad educativa y reducir la brecha digital a través de la tecnología. Durante este periodo hemos logrado beneficiar a más de 100 mil estudiantes, profesores y directivos tanto de escuelas públicas como privadas en México, con visión de impactar en toda la región y demás países emergentes.</p>

            <p>Hemos recibido 3 rondas de inversión privada por parte de reconocidos fondos, también nos han otorgado una gran cantidad de premios y reconocimientos pero más importante aún, hemos logrado vincularnos con autoridades gubernamentales en proyectos de alto impacto que nos han permitido crecer de una manera bastante acelerada e impactar socialmente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'vision' %> Visión:</h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p>Ser una plataforma líder en el ámbito educativo que  permita a la población mexicana insertarse con éxito en la sociedad de la información y el conocimiento.</p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'mision' %> Misión:</h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p>Mejorar la calidad de la educación en México a través  de una herramienta tecnológica  eficiente que permita  a la comunidad educativa redefinir estrategias de mejora en los procesos de enseñanza-aprendizaje en las que se complementen y favorezcan las dinámicas del aula y puedan ampliarse fuera de la escuela.</p>

        <p>Democratizar el acceso a tecnología educativa de calidad y generar un cambio en la vida diaria y profesional de alumnos y profesores al acercarlos a la tecnología y sus beneficios.</p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'philosophy' %> Filosofía:</h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p>En Cúrsame partimos de la concepción de que el aprendizaje  no sólo es construido dentro y por la propia persona, sino que  tiene que ver con aspectos más sociales dentro de comunidades de enseñanza.</p>

        <p>Para nosotros la posibilidad de interactuar con otros con un fin educativo a través de herramientas tecnológicas es una forma muy eficaz de favorecer los espacios de encuentro efectivo y positivo en el proceso de enseñanza-aprendizaje.</p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'objectives' %> Objetivos:</h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <ul class="list">
          <li>
            Contribuir a lograr mejores resultados en el aprendizaje de los alumnos y en la inclusión digital de maestros, alumnos y miembros de su familia en México.
          </li>
          <li>
            Promover intercambios de conocimiento  en comunidades de aprendizaje a través de la diversificación de canales de comunicación que facilitan el flujo de información desde el enfoque por competencias.
          </li>
          <li>
            Mejorar los tiempos efectivos de clase haciendo más eficiente la gestión  y el seguimiento de actividades educativas.
          </li>
          <li>
            Permitir el acceso a educación de calidad y tecnología educativa a todos las instituciones educativas, sus profesores y alumnos sin importar su situación económica y social.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="our-team intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Nuestro equipo</h2>
            <p>Cúrsame está conformado por un grupo apasionado de emprendedores, tenemos como meta común generar un impacto positivo en la sociedad a través de la educación y la tecnología.</p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="leaders">
      <div class="cols-12">
        <div class="col col-3"><div class="col-inner"></div></div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/nacho.png" %>
            <h5>Ignacio Torres</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/leon.png" %>
            <h5>León Rangel</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/alfredo.png" %>
            <h5>Alfredo Reyes</h5>
          </div>
        </div>
        <div class="col col-3"><div class="col-inner"></div></div>
      </div>
    </div>
    <div class="team-all">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/gabriel.png" %>
            <h5>Gabriel Velarde</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/rogelio.png" %>
            <h5>Rogelio Apiquián</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/salvador.png" %>
            <h5>Salvador Mendoza</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/luis.png" %>
            <h5>Luis Alfredo Lorenzo</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/erika.png" %>
            <h5>Erika Rivero</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/juan.png" %>
            <h5>Juan Azpilcueta</h5>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/rafa.png" %>
            <h5>Rafael Camps</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/felipe.png" %>
            <h5>Luis Felipe Ruiz</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/fernanda.png" %>
            <h5>Fernanda Torres</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/manduks.png" %>
            <h5>Armando González</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/alfredo2.png" %>
            <h5>Alfredo Reyes</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/cinthia.png" %>
            <h5>Cinthia Samaniego</h5>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/juan-ro.png" %>
            <h5>Juan Rodríguez</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/oscar.png" %>
            <h5>Oscar Ojeda</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/leon-felipe.png" %>
            <h5>León Felipe</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/montse.png" %>
            <h5>Montse Mora</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= link_to jobs_path, class: 'jobs-positions' do %>
              <%= image_tag "/images/website/team/work-with-us.png" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="website-separator"></div>
<div class="about-sponsors">
  <%= render partial: "shared/website/sponsors" %>
</div>