<% 
  set_meta_tags title: 'Acerca de Nosotros',
                description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
                keywords: 'cursame, nosotros, quienes somos',
                og: {
                  title: 'Nosotros · Cúrsame',
                  description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
                  image: 'http://cursa.me/images/website/about-title.jpg',
                  url: 'http://cursa.me/about'
                }
%>

<div class="about-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h1><%= t('.about_title.title') %></h1>
            <p><%= t('.about_title.text1') %></p>
            <p><%= t('.about_title.text2') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'vision' %><%= t('.vision') %></h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p><%= t('.description_vision') %></p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'mision' %><%= t('.mission') %></h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p><%= t('.description1_mission') %></p>

        <p><%= t('.description2_mission') %></p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'philosophy' %><%= t('.philosophy') %></h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <p><%= t('.description1_philosophy') %></p>

        <p><%= t('.description2_philosophy') %></p>
      </div>
    </div>
  </div>
  <div class="cols-12 about-txt">
    <div class="col col-2">
      <div class="col-inner">
        <h3><%= icon 'objectives' %><%= t('.objectives') %></h3>
      </div>
    </div>
    <div class="col col-10">
      <div class="col-inner">
        <ul class="list">
          <li>
            <%= t('.description1_objetives') %>
          </li>
          <li>
            <%= t('.description2_objetives') %>
          </li>
          <li>
            <%= t('.description3_objetives') %>
          </li>
          <li>
            <%= t('.description4_objetives') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="our-team intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2><%= t('.our_team.title') %></h2>
            <p><%= t('.our_team.description') %></p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="leaders">
      <div class="cols-12">
        <div class="col col-3"><div class="col-inner"></div></div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/nacho.png" %>
            <h5>Ignacio Torres</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/leon.png" %>
            <h5>León Rangel</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/alfredo.png" %>
            <h5>Alfredo Reyes</h5>
          </div>
        </div>
        <div class="col col-3"><div class="col-inner"></div></div>
      </div>
    </div>
    <div class="team-all">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/gabriel.png" %>
            <h5>Gabriel Velarde</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/rogelio.png" %>
            <h5>Rogelio Apiquián</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/salvador.png" %>
            <h5>Salvador Mendoza</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/luis.png" %>
            <h5>Luis Alfredo Lorenzo</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/erika.png" %>
            <h5>Erika Rivero</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/juan.png" %>
            <h5>Juan Azpilcueta</h5>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/rafa.png" %>
            <h5>Rafael Camps</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/felipe.png" %>
            <h5>Luis Felipe Ruiz</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/fernanda.png" %>
            <h5>Fernanda Torres</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/manduks.png" %>
            <h5>Armando González</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/alfredo2.png" %>
            <h5>Alfredo Reyes</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/cinthia.png" %>
            <h5>Cinthia Samaniego</h5>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/juan-ro.png" %>
            <h5>Juan Rodríguez</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/oscar.png" %>
            <h5>Oscar Ojeda</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/leon-felipe.png" %>
            <h5>León Felipe</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= image_tag "/images/website/team/montse.png" %>
            <h5>Montse Mora</h5>
          </div>
        </div>
        <div class="col col-2">
          <div class="col-inner">
            <%= link_to jobs_path, class: 'jobs-positions' do %>
              <%= image_tag "/images/website/team/work-with-us.png" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="website-separator"></div>
<div class="about-sponsors">
  <%= render partial: "shared/website/sponsors" %>
</div>