<% content_for :body_classes do %>
background-white
<% end %>

<div class="wrapper spaced">
  <div class="chat-wrap">

    <div class="chat-sidebar">
      <div class="chat-sidebar-title">
        <h4>Chat</h4>
      </div>
      
      <div class="chat-sidebar-container">
        <div id="JustFriends">
          <ul class="chat-list">
            <% @friends_online.each do |user| %>
              <li>
                <%= link_to open_channel_path(user.id), :remote => true do %>
                  <div class="avatar-holder">
                    <%= avatar('user', '25', "no", "#{user.id}", "avatar avatar-24", "no", "no") %>
                  </div>
                  <%= truncate(user.name , :omission => "...", :length => 28) %>
                  <div class="<%= user.online ? 'user-online': 'user-offline' %>" id ="chat-list-user-<%= user.id %>" title="<%= user.online ? 'Usuario conectado': 'Usuario desconectado' %>"></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <div id="OnlyCourses">
          <ul class="chat-list" >
            <% @courses_online.each do |course| %>
              <li>
                <%= link_to open_channel_path(course.id,"course" => true), :remote => true do %>
                  <div class="avatar-holder">
                    <%= avatar('course', '25', "no", "#{course.id}", "avatar avatar-24", "no", "no") %>
                  </div>
                  <%= truncate(course.title, :omission => "...", :length => 28) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    
    </div>

    <div id="chat" class="chat-main">
      <%=render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel})%>
    </div>

  </div>
</div>



<script>
	$(document).ready( function() {
    $('.chat-list li a').on('click', function() {
      $(this).parent().addClass('active')

      $(this).parent().siblings().removeClass('active');
    });
	});
</script>