<% content_for :body_classes do %>
background-white
<% end %>
<% content_for :javascripts do %>
<%= javascript_include_tag 'chat/chat_expanded' %>
<% end %>

<div class="chat-wrap">
  <div class="chat-sidebar tabs">
    <div class="chat-sidebar-title">
      <h4>Chat</h4>
      <div class="chat-filter tabs-buttons">
        <div class="chat-filter-tab tab active" data-id-target="JustFriends">
          <span><%= icon('users-gray') %> <%=t('.friends')%></span>
        </div>
        <div class="chat-filter-tab tab" data-id-target="OnlyCourses">
          <span><%= icon('courses-gray') %> <%=t('.courses')%></span>
        </div>
      </div>
    </div>
    <div class="chat-sidebar-container tabs-main">
      <div id="JustFriends" class="tab-content scrollbar">
        <% if current_user.count_friendships != 0 || current_user.admin? %>
          <ul class="chat-list">
            <% @friends_online.each do |user| %>
              <li>
                <%= link_to open_channel_path(user.id), :remote => true do %>
                  <div class="avatar-holder">
                    <%= avatar('user', '25', "no", "#{user.id}", "avatar avatar-24", "no", "no") %>
                  </div>
                  <%= truncate(user.name , :omission => "...", :length => 37) %>
                  <div class="<%= user.online ? 'user-online': 'user-offline' %>" id ="chat-list-user-<%= user.id %>" title="<%= user.online ? 'Online': 'Offline' %>"></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="inner-no-content">
            <h5><%=t('.no_friends')%></h5>
            <p><%=t('.add_friends')%> <%= link_to t('.community'), network_comunity_path, class: 'underline' %></p>
          </div>
        <% end %>
      </div>

      <div id="OnlyCourses" class="tab-content scrollbar" style="display: none;">
        <% if !current_user.courses.empty? || current_user.permissionings.first.role_id == 1 || current_user.permissionings.first.role_id == 4 %>
          <ul class="chat-list" >
            <% @courses_online.each do |course| %>
              <li>
                <%= link_to open_channel_path(course.id,"course" => true), :remote => true do %>
                  <div class="avatar-holder">
                    <%= avatar('course', '25', "no", "#{course.id}", "avatar avatar-24", "no", "no") %>
                  </div>
                  <%= truncate(course.title, :omission => "...", :length => 37) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="inner-no-content">
            <% if current_role == 'student' %>
              <h5><%=t('.no_member')%></h5>
              <p><%=t('.section')%> <%= link_to t('.courses'), courses_path %></p>
            <% else %>
              <h5><%=t('.no_create')%></h5>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div id="chat" class="chat-main">
    <%=render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel})%>
  </div>

</div>



<script>
	$(document).ready( function() {
    $('.chat-list li a').on('click', function() {
      $(this).parent().addClass('active')

      $(this).parent().siblings().removeClass('active');
    });
	});
</script>
