<% content_for :body_classes do %>
background-white
<% end %>

<div class="wrapper spaced">
  <div class="chat-wrap">

    <div class="chat-sidebar">
      <div id="OnlyCourses">
        <ul>
          <% @courses_online.each do |course| %>
            <li>
              <%= link_to open_channel_path(course.id,"course" => true), :remote => true do %>
                <%= avatar('course', '25', "no", "#{course.id}", "avatar avatar-24", "no", "no") %>
                <%= course.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      
      <div id="JustFriends">
        <ul>
          <% @friends_online.each do |user| %>
            <li>
              <%= link_to open_channel_path(user.id), :remote => true do %>
                <%= avatar('user', '25', "no", "#{user.id}", "avatar avatar-24", "no", "no") %>
                <%= user.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  
  <div id="chat" class="chat-main">
   <%=render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel})%>
  </div>

  </div>
</div>



<script>
	$(document).ready( function() {

    // Check the initial Poistion of the Sticky Header
    var stickyHeaderTop = $('#filterCont').offset().top;

    $('.SDBr').scroll(function(){
      if( $('.SDBr').scrollTop() > stickyHeaderTop ) {
        $('#filterCont').css({position: 'fixed', top: '36px',});
        $('#filterCont').css('display', 'block');
      } else {
        $('#filterCont').css({position: 'static', top: '36px'});
      }
    });

    $('#ChatFilterDrop').hide();

    $('#ChatFilter').click( function() {
      $('#ChatFilterDrop').slideToggle();
    });

    $('.chatSingle_big > a:link').click( function() {
      $('.chat-panel').css({ visibility: "hidden" });
    });

    $('#ChatFilter').mouseenter( 
      function() { $(this).css({ background: "#006696" }) },
      function() { $(this).css({ background: "#334259" })
    });

    $('#ChatFilter').hover(
      function() { $(this).css({ background: "#006696"}) },
      function() { $(this).css({ background: "#363F4D"})
    });

    // filtros
    $('#everything').click( function() {
      $('#JustFriends').show();
      $('#OnlyCourses').show();
    });

    $('#ShowCourses').click( function() {
      $('#JustFriends').hide();
      $('#OnlyCourses').show();
    });

    $('#ShowFriends').click( function() {
     $('#OnlyCourses').hide();
      $('#JustFriends').show();
    });
    
    $('.chatSingle_big > a:link').click( function() {
      $('.chatSingle_big > a:link').removeClass('SelectedClass');
      $(this).addClass('SelectedClass');
    });

	});
</script>