<% 
  set_meta_tags title: 'Contáctanos',
                description: '¿Tienes alguna sugerencia, te gustaría unirte a nuestro equipo o simplemente quieres decir hola? Nos encantaria escucharte.',
                keywords: 'cursame, contacto, contactanos, contact',
                og: {
                  title: 'Contáctanos · Cúrsame',
                  description: '¿Tienes alguna sugerencia, te gustaría unirte a nuestro equipo o simplemente quieres decir hola? Nos encantaria escucharte.',
                  image: 'http://cursa.me/images/website/contact-title.jpg',
                  url: 'http://cursa.me/contact'
                }
%>
<div class="contact-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1><%= t('.contact_title.title') %></h1>
            <p><%= t('.contact_title.description') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-page wrapper">
  <div class="cols-12">
    <div class="col col-9">
      <div class="col-inner">
        <div class="form-contact">
          <p><%= t('.contact_page.text1') %> <br><%= t('.contact_page.text2') %> (<span class="required">*</span>) <%= t('.contact_page.text3') %></p>
          <%= render partial: 'shared/website/contact_form', locals: { contact_type: 'normal_contact', lading_page_id: false } %>
        </div>
      </div>
    </div>
    <div class="col col-3">
      <div class="col-inner">
        <%= render partial: 'shared/website/other_contact_ways' %>
      </div>
    </div>
  </div>
</div>

<div class="website-separator"></div>
<%= render partial: "shared/website/sponsors" %>