<% 
  set_meta_tags title: 'Metodología',
                description: 'Ofrecemos herramientas, capacitación y seguimiento a instituciones educativas para mejorar la interacción en el proceso de enseñanza y aprendizaje.',
                keywords: 'cursame, funciones, herramientas, tareas, cuestionarios, discusiones, comentarios, chat, comunidad, calificaciones, estadísticas',
                og: {
                  title: 'Metodología · Cúrsame',
                  description: 'Ofrecemos herramientas, capacitación y seguimiento a instituciones educativas para mejorar la interacción en el proceso de enseñanza y aprendizaje.',
                  image: 'http://cursa.me/images/website/features-title.jpg',
                  url: 'http://cursa.me/features'
                }
%>
<% content_for :javascripts do  %>
<%= javascript_include_tag 'website/features' %>
<% end %>

<div class="features-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1><%= t('.features_title.title1') %></h1>
            <p><%= t('.features_title.text1') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-icons">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <ul class="features-links">
            <li class="active" data-fea="homeworks">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/homeworks.jpg" %>
              <span><%= t('.features_icons.homeworks') %></span>
            </li>
            <li data-fea="surveys">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/surveys.jpg" %>
              <span><%= t('.features_icons.surveys') %></span>
            </li>
            <li data-fea="discussions">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/discussions.jpg" %>
              <span><%= t('.features_icons.discussions') %></span>
            </li>
            <li data-fea="comments">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/comments.jpg" %>
              <span><%= t('.features_icons.comments') %></span>
            </li>
            <li data-fea="chat">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/chat.jpg" %>
              <span><%= t('.features_icons.chat') %></span>
            </li>
            <li data-fea="network">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/network.jpg" %>
              <span><%= t('.features_icons.network') %></span>
            </li>
            <li data-fea="results">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/results.jpg" %>
              <span><%= t('.features_icons.results') %></span>
            </li>
            <li data-fea="statisdics">
              <span class="tip"></span>
              <%= image_tag "/images/website/features-icons/statisdics.jpg" %>
              <span><%= t('.features_icons.statisdics') %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-content">
  <div class="wrapper">
    <div class="feature active" data-fea-id="homeworks">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.homeworks') %></h2>
            <p><%= t('.features_content.description_homework') %></p>
            <p><%= t('.features_content.characteristic_homework') %></p>
            <ul>
              <li><%= t('.features_content.feature1_homework') %></li>
              <li><%= t('.features_content.feature2_homework') %></li>
              <li><%= t('.features_content.feature3_homework') %></li>
              <li><%= t('.features_content.feature4_homework') %></li>
              <li><%= t('.features_content.feature5_homework') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-homeworks.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="surveys">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.surveys') %></h2>
            <p><%= t('.features_content.description_survey') %></p>
            <p><%= t('.features_content.characteristic_survey') %></p>
            <ul>
              <li><%= t('.features_content.feature1_survey') %></li>
              <li><%= t('.features_content.feature2_survey') %></li>
              <li><%= t('.features_content.feature3_survey') %>/li>
              <li><%= t('.features_content.feature4_survey') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-surveys.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="discussions">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.discussions') %></h2>
            <p><%= t('.features_content.description_discussion') %></p>
            <p><%= t('.features_content.characteristic_discussion') %></p>
            <ul>
              <li><%= t('.features_content.feature1_discussion') %></li>
              <li><%= t('.features_content.feature2_discussion') %></li>
              <li><%= t('.features_content.feature3_discussion') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-discussiones.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="comments">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.comments') %></h2>
            <p><%= t('.features_content.description_comment') %></p>
            <p><%= t('.features_content.characteristic_comment') %></p>
            <ul>
              <li><%= t('.features_content.feature1_comment') %></li>
              <li><%= t('.features_content.feature2_comment') %></li>
              <li><%= t('.features_content.feature3_comment') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-comments.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="chat">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.chat') %></h2>
            <p><%= t('.features_content.description_chat') %></p>
            <p><%= t('.features_content.characteristic_chat') %></p>
            <ul>
              <li><%= t('.features_content.feature1_chat') %></li>
              <li><%= t('.features_content.feature2_chat') %></li>
              <li><%= t('.features_content.feature3_chat') %></li>
              <li><%= t('.features_content.feature4_chat') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-chat.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="network">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.network') %></h2>
            <p><%= t('.features_content.description_network') %></p>
            <p><%= t('.features_content.characteristic_network') %></p>
            <ul>
              <li><%= t('.features_content.feature1_network') %></li>
              <li><%= t('.features_content.feature2_network') %></li>
              <li><%= t('.features_content.feature3_network') %></li>
              <li><%= t('.features_content.feature4_network') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-network.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="results">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.results') %></h2>
            <p><%= t('.features_content.description_result') %></p>
            <p><%= t('.features_content.characteristic_result') %></p>
            <ul>
              <li><%= t('.features_content.feature1_result') %></li>
              <li><%= t('.features_content.feature2_result') %></li>
              <li><%= t('.features_content.feature3_result') %></li>
              <li><%= t('.features_content.feature2_result') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-results.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" data-fea-id="statisdics">
      <div class="cols-12">
        <div class="col col-4 feature-content-desc">
          <div class="col-inner">
            <h2><%= t('.features_content.statisdics') %></h2>
            <p><%= t('.features_content.description_statisdic') %></p>
            <p><%= t('.features_content.characteristic_statisdic') %></p>
            <ul>
              <li><%= t('.features_content.feature1_statisdic') %></li>
              <li><%= t('.features_content.feature2_statisdic') %></li>
              <li><%= t('.features_content.feature3_statisdic') %></li>
              <li><%= t('.features_content.feature4_statisdic') %></li>
              <li><%= t('.features_content.feature5_statisdic') %></li>
            </ul>
          </div>
        </div>
        <div class="col col-8 feature-content-image">
          <div class="col-inner">
            <%= image_tag "/images/website/features-icons/s-statisdics.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-methods intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2><%= t('.our_methods.title') %></h2>
            <p><%= t('.our_methods.description_title') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="methods-item cols-12">
      <div class="col col-3">
        <div class="col-inner">
          <h3><%= icon('m-training') %> <%= t('.our_methods.training') %></h3>
          <p><%= t('.our_methods.description_training') %></p>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <h3><%= icon('m-implement') %> <%= t('.our_methods.implement') %></h3>
          <p><%= t('.our_methods.description_implement') %></p>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <h3><%= icon('m-support') %> <%= t('.our_methods.support') %></h3>
          <p><%= t('.our_methods.description_support') %></p>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <h3><%= icon('m-endless') %> <%= t('.our_methods.endless') %></h3>
          <p><%= t('.our_methods.description_endless') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>