<% 
  set_meta_tags title: 'Funciones',
                description: 'Conoce todas nuestras herramientas',
                keywords: 'cursame, funciones, herramientas, tareas, cuestionarios, discusiones, comentarios, chat, comunidad, calificaciones, estadísticas',
                author: 'Cúrsame'
%>

<div class="features-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1>Herramientas Académicas</h1>
            <p>Ofrecemos herramientas a instituciónes educativas para mejorar la interacción en el proceso de enseñanza y aprendizaje</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-list wrapper">

  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-deliveries') %>
          <div class="feature-description">
            <h2>Tareas</h2>
            <p>Crea actividades académicas para uno o varios cursos con fecha límite de entrega, archivos adjuntos, contenido recomendado y rubros de evaluación.</p>
         </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-surveys') %>
          <div class="feature-description">
            <h2>Cuestionarios</h2>
            <p>Evalúa a uno o varios grupos de manere automática con preguntas ilimitadas y fecha límite para contestar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-discussions') %>
          <div class="feature-description">
            <h2>Discusiones</h2>
            <p>Crea foros de discusión públicos o privados con contenido recomendado y promueve la participación de toda la comunidad en el aprendizaje.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-comments') %>
          <div class="feature-description">
            <h2>Comentarios</h2>
            <p>Permite a todos los miembros de la comunidad comentarse de manera pública, grupal o personal con contenido enriquecido.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-chat') %>
          <div class="feature-description">
            <h2>Chat</h2>
            <p>Cada usuario puede utilizar un canal de chat con sus amigos y compañeros. Además cada curso tiene una sala de chat grupal para compartir contenido en tiempo real.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-community') %>
          <div class="feature-description">
            <h2>Comunidad</h2>
            <p>Todos los usuarios tienen un perfil y pueden ver e interactuar con los de sus amigos promoviendo la interacción social dentro de la institución.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-califications') %>
          <div class="feature-description">
            <h2>Calificaciones</h2>
            <p>Cada usuario puede ver su avance educativo. Los profesores visualizan los resultados de todos sus alumnos de una manera muy sencilla.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="feature">
          <%= icon('section-statistics') %>
          <div class="feature-description">
            <h2>Estadísticas</h2>
            <p>Los administradores de la institución tienen acceso a un panel de estadísticas que les permite conocer lo que está sucediendo dentro del plantel.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>