<% 
  set_meta_tags description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
  keywords: 'escuela, linea, educacion, lms, e-learning, cursame',
  og: {
    title: 'Cúrsame',
    description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
    image: 'http://cursa.me/images/website/og-landing.png',
    url: 'http://cursa.me/'
  }
%>
<% content_for :javascripts do  %>
<%= javascript_include_tag('website/home') %>
<% end %>

<div class="intro-homepage-hidden">
  <div class="intro-homepage intro-page intro-main">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-7">
          <div class="col-inner">
            <div class="section-title">
              <h1><%= t('.intro_homepage_hidden.title1') %></h1>
              <br>
              <p><%= t('.intro_homepage_hidden.text1') %></p>
              <br>
              <div class="intro-actions">
                 <ul class="list-buttons left">
                  <li>
                    <%= link_to t('.intro_homepage_hidden.request_demo'), request_demo_path, class: 'btn btn-large btn-complementary hard-border-btn' %>
                  </li>
                  <li>
                    <%= link_to image_tag('/images/website/play.png'),
                      landing_intro_video_modal_path,
                      class: "landing-play-video",
                      data: { modal: "true" } %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-5">
          <div class="col-inner">
            <div class="homepage-laptop">
              <%= image_tag "/images/website/laptop.png" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-showcase wrapper">
  <div class="cols-12">
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('happy-face') %>
        <h4><%= t('.features_showcase.title1') %></h4>
        <p><%= t('.features_showcase.text1') %></p>  
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('functions') %>
        <h4><%= t('.features_showcase.title2') %></h4>
        <p><%= t('.features_showcase.text2') %></p>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('multi-platform') %>
        <h4><%= t('.features_showcase.title3') %></h4>
        <p><%= t('.features_showcase.text3') %></p>
      </div>
    </div>
  </div>

  <div class="cols-12 view-more-features">
    <div class="col col-12">
      <div class="col-inner">
        <%= link_to (t('.features_showcase.features_path') << " &#8594;").html_safe, features_path %>
      </div>
    </div>
  </div>
</div>

<div class="user-roles-types intro-roles intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2><%= t('.user_roles_types.header') %></h2>
            <p><%= t('.user_roles_types.description') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-admin.png", class: "avatar-role" %>
            <h4><%= t('.user_roles_types.title1') %></h4>
            <p><%= t('.user_roles_types.text1') %></p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-teacher.png", class: "avatar-role" %>
            <h4><%= t('.user_roles_types.title2') %></h4>
            <p><%= t('.user_roles_types.text2') %></p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-student.png", class: "avatar-role" %>
            <h4><%= t('.user_roles_types.title3') %></h4>
            <p><%= t('.user_roles_types.text3') %></p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-parents.png", class: "avatar-role" %>
            <h4><%= t('.user_roles_types.title4') %></h4>
            <p><%= t('.user_roles_types.text4') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-impact intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <%= icon('social-shield') %>
            <h2><%= t('.social_impact.header') %></h2>
            <p><%= t('.social_impact.description') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="social-impatc-points cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h4><%= t('.social_impact.title1') %></h4>
          <ul class="list-impact">
            <li><%= t('.social_impact.text1_1') %></li>
            <li><%= t('.social_impact.text2_1') %></li>
            <li><%= t('.social_impact.text3_1') %></li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h4><%= t('.social_impact.title2') %></h4>
          <ul class="list-impact">
            <li><%= t('.social_impact.text1_2') %></li>
            <li><%= t('.social_impact.text2_2') %></li>
            <li><%= t('.social_impact.text3_2') %></li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h4><%= t('.social_impact.title3') %></h4>
          <ul class="list-impact">
            <li><%= t('.social_impact.text1_3') %></li>
            <li><%= t('.social_impact.text2_3') %></li>
            <li><%= t('.social_impact.text3_3') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cursame-stats intro-page">
  <div class="wrapper">
    <div class="cols-12 cool-stats">
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-users') %>
            <h4>108,734</h4>
            <p><%= t('.cursame_stats.title1') %></p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-schools') %>
            <h4>314</h4>
            <p><%= t('.cursame_stats.title2') %></p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-states') %>
            <h4>32</h4>
            <p><%= t('.cursame_stats.title3') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12 view-succes-stories">
      <div class="col col-12">
        <div class="col-inner">
          <%= link_to (t('.cursame_stats.success_stories_path') << " &#8594;").html_safe, success_stories_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <%= icon('home-testimonials') %>
            <h2><%= t('.testimonials.header') %></h2>
          </div>

          <div class="testimonials-content">
            <div data-t-id="1" class="testimonial active">
              <p><%= t('.testimonials.description1') %></p>
              <div class="testimonial-meta">
                <h5><%= t('.testimonials.name1') %></h5>
                <span><%= t('.testimonials.title1') %></span>
              </div>
            </div>
            <div data-t-id="2" class="testimonial">
              <p><%= t('.testimonials.description2') %></p>
              <div class="testimonial-meta">
                <h5><%= t('.testimonials.name2') %></h5>
                <span><%= t('.testimonials.title2') %></span>
              </div>
            </div>
          </div>
          <div class="testimonials-nav">
            <a data-id-target="1" class="active" href=""></a>
            <a data-id-target="2" href=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>
