<% 
  set_meta_tags description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
  keywords: 'escuela, linea, educacion, lms, e-learning, cursame',
  author: 'Cúrsame',
  og: {
    title: 'Cúrsame',
    description: 'Plataforma educativa que conecta alumnos, profesores y directivos de una misma institución.',
    image: 'http://cursa.me/images/website/og-landing.png',
    url: 'http://cursa.me/'
  }
%>

<div class="intro-homepage-hidden">
  <div class="intro-homepage intro-page intro-main">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-7">
          <div class="col-inner">
            <div class="section-title">
              <h1>Interactúa social y académicamente mejorando los procesos de aprendizaje y la calidad educativa</h1>
              <br>
              <p>Cúrsame es una plataforma que conecta profesores directos y alumnos de una misma institución.</p>
              <br>
              <div class="intro-actions">
                 <ul class="list-buttons left">
                  <li>
                    <%= link_to '¡Solicita un demo en tu institución!', request_demo_path, class: 'btn btn-large btn-complementary hard-border-btn' %>
                  </li>
                  <li>
                    <a  class="landing-play-video"
                        data-modal="true"
                        data-modal-classes="video-tutorial-overlay overlay-informative"
                        data-modal-content="<%= render(partial: "/shared/website/video_intro").to_str %>" href="">
                      <%= image_tag "/images/website/play.png" %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-5">
          <div class="col-inner">
            <div class="homepage-laptop">
              <%= image_tag "/images/website/laptop.png" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-showcase wrapper">
  <div class="cols-12">
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('happy-face') %>
        <h4>Fácil de usar</h4>
        <p>Es muy fácil y rápido aprender a utilizar Cúrsame. Gracias a su diseño y funciones fomenta la adopción por parte de los usuarios.</p>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('functions') %>
        <h4>Funciones simples y poderosas</h4>
        <p>Nuestras Herramientas aumentan la productividad y reducen la carga de trabajo para profesores, alumnos y directivos.</p>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <%= icon('multi-platform') %>
        <h4>Multiplataforma</h4>
        <p>Cúrsame puede utilizarse desde cualquier computadora o dispositivo móvil, esto permite crear y consultar contenido a cualquier hora y lugar. </p>
      </div>
    </div>
  </div>

  <div class="cols-12 view-more-features">
    <div class="col col-12">
      <div class="col-inner">
        <%= link_to "Conoce nuestra metodología →", features_path %>
      </div>
    </div>
  </div>
</div>

<div class="user-roles-types intro-roles intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Toda tu institución en un sólo lugar</h2>
            <p>Pensamos y diseñamos herramientas para los maestros, alumnos, directivos y padres de familia de tu comunidad escolar.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-admin.png", class: "avatar-role" %>
            <h4>Directivos</h4>
            <p>Toma el control de tu institución con estadísticas en tiempo real y sistemas de comunicación.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-teacher.png", class: "avatar-role" %>
            <h4>Maestros</h4>
            <p>Convierte tus clases en una comunidad de aprendizaje, ahorra tiempo y potencia tus capacidades de enseñanza de una forma social.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-student.png", class: "avatar-role" %>
            <h4>Alumnos</h4>
            <p>Interactúa con tus compañeros y profesores. Resuelve tus dudas, aprende y haz tus entregas en cualquier hora y lugar.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="role-box">
            <%= image_tag "/images/website/role-parents.png", class: "avatar-role" %>
            <h4>Padres</h4>
            <p>Mantente al día de las actividades y avances escolares de cada uno de tus hijos en tiempo real.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-impact intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <%= icon('social-shield') %>
            <h2>Compromiso e impacto social</h2>
            <p>Buscamos generar un impacto positivo en la sociedad a través de mejorar la calidad educativa, reducir la brecha digital y detectar oportunamente los focos rojos en comunidades estudiantiles.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="social-impatc-points cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h4>Mejora la calidad educativa</h4>
          <ul class="list-impact">
            <li>Seguimiento personalizado del avance educativo de los estudiantes.</li>
            <li>Entrega contenido especializado de acuerdo a las necesidades individuales.</li>
            <li>Aumenta la productividad y permite potenciar la enseñanza y mejorar el aprendizaje.</li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h4>Reduce la brecha digital</h4>
          <ul class="list-impact">
            <li>Con apoyo de nuestros aliados llevamos servidores y tabletas a las escuelas que más lo necesitan.</li>
            <li>Apoyamos a los profesores con capacitación y asesoría tecnológica.</li>
            <li>La plataforma promueve el intercambio digital de contenido educativo.</li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h4>Detección oportuna de focos rojos</h4>
          <ul class="list-impact">
            <li>A través de diversos indicadores apoyamos en la detección de: Riesgo de deserción escolar.</li>
            <li>Consumo de sustancias.</li>
            <li>“Bullyng” escolar.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cursame-stats intro-page">
  <div class="wrapper">
    <div class="cols-12 cool-stats">
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-users') %>
            <h4>108,734</h4>
            <p>Usuarios beneficiados</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-schools') %>
            <h4>314</h4>
            <p>Instituciones usando Cúrsame</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="cursame-stat">
            <%= icon('stat-states') %>
            <h4>32</h4>
            <p>Actividades en toda la República Mexicana</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12 view-succes-stories">
      <div class="col col-12">
        <div class="col-inner">
          <%= link_to "Proyectos &#8594;".html_safe, success_stories_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <%= icon('home-testimonials') %>
            <h2>Testimoniales</h2>
          </div>

          <div class="testimonials-content">
            <div data-t-id="1" class="testimonial active">
              <p>“Cúrsame ha sido una herramienta fundamental en el desarrollo y complemento del día a día en el salón de clases, aumenta el tiempo efectivo en el aula, además nos ayuda a montar programas de lectura y ahorro de papel, lo cual es un gran beneﬁcio.”</p>
              <div class="testimonial-meta">
                <h5>Lic. Francisco Fabián Brizuela</h5>
                <span>Director del Centro de Innovación Tecnológica Educativa Secundarias Técnicas Distrito Federal</span>
              </div>
            </div>
            <div data-t-id="2" class="testimonial">
              <p>“He utilizado un sin número de LMS’s, y Cúrsame es la plataforma educativa que mejor se ha adaptado al entorno académico real. Su facilidad de uso y factor social ha provocado que nuestros maestros lo adopten y usen en su trabajo escolar diario beneﬁciando a miles de alumnos.”</p>
              <div class="testimonial-meta">
                <h5>Lic. Alejandro Caballero</h5>
                <span>Subdirector Académico Universidad Tecnológica Emiliano Zapata</span>
              </div>
            </div>
            <div data-t-id="3" class="testimonial">
              <p>“La mejor herramienta para la educación en nuestra experiencia en Educación Media Superior y Superior nos hemos encontrado con el reto de implementar tecnología en para la educación y nunca, hasta que comenzamos a trabajar con Cúrsame habíamos obtenido resultados tan favorables y exitosos.”</p>
              <div class="testimonial-meta">
                <h5>Lic. Katia Águila</h5>
                <span>Asesora en Secretaría de Educación Pública - Subsecretaría de Educación Media Superior</span>
              </div>
            </div>
          </div>
          <div class="testimonials-nav">
            <a data-id-target="1" class="active" href=""></a>
            <a data-id-target="2" href=""></a>
            <a data-id-target="3" href=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>
