if($('#chat').length){
	$('#load-more-messages-<%= @channel.id%>').html('<a href="/home/load_more_messages/<%= @channel.id%>?page=<%= @page + 1 %>" data-remote="true" style="cursor:pointer; text-align: center;">...</a>');
	$('#chat-messages').prepend('<%= escape_javascript(render(:partial => '/shared/chat/messages', :locals => {:messages => @messages}))%>');
}
else{
	$('#load-more-messages-<%= @channel.id%>').html('<%= escape_javascript(render(:partial => '/shared/chat/load_more_messages', :locals => {:channel => @channel, :page => @page}))%>');
	$('#chat-zone-messages-channel<%= @channel.id%>').prepend('<%= escape_javascript(render(:partial => '/shared/chat/messages', :locals => {:messages => @messages}))%>');
}

