
var panelsHolder = $('.chat-panels'),
		chatExpanded = $('#chat'),
		chatPanel = $('.chat-panel[data-panel-id="<%= @channel.id%>"]');

// No esta en home/chat
if ( !chatExpanded.length && !chatPanel.length ) {
	panelsHolder.append('<%= subscribe_to @channel_name %>');

	if ( Chat.panelCount == 3 ) {
		Chat.hiddenCount++;

		if( $("#go-to-chats-url").length ) {
			var pendingChats = $("#go-to-chats-url").attr('pendingChats');
			$("#go-to-chats-url").attr('pendingChats', pendingChats + ' <%=@channel.channel_name%>');
		} else {
			panelsHolder.append('<%= escape_javascript(render(:partial => '/shared/chat/go_to_chat', :locals => {:messages => @messages, :channel => @channel, :page => @page}))%>');
		};
	};

	if ( Chat.panelCount >= 0 && Chat.panelCount < 3 ) {
		Chat.panelCount++;
		var currPanel;
		panelsHolder.append('<%= escape_javascript(render(:partial => '/shared/chat/conversation', :locals => {:messages => @messages, :channel => @channel, :page => @page, :receiver_user_id => @receiver_user_id }))%>');

		currPanel = $('.chat-panel[data-panel-id="<%= @channel.id%>"]');

		currPanel.find('.chat-panel-main-content').scrollTop( currPanel.find('.chat-messages-container').prop('scrollHeight') + 30 );
		currPanel.find('input#mesage').focus();

		Chat.reOrder();
	};
};


// si estamos en el path del chat
if( $('#chat').length ) {
// seria apropiado ver si la conversacion existe y vloquear la coneccion

	PrivatePub.unsubscribe("<%=@channel_name%>");
	
	panelsHolder.append('<%= subscribe_to @channel_name %>');
	$('#chat').html('<%= escape_javascript(render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel }))%>');

	var messagesTitle     = $('.chat-converstion-title'),
      messagesContainer = $('.chat-main-container'),
      messagesNewContainer = $('.chat-new-message');

  messagesContainer.height( $(window).height() - $('.topbar').outerHeight() - messagesTitle.outerHeight() - messagesNewContainer.outerHeight() );
  $('.chat-main-container').animate({ scrollTop: $('.load-more-messages-trigger').outerHeight() + $('#chat-messages').outerHeight() }, 500);

};

// ponemos a cero los mensajes del chat
$('#messages-notifications-count span').html(0);
PrivatePub.subscribe('<%= @channel.channel_name %>', function( data ) {
	var chatPanel 	= $('#chat-channel-'+ data.channel.id ),
			chatContent = chatPanel.find('.chat-panel-main-content');

	function append_new_message_tpl(element) {

		if(data.message.user_id != undefined) {
			if(data.sender.avatar != undefined) {
				var typeMsg 	= '',
						srcAvatar = '';

				if( data.sender.avatar.profile.url != null ) {
					srcAvatar = data.sender.avatar.head.url;
				} else {
					srcAvatar = '/assets/imagexx.png';
				}

				if(('' + <%= current_user.id %>) != ('' + data.message.user_id)) {
					typeMsg = 'message-received';
					avatar = '<div class="chat-message-author"><span class="avatar-holder"><img src="'+ srcAvatar +'"></span></div>';
				} else {
					avatar = ''
					typeMsg = 'message-sent';
				}
				
			  $('<div id ="message_'+ data.message.id +'" class="chat-message-item '+ typeMsg +'">' + avatar +
			  	'<div class="chat-message-main">' +
					'<span class="tip"></span><div class="chat-message-content">'+ data.message.mesage_html +'</div></div></div>'
			  ).appendTo( element );

			}
		}
	}



	/* Si esta en /home/chat
  ----------------------------------*/
	if( $('#chat').length ) {

		append_new_message_tpl( $('#chat-messages') );
		
		$('.chat-main-container').animate({ scrollTop: $('.load-more-messages-trigger').outerHeight() + $('#chat-messages').outerHeight() }, 500);
	}

	if( $('#chat-channel-' + data.channel.id).length ) {
		var chatPanel = $('#chat-channel-' + data.channel.id),
	    messagesContainer = chatPanel.find('.chat-zone div.chat-zone-messages');
		append_new_message_tpl( messagesContainer );
		chatPanel.find('.chat-panel-main-content').scrollTop( messagesContainer.prop('scrollHeight') + 30 );
	}
    $('#new-chat-pannel-message')[0].reset();

	// reseteamos el formulario
	chatPanel.find('input#mesage').val('');

	// reseteamos el formulario general
	$('div.shareMSJ form input[name="mesage"]').val('');
	// rompe el proceso para no poner repetidos
    //this.abort();


});
