// si no se ha agregado el panel de la conversación, se agrega el panel y se lanza la conversación 
if(!$('#chat').length && !$('#chat-channel-<%= @channel.id%>').length) {

	$('body').append('<%= escape_javascript(render(:partial => '/shared/chat/channel_tpl', :locals => {:channel => @channel_name}))%>');

	if(window.chatPanelsCount == undefined) {
		window.chatPanelsCount = 0;
	}

	// Si ya hay mas de 3 conversaciones
	if(window.chatPanelsCount >= 3) {
		if(window.pendingChatsCount == undefined) {
			window.pendingChatsCount = 0;
		}

		// Se muestra el recuadro 'Ver mas' si no esta (y se guarda el canal que no se pudo abrir)
		if($("#go-to-chats-url").length) {
			// Si si esta, solo se guarda el canal que no se pudo abrir
			var pendingChats = $("#go-to-chats-url").attr('pendingChats');
			$("#go-to-chats-url").attr('pendingChats', pendingChats + ' <%=@channel.channel_name%>');
		} else {
			$('body').append('<%= escape_javascript(render(:partial => '/shared/chat/go_to_chat', 
					:locals => {:messages => @messages, :channel => @channel, :page => @page}))%>');
		}
		window.pendingChatsCount++;	
	}
	else {
		window.chatPanelsCount++;
		$('body').append('<%= escape_javascript(render(:partial => '/shared/chat/conversation', 
			:locals => {:messages => @messages, :channel => @channel, :page => @page}))%>');
	}	
}

// si estamos en el path del chat
if($('#chat').length) {
	$('body').append('<%= escape_javascript(render(:partial => '/shared/chat/channel_tpl', :locals => {:channel => @channel_name}))%>');
	$('#chat').html('<%= escape_javascript(render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel}))%>');
}

// ponemos a cero los mensajes del chat
$('#messages-notifications-count span').html(0);

PrivatePub.subscribe('<%= @channel.channel_name %>', function(data) {
	////////////// MESSAGE TPL /////////////////
	function append_new_message_tpl(element) {
		if(data.message.user_id != undefined) {
			if(data.sender.avatar != undefined) {
				var typeMsg = '';
				if(('' + <%= current_user.id %>) != ('' + data.message.user_id)) {
					typeMsg = 'MsjD';
				} else {
					typeMsg = 'MsjC';
				}

				var srcAvatar = '';
				if(data.sender.avatar.profile.url != null) {
					srcAvatar = data.sender.avatar.profile.url;
				} else {
					srcAvatar = '/assets/imagex.png';
				}
			
				$('<div class="insideChat">' + 
					'<span id ="message_' + data.message.id + '" class="' + typeMsg + '">' + 
						'<span class="imgChat">' +
							'<img src="' + srcAvatar + '" style="float:left; width:30px; height:30px;" />'+ 
						'</span>' +
						'<span class="Mensaje">&nbsp; ' + data.message.mesage_html + '</span>' +
						'<span class="toolTipUser">' + data.sender.first_name + ' ' + data.sender.last_name + '</span>' +
					'</span>' +
				   '</div>'+
				   '<div id="DivIer" style="clear:both;"></div>').appendTo(element);

				$(document).ready ( function() {
					$('p:empty').hide();
					$('.toolTipUser').hide();
				});
	
				$('.insideChat').mouseenter( function() {
					$(this).find('.toolTipUser').fadeIn('slow');
				});

				$('.insideChat').mouseleave( function() {
					$(this).find('.toolTipUser').fadeOut('fast');
				});
			}
		}
	}

	//////////////add_new_mesage.js.erb//////////////////////////////////////////////////
	if($('#chat').length) {
		append_new_message_tpl($('#chat-messages'));

  		//scroleamos hacia abajo en el mensaje
  		$('body, html').animate({ scrollTop: $("#chat-messages")[0].scrollHeight }, 1800);
	}

	if($('#chat-channel-' + data.channel.id).length) {
		append_new_message_tpl($('#chat-channel-' + data.channel.id + ' div.chat-zone div.chat-zone-messages'));

		//scroleamos hacia abajo en el mensaje
		$('#chat-zone-messages-channel' + data.channel.id).animate({ scrollTop: $("#chat-zone-messages-channel" + data.channel.id)[0].scrollHeight }, 1800);
	}

	// reseteamos el formulario
	$('#chat-channel-'+ data.channel.id + ' div.chat-zone div.chat-zone-footer form input[name="mesage"]').val('');

	// reseteamos el formulario general
	$('div.shareMSJ form input[name="mesage"]').val('');

	/*^^^^^^^^^^^^^^^^^^^^Para poner a los usuarios online/offline^^^^^^^^^^^^^^^^^^^^*/
	$.each(data.usersIds, function(index,value) {
		if (value[1]) {
			$('#chat-list-user-'+value[0]).removeClass('user-offline').addClass('user-online');
		}else{
			$('#chat-list-user-'+value[0]).removeClass('user-online').addClass('user-offline');
		}
	  
	});
});