<% if @course_channel
	namePendingChannel = Course.find(@receiver_user_id).title
else
	namePendingChannel = User.find(@receiver_user_id).name
end %>

var panelsHolder = $('.chat-panels'),
		chatExpanded = $('#chat'),
		channel = "<%= @channel.channel_name %><%= @course_channel == true ? '?course=true' : ''%>",
		typeChannel = "<%= @course_channel == true ? 'course' : 'user' %>",
		channelExist = Chat.channelExistActive(channel);

// No esta en home/chat
if ( !chatExpanded.length && !channelExist ) {
	if ( typeChannel == 'user') {
		panelsHolder.append('<%= subscribe_to @channel_name %>');
	}

	if ( Chat.activePanelsCount == Chat.availableSpots ) {
		if ( Chat.pendingPanelsCount == 0 ) {
			panelsHolder.append('<%= escape_javascript(render(:partial => '/shared/chat/go_to_chat', :locals => {:messages => @messages, :channel => @channel, :page => @page}))%>');
			Chat.moreReposition();
		};

		var pendingChannels = $.map( Chat.pendingPanelsChannels, function(item, index) {
			return Chat.pendingPanelsChannels[index].channel;
		});
	
		if ( !Chat.channelExistPending(channel) ) {
			Chat.pendingPanelsCount++;
			Chat.updatePendingConversations('<%= current_user.id %>');

			var dataChannel = {
				type: typeChannel,
				channel: channel,
				name: "<%= namePendingChannel %>",
				state: "pending"
			};

			Chat.pendingPanelsChannels.push( dataChannel );
			$.cookie( dataChannel.channel, JSON.stringify(dataChannel), { expires: 1, path: '/' });

			$('.pending-channels-list').append('<li data-channel="' +channel+ '" data-channel-type="' +typeChannel+ '" data-current-user-id="<%= current_user.id %>" onclick="Chat.switchPanel(this)"><%= namePendingChannel %></li>');
		};
	};

	if ( Chat.activePanelsCount < Chat.availableSpots ) {
		var currPanel;
		panelsHolder.append('<%= escape_javascript(render(:partial => '/shared/chat/conversation', :locals => {:messages => @messages, :channel => @channel, :page => @page, :receiver_user_id => @receiver_user_id, :course_conversation => @course_channel }))%>');

		currPanel = $('.chat-panel[data-panel-id="<%= @channel.id%>"]');

		currPanel.find('.chat-panel-main-content').scrollTop( currPanel.find('.chat-messages-container').prop('scrollHeight') + 30 );
		currPanel.find('input#mesage').focus();

		var dataChannel = {
			type: typeChannel,
			channel: channel,
			name: "<%= namePendingChannel %>",
			state: "expanded"
		};
		
		Chat.activePanelsChannels.push( dataChannel );
		Chat.addPanel( dataChannel );
	};
};

// Si estamos en el path del chat
if ( chatExpanded.length ) {
	if ( Chat.expandedPanelChannel != channel ) {
		Chat.expandedPanelChannel = channel;
		
		$('#chat').html('<%= escape_javascript(render(:partial => '/shared/chat/chat', :locals => {:messages => @messages, :channel => @channel }))%>');

		var messagesTitle     = $('.chat-converstion-title'),
	      messagesContainer = $('.chat-main-container'),
	      messagesNewContainer = $('.chat-new-message');

	  messagesContainer.height( $(window).height() - $('.topbar').outerHeight() - messagesTitle.outerHeight() - messagesNewContainer.outerHeight() );
	  $('.chat-main-container').scrollTop( $('.load-more-messages-trigger').outerHeight() + $('#chat-messages').outerHeight() );

	  if ( $.browser.mobile ) {
			$('.chat-main').show();
			$('.chat-sidebar').hide();
		};
	} else if ( $.browser.mobile ) {
		$('.chat-main').show();
		$('.chat-sidebar').hide();
	};
};

$('#messages-notifications-count span').html(0);