<% 
  set_meta_tags title: 'Prensa',
                description: 'Lo que se dice en medios sobre Cúrsame.',
                keywords: 'cursame, prensa, noticias, news, press'
%>
<div class="press-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1>Prensa</h1>
            <p>Lo que se dice en medios sobre Cúrsame.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="press-post-list wrapper">
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-forbes.jpg" %>
          <%= link_to "Negocios sociales: cuando el dinero no lo es todo →",
                      "http://www.forbes.com.mx/sites/negocios-sociales-cuando-el-dinero-no-lo-es-todo/",
                      target: "_blank" %> <br>
          <%= link_to "Fotos de la revista →",
                      "http://leonrangel.me/post/80116831158/reportaje-sobre-cursame-en-forbes",
                      target: "_blank" %>
          <p>Hacerse rico, a costa de lo que sea, no es lo de hoy. La conservación del ambiente, la solución a una demanda o una preocupación social, son cartas que pueden rentabilizarse. Forbes México presenta a cinco jóvenes que son parte de una creciente comunidad...</p>
          <span>Abril, 2014</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-televisa.jpg" %>
          <%= link_to "Reportaje Televisa Fractal →",
                      "https://www.youtube.com/watch?v=WQ1iY5rAY0Q",
                      target: "_blank" %>
          <br>
          <span>Noviembre, 2013</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-soy-entrepreneur.jpg" %>
          <%= link_to "Una red social educativa →",
                      "http://www.soyentrepreneur.com/26409-una-red-social-educativa.html",
                      target: "_blank" %>
          <p>Cúrsame busca acortar la brecha digital y mejorar la enseñanza con una plataforma online que permite a maestros, alumnos y padres interactuar...</p>
          <span>Febrero, 2014</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-el-economista.png" %>
          <%= link_to "Cursa.me, una forma innovadora para aprender →",
                      "http://eleconomista.com.mx/podcast/cursame/2012/02/27/cursame-forma-innovadora-aprender",
                      target: "_blank" %>
          <p>Te invitamos a conocer Cursa.me, un sistema de aprendizaje integrado a una red social. Conoce más sobre sus beneficios en esta entrega de La Guía del Empresario...</p>
          <span>Febrero, 2012</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-swagger.png" %>
          <%= link_to "Entrevista: Cúrsa.me, la red social para la escuela →",
                      "http://www.swagger.mx/tecnologia/entrevista-cursame-la-red-social-para-la-escuela",
                      target: "_blank" %>
          <p>Platicamos con León Rangel, COO de Cúrsa.me. Conoce el innovador sistema en materia de e-learning del start-up mexicano...</p>
          <span>Julio, 2012</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-pulso-social.png" %>
          <%= link_to "Cursa.me,con 50 mil usuarios, pisa fuerte en e-learning mexicano →",
                      "http://pulsosocial.com/2012/04/02/cursa-mecon-50-mil-usuarios-pisa-fuerte-en-e-learning-mexicano/",
                      target: "_blank" %>
          <p>Cursa.me, uno de los 10 elegidos por Wayra México, es básicamente una red social específicamente diseñada para el aprendizaje colaborativo, o como León Rangel, Co-fundador de la misma, le llama “Aprendizaje Social”...</p>
          <span>Abril, 2012</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-radio-formula.png" %>
          <%= link_to "Entrevista con Eduardo Ruiz Healy en Radio Fórmula →",
                      "http://cursame.tumblr.com/post/17361316755/entrevista-con-eduardo-ruiz-healy-en-radio",
                      target: "_blank" %>
          <br>
          <span>Febrero, 2012</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cols-12">
    <div class="col col-10">
      <div class="col-inner">
        <div class="press-item">
          <%= image_tag "/images/website/press-radio-centro.png" %>
          <%= link_to "Entrevista en Radio Centro “Red Empresarial” →",
                      "http://cursame.tumblr.com/post/27036768594/entrevista-en-radio-centro-red-empresarial",
                      target: "_blank" %>
          <br>
          <span>Julio, 2012</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>