<% 
  set_meta_tags title: 'Aviso de Privacidad',
                description: 'Conoce nuestro Aviso de Privacidad',
                keywords: 'privacy, privacidad',
                og: {
                  title: 'Aviso de Privacidad · Cúrsame',
                  description: 'Conoce nuestro Aviso de Privacidad',
                  image: 'http://cursa.me/images/website/og-landing.png',
                  url: 'http://cursa.me/privacidad'
                }
%>

<div class="wrapper spaced ver-spaced">
  <h1><%= t('.title') %></h1><br>
  
  <table border="1" style="border-collapse:collapse;font-size:13px;background-color:rgb(242,242,242);font-family:Arial,Helvetica,sans-serif;font-weight:lighter;border:none;padding:0px">
  <tbody>
    <tr>
    <td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold"><%= t('.who_are_we') %></td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter"><%= t('.description1_who_are_we') %>&nbsp;<%= t('.description2_who_are_we') %>&nbsp;<%= t('.description3_who_are_we') %> <a href="http://www.cursa.me" target="_blank">www.cursa.me</a>&nbsp;, <%= t('.description4_who_are_we') %></td>
  </tr><tr><td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold"><%=t('.personal_data1')%></td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter"><ul></ul><%=t('.personal_data2')%><b><%=t('.personal_data3')%></b><%=t('.personal_data4')%>:<br>
  <ul><li><%=t('.best_product')%></li></ul><br><%=t('.personal_data5')%>:<br>
  <br><%=t('.support')%> <a href="mailto:hola@cursa.me" target="_blank">hola@cursa.me</a><br><br><br><%=t('.service')%><br>
  <br></td></tr><tr><td style="font-family:Arial,Helvetica,sans-serif;font-weight:bold"><%=t('.privacy')%></td><td style="font-family:Arial,Helvetica,sans-serif;font-weight:lighter"><%=t('.personal_data6')%>:<br>
  <br><a href="http://www.cursa.me" target="_blank">www.cursa.me</a><span class="HOEnZb"><font color="#888888"><br></font></span></td></tr></tbody></table>
</div>