<% 
  set_meta_tags title: 'Casos de Éxito',
                description: 'Conoce algunas de las instituciones que ya se han beneficiado con Cúrsame',
                keywords: 'cursame, casos, exito, escuelas, instituciones',
                author: 'Cúrsame'
%>
<div class="success-stories-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-8">
        <div class="col-inner">
          <div class="section-title">
            <h1>Casos de Éxito</h1>
            <p>Trabajamos con una gran cantidad de instituciones educativas, aquí mostramos algunas de los más relevantes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stories-list">
  <div class="story">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col col-inner">
            <%= image_tag '/images/website/cobaem.jpg' %>
          </div>
        </div>
        <div class="col col-8">
          <div class="col col-inner">
            <div class="story-desc story-section">
              <h3>COBAEM</h3>
              <p>Tras un piloto con 6 planteles del Colegio de Bachilleres de Estado de México, nos encontramos en etapa de expansión y serán 48 planteles en más de 40 municipios de la entidad y 50 mil usuarios los beneficiados por Cúrsame.</p>
            </div>
            <div class="story-section">
              <ul class="results-list">
                <li>
                  <span>Planteles:</span>
                  <p>48</p>
                </li>
                <li>
                  <span>Alumnos:</span>
                  <p>45,000</p>
                </li>
                <li>
                  <span>Profesores:</span>
                  <p>5000</p>
                </li>
              </ul>
            </div>
            <div class="story-testimonial story-section">
              <h5>Testimonio</h5>
              <p class="testi">“Cúrsame ha sido una herramienta fundamental en el desarrollo y complemento del día a día en el salón de clases, aumenta el tiempo efectivo en el aula, además nos ayuda a montar programas de lectura y ahorro de papel, lo cual es un gran beneﬁcio.”</p>
              <h6>M. C. Cesari Rico Galeana </h6>
              <span>Subdirector Tecnológico de Escuelas Secundarias Técnicas</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="story">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col col-inner">
            <%= image_tag '/images/website/secundarias-tecnicas.jpg' %>
          </div>
        </div>
        <div class="col col-8">
          <div class="col col-inner">
            <div class="story-desc story-section">
              <h3>Secundarias Técnicas del DF</h3>
              <p>Trabajamos con un piloto de 6 planteles tras el cual estamos en proceso de expansión con un universo de 120 planteles  en todo el Distrito Federal.</p>
            </div>
            <div class="story-section">
              <ul class="results-list">
                <li>
                  <span>Planteles:</span>
                  <p>120 Potenciales</p>
                </li>
                <li>
                  <span>Alumnos:</span>
                  <p>80,000</p>
                </li>
                <li>
                  <span>Profesores:</span>
                  <p>8000</p>
                </li>
              </ul>
            </div>
            <div class="story-testimonial story-section">
              <h5>Testimonio</h5>
              <p class="testi">“Es increíble lo que uno puede hacer, Cúrsame ha sido una herramienta fundamental en el desarrollo y complemento del día a día en el salón de clases, aumenta el tiempo efectivo en el aula, además nos ayuda a montar programas de lectura y ahorro de papel, lo cual es un gran beneﬁcio.”</p>
              <h6>M. C. Cesari Rico Galeana</h6>
              <span>Subdirector Tecnológico de Escuelas Secundarias Técnicas</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="story">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col col-inner">
            <%= image_tag '/images/website/jovenes-emprendedores.jpg' %>
          </div>
        </div>
        <div class="col col-8">
          <div class="col col-inner">
            <div class="story-desc story-section">
              <h3>Modelo de Emprendedores de Educación Media Superior</h3>
              <p>Proyecto en conjunto con la Subsecretaría de Educación Media Superior, Angel Ventures y Ashoka. A través de Cúrsame se imparte educación para emprendedores en 100 planteles de preparatoria de todo el país y actualmente en expansión para llegar a 1000 planteles en 2014.</p>
            </div>
            <div class="story-section">
              <ul class="results-list">
                <li>
                  <span>Planteles:</span>
                  <p>1000 Potenciales</p>
                </li>
                <li>
                  <span>Alumnos:</span>
                  <p>100,000</p>
                </li>
                <li>
                  <span>Profesores:</span>
                  <p>4000</p>
                </li>
              </ul>
            </div>
            <div class="story-testimonial story-section">
              <h5>Testimonio</h5>
              <p class="testi">“La mejor herramienta para la educación en nuestra experiencia en Educación Media Superior y Superior nos hemos encontrado con el reto de implementar tecnología en para la educación y nunca, hasta que comenzamos a trabajar con Cúrsame habíamos obtenido resultados tan favorables y exitosos.”</p>
              <h6>Lic. Katia Águila</h6>
              <span>Asesora en Secretaría de Educación Pública - Subsecretaría de Educación Media Superior</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="story">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-2">
          <div class="col col-inner">
            <%= image_tag '/images/website/piloto.jpg' %>
          </div>
        </div>
        <div class="col col-8">
          <div class="col col-inner">
            <div class="story-desc story-section">
              <h3>Piloto Federal educación con tabletas</h3>
              <p>Actualmente participamos en la licitación / piloto Federal que se realiza en Morelos, Guanajuato y Querétaro para educación con tabletas en primarias del país. Somos parte de dos de las 5 propuestas finalistas (IUSA y HP).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/website/cta_request_demo" %>
<%= render partial: "shared/website/sponsors" %>