<% 
  set_meta_tags title: '¡Feliz Día del Maestro! · Cúrsame',
                description: '¡Feliz Día del Maestro!',
                keywords: 'cursame, prensa, noticias, news, press',
                og: {
                  title: '¡Feliz Día del Maestro! · Cúrsame',
                  description: 'En Cúrsame estamos muy orgullosos de tí y de la labor tan importante que realizas por la educación en México, es una responsabilidad muy grande guiar a los futuros líderes y ciudadanos de nuestro País.',
                  image: 'http://cursa.me/images/website/og-teacher-day.png',
                  url: 'http://cursa.me/teacher-day'
                }
%>
<div class="teacher-day-title intro-title-page intro-page">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h1><%=t('.happy')%></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="teacher-day-letter">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="letter-inner">
            <p><%=t('.text1')%></p>

            <p><%=t('.text2')%></p>

            <p><%=t('.text3')%></p>
            <br>
            <br>
            <br>
            <%= image_tag "/images/website/sign.png" %>
            <h2>León Rangel</h2>
            <span>CEO Cúrsame</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>