<p id="notice"><%= notice %></p>

<p>
  <b>Limit deliveries:</b>
  <%= @settings_teacher.limit_deliveries %>
</p>

<p>
  <b>Count deliveries:</b>
  <%= @settings_teacher.count_deliveries %>
</p>

<p>
  <b>Limit surveys:</b>
  <%= @settings_teacher.limit_surveys %>
</p>

<p>
  <b>Count surveys:</b>
  <%= @settings_teacher.count_surveys %>
</p>


<%= link_to 'Edit', edit_settings_teacher_path(@settings_teacher) %> |
<%= link_to 'Back', settings_teachers_path %>
