
<div class="focus">
      <div class="publication-box" style="margin: 50px 20px 0px 180px; position: relative;">
     
<% case %>
    <% when @event.schedule_type == "Delivery" %>
       <div class="comment-text delivery">
            <div class="null-image"></div>
            
            <h1><%= @eventable.title %></h1>
      
           <div class="end-date-box">
               <div class="end-date-label">Entregar antes de:</div>
               <div class="end-date">
                   <%= @eventable.end_date.strftime( '%d-%h-%Y %l:%M%P') %>
               </div>
           </div>
           <div class="description">
               <%= @eventable.description %>
           </div>
           <div class="extra-label">Archivos:</div>
           <div class="asset-box upload-label">
               <% @eventable.assets.each do|files|%>
                   <div class="file-mini-upload">
                       <% debug files.file %> <span><%= link_to "#{files.file}", "#{files.file}" %> </span>

                   </div>
                   <%end%>
           </div>
           <div class="extra-label">Se evalua:</div>
           <div class="evaluation-box">
               <div id="chart-delivery-<%= @eventable.id %>" style="min-width: 580px; height: 60px; margin: 0 auto"></div>
               <script type="text/javascript">
                   $(function () {
                       var chart;
                       $(document).ready(function () {
                           chart = new Highcharts.Chart({
                               chart: {
                                   renderTo: 'chart-delivery-<%= @eventable.id %>',
                                   type: 'bar',
                                   marginBottom: 25,
                                   spacingTop: -5
                               },
                               credits: {
                                   enabled: false
                               },
                               title: {
                                   text: ''
                               },
                               xAxis: {
                                   //categories: ['ortografia', 'desarrollo'],
                                   lineWidth: 0,
                                   minorGridLineWidth: 0,
                                   lineColor: 'transparent',
                                   labels: {
                                       enabled: false
                                   },
                                   minorTickLength: 0,
                                   tickLength: 0
                               },
                               yAxis: {
                                   min: 0,
                                   labels: {
                                       enabled: false
                                   },
                                   gridLineWidth: 0,
                                   reversed: true,
                                   title: {
                                       text: ''
                                   }
                               },
                               tooltip: {
                                   formatter: function () {
                                       return '' + this.series.name + ': ' + this.y + ' (' + Math.round(this.percentage) + '%)';
                                   }
                               },
                               plotOptions: {
                                   series: {
                                       stacking: 'percent'
                                   }
                               },
                               legend: {
                                   reversed: false,
                                   style: {
                                       fontFamily: 'monospace',
                                       color: "#fff"
                                   },
                                   backgroundColor: '#f7f7f9',
                                   layout: 'horizontal',
                                   floating: true,
                                   align: 'center',
                                   verticalAlign: 'bottom',
                                   y: 10,
                                   shadow: false,
                                   border: 1,
                                   borderRadius: 3,
                                   borderWidth: 1,
                                   lineHeight: 10,
                                   borderColor: '#bbbbd4',
                                   itemStyle: {
                                       fontSize: '10px',
                                       color: '#9696ac'
                                   },
                                   itemHoverStyle: {
                                       color: '#72728e',
                                       fontSize: '10px'
                                   }
                               },
                               series: [ <% @i = 1 %> <% @eventable.areas_of_evaluations.each do |areas | %> {
                                   name: '<%= areas.name %>',
                                   data: [ <%= @eventable.evaluation_percentage %> ],
                                   index: <%= @i %>
                               }, <% @i = @i + 1 %> <% end %> ],
                               exporting: {
                                   buttons: {
                                       printButton: {
                                           enabled: false
                                       },
                                       exportButton: {
                                           enabled: false
                                       }
                                   }
                               }

                           });
                       });

                   });
               </script>
           </div>
           <div class="delivery-box">
               <div class="green-btn">
                   <div class="labels">
                       <div id="open-close-<%= @eventable.id %>">
                           <a>Responder</a>
                       </div>
                   </div>
               </div>
           </div>
           <div class="delivery-assignment-box" id="entrega-<%= @eventable.id %>">
               <% @delivery_id=@eventable.id%>
                   <%=render :partial => "/assignments/form_for_delivery"%>
           </div>

           <!-- algo que se puede descifrar de alguna manera -->
            <div style="display:none; margin-top:15px; margin-left:5px;" id="entrega-lo<%= @eventable.id %>">
                           <% @count_deliveries_assignments = @eventable.assignments.count %>
                           <%= @count_deliveries_areas_of_evaluation = @eventable.areas_of_evaluation.count %>

                           <% if @count_deliveries_areas_of_evaluation > 0%>
                           <%else%>
                             <b>A esta tarea no se le han asignado áreas de evaluación </b></br>
                           <%end%>
                           <% if @count_deliveries_assignments > 0%>
                               <% @eventable.assignments.each do |assignment| %>
                                  <b><%= assignment.title %></b></br>
                                  <%= assignment.brief_description %></br>
                                     <%= form_for assignment do |assignment_form|%>                        

                                          <%= assignment_form.fields_for :response_to_the_evaluations do |response| %>
                                                <b>rubro</b></br>
                                                 <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>
                                          <%end%>
                                               <b>Evaluación final</b>
                                              <%= assignment_form.text_field :accomplishment %></br>
                                          <%= assignment_form.submit%></br>

                                     <%end%>             
                                  <%= link_to "Ver entrega de tarea", "http://#{current_network.subdomain}.#{links}/assignments/#{assignment.id}"%>
                               <%end%>
                             <% else %>
                               <b>No se han encontrado respuestas a esta tarea</b>
                           <% end %>
           </div>
           <script>
               $("#open-close-<%= @eventable.id %>").click(function () {
                   $('#entrega-<%= @eventable.id %>').toggle("slow");
                   $(this).toggle("slow");
                   $(this).parent().parent().toggle("slow");
                   $('#entrega-<%= @eventable.id %>>form>#cancel-post-form').click(function () {
                       $("#open-close-<%= @eventable.id %>").show();
                       $("#open-close-<%= @eventable.id %>").parent().parent().show();
                       $('#entrega-<%= @eventable.id %>').hide();
                   });
               });

               $("#open-close-lo<%= @eventable.id %>").click(function () {
                   $('#entrega-lo<%= @eventable.id %>').toggle("slow");

               });
           </script>
           
      </div>
   
   
    <% when @event.schedule_type == "Survey" %>
    
        <%= @eventable.name %></br>
        <%= @eventable.publish_date%></br>
        <%= @eventable.end_date%></br>
       
<%end%>
        
    </div>
      
</div>
