= render partial: 'managers/users/shared/managers_users_subnav'
.wrapper
  .cols-12
    .col.col-12.alpha.omega
      .col-inner
        .managers-section-header
          .title
            %h1= t('.import2')
            %p= t('.import3')
        %p= t('.import4') 
        %ul
          %li= '•' + t('.text1')
          %li= '•' + t('.text2')
        %a{:href => "/plantillas/usuarios_plantilla.csv"} 
          = t('.download')
        = t('.no_find') if @noFile
        %br/
        %br/
        
        = form_tag import_receiver_managers_users_path, multipart: true do
          %label.fileContainer
            = file_field_tag :file
            = hidden_field_tag 'domain', request.domain
            = submit_tag t('.import5')
