= render partial: 'managers/users/shared/managers_users_subnav'
.cols-12
  .col.col-12.omega.alpha
    .col-inner
      .managers-section-header
        .title
          %h1= t('.usr')
        .actions
          = link_to t('.create'), new_managers_user_path, class: 'btn btn-complementary'
      %table.data-table
        %thead
          %tr
            %th= t('.name')
            %th= t('.email')
            %th= t('.enroll')
            %th= t('.type')
            %th= t('.actions')
        %tbody
          - @users.each do |user|
            - permissioning = Permissioning.find_by_user_id_and_network_id(user.id, current_network.id)
            - role = Role.find(permissioning.role_id)
            - case role.title
            - when 'student' then role_name = t('.student')
            - when 'teacher' then role_name = t('.teacher')
            - when 'admin' then role_name = t('.admin')
            - when 'superadmin' then role_name = t('.superadmin')
            - when 'supervisor' then role_name = 'Supervisor'
            - when 'operator' then  role_name = 'Operador'
            - when 'mentor_link' then role_name = 'Enlace Educativo'
            %tr
              %td
                = avatar('user', '30', "no", user.id, "avatar avatar-30", "no", "no")
                = link_to user.name, managers_user_path(user)
              %td= user.email
              %td= user.created_at
              %td= role_name
              %td
                .dropdown-wrap.actions
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to t('.view'), managers_user_path(user)
                      %li= link_to t('.edit'), edit_managers_user_path(user)
                      %li= link_to t('.delete'), managers_user_path(user), method: :delete, confirm: t('.sure')
      .digg_pagination.paginator
        = will_paginate @users
