= render partial: 'managers/users/shared/managers_users_subnav'
.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1 Crear Usuario
  .cols-12
    .col.col-6
      .col-inner
        = form_for @user do |f|
          = f.hidden_field :self_register, value: false

          .form-group.abel-on-top.l-label
            .form-group-label
              = f.label :email, 'Correo electrónico:'
            .form-group-main
              .form-unit
                = f.email_field :email, placeholder: "Correo electrónico", required: "required", autocomplete: "off"
          .form-group.abel-on-top.l-label
            .form-group-label
              = f.label :first_name, 'Nombre(s):'
            .form-group-main
              .form-unit
                = f.text_field :first_name, placeholder: "Nombre(s)", required: "required", autocomplete: "off"
          .form-group.abel-on-top.l-label
            .form-group-label
              = f.label :last_name, 'Apellidos:'
            .form-group-main
              .form-unit
                = f.text_field :last_name, placeholder: "Apellidos", required: "required", autocomplete: "off"

          .form-group.abel-on-top.l-label
            .form-group-label
              = f.label :role_id, 'Tipo de usuario:'
            .form-group-main
              .form-unit
                - networks = @user.permissionings.build
                = f.fields_for :permissionings do |permissioning|
                  = permissioning.hidden_field :network_id, :value => current_network.id
                  = permissioning.select :role_id, options_for_select([['Alumno', '2'], ['Profesor', '3']]), required: "required", autocomplete: "off"
          %br/
          %br/
          %span.btn.btn-primary.input-btn.btn-medium.activable
            = f.submit 'Guardar cambios'