.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.comments1')
      %table.data-table
        %thead
          %tr
            %th ID
            %th= t('.comment')
            %th= t('.comment_in')
            %th= t('.like')
            %th= t('.create_date')
            %th= t('.actions')
        %tbody
          - @comments.each do |comment|
            %tr
              %td
                = link_to comment.id, managers_comment_path(comment)
              %td
                - unless comment.user.nil?
                  = link_to comment.user.name, managers_user_path(comment.user)
                - else
                  = t('.no_user')
                %p= comment.comment
              %td
                - case comment.commentable_type
                  - when 'Network'
                    = t('.public')
                  - when 'User'
                    = t('.user')
                  - when 'Course'
                    = t('.course')
                  - when 'Comment'
                    = t('.comment')
                  - when 'Discussion'
                    = t('.discuss')
                  - when 'Survey'
                    = t('.quest')
                  - when 'Delivery'
                    = t('.hmwrk')
              %td= comment.likes.count
              %td= comment.created_at
              %td
                .dropdown-wrap.actions
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to (t('.view'), managers_comment_path(comment))
                      %li= link_to (t('.delete'), managers_comment_path(comment), method: :delete, confirm: t('.confirm'))
                      
      .digg_pagination.paginator
        = will_paginate @users