.managers-top-actions
  .cols-12
    .col.col-12.alpha.omega
      .col-inner
        %ul.list-buttons.left
          %li= link_to (t('.back').html_safe, managers_comments_path, class: 'btn btn-secondary')
          %li= link_to (t('.delete'), managers_comment_path(@comment), class: 'btn btn-primary', method: :delete, confirm: t('.confirm'))

.cols-12
  .col.col-8.alpha.omega
    .col-inner

      %span.meta-info ID
      %p= @comment.id

      %br/
      %span.meta-info= t('.author')
      %p= link_to @comment.user.name, managers_user_path(@comment.user)

      %br/
      %span.meta-info= t('.create_date')
      %p= @comment.created_at

      %br/
      %span.meta-info= t('.comment')
      %p= @comment.comment

      %br/
      %span.meta-info= t('.comment_in')
      %p
        - case @comment.commentable_type
          - when 'Network'
            = t('.public')
          - when 'User'
            = t('.user')
          - when 'Course'
            = t('.course')
          - when 'Comment'
            = t('.comment')
          - when 'Discussion'
            = t('.discuss')
          - when 'Survey'
            = t('.quest')
          - when 'Delivery'
            = t('.hmwrk')

      %br/
      %span.meta-info= t('.like')
      %p= @comment.likes.count