<div class="mkt-main">
  <div class="mkt-page-main">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-7">
          <div class="col-inner">
            <%= link_to icon('cursame-logo-gray'), root_path %>
            <div class="l-title">
              <h1><%=t('.tool')%></h1>
            </div>
            <div class="l-body">
              <p><%=t('.text1')%></p>

              <p><%=t('.text2')%></p>

              <p><strong>Cúrsame</strong> <%=t('.text3')%></p>

              <p><%=t('.text4')%></p>
            </div>
          </div>
        </div>
        <div class="col col-5">
          <div class="col-inner">
            <div class="l-form-wrap">
              <h5><%=t('.form')%></h5>
              <%= render partial: 'shared/website/contact_form', locals: { contact_type: 'demo_request', lading_page_id: 'Ad01' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>