<p id="notice"><%= notice %></p>

<p>
  <b> <h3><%=@user.email%> Friendship List: </h3></b>
</p>

<p>
  <b>Friends:</b>
  <%= @friendship.friend_id%>
</p>

<%= link_to 'Edit', user_friends_path(@user) %> |
<%= link_to 'Back', friendships_path %>
