<div class="user-edit-form containerFriends">

	
<div class="edituserdmenuHeader">
	<div id="edituserdmenu">
		<h3>Lista de amigos de <b><%=@user.email%></b></h3>
		<div class="containerFriendsCateg">
			<div class="currentFriends"><a href="#FDNS">amigos <span class="redPop">47</span></a>
			</div>
			<div class="waitS"><a href="#PNDS">solicitudes pendiéntes <span class="redPop">2</span></a>
			</div>
		</div>
	</div>
</div>


  <span class="friendHead" id="FDNS" style="margin-top:100px!important;">Amigos actuales:</span>
  
  <p>

  <%@all_friends.each do |hash|%>
    <%if (hash[:accepted]) then%>
      <tr>
        <td>
        	<span class="friendBlock">
             	<span class="friendPhoto"><%= link_to image_tag(hash[:user].avatar.profile), show_user_path(hash[:user].personal_url)%></span>
              <%if @owner then%>
                <span class="friendName"><%= hash[:user].name %></span>
                <span class="acceptFriend"><%= link_to "Eliminar", {:controller => "friendships", :action => "destroy", :friend_id => hash[:user].id}, :method => :delete%></span>
             </span>
            <%end%>
            </td>
      </tr>
      <p>
      
    <%end%>
  <%end%>
   <p>
   <%if @owner then%>
   <span class="friendHead" id="PNDS">Solicitudes pendientes:</span>
   <p>

   <%@all_friends.each do |hash|%>
    <%if !(hash[:accepted]) then%>
      <tr>
        <td>
             <span class="friendBlock">
               	<span class="friendPhoto"><%= link_to image_tag(hash[:user].avatar.profile), show_user_path(hash[:user].personal_url)%></span>
               	<span class="friendName"><%= hash[:user].name %></span>
               	<span class="acceptFriend"><%= link_to "Aceptar", {:controller => "friendships", :action => "update", :friend_id => hash[:user].id}, :method => :update%></span>
              </span>
        </td>
      </tr>
      <p>
   <%end%>
   <%end%>
   <%end%>


<!-- <script>
$(".friendBlock").mouseover(function(){
        $('.acceptFriend').animate({ marginTop: '-44px' }, 100);
    });
	$(".friendBlock").mouseout(function(){
	        $('.acceptFriend').animate({ marginTop: '44px' }, 100);
    }); 
</script>
-->

   <div class="profileLinks" style="display:none;">
	<%= link_to "Mi perfil", show_user_path(current_user.personal_url)%>
   <%if @owner then%>
	<%= link_to "Comunidad", network_comunity_path %>
   </div>
   
<%end%>
</div>