<div class="user-edit-form containerFriends" style="float: none; display: block; margin: 0 auto;">


<div style="width: 910px; display: block; padding: 30px 0 20px; height: 35px; margin: 0 auto;">
	<h2 class="courses-title-h2">Tu lista de amigos<!-- <%=@user.email%> --></h2>
</div>

<!--
<div class="edituserdmenuHeader">
	<div id="edituserdmenu">
		<h3>Lista de amigos de <b><%=@user.email%></b></h3>
		
		<div class="containerFriendsCateg">
		
			<div class="currentFriends"><a href="#FDNS">amigos <span class="redPop">47</span></a>
			</div>
			<div class="waitS"><a href="#PNDS">solicitudes pendiéntes <span class="redPop">2</span></a>
			</div>
		</div>
	</div>
</div>

-->


  <!-- <span class="friendHead" id="FDNS">Amigos actuales:</span> -->
  

  <%@all_friends.each do |hash|%>
    <%if (hash[:accepted]) then%>
      <tr>
        <td>
        	<div class="everymbrm" style="height: 203px; overflow: hidden; position: relative;">
             	<span id="imgge" style="width:170px;height:170px; display: block;">
             		<span class="imgge_gradient"></span>
                <%= avatar('user', '45', 'no', hash[:user].id, 'avatar', 'no', 'no') %>
             		
             	</span>
             	<div class="place-hldr" style="height: 30px;"><h3><%= hash[:user].name %></h3></div>
             	
              <%if @owner then%>
              
              <div class="hoverShowEdit" style="margin-top: -380px;">
                <span class="addfriend" style="margin: 20px auto 10px;">
                	<%= link_to "Eliminar", {:controller => "friendships", :action => "destroy", :friend_id => hash[:user].id}, :method => :delete%></span>
              </div>
                
             </div>
            <%end%>
          </td>
      </tr>
      
    <%end%>
  <%end%>
  
   <%if @owner then%>


<span class="friendHead" id="PNDS">Solicitudes pendientes:</span>


   <%@all_friends.each do |hash|%>
    <%if !(hash[:accepted]) then%>
      <tr>
        <td>
        	<div class="everymbrm" style="height: 203px; overflow: hidden; position: relative;">
               	<span id="imgge">
               		<span class="imgge_gradient"></span>
               	    <%= link_to image_tag(hash[:user].avatar.profile), show_user_path(hash[:user].personal_url) if ( !hash[:user].avatar.blank?)%>
             		<%= link_to image_tag(hash[:user].image_avatarx), show_user_path(hash[:user].personal_url) if (hash[:user].avatar.blank?)%>
               	</span>
               	
               	<div class="place-hldr" style="height: 30px;">
               		<h3><%= hash[:user].name %></h3>
               	</div>
               	
               	<div class="hoverShowEdit" style="margin-top: -380px;">
               		<span class="addfriend" style="margin: 20px auto 10px;">
               			<%= link_to "Aceptar", {:controller => "friendships", :action => "update", :friend_id => hash[:user].id}, :method => :update%></span>
                </div>
              </div>
        </td>
      </tr>

   <%end%>
   <%end%>
   <%end%>


<!-- <script>
$(".friendBlock").mouseover(function(){
        $('.acceptFriend').animate({ marginTop: '-44px' }, 100);
    });
	$(".friendBlock").mouseout(function(){
	        $('.acceptFriend').animate({ marginTop: '44px' }, 100);
    }); 
</script>
-->

   <div class="profileLinks" style="display:none;">
	<%= link_to "Mi perfil", show_user_path(current_user.personal_url)%>
   <%if @owner then%>
	<%= link_to "Comunidad", network_comunity_path %>
   </div>
   
<%end%>
</div>
    	
	<script>
			$('document').ready ( function() {
				$('p:empty').hide();
				$('.everymbrm').find('h3 > a').css({ color: "#FFF" });
				$('.everymbrm').find('h3').css({ color: "#FFF" });
			});
			
			$('.everymbrm').mouseenter( function() {
				$(this).find('.hoverShowEdit').animate({ marginTop: '-200px' }, 200);
			});
			$('.everymbrm').mouseleave( function() {
				$(this).find('.hoverShowEdit').animate({ marginTop: '-380px' }, 200);
			});

		$('.everymbrm').mouseenter( function() {
			$(this).find('h3').css({ background: "#2E7FA6", });
			$(this).find('#imgge').delay( 3000 ).css({ 'filter' : 'blur(5px)', '-webkit-filter' : 'blur(5px)', '-moz-filter' : 'blur(5px)',
										 '-o-filter' : 'blur(5px)', '-ms-filter' : 'blur(5px)' });
			$(this).find('.imgge_gradient').fadeOut(200);
			$(this).find('h3 > a').css({ color: "#FFF" });
		});
		$('.everymbrm').mouseleave( function() {
			$(this).find('h3').css({ background: "#006696", });
			$(this).find('#imgge').delay(1800).css({ 'filter' : 'blur(0px)', '-webkit-filter' : 'blur(0px)', '-moz-filter' : 'blur(0px)',
										 '-o-filter' : 'blur(0px)', '-ms-filter' : 'blur(0px)' });
			$(this).find('.imgge_gradient').fadeIn(200);
			$(this).find('h3 > a').css({ color: "#000" });
		});
		
		// ----- hace un resize de la imagen en caso de que sea más pequeña
		$('.everymbrm img').on('load',function(){
		    var css;
		    var ratio=$(this).width() / $(this).height();
		    var pratio=$(this).parent().width() / $(this).parent().height();
		    if (ratio<pratio) css={width:'100%', height:'auto'};
			    else if (ratio>pratio) css={width:'auto', height:'auto'};
		    else css={width:'100%', height:'auto'};
		    $(this).css(css);
		});
		
	</script>