<p id="notice"><%= notice %></p>

<div class="user-edit-form">
<div id="edituserdmenu">
	<h3>Lista de amigos de <b><%=@user.email%></b></h3>
</div>


  <b>Amigos actuales:</b>
  <p>

  <%@all_friends.each do |hash|%>
    <%if (hash[:accepted]) then%>
      <tr>
        <td>
            <%= link_to image_tag(hash[:user].avatar.image_avatarx), show_user_path(hash[:user].personal_url)%>
            <%if @owner then%>
                <%= hash[:user].name %>
            <%= link_to "Eliminar amigo", {:controller => "friendships", :action => "destroy", :friend_id => hash[:user].id}, :method => :delete%>
            <%end%>
            </td>
      </tr>
      <p>
    <%end%>
  <%end%>
   <p>
   <%if @owner then%>
   <b>Solicitudes de aceptación:</b>
   <p>

   <%@all_friends.each do |hash|%>
    <%if !(hash[:accepted]) then%>
      <tr>
        <td>
             
              <%= link_to image_tag(hash[:user].avatar.modern), show_user_path(hash[:user].personal_url)%>
              
                <%= hash[:user].name %>
                <%= link_to "Aceptar como amigo", {:controller => "friendships", :action => "update", :friend_id => hash[:user].id}, :method => :update%>
        </td>
      </tr>
      <p>
   <%end%>
   <%end%>
   <%end%>

<p> <%= link_to "Profile", show_user_path(current_user.personal_url)%>
<%if @owner then%>
<p> <%= link_to "Comunidad", network_comunity_path %>
<%end%>
</div>