.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.report_content')
      %table.data-table
        %thead
          %tr
            %th= t('.usr')
            %th= t('.report_date')
            %th= t('.author')
            %th= t('.actions')
        %tbody
          - @reported_contents.each do |reported_content| 
            %tr
              %td= link_to reported_content.user.name, managers_user_path(reported_content.user)
              %td= reported_content.created_at
              - content_owner = reported_content.reportable.user
              %td= link_to content_owner.name, managers_user_path(content_owner)
              %td
                .dropdown-wrap.actions
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to t('.view'), managers_reported_content_path(reported_content)
                      %li= link_to t('.delete_content'), managers_destroy_content_path(reported_content), class: 'btn btn-small btn-secondary', confirm: t('.sure')
                      %li= link_to t('.delete_report'), managers_reported_content_path(reported_content), class: 'btn btn-small btn-secondary', method: :delete, confirm: t('.sure2')
                      
      .digg_pagination.paginator
        = will_paginate @reported_contents