<%= form_tag "/surveys/survey_reply", :remote => true, :id => "survey-form-reply" do %>
  <div class="overlay-content">
  <% if survey.timer != 0 %>
  <div id="surveyclock" class="clock" data-expire="<%= (Time.now + survey.timer.minutes).strftime("%H:%M:%S") %>"></div>
  <%end%>
  <h3><%= survey.name %></h3>
    <div class="survey-wrap">
      <ol>
        <% for question in survey.questions %>
          <li>
            <div class="survey-question">
              <p><%= question.content%></p>
              
              <div class="survey-answers">
                <ul>
                  <% for answer in question.answers %>
                    <li>
                      <div class="survey-question-answer">
                        <label>
                          <%= answer.content %>
                          <%= check_box_tag "questions["+question.id.to_s+"][]", answer.id, false, required: "required" %>
                        </label>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <% unless survey.contents.empty? && survey.assets.empty? %>
      <br><br>
      <div class="publication-assets"> 
        <%= render :partial => "content/insertions_to_contents", :locals => { :type => survey, :cl => "survey"}%>
        <% if survey.assets.count > 0 %>
          <div class="asset-box upload-label">
            <% survey.assets.each do |files|%>
              <div class="file-mini-upload publication-asset">
                <% @string = files.filename.file.filename %>
                <%= link_to "#{files.filename}" , :target => '_blank' do %> 
                  <%= icon('upload-asset-blue') %>
                  <%= truncate( @string, :omission => "...", :length => 72) %>
                <% end %>
              </div>
            <%end%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless survey.owner?(current_role, current_user) %>
    <div class="overlay-footer">
      <div class="fl">
        <span id="survey-submit" class="btn btn-medium btn-primary input-btn">
          <%= submit_tag t('.quest'), :class=>"btn btn-medium btn-primary" %>
        </span>
        <%= hidden_field_tag 'survey_id', survey.id%>
      </div>
      <div class="fr">
        <div id="errors"></div>
      </div>
    </div>
  <% end %>
<% end %>
<script>
  $(function(){ 
    $('#survey-form-reply').validate({
      ignore: "",
      errorPlacement: function(error, element) {
        $(element).closest('.survey-answers').append(error);
      }
    });
    if ($('#surveyclock').length){
      startTimeSurvey('surveyclock');
    }
  });
</script>