<% response = UserSurvey.find_by_survey_id_and_user_id( survey.id, current_user.id) %>

<div class="overlay-header">
  <div class="overlay-icon">
    <%= icon('section-surveys') %>
  </div>
  <div class="overlay-title">
    <h6>
      <%=t('.quest')%> <%= link_to survey.courses[0].title, course_path(survey.courses[0].id) %>
    </h6>
    <span><%=t('.response')%> <%= es_current_date("#{survey.end_date.strftime('%B')}", "#{survey.end_date.strftime('%d')}", "#{survey.end_date.strftime('%Y')}" , "#{survey.end_date.strftime('%l:%M%P')}", format = 'latin_string') %></span>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<% if response.blank?  %>
  <% if count_tryings == 1 %>
    <%= render :partial => "surveys/shared/survey_questions_modal", :locals => { survey: survey} %> 
    <% else %>
    <div class="no_attemps"><%= t('.fail_attemps')%> </div>
  <%end%>
<% else %>
  <div class="overlay-content">
    <h3><%= survey.name %></h3>
    <% unless response.grade.nil? %>
      <% grade_score = response.grade.score %>
      <p><%=t('.calif')%>: <span><%= number_with_precision(grade_score.to_s, :precision => 1) %></span></p>
      <% unless response.grade.feedback.blank? %>
        <p><%=t('.feedback')%>: <%= response.grade.feedback %></p>
      <% end %>
    <% end %>
  </div>
<% end %>