.section-header-wrap
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .section-header
            .section-header-main
              .section-title
                = link_to icon('section-surveys'), surveys_path
                = link_to surveys_path do
                  %h1= t('.quest')
              - unless current_user.courses.empty?
                .section-header-actions
                  = render partial: 'surveys/shared/surveys_courses_filter'
            .page-sub-navigation
              - action = params[:action]
              %ul
                %li= link_to t('.response'), surveys_path, class: active_class('index')
                %li= link_to t('.past'), surveys_lapsed_path, class: active_class('lapsed')