- course = survey.courses.first
- if wall
  - data_attributes = { wall_id: wall.id }
- else
  - data_attributes = {}

.post-box.survey.academic{ id: survey.id, class: card_type, data: data_attributes }
  - if wall
    - if survey.owner?(current_role, current_user) or survey.courses.first.owner?(current_role, current_user)
      = render partial: 'shared/posts/post_admin_actions', locals: { post: survey, wall: wall }
    - else
      = render partial: 'shared/posts/post_user_actions', locals: { post: survey, wall: wall }
  .post-box-main
    - unless card_type == :standalone
      .post-box-main-author
        = link_to course_path(course), title: course.title, class: 'post-box-avatar' do
          %span.avatar-holder
            = avatar 'course', '45', 'no', course.id, 'avatar', 'no', 'no'
        .post-box-main-author-content
          = link_to course.title, course_path(course), title: course.title
          %span.timestamp= time_ago_in_words survey.created_at
    .post-box-content
      .icon-card
        = icon 'survey-card'
      = link_to survey_modal_path(survey), remote: true, class: 'activable' do
        %h3= survey.title
      - if card_type == :standalone
        %span.timestamp= time_ago_in_words survey.created_at
        %span.post-box-meta= link_to "#{icon 'course-mini-w'} #{course.title}".html_safe, course_path(course), title: course.title
      %span.post-box-meta= "#{icon 'date-mini-w'} #{pretty_date_format survey.end_date}".html_safe
      - unless card_type == :standalone
        = link_to t('.quest'), survey_modal_path(survey), remote: true, class: "btn btn-small btn-transparent activable", id: "survey_btn_#{survey.id}", :confirm => survey_notice(survey.timer)
        %span.post-box-meta
          - if survey.timer == 0
            = "#{t('.no_limit_time')}"
          - else
            = "#{survey.timer } #{t('.solve_time')} "
        = render partial: 'shared/posts/post_meta_data', locals: { wall: wall, post: survey }
    - if card_type == :standalone
      .post-box-footer
        .post-box-actions
          = link_to t('.quest'), survey_modal_path(survey), remote: true, class: "btn btn-small btn-secondary activable"
    - if card_type == :post_publication && survey.owner?(current_role, current_user)
      .post-box-edit
        %h5= t('.edit')
        .post-edit-form-js
    - if card_type == :post_publication
      .post-box-under-container
        .post-box-likes= render partial: 'shared/posts/post_people_who_liked', locals: { post: survey, wall: wall }
        .comments-wrap.survey{ data: { comments_group_id: survey.id } }
          = render partial: 'shared/posts/post_comments_list', locals: { post: survey, new_comment: true }
