<div id="box-question-child" class="question-field">
  <div class="element">
      <div id="question-num" class="num">1.</div>
      <%= f.text_field :content, :placeholder=>'Ingresar pregunta' %>
      <%= link_to_remove_fields "Eliminar", f, {:class=>'remove-icon', :clear => 'both'}, '#box-question'  %>
  </div>
  <div id="box-request">
      <%= f.fields_for :answers do |builder| %>
        <%= render '/polls/answer_fields', :f => builder %>
      <% end %>
  </div>
  <div class="request-field" style="height: 40px;">
    <%= link_to_add_fields "+ Agregar Respuesta", f, :answers, {:class=>'add-request'}, '#box-request' %>
  </div>
</div>