<h1>Listing permissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description use</th>
    <th>Value</th>
    <th>Avtive</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.name %></td>
    <td><%= permission.description_use %></td>
    <td><%= permission.value %></td>
    <td><%= permission.avtive %></td>
    <td><%= permission.role_id %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_permission_path %>
