.cols-12
  .col.col-12.omega.alpha
    .col-inner
      .managers-section-header
        .title
          %h1= t('.networks')
        .actions
          = link_to t('.create'), new_superadmin_panel_network_path, class: 'btn btn-complementary'
          %br/
          %br/
          = form_tag superadmin_panel_networks_path, method: 'get' do
            = hidden_field_tag 'page', params[:page] || 1
            = content_tag :label do

              = text_field_tag :search, params[:search]

              = label_tag 'subdomain', t('.subdomain')
              = check_box_tag 'subdomain', params[:subdomain], params[:subdomain]

              = label_tag 'name', t('.name')
              = check_box_tag 'name', params[:name], params[:name]

              = submit_tag t('.search')
      %table.data-table
        %thead
          %tr
            %th= t('.name')
            %th= t('.subdomain')
            %th= t('.created_at')
            %th= t('.actions')
        %tbody
          - @networks.each do |network|
            %tr
              %td= network.name
              %td= network.subdomain
              %td= network.created_at
              %td
                .dropdown-wrap.actions{class: "networks-id-#{network.id}"}
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to t('.view'), superadmin_panel_network_path(network)
                      %li= link_to t('.edit'), edit_superadmin_panel_network_path(network)
                      - if current_network.id != network.id
                        %li= link_to t('.destroy'), superadmin_panel_network_path(network), method: :delete, confirm: t('.destroy-confirmation')
      .digg_pagination.paginator
        = will_paginate @networks
