<% @correspond = MembersInCourse.find_by_user_id_and_course_id(current_user, course.id) %>
<% if current_user.admin? || (@correspond.accepted && @correspond.owner) %>
  <div class="dropdown-wrap">
    <div class="dropdown-pull btn btn-secondary btn-small">
      <%= icon 'drop-arrow' %>
    </div>
    <div class="dropdown-v left" style="left: -8px;">
      <i class="tip"></i>
      <ul>
        <% if course.active_status and current_network.evaluable? %>
          <li>
            <%= link_to t('.final_score'), course_closure_path(course) %>
          </li>
          <li>
            <%= link_to t('.activities_score'), evaluate_course_path(course) %>
          </li>
          <li>
            <%= link_to t('.eval_form'), course_evaluation_schema_path( course ) %>
          </li>
        <% end %>
        <li>
          <%= link_to t('.clone'), clone_course_view_path(course) %>
        </li>
        <li>
          <%= link_to course.active_status? ? t('.finalize') : t('.active'),  active_status_path(course) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
