%tr.course-evaluation-item-js
  %td
    - if f.object.name == 'cursame_deliveries'
      %span= icon 'activity-delivery'
      = t('.hmwrks')
      = f.hidden_field :id
    -elsif f.object.name == 'cursame_surveys'
      %span= icon 'activity-survey'
      = t('.quest')
      = f.hidden_field :id
    -elsif f.object.name == 'cursame_discussions'
      %span= icon 'activity-discussion'
      = t('.discuss')
      = f.hidden_field :id
    - else
      = f.text_field :name, placeholder: t('.criterium'), autocomplete: 'off', required: true, class: 'course-evaluation-item-name-js'
      = f.hidden_field :id
  %td.eva-percenage
    .eva-percenage-input
      %span %
      = f.text_field :evaluation_percentage, placeholder: t('.percent'), autocomplete: 'off', required: true, digits: true, min: 0, max: 100, class: 'course-evaluation-item-value-js'
    = f.hidden_field :evaluable_id, :value => (@course.evaluation_periods.blank? ? @course.id : f.object.evaluable.id)
    = f.hidden_field :evaluable_type, :value => (@course.evaluation_periods.blank? ? "Course" : "EvaluationPeriod")
    = f.hidden_field :_destroy, class: '_destroy'
    .eva-delete-criteria
      = link_to icon('w-cross-9-gray'), '#', class: "delete-eva-criteria" unless ['cursame_deliveries','cursame_surveys','cursame_discussions'].include? f.object.name
