<% content_for :javascripts do %>
<%= javascript_include_tag 'publications/paginator' %>
<% end %>

<%= render partial: 'community/shared/community_header' %>
<div class="wrapper">
	<% unless @students.empty? %>
	  <div class="cards-list">
	    <div class="cols-12">
	      <%= render partial: 'users/shared/users_cards_list', locals: { users: @students } %>
	    </div>
	  </div>
	  <% if @students.total_entries > CARDS_PER_PAGE %>
			<%= render partial: 'community/shared/community_paginate_button', locals: { page: 2, role: 'student' } %>
		<% elsif @students.total_entries <= CARDS_PER_PAGE %>
			<%= render partial: "shared/no_more_records_found", locals: { message: t('.no_more_usr') } %>
		<% end %>
	<% else %>
	  <div class="no-content-section">
      <h4><%=t('.no_students')%></h4>
	  </div>
  <% end %>
</div>