.post-box.form.academic.library_file{ 'data-wall-id' => wall.id, class: card_type, data: {} }
  .post-box-main
    .post-box-main-author
      = link_to show_user_path(library_file.user.personal_url), title: library_file.user.name, class: 'post-box-avatar' do
        %span.avatar-holder
          = avatar 'user', '45', 'no', library_file.user.id, 'avatar', 'no', 'no'
      .post-box-main-author-content
        .post-breadcrumb
          %span
            = link_to library_file.user.name, show_user_path(library_file.user.personal_url), title: library_file.user.name
            %span.timestamp= time_ago_in_words library_file.created_at
    .post-box-content
      .icon-card
        = icon 'library-file-card'
      = link_to library_file.file.url, download: true, class: 'activable' do
        %h3= library_file.name
        %p= library_file.description
      %span.post-box-meta= "#{icon 'date-mini-w'} #{pretty_date_format library_file.created_at}".html_safe
      = link_to t('.download_file'), library_file.file.url, download: true, class: "btn btn-small btn-transparent activable"
      = render partial: 'shared/posts/post_meta_data', locals: { wall: wall, post: library_file }
    .post-box-under-container
      .post-box-likes= render partial: 'shared/posts/post_people_who_liked', locals: { post: library_file, wall: wall }
      .comments-wrap.libraryfile{ data: { comments_group_id: library_file.id } }
        = render partial: 'shared/posts/post_comments_list', locals: { post: library_file, new_comment: true }