.col.col-6
  .col-inner
    .post-box.form.academic.library_file{ 'data-file-id' => file.id, class: :standalone }
      .post-box-main
        .post-box-content
          .icon-card
            = icon 'library-file-card'
          .file-type
            = ".#{file.file.file.extension.upcase}"
          = link_to file.file.url, download: true, class: 'activable' do
            %h3= file.name
            %p= file.description
          %span.post-box-meta= "#{icon 'date-mini-w'} #{I18n.l file.created_at, format: :short}".html_safe
          = link_to t('.download_file'), file.file.url, download: true, class: "btn btn-small btn-transparent activable"
