<h1>Listing moduls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moduls.each do |modul| %>
  <tr>
    <td><%= modul.name %></td>
    <td><%= modul.role_id %></td>
    <td><%= link_to 'Show', modul %></td>
    <td><%= link_to 'Edit', edit_modul_path(modul) %></td>
    <td><%= link_to 'Destroy', modul, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Modul', new_modul_path %>
