<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @modul.name %>
</p>

<p>
  <b>Role:</b>
  <%= @modul.role_id %>
</p>


<%= link_to 'Edit', edit_modul_path(@modul) %> |
<%= link_to 'Back', moduls_path %>
