<%= render partial: 'evaluate/shared/header_evaluate' %>

<% unless @today_activities.empty? %>
<div class="activities-section">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="section-separator">
						<div class="section-separator-title">
							<h6><%=t('.today')%></h6>
							<i class="tip"></i>
						</div>
					</div>
					<div class="activities-list-section">
						<%= render partial: 'evaluate/shared/activities_list', locals: { activities: @today_activities } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

<% unless @tomorrow_activities.empty? %>
<div class="activities-section">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="section-separator">
						<div class="section-separator-title">
							<h6><%=t('.tomorrow')%></h6>
							<i class="tip"></i>
						</div>
					</div>
					<div class="activities-list-section">
						<%= render partial: 'evaluate/shared/activities_list', locals: { activities: @tomorrow_activities } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

<% unless @rest_of_activities.empty? %>
<div class="activities-section">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="section-separator">
						<div class="section-separator-title">
							<h6><%=t('.someday')%></h6>
							<i class="tip"></i>
						</div>
					</div>
					<div class="activities-list-section">
						<%= render partial: 'evaluate/shared/activities_list', locals: { activities: @rest_of_activities } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

<% if @rest_of_activities.count + @tomorrow_activities.count + @today_activities.count == 0 %>
	<div class="no-content-section">
    <h4><%=t('.no_score')%></h4>
    <p><%=t('.all')%> <%= link_to t('.past'), evaluate_activities_inactive_path %>.</p>
  </div>
<% end %>