<% course = @delivery.courses.first if @delivery.present? %>
<% course = @survey.courses.first if @survey.present? %>

<% if @delivery %>
	<%= render partial: 'evaluate/shared/header_activity_delivery', locals: { delivery: @delivery, course: course, meta_data: true } %>
	<div class="activity-view-wrap">
		<div class="wrapper">
			<div class="cols-12">
				<div class="col col-12">
					<div class="col-inner">
						<div class="activity-view">
							<div class="view-header">
								<h5>Entregas</h5>
							</div>

							<div class="activity-view-main">
								<% unless @delivery.responses.empty? %>
									<div class="activity-responses-list">
										<% @delivery.responses.each do |response| %>
											<%= link_to evaluate_delivery_response_path(response) do %>	
												<div class="activity-response">
													<div class="activity-response-avatar">
									          <span class="avatar-holder">
									            <%= avatar('user', '150', 'no', response.user.id, 'avatar avatar-80', 'no', 'no') %>
									          </span>
													</div>
													<div class="activity-response-main">
														<div class="va-middle">
															<h5><%= response.user.name %></h5>
															<% if response.accomplishment %>
																<p>Calificación: <%= response.accomplishment %></p>
															<% else %>
																<p>Sin calificar</p>
															<% end %>
														</div>
													</div>
												</div>
											<% end %>
										<% end %>
									</div>
								<% else %>
									<div class="no-content-section">
								    <h5>Sin Entregas.</h5>
								    <p>Todavia no hay ninguna entrega en esta tarea.</p>
								  </div>
								<% end %>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% if @survey %>
	<%= render partial: 'evaluate/shared/header_activity_survey', locals: { survey: @survey, course: course, meta_data: true } %>
	<div class="activity-view-wrap">
		<div class="wrapper">
			<div class="cols-12">
				<div class="col col-12">
					<div class="col-inner">
						<div class="activity-view">
							<div class="view-header">
								<h5>Entregas</h5>
							</div>

							<div class="activity-view-main">
								<% unless @survey.responses.empty? %>
									<div class="activity-responses-list">
										<% @survey.responses.each do |response| %>
											<%= link_to evaluate_survey_response_path(response) do %>	
												<div class="activity-response">
													<div class="activity-response-avatar">
									          <span class="avatar-holder">
									            <%= avatar('user', '150', 'no', response.user.id, 'avatar avatar-80', 'no', 'no') %>
									          </span>
													</div>
													<div class="activity-response-main">
														<div class="va-middle">
															<h5><%= response.user.name %></h5>
															<p>Obtenido: <%= number_with_precision(response.result, :precision => 2) %></p>
														</div>
													</div>
												</div>
											<% end %>
										<% end %>
									</div>
								<% else %>
									<div class="no-content-section">
								    <h5>Sin Entregas.</h5>
								    <p>Todavia ningun alumno a contestado este cuestionario.</p>
								  </div>
								<% end %>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>