<% if current_network.nil? %>
  <%= render partial: "/shared/sessions/network_not_exist" %>
<% else %>

  <% if !@user_inactive.nil? %>
    <p>Se ha enviado un correo a <%= @user_inactive.email %>. Esperando confirmación</p>
  <% end %>

  <div class="user-sessions-wrap">
    <%= render partial: "shared/sessions/network_box_head", locals: { sign_up: true, sign_in: false } %>
    <div class="user-sessions-main">
      <div class="user-session-content">
        <h4>Iniciar sesión</h4><br>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "sign-in-form" } ) do |f| %>

          <% unless flash[:notice].blank? %>
            <div class="user-session-errors">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <div class="form-group no-label">
            <div class="form-group-main">
              <span class="input-icon session-icon-input">
                <%= icon('email') %>
                <%= f.email_field :email, placeholder: "Correo electrónico", required: "required", autocomplete: "off", value: params[:email] %>
              </span>
            </div>
          </div>

          <div class="form-group no-label">
            <div class="form-group-main">
              <span class="input-icon session-icon-input">
                <%= icon('password') %>
                <%= f.password_field :password, placeholder: "Contraseña", required: "required", minlength: "6", autocomplete: "off" %>
              </span>
            </div>
          </div>

          <div class="user-sessions-footer">
            <div class="fl">
              <% if devise_mapping.rememberable? -%>
                <label class="remember">
                  <%= f.check_box :remember_me %> &nbsp;Recordarme
                </label>
              <% end %>
            </div>
            <div class="fr">
              <span class="btn btn-primary btn-medium input-btn">
                <%= f.submit "Iniciar Sesión" %>
              </span>
            </div>
          </div>
          
          <% end %>
      </div>

      <div class="user-session-links">
        <div class="links">
          <%= render partial: 'devise/shared/links', locals: { login: false, signup: false, password: true, confirmation: true, unlock: true } %>
        </div>
      </div>

    </div>
  </div>
  <script>
    $(function() {
      $('.sign-in-form').validate();
    });
  </script>
<% end %>