<<<<<<< HEAD
<% if current_network.nil? %>
<script>
$(document).ready(function() {
    $("#bg").ezBgResize();
});

</script>

<div class="signup-restore"></div>

<div class="content login confirmationIndexHeader" id="titlheader" style="text-align:center; margin-top: 50px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-top: 40px; padding-bottom: 1px; padding-left: 20px; padding-right: 20px;">
      <b style="font-size: 35px!important; line-height: 30px;">
      Lo sentimos
        </b>
        <br /><br />
      <span style="width: 250px;!important">
    La red a la que estas intentado accesar no existe
    pregunta a un encargado de tu escuela él sabrá ayudarte.
        </span>
 
    <center>
       <span class="confirm-btn" style="width: 140px; height: 22px; color: #FFF; padding: 10px 30px; color: #FFF!important; margin-top: 30px; display: block; position: relative;">
        <%= link_to "Ir al inicio", "http://www.cursa.me/browser/" %>
       </span>   
    </center>    
    </p>
    <br><br>
    <center>
</div>
<%else%>

<!-- <div class="bg-layout"></div> -->
<% if current_network.image_front.file != nil%>
=======
>>>>>>> depuracion_ui

<% if current_network.nil? %>
  <div class="content login confirmationIndexHeader" id="titlheader">
    <p>Lo sentimos, la red a la que estas intentado accesar no existe
    pregunta a un encargado de tu escuela él sabrá ayudarte.</p>
    <%= link_to "Ir al inicio", "http://www.cursa.me/browser/" %>
  </div>
<% else %>

  <% if !@user_inactive.nil? %>
    <p>Se ha enviado un correo a <%= @user_inactive.email %>. Esperando confirmación</p>
  <% end %>

  <div class="user-sessions-wrap">
    <div class="user-sessions-network-brand">
      <% if current_network.free || current_network.logo.file == nil %>
        <%= link_to icon('logo-cursame'), root_path, title: current_network.name, class: "free_network" %>
      <% else %>
        <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
      <% end %>
      <div class="header-link">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Registarme →", new_user_registration_path %><br />
        <% end -%>
      </div>
    </div>
    <div class="user-sessions-main">
      <div class="user-session-content">
        <h4>Iniciar sesión</h4><br>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "form-sessions form-signin" ) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="form-group no-label">
            <div class="form-group-main">
              <span class="input-icon session-icon-input">
                <%= icon('email') %>
                <%= f.email_field :email,:placeholder =>"Correo electrónico" %>
              </span>
            </div>
          </div>

          <div class="form-group no-label">
            <div class="form-group-main">
              <span class="input-icon session-icon-input">
                <%= icon('password') %>
                <%= f.password_field :password, :placeholder =>"Contraseña"%>
              </span>
            </div>
          </div>

          <div class="user-sessions-footer">
            <div class="fl">
              <% if devise_mapping.rememberable? -%>
                <label class="remember">
                  <%= f.check_box :remember_me %> &nbsp;Recordarme
                </label>
              <% end %>
            </div>
            <div class="fr">
              <span class="btn btn-primary btn-medium input-btn">
                <%= f.submit "Iniciar Sesión" %>
              </span>
            </div>
          </div>
          
          <% end %>
      </div>

      <div class="user-session-links">
        <div class="links">
          <%= render partial: 'devise/shared/links', locals: { login: false, signup: false, password: true, confirmation: true, unlock: true } %>
        </div>
      </div>

    </div>
  </div>
<% end %>
