<li class="message-notification-item" data-channel="{{ channelName }}">
  <div class="activity-feed">
    <a href="{{url}}" data-remote="true">
      <div class="activity-feed-author">
        <span class="avatar-holder">
          {{{ userAvatar }}}
        </span>
      </div>
      <div class="activity-feed-main">
        <h6><span class="as-link">{{ userName }}</span></h6>
        <p>{{ body }}</p>
        <span class="meta">{{ createdAt }}</span>
      </div>
    </a>
  </div>
</li>