<div class="bg-layout"></div>


<div class="login">
		<p>
		<b>Clases, Actividades, Red Social.</b><br />C&uacute;rsame conecta a directivos, profesores y alumnos<br>permiti&eacute;ndoles interactuar social y acad&eacute;micamente.
		</p>
		<br><br>
		<center>
			<a class="new-regs" href="licencias.html"><%= link_to "¿Eres nuevo? Regístrate", new_user_registration_path ,:class=>"btn large primary"%></a>
		</center>

<div class="form-signin" style="margin-bottom:0px!important; -webkit-border-radius: 5px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px;
-moz-border-radius: 5px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "form-signin" ) do |f| %>
  <h2 class="form-signin-heading">Inicia sesión</h2>
  <%= f.email_field :email, :class => "email",:placeholder =>"Correo electrónico" %>
  <%= f.password_field :password, :class => "pswd",:placeholder =>"Contraseña"%>
  <% if devise_mapping.rememberable? -%>
  	<label class="checkbox remember">
    	<%= f.check_box :remember_me %> Recordarme
    </label>
    
    <label class="frgt-pswd">
 	   <%=link_to "Olvidé mi contraseña", new_user_password_path,:class =>"forgot"%>
    </label>
  <% end -%>
  <%= f.submit "Iniciar Sesión", :class =>"log-in" %><br>
  <!-- <%= render "devise/shared/links" %> -->
<% end %>
</div>

	<div>
	    <label class="unblock">
		    Si ya eres usuario, bebes confirmar tu correo electrónico para seguir adelante. Si no lo has hecho por favor
		    <%= link_to "Confirma tu cuenta", new_unlock_path(resource_name) %>
		</label>
	</div>
</div>

<%= render "devise/shared/footer-links" %>