<% if current_network.nil? %>
<script>
$(document).ready(function() {
    $("#bg").ezBgResize();
});

</script>
<div class="signup-restore"></div>

<div class="content login confirmationIndexHeader" id="titlheader" style="text-align:center; margin-top: 50px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-top: 40px; padding-bottom: 1px; padding-left: 20px; padding-right: 20px;">
			<b style="font-size: 35px!important; line-height: 30px;">
			<%=t('.sorry')%>
    		</b>
    		<br /><br />
			<span style="width: 250px;!important">
    <%=t('.net')%>
    <%=t('.net2')%>
    		</span>
 
    <center>
       <span class="confirm-btn" style="width: 140px; height: 22px; color: #FFF; padding: 10px 30px; color: #FFF!important; margin-top: 30px; display: block; position: relative;">
       	<%= link_to (t('.init'), "http://www.cursa.me/browser/") %>
       </span>   
    </center>    
    </p>
    <br><br>
    <center>
</div>
<%else%>

<!-- <div class="bg-layout"></div> -->
<div class="signup-restore"></div>

<% if !@user_inactive.nil? then %>
  <div class="user-inactive">
    <%=t('.send')%>  <%= @user_inactive.email %>. <p>
    <%=t('.confirm')%>
  </div>
<% end %>

<div class="login">    
    <p>
    <b><%=t('.s_net')%></b><br /><%=t('.s_net2')%><br><%=t('.s_net3')%>
    </p>
    <br><br>

    
    <div id="Register_Singin" class="confirmationIndexHeader" style="width: 700px; height: 400px; margin: 0 auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; overflow: hidden;">
    
    <div class="register_class" style="float: left; width: 333px; height: auto; padding: 27px;">
    
    	<%=t('.s_netn')%>
		<br />
		
		<center>
    		<%= link_to t('.sign_in'), new_user_registration_path ,:class=>"btn large primary"%>
    	</center>
    </div>
    
    
    <div class="sign-in-class" style="width: 310px; height: 400px; display: block; float: right; background: #FFF;">
    
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "form-signin" ) do |f| %>
		<div class="login-heading"><%=t('.session')%></div>
		
		<%= devise_error_messages! %>
		
		<%= f.email_field :email, :class => "email",:placeholder =>t('.email') %>
		<%= f.password_field :password, :class => "pswd",:placeholder =>t('.pwd')%>
		<% if devise_mapping.rememberable? -%>
		<label class="checkbox remember" style="margin-left: 11px;">
		  <%= f.check_box :remember_me %> <label>&nbsp;&nbsp;<%=t('.remember')%></label>
		</label>
		
		<!--
		<label class="frgt-pswd">
		 <%=link_to "Olvidé mi contraseña", new_user_password_path,:class =>"forgot"%>
		</label>
		-->
		
		<% end -%>
		<%= f.submit t('.log_in'), :class =>"log-in" %>
		
		<div class="Confirmation_ins" style="clear: both;">
      <%= render partial: 'devise/shared/links', locals: { login: true, signup: true, password: false, confirmation: true, unlock: true } %>
    </div>
		
		<div class="" id="linked" style="cursor:pointer; color: #6a6a6a; font-size: 12px; margin-left: 12px; margin-top: 3px;"><%=t('.antique_usr')%></div>
		
		<% end %>
	
	</div><!-- ends sign-in-class -->
	
	    <div id="sub_linked" style=" width: 640px; height: 340px; font-size: 14px; background-color: rgba(245,245,245,1); padding: 30px; text-align: left; color: rgb(128, 125, 119); z-index: 999; position: absolute; margin-top: 400px; ">

<center><div id="Closelinked" style="cursor: pointer; background: #000; color: #FFF; width: 60px; padding: 8px 20px; margin-bottom: 28px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center;"><%=t('.close')%></div></center>

	    
        <div style="width: 300px; height: 120px; margin-right: 20px; text-shadow:none; float: left;">
			<b style="font-size:15px; color:#000; clear: both;"><%=t('.user')%>:</b><br /><br />
			<%=t('.last_user')%>
        </div>
        
        <div style="width: 315px; height: 120px; text-shadow:none; float: right;">
            <b style="font-size:15px; color:#000; clear: both;"><%=t('.key')%>:</b></br></br>
            <%=t('.new_pwd')%>
             <%=t('.change_pwd')%>
        </div>
        
        <div style="width: 300px; height: 120px; margin-right: 20px; text-shadow:none; float: left;">
           <b style="font-size:15px; color:#000; clear: both;"><%=t('.confirm2')%>:</b></br></br>
            <%=t('.link')%> <b style="font-size: 14px;"><%= link_to (t('.acount'), new_unlock_path(resource_name)) %></b><%=t('.account_window')%> 
        </div>
            
		<div style="width: 315px; height: 120px; text-shadow:none; float: right;">
           <b style="font-size:15px; color:#000; clear: both;"><%=t('.confirm3')%>:</b></br></br>
            <%=t('.pwd_problem')%> <%=link_to t('.forgot_pwd'), new_user_password_path %> <%=t('.send_pwd')%>
        </div>
            
    </div>
	
  </div><!-- ends Register_Singin -->
  

    <script>
            $('#linked').click(function() {
              $('#sub_linked').animate( {marginTop: "0px"} );
            });
			$('#Closelinked').click(function() {
              $('#sub_linked').animate( {marginTop: "400px"} );
            });
    </script>
  
</div>

<!--sirve para colocar la ayuda express a antiguos usuarios-->

<%= render "devise/shared/footer-links" %>
<%end%>
