.support-material-item{ id: asset.id }
  = link_to asset.filename.to_s, target: '_blank', class: 'item-name' do 
    =icon 'upload-asset-blue'
    - unless asset.filename.file.nil?
      = asset.filename.file.identifier
    - else
      = asset.filename
  = link_to asset_path(asset), class: 'item-delete', method: 'delete', remote: true do 
    Borrar
  = hidden_field_tag 'files[]', asset.id