= label_tag from, class: 'btn btn-small btn-secondary' do
  = icon('upload-asset')
  Archivo
.hide-input-file
  = file_field_tag :file, id: from, class: 'upload-input', multiple: true, name: "asset[file]", data: { url: assets_path }
  = hidden_field_tag :user_id, current_user.id
  = hidden_field_tag :from, from