<%= form_for(@role_id_and_permission_id, remote: true) do |f| %>

  <div class="field">
    <%= f.hidden_field :role_id, :value => @role.id %>
  </div>
  <div class="field">
     
    <%= f.label :selecciona_un_permiso_a_asignar %><br />
    <%= f.collection_select :permission_id, Permission.find(:all), :id, :name, {:prompt => 'Selecciona un permiso'}, :placeholder => :name  %>
   
  </div>
  <div class="actions">
    <%= f.submit "agregar permiso al rol" %>
  </div>
<% end %>
