.field-item
  = f.text_field :name, class: 'subject', placeholder: t('.criteria_name'), required: "required"
  = f.hidden_field :id
  = f.hidden_field :evaluable_id, value: base_model.id
  = f.hidden_field :evaluable_type, value: base_model.class.to_s
  .delete-field-item
    = link_to_function icon('w-cross-9-gray'), 'remove_evaluation_criteria_field(this)'
    = f.hidden_field :_destroy, class: '_destroy'