<%
#inicializamos el cuestionario
    @survey = Survey.new
    1.times do 
      question = @survey.questions.build
      1.times { question.answers.build}
    end
%>

<%= form_for (@survey), :html => { :class => "default-form survey-form"} do |f| %>

  <div style="border-bottom: 1px solid #ccc; height: 45px;">
    <%= f.text_field :name, :placeholder=>'Titulo del cuestionario', :class=>'title-txt-input' %>
  </div>

  <div id="box-question" class="box-question">
      <%= f.fields_for :questions do |builder| %>
        <%= render "/surveys/question_fields", :f => builder %>
      <% end %>
  </div>
  <div class="box-question">
    <div class="question-field" style="height: 40px;">
      <%= link_to_add_fields "Agregar Pregunta", f, :questions, {:class=>'add-question'}, '#box-question' %>
    </div>
  </div>
    <%= button_tag "Cancelar", :type => 'button', :class=>'input-button', :id => 'cancel-post-form' %>
    <%= f.submit %>


<% end %>