<%
#inicializamos el cuestionario
    @survey = Survey.new
    1.times do 
      question = @survey.questions.build
      1.times { question.answers.build}
    end
%>
<%= form_for (@survey), :html => { :class => "default-form survey-form"} do |f| %>
    <%= f.text_field :name, :placeholder=>'Titulo del cuestionario', :class=>'title-txt-input' %>

  <%= f.fields_for :questions do |builder| %>
    <%= render "/surveys/question_fields", :f => builder %>
  <% end %>

  <%= link_to_add_fields "Agregar pregunta", f, :questions, {:class=>'a-btn'} %>

  <div class="submit-area"></div>
  <%= button_tag "Cancelar", :type => 'button', :class=>'input-button', :id => 'cancel-post-form' %>
  <%= f.submit %>
<% end %>