<%
#inicializamos el cuestionario
    @survey = Survey.new
    1.times do
      question = @survey.questions.build
      1.times { question.answers.build}
    end
%>

<%= form_for (@survey),:remote => true ,:html => { :class => "default-form survey-form"} do |f| %>

  <div style="border-bottom: 1px solid #ccc; height: 85px;">

    <%= f.text_field :name, :placeholder=>'Titulo del cuestionario', :class=>'title-txt-input' %>
    <div style="float:left; height:35px; padding-left:40px; margin-top:5px; width:100%;">
    <%= f.text_field :publish_date, :placeholder=>'Día de pubicación', :class=>"date-input survey" %>
    <%= f.text_field :end_date, :placeholder=>'Fecha de entrega', :class=>"date-input survey" %>

    </div>
  </div></br>

  <div id="box-question" class="box-question">
      <%= f.fields_for :questions do |builder| %>
        <%= render "/surveys/question_fields", :f => builder %>
      <% end %>
  </div>
  <div class="box-question">
    <div class="question-field" style="height: 40px;">
      <%= link_to_add_fields "Agregar Pregunta", f, :questions, {:class=>'add-question'}, '#box-question' %>
    </div>
  </div>
    <%= button_tag "Cancelar", :type => 'button', :class=>'input-button', :id => 'cancel-post-form' %>
    <%= f.submit "Crear Cuestionario",:class=>"btn btn-primary", :id => 'comment-post-form'%>
    <br>
    <%= render :partial => "shared/dropdown", :locals => { :hasPublic => false, :hasCourses => true, :hasGroups => false,:hasUser => false, :defaultText => 'Cursos', :defaultClass => 'public-dd', :extra_style => 'margin-top:4px' } %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $( "#survey_publish_date, #survey_end_date" ).datepicker({
    inline: false,
    minDate: 0,
    showOtherMonths: true,
    dateFormat: 'dd/mm/yy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
  });

  // $("#create_delivery_form").on('click',function(){
  //   mask('#new_delivery_form','Cargando ...');
  // });
});
</script>
