<%
  random_id = "#{random}"
  
  #inicializamos el cuestionario
  if !active_edit
    @survey = Survey.new
    1.times do
      questions = @survey.questions.build
      1.times { questions.answers.build}
    end
  end
%>

<%= form_for @survey, :remote => true ,:html => { :class => "default-form survey-form"} do |f| %>
  
  <div class="new-publication-form-content">
    
    <div class="form-group">
      <div class="form-group-label">
        <label>Titulo del cuestionario:</label>
      </div>
      <div class="form-group-main">
        <div class="form-unit">
          <%= f.text_field :name, :placeholder=>'Ejemplo: Números primos' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-label">
        <label>Fechas:</label>
      </div>
      <div class="form-group-main">
        <div class="f-col f-col-5">
          <div class="form-unit">
            <%= f.text_field :publish_date, :placeholder=>'Día de pubicación', :id => 'publish_date_'+random_id, :class=>"date-input survey survey_publish_date", :value=>f.object.publish_date %>
          </div>      
        </div>
        <div class="f-col f-col-5">
          <div class="form-unit">
            <%= f.text_field :end_date, :placeholder=>'Fecha de entrega ', :id => 'end_date_'+random_id, :class=>"date-input survey survey_end_date", :value=>f.object.end_date %>
          </div>
        </div>
      </div>
    </div>
  	
    <% unless active_edit %> 
      <div class="form-group">
        <div class="form-group-label">
          <label>Preguntas:</label>
        </div>
        <div class="form-group-main">
          <div class="form-unit">
            <div class="new-survey-questions">
              <div class="box-question">
                <div id="box-question"  class="box-question">
                  <%= f.fields_for :questions do |builder| %>
                      <%= render "/surveys/question_fields", :f => builder%>
                  <% end %>
                </div>
              </div>

              <div class="box-question">
                <div class="question-field">
                  <%= link_to_add_fields "Agregar Pregunta", f, :questions, {:class=>'btn btn-secondary'}, '#box-question' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
	
  <div class="new-publication-footer">

    <ul class="list-buttons right fr">
      <li>
      <%= link_to "Cancelar", "", class: 'input-button cancel-post-form_tab btn btn-secondary', id: 'cancel-post-form_tab' %>
      </li>
      
      <li>
        <%= render :partial => "shared/dropdown", :locals => { :hasPublic => false, :hasCourses => true, :hasGroups => false,:hasUser => false, :defaultText => 'Cursos', :default_icon => 'course-new-publication', :extra_style => 'margin-top:4px' } %>
      </li>
      
      <li>

        <span class="btn btn-primary input-btn">
          <%= f.submit (active_edit ? "Guardar Cuestionario":"Crear Cuestionario"), :id => 'comment-post-form' %>
        </span>
      </li>
    </ul>
  </div>
    
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $( "#publish_date_<%=random_id %>, #end_date_<%=random_id%>" ).datetimepicker({
    inline: false,
    minDate: 0,
    hourMin: 0,
    hourMax: 23,
    controlType: 'select',
    showOtherMonths: true,
    dateFormat: 'dd/mm/yy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
  });
});
</script>
