<%= form_for @survey do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :course_id %><br />

  <% for course in Course.find(:all) %>
    <div>
      <%= check_box_tag "survey[course_ids][]", course.id, @survey.courses.include?(course) %>
      <%= course.title %>
    </div>
  <% end %>
  </p>
  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Question", f, :questions %></p>
  <p><%= f.submit %></p>
<% end %>