<%= form_for(survey, :url => "/surveys/survey_reply", :remote => true, :method => :post, :html => {:class => "default-form assignment-survey-form"}) do |f| %>
    <%= hidden_field_tag 'course_id', @course_id %>
    <%= hidden_field_tag 'survey_id', survey.id %>
    <div id="box-response" class="box-question">
      <%# @questions = @survey.questions %>
      <%= render :partial => "/surveys/response_fields_tpl", :locals => { :questions =>  survey.questions} %>
    </div>
    <%= button_tag "Cancelar", :type => 'button', :class => 'input-button', :id => 'cancel-post-form' %>
    <%= f.submit "Contestar", :class => "btn btn-primary", :id => 'survey' %>
<% end %>