<%= form_for (@survey), :remote => true, :html => {:class => "default-form survey-form"} do |f| %>
    <div id="box-response" class="box-question">
      <%= f.fields_for :questions do |builder| %>
          <%= render "/surveys/response_fields_tpl", :f => builder %>
      <% end %>
    </div>
    <div style="position: relative; top: 90px;">
      <%= button_tag "Cancelar", :type => 'button', :class => 'input-button', :id => 'cancel-post-form' %>
      <%= f.submit "Contestar", :class => "btn btn-primary" %>
    </div>
<% end %>