= render partial: 'surveys/shared/surveys_header'
.academic-activities-list-wrap
	- unless @today_surveys.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.today')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'surveys/shared/surveys_list_cards', locals: { surveys: @today_surveys }
	
	- unless @tomorrow_surveys.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.tomorrow')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'surveys/shared/surveys_list_cards', locals: { surveys: @tomorrow_surveys }
	
	- unless @rest_of_surveys.empty?
		.academic-activities-section
			.wrapper
				.section-separator
					.section-separator-title
						%h6= t('.more_days')
						%i.tip
				.academic-activities-main
					.cols-12
						= render partial: 'surveys/shared/surveys_list_cards', locals: { surveys: @rest_of_surveys }

	- if @today_surveys.count + @tomorrow_surveys.count + @rest_of_surveys.count == 0
		.no-content-section
			%h4= t('.no_quest')
			%p= t('.see') + link_to t('.section'), surveys_lapsed_path