<div class="section-header">
  <div class="wrapper spaced">

    <div class="section-header-title w-subnav">
      <div class="section-icon">
        <%= icon('section-surveys') %>  
      </div>
      <div class="section-title">
        <h1>Cuestionarios</h1>
        <ul class="section-subnav">
          <li class="active">
            <%= link_to "Por contestar", wall_filter_path(:typeforfilter => 'Survey', :responds => 'false'), :remote => true %>
          </li>
          <li>
            <%= link_to "Cuestionarios contestados", wall_filter_path(:typeforfilter => 'Survey', :responds => 'true'), :remote => true %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="timeline" class="tim wrapper spaced sc-margined">
  <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
</div>

<%= will_paginate(@wall) %>

<script>
 var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= my_surveys_path(current_network) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
</script>