<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header">
            <div class="section-header-main">
              <div class="section-title">
                <%= link_to icon('section-surveys'), my_surveys_path %>
                <%= link_to my_surveys_path do %>
                  <h1>Cuestionarios</h1>
                <% end %>
              </div>
              <% unless current_user.courses.empty? %>
                <%= render partial: '/shared/publications-filter/filter_by_course_publications', locals: { type: 'cuestionarios' } %>
              <% end %>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to wall_filter_path(:typeforfilter => 'Survey', :responds => 'false'), :remote => true, class: (action == 'my_surveys' ? "active" : " ") do %>
                    Cuestionarios por contestar
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to wall_filter_path(:typeforfilter => 'Survey', :responds => 'true'), :remote => true, class: (action == 'about' ? "active" : " ") do %>
                    Cuestionarios contestados
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper sc-margined">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <div id="timeline" class="tim">
          <% unless @wall.empty? %>
            <%= render :partial => "/shared/publications", :locals => {:wall => @wall, :visible_for => "network"} %>
          <% else %>
            <div class="no-content-section">
              <h4>No tienes cuestionarios por contestar.</h4>
            </div>
          <% end %>
        </div>
        <div id="paginate_wall" onclick="PaginateINwall('/all_surveys',2, <%= @wall.total_pages %>)"></div>
      </div>
    </div>
  </div>
</div>