<%= form_tag "/surveys/survey_reply", :remote =>true do %>
  <p>
    <%= @survey.name %><br />
    <%= hidden_field_tag 'survey_id', @survey.id%>
    <%= "Course: " + Course.find(@survey.course_id).title %>
  </p>
  <% for question in @survey.questions %>
  <p>
    <%= question.content%><br />
    <%= hidden_field_tag 'question_id', question.id%>
    <b>archivo</b>
  </p>
    <% for answer in question.answers %>
      <%= answer.content %>
      <%= check_box_tag question.id, answer.id %><br/>
    <% end %>  
  <% end %>
  <%= submit_tag "Contestar",:class=>"btn btn-primary" %>
<% end %>