if(!<%= @error %>){

	$("#open-close-").show();
	$("#open-close-<%= @survey_id %>").parent().parent().show();
	$('#entrega-<%= @survey_id %>').hide();
	$("#open-close-<%= @survey_id %>").html("<div id='image-<%= @survey_id %>' class='image-surveys'><div class='response-survey'>Respondido!!!</div></div>");
	$('#entrega-<%= @survey_id %>').remove();
	$('.overlay-wrapper').remove();

	Notice('success', 'Se ha entregado la respuesta de tu cuestionario.')
	window.location.reload();
}
else{
	$('#errors').html('No has contestado nada en tu examen');
}