<%
  wufoo = WuParty.new(ACCOUNT, API_KEY)
  wufoo_form = wufoo.form( wufoo_form_id )
  wufoo_fields = wufoo_form.fields
%>

<div class="overlay-header">
  <div class="overlay-title">
    <h4><%=t('.title')%></h4>
    <% if quiz_type == "teacher" %>
      <p><%=t('.title2')%></p>
    <% elsif quiz_type == "student" %>
      <p><%=t('.title3')%></p>
    <% end %>
    <p><%=t('.thnx')%></p>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<%= form_tag update_wufoo_form_path, method: :get, remote: true, id: "user-quiz-form" do %>
  <div class="overlay-content no-padding">
    <div class="quiz-wrap">
      <%= hidden_field_tag "wufoo_form_id", wufoo_form_id %>
      <% wufoo_fields.each do |field| %>

        <% 
          type = field['Type']
          id = field['ID']
        %>

        <% if type == 'text' && id == 'EntryId' %>
          <%= hidden_field_tag id, wufoo_form.entries.count %>
        <% end %>

        <% if type == 'date' && id == 'DateCreated' %>
          <%= hidden_field_tag id, Time.now %>
        <% end %>

        <% if type == 'text' && id == 'CreatedBy' %>
          <%= hidden_field_tag id, current_user.name %>
        <% end %>

        <% if type == 'date' && id == 'LastUpdated' %>
          <%= hidden_field_tag id, Time.now %>
        <% end %>

        <% if type == 'text' && id == 'UpdatedBy' %>
          <%= hidden_field_tag id, current_user.name %>
        <% end %>

        <% if id != 'EntryId' %>
          <% if id != 'DateCreated' %>
            <% if id != 'CreatedBy' %>
              <% if id != 'LastUpdated' %>
                <% if id != 'UpdatedBy' %>

                  <div class="quiz-item">
                    <div class="quiz-item-header">
                      <%= label_tag id, "#{field['Title']} <span class='required'>*</span>".html_safe %>
                    </div>
                    <div class="quiz-item-options">
                      
                      <% if type == 'text' %>
                        <%= text_field_tag id, "", required: "required" %>
                      <% end %>

                      <% if type == 'radio' %>
                        <% field['Choices'].each_with_index do |choice, index| %>
                          <% index == 0 ? options = {required: "required"} : options = {} %>
                          <div class="option">
                            <%= label_tag do %>
                              <%= radio_button_tag id, (index + 1), false, options %> <%= choice['Label'] %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>

                      <% if type == 'checkbox' %>
                        <div class="checkbox-group">
                          <% field['SubFields'].each_with_index do |subfield, index| %>

                            <div class="option">
                              <%= label_tag do %>
                                <%= check_box_tag subfield['ID'], subfield['Label'], false, { class: "require-one" } %> <%= subfield['Label'] %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>

                      <% if type == "likert" %>
                        <table class="quiz-table">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <% field['Choices'].each_with_index do |choice, index| %>
                                <th>
                                  <%= choice['Label'] %>
                                </th>
                              <% end %>
                            </tr>
                          </thead>
                          <tbody>
                            <% field['SubFields'].each_with_index do |subfield, index| %>
                              <tr>
                                <td>
                                  <%= subfield['Label'] %>
                                </td>
                                <td class="center">
                                  <%= label_tag do %>
                                    <%= radio_button_tag subfield['ID'], "1", false, {required: "required"} %> <br> 1
                                  <% end %>
                                </td>
                                <td class="center">
                                  <%= label_tag do %>
                                    <%= radio_button_tag subfield['ID'], "2" %> <br> 2
                                  <% end %>
                                </td>
                                <td class="center">
                                  <%= label_tag do %>
                                    <%= radio_button_tag subfield['ID'], "3" %> <br> 3
                                  <% end %>
                                </td>
                                <td class="center">
                                  <%= label_tag do %>
                                    <%= radio_button_tag subfield['ID'], "4" %> <br> 4
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      <% end %>

                    </div>
                  </div>
                <% end %>  
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
  <div class="overlay-footer">
    <div class="fl">
      <span class="btn btn-medium btn-primary input-btn">
        <%= submit_tag t('.quest') %>
      </span>
    </div>
    <div class="fr">
      <p><%=t('.text4')%><br><%=t('.text5')%><%= link_to (t('.priv'), privacidad_path, target: "_blank") %>.</p>
    </div>
  </div>
<% end %>

<script>
  $(function(){

    $.validator.addMethod('require-one', function(value) {
      return $('.require-one:checked').size() > 0;
    }, 'Selecciona al menos una opción.');

    var all_checkboxes = {};

    $('.checkbox-group').each(function(index, el) {
      var checkboxes = $(this).find('.require-one');

      var checkbox_names = $.map(checkboxes, function(e, i) {
        return $(e).attr("name")
      }).join(" ");

      all_checkboxes[index.toString()] = checkbox_names;
    });

    $('#user-quiz-form').validate({
      groups: all_checkboxes,
      errorPlacement: function(error, element) {
        $(element).closest('.quiz-item-options').append(error);
      }
    });

  });
</script>