<div class="overlay-header">
  <div class="overlay-title">
    <h4><%=t('.welcome')%></h4>
    <% if tour_type == "network" %>
      <p><%=t('.wel_text')%></p>
    <% elsif tour_type == "profile" %>
      <p><%=t('.wel_text1')%></p>
    <% elsif tour_type == "course" %>
      <p><%=t('.wel_text2')%></p>
    <% end %>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<div class="overlay-content no-padding">
  <div id="video-tour-container"><%=t('.loading_tour')%></div>
</div>

<script>
  var videoID = "<%= video_id %>";
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-tour-container', {
      height: '100%',
      width: '400',
      videoId: videoID,
      playerVars: {
        controls: 0,
        autoplay: 1,
        showinfo: 0,
        disablekb: 0,
        modestbranding: 1
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  };

  function onPlayerReady( event ) {
    event.target.playVideo();
  };

  var done = false;
  function onPlayerStateChange(event) {
    
  };

  function stopVideo() {
    player.stopVideo();
  };
</script>