<h1 class="titleChat">
	<%= get_chat_title channel %>
</h1>
<div id="load-more-messages-<%= channel.id%>" style="text-align: center;">
	<a href="/home/load_more_messages/<%= channel.id%>?page=<%= @page + 1 %>" data-remote="true" style="cursor:pointer; text-align: center;">...</a>
</div>
<ul id="chat-messages" class="main-chat-zone">
	<%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>	  
</ul>
<div class="shareMSJ">
	<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>channel.channel_name,:channel_id=>channel.id} %>
</div>