<% if messages && channel %>
  <div class="chat-converstion-title">
    <a class="chat-show-contact-list" href title="Atras" onclick="Chat.showContactList(this, event)" ><i class="i i-arrow-gray-left"></i> Atras</a>
    <h1><%= truncate(get_chat_title(channel) , :omission => "...", :length => 36) %></h1>
  </div>

  <div class="chat-main-container">
    <div id="load-more-messages-<%= channel.id%>" class="load-more-messages-trigger">
      <a href="/home/load_more_messages/<%= channel.id%>?page=<%= @page + 1 %>" data-remote="true">Cargar más mensajes...</a>
    </div>
    <div id="chat-messages" class="chat-messages-container" data-channel-id="<%= channel.id %>" data-channel="<%= channel.channel_name %>">
      <%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>    
    </div>
  </div>

  <div class="chat-new-message">
    <%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name => channel.channel_name,:channel_id=>channel.id} %>
  </div>
<% else %>
  <div class="no-content-section">
    <h4>Selecciona a un amigo o curso para enviar mensaje.</h4>
  </div>
<% end %>