<% if course_conversation %>
	<% course = Course.find_by_id receiver_user_id %>
<% else %>
	<% user = User.find_by_id receiver_user_id %>
<% end %>


<div id="chat-channel-<%= channel.id%>" class="chat-panel active chat-panel-item" data-panel-id="<%= channel.id%>" data-channel="<%= channel.channel_name %><%= @course_channel == true ? '?course=true' : '' %>">
	<div class="chat-panel-tab" onclick="Chat.openMinimizedPanel(this)">
		<span class="name">
			<% if course_conversation %>
				<%= course.title %>
			<% else %>
				<%= user.name %>
			<% end %>
		</span>
		<a class="close-chat-panel" title="Cerrar" data-channel="<%= channel.channel_name %><%= @course_channel == true ? '?course=true' : '' %>" data-current-user-id="<%= current_user.id %>" onclick="Chat.removePanel(this)"><%= icon('w-cross-9') %></a>
	</div>
	<div class="chat-panel-inner-conversation">
		<div class="chat-panel-header" onclick="Chat.minimizePanel(this)">
			<% if course_conversation %>
				<%= link_to course.title, course_path(course.id), class: "link-chat" %>
			<% else %>
				<%= link_to user.name, show_user_path(user.personal_url), class: "link-chat" %>
			<% end %>
			<div class="chat-panel-actions">
				<div class="chat-panel-action">
					<a class="close-chat-panel" title="Cerrar" data-channel="<%= channel.channel_name %><%= @course_channel == true ? '?course=true' : '' %>" data-current-user-id="<%= current_user.id %>" onclick="Chat.removePanel(this)"><%= icon('w-cross-9') %></a>
				</div>
			</div>
		</div>
		<div class="chat-panel-main">
			<div id="chat-zone-<%= channel.id%>" class="chat-zone">
				<div class="chat-panel-main-content">
					<% unless messages.empty? %>
						<div class="load-more-messages" id="load-more-messages-<%= channel.id%>">
							<%=render(:partial => '/shared/chat/load_more_messages', :locals => {:channel => channel, :page => page + 1})%>
						</div>
					<% end %>

					<div class="chat-zone-messages chat-messages-container" id="chat-zone-messages-channel<%= channel.id%>">
						<% @is_course = course_conversation %>
						<%= render(partial: '/shared/chat/messages', locals: { messages: messages })%>
					</div>
				</div>
				<div class="chat-zone-footer">
					<%= render :partial => "shared/chat/add_message_form", :locals => { :channel_name => channel.channel_name, :channel_id => channel.id } %>
				</div>
			</div>
		</div>
	</div>
</div>