<div id="chat-channel-<%= channel.id%>" class="chat-panel">
	<span>
		<%= get_chat_title channel %>
		<div style="float:right" id="close-chat-<%= channel.id%>" class="closeChat">
			<%= image_tag('icons/close_chat.png',:style => "margin-top: 4px; margin-left: 2px;") %>
		</div>		
	</span>
	<div class="load-more-messages" id="load-more-messages-<%= channel.id%>">
		<%=render(:partial => '/shared/chat/load_more_messages', :locals => {:channel => channel, :page => page + 1})%>
	</div>	
	<div id="chat-zone-<%= channel.id%>" class="chat-zone">
		<div class="chat-zone-messages" id="chat-zone-messages-channel<%= channel.id%>">
			<%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>
		</div>
		<div class="chat-zone-footer">
		<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>channel.channel_name,:channel_id=>channel.id} %>
		</div>
	</div>
</div>

<script>
	var sizeOfWindow, separacion;
	window.chatPanelsCount = window.chatPanelsCount || 1;
	window.chatPanelsArray = window.chatPanelsArray || [0,0,0,0];
	window.chatPanelsIndex = window.chatPanelsIndex || 0;

	if(!$('#chat').length){
		$("#chat-channel-<%= channel.id%>").css('bottom','312px');
	}else{
		$("#chat-zone-<%= channel.id%>").hide();
	}

	sizeOfWindow =  255;
	separacion = - 40;

	$.each(window.chatPanelsArray,function (index, value) {
		if(!value){
			$("#chat-channel-<%= channel.id%>").css('right', ((sizeOfWindow * (index+1)) + separacion)+'px');
			window.chatPanelsCount++;
			window.chatPanelsArray[index]=1;
			window.chatPanelsIndex = index;
			return false;
		}
	});

	//$("#chat-channel-<%= channel.id%>").css('right', ((sizeOfWindow *  window.chatPanelsCount) + separacion)+'px');
		
	//window.chatPanelsCount++;

	//agregamos el evento de ocultar el chat
	$("#chat-channel-<%= channel.id%> span").click(function () {
		var panel = $("#chat-channel-<%= channel.id%>");
	   	var chatZonePosition = $(panel).css('bottom');

	 	if(chatZonePosition.replace('px','') < 200){
    		$(panel).css('bottom','312px');
    	}
    	else{
    		$(panel).css('bottom','1px');
    	}
    	$("#chat-zone-<%= channel.id%>").toggle();	    	
	});

	// cerramos el chat
	$("#close-chat-<%= channel.id%>").click(function () {
		var pos = $("#chat-channel-<%= channel.id%>").css('right');
			pos = pos.replace('px','');
		var	index = ((pos - separacion)/sizeOfWindow) - 1;

		//alert(index);

		$("#chat-channel-<%= channel.id%>").remove();
		window.chatPanelsCount--;
		window.chatPanelsArray[index] = 0;		
	});   
</script>
