<div id="chat-channel-<%= channel.id%>" class="chat-panel">	
	<span>
		<%= get_chat_title channel %>
		<div style="float:right" id="close-chat-<%= channel.id%>" class="closeChat"><img src="assets/icons/close_chat.png" style="margin-top: 4px; margin-left: 2px;"></div>
	</span>
	<div id="chat-zone-<%= channel.id%>" class="chat-zone">	
		<div class="chat-zone-messages">
			<%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>
		</div>		
		<div class="chat-zone-footer">
		<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>channel.channel_name,:channel_id=>channel.id} %>
		</div>
	</div>
</div>

<script>
	window.chatPanelsCount = window.chatPanelsCount || 1;
	if(!$('#chat').length){
		$("#chat-channel-<%= channel.id%>").css('bottom','300px');
	}else{
		$("#chat-zone-<%= channel.id%>").hide();
	}
	$("#chat-channel-<%= channel.id%>").css('right', ((240 *  window.chatPanelsCount) + 22)+'px');
		
	window.chatPanelsCount++;

	$("#chat-channel-<%= channel.id%> span").click(function () {
		var panel = $("#chat-channel-<%= channel.id%>");
	   	var chatZonePosition = $(panel).css('bottom');

	 	if(chatZonePosition.replace('px','') < 200){
    		$(panel).css('bottom','300px');
    	}
    	else{
    		$(panel).css('bottom','1px');
    	}
    	$("#chat-zone-<%= channel.id%>").toggle();	    	
	});
	$("#close-chat-<%= channel.id%>").click(function () {
		$("#chat-channel-<%= channel.id%>").remove();
		PrivatePub.unsubscribe("<=%channel.channel_name%>");
		window.chatPanelsCount--;
	});   
</script>