<div id="chat-channel-<%= channel.id%>" class="chat-panel">
	<span>
		<%= get_chat_title channel %>
		<div style="float: right; display: none;" id="close-chat-<%= channel.id%>" class="closeChat">
			<%= image_tag('icons/close_chat.png',:style => "margin-top: 4px; margin-left: 2px;") %>
		</div>		
	</span>
	<div class="load-more-messages" id="load-more-messages-<%= channel.id%>">
		<%=render(:partial => '/shared/chat/load_more_messages', :locals => {:channel => channel, :page => page + 1})%>
	</div>	
	<div id="chat-zone-<%= channel.id%>" class="chat-zone">
		<div class="chat-zone-messages" id="chat-zone-messages-channel<%= channel.id%>">
			<%=render(:partial => '/shared/chat/messages', :locals => {:messages => messages})%>
		</div>
		<div class="chat-zone-footer">
		<%= render :partial => "shared/chat/add_message_form", :locals => {:channel_name =>channel.channel_name,:channel_id=>channel.id} %>
		</div>
	</div>
</div>


<!-- --------------- comienzan scripts --------------- -->

<script>
	var sizeOfWindow = 255, separacion;

	if(!$('#chat').length){
		$("#chat-channel-<%= channel.id%>").css('bottom','212px');
	}else{
		$("#chat-zone-<%= channel.id%>").hide();
	}
	sizeOfWindow =  255;
	separacion = - 40;

	$("#chat-channel-<%= channel.id%>").css('right', ((sizeOfWindow *  window.chatPanelsCount) + separacion)+'px');
	
	$("#chat-channel-<%= channel.id%> span").click(function () {
		var panel = $("#chat-channel-<%= channel.id%>");
	   	var chatZonePosition = $(panel).css('bottom');

	 	if(chatZonePosition.replace('px','') < 200){
    		$(panel).css('bottom','212px');
    	}
    	else{
    		$(panel).css('bottom','-1px');
    	}
    	$("#chat-zone-<%= channel.id%>").toggle();
	});

	// cerramos el chat
	$("#close-chat-<%= channel.id%>").click(function () {
		// Obtenemos la posicion del panel que se borrara
		var lastChatLocation = $("#chat-channel-<%= channel.id%>").position();

		$("#chat-channel-<%= channel.id%>").remove();
		PrivatePub.unsubscribe("<%=channel.channel_name%>");
		window.chatPanelsCount--;

		// Se recorren los otros paneles a la derecha
		var chatPanels = $(".chat-panel");
		for (var i = 0; i < chatPanels.length; i++) {
			var currChatLocation = $(chatPanels[i]).position();

			// Si el panel actual esta a la derecha entonces hay que recorrerlo
			if(currChatLocation.left < lastChatLocation.left) {
				$(chatPanels[i]).css({
					'left': lastChatLocation.left
				});

				lastChatLocation = currChatLocation;
			}
		};

		// Checamos si hay canales que no se pudieron abrir
		if($("#go-to-chats-url").length) {

			// Obtenemos los canales que estaba pendientes
			var pendingChatsIds = $("#go-to-chats-url").attr('pendingChats').split(' ');

			// Abrimos el ultimo canal que no se pudo abrir
			var pendingChatInfo = pendingChatsIds[pendingChatsIds.length - 1].split("/")[2].split("_");
			var urlPendingChat = "/home/open_channel/" + pendingChatInfo[pendingChatInfo.length - 1];

			// Si el ultimo chat es de un curso
			if(pendingChatInfo.length == 3) {
				urlPendingChat = urlPendingChat + "?course=true";
			}

			pendingChatsIds.pop();

			var newPendingChats = '';
			for (var i = 0; i < pendingChatsIds.length; i++) {
				newPendingChats = newPendingChats + pendingChatsIds[i];
			};
			$("#go-to-chats-url").attr('pendingChats', newPendingChats);

			$.get(urlPendingChat, function() {
				window.pendingChatsCount--;

				// Si ya no hay chats pendientes entonces quitamos el cuadro de 'ver mas'
				if(window.pendingChatsCount == 0) {
					$("#go-to-chats-url").remove();
				}
			});
		}
	});
	
	$('.chat-panel').mouseenter( function() {
		$(this).find('.closeChat').show();
	});
	$('.chat-panel').mouseleave( function() {
		$(this).find('.closeChat').hide();
	});
	
</script>
