<div id="box-messages-notifications" class="activity-dropdown-wrap dropdown-wrap">
  <div class="activity-dropdown-pull dropdown-pull">
    <%= icon('activity-messages') %>
    <span id="messages-notifications-count" style="display:none" class="activity-counter">0</span>
  </div>
  <div class="activity-dropdown dropdown-v right">
    <i class="tip"></i>
    <div class="activity-dropdown-title">
      <h6>Mensajes</h6>
    </div>
    <div class="activity-dropdown-content">
      <ul id="messages-notifications-list" class="activity-feed-list">
          <% current_user.mesages.sort{|x,y| y.created_at<=>x.created_at}.uniq{|x| x.channel_id}.last(10).each do |mesage|%>
          <% last_message = mesage %>
          <% channel = mesage.channel %>          
          <% channelType = channel.channel_name.split('course_channel_') %>
          <% url = channelType[1] ? "/home/open_channel/#{channelType[1]}?course=true" : "/home/open_channel/#{last_message.user.id}" %>
          <li id="li_channel_<%= channel.id %>">
            <div class="activity-feed">
              <%= link_to url, :remote => true do %>
                <div class="activity-feed-author">
                  <span class="avatar-holder">
                    <%= avatar(channelType[1] ? 'course' : 'user', '45', "no", channelType[1] ? channelType[1] :last_message.user.id, "avatar", "no", "no") %>
                  </span>
                </div>
                <div class="activity-feed-main">
                  <h6><span class="as-link"><%= last_message.user.name %></span></h6>
                  <p><%= truncate(sanitize(last_message.mesage), :omission => "...", :length => 80) %></p>
                  <span class="meta"><%= es_current_date("#{last_message.created_at.strftime('%B')}", "#{last_message.created_at.strftime('%d')}", "#{last_message.created_at.strftime('%Y')}" , "#{last_message.created_at.strftime('%l:%M%P')}",'latin_string') %></span>
                </div>
              <% end %>
            </div>
          </li>

        <%end%>
      </ul>
    </div>
    <div class="activity-dropdown-footer">
      <%= link_to "Ver todos los mensajes",chat_path%>
    </div>
  </div>
</div>

<%= subscribe_to "/messages/notifications_user_" + current_user.id.to_s %>
<%= subscribe_to "/messages/chat_notifications" %>

<script>
  $('#toggle-chat').click ( function() {
    $('.toggle_chat_image').toggleClass('toggle_chat_image_active');
    $('#users-and-groups-for-chat').toggleClass('users-and-groups-for-chat-active');
  });
  
  
  $('.collapse_title_courses').click ( function() {
    $('.collapse_courses').toggle();
    //$('.collapse_title_courses').text('Ocultar');
  });   
  $(".collapse_title_courses").click(function() {
       var txt = $(".collapse_courses").is(':visible') ? 'Ocultar' : 'Mostrar';
       $(".collapse_title_courses").text(txt);
  });
  
  $('.collapse_title_friends').click ( function() {
    $('.collapse_friends').toggle();
  });
  $(".collapse_title_friends").click(function() {
       var txt = $(".collapse_friends").is(':visible') ? 'Ocultar' : 'Mostrar';
       $(".collapse_title_friends").text(txt);
  });
</script>
