<div id="box-messages-notifications" class="activity-dropdown-wrap dropdown-wrap">
  <div class="activity-dropdown-pull dropdown-pull">
    <%= icon('activity-messages') %>
    <span id="messages-notifications-count" style="display:none" class="activity-counter">0</span>
  </div>
  <div class="activity-dropdown dropdown-v right">
    <i class="tip"></i>
    <div class="activity-dropdown-title">
      <h6><%= t('.msg')%></h6>
    </div>
    <div class="activity-dropdown-content scrollbar">
      <ul id="messages-notifications-list" class="activity-feed-list">
          <% messages  = []%>
          <% current_user.channels.each do |channel| %>
              <% if !channel.mesages.last.nil? %>
                <% messages.push(channel.mesages.last) %>
              <% end %>
          <% end %>
          <% messages.sort{|x,y| y.created_at<=> x.created_at}.uniq{|x| x.channel_id}.first(10).each do |mesage|%>
          <% last_message = mesage %>
          <% channel = mesage.channel %>
          <% if channel.nil?
              next
              end   %>
          <% channelType = channel.channel_name.split('course_channel_') %>

		  <% user_channel = if (mesage.user == current_user && not(mesage.channel.nil?) && not(channel.users.index{|x| x.id != current_user.id}.nil?))
			 channel.users[channel.users.index{|x| x.id != current_user.id}]
			 else
			 mesage.user
			 end %>

       <% type = channel.channel_name.split("/").last["course"].nil? ? "User" : "Course" %>
        <% if (type == "Course") %>
          <% course = Course.find_by_id(channel.channel_name.split("/").last.split("_").last) %>
          <% next if course.nil? %>
        <% end %>

          <% url = channelType[1] ? "/home/open_channel/#{channelType[1]}?course=true" : "/home/open_channel/#{user_channel.id}" %>
          <li class="message-notification-item" data-channel="<%= channel.channel_name %>">
            <div class="activity-feed">
              <%= link_to url, :remote => true do %>
                <div class="activity-feed-author">
                  <span class="avatar-holder">
                    <%= avatar(channelType[1] ? 'course' : 'user', '45', "no", channelType[1] ? channelType[1] : user_channel.id, "avatar", "no", "no") %>
                  </span>
                </div>
                <div class="activity-feed-main">
                  <h6><span class="as-link">
                    <% if type == 'Course' %>
                      <%= truncate(course.title, :omission => "...", :length => 40) %>
                    <% else %>
                      <%= truncate(user_channel.name, :omission => "...", :length => 40) %>
                    <% end %>
                  </span></h6>
                  <p><%= truncate(sanitize(last_message.mesage), :omission => "...", :length => 80) %></p>
                  <span class="meta"><%= t('.ago', time: time_ago_in_words(last_message.created_at)) %></span>
                </div>
              <% end %>
            </div>
          </li>

        <%end%>
      </ul>
    </div>
    <div class="activity-dropdown-footer">
      <%= link_to(t('.all_msg'), chat_path) %>
    </div>
  </div>
</div>

<%= subscribe_to "/messages/notifications_user_" + current_user.id.to_s %>
<%= subscribe_to "/messages/chat_notifications" %>

<script>
  $('#toggle-chat').click ( function() {
    $('.toggle_chat_image').toggleClass('toggle_chat_image_active');
    $('#users-and-groups-for-chat').toggleClass('users-and-groups-for-chat-active');
  });


  $('.collapse_title_courses').click ( function() {
    $('.collapse_courses').toggle();
    //$('.collapse_title_courses').text('Ocultar');
  });
  $(".collapse_title_courses").click(function() {
       var txt = $(".collapse_courses").is(':visible') ? 'Ocultar' : 'Mostrar';
       $(".collapse_title_courses").text(txt);
  });

  $('.collapse_title_friends').click ( function() {
    $('.collapse_friends').toggle();
  });
  $(".collapse_title_friends").click(function() {
       var txt = $(".collapse_friends").is(':visible') ? 'Ocultar' : 'Mostrar';
       $(".collapse_title_friends").text(txt);
  });
</script>
