<% if !message.user.nil? && !message.user.avatar.nil? %>
	<div id ="message_<%= message.id %>" class="chat-message-item <%= (@is_course || !@is_course && message.user.id != current_user.id) ? 'message-received' : 'message-sent' %>">
		<% if @is_course || !@is_course && message.user.id != current_user.id %>
			<%= link_to show_user_path(message.user.personal_url) do %>
				<div class="chat-message-author">
					<span class="avatar-holder">
						<%= avatar('user', '30', "no", message.user.id, "avatar", "no", "no") %>
					</span>
				</div>
			<% end %>
		<% end %>
		<div class="chat-message-main">
			<span class="tip"></span>
			<div class="chat-message-content">
				<%= message.mesage_html %>
			</div>
			<span class="meta"><%= t('.ago')%> <%= time_ago_in_words message.created_at %></span>
		</div>
	</div>
<%end%>
	