<% if current_user%>
	<div class="chat-icon" id="messages-notifications-count">
	    <span id="" >0</span>
	</div>

	<!-- notification -->
	<div id="box-messages-notifications" style="display:none; margin-left:-35px;">
		<div id="" class="comment-text" >
			<div class="arrow-top"></div>
			<div class="header">
				<b>Mensajes</b>  
			</div>
			<div class="content">
				<ul id="messages-notifications-list">
					
				</ul>
			</div>

			<div class="footer">
				<b><%= link_to "Ver todos los mensajes",chat_path%></b>
			</div>
		</div>
	</div>

	<%= subscribe_to "/messages/notifications_user_"+current_user.id.to_s %>
	
	<% if @show_chat_panel %>
		<div id="users-and-groups-for-chat">
	       <div id = "toggle-chat">+ Chat (<%= @courses_online.count + @friends_online.count %>)</div>
	       <div id="users-and-groups-online" style="display:none">       	
			<span class="titleBraker">Cursos</span>
			<% @courses_online.each do |course|%>
			    <div><%= link_to truncate("#{course.title}", :omission => "...", :length => 30), open_channel_path(course.id,"course" => true), :remote => true%></div>
			<%end%>
		<!--	<span class="titleBrakerSecondary">Amigos conectados</span>-->
		    <span class="titleBraker">Amigos conectados</span>
			<% @friends_online.each do |user|%>
			    <div><%= link_to truncate("#{user.name}", :omission => "...", :length => 30) || user.email, open_channel_path(user.id), :remote => true%></div>
			<%end%>
	       </div>
		</div>
	<% end %>

	<script>
	    $("#messages-notifications-count").click(function () {
	    	$("#box-messages-notifications").toggle();
	    });
	    //mostrar online
	    $("#toggle-chat").click(function () {
	    	var usersOnlinePanelPosition = $('#users-and-groups-for-chat').css('bottom');

	    	if(usersOnlinePanelPosition.replace('px','') < 200){
	    		$('#users-and-groups-for-chat').css('bottom','312px');
	    	}
	    	else{
	    		$('#users-and-groups-for-chat').css('bottom','1px');
	    	}
	    	$("#users-and-groups-online").toggle();	    	
	    });

	</script>
<%end%>