<% if message.user != nil && message.user.avatar != nil%>
	<div id ="message_<%= message.id %>" class="chat-message-item <%= (message.user.id != current_user.id) ? 'message-received' : 'message-sent' %>">
		<% if message.user.id != current_user.id %>
			<%= link_to show_user_path(message.user.personal_url) do %>
				<div class="chat-message-author">
					<span class="avatar-holder">
						<%= avatar('user', '30', "no", message.user.id, "avatar", "no", "no") %>
					</span>
				</div>
			<% end %>
		<% end %>
		<div class="chat-message-main">
			<span class="tip"></span>
			<div class="chat-message-content">
				<%= message.mesage_html %>
			</div>
			<span class="meta"><%= es_current_date("#{message.created_at.strftime('%B')}", "#{message.created_at.strftime('%d')}", "#{message.created_at.strftime('%Y')}" , "#{message.created_at.strftime('%l:%M%P')}",'latin_string') %></span>
		</div>
	</div>
<%end%>
	