<% if message.user != nil%>
<% if message.user.avatar != nil%>
<div class="insideChat">
	<span id ="message_<%= message.id %>" class="<%= (message.user.id != current_user.id) ? 'MsjD' : 'MsjC' %>">
		<span class="imgChat">
			<%=image_tag(message.user.avatar.blank? ? message.user.image_avatarx : message.user.avatar.profile ,:style => "float:left; width:30px; height:30px;")%>
		</span><!-- ends imgChat -->
		
		<span class="Mensaje">&nbsp; <%= message.mesage_html %></span><!-- ends Mensaje -->

			<span class="toolTipUser"><%= message.user.name %></span><!-- ends toolTipUser -->
	</span><!-- ends message -->
	
</div><!-- ends insideChat -->

<div id="DivIer" style="clear:both;"></div>

<script>
	$(document).ready ( function() {
		$('p:empty').hide();
		$('.toolTipUser').hide();
	});
	
	$('.insideChat').mouseenter( function() {
		$(this).find('.toolTipUser').fadeIn('slow');
	});

	$('.insideChat').mouseleave( function() {
		$(this).find('.toolTipUser').fadeOut('fast');
	});
</script>


<%end%>
<%end%>
