
<% acces_to.assets.each do |asset|%>
  <div class="file-mini-upload publication-asset">
    <%= link_to asset.filename.to_s, target: "_blank", class: "fl" do %>
      <%= icon('upload-asset-blue') %> <%= asset.filename.file.filename %>
    <% end %>
    <%= link_to t('.delete'),"/assets/"+asset.id.to_s, :confirm => t('.confirm'), :method => :delete ,:remote => true, :onclick => "$(this).parent().remove();", :class => "fr" %>
  </div>
<% end %>

<% acces_to.contents.each do |content|%>
  <% unless content.id.nil? %>
    <div class="file-mini-upload publication-asset publication-content" id="<%= content.id %>">
      <%= link_to content.content, target: "_blank", class: "fl" do %>
        <%= icon('dropbox-asset-blue') %> <%= truncate(content.content, :omission => "...", :length => 50) %>
      <% end %>
      <%= link_to t('.delete'), destroy_content_path( content.id ), :confirm => t('.confirm1'), :remote => true, :class => "fr" %>
    </div>
  <% end %>
<% end %>