
<div class="content-in-assignment">
  <div id="box_for_loads<%=typeo%>" >
    <%= f.fields_for :contents do |conty| %>
      <div id="content_killer<%=typeo%>_<%= id %>" class="content_killer"></div>
      <div id="choser<%=typeo%>_<%= id %>" class="choser publication-assets">
        
      </div>
    <%end%>
  </div>
</div>