  
<div class="content-in-assignment">

  <div id="box_for_loads<%=typeo%>"style="display:block;">
  <%= f.fields_for :contents do |conty| %>
              <div id="content_killer<%=typeo%>_<%= id %>" class="content_killer"></div>
              <div id="choser<%=typeo%>_<%= id %>" class="choser"></div>
              
              
  <%end%>
  </div>
  <div style="clear:both;"></div>
</div>