<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @role.title %>
</p>

<p>
  <b>Description:</b>
  <%= @role.description %>
</p>

<p>
  <b>Created:</b>
  <%= @role.created %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
<<<<<<< HEAD
=======

<%= render :partial => "role_id_and_permission_ids/form"%>
<%= render :partial => "role_id_and_permission_ids/roles_frad"%>
>>>>>>> parent of 3d4efe8... subiendo modificaciones iniciales a tabla de roles
