<p id="notice"><%= notice %></p>
<div id="role_permission"></div>
<p>
  <b>Title:</b>
  <%= @role.title %>
</p>

<p>
  <b>Description:</b>
  <%= @role.description %>
</p>

<p>
  <b>Created:</b>
  <%= @role.created %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
