<div class="section-header">
  <div class="section-header-main">
    <div class="section-title">
      <%= link_to icon('section-courses'), courses_path %>
      <%= link_to courses_path do %>
        <h1><%=t('.courses')%></h1>
      <% end %>
    </div>
    <div class="section-header-actions">
      <ul class="list-buttons right">
        <li>
          <%= render partial: "/courses/courses_search" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-sub-navigation">
    <% action = params[:action] %>
    <ul>
      <li>
        <%= link_to t('.course'), courses_path, class: (action == 'index' ? "active" : " ") %>
      </li>
      <li>
        <%= link_to t('.request'), courses_pending_path, class: (action == 'pending' ? "active" : " ") %>
      </li>
    </ul>
  </div>
</div>
