<%= link_to evaluate_delivery_path(activity), class: "activity-item-wrapper" do %>
  <div class="activity-item">
    <div class="activity-item-icon">
      <%= icon("activity-delivery") %>
    </div>
    <div class="activity-item-desc">
      <h4 class="as-link"><%= activity.title %></h4>
      <div class="activity-meta-data">
        <span><%= activity.responses.count %> <%=t('.of')%> <%= course.members_in_courses.count %><%=t('.delivery')%> </span>
        <span>·</span>
        <strong><%= course.title%></strong>
      </div>
    </div>
  </div>
<% end %>