<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header">
            <div class="section-header-main">
              <div class="section-title">
                <h5><%=t('.evaluate')%></h5>
                <%= link_to evaluate_course_path(course) do %>
                  <h1><%= truncate(course.title, :omission => "...", :length => 30) %></h1>
                <% end %>
              </div>
              <div class="section-header-actions">
                <%= render partial: 'evaluate/shared/evaluate_course_filter' %>
              </div>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to t('.active'), evaluate_course_path(course), class: ((action == 'index' || action == 'course') ? "active" : " ") %>
                </li>
                <li>
                  <%= link_to t('.past'), evaluate_course_inactive_path(course), class: (action == 'course_inactive' ? "active" : " ") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
