<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <div class="activity-header">
          <div class="activity-extract">
            <div class="activity-title">
              <%= icon("activity-survey") %>
              <%= link_to evaluate_survey_path(survey) do %>
                <h3><%= survey.title %></h3>
              <% end %>
            </div>
          </div>
          <% if meta_data %>
            <div class="activity-view-data">
              <ul>
                <li>
                  <span class="meta-info"><%=t('.course')%></span>
                  <p><%= link_to truncate(course.title, :omission => "...", :length => 25), course_path(course) %></p>
                </li>
                <li>
                  <span class="meta-info"><%=t('.answered')%></span>
                  <p><%= survey.responses.count %> <%=t('.of')%> <%= course.members_in_courses.count - 1 %></p>
                </li>
                <li>
                  <span class="meta-info"><%=t('.publish_date')%></span>
                  <p><%= I18n.localize(survey.publish_date, format: "%e t('.of')de %B t('.the') %Y") %></p>
                </li>
                <li>
                  <span class="meta-info"><%=t('.deliver_date')%></span>
                  <p><%= I18n.localize(survey.end_date, format: "%e t('.of') %B t('.the') %Y") %></p>
                </li>
                <li>
                 <%= link_to t('.attemps'), evaluate_survey_attemps_path(survey.id), class: 'btn'%>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
