<div class="wrapper">
	<div class="cols-12">
		<div class="col col-12">
			<div class="col-inner">
				<div class="activity-header">
					<div class="activity-extract">
						<div class="activity-title">
							<%= icon("activity-delivery") %>
							<%= link_to evaluate_delivery_path(delivery) do %>
					      <h3><%= delivery.title %></h3>
					    <% end %>
				    </div>
					</div>
					<% if meta_data %>
						<div class="activity-view-data">
							<ul>
								<li>
									<span class="meta-info"><%t('.course')%></span>
									<p><%= link_to truncate(course.title, :omission => "...", :length => 25), course_path(course) %></p>
								</li>
								<li>
									<span class="meta-info"><%t('.delivery')%></span>
									<p><%= delivery.responses.count %> de <%= course.members_in_courses.count - 1 %></p>
								</li>
								<li>
									<span class="meta-info"><%t('.publish_date')%></span>
									<p><%= I18n.localize(delivery.publish_date, format: "%e %B %Y") %></p>
								</li>
								<li>
									<span class="meta-info"><%t('.publish_date_of')%></span>
									<p><%= I18n.localize(delivery.end_date, format: "%e %B %Y") %></p>
								</li>
							</ul>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
