<%= link_to evaluate_survey_path(activity), class: "activity-item-wrapper" do %>
  <div class="activity-item">
    <div class="activity-item-icon">
      <%= icon("activity-survey") %>
    </div>
    <div class="activity-item-desc">
      <h4><%= activity.title %></h4>
      <div class="activity-meta-data">
        <span>
          <%= activity.responses.count %> de <%= course.members_in_courses.count %> Contestados
        </span>
        <span>·</span>
        <span>
          <span class="as-link"><%= course.title %></span>
        </span>
      </div>
    </div>
  </div>
<% end %>