<h2>cursos</h2>
<div id="form-new-course" class="form-new-course-lateral">
  <%= render partial: "users/form_course.html.erb" %>
</div>
<div id="tabs-courses" class="tabs-style">
  <ul id="ul-tabs">
    <li class="element-left">
      <a href="#tabs-courses-1">
        <div class="content-tab">
          <span class="title-num"><%= @count_course_iam_member %></span>
          <span class="title">CURSOS</span>
        </div>
      </a>
    </li>
    <% permitted_to? :create, :courses do %>

        <li class="element-right">
          <div id="new-course-btn" class="plus-courses"></div>
          <a href="#tabs-courses-2">
            <div class="content-tab">
              <span class="title-num"><%= @count_course_iam_member_and_owner %></span>
              <span class="title">CREADOS</span>
            </div>
          </a>
        </li>
    <% end %>
  </ul>
  <div id="tabs-courses-1">
    <ul id="course-list">
      <% if @course_count == 0 %>
          <li><a href="#">No hay cursos</a></li>
      <% else %>
          <% @courses.each do |cu| %>
              <!--< @cort = Course.find(cu.course_id) %>
              < if @cort.network_id == current_network.id %>
                  < if @cort.active_status == true %>
                      < if cu.accepted == true %>-->
                          <% member_course = MembersInCourse.find_by_course_id(cu.id) %>
                 <% if member_course.active_status == true %>
                     <% if member_course.accepted == true %>
                          <li><%= link_to "#{member_course.title}", course_path(cu.id) %></li>
                      <% end %>
                  <% end %>
              <% end %>
            <% end %>
          </ul>
          <div class="view-all"><%= link_to "Ver todos", courses_path %></div>
          </div>
          <div id="tabs-courses-2">
            <ul id="course-list">
              <% if @course_count == 0 %>
                  <li><a href="#">No hay cursos</a></li>
              <% else %>
                  <% courses.each do |cu| %>
                      <!--< @cort = Course.find(cu.course_id) %>
                      < if @cort.network_id == current_network.id %>
                          < if @cort.active_status == true %>
                              < if cu.owner == true %>-->
                                  <% member_course = MembersInCourse.find_by_course_id(cu.id) %>
                    <% if member_course.network_id == current_network.id %>
                        <% if member_course.active_status == true %>
                            <% if member_course.owner == true %>
                                  <li><%= link_to "#{member_course.title}", course_path(member_course.id) %></li>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
            </ul>
          </div>
          </div>