<div class="profile-cover-photo" style="background-image: url(<%= @course.coverphoto.blank? ? "/assets/#{@course.image_coursex}" : @course.coverphoto %>)">
  <% if flash[:notice] %>
  <div id="course_update_notice"><%= notice %></div>
     <script>
       setTimeout(function(){
           $('#course_update_notice').remove();
     },3000);
    </script>
  <%end%>

  <% permitted_to? :create, :courses do %>
    <div class="wrapper spaced">
      <div class="admin-buttons">
        <% if current_role == 'admin' || @member.owner != nil && @member.owner == true %>
          <div class="group-buttons hard-border">
            <div class="button">
              <%= link_to "Monitor de Actividades", course_activities_depot_path, class: 'btn btn-small btn-secondary' %>
            </div>
            <div class="button">
              <%= link_to "Linea de Tiempo", statistics_in_course_path( @course.id ), class: 'btn btn-small btn-secondary' %>
            </div>
            <div class="button">
              <div class="dropdown-wrap">
                <div class="dropdown-pull">
                  <span class="btn btn-small btn-secondary">
                    <div class="triangle-wrapper" ><span class="triagle-8"></span></div>
                  </span>
                </div>
                <div class="dropdown-v right">
                  <i class="tip"></i>
                  <ul>
                    <li>
                      <%= link_to "Editar", edit_course_path( @course.id ) %>
                    </li>
                    <li>
                      <%= link_to "Clonar", clone_course_view_path %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <% end %>
</div>

<% @course.expired? %>

<% @incourse = true %>

<div class="profile-user-bar">
  <div class="wrapper spaced">
    <div class="profile-name-avatar">
      <div class="profile-avatar" id="box-user-credential" >
        <%= link_to course_path(@course.id) do %>
          <span class="avatar-holder">
            <%= avatar('course', '150', 'no', @course.id, "avatar", "no", "no") %>
          </span>
        <% end %>
      </div>
      <%= link_to course_path(@course.id) do %>
        <h1><%= @course.title %></h1>
      <% end %>
    </div>

    <div class="profile-navigation">
      <ul>
        <li>
          <%= link_to "Información", about_course_path %>
        </li>
        <li>
          <%= link_to "Miembros", course_members_path %>
        </li>
        <li>
          <%= link_to "Biblioteca", library_in_course_path %>
        </li>
      </ul>
    </div>
  </div>
</div>