<% permitted_to? :create, :courses do %>

<!--manejo de cursos rapido-->    
<div class="title_dxv" style="margin-bottom:80px;">
          <div id="configurationing">
            <div class="header">
                <h1 style="margin-left:10px; padding:2px;"> Acceso rápido de administración de cursos    
                </h1>
            </div>
          </div>

<div class="form-course fixform">
	<% course_for_user.each do |course|%>
	<!-- estamos creando un container especial para que no se descomponga el layout -->
	<div class="list_alt_box" id="propyety_course_<%= course.id %>">
	    <div class="headerOne">
	        <h1><%= link_to "#{course.title}", course_path(course.id) %></h1>
	        <div class="status">
	            <%if  course.active_status == true%>
	             <span class="course_status">
	             	<%= link_to "Desactivar", active_status_path(course.id), :remote => true %>
	             </span>
	            <%else%>
	              Inactivo <%= link_to "activar curso", active_status_path(course.id), :remote => true %>
	            <%end%>
	        </div>
	    </div>
	    
	    <div class="top-header-delivery-box">
	      <%= link_to "Monitor de actividades", course_activities_depot_path(course.id) %>
	    </div>
	   
	</div>
	
	 <%end%>
</div>
	
	<!--termina el container-->

	<!-- comienza deliveries courses -->
	<% current_user.courses.each do |course|%>     
	<% if  course.deliveries.count != 0 %>
	<div class="light_box" id="delivery_list_<%= course.id %>"  style="display:none" >	
	
		<div id="headerBar">
			<h1>Tareas en el curso<pre style="display:inline;">               </pre>Calificaciones</h1>
		</div>
	    <div><a id="close_x" class="close CloseWinWd" href="#"><center>x</center></a></div>

	    <div class="deliveries_list">
	    	
	        <% course.deliveries.reverse.each do |delivery|%>

	            <div id="titleDevSing" class="title_from_delivery_<%=delivery.id%>">
	                <% @delivery_id = delivery.id %>
	                <% @course_id = course.id %>
	                <a><b><%= link_to "#{delivery.title}", edit_delivery_access_path(delivery.id, :data => course.id) , :remote =>  true  %> - (<%= delivery.assignments.count%>) </b> </a>
	            </div>
	       
	            <% delivery.assignments.each do |assignment|%>
	            
	            <div id="assignment_id_al_<%= delivery.id %>" class="aSSigmentHW">
	                 <%= render :partial => "courses/delivery_menu", :locals => {:assignment => assignment, :course => course}%>
	            </div>
	            
	            <%end%>
	         <%end%>
	        
	    </div>

        <div id="locomotion_<%=course.id%>" class="locklok">
            <div id="locomotion_<%=course.id%>delivery" class="locklokDel"></div>
            <div id="locomotion_<%=course.id%>assignment"></div>
        </div>
	</div>   
	
	<%end%>
	<%end%>
	<!--termina deliveries-->
	<!--comienza surveys -->
	<% current_user.courses.each do |course|%>     
	<% if  course.surveys.count != 0 %>
	       <div class="light_box" id="survey_list_<%= course.id %>" style="display:none"  >
	            <a id="close_x" class="close close_l" href="#"><center>x</center></a>

<div class="test_exam_list">
	        <% course.surveys.each do |survey|%>
				  
				<div class="" style="border-bottom: 1px solid #EEEEEE; padding: 10px 20px;">
				Contador de examenes respondidos   <%= survey.user_surveys.count%>
	               <div id="title_from_delivery<%=survey.id%>">
	                   <b><%= survey.name %></b>
	                   <% survey.user_surveys.each do |user_survey|%>
	                       <%= user_survey.evaluation %>
	                   <%end%>
	               </div>
	            </div>
	        <%end%>
</div>
	            
	         </div>
	         
	         
	<%end%>
	<%end%>
	</div>
<%end%>

