<% permitted_to? :create, :courses do %>

    
<div class="title_dxv">
    <h1> Acceso rápido de administración de cursos </h1>
    
    
<div class="black-delivery-box">
<% current_user.courses.each do |course|%>


 <!-- estamos creando un container especial para que no se descomponga el layout -->
 
 <div class="list_alt_box">
      <div class="header">
        <%= course.title %>
      </div>
      
      <div class="top-header-delivery-box">
        <ul>
          <li id="tareas_list_<%= course.id %>" ><div class="green-circle-mini" ></div><span>Tareas</span></li>
          <li id="cuestrionario_list_<%= course.id %>"><div class="orange-circle-mini"></div><span>Cuestionario</span></li>
        </ul>
      </div>
      <script>
          $("#tareas_list_<%= course.id %>").click(function(){

                 $('#delivery_list_<%= course.id %>').toggle('slow', function() {

                  });
             });
            $("#cuestrionario_list_<%= course.id %>").click(function(){

                   $('#survey_list_<%= course.id %>').toggle('slow', function() {

                    });
            });

      </script>
<% if  course.deliveries.count != 0 %>
          
           <div class="deliveries_list" id="delivery_list_<%= course.id %>" >
                                    
             <% course.deliveries.each do |delivery|%>
                  <div id="title_from_delivery<%=delivery.id%>" class="">
                      <% @delivery_id = delivery.id %>
                      <% @course_id = course.id %>
                      <%= delivery.title %> - (<%= delivery.assignments.count%>)
                  </div>
                <!-- aqui va el codigo recortado-->
             <%end%>
             
         
          </div>
<%end%>
<% if  course.surveys.count != 0 %>

             <div class="survey_list" id="survey_list_<%= course.id %>" >
                <% course.surveys.each do |survey|%>
                   contador de examens respindidos   <%= survey.user_surveys.count%>

                   <div id="title_from_delivery<%=survey.id%>">
                       <b><%= survey.name %></b>
                       <% survey.user_surveys.each do |user_survey|%>
                           <%= user_survey.evaluation %>
                       <%end%>
                   </div>
                <%end%>
             </div>
<%end%>
</div>
<!--finaliza div de integracion como container-->
        <%end%>

      </div>
<%end%>
</div>

