<% permitted_to? :create, :courses do %>
    <div class="top-header-delivery-box">
      <ul>
        <li><div class="green-circle-mini"></div><span>Tareas</span></li>
        <li><div class="orange-circle-mini"></div><span>Cuestionario</span></li>
      </ul>
    </div>
    <div class="black-delivery-box">

      <div class="header">
        Titulo
      </div>
      <div class="content">
        <% current_user.courses.each do |course|%>
             <% course.deliveries.each do |delivery|%>
                  <div id="title_from_delivery<%=delivery.id%>" class="">
                      <% @delivery_id = delivery.id %>
                      <% @course_id = course.id %>
                      <%= delivery.title %> - (<%= delivery.assignments.count%>)
                  </div>
                  <%#= render partial: "assignments/form_for_delivery"%>
                  <!--
                  <% delivery.assignments.each do |assignment|%>
                      <%= @user_id = assignment.user_id %>
                      <% @user = User.find_by_id(@user_id)%>
                      <%= image_tag(@user.avatar.mini) %><%= @user.name %>
                      <%= assignment.title%></br>
                      <%= assignment.brief_description %></br>
                      <%if assignment.accomplishment == nil %>
                       <%= "0" %></br>
                      <%else%>
                      <%= assignment.accomplishment %></br>
                      <%end%>

                            <b> criterios </b></br>

                                <%= form_for assignment do |assignment|%>
                                    <%= assignment.fields_for :response_to_the_evaluations do |response|%>
                                       <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>                            <%end%>
                                        <b>Calificación</b></br>
                                       <%= assignment.number_field :accomplishment %>
                                     <%= assignment.submit %>
                                <% end %>
                  <%end%>
                  -->
             <%end%>

             <div class=" list_of_survey">
                <% course.surveys.each do |survey|%>
                   contador de examens respindidos   <%= survey.user_surveys.count%>

                   <div id="title_from_delivery<%=survey.id%>">
                       <b><%= survey.name %></b>
                       <% survey.user_surveys.each do |user_survey|%>
                           <%= user_survey.evaluation %>
                       <%end%>
                   </div>
                <%end%>
             </div>
        <%end%>
      </div>
    </div>
<%end%>

