<!-- se hace un retiro de código del código anterior ya que users esta mas definido -->
<div style="overflow:auto!important;height:500px;">
  <%if @member.nil?%>
    <h3>No eres parte del grupo!</h3>
  <%elsif !@member.accepted%>
    <h3>No has sido aceptado en el grupo!</h3>
  <%elsif @member.owner%>

  <div id="configurationing" style="overflow:auto;">
	  	<h1 style="margin-left:10px; padding:2px;">Calificaciones del curso</h1>
	  	<p id="pdf_link"><%= link_to "Descargar (PDF)", course_evaluation_path(@course, :format => "pdf") %>
   </div>

   <div class="form-course fixform" style="padding:20px 20px 41px 20px!important;width:784px!important;overflow:auto!important;">
		     <!--para poder hacer el render partial-->
   <%  @course = Course.find(params[:id])%>
   <%  @member = MembersInCourse.find_by_user_id_and_course_id(current_user.id, @course.id) %>
		
		    <%@course.members_in_courses.each do |member| %>
		      <%user = User.find_by_id(member.user_id)%>
		      <% if !member.owner then%>
		        <%table = member.doTableCourse%>
		        <span class="califHeader">Calificacion: <%=table[2]%></span>
		        <h4 style="margin-top: 45px;">Alumno: <%=user.email%></h4>
		        
		        <table border="1" width="780" cellpadding="3" cellspacing="3" id="calificacionesSpan">
		          <tr>
		            <td width="250px"><p>Tarea</p></td>
		            <td><p>Entrega</p></td>
		            <td><p>Rubros</p></td>
		            <td><p>Calificación</p></td>
		            <td><p>% de la Evaluación<p></td>
			        <td><p>% Final</p></td>
		          </tr>
			        <%for i in 0...table[0][0].size%>
			        <%delivery = table[0][0][i]%>
			        <%assignment = table[0][1][i]%>
		          <tr>
		            <td valign="top" class="containText" bgcolor="#fff"><%=delivery.title%></td>
		            <%if !assignment.nil? then%>
		            <td valign="top" class="containText" bgcolor="#ddd"><%=assignment.title%></td>
		            <td valign="top" class="containText" bgcolor="#fff">
		                <% for j in 0...assignment.response_to_the_evaluations.size%>
		                <!-- El rubro del assignment -->
		                  <%= assignment.response_to_the_evaluations[j].name%>
		                  <%if !(j == assignment.response_to_the_evaluations.size - 1) then%>
		                    </br>
		                  <%end%>
		                <%end%>
		            </td>
		            <td valign="top" class="containText" bgcolor="#ddd"><%=assignment.accomplishment%></td>
		            <%else%>
		            <%end%>
		            <%end%>
			          <td valign="top" class="containText" colspan="2" bgcolor="#fff"><%=table[0][2][0]%></td>
			          <td valign="top" class="containText" colspan="2" bgcolor="#ddd"><%=table[0][2][1]%></td>
		          </tr>
		      </table>
		      
		      <table border="1" width="780" cellpadding="3" cellspacing="3" style="margin-top:20px; margin-bottom: 45px;">
		      <tr>
		        <td width="250px"><p>Examen</p></td>
		        <td><p>Calificacion</p></td>
		        <td><p>Calificación Examenes</p></td>
		        <td><p>% de la Evaluación</p></td>
		        <td><p>% Obtenido</p></td>
		      </tr>
		        <%for i in 0...table[1][0].size%>
		          <tr>
		          <td valign="top" class="containText" ><%=table[1][0][i].name%></td>
		          <td valign="top" class="containText" >
		            <% if !table[1][1][i].nil? then%>
		            <%= table[1][1][i].result%>
		            <%end%>
		          </td>
		          <td></td>
		        </tr>
		        <%end%>
		        <tr>
		          <td valign="top" class="containText" ><%=table[1][2][0]%></td>
		          <td valign="top" class="containText" ><%=table[1][2][1]%></td>
		          <td valign="top" class="containText" ><%=table[1][2][2]%></td>
		        </tr>
		      </table>
		      <%end%>
		      </br>
		    <%end%>
		    </div><!-- ends fixform -->
		<%else%>

  <div id="configurationing">
	  	<h1 style="margin-left:10px; padding:2px;">Calificación del curso</h1>
	  	<p id="pdf_link"><%= link_to "Descargar (PDF)", course_evaluation_path(@course, :format => "pdf") %>
   </div>
   <div class="form-course fixform" style="padding:20px 20px 41px 20px!important;">
		  <%user = current_user%>
		    <%table = @member.doTableCourse%>

		    	<span class="califHeader" style="margin-top:-20px;">Calificacion: <%=table[2]%></span>
		        <h4 style="margin-top: 45px;">Alumno: <%=user.email%></h4>
		    </br>
		    <table border="1" width="750" cellpadding="3" cellspacing="3">
		    <tr>
		      <td><p>Tarea</p></td>
		      <td><p>Entrega</p></td>
		      <td><p>Rubros</p></td>
		      <td><p>Calificación</p></td>
		      <td><p>% de la Evaluación</p></td>
		      <td><p>% obtenido</p></td>
		    </tr>
		      <%for i in 0...table[0][0].size%>
		      <%delivery = table[0][0][i]%>
		      <%assignment = table[0][1][i]%>
	        <tr>
	          <td valign="top" class="containText" ><%=delivery.title%></td>
	          <%if !assignment.nil? then%>
	            <td valign="top" class="containText" ><%=assignment.title%></td>
	            <td valign="top" class="containText" >
	              <% for j in 0...assignment.response_to_the_evaluations.size%>
	              <!-- El rubro del assignment -->
	                <%= assignment.response_to_the_evaluations[j].name%>
	                <%if !(j == assignment.response_to_the_evaluations.size - 1) then%>
	                  </br>
	                <%end%>
	              <%end%>
	            </td>
	            <td valign="top" class="containText" ><%=assignment.accomplishment%></td>
	          <%else%>
	          <td></td>
	          <%end%>
		      <%end%>
		        <td valign="top" class="containText" > <%=table[0][2][0]%></td>
		        <td valign="top" class="containText" > <%=table[0][2][1]%></td>
		      </tr>
		    </table>
		    
		    <table border="1" width="750" cellpadding="3" cellspacing="3">
		    <tr>
		      <td><p>Examen</p></td>
		      <td><p>Calificación</p></td>
		      <td><p>% de la Evaluación</p></td>
		      <td><p>Calificación exámenes</p></td>
		      <td><p>% Obtenido</p></td>
		    </tr>
		      <%for i in 0...table[1][0].size%>
		    <tr>
	        	<td valign="top" class="containText" ><%=table[1][0][i].name%></td>
		        <td valign="top" class="containText" ><% if !table[1][1][i].nil? then%><%= table[1][1][i].result%><%end%></td>
		         <%end%>
		        <td valign="top" class="containText" ><%=table[1][2][0]%></td>
		        <td valign="top" class="containText" ><%=table[1][2][1]%></td>
		        <td valign="top" class="containText" ><%=table[1][2][2]%></td>
		      </tr>
		    </table>
		    
		    </div><!-- ends fixform -->
		    <%end%>
</div>