<div style="margin-left:70px;">
<%= form_for(@course, :html => { :class => "default-form edit-course"}, :remote => true) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= f.label :avatar %>
  <%= f.file_field :avatar%></br>
  <%= f.label :imagen_de_cabecera %>
  <%= f.file_field :coverphoto%> 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= f.label :silabus %>
    <%= f.text_area :silabus %>
    <%= f.label :fecha_de_inicio %>   
    <%= f.text_field :init_date, :placeholder=>'Fecha inicio', :class=>"date-input" %>
    <%= f.label :imagen_de_finalización %>    
    <%= f.text_field :finish_date, :placeholder=>'Fecha final', :class=>"date-input" %>
    <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
    <%= f.submit "Actualizar Curso" %>
<% end %>
<script type="text/javascript">
    $("#create_course_form").on('click',function(){
       //$(".ui-widget-overlay").css('display','block');
    });

    $(document).ready(function() {
        $(function() {
            $( "#course_init_date, #course_finish_date" ).datepicker({
                inline: true,
                minDate: 0,
                showOtherMonths: true,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
            });
        });
    });
</script>
</div>
