<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :silabus %><br />
    <%= f.text_area :silabus %>
  </div>
  <div class="field">
    <%= f.label :init_date %><br />
    <%= f.datetime_select :init_date %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.text_field :finish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
