- content_for :javascripts do
  = javascript_include_tag 'courses/form'
  = javascript_include_tag 'courses/users-autocomplete'

= form_for @course, html: { id: 'create-course-form' } do |f|
  .body.padded

    .form-group
      .form-group-label
        = f.label :title, t('.name')
        %label
      .form-group-main
        .form-unit
          = f.text_field :title, placeholder: t('.example'), required: "required", autocomplete: "off"

    .form-group
      .form-group-label
        = f.label :silabus, t('.descrip')
      .form-group-main
        .form-unit
          = f.text_area :silabus, rows: 4, placeholder: t('.descrip2'), required: "required", autocomplete: "off"

    .form-group
      .form-group-label
        = f.label :public_status, t('.privacy')
      .form-group-main
        .form-unit
          = f.select :public_status, options_for_select([[t('.public'), 'public'],[t('.private'), 'Private']], @course.public_status)

    .form-group
      .form-group-label
        = f.label :init_date, t('.init_date')
      .form-group-main
        .f-col.f-col-7
          .form-unit
            = f.text_field :init_date, placeholder: t('.init_date'), class: "date-picker", value: (f.object.init_date.strftime('%d/%m/%Y') if !f.object.init_date.nil? ), required: "required", autocomplete: "off"
    - if current_network.subdomain == "meems" && @course.school_id.nil?
      = render partial: 'courses/shared/cct_form', locals: { f: f }

    .form-group
      .form-group-label
        =f.label 'admins', t('.teachers')
      .form-group-main
        .form-unit
          .table-box#course-teachers-list
            .table-box-header
              = text_field_tag 'teachers-search', '', id: 'teachers-search-input', placeholder: t('.first_name'), data: { role: 'teachers' }
              .spinner-dark
            .table-box-body.scrollbar
              .users-list
                - unless @course.new_record?
                  - unless @course.teachers.blank?
                    - @course.teachers.each do |teacher|
                      .table-box-unit{ data: { user_id: teacher.id, user_role: "teachers" } }
                        - member = MembersInCourse.find_by_user_id_and_course_id(teacher.id, @course.id) unless @course.nil?
                        %label{class: "table-box-unit-inner#{member.nil? ? "" : " active"}"}
                          = avatar('user', '30', "no", teacher.id, "avatar", "no", "no")
                          %span= teacher.last_name + " " + teacher.first_name
                          .delete= icon('w-cross-9-gray')
                          = check_box_tag("teachers["+teacher.id.to_s+"]", value = member.nil? ? "0" : member.accepted ? "1" : "0", checked = member.nil? ? false : member.accepted)
                - if @course.new_record? || @course.teachers.blank?
                  .inner-no-content
                    %h5= t('.add_teachers_into_course')
                    %p= t('.find_teachers_for_admin')
    .form-group
      .form-group-label
        = f.label 'students-search', t('.students') + ":", for: 'students-search-input'
      .form-group-main
        .form-unit
          = hidden_field_tag "check_members", true
          .table-box#autocomplete-users-box
            .table-box-header
              = text_field_tag 'students-search', '', id: 'students-search-input', placeholder: t('.first_name'), data: { role: 'students' }
              .spinner-dark
            .table-box-body.scrollbar
              .users-list
                - unless @course.new_record?
                  - unless @course.students.blank?
                    - @course.students.each do |student|
                      - member = MembersInCourse.find_by_user_id_and_course_id(student.id, @course.id)
                      .table-box-unit{ data: { user_id: student.id, user_role: 'students' } }
                        %label{class: "table-box-unit-inner#{member.nil? ? "" : " active"}"}
                          = avatar('user', '30', "no", student.id, "avatar", "no", "no")
                          %span= student.last_name + " " +student.first_name
                          .delete= icon('w-cross-9-gray')
                          = check_box_tag("students["+student.id.to_s+"]", value = member.nil? ? "0" : member.accepted ? "1" : "0", checked = member.nil? ? false : member.accepted)
                - if @course.new_record? || @course.students.blank?
                  .inner-no-content
                    %h5= t('.add_students')
                    %p= t('.find_students')
  .footer
    .fl
      %span.btn.btn-primary.input-btn.activable
        = f.submit "#{ @course.new_record? ? "#{t('.create')}" : "#{t('.save')}" }", class: "activable"
    .fr
      - unless @course.new_record?
        = link_to t('.delete'), @course, confirm: t('.confirm'), method: :delete, style: 'line-height: 32px;'
