<div style="margin-left:70px;">
<%= form_for(@course, :html => { :class => "default-form edit-course"}, :remote => true) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
  <%= f.label :avatar %>
  <%= f.file_field :avatar%></br>
  <%= f.label :imagen_de_cabecera %>
  <%= f.file_field :coverphoto%> 
  <div class="field">
    <%= f.label :title, 'Titulo' %><br />
    <%= f.text_field :title %>
    <%= f.label :silabus, 'Descripción' %>
    <%= f.text_area :silabus, :rows => 7, :cols => 76, :placeholder=>'Descripción' %>
    <%= f.label :fecha_de_inicio %>   
    <%= f.text_field :init_date, :placeholder=>'Fecha inicio', :class=>"date-input", :value => (f.object.init_date)? f.object.init_date.strftime('%m/%d/%Y'):f.object.init_date  %>
    <%= f.label :imagen_de_finalización %>    
    <%= f.text_field :finish_date, :placeholder=>'Fecha final', :class=>"date-input", :value => (f.object.finish_date)?f.object.finish_date.strftime('%m/%d/%Y'):f.object.finish_date  %>
    <%= f.label :public_status, 'Privacidad' %>
    <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
    <%= f.label :Valor_de_examenes%>
    <div id="content-slider-course-1" class="slider-content"><div id="slider-course-1" class="slider"></div></div>
    <%= f.text_field :survey_param_evaluation, :class=> 'percent-input' %>

    <%= f.label :Valor_de_tareas_o_entregas %>
    <div id="content-slider-course-2" class="slider-content"><div id="slider-course-2" class="slider"></div></div>
    <%= f.text_field :delivery_param_evaluation , :class=> 'percent-input' %>
    
    <%= f.submit "Actualizar Cursosss" %>
<% end %>
<script type="text/javascript">
    $("#create_course_form").on('click',function(){
       //$(".ui-widget-overlay").css('display','block');
    });

        $(function() {
            $( "#course_init_date, #course_finish_date" ).datepicker({
                inline: true,
                minDate: 0,
                showOtherMonths: true,
                dateFormat: 'dd/mm/yy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
            });

            var nestedNewCourseSlider = new NestedSlider(false);
            nestedNewCourseSlider.initSlider ( $('#slider-course-1'), $('#course_survey_param_evaluation'), $('#course_survey_param_evaluation') );
            nestedNewCourseSlider.initSlider ( $('#slider-course-2'), $('#course_delivery_param_evaluation'), $('#course_delivery_param_evaluation') );
        });
</script>
</div>
