<!-- estilo eliminado style="margin-left:70px;" -->

<script>
  function readURL(input, id, width) {
    if (input.files && input.files[0]) {
		  var reader = new FileReader();
		  reader.onload = function (e) {
		    $('#' + id)
		    .attr('src', e.target.result)
		    .width(width)
		    .height(68);
		  };
		  reader.readAsDataURL(input.files[0]);
		}
  }
</script>

<div class="form-course"><!-- estilo en courses.scss -->
  <div style="width:400px; float:left;">
    <%= form_for(@course, :html => { :class => "default-form edit-course"}) do |f| %>
      <p>Nombre del curso</p>
      <%= f.text_field :title, :class=>"input-style" %>
      
      <p>Nombre del curso</p>
      <%= f.text_area :silabus, :rows => 7, :cols => 50, :placeholder=>'Descripción', :class=>"input-style" %>
      
      <div style="float: right; margin-right: 20px;">
	      <p><%= f.label :public_status, 'Privacidad' %></p>
	      <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
	    </div>
	    <div class="UpdateSubmit" style="float: left; margin-top: 7px;"><%= f.submit "Actualizar Curso", :class=>"act-crs" %></div>
	</div>
	
	<div class="default-form edit-course" style="width:380px; float:left;">
      <%#= f.text_field :survey_param_evaluation, :class=> 'percent-input' %>
      
      <div class="UpdateBox">
        <div class="UpdateLeft">
          <p style="clear: both;"><%= f.label :avatar%></p>
          
          <div style="height: 80px;"><%= image_tag(@course.avatar.blank? ? '/assets/'+ @course.course_avatarx  :  @course.avatar.profile, :width =>"64",:style =>"margin-left:40px",:class => "avatar-mini avatar", :id =>"img_prev_course_avatar" )%>
          </div>  
          <%= f.file_field :avatar, :class=>"stylizeForm" , :onchange => "readURL(this,'img_prev_course_avatar',64);"%>
        </div>
        
        <div class="UpdateRight">
          <p><%= f.label :imagen_de_cabecera %></p>
          
          <div style="height: 80px;"><%= image_tag(@course.coverphoto.blank? ? '/assets/'+ @course.image_coursex  :  @course.coverphoto, :width =>"168", :height =>"68",:class => "avatar-mini avatar", :id =>"img_prev_course_header")%>
          </div>
          <%= f.file_field :coverphoto, :class=>"stylizeForm" , :onchange => "readURL(this,'img_prev_course_header',168);"%>
        </div>
      </div>
      
      <div class="UpdateBox">
        <div class="UpdateLeft">
          <p><%= f.label :Valor_de_examenes%></p>
          <%= f.text_field :survey_param_evaluation, :class=>"custom-size-form" %>
        </div>

	<div class="UpdateRight">
	<p><%= f.label :Valor_de_tareas_o_entregas %></p>
	<%= f.text_field :delivery_param_evaluation, :class=>"custom-size-form" %>
	</div>
</div>

<div class="UpdateBox">
	<div class="UpdateLeft">
	<p><%= f.label :fecha_de_inicio %></p>
	 <%= f.text_field :init_date, :placeholder=>'Fecha inicio', :class=>"date-input", :value => (f.object.init_date)? f.object.init_date.strftime('%m/%d/%Y'):f.object.init_date  %>
	</div>
	
	<div class="UpdateRight">
<p><%= f.label :fecha_de_finalización %></p>
<%= f.text_field :finish_date, :placeholder=>'Fecha final', :class=>"date-input", :value => (f.object.finish_date)?f.object.finish_date.strftime('%m/%d/%Y'):f.object.finish_date  %>
	</div>
</div>

    
 <!--  <div id="content-slider-course-2" class="slider-content"><div id="slider-course-2" class="slider"></div></div> -->
    <%#= f.text_field :delivery_param_evaluation , :class=> 'percent-input' %>
    

<% end %>
<script type="text/javascript">
    $("#create_course_form").on('click',function() {});
        $(function() {
            $("#course_init_date, #course_finish_date" ).datepicker({
                inline: true,
                minDate: 0,
                showOtherMonths: true,
                dateFormat: 'dd/mm/yy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
            });
        });
</script>
</div>
</div>

