    <div class="header_l">
        
       <h1>  <%= assignment.title%> </h1>
        <div class="description">
        <%= assignment.brief_description %>
        </div>
    </div>
    <div class="body_l">
     

     <%if assignment.accomplishment == nil %>
     <%= "0" %></br>
     <%else%>
     <%= assignment.accomplishment %></br>
     <%end%>
      <b> criterios </b></br>

         <%= form_for assignment do |assignment|%>
             <%= assignment.fields_for :response_to_the_evaluations do |response|%>
                 <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>
             <%end%>
                 <b>Calificación</b></br>
                 <%= assignment.number_field :accomplishment %>
                 <%= assignment.submit "Enviar tarea", :class => 'btn_l' %>
         <% end %>
   </div>
</div>