    <div class="header_l">        
       		<span class="usermenuTitle"><%= assignment.title%></span>
        <div class="description">
        	<span class="userDescription"><%= assignment.brief_description%></span>
        </div>
    </div>
    <div class="body_l" id="accomplishment">
     <%if assignment.accomplishment == nil %>
	      <span class="nombreCrit" id = "i_rub_l_<%= assignment.id%>"><%= assignment.response_to_the_evaluations.sum(:rub_calification)%></span></br>
	 <%else%>
	     <span class="rate"  id = "i_rub_l_<%= assignment.id%>"><%= assignment.accomplishment %>%</span></br>
     <%end%>
     <% assignment.assets.each do |aa|%>
         <% @file =  aa.file %>
         <% @string =  @file.to_s.split('/').last%>
        <%= link_to simple_format("#{(@string)}"), "http://#{current_network.subdomain}.#{links}#{aa.file}"%>
        
     <%end%>
      <span class="usermenuTitle">Criterios de calificación</span>
        <%= form_for assignment, remote: true   do |assigments_l |%>
            <% if assignment.response_to_the_evaluations.count != 0%>
                <%= assigments_l.fields_for :response_to_the_evaluations  do |response| %>
              
                <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>
              
                <%end%>
            <%else%>
                 <%=assigments_l.label :calificación%>
                <%= assigments_l.number_field :rub_calification%>
            12qw1	º<%end%>
            <br />
          <span class="default-form" style="width:150px;"><%= assigments_l.submit "Calificar tarea"%></span>
       <%end%>
    
   </div>
</div>