
<div class="cogki_content_delivery delivery-submited-wrap">
  <div class="back-to-activity">
    <a class="show-activity-feed" href="" title="Atras" data-type="tarea" data-id="<%= assignment.delivery_id %>"><%= icon('arrow-gray-left') %> Atras</a>
  </div>
  <div class="delivery-submited-content">
    <div>
      <span class="meta-info">Alumno:</span>
      <p><%= link_to assignment.user.name, show_user_path(assignment.user.personal_url) %></p>
    </div>
    <div>
      <span class="meta-info">Titulo de entrega:</span>
      <p><%= assignment.title%></p>
    </div>
    <div>
      <span class="meta-info">Descripción de entrega:</span>
      <p><%= assignment.brief_description%></p>
    </div>
    
    <% if assignment.assets.count > 0 || assignment.contents.count > 0 %>
      <div class="assets">
        <span class="meta-info">Archivos de la entrega:</span>
        
        <% domain = "http://#{current_network.subdomain}.#{links}" %>
        <% assignment.assets.each do |aa|%>
          <% @file =  aa.file %>
          <% @string_file =  @file.to_s.split('/').last%>
          <div id="<%= aa.id %>_file">
            <%= link_to truncate( "#{domain}#{aa.file}", :omission => "...", :length => 60), "#{domain}#{aa.file}", :target => '_blank' %>

          </div>
       <%end%>
       
        <% assignment.contents.each do |as|%>
          <% @refer_content = as.content.split('/').last%>
          <div id="<%= as.id %>_content">
            <%= link_to truncate( as.content, :omission => "...", :length => 60), as.content, :target => '_blank' %>
          </div>
        <%end%>
      
      </div>
    <% end %>
  </div>

  <div class="delivery-submited-evaluation-fields" id="accomplishment">
    <%= form_for assignment, remote: true   do |assigments_l |%>
      <% if assignment.response_to_the_evaluations.count != 0%>      
        <div class="evaluation-fields-title">
          <h4>Criterios de calificación</h4>
          <p>Por favor selecciona un porcentaje de 1 a 100 para calificar esta tarea</p>
        </div>

        <%= assigments_l.fields_for :response_to_the_evaluations  do |response| %>
          <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>
        <%end%>
      <%else%>
        <div class="evaluation-fields-title">
          <h5>Calificación de la tarea</h5>
          <p>Seleccione un porcentaje de 1 a 100 para calificar esta tarea</p>
        </div>

        <div class="homeworkCalf">
          <div class="form-group">
            <div class="form-group-label">
              <%= assigments_l.label :Calificación  %>
            </div>
            <div class="form-group-main">
              <div class="form-unit">
                <%= assigments_l.number_field :rub_calification %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      
      <div class="delivery-submited-evaluation-footer">
        <div class="fl">
          <ul class="list-buttons left">
            <li>
              <span class="btn btn-primary input-btn">
                <%= assigments_l.submit "Calificar tarea"%>
              </span>
            </li>
          </ul>
        </div>
        <div class="fr">
          <%if assignment.accomplishment == nil %>
            <h3>Calificación: <span id="i_rub_l_<%= assignment.id%>"><%= number_with_precision(assignment.response_to_the_evaluations.sum(:rub_calification), :precision => 2 )%></span></h3>
          <%else%>
            <h3>Calificación: <span id="i_rub_l_<%= assignment.id%>"><%= number_with_precision(assignment.accomplishment, :precision => 2) %>%</span></h3>
          <%end%>
        </div>
      </div>
    <%end%>
       
  </div>
</div>
