<% permitted_to? :create, :courses do %>
<div class="title_dxv" style="margin-bottom:80px;">

        <div id="configurationing">
            <h1 style="margin-left:10px; padding:2px;"><%=t('.antique')%></h1>
        </div>
        
        <div class="form-course fixform">
        <% old_course_for_user.each do |course|%>

            <!-- estamos creando un container especial para que no se descomponga el layout -->
            
            <div class="list_alt_box" id="propyety_course_<%= course.id %>">
                <div class="headerOne">
                    	<h1><%= course.title %></h1>
                    <div class="status">
                        <%if  course.active_status == true%>
                          Activo <%= link_to t('.deactivate'), active_status_path(course.id), :remote => true %>
                        <%else%>
                          <span class="course_status"><%= link_to t('.activate'), active_status_path(course.id), :remote => true %></span>
                        <%end%>
                    </div>
                </div>
             </div>             
       <%end%>       
       </div>       
</div>
<%end%>
