    <%#= debug  responces%>
<span class="rateTwo">Resultados: <%= number_with_precision(responces.evaluation, :precision => 2)%> </span>

<span class="resultsExams">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<!--
			<td valign="top" width="150px" style="color:#333;">Respuesta alumno</td>
			<td valign="top" width="180px" style="color:#333;">Respuesta correcta</td>
			<td valign="top" width="50px" style="color:#333;">Resultado</td>
			-->
			<td valign="top" width="38%" style="padding: 2% 0 2% 2%; color:#333;">Respuesta alumno</td>
			<td valign="top" width="38%" style="padding: 2% 0 2% 2%; color:#333;"><!--Respuesta correcta--></td>
			<td valign="top" width="18%" style="padding: 2% 0 2% 2%; color:#333;">Resultado</td>
			
		</tr>
			<p class="responUser" style="width: 100%; font-size: 20px; font-weight: 100; padding: 17px 0 0 0!important;"><%= responces.user.name%></p>
			<% responces.user_survey_responses.each do |r| %>
		<tr>
		</table>

				<% @question = Question.find(r.question_id)%>
				<span class="QuestionAsk">
					<b>Pregunta:</b><%= @question.content%>
				</span>


			<div class="AnswerContainer" style="width: 100%; min-height: 40px; display: block; background: #FFF;">
				<span class="AnswerAsk">
					<% @answer = Answer.find(r.answer_id)%>
					<%= @answer.content %>
				</span>
				
				<span class="resultAnswer">
					<% if  @answer.correct == true %> 
					    <%= image_tag('icons/icon_true.png')%>
					<%else%>
					    <%= image_tag('icons/icon_false.png')%>
						
					<%end%>
				</span>

			</div>
				
            </p>

    <%end%>
</span>