<div class="cogki_content_delivery delivery-submited-wrap">
  <div class="back-to-activity">
    <a class="show-activity-feed" href="" title="Atras" data-type="survey" data-id="<%= responces.survey_id %>">
    	<%= icon('arrow-gray-left') %>
    	<%=t('.back')%>
    </a>
  </div>
	
	<div class="delivery-submited-content">
    <div>
      <span class="meta-info"><%=t('.student')%>:</span>
      <p><%= link_to responces.user.name, show_user_path(responces.user.personal_url) %></p>
    </div>
    <div>
      <span class="meta-info"><%=t('.result')%>:</span>
      <p><%= number_with_precision(responces.evaluation, :precision => 2)%></p>
    </div>
  </div>

  <div class="delivery-submited-evaluation-fields">
  	<ul class="survey-items-list">
		<% responces.user_survey_responses.each do |r| %>
			<% @question = Question.find(r.question_id) %>
			<% @answer = Answer.find(r.answer_id) %>
			<li>
				<div class="survey-item">
					<div class="survey-item-question">
						<p><%= @question.content%></p>			
					</div>
					<div class="survey-item-answers">
						<span class="meta-info"><%=t('.respose')%>:</span>
            <div class="survey-item-answer-content">
              <% if  @answer.correct == true %> 
                <%= image_tag('icons/icon_true.png')%>
              <%else%>
                <%= image_tag('icons/icon_false.png')%>
              <%end%>
              <p><%= @answer.content %></p>
            </div>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
  </div>

</div>