<div class="section-header spaced activities-depot-header">
  <div class="wrapper spaced">

    <div class="section-header-title w-subnav">
      <div class="section-icon">
        <span class="avatar-holder">
          <%= avatar('course', '45', "no", @course.id, "avatar", "no", "no") %>
        </span>
      </div>
      <div class="section-title">
        <h1><%= @course.title %></h1>
        <ul class="section-subnav">
          <li class="active">
            <a class="all_select" href="#" title="Todos" data-filter="all">Todo</a>
          </li>
          <li>
            <a class="homework_select" href="#"  title="Tareas" data-filter="tarea">Tareas</a>
          </li>
          <li>
            <a class="survey_select" href="#"  title="Cuestionarios" data-filter="examen">Cuestionarios</a>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="wrapper spaced">
  <div class="activities-depot-wrap">
    <div class="activities-depot-feeds">
      <div class="activities-depot-feeds-title">
        <span class="meta-info">Actividades</span>
      </div>
      <div id="activites-feeds-container">

      </div>
      <div id="load-more-activities">
        <%= link_to "Cargar más actividades", "", class: 'load-more-activities-feeds', data: { perpage: 10, page: 1 }  %>
      </div>
    </div>
    <div class="activities-depot-main">
    </div>
  </div>
</div>

<script>

  var feedsURL              = '<%= "#{course_ki_line_pag_path(@course, :per_page => 10, :page => 0) }.json" %>',
      feedsMainContainer    = $('.activities-depot-feeds'),
      feedsContainer        = $('#activites-feeds-container'),
      feedsDetailContainer  = $('.activities-depot-main'),
      loadMoreContainer     = $('#load-more-activities'),
      feedRespondsContainer = feedsDetailContainer.find('.activity-responds');

  getAndRenderFeeds( feedsURL, function() {
    loadMoreContainer.remove();
  });

  feedsContainer.on('click', '.activity-depot-feed', function(event) {
    event.preventDefault();

    var $this         = $(this),
        activityID    = $this.attr('id'),
        activityType  = $this.data('type');

    $this.siblings('.activity-depot-feed').removeClass('active');
    $this.addClass('active');

    getActivityDepotFeedDetail( activityID, activityType );
  });

  feedsDetailContainer.on('click', '.show-activity-delivery', function(event) {
    event.preventDefault();

    var $this         = $(this),
        activityType  = $this.data('type'),
        activityID    = $this.data('id'),
        url;

    if ( activityType == "tarea" ) {
      url = '/course_assignment_l_notif/';
    } else if (activityType == "survey") {
      url = '/course_survey_l_notif/';
    }

    $.get( url + activityID );
  });

  feedsDetailContainer.on('click', '.show-activity-feed', function(event) {
    event.preventDefault();

    var $this = $(this),
        type  = $this.data('type'),
        id    = $this.data('id');

    getActivityDepotFeedDetail( id, type );
    
  });

  feedsMainContainer.on('click', '.load-more-activities-feeds', function(event) {
    var $this     = $(this),
        per_page  = $this.data('perpage'),
        page      = $this.data('page'),
        url       = '<%= course_ki_line_pag_path(@course) %>?page='+ page +'&per_page='+ per_page +'.json';

    getAndRenderFeeds( url, function() {
      loadMoreContainer.remove();
    });
    
    feedsMainContainer.animate({
      scrollTop: feedsMainContainer.height()
    });

    $this.data( 'page', ++page );
    event.preventDefault();
  });

  function getActivityDepotFeedDetail( id, type ) {
    var url;

    if ( type == "tarea" ) {
      url = '/course_delivery_actdepot/';

    } else if ( type == "examen" || type == "survey" ) {
      url = '/course_survey_actdepot/';
    }

    $.get( url + id );
  }

  function getAndRenderFeeds( url, callback ) {
    console.log(url);

    $.getJSON( url, function( data ) {
      var activitiesFeeds = data.timeline.date;

      if ( activitiesFeeds == null ) {
        callback();
      } else {
        for( var i = 0; i < activitiesFeeds.length; i++ ) {
          var activityFeed = activitiesFeeds[i];

          if (activityFeed.compose === undefined) continue;

          if ( activityFeed.compose && activityFeed.compose.type == "tarea" || activityFeed.compose.type == "examen") {
              feedsContainer.append( HandlebarsTemplates['activities-depot/feeds']( activityFeed ) );
          }
        }
      }

    });
  }

  $('.section-subnav li > a').on('click', function() {
    var $this = $(this),
        filter = $this.data('filter');
    
    if ( filter == 'all') {
      feedsContainer.children('.activity-depot-feed').show();  
    } else {
      feedsContainer.children('.activity-depot-feed').hide();
      feedsContainer.children('[data-type="'+ filter +'"]').show();
    }

  });
  
</script>
