<% content_for :body_classes do %>
background-white
<% end %>

<div class="section-header normal-full">
  <div class="wrapper spaced">
    <div class="section-header-title">
    	<div class="section-icon">
    		<%= link_to course_path(@course), title: @course.title do %>
	        <span class="avatar-holder">
	          <%= avatar('course', '150', "no", @course.id, "avatar avatar-60", "no", "no") %>
	        </span>
        <% end %>
      </div>
      <div class="section-title">
        <h1>Clonar curso</h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper ver-spaced">
	<div class="cols-12">
	  <div class="col col-8">
	  	<%= form_for(@course, :url => clone_course_path, :method => :post, :html => { :class => "clone-course-form", :id => "clone-course-form" }) do |f| %>

				<div id="clone-course-data" class="step">
					<h3>Datos del curso</h3>
					<p>Cambia la información para el nuevo curso.</p>
					<br>

					<div class="form-group">
		        <div class="form-group-label">
		        	<%= f.label :title, "Nombre del #{current_network.course_tag}:" %>
		          <label></label>  
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		          	<%= text_field_tag "course[title]", "#{@course.title} (clonado)", placeholder: "Ejemplo: Matemáticas I", required: "required", autocomplete: "off" %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
							<%= f.label :silabus, "Silabus:" %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <%= f.text_area :silabus, rows: 7, cols: 50, placeholder: "Descripción", required: "required", autocomplete: "off" %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :survey_param_evaluation, "Evaluación:" %>
		        </div>
		        <div class="form-group-main">
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		            	<%= f.text_field :survey_param_evaluation, placeholder: "Valor de Cuestionarios" %>
		            </div>
		          </div>
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		              <%= f.text_field :delivery_param_evaluation, placeholder: "Valor de Tareas" %>
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :init_date, "Fechas:"%>
		        </div>
		        <div class="form-group-main">
		          <div class="f-col f-col-5">
		            <div class="form-unit">
			            <%= f.text_field :init_date, placeholder: 'Fecha de inicio', value: "", required: "required", autocomplete: "off" %>
		            </div>
		          </div>
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		            	<%= f.text_field :finish_date, placeholder: 'Fecha final', value: "", required: "required", autocomplete: "off" %>
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :public_status, 'Privacidad:' %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <% if @course.public_status == 'public' %>
						      <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
						     <%else%>
						      <%= f.select :public_status, options_for_select([['Privado', 'Private'],['Público', 'public']])%>
						     <%end%>
		          </div>
		        </div>
		      </div>
				
				</div>

				<div id="clone-course-deliveries" class="step">
					<h3>Tareas</h3>
					<p>Selecciona las tareas que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.deliveries.empty? %>
						<% @course.deliveries.each_with_index do |delivery, index|%>
							<% delivery_id = delivery.id.to_s %>

							<div class="form-group">
				        <div class="form-group-label">
									<label><%= check_box_tag "deliveries[#{index}][id]", delivery_id, false, class: "toggle-activable" %> <%= delivery.title %></label>
				        </div>
				        <div class="form-group-main">
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				            	<%= text_field_tag "deliveries[#{index}][publish_date]", "", placeholder: 'Fecha de publicación', id: "fecha_publicacion_delivery_" + delivery_id, class: "dependent" %>
				            </div>
				          </div>
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				              <%= text_field_tag "deliveries[#{index}][end_date]", "" , placeholder: 'Fecha Entrega', id: "fecha_entrega_delivery_" + delivery_id, class: "dependent" %>
				            </div>
				          </div>
				        </div>
				      </div>

							<script>
								$(function() {
			            $( "#fecha_entrega_delivery_<%=delivery_id%>, #fecha_publicacion_delivery_<%=delivery_id%>" ).datepicker({
			                inline: true,
			                minDate: 0,
			                showOtherMonths: true,
			                dateFormat: 'dd/mm/yy',
			                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
			            }).on('change', function() {
										$(this).valid();
							    });
						    });
							</script>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene tareas para clonar.</h4>
						</div>
					<% end %>
				</div>

				<div id="clone-course-discussions" class="step">
					<h3>Discusiones</h3>
					<p>Selecciona las discusiones que quieres clonar para el nuevo curso.</p>
					<br>

					<% unless @course.discussions.empty? %>
						<% @course.discussions.each do |discussion|%>
							<div class="single-form">
								<label>
									<%= check_box_tag "discussions[]", discussion.id %>
									<%= discussion.title %>
								</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene discusiones para clonar.</h4>
						</div>
					<% end %>
					
				</div>

				<div id="clone-course-surveys" class="step">
					<h3>Cuestionarios</h3>
					<p>Selecciona los cuestionarios que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.surveys.empty? %>
						<% @course.surveys.each_with_index do |survey, index| %>
							<% survey_id =  survey.id.to_s%>

							<div class="form-group">
				        <div class="form-group-label">
				          <label>
				          	<%= check_box_tag "surveys[#{index}][id]", survey.id, false, class: "toggle-activable" %>
				          	<%= survey.name %>
			          	</label>
				        </div>
				        <div class="form-group-main">
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				            	<%= text_field_tag "surveys[#{index}][publish_date]", "", placeholder: "Fecha publicación", id: "fecha_publicacion_survey_#{survey_id}", class: "dependent" %>
				            </div>
				          </div>
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				              <%= text_field_tag "surveys[#{index}][end_date]", "", placeholder: "Fecha Entrega", id: "fecha_entrega_survey_#{survey_id}", class: "dependent" %>
				            </div>
				          </div>
				        </div>
				      </div>

							<script>
								$(function() {
				          $("#fecha_entrega_survey_<%=survey_id%>, #fecha_publicacion_survey_<%=survey_id%>" ).datepicker({
				              inline: true,
				              minDate: 0,
				              showOtherMonths: true,
				              dateFormat: 'dd/mm/yy',
				              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				              dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
				          }).on('change', function() {
										$(this).valid();
							    });
							  });
							</script>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene cuestionarios para clonar.</h4>
						</div>
					<% end %>

				</div>

				<div id="clone-course-files" class="step">
					<h3>Libreria</h3>
					<p>Selecciona los archivos de la libreria que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.course_files.empty? %>
						<% @course.course_files.each do  |course_file|%>
							<div class="single-form">
								<label>
									<%= check_box_tag "course_files[]", course_file.id %>
									<%= course_file.file %>
								</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene cuestionarios para clonar.</h4>
						</div>
					<% end %>

				</div>
					
				<div class="fr clone-course-form-nav">
					<ul class="list-buttons right">
		        <li>
		          <button class="navigation_button btn btn-secondary clone-course-back" id="back" type="reset">Atras</button>
		        </li>
		        <li>
		        	<button class="navigation_button btn btn-primary clone-course-next" id="next" type="submit">Siguiente</button>
		        </li>
		      </ul>
				</div>

			<% end %>
	  </div>
	</div>
</div>

<script>
	$(function() {

		$( "#course_init_date, #course_finish_date" ).datepicker({
	    inline: true,
	    minDate: 0,
	    showOtherMonths: true,
	    dateFormat: 'dd/mm/yy',
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
    }).on('change', function() {
			$(this).valid();
    });

		$('#clone-course-form').formwizard({
			historyEnabled: true,
			validationEnabled: true,
			validationOptions: {
				rules: {
					"course[survey_param_evaluation]": {
		        required: true,
		        number: true,
		        max: 100,
		        min: 0,
		        equalTo: 100
		      },
		      "course[delivery_param_evaluation]": {
		        required: true,
		        number: true,
		        max: 100,
		        min: 0,
		        equalTo: 100
		      }
				}
			},
			focusFirstInput : true,
			disableUIStyles : true	
		});

		jQuery.validator.addMethod("equalTo", function(value, element, params){
			var surveys_percentage  = parseInt($('#course_survey_param_evaluation').val()),
          deliveries_percentage = parseInt($('#course_delivery_param_evaluation').val()),
          evaluation_total  = surveys_percentage + deliveries_percentage;

      if ( evaluation_total > 100 || evaluation_total <= 0 || evaluation_total < 100 ) {
      	return false;
      } else {
      	$('#course_survey_param_evaluation, #course_delivery_param_evaluation').removeClass('error').siblings('label.error').remove();
      	return true;
      };
		}, 'Los porcentajes de evaluación deben sumar 100.');

		$('.toggle-activable').click(function() {
			var $this = $(this),
					formGroup = $this.closest('.form-group'),
					fields = formGroup.find('.dependent'),
					checked = $this.is(':checked');

			fields.each(function(index, el) {
				if ( checked ) {
					$(el).attr('required', 'required');
				} else {
					$(el).removeAttr('required');
					$(el).val('').valid();
				};
			});
		});
		
	});
</script>