<% content_for :body_classes do %>
background-white
<% end %>

<div class="section-header">
  <div class="wrapper spaced">
    <div class="section-header-title">
    	<div class="section-icon">
    		<%= link_to course_path(@course), title: @course.title do %>
	        <span class="avatar-holder">
	          <%= avatar('course', '45', "no", @course.id, "avatar", "no", "no") %>
	        </span>
        <% end %>
      </div>
      <div class="section-title">
        <h1>Clonar curso</h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper ver-spaced">
	<div class="cols-12">
	  <div class="col col-8">
	  	<%= form_for(@course, :url => clone_course_path, :method => :post, :html => { :class => "clone-course-form"}) do |f| %>

				<div id="clone-course-data" class="form-course">
					<h3>Datos del curso</h3>
					<p>Cambia la información para el nuevo curso.</p>
					<br>

					<div class="form-group">
		        <div class="form-group-label">
		        	<%= f.label :title, "Nombre del #{current_network.course_tag}:" %>
		          <label></label>  
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <%= f.text_field :title, :placeholder => "Nombre" %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
							<%= f.label :silabus, "Silabus:" %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <%= f.text_area :silabus, :rows => 7, :cols => 50, :placeholder=>'Descripción' %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :survey_param_evaluation, "Evaluación:" %>
		        </div>
		        <div class="form-group-main">
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		            	<%= f.text_field :survey_param_evaluation, :placeholder => "Valor de Cuestionarios", :min => '1', :max => '100', :step => "1", :required => "required" %>
		            </div>
		          </div>
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		              <%= f.text_field :delivery_param_evaluation, :placeholder => "Valor de Tareas", :min => '1', :max => '100', :step => "1", :required => "required" %>
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :init_date, "Fechas:"%>
		        </div>
		        <div class="form-group-main">
		          <div class="f-col f-col-5">
		            <div class="form-unit">
			            <%= f.text_field :init_date, :placeholder=> 'Fecha de inicio', :value => "" %>
		            </div>
		          </div>
		          <div class="f-col f-col-5">
		            <div class="form-unit">
		            	<%= f.text_field :finish_date, :placeholder=> 'Fecha final', :value => "" %>
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :public_status, 'Privacidad:' %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <% if @course.public_status == 'public' %>
						      <%= f.select :public_status, options_for_select([['Público', 'public'],['Privado', 'Private']])%>
						     <%else%>
						      <%= f.select :public_status, options_for_select([['Privado', 'Private'],['Público', 'public']])%>
						     <%end%>
		          </div>
		        </div>
		      </div>
					
					<button class="btn btn-primary clone-course-btn" data="clone-course-deliveries" action="move" type="button" data-step="1" >Siguiente</button>
				</div>

				<div id="clone-course-deliveries" class="form-course" style="display:none">
					<h3>Tareas</h3>
					<p>Selecciona las tareas que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.deliveries.empty? %>
						<% @course.deliveries.each do |delivery|%>
							<% delivery_id = delivery.id.to_s %>

							<div class="form-group">
				        <div class="form-group-label">
				          <label><%= check_box_tag "deliveries[][id]", delivery_id, true, :class => 'is-correct-chk' %> <%= delivery.title %></label>
				        </div>
				        <div class="form-group-main">
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				            	<%= text_field_tag "deliveries[][publish_date]", Time.now.strftime('%m/%d/%Y'), :placeholder=>'Fecha de publicación', :id => "fecha_publicacion_delivery_" + delivery_id %>
				            </div>
				          </div>
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				              <%= text_field_tag "deliveries[][end_date]", (Time.now + 5.days).strftime('%m/%d/%Y') ,:placeholder=>'Fecha Entrega', :id => "fecha_entrega_delivery_" + delivery_id%>
				            </div>
				          </div>
				        </div>
				      </div>

							<script>
								$(function() {
			            $( "#fecha_entrega_delivery_<%=delivery_id%>, #fecha_publicacion_delivery_<%=delivery_id%>" ).datepicker({
			                inline: true,
			                minDate: 0,
			                showOtherMonths: true,
			                dateFormat: 'dd/mm/yy',
			                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			                dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
			            });
						    });
							</script>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene tareas para clonar.</h4>
						</div>
					<% end %>

					<button class="clone-course-btn btn btn-secondary" data="clone-course-data" action="move" type="button">Anterior</button>
					<button class="clone-course-btn btn btn-primary" data="clone-course-discussions" action="move" data-step="2" type="button">Siguiente</button>
				</div>

				<div id="clone-course-discussions" class="form-course" style="display:none">
					<h3>Discusiones</h3>
					<p>Selecciona las discusiones que quieres clonar para el nuevo curso.</p>
					<br>

					<% unless @course.discussions.empty? %>
						<% @course.discussions.each do |discussion|%>
							<div>
							<label>
								<%= check_box_tag "discussions[]", discussion.id, true %>
								<%= discussion.title %>
							</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene discusiones para clonar.</h4>
						</div>
					<% end %>
					
					<br>
					<button class="clone-course-btn btn btn-secondary" data="clone-course-deliveries" action="move" type="button">Anterior</button>	
					<button class="clone-course-btn btn btn-primary" data="clone-course-surveys" action="move" data-step="3" type="button">Siguiente</button>

				</div>

				<div id="clone-course-surveys" class="form-course" style="display:none">
					<h3>Cuestionarios</h3>
					<p>Selecciona los cuestionarios que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.surveys.empty? %>
						<% @course.surveys.each do |survey| %>
							<% survey_id =  survey.id.to_s%>

							<div class="form-group">
				        <div class="form-group-label">
				          <label>
				          	<%= check_box_tag "surveys[][id]", survey.id, true %>
				          	<%= survey.name %>
			          	</label>
				        </div>
				        <div class="form-group-main">
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				            	<%= text_field_tag "surveys[][publish_date]", Time.now.strftime('%m/%d/%Y') ,:placeholder=>'Fecha publicación', :id => "fecha_publicacion_survey_" + survey_id %>
				            </div>
				          </div>
				          <div class="f-col f-col-5">
				            <div class="form-unit">
				              <%= text_field_tag "surveys[][end_date]", (Time.now + 5.days).strftime('%m/%d/%Y') ,:placeholder=>'Fecha Entrega', :id => "fecha_entrega_survey_" + survey_id%>
				            </div>
				          </div>
				        </div>
				      </div>

							<script>
								$(function() {
				          $("#fecha_entrega_survey_<%=survey_id%>, #fecha_publicacion_survey_<%=survey_id%>" ).datepicker({
				              inline: true,
				              minDate: 0,
				              showOtherMonths: true,
				              dateFormat: 'dd/mm/yy',
				              monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				              dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
				          });
							  });
							</script>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene cuestionarios para clonar.</h4>
						</div>
					<% end %>

					<button class="clone-course-btn btn btn-secondary" data="clone-course-discussions" action="move" type="button">Anterior</button>
					<button class="clone-course-btn btn btn-primary" data="clone-course-files" action="move" data-step="4" type="button">Siguiente</button>

				</div>

				<div id="clone-course-files" class="form-course" style="display:none">
					<h3>Libreria</h3>
					<p>Selecciona los archivos de la libreria que quieres clonar para el nuevo curso.</p>
					<br>
					
					<% unless @course.course_files.empty? %>
						<% @course.course_files.each do  |course_file|%>
							<div>
								<label>
									<%= check_box_tag "course_files[]", course_file.id, true %>
									<%= course_file.file %>
								</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene cuestionarios para clonar.</h4>
						</div>
					<% end %>

					<br>
					<button class="clone-course-btn btn btn-secondary" data="clone-course-surveys" action="move" type="button">Anterior</button>
					<span class="btn btn-primary input-btn">
						<%= f.submit "Clonar Curso", class: "clone-course-btn", action: "submit", data: { step: "5" } %>
					</span>

				</div>

			<% end %>
	  </div>
	</div>
</div>

<script>
	$(function() {
		$( "#course_init_date, #course_finish_date" ).datepicker({
		inline: true,
		minDate: 0,
		showOtherMonths: true,
		dateFormat: 'dd/mm/yy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
		});
	});

  $('.clone-course-form').validate({
		debug: true,
		rules: {
			"course[title]": {
				required: true
			},
			"course[silabus]": {
				required: true
			},
			"course[survey_param_evaluation]": {
				required: true,
				number: true,
				max: 100,
				min: 1
			},
			"course[delivery_param_evaluation]": {
				required: true,
				number: true,
				max: 100,
				min: 1
			},
			"course[init_date]": {
				required: true
			},
			"course[finish_date]": {
				required: true
			},
			"deliveries[][publish_date]": {
				required: true
			},
			"deliveries[][end_date]": {
				required: true
			}
		},
    submitHandler: function(form) {
      form.submit();
    }
	});

	$(".clone-course-btn").on('click', function () {
		var data 		= $(this).attr( "data" ),
				action 	= $(this).attr( "action" ),
				step 		= $(this).data("step");

		// console.log( step );

		switch(step) {
			case 1 :
				if ( $('.clone-course-form').valid() ) {
					var course_survey_param_evaluation = $('#course_survey_param_evaluation'),
		      	course_delivery_param_evaluation = $('#course_delivery_param_evaluation'),
						surveys_percentage    = parseInt(course_survey_param_evaluation.val()),
		        deliveries_percentage = parseInt(course_delivery_param_evaluation.val()),
		        evaluation_total      = surveys_percentage + deliveries_percentage;

		      if ( evaluation_total > 100 || evaluation_total <= 0 || evaluation_total < 100 ) {
			      Notice('error', 'Los porcentajes de evaluación deben sumar 100.');
			      return false;
		    	}

				} else {
					return false;
				}

				break;
			case 2 :
				console.log("DOsss");
				break;
		}

		switch(action){
			case 'move': 
				$('#'+data).show();
				$(this).parent().hide();
				break;
		}
	});
</script>