<% content_for :body_classes do %>
background-white
<% end %>

<% content_for :javascripts do %>
<%= javascript_include_tag 'courses/clone-course' %>
<% end %>

<div class="section-header normal-full">
  <div class="wrapper spaced">
    <div class="section-header-title">
    	<div class="section-icon">
    		<%= link_to course_path(@course), title: @course.title do %>
	        <span class="avatar-holder">
	          <%= avatar('course', '150', "no", @course.id, "avatar avatar-60", "no", "no") %>
	        </span>
        <% end %>
      </div>
      <div class="section-title">
        <h1><%=t('.clone')%></h1>
      </div>
    </div>
  </div>
</div>

<div class="wrapper ver-spaced">
	<div class="cols-12">
	  <div class="col col-8">
	  	<%= form_for(@course, :url => clone_course_path, :method => :post, :html => { :class => "clone-course-form", :id => "clone-course-form" }) do |f| %>

				<div id="clone-course-data" class="step">
					<h3><%=t('.data_course')%></h3>
					<p><%=t('.info_new_course')%></p>
					<br>

					<div class="form-group">
		        <div class="form-group-label">
              <%= f.label :title, t('.name') %>
              <label></label>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		          	<%= text_field_tag "course[title]", "#{@course.title} " + t('.clone2'), placeholder: t('.example'), required: "required", autocomplete: "off" %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
							<%= f.label :silabus, "Silabus:" %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <%= f.text_area :silabus, rows: 7, cols: 50, placeholder: t('.descrip'), required: "required", autocomplete: "off" %>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :init_date, t('.dates')%>
		        </div>
		        <div class="form-group-main">
		          <div class="f-col f-col-5">
		            <div class="form-unit">
			            <%= f.text_field :init_date, placeholder: t('.init_date'), value: "", required: "required", autocomplete: "off" %>
		            </div>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="form-group-label">
		          <%= f.label :public_status, t('.privacy') + ':' %>
		        </div>
		        <div class="form-group-main">
		          <div class="form-unit">
		            <% if @course.public_status == 'public' %>
						      <%= f.select :public_status, options_for_select([[t('.public'), 'public'],[t('.private'), 'Private']])%>
						     <%else%>
						      <%= f.select :public_status, options_for_select([[t('.private'), 'Private'],[t('.public'), 'public']])%>
						     <%end%>
		          </div>
		        </div>
		      </div>

				</div>

        <% if current_network.evaluable? %>
  				<div id="clone-course-deliveries" class="step">
  					<h3><%=t('.hmwrks')%></h3>
  					<p><%=t('.clone_hmwrks')%></p>
  					<br>

  					<% unless @course.deliveries.empty? %>
  						<% @course.deliveries.each_with_index do |delivery, index|%>
  							<% delivery_id = delivery.id.to_s %>

  							<div class="form-group">
  				        <div class="form-group-label">
  									<label><%= check_box_tag "deliveries[#{index}][id]", delivery_id, true, class: "toggle-activable", :style => 'visibility: hidden' %> <%= delivery.title %></label>
  				        </div>
  				        <div class="form-group-main">
  				          <div class="f-col f-col-5">
  				            <div class="form-unit">
  				            	<%= text_field_tag "deliveries[#{index}][publish_date]", "", placeholder: t('.publish_date'), id: "fecha_publicacion_delivery_" + delivery_id, class: "dependent required" %>
  				            </div>
  				          </div>
  				          <div class="f-col f-col-5">
  				            <div class="form-unit">
  				              <%= text_field_tag "deliveries[#{index}][end_date]", "" , placeholder: t('.delivery_date'), id: "fecha_entrega_delivery_" + delivery_id, class: "dependent required" %>
  				            </div>
  				          </div>
  				        </div>
  				      </div>

  							<script>
  								$(function() {
  			            $( "#fecha_entrega_delivery_<%=delivery_id%>, #fecha_publicacion_delivery_<%=delivery_id%>" ).datepicker({
  			                inline: true,
  			                minDate: 0,
  			                showOtherMonths: true,
  			                dateFormat: 'dd/mm/yy',
  			                monthNames: [I18n.t("date.month.jan"),
                                   I18n.t("date.month.feb"),
                                   I18n.t("date.month.mar"),
                                   I18n.t("date.month.apr"),
                                   I18n.t("date.month.may"),
                                   I18n.t("date.month.jun"),
                                   I18n.t("date.month.jul"),
                                   I18n.t("date.month.aug"),
                                   I18n.t("date.month.sept"),
                                   I18n.t("date.month.oct"),
                                   I18n.t("date.month.nov"),
                                   I18n.t("date.month.dec")],
  			                dayNamesMin: [I18n.t("date.day.sun"),
                                    I18n.t("date.day.mon"),
                                    I18n.t("date.day.tu"),
                                    I18n.t("date.day.we"),
                                    I18n.t("date.day.th"),
                                    I18n.t("date.day.fri"),
                                    I18n.t("date.day.sat")]
  			            }).on('change', function() {
  										$(this).valid();
  							    });
  						    });
  							</script>
  						<% end %>
  					<% else %>
  						<div class="no-content-section">
  							<h4>Este curso no tiene tareas para clonar.</h4>
  						</div>
  					<% end %>
  				</div>
        <% end %>

				<div id="clone-course-discussions" class="step">
					<h3>Discusiones</h3>
					<p>Selecciona las discusiones que quieres clonar para el nuevo curso.</p>
					<br>

					<% unless @course.discussions.empty? %>
						<% @course.discussions.each do |discussion|%>
							<div class="single-form">
								<label>
									<%= check_box_tag "discussions[]", discussion.id %>
									<%= discussion.title %>
								</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene discusiones para clonar.</h4>
						</div>
					<% end %>

				</div>

				<% if current_network.evaluable? %>
          <div id="clone-course-surveys" class="step">
  					<h3>Cuestionarios</h3>
  					<p>Selecciona los cuestionarios que quieres clonar para el nuevo curso.</p>
  					<br>

  					<% unless @course.surveys.empty? %>
  						<% @course.surveys.each_with_index do |survey, index| %>
  							<% survey_id =  survey.id.to_s%>

  							<div class="form-group">
  				        <div class="form-group-label">
  				          <label>
  				          	<%= check_box_tag "surveys[#{index}][id]", survey.id, true, class: "toggle-activable", :style => 'visibility: hidden' %>
  				          	<%= survey.name %>
  			          	</label>
  				        </div>
  				        <div class="form-group-main">
  				          <div class="f-col f-col-5">
  				            <div class="form-unit">
  				            	<%= text_field_tag "surveys[#{index}][publish_date]", "", placeholder: "Fecha publicación", id: "fecha_publicacion_survey_#{survey_id}", class: "required dependent" %>
  				            </div>
  				          </div>
  				          <div class="f-col f-col-5">
  				            <div class="form-unit">
  				              <%= text_field_tag "surveys[#{index}][end_date]", "", placeholder: "Fecha Entrega", id: "fecha_entrega_survey_#{survey_id}", class: "required dependent" %>
  				            </div>
  				          </div>
  				        </div>
  				      </div>

  							<script>
  								$(function() {
  				          $("#fecha_entrega_survey_<%=survey_id%>, #fecha_publicacion_survey_<%=survey_id%>" ).datepicker({
  				              inline: true,
  				              minDate: 0,
  				              showOtherMonths: true,
  				              dateFormat: 'dd/mm/yy',
  				              monthNames: [I18n.t("date.month.jan"),
                                   I18n.t("date.month.feb"),
                                   I18n.t("date.month.mar"),
                                   I18n.t("date.month.apr"),
                                   I18n.t("date.month.may"),
                                   I18n.t("date.month.jun"),
                                   I18n.t("date.month.jul"),
                                   I18n.t("date.month.aug"),
                                   I18n.t("date.month.sept"),
                                   I18n.t("date.month.oct"),
                                   I18n.t("date.month.nov"),
                                   I18n.t("date.month.dec")],
  				              dayNamesMin: [I18n.t("date.day.sun"),
                                    I18n.t("date.day.mon"),
                                    I18n.t("date.day.tu"),
                                    I18n.t("date.day.we"),
                                    I18n.t("date.day.th"),
                                    I18n.t("date.day.fri"),
                                    I18n.t("date.day.sat")]
  				          }).on('change', function() {
  										$(this).valid();
  							    });
  							  });
  							</script>
  						<% end %>
  					<% else %>
  						<div class="no-content-section">
  							<h4>Este curso no tiene cuestionarios para clonar.</h4>
  						</div>
  					<% end %>

  				</div>
        <%end%>

				<div id="clone-course-files" class="step">
					<h3>Libreria</h3>
					<p>Selecciona los archivos de la libreria que quieres clonar para el nuevo curso.</p>
					<br>

					<% unless @course.course_files.empty? %>
						<% @course.course_files.each do  |course_file|%>
							<div class="single-form">
								<label>
									<%= check_box_tag "course_files[]", course_file.id %>
									<%= course_file.file %>
								</label>
							</div>
						<% end %>
					<% else %>
						<div class="no-content-section">
							<h4>Este curso no tiene cuestionarios para clonar.</h4>
						</div>
					<% end %>

				</div>

				<div class="fr clone-course-form-nav">
					<ul class="list-buttons right">
		        <li>
		          <button class="navigation_button btn btn-secondary clone-course-back" id="back" type="reset">Atras</button>
		        </li>
		        <li>
		        	<button class="navigation_button btn btn-primary clone-course-next" id="next" type="submit">Siguiente</button>
		        </li>
		      </ul>
				</div>

			<% end %>
	  </div>
	</div>
</div>
