$('#examenes_contestados').html('');
<% if @responces.empty? %>
	$('#examenes_contestados').html('Nadie ha contestado este cuestionario.');
<% else %>
	<% @responces.each do |respon|%>
		<% user = respon.user %>
		$('#examenes_contestados').append('<div id="examen_contestado_actdepot-<%= respon.id %>" style="height: 70px; margin-top: 20px; padding-left: 10px; cursor: pointer;" redirect_to="" onclick = "red_actdepot(this);">' +
			'<div style="display: inline-block; float: left;">' +
			'<%= link_to image_tag(user.avatar.modern, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( !user.avatar.blank? )%>' +
        	'<%= link_to image_tag(user.image_avatarxxx, {:class => "avatar-notifications avatar-mini"}), show_user_path(user.personal_url) if ( user.avatar.blank? )%>' +
        	'</div>' +
        	'<div style="display: inline-block; margin-left: 10px; margin-top: 10px;">Cuestionario contestado por: <br><b><%= link_to "#{user.name}", show_user_path(user.personal_url) %></b></div>' +
        	'<div style="width: 100px; height: 100%; color: white; position: absolute; text-align: center; display: inline-block; background: #5F95BE; margin-left: 179px; margin-top: -4%;">' +
        	'<div style="position: relative; margin-top: 30%;">Resultados:<br><%= respon.result.round(3) %></div></div>' +
        '</div>');

		$('#examen_contestado_actdepot-<%= respon.id %>').attr("redirect_to", "/courses/<%=@survey.courses.first.id%>?search=Survey&id_search=<%=@survey.id.to_s%>&show_survey=<%= respon.id.to_s %>");
	<% end %>
<% end %>