<!-- se hace un retiro de código del código anterior ya que users esta mas definido -->
<script>
   $('#zenbox_tab').remove();
</script>
 
  <%if @member.nil?%>
    <h3>No eres parte del grupo!</h3>
  <%elsif !@member.accepted%>
    <h3>No has sido aceptado en el grupo!</h3>
  <%elsif @member.owner%>

  <div id="configurationing">
	  	<h1 style="margin-left:10px; padding:2px;">Calificaciones del curso</h1>
	  	<p id="pdf_link"><%= link_to "Descargar (PDF)", course_evaluation_path(@course, :format => "pdf") %>
   </div>

   <div class="form-course fixform" style="padding:20px 20px 41px 20px!important;width:784px!important;">
		     <!--para poder hacer el render partial-->
   <%  @course = Course.find(params[:id])%>
   <%  @member = MembersInCourse.find_by_user_id_and_course_id(current_user.id, @course.id) %>
		
		    <%@course.members_in_courses.each do |member| %>
		      <%user = User.find_by_id(member.user_id)%>
		      <% if !member.owner then%>
		        <%table = member.doTableCourse%>
		        <span class="califHeader">Calificacion: <%=table[2]%></span>
		        <h4 style="margin-top: 45px;"><%=user.email%></h4>
		        
		        <table border="1" width="500" cellpadding="3" cellspacing="3">
		          <tr>
		            <td>Tarea</td>
		            <td>Entrega</td>
		            <td>Rubros</td>
		            <td>Calificacion</td>
		          </tr>
			        <%for i in 0...table[0][0].size%>
			        <%delivery = table[0][0][i]%>
			        <%assignment = table[0][1][i]%>
		          <tr>
		            <td><%=delivery.title%></td>
		            <%if !assignment.nil? then%>
		              <td><%=assignment.title%></td>
		              <td>
		                <% for j in 0...assignment.response_to_the_evaluations.size%>
		                <!-- El rubro del assignment -->
		                  <%= assignment.response_to_the_evaluations[j].name%>
		                  <%if !(j == assignment.response_to_the_evaluations.size - 1) then%>
		                    </br>
		                  <%end%>
		                <%end%>
		              </td>
		              <td><%=assignment.accomplishment%></td>
		            <%else%>
		            <td></td>
		            <%end%>
		          </tr>
		        <%end%>
		          <tr>
			          <td> </td>
			          <td> </td>
			          <td> Porcentaje de la Evaluacion</td>
			          <td> Porcentaje obtenido </td>
		          </tr>
		          <td> </td>
		          <td> </td>
		          <td> <%=table[0][2][0]%></td>
		          <td> <%=table[0][2][1]%></td>
		          </tr>
		      </table>
		      
		      <table border="1" width="500" cellpadding="3" cellspacing="3">
		      <tr>
		        <td>Examen</td>
		        <td>Calificacion</td>
		        <td></td>
		      </tr>
		        <%for i in 0...table[1][0].size%>
		          <tr>
		          <td><%=table[1][0][i].name%></td>
		          <td>
		            <% if !table[1][1][i].nil? then%>
		            <%= table[1][1][i].result%>
		            <%end%>
		          </td>
		          <td></td>
		        </tr>
		        <%end%>
		        <tr>
		          <td>Porcentaje de la Evaluacion</td>
		          <td>Calificacion Examenes</td>
		          <td>Porcentaje Obtenido</td>
		        </tr>
		        <tr>
		          <td><%=table[1][2][0]%></td>
		          <td><%=table[1][2][1]%></td>
		          <td><%=table[1][2][2]%></td>
		        </tr>
		      </table>
		      <%end%>
		      </br>
		    <%end%>
		    </div><!-- ends fixform -->
		<%else%>

  <div id="configurationing">
	  	<h1 style="margin-left:10px; padding:2px;">Calificación del curso</h1>
	  	<p id="pdf_link"><%= link_to "Descargar (PDF)", course_evaluation_path(@course, :format => "pdf") %>
   </div>
   <div class="form-course fixform" style="padding:20px 20px 41px 20px!important;">
		  <%user = current_user%>
		    <%table = @member.doTableCourse%>

		    	<span class="califHeader" style="margin-top:-20px;">Calificacion: <%=table[2]%></span>
		        <h4 style="margin-top: 45px;"><%=user.email%></h4>
		    </br>
		    <table class="zebra" border="1" width="500" cellpadding="3" cellspacing="3">
		    <tr>
		      <td>Tarea</td>
		      <td>Entrega</td>
		      <td>Rubros</td>
		      <td>Calificacion</td>
		    </tr>
		      <%for i in 0...table[0][0].size%>
		      <%delivery = table[0][0][i]%>
		      <%assignment = table[0][1][i]%>

		        <tr>
		          <td><%=delivery.title%></td>
		          <%if !assignment.nil? then%>
		          <td><%=assignment.title%></td>
		          <td>
		              <% for j in 0...assignment.response_to_the_evaluations.size%>
		              <!-- El rubro del assignment -->
		                <%= assignment.response_to_the_evaluations[j].name%>
		                <%if !(j == assignment.response_to_the_evaluations.size - 1) then%>
		                  </br>
		                <%end%>
		              <%end%>
		          </td>
		          <td><%=assignment.accomplishment%></td>
		          <%else%>
		          <td></td>
		          <%end%>
		        </tr>
		        
		      <%end%>

		      <tr>
		        <td> </td>
		        <td> </td>
		        <td> Porcentaje de la Evaluacion</td>
		        <td> Porcentaje obtenido </td>
		
		      </tr>
		        <td> </td>
		        <td> </td>
		        <td> <%=table[0][2][0]%></td>
		        <td> <%=table[0][2][1]%></td>
		      </tr>
		    </table>


		    
		    <table border="1" width="500" cellpadding="3" cellspacing="3">
		    <tr>
		      <td>Examen</td>
		      <td>Calificacion</td>
		      <td></td>
		    </tr>
		      <%for i in 0...table[1][0].size%>
		        <tr>
		        <td><%=table[1][0][i].name%></td>
		        <td>
		          <% if !table[1][1][i].nil? then%>
		          <%= table[1][1][i].result%>
		          <%end%>
		        </td>
		        <td></td>
		      </tr>
		      <%end%>
		      <tr>
		        <td>Porcentaje de la Evaluacion</td>
		        <td>Calificacion Examenes</td>
		        <td>Porcentaje Obtenido</td>
		      </tr>
		      <tr>
		        <td><%=table[1][2][0]%></td>
		        <td><%=table[1][2][1]%></td>
		        <td><%=table[1][2][2]%></td>
		      </tr>
		    </table>
		    
		    </div><!-- ends fixform -->
		    <%end%>
