<% content_for :javascripts do %>
<%= javascript_include_tag 'publications/paginator' %>
<% end %>

<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <%= render partial: 'courses/index/teacher_header' if current_user.teacher? || current_user.admin? %>
          <%= render partial: 'courses/index/student_header' if current_user.student? %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'courses/index/teacher_courses_index', locals: { courses: @courses, member: @member } if current_user.teacher? || current_user.admin? %>
<%= render partial: 'courses/index/student_courses_index', locals: { courses: @courses, member: @member } if current_user.student? %>
