<div id="header-courses">
<h2 class="courses-title-h2">Lista de cursos </h2>
<div class="search default-form delivery-form serch-courses">
<%= form_tag courses_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder =>'Buscar Cursos' %>
   <!--  <%= submit_tag "Buscar Curso", :title => nil %> -->
  </p>
<% end %> 
</div>
<div class="new-course"><%= link_to 'New Course', new_course_path, :class=>"a-button" %></div>
</div>

 <h2>  <%= notice %> </h2><br><br><br>
 
<% @cc = @courses.count %>
<% if @cc == 0%>
  <b> <%= t('No hay resultados en la busqueda')%> </b>
<%end%>
<div id="courses-list">
<% @courses.each do |course| %>

<div class="course">

   <div class="thumbnail">
    <%= link_to image_tag('/assets/courses.png'), course %>
   </div>
   
   <div id="crud"> 
            <% @correspond = MembersInCourse.find_by_user_id_and_course_id(current_user, course.id) %>            
          
               <% ##### importante no mover esta varialbe ######%>  
            <% @course_id = course.id%>
            <% if @correspond %> 
                 <% if @correspond.accepted == true %>
<!--                         <%= link_to image_tag('/assets/icons/files.png'), course %> -->
                    <% if @correspond.owner == true %>
                        <%= link_to image_tag('/assets/icons/edit.png'), edit_course_path(course) %>
                        <%= link_to image_tag('/assets/icons/destroy.png'), course, confirm: 'Are you sure?', method: :delete %>
                    <%end%>
                   <%else%>
                    <b>Aún no has sido aceptado en el curso</b>
                   <%end%>
            <%else%>
               <% if course.public_status == "Private" %>
                  <%= render partial: "courses/members_in_courses/private_course"%>|
              <%else%>   
                  <%= render partial: "courses/members_in_courses/public_course"%>|  
              <%end%>
           <%end%>
     </div>
     
    <div id="course-title"><%= course.title %> </div>
    <div id="course-info">
    <div class="hidden-text">
       <li id="silabus" class="silabus">
           <%= course.silabus.html_safe %>
       </li> 
    </div>
       
      <%#= course.init_date %>
    <li class="finishdate"> <%= course.finish_date %></li>
    </div></div>
   
   
   
<% end %> 
</div>


