<div class="section-header">
  <div class="wrapper spaced">

    <div class="section-header-title w-subnav">
      <div class="section-icon">
        <%= icon('section-courses') %>  
      </div>
      <div class="section-title">
        <h1>Cursos</h1>
        <ul class="section-subnav">
          <li><%= link_to "Mis cursos", my_courses_path, :remote => true %></li>
          <li><%= link_to "Todos los cursos", all_courses_path, :remote => true %></li>
        </ul>
      </div>
    </div>

    <div class="section-header-actions">
      <ul class="list-buttons right">
        <li>
          <%= form_tag courses_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :placeholder =>'Busca cursos y presiona enter' %>
          <% end %>
        </li>
        <% permitted_to? :create, :courses do %>
          <li>
            <%= link_to 'Crear curso nuevo', new_course_path, :class=>"btn btn-primary" %>
          </li>
        <%end%>
      </ul>
    </div>

  </div>
</div>

<span><%= notice %></span>

<div id="courses_content">
  <%= render partial: "/courses/members_in_courses/course_view_call", :locals => {:courses => @courses} %>
</div>
