<div class="section-header">
  <div class="wrapper spaced">

    <div class="section-header-title w-subnav">
      <div class="section-icon">
        <%= icon('section-courses') %>  
      </div>
      <div class="section-title">
        <h1>Cursos</h1>
        <ul class="section-subnav">
          <li class="active">
            <%= link_to "Mis cursos", my_courses_path, :remote => true %>
          </li>
          <li>
            <%= link_to "Cursos a los que no pertenezco", all_courses_path, :remote => true %>
          </li>
        </ul>
      </div>
    </div>

    <div class="section-header-actions">

      <ul class="list-buttons right">
        <li>
          <%= render partial: "/courses/courses_search" %>
        </li>
        <% permitted_to? :create, :courses do %>
          <li>
            <%= link_to icon('plus-white'), new_course_path, :title => 'Crear curso nuevo', :class=> "btn btn-primary" %>
          </li>
        <%end%>
      </ul>
    </div>

  </div>
</div>
<%#= render :partial => '/courses/last_courses' %>

<div id="courses_content">
  <%= render partial: "/courses/members_in_courses/course_view_call", :locals => {:courses => @courses, :member => @member} %>
</div>
