<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-header">
            <div class="section-header-main">
              <div class="section-title">
                <%= link_to icon('section-courses'), courses_path %>
                <%= link_to courses_path do %>
                  <h1>Cursos</h1>
                <% end %>
              </div>
              <div class="section-header-actions">
                <ul class="list-buttons right">
                  <li>
                    <%= render partial: "/courses/courses_search" %>
                  </li>
                  <% permitted_to? :create, :courses do %>
                    <li>
                      <%= link_to icon('plus-white'), new_course_path, :title => 'Crear curso nuevo', :class=> "btn btn-primary" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="page-sub-navigation">
              <% action = params[:action] %>
              <ul>
                <li>
                  <%= link_to my_courses_path, :remote => true, class: (action == 'index' ? "active" : " ") do %>
                    Cursos en los que estás inscrito
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to all_courses_path, :remote => true, class: (action == 'about' ? "active" : " ") do %>
                    Otros cursos
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to my_old_courses_path, :remote => true, class: (action == 'about' ? "active" : " ") do %>
                    Cursos antiguos
                    <%= icon 'sub-nav-tip' %>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
          <div class="section-header-content">
            <div class="section-header-title w-subnav">
              <div class="section-icon">
                
              </div>
              <div class="section-title">
                
                <ul class="section-subnav">
                  <li class="active">
                  </li>
                  <li>
                    
                  </li>
                  <li>
                    
                 </li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="courses_content">
  <%= render partial: "/courses/members_in_courses/course_view_call", :locals => {:courses => @courses, :member => @member} %>
</div>
