<% content_for :javascripts do  %>
<%= javascript_include_tag('courses/library') %>
<% end %>

<%= render :partial => 'courses/show/course-header', locals: { header_style: :compact } %>
<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <%= render template: 'libraries/show' %>
      <div class="col-inner">
        <div class="library-wrap container">
          <div class="header">
            <div class="left">
              <span class="library-count">
                <% if @course.course_files.any? %>
                  <%= pluralize(@course.course_files.count, t('.file'), t('.files')) %>
                <% end %>
              </span>
            </div>
          </div>
          <div class="body">
            <% if @course.course_files.any? %>
              <div class="library-items-list">
                <% @course_files.reverse.each do |cf|%>
                  <% @name =  "#{cf.file}" %>
                  <% @sintetic_name = @name.split('/').last%>
                  <% @termination = @name.split('.').last %>
                  <%= render :partial => "course_files/library_item", :locals => {:cf => cf, :name => @name, :sintetic_name => @sintetic_name, :termination => @termination, :course => @course }%>
                <% end %>
              </div>
              <% if @course_files.num_pages > @course_files.current_page %>
                <div class="library-paginator">
                  <%= link_to t('.load'), library_in_course_pagination_path(page: @course_files.next_page), id: "paginador", remote: true %>
                </div>
              <% end %>
            <% else %>
              <div class="no-content-section">
                <h4><%=t('.no_files')%></h4>
              </div>
            <% end %>
          </div>
        </div>

        <div class="library-terms">
          <p class="small"><%=t('.text2')%> <%= mail_to "info@cursa.me", "info@cursa.me"%></p>
        </div>

        <div id="uplok">
          <script id="template-upload-2" type="text/x-tmpl">
            <div class="upload">
              <div class="deletedprogresbar">
                {%=o.name%}<div class="progress-add"></div>
                <div class="content_progress_bar">
                  <div class="progress_exact"></div>
                </div>
              </div>
            </div>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
