<% content_for :javascripts do  %>
<%= javascript_include_tag('courses/library') %>
<% end %>

<%= render :partial => 'courses/show/course-header', locals: { header_style: :compact } %>
<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">

        <div class="library-wrap container">
          <div class="header">
            <div class="left">
              <h3>Biblioteca</h3>
              <span class="library-count">
                <% if @course.course_files.any? %>
                  <%= pluralize(@course.course_files.count, 'Archivo', 'Archivos') %>
                <% end %>
              </span>  
            </div>
            <div class="right">
              <% if current_user.admin? || !@member.nil? && !@member.owner.nil? && @member.owner %>
                <%= form_for CourseFile.new, :html => { :multipart => true } do |f| %>
                  <label class="btn btn-primary activable">
                    Subir archivo
                    <span class="hide-input-file">
                      <input id="upload-files-to-course" name="course_file[file]" type="file" multiple="multiple"/>
                      <%= hidden_field_tag :course_id, @course.id %> 
                      <%= f.hidden_field :published, :value => true %>
                    </span>
                  </label>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="body">
            <% if @course.course_files.any? %>
              <div class="library-items-list">
                <% @files.reverse.each do |cf|%>
                  <% @name =  "#{cf.file}" %>
                  <% @sintetic_name = @name.split('/').last%>
                  <% @termination = @name.split('.').last %>
                  <%= render :partial => "course_files/library_item", :locals => {:cf => cf, :name => @name, :sintetic_name => @sintetic_name, :termination => @termination, :course => @course }%>
                <% end %>
              </div>
              <% if @files.num_pages > @files.current_page %>
                <div class="library-paginator">
                  <%= link_to "Cargar más archivos", library_in_course_pagination_path(page: @files.next_page), id: "paginador", remote: true%>
                </div>
              <% end %>
            <% else %>
              <div class="no-content-section">
                <h4>Este curso no tiene archivos en su librería.</h4>
              </div>
            <% end %>
          </div>
        </div>

        <div class="library-terms">
          <p class="small">Cúrsame no se hace responsable del contenido subido por los usuarios, ni de cualquier infracción a derechos de autor o de marca por los mismos.  El usuario que ha subido contenido es 100% responsable de él. Cualquier problema de este tipo favor de reportarlo <%= mail_to "info@cursa.me", "info@cursa.me"%></p>
        </div>

        <div id="uplok">
          <script id="template-upload-2" type="text/x-tmpl">
            <div class="upload">
              <div class="deletedprogresbar">
                {%=o.name%}<div class="progress-add"></div>
                <div class="content_progress_bar">
                  <div class="progress_exact"></div>
                </div>
              </div>
            </div>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>