<% content_for :body_classes do %>
background-white
<% end %>

<%= render :partial => 'course-header' %>

<div class="wrapper spaced">

  <div class="sub-profile-title">
    <div class="fl">
      <h3>Biblioteca del Curso</h3>
      <span class="library-count">
        <% if @course.course_files.any? %>
          <%= pluralize(@course.course_files.count, 'Archivo', 'Archivos') %>
        <% end %>
      </span>
    </div>
    <% if @member.owner != nil && @member.owner == true %>
      <div class="fr">
        <%= form_for CourseFile.new, :html => {:multipart => true} do |f| %>
          <label class="btn btn-primary">
            Subir archivo
            <span class="hide-input-file">
              <input id="upload-files-to-course" name="course_file[file]" type="file" multiple="multiple"/>
              <%= hidden_field_tag :course_id, @course.id %> 
              <%= f.hidden_field :published, :value => true %>
            </span>
          </label>
        <% end %>
        <script src="/assets/jquery-fileupload/jquery.fileupload.js?body=1" type="text/javascript"></script>
      </div>
    <%end%>   
  </div>
  
  <div id="uplok">
    <script id="template-upload-2" type="text/x-tmpl">
      <div class="upload">
        <div class="deletedprogresbar">
          {%=o.name%}<div class="progress-add"></div>
          <div class="content_progress_bar">
            <div class="progress_exact"></div>
          </div>
        </div>
      </div>
    </script>
  </div>

  <div class="library-wrap">
    <% if @course.course_files.any? %>
      <div class="library-items-list">
        <% @files.reverse.each do |cf|%>
          <% @name =  "#{cf.file}" %>
          <% @sintetic_name = @name.split('/').last%>
          <% @termination = @name.split('.').last %>
        
          <%= render :partial => "course_files/library_item", :locals => {:cf => cf, :name => @name, :sintetic_name => @sintetic_name, :termination => @termination, :course => @course }%>

        <%end%>
        <div id="paginate-files"></div>
        <div id="paginador_container"><%= link_to "Cargar archivos anteriores", library_in_course_pagination_path(:page => 2), :id => "paginador", :remote => true%></div>
      </div>
    <% else %>
      <div class="no-content-section">
        <h4>Este curso no tiene archivos en su libreria.</h4>
      </div>
    <% end %>
    <div class="library-terms">
      <p class="small">Cúrsame no se hace responsable de cualquier contenido de este tipo que pueda ser subido a la página, ni de derechos de autor ni de derechos de marca, el usuario que ha subido este contenido en 100% responsable de él. "Cualquier problema de este tipo favor de reportarlo a <%= mail_to "info@cursa.me", "info@cursa.me"%></p>
    </div>
  </div>
</div>