<div id="nsdmenu">
		<h1>Miembros del curso</h1>
</div>

<!-- se hace un retiro de código del código anterior ya que users esta mas definido -->
<div class="cmembers">
	<% if  @course.members_in_courses.count > 0 %>
	
	<div class="pndts"><h1>Pendientes de Aprobacion: <%= @course.pendings%></h1></div>

<%@course.members_in_courses.each do |member|  %>
<div class="everymbrm" style="float:left;">

        <% @members = User.find_by_id(member.user_id) %>

        <% @member = MembersInCourse.find_by_user_id_and_course_id(member.user_id, current_course.id)%>
       <!--coloca la imagen y el nombre-->
       <%= link_to image_tag(@members.avatar.profile), show_user_path(@members.personal_url) if (!@members.avatar.blank?  )%>
        <%= link_to image_tag(@members.image_avatarx), show_user_path(@members.personal_url) if (@members.avatar.blank?  )  %> 
       
       <h3><%= @members.email %></h3>
       
        <%if @member.accepted != true%>
           <!--el usuario se mustra de esta manera cuando no ha sido aceptado-->
          <%= form_for @member, :remote => true do |fcm| %>
            <div style = "color:#F31E25;"><%= "No es miembro aún"%><%=fcm.check_box :accepted, :onclick => 'submit()'  %><div class="dstroytxt" style="margin-top:53px;"><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></div>
           <%end%>
        <%else%>
        <br />
        <!--cuando un usuario es owner se le muestra la caja de permisos de adminitrador el permiso de administrador lo adquiere el usuario que crea el curso-->
          <% if @member.owner == true %>
            <%= form_for @member, :remote => true do |owner|%>
               <div class="helptext"><%=owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer quitar los permisos de administrador de curso a este usuario, el ya no podrá editar nada de este curso?'  %><%= "Permisos de administrador" %></div>
            <%end%>
             
            <%else%>
            <%= form_for @member, :remote => true do |owner|%>
               <div style = "color:#F31E25;"><%=owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer agregar los permisos de administrador de curso a este usuario, el podrá editar el curso?'  %><%= "No es administrador"%></div>
            <%end%>
          <%end%>
            <!--el usuario se muestra de esta manera cuando ya ha sido aceptado-->
            <%= form_for @member, :remote => true do |fcm| %>
            <div class="helptext"><%=fcm.check_box :accepted, :onclick => 'submit()' %><%= "Miembro"%></div>
            <div class="dstroytxt"><%= link_to 'Destroy', @member, confirm: 'Are you sure?', method: :delete %></div>
          <%end%>
        <%end%>
     </div>
<%end%>
<%end%>
</div>