<div style="width: 910px; display: block; padding: 30px 0 20px; height: 35px; margin: 0 auto;">
		<h2 class="courses-title-h2" style="width: 800px;">Miembros del curso: <%= @course.members_in_courses.count %> </h2>
			<!-- <div style="float:right; padding-top: 10px;"><%= link_to "Regresar al curso ", course_path(@course.id)%></div> -->
</div>


<% if current_role == "admin"%>
<% if @member.owner == true%>
<%else%>
<%@course.members_in_courses.each do |member|  %>

  <div class="everymbrm membersCurse">
       <% @members = User.find_by_id(member.user_id) %>       
       <%if @members == "nil"%>
       <%else%>
            <div id="imgge" style="width:170px;height:170px;background:#ddd;overflow: hidden;">
            	<span class="imgge_gradient"></span>
					<% if  @members.avatar.profile.blank? %>
						<%= image_tag(@members.image_avatarx)%>
                    <%else%>
						<%= image_tag(@members.avatar.profile)%>
					<%end%>
             </div>
             <h3>
             	<%= link_to  "#{@members.name} perfil", show_user_path(@members.personal_url) %>
             </h3>
      <%end%>
  </div>
    
<%end%>
<%end%>    
<%end%>

<!-- se hace un retiro de código del código anterior ya que users esta mas definido -->
<div class="cmembers">
<% if  @course.members_in_courses.count > 0 %>

	<!--   
  <div class="pndts">
  	<h1>Pendientes de Aprobacion: <%= @course.pendings%></h1>
  </div>
    -->


    <%@course.members_in_courses.each do |member|  %>
        <%if @members == "nil"%>
        <%else%>
             
                    <% @members = User.find_by_id(member.user_id) %>
                    <% @member = MembersInCourse.find_by_user_id_and_course_id(member.user_id, current_course.id)%>
                <div class="everymbrm membersCurse" id="usk_<%=@member.id%>">
                <!--coloca la imagen y el nombre-->
       

				<div id="imgge" style="width:170px;height:170px;background:#ddd; overflow: hidden;">
					<span class="imgge_gradient"></span>
						<% if  @members.avatar.profile.blank? %>
							<%= image_tag(@members.image_avatarx)%>
						<%else%>
							<%= image_tag(@members.avatar.profile)%>
						<%end%>
				</div><!-- ends imgge -->
				  
        <h3 style="background-color: rgb(222, 222, 222);">
        	<%= link_to "#{truncate(@members.name, :omission => "...", :length => 15)}", show_user_path(@members.personal_url) %>
        </h3>
             
	     <div class="hoverShowEdit">
	             <center>
               
                <%if @member.accepted != true%>
                <!--el usuario se mustra de esta manera cuando no ha sido aceptado-->
                    <div class="nameUser"><%= form_for @member, :remote => true do |fcm| %></div>
                        <div class="nonAce">
                          <div class="helptext" style="height:16px!important;height:35px!important;">
                          	<%=  fcm.check_box :accepted, :onclick => 'submit()'  %><%= "El usuario no ha sido aceptado aún"%>
                          </div>
                          <div class="addfriend" style="margin-top: 10px; text-align: center;">
                          	<%= link_to 'Eliminar', @member, confirm: 'Are you sure?', method: :delete, :remote => true %>
						  </div>
                    </div><!-- ends nonAce -->
                    </div>
                    <%end%>
                <%else%>
        
                <!--cuando un usuario es owner se le muestra la caja de permisos de adminitrador el permiso de administrador lo adquiere el usuario que crea el curso-->
                <% if @member.owner == true %>
                    <div class="nameUser"><%= form_for @member, :remote => true do |owner|%></div>
                    <div class="helptext">
                       <%= owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer quitar los permisos de administrador de curso a este usuario, el ya no podrá editar nada de este curso?'  %> <%= "Administrador" %></div>
                <%end%>
             
                <%else%>
                    <div class="nameUser"><%= form_for @member, :remote => true do |owner|%></div>
                    <div style = "color:#FFF;"><%= owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer agregar los permisos de administrador de curso a este usuario, el podrá editar el curso?'  %>
                        <%= "No es administrador"%></div>
                <%end%>
             <%end%>

            <!--el usuario se muestra de esta manera cuando ya ha sido aceptado-->

		
	                <div class="helptext" style="margin-bottom: 15px;">
	                	<%= form_for @member, :remote => true do |fcm| %>
	                	<%=fcm.check_box :accepted, :onclick => 'submit()' %><%= "Miembro"%>
	                </div>
	                <div class="addfriend" style="margin-top: 10px; text-align: center;">
	                	<%= link_to 'Eliminar', @member, confirm: 'Are you sure?', method: :delete, :remote => true %>
	                </div>
	              </center>
              </div>
                
                <%end%>
            <%end%>
     </div><!-- ends everymbrm -->
     
<%end%>
<%end%>
<%end%>
</div>


	<script>
		$('document').ready ( function() {
			$('.everymbrm').find('h3 > a').css({ color: "#FFF" });
			$('.everymbrm').find('h3').css({ color: "#FFF", background: "rgb(0, 102, 150)" });
		});
	
		$('.everymbrm').mouseenter( function() {
			$(this).find('.hoverShowEdit').animate({ marginTop: '-200px' }, 200);
		});
		$('.everymbrm').mouseleave( function() {
			$(this).find('.hoverShowEdit').animate({ marginTop: '-380px' }, 200);
		});

		$('.everymbrm').mouseenter( function() {
			$(this).find('h3').css({ background: "#2E7FA6", });
			$(this).find('#imgge').delay( 3000 ).css({ 'filter' : 'blur(5px)', '-webkit-filter' : 'blur(5px)', '-moz-filter' : 'blur(5px)',
										 '-o-filter' : 'blur(5px)', '-ms-filter' : 'blur(5px)' });
			$(this).find('.imgge_gradient').fadeOut(200);
			$(this).find('h3 > a').css({ color: "#FFF" });
		});
		$('.everymbrm').mouseleave( function() {
			$(this).find('h3').css({ background: "#006696", });
			$(this).find('#imgge').delay(1800).css({ 'filter' : 'blur(0px)', '-webkit-filter' : 'blur(0px)', '-moz-filter' : 'blur(0px)',
										 '-o-filter' : 'blur(0px)', '-ms-filter' : 'blur(0px)' });
			$(this).find('.imgge_gradient').fadeIn(200);
			$(this).find('h3 > a').css({ color: "#FFF" });
		});
		
		// ----- hace un resize de la imagen en caso de que sea más pequeña
		$('.everymbrm img').on('load',function(){
		    var css;
		    var ratio=$(this).width() / $(this).height();
		    var pratio=$(this).parent().width() / $(this).parent().height();
		    if (ratio<pratio) css={width:'100%', height:'auto'};
			    else if (ratio>pratio) css={width:'auto', height:'auto'};
		    else css={width:'100%', height:'auto'};
		    $(this).css(css);
		});
	</script>

<!--
	<script>
		$document.ready(function() {
			$('.everymbrm').mouseenter( function() {
				$('.hoverShowEdit').animate({ marginTop: '-231px' }, 200);
			}),
			$('.everymbrm').mouseleave( function() {
				$('.hoverShowEdit').animate({ marginTop: '-462px' }, 100);
			});
		});
	</script>
-->
