<div id="nsdmenu">
		<h1>Miembros del curso <%= @course.members_in_courses.count %>    <div style="float:right;"><%= link_to "Regresar al curso ", course_path(@course.id)%></div></h1>e
</div>

<% if current_role == "admin"%>

<%@course.members_in_courses.each do |member|  %>

  <div class="everymbrm">
       <% @members = User.find_by_id(member.user_id) %>
       
       <%if @members == "nil"%>
       <%else%>
            <div id="imgge" style="width:170px;height:170px;background:#ddd;">
                    <% if  @members.avatar.profile.blank? %>
                  <%= image_tag(@members.image_avatarx)%>
                    <%else%>
                  <%= image_tag(@members.avatar.profile)%>
                  <%end%>
              </div>
                   <%= link_to  "#{@members.name} perfil", show_user_path(@members.personal_url) %>
      <%end%>
    </div>
    
<%end%>
     
<%end%>


<!-- se hace un retiro de código del código anterior ya que users esta mas definido -->
<div class="cmembers">
<% if  @course.members_in_courses.count > 0 %>
  
  <div class="pndts"><h1>Pendientes de Aprobacion: <%= @course.pendings%></h1></div>


    <%@course.members_in_courses.each do |member|  %>
        <%if @members == "nil"%>
        <%else%>
              <div class="everymbrm">
                    <% @members = User.find_by_id(member.user_id) %>
                    <% @member = MembersInCourse.find_by_user_id_and_course_id(member.user_id, current_course.id)%>

                <!--coloca la imagen y el nombre-->
       
                <div id="imgge" style="width:170px;height:170px;background:#ddd;">
                <% if  @members.avatar.profile.blank? %>
              <%= image_tag(@members.image_avatarx)%>
                <%else%>
              <%= image_tag(@members.avatar.profile)%>
              <%end%>

                </div><!-- ends imgge -->
                <h3><%= truncate(@members.email, :omission => "...", :length => 15) %></h3>
       
                <%if @member.accepted != true%>
                <!--el usuario se mustra de esta manera cuando no ha sido aceptado-->
                    <div class="nameUser"><%= form_for @member, :remote => true do |fcm| %></div>
                        <div class="nonAce">
                          <div class="helptext" style="height:16px!important;height:35px!important;"><%=  fcm.check_box :accepted, :onclick => 'submit()'  %><%= "El usuario no ha sido aceptado aún"%></div>
                          <div class="addfriend" style="margin-top: 10px; text-align: center;">
                          <%= link_to 'Eliminar', @member, confirm: 'Are you sure?', method: :delete %>
                          <%#= link_to 'Eliminar', member, confirm: 'Are you sure?', method: :delete %>
                      </div>
                    </div><!-- ends nonAce -->
                    <%end%>
                <%else%>
        
                <!--cuando un usuario es owner se le muestra la caja de permisos de adminitrador el permiso de administrador lo adquiere el usuario que crea el curso-->
                <% if @member.owner == true %>
                    <div class="nameUser"><%= form_for @member, :remote => true do |owner|%></div>
                    <div class="helptext">
                       <%= owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer quitar los permisos de administrador de curso a este usuario, el ya no podrá editar nada de este curso?'  %> <%= "Administrador" %></div>
                <%end%>
             
                <%else%>
                    <div class="nameUser"><%= form_for @member, :remote => true do |owner|%></div>
                    <div style = "color:#F31E25;"><%= owner.check_box :owner, :onclick => 'submit()', confirm: '¿Estas seguro de querer agregar los permisos de administrador de curso a este usuario, el podrá editar el curso?'  %>
                        <%= "No es administrador"%></div>
                <%end%>
             <%end%>
            <!--el usuario se muestra de esta manera cuando ya ha sido aceptado-->
                <%= form_for @member, :remote => true do |fcm| %>
                <div class="helptext"><%=fcm.check_box :accepted, :onclick => 'submit()' %><%= "Miembro"%></div>
                <div class="addfriend" style="margin-top: 10px; text-align: center;"><%= link_to 'Eliminar', @member, confirm: 'Are you sure?', method: :delete %></div>
                <%end%>
            <%end%>
     </div><!-- ends everymbrm -->
     
<%end%>
<%end%>
<%end%>
</div>
