<%= render :partial => 'courses/show/course-header', locals: { header_style: :compact } %>
<scirpt src="/assets/course_members.js" ></scirpt>

<% unless @course.members_in_courses.count - 1 == 0 %>
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="sub-profile-title">
            <h3><%=t('.mem')%> - <%= @course.members_in_courses.count - 1 %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <% if @member.owner %>
      <%= render partial: '/courses/members_in_courses/owner_partial_for_member', :locals => {:course => @course, :member => @member} %>
    <%else%>
      <%= render partial: '/courses/members_in_courses/partial_for_members', :locals => {:course => @course, :member => @member} %>
    <%end%>
  </div>
<% else %>

  <div class="no-content-section">
    <h4><%=t('.no_members')%></h4>
    <p><%=t('.no_records')%></p>
  </div>

<% end %>
