<div id="banner-profile" style="background: linear-gradient(to bottom, rgba(39,39,39,0), rgba(39,39,39,1)),
 url(<%= @course.coverphoto.blank? ? '/assets/'+ @course.image_coursex  :  @course.coverphoto %>); background-size: 100%; background-position-y: 0px; background-repeat: repeat-y; repeat: none;">

 <div id="noticce">
  <div id="notice" class="notice"></div>
 </div>

      <div class="banner-shadow">
        <div id="box-titles">
          <ul id="banner-btns" class="list-header">
            <% permitted_to? :create, :courses do %>

            <li class="stats" get-to="#stats-area" move-sidebar-height="105px">Estadisticas</li>
            <li class="settings" get-to="#configuration" move-sidebar-height="105px">Configuracion</li>
            <li class="calif" get-to="#entregas" move-sidebar-height="105px">Tareas</li>
            
             <% end %>
            <li get-to="#c_area" class="calif" move-sidebar-height="105px" >Calificaciones</li>

          </ul>
        </div>
        <div id="box-titles-content" class="box-titles-content-style">
          <div id="stats-area" class="menu-course" style="width:100%px; height:650px; ">
                  <div id="timeline-embed" style="margin-bottom:-200px;"></div>
                                          <script type="text/javascript">
                                            var timeline_config = {
                                             width: "100%",
                                             height: "78%",
                                             source: '<%=@course.id%>/course_ki_line.json'
                                            }
                                          </script>
                                          <script type="text/javascript" src="<%= "http://#{current_network.subdomain}.#{links}/assets/storyjs-embed.js" %>"></script>

            <ul id ="estadistic-list">
            <% permitted_to? :create, :courses do %>
                <% @comments = current_course.comments.count %>
                <% @deliveries = current_course.deliveries.count %>
                <% @survey = current_course.surveys.count %>
                <% @activity = @comments + @survey + @deliveries  %>

              <li class="sandwich active" ><img src="/assets/icons/home.png"> <br> <b> <%= @activity %> </b> ACTIVIDADES <br><i>Se han generado</i></li>
              <li class="sandwich"><img src="/assets/icons/homework.png"> <br> <b><%= current_course.deliveries.where(:state => 'published').count %> </b> TAREAS ACTIVAS <br><i>   <%= current_course.deliveries.count %>totales</i></li>
              <li class="sandwich"> <img src="/assets/icons/discus.png"> <br> <b> <%= current_course.discussions.count %> </b>DISCUSIONES<br> <i> En el curso </i></li>
              <li class="sandwich last"><img src="/assets/icons/test.png"> <br> <b> <%= current_course.surveys.where(:state => 'published').count %>  </b>CUESTIONARIO<br><i><%= current_course.surveys.count %> totales</i></li>
            <!--  <li> <img src="/assets/icons/grades.png"> <br> <b> 9.1 </b>PROMEDIO <br><i>8.5 general</i></li>-->

            <%end%>

            </ul>


          </div>
          <div id="c_area" class="menu-course  active" style="height:500px; color:#fff;">
              <%= render partial: "courses/evaluation"%>

          </div>
          <div  class="menu-course  active" id="entregas"    style="height:500px;">
              <div class="arco_course_deliver">
                  <h1>Entregas</h1>
                  <div class="content_delivery">
                  
                   <% @course.deliveries.each do |delivery|%>
                  
                   <div class="delivery_f">
                     <div class="delivery_container">
                      <div class="title"><%= delivery.title %></div>
                      <div class="dates"><%= delivery.publish_date %>
                                         <%= delivery.end_date %></div>
                      <div class="state"><%= delivery.state %> <div class="image" id="opentag<%=delivery.id%>"><%= image_tag('ir-a.png') %></div></div>
                     
                      </div>
          
                  
                       <script>
                           $('#opentag<%=delivery.id%>').click(function() {
                             $('#so_open<%=delivery.id%>').toggle('blind', function() {
                             });
                           });
                        </script>
                        
                       <div class="so_open"id="so_open<%=delivery.id%>" style="display:none">
                           <% delivery.assignments.each do |assignment|%>
                           <div class="assignment">
                             <div class="title"> <%= assignment.title %></div>
                              <div class="name"> <%= assignment.user.name %><div class="image"> <%= link_to image_tag('delivery.png'), course_assignment_l_path(assignment.id, :data=> @course.id), :remote => true%> </div></div>
                           </div>
                           <%end%>
                       </div>
                   </div>
                      
                   <%end%>      
                  
                 </div>
                 
                 <div class="survey_f"></div>
                 
                  <div   class="tcg">
                      <div id="tarea_en_carga">
                      </div>
                  </div>
                  
              
              </div>
              
            
            
          </div>
          <div id="configuration" class="menu-course  active" style="height:500px; color:#fff;">
              <h1 style=" margin:10px;color:#fff; font-size:20px;">Configuración de curso</h1>
              <%= render :partial => "courses/form"%>
          </div>

        </div>
      </div>
    </div>


<!-- Content Post Box -->
<div id="box-content" class="profile-line">

<!-- SideBar -->
<div id="side-bar" class="side-left-bar">
  <!-- User Avatar -->
  <% @member = MembersInCourse.find_by_user_id_and_course_id(current_user.id, current_course.id)%>

  <div id="box-user-credential" class="network-layout">
    <div class="thumbnail"  >
          <%= link_to image_tag(@course.avatar.blank? ? @course.course_avatarx : @course.avatar.profile) %>
    </div>
    <div class="tagname">
      <%= @course.title %>
    </div>
  </div>
     <div id="box-course"  style="margin-top:155px;"class="basic-lateral-box margin-top boxinfocourse"> 
         <h2  style="margin-right:-60px; margin-top:6px;"> Información </h2> 
                 
         <p><b>Sylabus</b><b>:</b>
         <%= @course.silabus %> </p>
         <% permitted_to? :create, :courses do %>
         <br><%= link_to "editar curso", edit_course_path,:id =>"edit_course"%>
        <%end%>
     </div>
      <div class="head_banner_style_user">
             <div class="sup_track">
             <div class="track">
             <%= image_tag('track.png')%>
             </div>
             <div class="track_text">
                 <p><%= mail_to "info@cursa.me", "¡Anunciate aquí!"%>
                  </p>
             </div>
             </div>
         </div>
  
     <div id="tabs-friends" class="tabs-style">
         <div id="box-friends" class="basic-lateral-box" >
               <h2  style="margin-right:-30px;"> Miembros </h2> 
              <% permitted_to? :create, :courses do %>

                      <% @course_unaccepted =  @course.members_in_courses.where(:accepted => false).count%>
                      <% if @course_unaccepted == 0%>
                      <%else%>
                      <div class="member_pending" onclick="location.href='<%=course_members_path%>';" ><div class="accepted_not_pending"><%=  "#{@course_unaccepted}"%> </div></div>
                      <%end%>
                  <%end%>
            <% @course.members_in_courses.each do |member|  %>
                <% @members = User.find_by_id(member.user_id) %>
                <!--coloca la imagen y el nombre-->
                <% if current_role == 'admin' || 'superadmin'%>
                 <% if @members != nil%>
                      <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                       <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
                      <%else%>
                <%end%>
                <%else%>
                <% if @member.accepted == true %>
                        <% if @members != nil%>
                              <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                               <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
                              <%else%>
                        <%end%>
                <%end%>
                <%end%>
            <%end%>
            <% if current_role == 'admin' || 'superadmin'%>
            <div class="view-all"> <%= link_to "Administrador de miembros", course_members_path %></div>

              <%else%>
             <% if @member.owner == true %>
                    <div class="view-all"> <%= link_to "Administrador de miembros", course_members_path %></div>
               <%end%>
             <%end%>
         </div>

  </div>
</div>

<!-- Content -->

<div id="box-stream-post">
  <%=render :partial => 'shared/post_menu' %>
  <%=render :partial => 'shared/wall_filters', :locals => {:path => course_path(@course.id), id:@course.id} %>
  <div id="timeline">
    <%= render :partial => '/shared/publications', :locals => {:wall => @wall} %>
  </div>

  <!-- inicio de joyride -->
  <% if show_joyride(1) == '0' %>
    <%= render :partial => '/shared/course_joyride', :locals => {:wall => @wall} %>
  <% end %>
    
  <!-- fin de joyride -->

  <!-- fin timeline -->

  <%= will_paginate(@wall) %>
</div>
<script>
    $("#stats-area").on('show',function () {
            $("#timeline-embed").resize();
            $("#estadistic-list").css("display","block");
            $("#banner-profile").css("height", "900px;");
    });
</script>


<script type="text/javascript">
$(function() {
  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= course_path(@course.id) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
