<p id="notice"><%= notice %></p>
<%if @member.owner == true %>
    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %>
<%end%>
<p>
  <b>Tile:</b>
  <%= @course.title %>
</p>

<p>
  <b>Silabus:</b>
  <%= @course.silabus %>
</p>

<p>
  <b>Init date:</b>
  <%= @course.init_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @course.finish_date %>
</p>



