
<div id="banner-profile" style="background: linear-gradient(to bottom, rgba(39,39,39,0), rgba(39,39,39,1)),
 url(<%= @course.coverphoto.blank? ? '/assets/'+ @course.image_coursex  :  @course.coverphoto %>); background-size: 100% 440px; background-position-y: 0px; background-repeat: repeat-y;">

 <div id="noticce">
 	<div id="notice" class="notice"></div>
 </div>

      <div class="banner-shadow">
        <div id="box-titles">
          <ul id="banner-btns" class="list-header">
              <% permitted_to? :create, :courses do %>

            <li class="stats" get-to="#stats-area" move-sidebar-height="105px">Estadisticas</li>
            <li class="settings" get-to="#configuration" move-sidebar-height="105px">Configuracion</li>
            <li get-to="#c_area" class="calif" move-sidebar-height="105px" >Calificaciones</li>
              <%end%>
          </ul>
        </div>
        <div id="box-titles-content" class="box-titles-content-style">
          <div id="stats-area" class="menu-course">
            <ul>
            <% permitted_to? :create, :courses do %>

              <li class="sandwich active" ><img src="/assets/icons/home.png"> <br> <b> <%= current_course.discussions.count %> </b> ACTIVIDADES <br><i>Muro principal</i></li>
              <li class="sandwich"><img src="/assets/icons/homework.png"> <br> <b>3 </b> TAREAS<br><i><%= current_course.deliveries.count %> totales</i></li>
              <li class="sandwich"> <img src="/assets/icons/discus.png"> <br> <b> 2 </b>DISCUSIONES<br><i><%= current_course.discussions.count %> totales</i></li>
              <li class="sandwich last"><img src="/assets/icons/test.png"> <br> <b> 1 </b>CUESTIONARIO<br><i><%= current_course.surveys.count %> totales</i></li>
            <!--  <li> <img src="/assets/icons/grades.png"> <br> <b> 9.1 </b>PROMEDIO <br><i>8.5 general</i></li>-->
            <%end%>
            </ul>
          </div>
          <div id="c_area" class="menu-course  active">
              <%#= render partial: "courses/evaluation"%>
          </div>
          <div id="configuration" class="menu-course  active" style="height:500px; color:#fff;">
              <h1 style=" margin:10px;color:#fff; font-size:20px;">Configuración de curso</h1>
              <%= render :partial => "courses/form"%>
          </div>

        </div>
      </div>
    </div>


<!-- Content Post Box -->
<div id="box-content" class="profile-line">
<!-- SideBar -->
<div id="side-bar" class="side-left-bar">
  <!-- User Avatar -->
  <% @member = MembersInCourse.find_by_user_id_and_course_id(current_user.id, current_course.id)%>

  <div id="box-user-credential" class="network-layout">
    <div class="thumbnail"  >
          <%= link_to image_tag(@course.avatar.blank? ? @course.course_avatarx : @course.avatar.profile) %>
    </div>
    <div class="tagname">
      <%= @course.title %>
    </div>
  </div>
     <div id="box-course" class="basic-lateral-box margin-top boxinfocourse">
         <p><b>Sylabus</b><b>:</b>
         <%= @course.silabus %> </p>
         <% permitted_to? :create, :courses do %>
         <br><%= link_to "editar curso", edit_course_path%>
        <%end%>
     </div>

     <div id="tabs-friends" class="tabs-style">
         <div id="box-friends" class="basic-lateral-box" >
            <% @course.members_in_courses.each do |member|  %>
                <% @members = User.find_by_id(member.user_id) %>
                <!--coloca la imagen y el nombre-->
                <% if current_role == 'admin' || 'superadmin'%>
                 <% if @members != nil%>
                      <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                       <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
                      <%else%>              
                <%end%>
                <%else%>
                <% if @member.accepted == true %>
                        <% if @members != nil%>
                              <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                               <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
                              <%else%>              
                        <%end%>
                <%end%>
                <%end%>
            <%end%>
            <% if current_role == 'admin' || 'superadmin'%>
            <div class="view-all"> <%= link_to "Administrador de miembros", course_members_path %></div>
            
              <%else%>
             <% if @member.owner == true %>
                    <div class="view-all"> <%= link_to "Administrador de miembros", course_members_path %></div>
               <%end%>
             <%end%>
         </div>

  </div>
</div>

<!-- Content -->

<div id="box-stream-post">
      <%
        # @page = params[:page].to_i
        # @search = params[:search]
        # @id = params[:id].to_i
        @user = current_user
        # @wall =  @course.walls.where("publication_type != ?", 'Course').search(@search, @id).order('created_at DESC').paginate(:per_page => 2, :page => params[:page])
        # @filter = @desert
        # @wall = @filter


       %>

       <%=render :partial => 'shared/post_menu' %>

       <%=render :partial => 'shared/wall_filters', :locals => {:path => course_path(@course.id)} %>
       <div id="timeline">
         <%= render :partial => '/shared/publications', :locals => {:wall => @wall} %>
       </div>
       <!-- fin timeline -->
       <%= will_paginate(@wall) %>
</div>



<script type="text/javascript">
$(function() {
  var p = $('#timeline').pageless({
    totalPages: <%= @wall.total_pages %>,
    url: '<%= course_path(@course.id) %>',
    loaderMsg: '...',
    onInit:function(opts){
      this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
