
<%= render :partial => 'course-header' %>


<div class="wrapper spaced">
  <div id="box-stream-post">
    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>

    <div id="timeline" class="tim">
      <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'course'} %>
    </div>

    <%= will_paginate(@wall) %>
  </div>
</div>

<div style="display: none">
  <% if current_role == 'admin' || current_role == 'superadmin' %>          
    <div class="view-all" id="members_admin"><%= link_to "Administrador de miembros", course_members_path %></div>
  <% elsif @member.owner != nil && @member.owner == true %>
    <div class="view-all" id="members_admin"> <%= link_to "Administrador de miembros", course_members_path %></div>
  <%end%>
</div>

<script type="text/javascript">
  // elimina todos los p vacios  
  $(document).ready ( function() {
    $('p:empty').hide();


    <% if current_user.tour_course == false %>
      var tourContent = '<%= escape_javascript(render(partial: "/shared/tour/video_tour_first_time", locals: { video_id: "-ZYSwRYySWc", tour_type: "course" })) %>';
      createModal( tourContent, "video-tutorial-overlay overlay-informative not-removable" );
    <% end %>
  });

  $("#stats-area").on('show',function () {
    $("#timeline-embed").resize();
    $("#estadistic-list").css("display","block");
    $("#banner-profile").css("height", "900px;");
  });

  $(function() {
    var p = $('#timeline').pageless({
      totalPages: <%= @wall.total_pages %>,
      url: '<%= course_path(@course.id) %>',
      onInit:function(opts) {
        this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>
