<%= render :partial => 'course-header' %>

<div class="wrapper sc-margined  spaced">
  <div id="box-stream-post">
    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>

    <div id="timeline" class="tim">
      <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'course'} %>
    </div>

    <div id="paginate_wall" onclick="PaginateINwall('/courses/<%=@course.id%>',2, <%= @wall.total_pages %>)"></div>
  </div>
</div>

<div style="display: none">
  <% if current_role == 'admin' || current_role == 'superadmin' %>          
    <div class="view-all" id="members_admin"><%= link_to "Administrador de miembros", course_members_path %></div>
  <% elsif @member.owner != nil && @member.owner == true %>
    <div class="view-all" id="members_admin"> <%= link_to "Administrador de miembros", course_members_path %></div>
  <%end%>
</div>

<script type="text/javascript">
  // elimina todos los p vacios  
  $(document).ready ( function() {
    $('p:empty').hide();
    <% if current_user.tour_course == false %>
      $.ajax({
        type: "GET",
        url: '<%= video_modal_path %>'
      });
    <% end %>
    $("#stats-area").on('show',function () {
      $("#timeline-embed").resize();
      $("#estadistic-list").css("display","block");
      $("#banner-profile").css("height", "900px;");
    });
  });
</script>
