
<p id="notice"><%= notice %></p>
<% if @course.coverphoto = nil %>
    <div id="banner-profile" style="background:url('/assets/bannerprofile.png');background-size: 970px 315px ; background-position-y: -40px; background-repeat: no-repeat;"></div>
<%else%>
    <div id="banner-profile" style="background:url('<%= @course.coverphoto.expanded %>');background-size: 970px 315px ; background-position-y: -40px; background-repeat: no-repeat;">
      <div class="banner-shadow">
        <div id="box-titles">
          <div>
            <ul class="list-header">
              <li class="stats" id="stats">Estadisticas</li>
              <li class="settings" id="settings">Configuracion</li>
            </ul>
          </div>
        </div>
        <div id="box-titles-content">
          <div class="menu-course">
            <ul>
              <li class="sandwich active" ><img src="/assets/icons/home.png"> <br> <b> 15</b> ACTIVIDADES <br><i>Muro principal</i></li>
              <li class="sandwich"><img src="/assets/icons/homework.png"> <br> <b>3 </b> TAREAS<br><i>25 totales</i><//li>
              <li class="sandwich"> <img src="/assets/icons/discus.png"> <br> <b> 2 </b>DISCUSIONES<br><i>25 totales</i></li>
              <li class="sandwich"><img src="/assets/icons/test.png"> <br> <b> 1 </b>CUESTIONARIO<br><i>25 totales</i></li>
              <li> <img src="/assets/icons/grades.png"> <br> <b> 9.1 </b>PROMEDIO <br><i>8.5 general</i></li>
            </ul>
          </div>
          <%# render :partial => "users/menu_member"%>
        </div>
      </div>
    </div>
<%end%>


<!-- Content Post Box -->
<div id="box-content" class="profile-line">
<!-- SideBar -->
<div class="box-3" >
  <!-- User Avatar -->
  <div id="box-user-credential" class="network-layout">
    <div class="thumbnail"  >
      <%= link_to image_tag(@course.avatar.profile)%>
    </div>
    <div class="tagname">
      <%= @course.title %>
    </div>
  </div>

  <div id="box-course" class="basic-lateral-box margin-top" >
    <h2>cursos</h2>
    <div id="form-new-course" class="form-new-course-lateral">
      <%= render partial: "users/form_course.html.erb"%>
    </div>
    <div id="tabs-courses" class="tabs-style">
      <ul id="ul-tabs">
        <li class="element-left">
          <a href="#tabs-courses-1">
            <div class="content-tab">
              <span class="title-num"><%= @count_course_iam_member%></span>
              <span class="title">CURSOS</span>
            </div>
          </a>
        </li>
        <li class="element-right">
          <div id="new-course-btn" class="plus-courses"></div>
          <a href="#tabs-courses-2">
            <div class="content-tab">
              <span class="title-num"><%= @count_course_iam_member_and_owner %></span>
              <span class="title">CREADOS</span>
            </div>
          </a>
        </li>
      </ul>
      <div id="tabs-courses-1">
        <ul id="course-list" >
          <%# if @course_count == 0%>
          <li><a href="#">No hay cursos</a></li>
          <%# else%>
          <%# @courses.each do |cu|%>
          <%# @cort = Course.find(cu.course_id)%>
          <%# if cu.accepted == true %>
          <li><%#= link_to "#{@cort.title}", course_path(@cort.id) %></li>
          <%#end%>
          <%#end%>
          <%#end%>
        </ul>
        <div class="view-all"><%#= link_to "Ver todos", courses_path%></div>
      </div>
      <div id="tabs-courses-2">
        <ul id="course-list" >
          <%# if @course_count == 0%>
          <li><a href="#">No hay cursos</a></li>
          <%#else%>
          <%# @courses.each do |cu|%>
          <%# @cort = Course.find(cu.course_id)%>
          <%# if cu.owner == true%>
          <li><%#= link_to "#{@cort.title}", course_path(@cort.id) %></li>
          <%#else%>
          <%#end%>
          <%#end%>
          <%#end%>
        </ul>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div id="box-friends" class="basic-lateral-box" >
    <h2>AMIGOS</h2>
    <div id="tabs-friends" class="tabs-style">
      <ul id="ul-tabs">
        <li class="element-left" style="width:100px!important;">
          <a href="#tabs-friends-1">
            <div class="content-tab">
              <span class="title-num">39</span>
              <span class="title">amigos</span>
            </div>
          </a>
        </li>
        <li class="element-right" style="width:130px!important;">
          <a href="#tabs-friends-2">
            <div class="content-tab">
              <span class="title-num">20</span>
              <span class="title">sugerencias</span>
            </div>
          </a>
        </li>
      </ul>
      <div id="tabs-friends-1">
        <div class="content-avtr">
        </div>
        <div class="view-all"><a href="">Ver Todo</a></div>
      </div>
      <div id="tabs-friends-2">
        <div class="content-avtr">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div id="box-stream-post">
  <div class="profile-post-box">
    <div id="post-forms">
      <div id="message-form-area">
        <%= render :partial => '/shared/comment_form',:locals => {:commentable_id => current_network.id,:commentable_type => 'Network'} %>
      </div>
      <% if @member.owner != nil%>
          <div id="delivery-form-area">
              <% @count_course_iam_member_and_owner = MembersInCourse.find_by_user_id_and_course_id(current_user.id , @course.id) %>
            <%# render :partial => '/deliveries/form'%>
            <%= render :partial => '/deliveries/delivery_compart_form'%>
          </div>
      <%end%>
      <div id="survey-form-area">
        <%#= render :partial => '/surveys/form'%>
      </div>
    </div>

    <div id="profile-form-options" class="post-btns-box">
      <a href="#message-form-area" class="message-form-btn"><div class="border" ><div class="icon"></div></div>Comentario</a>
      <a href="#delivery-form-area"class="delivery-form-btn"><div class="border" ><div class="icon"></div></div>Tarea</a>
      <a href="#discussion-form-area" class="discussion-form-btn"><div class="border" ><div class="icon"></div></div>Discusi칩n</a>
      <a href="#survey-form-area" class="test"><div class="border" ><div class="icon"></div></div>Cuestionario</a>
      <a href="" class="poll"><div class="border" ><div class="icon"></div></div>Encuesta</a>
      <a href="" class="event"><div class="border" ><div class="icon"></div></div>Evento</a>
    </div>
  </div>

  <%# @comments.reverse.each do |comment| %>
  <%#= render :partial => '/shared/comments', :locals => {:comment => comment} %>
  <%#end%>

  <%#  @course.deliveries.each do |delivery| %>
      <%#= delivery.publish_date%>
      <%#= delivery.title %>
      <%#= delivery.description %>
      <%#= render partial: "assignments/form_for_delivery"%>
<%#end%>

  <%  @course.deliveries.reverse.each do |delivery| %>
  <div id="box-comments">
      <div class="general-cir"></div>
         <div id="comment1" class="comment-text" >
             <div class="arrow-left"></div>
               <div class="header">
                 <div class="null-image"></div>
                 <div class="avatar">
                 <%= link_to image_tag(delivery.user.avatar.modern,{:class => "avatar-mini"}), show_user_path(delivery.user.personal_url) %></div>
                   <div class="name"> <%= delivery.title %></div><span><%= delivery.publish_date%></span>
                 </div>
                  <div class="content">
                     <div class="null-image"></div>
                     <%= delivery.description %></br>
                     <% delivery.assets.each do|files|%>
                       <% debug files.file %>
                         <%= link_to "#{files.file}", "#{files.file}" %>
                     <%end%>
                  </div> 
                    <div class="footer">
                      <img src="/assets/icons/grey-mini-comment.png" class="icon">
                      <img src="/assets/icons/grey-mini-like.png" class="icon">
                      <div class="labels"><%# comment.comments.count %>Comentarios</div>
                      <div class="labels"><div id="open-close-<%= delivery.id %>"><a>Responder tarea</a></div></div>
                     <div class="labels"><div id="open-close-lo<%= delivery.id %>"><a>Respuestas</a></div></div>
                      
                       </div>              
        <div style="display:none; margin-top:15px; margin-left:5px;" id="entrega-<%= delivery.id %>">
            <% @delivery_id = delivery.id%>
                
              <%= render partial: "assignments/form_for_delivery"%>

       </div>
       <div style="display:none; margin-top:15px; margin-left:5px;" id="entrega-lo<%= delivery.id %>">    
                <% @count_deliveries_assignments = delivery.assignments.count %>
                <%= @count_deliveries_areas_of_evaluation = delivery.areas_of_evaluation.count %>
                    <% if @count_deliveries_areas_of_evaluation > 0%>
                       
                    <%else%>
                      <b>A esta tarea no se le han asignado 치reas de evaluaci칩n </b></br>
                    <%end%>
                <% if @count_deliveries_assignments > 0%>
                    <% delivery.assignments.each do |assignment| %>
                       <b><%= assignment.title %></b></br>
                       <%= assignment.brief_description %></br>
        
                          <%= form_for assignment do |assignment_form|%>                        
                                        
                               <%= assignment_form.fields_for :response_to_the_evaluations do |response| %>
                                         <b>rubro</b></br>
                    
                                      <%= render :partial => "assignments/responce_of_evaluation", :locals => { :f => response }%>   
                                       
                               <%end%>
                                    <b>Evaluaci칩n final</b>
                                   <%= assignment_form.text_field :accomplishment %></br>
                                   
                              
                               <%= assignment_form.submit%></br>
                             
                          <%end%>             
                    <%end%>
                    
                  <% else %>
                    <b>No se han encontrado respuestas a esta tarea</b>
                <% end %>
      </div>
         <script>
             $("#open-close-<%= delivery.id %>").click(function () {
                 $('#entrega-<%= delivery.id %>').toggle("slow");

             });  
              $("#open-close-lo<%= delivery.id %>").click(function () {
                  $('#entrega-lo<%= delivery.id %>').toggle("slow");

              });      
          </script>
      </div>
  </div>
  <%end%>
</div>

</div>