<div id="banner-profile" style="display: none">
  <div class="banner-shadow">
    <div id="box-titles">
      <ul id="banner-btns" class="list-header">
        <% permitted_to? :create, :courses do %>
          <% if @member.owner != nil %>
            <% if @member.owner == true %>
              <li class="settings" get-to="#configuration" move-sidebar-height="105px">Configuracion</li>
              <li class="stats" get-to="#stats-area" move-sidebar-height="105px">Estadisticas</li>
              <li class="delivery_two" get-to="#entregas" move-sidebar-height="105px">Entregas</li> 
            <%end%>
          <%end%>
        <% end %>
        <li get-to="#c_area" class="calif" move-sidebar-height="105px" >Calificaciones</li>
        <script>
          $(document).ready( function() {
            // Redireccionamiento de una notificacion: "Nueva calificacion en una entrega"
            var aux = <%= (@show_accomplishment and @id_search) || false %>;
            if(aux) {
              // Se despliegan las calificaciones
              var assignmentsElement = $("#banner-btns > li.calif").first();
              assignmentsElement.click();
            }
          });
        </script>
      </ul>
    </div>
    
    <div id="box-titles-content" class="box-titles-content-style">
      <div id="stats-area" class="menu-course" style="width:100%px; height:650px; ">
        <div id="timeline-embed" style="margin-bottom:-200px;"></div>
        <script type="text/javascript">
          var timeline_config = {
            width: "100%",
            height: "78%",
            source: '<%=@course.id%>/course_ki_line.json'
          }
        </script>

        <%= javascript_include_tag('storyjs-embed.js') %>
        
        <ul id ="estadistic-list">
          <% permitted_to? :create, :courses do %>
            <% @comments = current_course.comments.count %>
            <% @deliveries = current_course.deliveries.count %>
            <% @survey = current_course.surveys.count %>
            <% @activity = @comments + @survey + @deliveries  %>

            <li class="sandwich active" ><img src="/assets/icons/home.png"> <br> <b> <%= @activity %> </b> ACTIVIDADES <br><i>Se han generado</i></li>
            <li class="sandwich"><img src="/assets/icons/homework.png"> <br> <b><%= current_course.deliveries.where(:state => 'published').count %> </b> TAREAS ACTIVAS <br><i>   <%= current_course.deliveries.count %>totales</i></li>
            <li class="sandwich"> <img src="/assets/icons/discus.png"> <br> <b> <%= current_course.discussions.count %> </b>DISCUSIONES<br> <i> En el curso </i></li>
            <li class="sandwich last"><img src="/assets/icons/test.png"> <br> <b> <%= current_course.surveys.where(:state => 'published').count %>  </b>CUESTIONARIO<br><i><%= current_course.surveys.count %> totales</i></li>
          <%end%>
        </ul>
      </div>

      <div id="c_area" class="menu-course  active" style="height:500px; color:#fff;">
        <%= render partial: "courses/evaluation"%>
      </div>

      <div class="menu-course  active" id="entregas" style="height:500px;">
        <div class="arco_course_deliver">
          <div class="classTabs" style="height: 50px; width: 440px;">
            <span class="activate" style="width: 190px; display: inline-block; font-size: 17px; height: 32px; padding: 17px 15px 0; float: left;" onclick="test('content_survey_slider','content_delivery_first')">Tareas</span>
            <span class="deactive" style="width: 190px; display: inline-block; font-size: 17px; height: 32px; padding: 17px 15px 0; float: left; position: absolute;" onclick="test('content_delivery_first','content_survey_slider')">Exámenes</span>
          </div>
        
          <script>
            $(document).ready( function() {
              $('.classTabs span').click( function() {
                $('.classTabs span').removeClass('activate').addClass('deactive');
                $(this).removeClass('deactive').addClass('activate');
              });
              
              // Redireccionamiento de una notificacion: "Nueva entrega en una tarea"
              var aux = <%= (@show_assignment and @id_search) || false %>;
              if(aux) {
                // Obtenemos a que altura debe de quedar la entrega
                var deliveryHeight = 0;
                deliveryHeight += $('.header').height();
                deliveryHeight += $('.title-discusion').height();
                deliveryHeight += $('.end-date-box').height();
                deliveryHeight += $('.description').height();
                deliveryHeight += $('.contents_title').height();
                deliveryHeight += $('.asset-box').height();
                deliveryHeight += $('.evaluation-box').height();
                $('.extra-label').each(function() {
                  deliveryHeight += $(this).height();
                });

                $('#timeline :nth-child(1)').find('.content').append('<div id="tcg_notif" class="tcg"><div id="tarea_en_carga_notification"></div></div>');
                $.get('<%= course_assignment_l_notif_path(@show_assignment) %>', function() {
                  $('#tcg_notif').css('width', '100%');
                  $('#tcg_notif').css('min-width', '75%');
                  $('#tcg_notif').css('margin-top', deliveryHeight + 'px');

                  // Ajustes
                  $('div.coklo-title').css('margin-left', '13%');
                  $('div.coklo-title').css('margin-top', '6%');
                  $('ul.tabs').css('margin-left', '12%');
                });
              }
            });
          </script>
       
       <div class="slider-cointainer" style="width:440px; overflow-y: hidden; overflow-x: scroll ; float: left; height: 400px;">
            <div class="content_delivery" id="content_delivery_first" style="overflow-y: scroll; overflow-x: hidden;">      
            <% @course.deliveries.reverse.each do |delivery|%>            
              <div class="delivery_f" >
                <div class="delivery_container">
                  <div class="OpenClose<%=delivery.id%>"id="OpenClose"></div>
            <div class="title"> <%= delivery.title %> <br>
            <span><%=truncate(delivery.description, :length => 25)%></span>
            <%if delivery.assignments.count != 0 then%>
            <div class="image_scroll" id="image_scroll<%=delivery.id%>" style="display:none;"></div>
            <%end%>
                </div>
                <div class="state">
                    <div id="delivery_state_publish<%=delivery.id%>">
                    <%= link_to "#{delivery.state}", publish_unpublish_delivery_manualy_path(:state => delivery.state, :id => delivery.id ), :remote => true, :class => "state-btn" %>
                    
                    </div>
                    <div class="dates" id="dates_delivery<%=delivery.id%>">
                      <img src="/assets/clock.png"><%= delivery.publish_date %><%= delivery.end_date %>
                    </div>
                    <div class="image" id="opentag<%=delivery.id%>" onmouseover="">
                      
                    </div>
                </div>
                  
                <div class="so_open" id="so_open<%=delivery.id%>" style="display:none;"><!-- start so_open -->
                  <% delivery.assignments.reverse.each do |assignment|%>
                  
                    <div class="assignment" id="div-assignment-<%= assignment.id %>"><!-- start assignment -->

                        <div class="title" style="width: 422px;"><!-- start title -->
                            <span style="width: 345px; margin: 5px 0px 0px 5px; float: left; overflow: hidden;">
                  <span>
                    Entrega:&nbsp;
                  </span>
                  <%= truncate("#{assignment.title}", :omission => "...", :length => 35)%><br/>
                  <% if assignment.user != nil %>
                  <span>
                    Por:&nbsp;
                  </span>
                    <%= truncate("#{assignment.user.name}", :omission => "...", :length => 35) if ( !assignment.user.name.blank?) %>
                </span>
                
                <span id="RightArrow" style="float: right;">
                              <%= link_to image_tag('right_arrow.png'), course_assignment_l_path(assignment.id, :data=> @course.id), :remote => true%>
                </span>
              <%end%>
                        </div><!-- ends title -->
  
                      </div><!-- ends assigment -->

                    <%end%>
                  </div><!-- ends so_open -->
                  
                </div><!-- ends delivery_container -->
              </div><!-- ends delivery_f -->
              <script>
                $('.assignment').mouseenter(function() {
                  $(this).css({background: "#EEE"});
                  $('#RightArrow').css({background: "#e2dfdf"});
                });
            
                $('.assignment').mouseleave(function() {
                  $(this).css({background: "#F5F5F5"});
                  $('#RightArrow').css({background: "transparent"});
                });
                           
                $('.delivery_f .OpenClose<%=delivery.id%>').click (function() {
                  $('#nothing_found').hide();
                  $( '#so_open<%=delivery.id%>' ).toggle('blind');
                  $('#image_scroll<%=delivery.id%>').toggle();
                  $(this).toggleClass('CloseOpenClass');
                  //$(this).parents('.delivery_container').animate({ marginTop: "-30px" })
                  //$(this).parents('.delivery_container').animate({ scrollTop: 0 });
                  $(this).parents('.delivery_f').animate({ scrollTop: $(this).offset().top }).css('background','#EEE');
                  //$(this).parents('.delivery_f').animate({ scrollTop: -200 }).css('background','RED');
                });

                $('#opentag<%=delivery.id%>').click(function() {
                  $('#so_open<%=delivery.id%>').fade('blind');
                  $('#image_scroll<%=delivery.id%>').fade();
                });                
               $('#image_scroll<%=delivery.id%>').click(function() {  
                     //alert('scroll');  
                     var scroll = $('#so_open<%=delivery.id%>').scrollTop();
                     setTimeout(function(){
                        $('#so_open<%=delivery.id%>').scrollTop(scroll+15)
                     },1); 
                     
               });     
              </script>
            <%end%>
          </div><!-- end content_delivery-->
          
          
          <!-------------------------------
          -------------------------------
          
            comienza tab de examenes
            
        -------------------------------
          ------------------------------->
          
          <div class="content_survey" id="content_survey_slider" style="float: left; position: relative; background: #FFF; width: 440px; display: block; overflow-x: hidden; display:none;">
            <% @course.surveys.reverse.each do |survey|%>
              <div class="survey_fTwo" id="survey_f<%=survey.id%>">
                <div id="ExamsDelivery" class="delivery_f">
                  <div class="delivery_container">
                    <div id="OpenClose" class="OpenClose<%=survey.id%>"></div>
                    <div class="title">
                      <%= survey.title %>
            <%if survey.user_surveys.count != 0 then%>
                      <div class="image_scroll" id="image_scroll_s<%=survey.id%>" style="display:none;"></div>
            <%end%>
                    </div>
                     
                    <div class="state">
                      <div class="dates" id="survey_dates<%= survey.id%>">
                <%= survey.publish_date %><%= survey.end_date %>
            </div>

                      <div id="survey_state_publish<%=survey.id%>">
                        <%= link_to "#{survey.state}", publish_unpublish_survey_manualy_path(:state => survey.state, :id => survey.id ), :remote => true, :class => "state-btn" %>
            </div><!-- ends survey_state_publish -->
                    </div><!-- ends state -->
                       
                    <div class="image" id="opentag_s<%=survey.id%>"></div><!-- ends image -->
                  </div><!-- ends delivery_container -->
                </div><!-- ends ExamsDelivery -->

                <!--se muestran las tareas al dar click-->
                <div class="so_open_C2" id="copea_<%=survey.id%>" style="display:none; margin-left: 1px!important; width: 440px;">
                  <% survey.user_surveys.each do |us|%>
                      <div class="assignment" style="width: 440px;">
              <div class="title">
                      <span style="width: 410px; margin: 5px 0px 0px 5px; float: left; overflow: hidden;">
                        <span class="title" style="font-size: 15px;">Entregó: <%= us.user.name%></span>
                        <span id="RightArrow" style="float: right; margin-top: -5px;">
                          <%= link_to image_tag('right_arrow.png'), course_survey_l_path(us.id), :remote => true%>
                        </span>
                  </span>
              </div>
             </div>
          <%end%>
                </div><!-- ends so_open_C2 --> 
                
                
              </div><!-- ends survey_fTwo -->
              
              <script>
                $('.OpenClose<%=survey.id%>').click(function() {
          $('#nothing_found').hide();
          //$('#copea_<%=survey.id%>').toggle('blind', function() {});
          $('#copea_<%=survey.id%>').toggle( function(){} );
          $('#image_scroll_s<%=survey.id%>').toggle();
          $(this).toggleClass('CloseOpenClass');
        });

        $('#image_scroll_s<%=survey.id%>').click(function() {
            //alert('scroll');
            var scroll = $('#copea_<%=survey.id%>').scrollTop();
            setTimeout(function(){
              $('#copea_<%=survey.id%>').scrollTop(scroll+15)
          },1);
        });
              </script>
            <%end%>
          </div><!-- ends content_survey -->
        </div><!-- ends arco_course_deliver -->
        
        <div class="tcg">
          <div id="nothing_found"><img style="margin: 31px auto 0; display: block;" src="../assets/nothing_found.png"></div>
          <div id="tarea_en_carga" style="position: relative;"></div>
        </div>
      </div><!-- ends menu-course  active -->
      
      <script>
        function test(idOne, idTwo) {
          $('#'+idOne).hide();
          $('#'+idTwo).show();
        };
      </script>
    </div><!--ends box-titles-content-->
    
    <div id="configuration" class="menu-course  active" style="height:500px; color:#fff;">
      <h1 style=" margin:10px;color:#fff; font-size:20px;">Configuración de <%= current_network.course_tag%></h1>
      <%= render :partial => "courses/form"%>
    </div>
  </div>
  </div>
</div>

<%= render :partial => 'course-header' %>

<div class="wrapper spaced">
  <div id="box-stream-post">
    <div id="pk_menu">
      <%=render :partial => 'shared/post_menu' %>
    </div>

    <div id="timeline" class="tim">
      <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'course'} %>
    </div>

    <% if show_joyride(1) == '0' %>
      <%= render :partial => '/shared/course_joyride', :locals => {:wall => @wall,:visible_for => 'network' } %>
    <% end %>

    <%= will_paginate(@wall) %>
  </div>
</div>

<div style="display: none">
  <% if current_role == 'admin' || current_role == 'superadmin' %>          
    <div class="view-all" id="members_admin"><%= link_to "Administrador de miembros", course_members_path %></div>
  <% elsif @member.owner != nil && @member.owner == true %>
    <div class="view-all" id="members_admin"> <%= link_to "Administrador de miembros", course_members_path %></div>
  <%end%>
</div>

<script type="text/javascript">
  $('#box-d').mouseenter ( function() {
    $('.UploadArchiveBtn').addClass('UploadArchiveBtn_selected'), 100;
  });
  $('#box-d').mouseleave ( function() {
    $('.UploadArchiveBtn').removeClass('UploadArchiveBtn_selected'), 300;
  });

  // elimina todos los p vacios  
  $(document).ready ( function() {
    $('p:empty').hide();
  });

  $("#stats-area").on('show',function () {
    $("#timeline-embed").resize();
    $("#estadistic-list").css("display","block");
    $("#banner-profile").css("height", "900px;");
  });

  $(function() {
    var p = $('#timeline').pageless({
      totalPages: <%= @wall.total_pages %>,
      url: '<%= course_path(@course.id) %>',
      loaderMsg: '...',
      onInit:function(opts) {
        this.pageless = {
        opts : opts
      };
    },
    params:{
      search:''
    },
    loaderImage: '<%= image_path("load.gif")%>'
  });
});
</script>