<div id="banner-profile" style="background: linear-gradient(to bottom, rgba(39,39,39,0), rgba(39,39,39,1)), url(<%= @course.coverphoto.blank? ? '/assets/'+ @course.image_coursex  :  @course.coverphoto %>); background-size: 100%; background-position-y: 0px; background-repeat: repeat-y; repeat: none;">

  
    <!--<div id="noticce">
     <div id="notice" class="notice"></div>
    </div>-->
  <% permitted_to? :create, :courses do %>
    <% if @member.owner != nil %>
      <% if @member.owner == true %>
        <div class="depot_button"> <%= link_to "Monitor de actividades", course_activities_depot_path %> </div>
      <%end%>
    <%end%>
  <% end %>
  
  <div class="banner-shadow">
    <div id="box-titles">
      <ul id="banner-btns" class="list-header">
        <% permitted_to? :create, :courses do %>
          <% if @member.owner != nil %>
            <% if @member.owner == true %>
              <li class="settings" get-to="#configuration" move-sidebar-height="105px">Configuracion</li>
              <li class="stats" get-to="#stats-area" move-sidebar-height="105px">Estadisticas</li>
              <li class="calif" get-to="#entregas" move-sidebar-height="105px">Entregas</li> 
            <%end%>
          <%end%>
        <% end %>
        <li get-to="#c_area" class="calif" move-sidebar-height="105px" >Calificaciones</li>
        <script>
          $(document).ready( function() {
            // Redireccionamiento de una notificacion: "Nueva calificacion en una entrega"
            if(<%= (@show_accomplishment and @id_search) %>) {
              // Se despliegan las calificaciones
              var assignmentsElement = $("#banner-btns > li.calif").first();
              assignmentsElement.click();
            }
          });
        </script>
      </ul>
    </div>
    
    <div id="box-titles-content" class="box-titles-content-style">
      <div id="stats-area" class="menu-course" style="width:100%px; height:650px; ">
        <div id="timeline-embed" style="margin-bottom:-200px;"></div>
        <script type="text/javascript">
          var timeline_config = {
            width: "100%",
            height: "78%",
            source: '<%=@course.id%>/course_ki_line.json'
          }
        </script>

        <%= javascript_include_tag('storyjs-embed.js') %>
        
        <ul id ="estadistic-list">
          <% permitted_to? :create, :courses do %>
            <% @comments = current_course.comments.count %>
            <% @deliveries = current_course.deliveries.count %>
            <% @survey = current_course.surveys.count %>
            <% @activity = @comments + @survey + @deliveries  %>

            <li class="sandwich active" ><img src="/assets/icons/home.png"> <br> <b> <%= @activity %> </b> ACTIVIDADES <br><i>Se han generado</i></li>
            <li class="sandwich"><img src="/assets/icons/homework.png"> <br> <b><%= current_course.deliveries.where(:state => 'published').count %> </b> TAREAS ACTIVAS <br><i>   <%= current_course.deliveries.count %>totales</i></li>
            <li class="sandwich"> <img src="/assets/icons/discus.png"> <br> <b> <%= current_course.discussions.count %> </b>DISCUSIONES<br> <i> En el curso </i></li>
            <li class="sandwich last"><img src="/assets/icons/test.png"> <br> <b> <%= current_course.surveys.where(:state => 'published').count %>  </b>CUESTIONARIO<br><i><%= current_course.surveys.count %> totales</i></li>
          <%end%>
        </ul>
      </div>

      <div id="c_area" class="menu-course  active" style="height:500px; color:#fff;">
        <%= render partial: "courses/evaluation"%>
      </div>

      <div class="menu-course  active" id="entregas" style="height:500px;">
        <div class="arco_course_deliver">
          <div class="classTabs" style="height: 50px; width: 440px;">
            <span class="activate" style="width: 190px; display: inline-block; font-size: 17px; height: 32px; padding: 17px 15px 0; float: left;" onclick="test('content_survey_slider','content_delivery_first')">Tareas</span>
            <span class="deactive" style="width: 190px; display: inline-block; font-size: 17px; height: 32px; padding: 17px 15px 0; float: left; position: absolute;" onclick="test('content_delivery_first','content_survey_slider')">Exámenes</span>
          </div>
        
          <script>
            $(document).ready( function() {
              $('.classTabs span').click( function() {
                $('.classTabs span').removeClass('activate').addClass('deactive');
                $(this).removeClass('deactive').addClass('activate');
              });
              
              // Redireccionamiento de una notificacion: "Nueva entrega en una tarea"
              if(<%= (@show_assignment and @id_search) %>) {
                // Se despliegan las tareas
                var assignmentsElement = $("#banner-btns > li.calif").first();
                assignmentsElement.click();
                
                // Se deslpiegan las entregas de la tarea elegida
                var deliveryElement = $(".delivery_f").find("#opentag<%= @id_search%>").parent().parent();
                deliveryElement.find("#OpenClose").click();
                
                // Se despliega la nueva entrega en particular
                var assignmentElement = deliveryElement.find("#div-assignment-<%= @show_assignment %> div.title a");
                assignmentElement.click();
              }
            });
          </script>
			 
			 <div class="slider-cointainer" style="width:440px; overflow-y: scroll; overflow-x: hidden; float: left; height: 400px;">
            <div class="content_delivery" id="content_delivery_first" style="overflow-y: scroll; overflow-x: hidden;">      
            <% @course.deliveries.reverse.each do |delivery|%>
            
        	    <div class="delivery_f" >
	              <div class="delivery_container">
	        	      <div id="OpenClose"></div>
	                <div class="title"><%= delivery.title %></div>
	                <div class="state">
	                  <div id="delivery_state_publish<%=delivery.id%>">
	                    <%= link_to "#{delivery.state}", publish_unpublish_delivery_manualy_path(:state => delivery.state, :id => delivery.id ), :remote => true, :class => "state-btn" %>
	                  </div>
	                  <div class="dates" id="dates_delivery<%=delivery.id%>">
	                    <img src="/assets/clock.png"><%= delivery.publish_date %><%= delivery.end_date %>
	                  </div>
	                  <div class="image" id="opentag<%=delivery.id%>"></div>
	                </div>
	                
	                <div class="so_open" id="so_open<%=delivery.id%>" style="display:none">
	                  <% delivery.assignments.reverse.each do |assignment|%>
	                    <div class="assignment" id="div-assignment-<%= assignment.id %>">
	                      <div class="title" style="width: 422px;">
	                        <span style="width: 345px; margin: 5px 0px 0px 5px; float: left; overflow: hidden;">
	                          <span>Entrega:&nbsp;</span> <%= truncate("#{assignment.title}", :omission => "...", :length => 35)%><br/>
	                          <% if assignment.user != nil %>
	                            <span>Por:&nbsp;</span><%= truncate("#{assignment.user.name}", :omission => "...", :length => 35) if ( !assignment.user.name.blank?) %>
	                        </span>
	                        <span id="RightArrow" style="float: right;"><%= link_to image_tag('right_arrow.png'), course_assignment_l_path(assignment.id, :data=> @course.id), :remote => true%>
	                        </span>
	              	          <%end%>
	                      </div><!-- ends title -->
	                    </div><!-- ends assigment -->
	                  <%end%>
	                </div><!-- ends so_open -->
	              </div><!-- ends delivery_container -->
	            </div><!-- ends delivery_f -->
	            <script>
                $('.assignment').mouseenter(function() {
                  $(this).css({background: "#EEE"});
                  $('#RightArrow').css({background: "#e2dfdf"});
                });
            
                $('.assignment').mouseleave(function() {
                  $(this).css({background: "#F5F5F5"});
                  $('#RightArrow').css({background: "transparent"});
                });
                       	   
                $('.delivery_f #OpenClose').click (function() {
                  $('.delivery_f').find( '#so_open<%=delivery.id%>' ).toggle('blind');
                });
             
                $('#opentag<%=delivery.id%>').click(function() {
                  $('#so_open<%=delivery.id%>').fade('blind');
                });                           
              </script>
            <%end%>
          </div><!-- end content_delivery-->
          <div class="content_survey" id="content_survey_slider" style="float: left; position: relative; background: #FFF; width: 440px; display: block; overflow-x: hidden; display:none;">
            <% @course.surveys.reverse.each do |survey|%>
              <div class="survey_fTwo " id="survey_f<%=survey.id%>">
                <div id="ExamsDelivery" class="delivery_f">
                  <div class="delivery_container">
                    <div id="OpenClose" class="OpenClose<%=survey.id%>"></div>
	                  <div class="title"><%= survey.title %></div>
	                   
	                  <div class="state">
	                    <div class="dates" id="survey_dates<%= survey.id%>">
	                      <%= survey.publish_date %><%= survey.end_date %>
	                    </div>

	                    <div id="survey_state_publish<%=survey.id%>">
	                      <%= link_to "#{survey.state}", publish_unpublish_survey_manualy_path(:state => survey.state, :id => survey.id ), :remote => true, :class => "state-btn" %>
						 </div><!-- ends survey_state_publish -->
	                  </div><!-- ends state -->
	                     
	                  <div class="image" id="opentag_s<%=survey.id%>"></div><!-- ends image -->
	                </div><!-- ends delivery_container -->
	              </div><!-- ends ExamsDelivery -->
	              
	              <!--se muestran las tareas al dar click-->
	              
	              <div class="so_open_C2" id="copea_<%=survey.id%>" style="display:none; margin-left: 1px!important; width: 440px;">
	                <% survey.user_surveys.each do |us|%>
                    <div class="assignment" style="width: 440px;">
                      <div class="title">
					  		        <span style="width: 410px; margin: 5px 0px 0px 5px; float: left; overflow: hidden;">
						  	 	        <span class="title" style="font-size: 15px;">Entregó: <%= us.user.name%></span>
							   	        <span id="RightArrow" style="float: right; margin-top: -5px;"><%= link_to image_tag('right_arrow.png'), course_survey_l_path(us.id), :remote => true%></span>
							 	    </span>
							 	     
					 </div>
				   </div>
                  <%end%>
                </div><!-- ends so_open_C2 --> 
              </div><!-- ends survey_fTwo -->
              
              <script>
                $('.OpenClose<%=survey.id%>').click(function() {
                  $('#copea_<%=survey.id%>').toggle('blind', function() {
                  });
                });
              </script>
            <%end%>
          </div><!-- ends content_survey -->
        </div><!-- ends arco_course_deliver -->
        
        <div class="tcg">
          <div id="tarea_en_carga"></div>
        </div>
      </div><!-- ends menu-course  active -->
      
      <script>
        function test(idOne, idTwo) {
          $('#'+idOne).hide();
          $('#'+idTwo).show();
        };
      </script>
    </div><!--ends box-titles-content-->
    
    <div id="configuration" class="menu-course  active" style="height:500px; color:#fff;">
      <h1 style=" margin:10px;color:#fff; font-size:20px;">Configuración de curso</h1>
      <%= render :partial => "courses/form"%>
    </div>
  </div><!--ends banner-shadow-->
</div>
</div><!--end banner profile-->

<!-- Content Post Box -->
<div id="box-content" class="profile-line">

  <!-- SideBar -->
  <div id="side-bar" class="side-left-bar">
    <!-- User Avatar -->

    <div id="box-user-credential" class="network-layout">
      <div class="thumbnail"  >
        <%= link_to image_tag(@course.avatar.profile, :whidth => '150px', :height => '150px'), course_path(@course.id) if ( !@course.avatar.blank?) %>
        <%= link_to image_tag(@course.course_avatarx), course_path(@course.id) if (@course.avatar.blank?) %>
      </div>
      <div class="tagname"><%= @course.title %></div>
    </div>

	  <div id="box-course"  style="margin-top:155px;" class="basic-lateral-box margin-top boxinfocourse"> 
	    <h2 style="margin-right:-60px; margin-top:6px;"> Información </h2> 
	    
	    <p><b>Sylabus</b><b>:</b><%= @course.silabus %> </p>
	    
	    <% permitted_to? :create, :courses do %>
   	    <br><%= link_to "editar curso", edit_course_path,:id =>"edit_course"%>
	    <%end%>
	  </div><!-- box-course -->
	  
	  <div id="tabs-friends" class="tabs-style">
	    <div id="box-friends" class="basic-lateral-box" style="margin-top: 23px; min-height: 310px; max-height: 610px; position: relative; display: block;" >
        <h2  style="margin-right:-30px; width:260px;"> Miembros </h2>
       
	      <% permitted_to? :create, :courses do %>
	      <% @new_and_non_aproval_members =  @course.members_in_courses.where(:active_status => false).count %>
	      <% if @new_and_non_aproval_members != 0%>
	      <!--ejemplo para tooltip-->
	           <span class="RedBallon" id="unser_new_in_course" title="Alumnos pendientes de aprobación" onmouseover='tool_tip_heft({identifier:"unser_new_in_course"})' onclick="location.href='<%= course_members_path %>'"><%=@new_and_non_aproval_members%></span>   
          <%end%>
	        <div style="min-height:290px; max-height:580px;">
	        <% @course.members_in_courses.each do |member|  %>
	         
	          <% @members = User.find_by_id(member.user_id) %>
            <!--coloca la imagen y el nombre-->
            <% if current_role == 'admin' || current_role == 'superadmin'%>
              <% if @members != nil%>
                <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
              <%else%>
              <%end%>    
            <%else%>
              <% if @member.accepted == true %>
                <% if @members != nil%>
                  <%= link_to image_tag(@members.image_avatarxxx,{:class => "avatar-mini"}), show_user_path(@members.personal_url) if (@members.avatar.blank?) %>
                  <%= link_to image_tag(@members.avatar.modern,{:class => "avatar-mini"}),  show_user_path(@members.personal_url) if ( !@members.avatar.blank?)%>
                <%else%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
	        </div>
          <% if current_role == 'admin' || current_role == 'superadmin' %>          
            <div class="view-all"><%= link_to "Administrador de miembros", course_members_path %></div>
          <%else%>
            <% if @member.owner != nil %>
              <% if @member.owner == true %>
                <div class="view-all"> <%= link_to "Administrador de miembros", course_members_path %></div>
              <%end%>
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
    
    <div id="box-d" class="basic-lateral-box" style="margin-top: 380px; position: relative; display: block;">
      <h2  style="margin-right:-30px; width:260px;"> Biblioteca </h2>
      <span class="RedBallon"><%= @course.course_files.count %></span>
      
      <% if @member.owner != nil %>
        <% if @member.owner == true %>
          <%= form_for CourseFile.new, :html => {:multipart => true} do |f|%>
            <div id="upload-files-to-course">
              <label class="UploadArchiveBtn">
            	  Subir Archivos al Curso
              </label>
              <input id="course_file_file" class="UploadFiles" style="height: 55px; background: transparent!important; cursor: pointer;" name="course_file[file]" type="file" multiple="multiple"/>
              <%= hidden_field_tag :course_id, @course.id %> 
              <%= f.hidden_field :published, :value => true %>
            </div>
          <%end%>
        <%end%>
      <%end%>
         
      <script>
        $('.UploadArchiveBtn').mouseenter ( function() {
          (this).addClass('.UploadArchiveBtnHover');
        });
		 	  
		 	  $(document).ready(function() {
		 	    $.ajaxSetup({
		 	      timeout:120000
		 	    });
		 	    
		 	    function humanSize (size) {
		 	      var b = [1<<30, 1<<20, 1<<10], s = ['GB', ' MB', ' kB'];
		 	      for (var i in b) if (size >= b[i]) return (size/b[i]).toFixed(1) + s[i];
		 	    }
		 	    
		 	    $('#upload-files-to-course').click(function() {
		 	      $('#upload-files-to-course').fileupload({
		 	        dataType: "script",
		 	        timeout:120000,
		 	        add:function(e,data) {
		 	          data.context = $(tmpl("template-upload-2",data.files[0]));
		 	          $('#uplok').append(data.context);
		 	          data.submit().error(function (jqXHR, textStatus, errorThrown) {
                });
              },
              progress:function(e,data) {
                if(data.context) {
                  progress = parseInt(data.loaded / data.total * 100,0);
                  speed = humanSize(data.bitrate / 8) + '/s';
                  data.context.find('.progress-add').html(speed + ' '+ progress+"%" );
                  data.context.find('.progress_exact').css('width',progress+ "%");
                  
                  if (progress == 100) {
                    data.context.find('.deletedprogresbar').hide();
                  }
                  
                }
              }
            });
          });
        });
      </script>
      
      <div id="uplok">
        <script id="template-upload-2" type="text/x-tmpl">
          <div class="upload">
            <div class="deletedprogresbar">
              {%=o.name%}<div class="progress-add"></div>
              <div class="content_progress_bar">
                <div class="progress_exact"></div>
              </div>
            </div>
          </div>
        </script>
      </div><!-- uplok -->
      
      <div style="width: 230px;  overflow:auto; min-height:0px; max-height: 300px; overflow-x: hidden; padding-top: 25px; padding:1px; min-height:300px; max-height:600px;">
        <div id="files"></div>
        <% @course.course_files.reverse.each do |cf|%>
          <% @name =  "#{cf.file}" %>
          <% @sintetic_name = @name.split('/').last%>
          <% @termination = @name.split('.').last %>
          <!--se ha colocan los archivos dependiendo su categoría-->
          <div style="margin-top:25px;">
          <%= render :partial => "course_files/kshow", :locals => {:cf => cf, :name => @name, :sintetic_name => @sintetic_name, :termination => @termination }%>
          </div>

        <%end%>
      </div>
    </div><!--ends box-d -->
  </div><!--ends side-bar-->
  <!--archivos del curso-->
  <script>
   $( document ).ready(function() {
   var friend_height = $('#box-friends').height();
   var margin_box_d = friend_height + 80+'px';
   $('#box-d').css('margin-top',margin_box_d);
   });
  </script>
  <!-- Content -->
  <div id="box-stream-post">
	  <div id="pk_menu">
	    <%=render :partial => 'shared/post_menu' %>
	  </div>

	  <%=render :partial => 'shared/wall_filters', :locals => {:path => course_path(@course.id), id:@course.id} %>

	  <div id="timeline" class="tim">
	    <%= render :partial => '/shared/publications', :locals => {:wall => @wall, :visible_for => 'course'} %>
	  </div>

	  <!-- inicio de joyride -->
	  <% if show_joyride(1) == '0' %>
		  <%= render :partial => '/shared/course_joyride', :locals => {:wall => @wall,:visible_for => 'network' } %>
	  <% end %>
	  <!-- fin de joyride -->

    <!-- fin timeline -->

    <%= will_paginate(@wall) %>
  </div>

  <script>
	  $(document).ready ( function() {
		  $('p:empty').hide();
	  });
    
    $("#stats-area").on('show',function () {
      $("#timeline-embed").resize();
      $("#estadistic-list").css("display","block");
      $("#banner-profile").css("height", "900px;");
    });
  </script>
  
  <script type="text/javascript">
    $(function() {
      var p = $('#timeline').pageless({
        totalPages: <%= @wall.total_pages %>,
        url: '<%= course_path(@course.id) %>',
        loaderMsg: '...',
        onInit:function(opts) {
          this.pageless = {
          opts : opts
        };
      },
      params:{
        search:''
      },
      loaderImage: '<%= image_path("load.gif")%>'
    });
  });
  </script>
