<% content_for :javascripts do %>
<%= javascript_include_tag 'publications/paginator' %>
<% end %>

<div class="section-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <%= render partial: 'courses/index/teacher_header' if is_teacher %>
          <%= render partial: 'courses/index/student_header' if current_role === 'student' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="cols-12 courses-list">
    <%= render partial: 'courses/index/courses_cards_list', locals: { courses: @courses, member: @member } %>
  </div>
  <% if @courses.total_entries > COURSES_PER_PAGE %>
    <%= render partial: 'courses/shared/courses_paginate_button', locals: { page: 2, role: 'teacher', state: 'unpublished' } %>
  <% elsif @courses.total_entries <= COURSES_PER_PAGE %>
    <%= render partial: "shared/no_more_records_found", locals: { message: "No hay más cursos para mostrar." } %>
  <% end %>
</div>