.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .activity-header
          .activity-extract
            .activity-title
              = icon("activity-discussion")
              = link_to evaluate_discussion_path(discussion) do
                %h3= discussion.title
          - if meta_data
            .activity-view-data
              %ul
                %li
                  %span.meta-info= t('.course')
                  %p= link_to truncate(course.title, :omission => "...", :length => 25), course_path(course)
                %li
                  %span.meta-info= t('.members')
                  %p
                    = discussion.responses.count
                    #{t('.of')} #{course.members_in_courses.count - 1}
                %li
                  %span.meta-info= t('.publish_date')
                  %p= I18n.localize(discussion.publish_date, format: "%e %B %Y")
                %li
                  %span.meta-info= t('.limit_publish_date')
                  %p= I18n.localize(discussion.end_date, format: "%e %B %Y")
                %li
                  %span.meta-info
                  %p= link_to t('.edit_discussion'), edit_discussion_path(discussion), class: 'btn btn btn-secondary'
