<div class="overlay-header">
  <div class="overlay-icon">
    <%= icon('section-discussions') %>
  </div>
  <div class="overlay-title">
    <h6>
      <%= link_to discussion.user.name, show_user_path(discussion.user.personal_url) %> ha inicidado una discusión

      <% unless discussion.courses.empty? %>
        en el curso <%= link_to discussion.courses[0].title, course_path(discussion.courses.first) %>
      <% end %>
    </h6>
  </div>
  <div class="close-overlay"><%= icon('x-close') %></div>
</div>

<div class="overlay-content">
  <h3><%= discussion.title %></h3>
  <%= discussion.description_html %>
  <%= render :partial => "content/insertions_to_contents", :locals => { :type => discussion, :cl => 'discussion'}%>
</div>
<%= render partial: 'shared/publications/publication_comments', locals: { publication: discussion, post: discussion } %>