{{#each this}}
  <div class="ajax-next-activities">
    <a href="/modals/{{toLowerCase type}}/{{id}}" title="" data-activity-id="{{id}}" data-remote="true">
      {{title}}
      <span>{{expira}}</span>
    </a>
  </div>
{{/each}}

<div class="load-more-upcomming-activities">Cargar más...</div>