{{#each this}}
  <div class="ajax-next-activities">
    <a href="/courses/{{course}}?search={{type}}&id_search={{id}}" title="" data-activity-id="{{id}}">
      {{title}}
      <span>{{expira}}</span>
    </a>
  </div>
{{/each}}

<div class="load-more-upcomming-activities">Cargar más...</div>