= form_for(@form, remote: true, html: { class: "default-form", multipart: true }) do |f|
  .new-publication-form-content
    .form-group
      .form-group-label
        = f.label :identifier, "Formulario: "
      .form-group-main
        .form-unit
          = f.select(:identifier, current_network.wufoo_forms.collect{ |f| [f['Name'], f['Hash']]}, { include_blank: 'Selecciona un formulario' }, class: "fill-container")
    .form-group
      .form-group-label
        = f.label :init_date, "Fechas:"
      .form-group-main
        .f-col.f-col-5
          .form-unit
            = f.text_field :init_date, placeholder: 'Día de publicación', class: "date-input delivery delivery_publish_date", id: 'form_init_date', value: f.object.init_date, required: "required"
        .f-col.f-col-5
          .form-unit
            = f.text_field :term_date, placeholder: 'Fecha de entrega', class: "date-input delivery delivery_end_date", id: 'form_term_date', value: f.object.term_date, required: "required"
    .form-group
      .form-group-label
        = f.label :wufoo_roles, "Roles: "
      .form-group-main
        .f-col.f-col-3
          .form-unit
            = check_box_tag "wufoo_form[role_ids][]", Role.find_by_title('teacher').id
            #{current_network.profesor_tag}
        .f-col.f-col-3
          .form-unit
            = check_box_tag "wufoo_form[role_ids][]", Role.find_by_title('student').id
            #{current_network.student_tag}
  .new-publication-footer
    %ul.list-buttons.right.fr
      %li
        = link_to "Cancelar", "", class: "btn btn-secondary cancel-post-form_tab", id: "cancel-post-form_tab"
      %li
        = render partial: "shared/dropdown", locals: { hasPublic: true, hasCourses: true, defaultText: t('.public'), default_icon: 'public-new-publication' }
      %li
        %span.btn.btn-primary.input-btn.activable
          = f.submit "Publicar", id: "wufoo-post-form", class: "activable"
= content_for :javascripts do
  :javascript
    $(function () {
      $("#form_init_date, #form_term_date").datetimepicker({
        inline: false,
        minDate: 0,
        hourMin: 0,
        hourMax: 23,
        controlType: 'select',
        showOtherMonths: true,
        dateFormat: 'dd/mm/yy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        beforeShow: function(input, inst) {
          var cal = inst.dpDiv;
          var top  = $(this).offset().top + $(this).outerHeight();
          var left = $(this).offset().left;
          setTimeout(function(){ cal.css({'top' : top, 'left': left });}, 10);
        }
      });
      $('.').validate();
    });