<%= form_for(@basic_permiission) do |f| %>
  <% if @basic_permiission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_permiission.errors.count, "error") %> prohibited this basic_permiission from being saved:</h2>

      <ul>
      <% @basic_permiission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
