- content_for :javascripts do
  = javascript_include_tag 'courses/course-evaluation-schema'
.white-container
  .header
    = t('.welcome_to_cursame')
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.evaluation_schema_step')
            .description
              = t('.evaluation_schema_step_description')
          .course-evaluation-schema
            = form_for(@course, :url => url_for(controller: 'onboarding', action: 'add_evaluation_schema', :id => @course.id), method: :put) do |f|
              .course-evaluation-schema-list
                %table.table-schema
                  %thead
                    %td= t('.criterium')
                    %td= t('.percent')
                  %tr
                  = f.fields_for :evaluation_criteria do |builder|
                    = render 'courses/shared/course_evaluation_schema_fields', f: builder

                .add-new-criteria
                  = link_to_add_course_evaluation_fields t('.add_criterium'), f, :evaluation_criteria
              .course-evaluation-schema-footer
                %ul.list-buttons.right.fr
                  %li
                    %span.btn.btn-medium.btn-complementary.input-btn= submit_tag t('.continue')
.white-container
  %span.step &#10112
  %span.step &#10113
  %span.step &#10114
  %span.step.active &#10125
  %span.step &#10116
