.section-header
  .section-header-main
    .section-title
      = link_to icon('section-library'), library_path(current_network.library)
      = link_to library_path(current_network.library) do
        %h1= t('.library')
    .section-header-actions
      %ul.list-buttons.right
        %li= button_to 'Subir Archivo', onboarding_new_library_file_path(library_id: @library.id, course_id: @course.id), class: "btn btn-primary"
        %li= button_to 'Crear Carpeta', onboarding_new_library_folder_path(@library.id, course_id: @course.id), class: "btn btn-primary"
