.white-container
  .header
    = t('.welcome_to_cursame')
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.new_library_folder_step')
            .description
              = t('.new_library_folder_step_description')
    = form_for(@folder, :url => url_for(:controller => 'onboarding', :action => 'create_library_folder', :id => @library.id, course_id: params[:course_id])) do |f|
      .cols-12
        .col.col-6
          .col-inner
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :name, t('.name')
              .form-group-main
                .form-unit
                  = f.text_field :name, required: true
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :description, t('.description')
              .form-group-main
                .form-unit
                  = f.text_field :description, required: true
      .cols-12
        .col.col-12
          .onboarding-actions
            = f.submit t('.create_folder'), class:  'left btn btn-complementary'
.white-container
  %span.step &#10112
  %span.step &#10113
  %span.step &#10114
  %span.step &#10115
  %span.step.active &#10126
  %span.step &#10117
