.white-container
  .header
    = "Bienvenido a Cúrsame"
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.new_library_file_step')
            .description
              = t('.new_library_file_step_description')
    = form_for(@file, :url => url_for(:controller => 'onboarding', :action => 'create_library_file', :id => @library.id, course_id: params[:course_id])) do |f|
      .cols-12
        .col.col-6
          .col-inner
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :name, t('.name')
              .form-group-main
                .form-unit
                  = f.text_field :name
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :description, t('.description')
              .form-group-main
                .form-unit
                  = f.text_field :description
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :file, t('.file')
              .form-group-main
                .form-unit
                  = f.file_field :file
      .cols-12
        .col.col-12
          .onboarding-actions
            = f.submit t('.upload_file'), class:  'left btn btn-complementary'
.white-container
  %span.step &#10112
  %span.step &#10113
  %span.step &#10114
  %span.step &#10115
  %span.step.active &#10126
  %span.step &#10117
