- content_for :javascripts do
  = javascript_include_tag('courses/preview-images')
.white-container
  .header
    = t('.welcome_to_cursame')
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.create_course_step')
            .description
              = t('.create_course_step_description')
    = form_for(@course, :url => url_for(:controller => 'onboarding', :action => 'create_course')) do |f|
      .cols-12
        .col.col-6
          .col-inner
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :title, t('.title')
              .form-group-main
                .form-unit
                  = f.text_field :title, placeholder: t('.placeholder_title'), required: "required", autocomplete: "off"
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :silabus, t('.silabus')
              .form-group-main
                .form-unit
                  = f.text_area :silabus, rows: 3, placeholder: t('.placeholder_silabus'), required: "required", autocomplete: "off"
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :public_status, t('.privacy')
              .form-group-main
                .form-unit
                  = f.select :public_status, options_for_select([[t('.public'), 'public'],[t('.private'), 'Private']], @course.public_status)
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :init_date, t('.init_date')
              .form-group-main
                .form-unit
                  = f.text_field :init_date, placeholder: t('.placeholder_init_date'), required: "required", autocomplete: "off", class: "date-picker"
        .col.col-4
          .content-sidebar{style: "float: right"}
            .form-group
              .avatar-holder
                = image_tag("/assets/course-avatarx.png", size: "150x150", class: "avatar avatar-150", id: "avatar")
              .profile-avatar-upload
                = f.label :avatar do
                  = icon 'white-cam'
                  %span= t('.avatar')
                .hide-input-file
                  = f.file_field :avatar
            .form-group
              .avatar-holder
                = image_tag("/assets/#{@course.image_coursex}", size: "150x150", class: "avatar avatar-150", id: "coverphoto")
              .profile-avatar-upload
                = f.label :coverphoto do
                  = icon 'white-cam'
                  %span= t('.coverphoto')
                .hide-input-file
                  = f.file_field :coverphoto
      .cols-10
        .col.col-10
          .onboarding-actions
            = f.submit t('.continue'), class:  'left btn btn-complementary'
.white-container
  %span.step &#10112
  %span.step.active &#10123
  %span.step &#10114
  %span.step &#10115
  %span.step &#10116
  %span.step &#10117

