.white-container
  .header
    = t('.welcome_to_cursame')
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.select_courses_step')
            .description
              = t('.select_courses_step_description')
.section-sub-header-wrap
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .sub-header
            %h4
              =t('.search')
              %span
                = params[:query]
.search-results
  .wrapper
    - if @courses.blank?
      .no-content-section
        %h4
          = t('.no_records')
    - else
      .cols-12.courses-list
        = render partial: 'courses/index/courses_cards_list', locals: { courses: @courses, member: @member }

    .cols-12
      .col.col-12
        .onboarding-actions
          %ul.list-buttons.right
            %li= link_to t('.return'), onboarding_select_courses_path, class:  'left btn btn-complementary'
            %li= link_to t('.continue'), onboarding_friendship_path, class:  'left btn btn-complementary'
.white-container
  %span.step &#10112
  %span.step.active &#10123
  %span.step &#10114
  %span.step &#10115
