%h1= t('.welcome_to_cursame')
%h2= t('.onboarding_intructions')
%h3= t('.personalize_your_profile')

= form_for(@user, :url => url_for(:controller => 'onboarding', :action => 'update_user_profile', :id => @user.id)) do |f|
  = f.label :first_name, 'Nombres:'
  = f.text_field :first_name, required: 'required'
  = f.label :last_name, 'Apellidos:'
  = f.text_field :last_name, required: 'required'
  = f.label :bios, 'Biografía:'
  = f.text_area :bios, required: 'required'
  = f.label :email, 'Email:'
  = f.text_field :email, required: 'required'
  = f.label :twitter_link, 'Twitter:'
  = f.text_field :twitter_link
  = f.label :personal_url, 'URL:'
  = f.text_field :personal_url
  = f.label :avatar, 'Avatar:'
  = f.file_field :avatar
  = f.label :coverphoto, 'Foto de Portada:'
  = f.file_field :coverphoto
  = f.submit 'Continuar'
