- content_for :javascripts do
  = javascript_include_tag('users/preview-images')
.white-container
  .header
    = t('.welcome_to_cursame')
  .description
    = t('.onboarding_intructions')
.onboarding-container
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .onboarding-wrapper
            .header
              = t('.user_profile_step')
            .description
              = t('.user_profile_step_description')
    = form_for(@user, :url => url_for(:controller => 'onboarding', :action => 'update_user_profile', :id => @user.id)) do |f|
      .cols-12
        .col.col-6
          .col-inner
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :first_name, t('.name')
              .form-group-main
                .form-unit
                  = f.text_field :first_name, required: 'required'
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :last_name, t('.sur_name')
              .form-group-main
                .form-unit
                  = f.text_field :last_name, required: 'required'
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :bios, t('.biography')
              .form-group-main
                .form-unit
                  = f.text_area :bios, required: 'required', rows: 3
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :twitter_link, t('.twitter')
              .form-group-main
                .form-unit
                  = f.text_field :twitter_link
            .form-group.label-on-top.l-label
              .form-group-label
                = f.label :personal_url, t('.personal_url')
              .form-group-main
                .form-unit
                  = f.text_field :personal_url
        .col.col-4
          .content-sidebar{style: "float: right"}
            .form-group
              .avatar-holder
                - avatar_src = @user.coverphoto.blank? ? "/assets/imagex.png" : @user.avatar.to_s
                = image_tag(avatar_src, size: "150x150", class: "avatar avatar-150", id: "avatar")
              .profile-avatar-upload
                = f.label :avatar do
                  = icon 'white-cam'
                  %span= t('.avatar')
                .hide-input-file
                  = f.file_field :avatar
            .form-group
              .avatar-holder
                - coverphoto_src = @user.coverphoto.blank? ? "/assets/portada.png" : @user.coverphoto.to_s
                = image_tag(coverphoto_src, size: "150x150", class: "avatar avatar-150", id: "coverphoto")
              .profile-avatar-upload
                = f.label :coverphoto do
                  = icon 'white-cam'
                  %span= t('.coverphoto')
                .hide-input-file
                  = f.file_field :coverphoto

      .cols-10
        .col.col-10
          .onboarding-actions
            = f.submit t('.continue'), class:  'left btn btn-complementary'
.white-container
  - if current_user.teacher?
    %span.step.active &#10122
    %span.step &#10113
  - else
    %span.step.active &#10122
    %span.step &#10113
    %span.step &#10114
    %span.step &#10115
