.wrapper
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1 Discusiones
        %table.data-table
          %thead
            %tr
              %th Nombre
              %th Estado
              %th Tipo
              %th Fecha de creación
              %th Fecha de finalización
              %th Curso
              %th Usuario
              %th 
          %tbody
            - @discussions.each do |discussion| 
              %tr
                %td= link_to discussion.title, managers_discussion_path(discussion)
                %td= discussion.state == "published" ? "Publicada" : "Sin Publicar"
                %td= discussion.evaluable ? "Evaluable" : "No Evaluable"
                %td= discussion.created_at
                %td= discussion.end_date
                %td
                  - unless discussion.courses.empty?
                    = link_to discussion.courses.first.title, managers_course_path(discussion.courses.first)
                  - else
                    Publica
                %td
                  - unless discussion.user.nil?
                    = link_to discussion.user, managers_user_path(discussion.user)
                  - else
                    = "No tiene usuario"
                %td
                  = link_to 'Ver', managers_discussion_path(discussion), class: 'btn btn-small btn-secondary'
                  = link_to 'Borrar', managers_discussion_path(discussion), class: 'btn btn-small btn-secondary', method: :delete, confirm: 'Estas seguro de borrar esta discusión.'