.managers-top-actions
  .cols-12
    .col.col-12.alpha.omega
      .col-inner
        %ul.list-buttons.left
          %li= link_to t('.return').html_safe, managers_discussions_path, class: 'btn btn-secondary'
          %li= link_to t('.delete'), managers_discussion_path(@discussion), class: 'btn btn-primary', method: :delete, confirm: t('.sure')
.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1
            = @discussion.title

.cols-12
  .col.col-6.alpha.omega
    .col-inner

      %span.meta-info= t('.init_date')
      %p= @discussion.created_at
      
      %br/
      %span.meta-info= t('.state')
      %p= @discussion.state == "published" ? t('.published') : t('.unpublished')

      %br/
      %span.meta-info= t('.type')
      %p= @discussion.evaluable ? t('.eval') : t('.non_eval')

      %br/
      %span.meta-info= t('.descrip')
      %p= @discussion.description

      %br/
      %span.meta-info= t('.course')
      %p
        - unless @discussion.courses.empty?
          = link_to @discussion.courses.first.title, managers_course_path(@discussion.courses.first)
        - else
          = t('.public')

      %br/
      %span.meta-info= t('.teacher')
      %p= @discussion.user