<% cursame_url = "http://#{@resource.devise_mailer_subdomain}.#{@resource.ubication}" %>

<%= render partial: "/notifier/shared/mail_head", locals: { cursame_url: cursame_url, no_borders: false } %>

  <div style="background-color: #ffffff;">
	  <table style="width: 540px;" align="center">
	    <tr>
	      <td>
	      	<br>
	      	<br>
	      	<br>
	        <h1 style="font-size: 20px; font-weight: 400; margin: 0; color: #333;"><span style="font-size: 15px; font-weight: normal;"><%=t('.welcome')%></span><br> <%= @resource.name %></h1><br>
	        <p style="font-size: 15px; color: #404040; font-weight: 300; line-height: 25px; margin: 0;"><%=t('.usage')%></p><br/><br/>

	        <%= link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :subdomain => @resource.subdomain, :domain => @resource.domain) do %>
						<img src="http://app.cursa.me/assets/mails/confirmation_instructions/confirm-button.jpg" alt="Activar cuenta">
	        <% end %>
	        <br>
	        <br>
	        <p style="font-size: 11px; color: #404040;"><%=t('.push_here')%>	: <br>
						<%= link_to new_user_session_url(:subdomain => @resource.subdomain, :domain => @resource.domain), new_user_session_url(:subdomain => @resource.subdomain, :domain => @resource.domain), style: "color: #0071a2;" %></p>

	        <br>
	        <br>
	        <br>
	        <br>
	      </td>
	    </tr>
	  </table>
  </div>

<%= render partial: "/notifier/shared/mail_footer", locals: { no_borders: false } %>
