<div style="float:left; color:#fff; height:500px; margin-left:10px; margin-top:25px; padding:5px; background-color:#000;">
 <%=t('.title')%><p><%= @activity.title %></p></br>
 <%=t('.title_act')%><%=   @activity.activitye_type %></br>
 <% if  @activity.activitye_type =="Delivery" %>
 <%=t('.avg')%><% @actividad =  @activity.activitye %>
             <% if @actividad != nil  %>
                 <% @assignments =  @actividad.assignments %>
                 <%= ((@assignments.sum(:accomplishment)).to_f/(@assignments.count).to_f).to_f %> <%"(#{@assignments.count})"%></br>
            <%else%>
                 <%= t('.without_act')%></br>
            <%end%>
 <%end%>
 
 <% if  @activity.activitye_type == "Survey" %>
  <%=t('.avg')%><% @actividad =  @activity.activitye %>
              <% if @actividad != nil %>
                  <% @surveys =  @actividad.user_surveys %>
                  <%= ((@surveys.sum(:result)).to_f/(@surveys.count).to_f).to_f %><%"(#{@surveys.count})"%></br>
             <%else%>
                  <%= t('.without_act')%></br>
             <%end%>
  <%end%>
 Ip: <%=  @activity.ip_address%></br>
 <%=t('.place')%><%=  @activity.address%></br>
 <%=t('.long')%><%=  @activity.latitude %></br>
 <%=t('.lat')%><%=  @activity.longitude %></br>
 <%=t('.geo_c')%><%=  @activity.geocode %></br>
 Brwoser: <%=  @activity.browser %></br>
 <%=t('.ver')%><%=  @activity.version_browser %></br>
 <%=t('.os')%><%=  @activity.computer_plataform %></br>
 <%=t('.net')%><%=  @activity.network_id %></br>
 <% @user =  @activity.user %>
<%= link_to "#{@user.name} ir al usuario", activity_path(@activity.id)  %></br>
<%= link_to image_tag(@user.avatar.profile), activity_path(@activity.id) if (!@user.avatar.blank?) %></br>
<%= link_to image_tag(@user.image_avatarx), activity_path(@activity.id) if (@user.avatar.blank?) %></br>
 </div>
 
 <div style="float:left; height:230px; margin-left:5px; margin-top:25px;">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x200&sensor=true&zoom=16&markers=#{ @activity.latitude}%2C#{ @activity.longitude}" %>
</div>
<% if @activity.activitye_type =="Delivery" %>
 <% if @actividad != nil %>
   <div style="float:left; color:#fff; height:500px; margin-left:10px; margin-top:25px; padding:5px; background-color:#000;">
        <b><%=t('.deliveries')%>(<%= @assignments.count %>)</b></br>
     <% @assignments.each do |assignment|%>
         <% activd = assignment.activities.last %>
        <%= link_to "#{assignment.title}", activity_path(activd.id) %></br>
     <%end%>
     </div>
 <%end%>
 <%end%>
