.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1= t('.hmwrks')
      %table.data-table
        %thead
          %tr
            %th= t('.name') 
            %th= t('.state')
            %th= t('.init_date')
            %th= t('.end_date')
            %th= t('.course')
            %th= t('.user')
            %th= t('.actions')
        %tbody
          - @deliveries.each do |delivery| 
            %tr
              %td= link_to delivery.title, managers_delivery_path(delivery)
              %td= delivery.state == "published" ? t('.published') : t('.unpublished')
              %td= delivery.created_at
              %td= delivery.end_date
              %td= link_to delivery.courses.first.title, managers_course_path(delivery.courses.first)
              - unless delivery.user.nil?
                %td= link_to delivery.user, managers_user_path(delivery.user)
              - else
                %td= t('.no_user')
              %td
                .dropdown-wrap.actions
                  .dropdown-pull.btn.btn-secondary.btn-small
                    = icon 'drop-arrow'
                  .dropdown-v.right{:style => "right: -8px;"}
                    %i.tip
                    %ul
                      %li= link_to (t('.view'), managers_delivery_path(delivery))
                      %li= link_to (t('.delete'), managers_delivery_path(delivery), method: :delete, confirm: t('.sure'))
      .digg_pagination.paginator
        = will_paginate @deliveries