.managers-top-actions
  .cols-12
    .col.col-12.alpha.omega
      .col-inner
        %ul.list-buttons.left
          %li= link_to (t('.return').html_safe, managers_deliveries_path, class: 'btn btn-secondary')
          %li= link_to (t('.delete'), managers_delivery_path(@delivery), class: 'btn btn-primary', method: :delete, confirm: t('.sure'))
.cols-12
  .col.col-12.alpha.omega
    .col-inner
      .managers-section-header
        .title
          %h1
            = @delivery.title

.cols-12
  .col.col-8.alpha.omega
    .col-inner

      %span.meta-info= t('.init_date')
      %p= @delivery.created_at

      %br/
      %span.meta-info= t('.end_date')
      %p= @delivery.end_date

      %br/
      %span.meta-info= t('.state')
      %p= @delivery.state == "published" ? t('.published') : t('.unpublished')

      %br/
      %span.meta-info= t('.descrip')
      %p= @delivery.description

      %br/
      %span.meta-info= t('.course')
      %p= @delivery.courses.first.title

      %br/
      %span.meta-info= t('.teacher')
      %p= @delivery.user