.wrapper
  .managers-top-actions
    .cols-12
      .col.col-12
        .col-inner
          %ul.list-buttons.left
            %li= link_to '&#8592; Regresar'.html_safe, managers_deliveries_path, class: 'btn btn-secondary'
            %li= link_to 'Editar', edit_managers_delivery_path(@delivery), class: 'btn btn-primary'
            %li= link_to 'Borrar', managers_delivery_path(@delivery), class: 'btn btn-primary', method: :delete, confirm: 'Estas seguro de borrar esta tarea.'
  .cols-12
    .col.col-12
      .col-inner
        .managers-section-header
          .title
            %h1
              = @delivery.title

  .cols-12
    .col.col-6
      .col-inner

        %span.meta-info Fecha de Creacíon
        %p= @delivery.created_at

        %br/
        %span.meta-info Fecha de finalización
        %p= @delivery.end_date

        %br/
        %span.meta-info Estado
        %p= @delivery.state == "published" ? "Publicada" : "Sin Publicar"

        %br/
        %span.meta-info Descripción
        %p= @delivery.description

        %br/
        %span.meta-info Curso
        %p= @delivery.courses.first.title

        %br/
        %span.meta-info Maestro
        %p= @delivery.user