<div class="course-califications-section">
  <div class="course-califications-section-title">
    <h4><%= icon('depot-tarea') %> Tareas</h4>
  </div>
  <% unless member.deliveries_evaluation.nil? || member.deliveries_evaluation.empty? %>
    <table border="1" cellpadding="3" cellspacing="3">
      <thead>
        <tr>
          <th colspan="2">Tarea</th>
          <th>Calificación</th>
        </tr>
      </thead>
      <tbody>
        <% member.deliveries_evaluation.each_with_index do |delivery_evaluation, index| %>
          <tr <%= "class='even'" if !index.odd? %>>
            <td colspan="2">
              <%= link_to delivery_evaluation[:delivery].title, delivery_modal_path(delivery_evaluation[:delivery].id), remote: true %>
            </td>
            <td>
              <% if delivery_evaluation[:assignment].nil? %>
                No entregada
              <% elsif delivery_evaluation[:assignment].grade.nil? %>
                No calificada
              <% else %>
                <span class="number"><%= evaluation_score delivery_evaluation[:assignment].grade.score %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="course-califications-section-footer">
      <div class="cali-section">
        <h5>Calificación promedio en tareas:</h5>
        <span class="number"><%= evaluation_score member.deliveries_average %></span>
      </div>
    </div>
  <% else %>
    <div class="no-califications">
      <h6>Aún no hay tareas en este curso.</h6>
    </div>
  <% end %>
</div>

