= form_for([@parent_model, @directory], html: { class: "default-form", id: "directory_form", multipart: true }) do |form|
  .body.padded
    .form-group
      .form-group-label
        = form.label :name, t('.name')
      .form-group-main
        .form-unit
          = form.text_field :name, placeholder: t('.lib_name'), required: "required"
    .form-group
      .form-group-label
        = form.label :description, t('.descrip')
      .form-group-main
        .form-unit
          = form.text_area :description, placeholder: t('.lib_descrip'), rows: 1, required: "required"
  .footer
    .fr
      %span.btn.btn-primary.input-btn.activable
        = form.submit t('.send'), id: "wufoo-post-form", class: "activable"

:javascript
  $(new function() {
    $("#directory_form").validate();
  })
