= form_for(@directory, html: { class: "default-form", id: "directory_form", multipart: true }) do |form|
  .body.padded
    .form-group
      .form-group-label
        = form.label :name, "Nombre: "
      .form-group-main
        .form-unit
          = form.text_field :name, placeholder: 'Titulo de la biblioteca', required: "required"
    .form-group
      .form-group-label
        = form.label :description, "Descripción: "
      .form-group-main
        .form-unit
          = form.text_field :description, placeholder: 'Descripción de la biblioteca', required: "required"
  .footer
    .fl
      %span.btn.btn-primary.input-btn.activable
        = form.submit "Enviar", id: "wufoo-post-form", class: "activable"
:javascript
  $("#directory_form").validate();