.col.col-6
  .col-inner
    .post-box.academic.library{ id: directory.id, class: :standalone }
      .post-box-main
        .post-box-content
          .icon-card
            = icon 'library-card'
          = link_to library_directory_path(directory), class: 'activable' do
            %h3= directory.name
            %p= simple_format directory.description.truncate(200)
            .btn.btn-small.btn-transparent.activable
              = t('.open_folder')
