= form_for [:superadmin_panel, user], html: { class: 'form-validate-js' } do |f|
  = f.hidden_field :self_register, value: false

  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :email, t('.email') + ':'
    .form-group-main
      .form-unit
        = f.text_field :email, placeholder: t('.email'), required: "required", autocomplete: "off", id: 'user_email'
  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :first_name, t('.first_name') + ':'
    .form-group-main
      .form-unit
        = f.text_field :first_name, placeholder: t('.first_name'), required: "required", autocomplete: "off", id: 'user_first_name'
  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :last_name, t('.last_name') + ':'
    .form-group-main
      .form-unit
        = f.text_field :last_name, placeholder: t('.last_name'), required: "required", autocomplete: "off", id: 'user_last_name'
  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :password, t('.password') + ':'
    .form-group-main
      .form-unit
        = f.password_field :password, placeholder: t('.password'), required: "required", autocomplete: "off", id: 'user_password'

  .form-group.label-on-top.l-label
    .form-group-label
      = label_tag t('.network_subdomain') + ':'
    .form-group-main
      .form-unit
        = text_field_tag 'user_network_subdomain', user.subdomain, placeholder: t('.network_subdomain'), required: "required", autocomplete: "off"

  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :role_id, t('.type') + ':'
    .form-group-main
      .form-unit
        - role = user.permissionings.first.role_id if !user.new_record?
        = select_tag 'user_role_id', options_for_select(@roles_options, role), required: "required"
  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :entity_name, t('.entity_name') + ':'
    .form-group-main
      .form-unit
        - entity_name = user.permissionings.first.entity_name if !user.new_record? && user.mentor_link?
        = text_field_tag 'user_entity_name', entity_name, placeholder: t('.entity_name'), autocomplete: "off"
  .form-group.label-on-top.l-label
    .form-group-label
      = f.label :entity_id, t('.entity_id') + ':'
    .form-group-main
      .form-unit
        - entity_id = user.permissionings.first.entity_id if !user.new_record? && user.mentor_link?
        = text_field_tag  'user_entity_id', entity_id, placeholder: t('.entity_id'), autocomplete: "off"

  %br/
  %br/
  %ul.list-buttons.left
    %li= link_to t('.cancel'), :back, class: 'btn btn-medium btn-secondary'
    %li
      %span.btn.btn-primary.input-btn.btn-medium.activable
        = f.submit user.new_record? ? t('.create') : t('.save'), id: 'action-button'
