.managers-header
  .wrapper
    .cols-12
      .col.col-12
        .col-inner
          .managers-nav
            %ul
              %li
                = link_to "Estadisticas", managers_path, class: active_class(['index'], 'managers')
              %li
                = link_to "Usuarios", managers_users_path, class: active_class(['index', 'import', 'show', 'edit', 'new'], 'managers/users')
              %li
                = link_to "Cursos", managers_courses_path, class: active_class(['index', 'import'], 'managers/courses')
              %li
                = link_to "Publicaciones", 'managers_publications_path'
              %li
                = link_to "Correo Masivo", managers_mailer_path
              %li
                = link_to "Configuración", managers_settings_path, class: active_class('settings')
          .manager-header-actions
            %ul
              %li
                %a{:href => "http://myaccount.zendesk.com/account/dropboxes/2830039812", :onclick => "script: Zenbox.show(); return false;"} Ayuda
              %li
                .dropdown-wrap
                  .dropdown-pull
                    = icon('settings')
                  .dropdown-v.right{:style => "right: 13px;"}
                    %i.tip
                    %ul
                      %li
                        = link_to "Salir del aministrador", show_user_path(current_user.personal_url)
                      %li
                        = link_to "Editar perfil", edit_user_registration_path
                      %li
                        = link_to "Cerrar sesión", sign_out_path, method: :delete