.managers-sidebar
  .shade
  %ul.managers-nav
    %li
      = link_to t('.stat'), managers_path, class: active_class(['index'], 'managers')
    %li
      = link_to t('.usr'), managers_users_path, class: active_class(['index', 'import', 'show', 'edit', 'new'], 'managers/users')
    %li
      = link_to t('.courses'), managers_courses_path, class: active_class(['index', 'show', 'edit', 'new', 'import'], 'managers/courses')
    %li
      = link_to t('.hmwrk'), managers_deliveries_path, class: active_class(['index', 'show'], 'managers/deliveries')
    %li
      = link_to t('.quest'), managers_surveys_path, class: active_class(['index', 'show'], 'managers/surveys')
    %li
      = link_to t('.discuss'), managers_discussions_path, class: active_class(['index', 'show'], 'managers/discussions')
    %li
      = link_to t('.comments'), managers_comments_path, class: active_class(['index', 'show'], 'managers/comments')
    %li
      = link_to t('.masive'), managers_mailer_path, class: active_class(['mailer'], 'managers')
    %li
      = link_to t('.config'), managers_settings_path, class: active_class('settings')
    %li
      = link_to t('.report_content'), managers_reported_contents_path, class: active_class(['index'], 'managers/reported_contents')