<% @typeo = typeo %>
<div id="clasic-mount<%= @typeo %>">
  
  <a id="<%=@typeo%>DP" href="" class="btn btn-secondary"> <%= icon('dropbox-asset') %> Dropbox</a>
  
  <script type="text/javascript">
    
    var eliminarDropbox = function(demagogo){
          $("#execute_dropbox"+demagogo).click(function() {
               $("#execute_dropbox"+demagogo).hide();
               $("#resput_dropbox"+demagogo).hide();
               $("#executable_dropbox"+demagogo).hide();
               $("#<%= @typeo %>_contents_attributes_"+demagogo+"_content").remove();

          });
    };

    $("#<%=@typeo%>DP").click(function (argument) {
      argument.preventDefault();

      options = {
        linkType: "preview",
        multiselect: true,
        success: function(files) {
            var files = files;
            for(var i=0; i<files.length; i++) {
                
                  var random = Math.floor(Math.random()*113);
                  var size = files[i].bytes;
                  var demagogo = size+random;
                  var dinamic_id_d = 'executable_dropbox'+demagogo;
                  var link_ninamic_file = files[i].link;
                  var link = '<a id="'+dinamic_id_d+'" href="'+link_ninamic_file+'" target="_blank"><i class="i i-dropbox-asset-blue"></i> '+ truncate(link_ninamic_file, 47, '...') +'</a>';
                  
                  
                  $('div.support-material#<%= typeo %>-create-form-assets').append("<div id='resput_dropbox"+ demagogo +"'class='publication-asset'>"+ link +"<a id='execute_dropbox"+demagogo+"' class='cancel_link'>Borrar</a></div>");
                  
                  $('div.support-material#<%= typeo %>-create-form-assets').append('<input id='+"'"+"<%=@typeo%>_contents_attributes_"+ demagogo +"_content"+"'"+ 'name='+"<%=@typeo%>[contents_attributes]["+ demagogo +"][content]"+ " size='30'" + ' value='+ "'"+files[i].link+"'"+ " "+"type="+"'"+"hidden"+"'" +'/>');

                eliminarDropbox(demagogo);
          }
        },
        
        cancel:  function() {}
      };

      Dropbox.choose(options);
    });
</script>
</div>



