 <div id="look_atemp_conteny<%=typeo%>" class="look_atemp_conteny">
 <div  id="youtube_content_delivery<%=typeo%>" class="youtube_content_delivery" style="height:400px; overflow:auto;display: none; float:left; width:100%">
          Contenido de recomendado para el tema  <div id="close_youtube_delivery<%=typeo%>" style="float:right; font-size:30px; margin-top:50px; height:100px;">x</div></br>

      <div id="content_free" class="content_free<%=typeo%>">
           
      </div>
      <div id="content_wikipedia<%=typeo%>" style="display:block;" class="content_wikipedia">

      </div>
      
      
   
  </div>
    <% 1.times do
              contents = @delivery.contents.build
     end%>
   
    <%= f.fields_for :contents do |conty| %>
                <div id="content_killer<%=typeo%>" class="content_killer"></div>
                <div id="choser<%=typeo%>" class="choser"></div>
    <%end%>
</div>

<script>
   $('#close_youtube_delivery<%=typeo%>').click(function() {
        $('#youtube_content_delivery<%=typeo%>').toggle('blind', 400);
    });
    
</script>