
<div id="look_atemp_conteny<%=typeo%>" class="look_atemp_conteny">

  <div id="box_for_loads<%=typeo%>" style="width: 100%; ">
	  <%= f.fields_for :contents do |conty| %>
      <div id="content_killer<%=typeo%>" class="content_killer"></div>
      <div id="choser<%=typeo%>" class="choser"></div>    
	  <%end%>
  </div>
  
</div>