<% if type.contents.count > 0 %>  
  <div id="parcer<%=type.id%>_<%=cl%>">
    
  </div>

  <% type.contents.each do |content|%>
 
    <script>
      var aaaa;
      
      aaaa="<%= content.content %>";
      
      //aaaa="http://somesite.se/blah/sese";
      var matches = aaaa.match(/:\/\/(?:www\.)?(.[^/]+)(.*)/),
          lof = matches[1];

      switch(lof) {
      
        case 'dropbox.com': 
          $('#parcer<%=type.id%>_<%=cl%>').prepend('<div class="publication-asset"><a href="<%= content.content %>" target="_blank"><i class="i i-dropbox-asset-blue"></i> <%= content.content %></a></div>');
          break;
          
      };
               
    </script>

    <% @html_content = "#{content.content_html}".split("\n")%>
    <% @ht_lnon =  @html_content[0].html_safe if  (@html_content[0] != nil)%>
    <% @ty = "#{content.content}".split('/').last %>
    <% @tyd = "#{content.content}".split('.').last %>

  <%end%>
<%end%>