<div class="var_delivery">
  <%if typeo != 'assignment'%>
  
    <ul class="list-buttons left">
      <li>
        <a class="valu<%=typeo%> btn btn-secondary" href="" data-remote="true"> <%= icon('youtube-asset') %> Youtube</a>
      </li>
      <li>
        <a href="" class="valw<%=typeo%> btn btn-secondary" data-remote="true"> <%= icon('wikipedia-asset') %> Wikipedia</a>      
      </li>
      <li>
        <%= render :partial => "content/dropbox", :locals => {:typeo => typeo}%>        
      </li>
    </ul>
        
  <%else%>   
    
    <a class="valu<%=typeo%> btn btn-secondary" href="" data-remote="true"> <%= icon('youtube-asset') %> Youtube</a>
    <%= render :partial => "content/dropbox", :locals => {:typeo => typeo}%>
        
  <%end%>

</div>

<script>
    $("#<%=typeo%>_title").keyup(function () {
      var value = $(this).val();
      
      function limpiar(text){
            var text = text.toLowerCase(); // a minusculas
            text = text.replace(/[áàäâå]/, 'a');
            text = text.replace(/[éèëê]/, 'e');
            text = text.replace(/[íìïî]/, 'i');
            text = text.replace(/[óòöô]/, 'o');
            text = text.replace(/[úùüû]/, 'u');
            text = text.replace(/[ýÿ]/, 'y');
            text = text.replace(/[ñ]/, 'n');
            text = text.replace(/[ç]/, 'c');
            return text;
         }
        
      var cleanvalue = limpiar(value)
                  
        $(".valu<%=typeo%>").attr("href", "/content/youtube?youtube_search="+cleanvalue.split(" ").join("+")+'&typeo=<%=typeo%>');
        $(".valw<%=typeo%>").attr("href", "/content/wikipedia?search_wikipedia=" +cleanvalue.split(" ").join("_")+'&typeo=<%=typeo%>');
        
    }).keyup();
    
</script>

<script>
$(".button_pluss").live("click", function() {
    $(".bullet").removeClass("button_pluss");
    $(this).addClass("button_plus_selected");
});
$(this).unbind('click');
</script>

