<div class="var_delivery">
 <div class="pkl">
    <center>
    <a  id="valu"class="valu<%=typeo%>" href="" data-remote="true"></a>
    <!-- <a id="valv" href="" data-remote="true"><%#= image_tag('vimeo.png')%></a>-->
    <a href="" id="valw"class="valw<%=typeo%>" data-remote="true"></a>
    <%#=link_to image_tag('wikipedia.png'),  c_wikipedia_path(:search_wikipedia => 'alfredo adler', :typeo => "typeo")%>
     <%if typeo == 'delivery'%>
       <div id="vald<%=typeo%>"><%= render :partial => "content/dropbox", :locals => {:typeo => typeo}%></div>
     <%end%>
    </center>
 </div>  

</div>
 <%if typeo == 'delivery'%>
    <div class="notice-file">El límite de peso por archivo es de 8Mb</div>
   <%else%>
 <%end%>
<script>
    $("#<%=typeo%>_title").keyup(function () {
      var value = $(this).val();
      
      function limpiar(text){
            var text = text.toLowerCase(); // a minusculas
            text = text.replace(/[áàäâå]/, 'a');
            text = text.replace(/[éèëê]/, 'e');
            text = text.replace(/[íìïî]/, 'i');
            text = text.replace(/[óòöô]/, 'o');
            text = text.replace(/[úùüû]/, 'u');
            text = text.replace(/[ýÿ]/, 'y');
            text = text.replace(/[ñ]/, 'n');
            text = text.replace(/[ç]/, 'c');
          /*   text = text.replace(/[^a-zA-Z0-9-]/, ''); 
            
            text = text.replace(/['"]/, '');
            text = text.replace(/\s+/, '-');
            text = text.replace(/' '/, '-');
            text = text.replace(/(_)$/, '');
            text = text.replace(/^(_)/, '');*/
            return text;
         }
        
      var cleanvalue = limpiar(value)
                  
        $(".valu<%=typeo%>").attr("href", "/content/youtube?youtube_search="+cleanvalue.split(" ").join("+")+'&typeo=<%=typeo%>');
        $(".valw<%=typeo%>").attr("href", "/content/wikipedia?search_wikipedia=" +cleanvalue.split(" ").join("_")+'&typeo=<%=typeo%>');
        
    }).keyup();
    
</script>

<script>
$(".button_pluss").live("click", function() {
    $(".bullet").removeClass("button_pluss");
    $(this).addClass("button_plus_selected");
});
$(this).unbind('click');
</script>

