<ul>
  <% @video.each do |vi|%>

  <li class="list_youtube">
    <% @num_r = Random.rand(10...142).to_s %>
	   
    <div class="video" id="videoSlider">
      <% @id = vi.published_at %>
      <% @complex_id =  @id.strftime("%m""%d""%Y")+ @num_r.to_s%>
             
      <div class="tumbail_youtube<%= @complex_id %>" id="individual_youtube" >
        <div style="float:left;" class="youTName" id="kolik2_youtube_btn<%= @complex_id %>" >
          <%= link_to truncate("#{vi.title}", :omission => "...", :length => 25), "#{vi.player_url}", :target => '_blank' %>
        </div>

        <%= image_tag("#{vi.thumbnails[1].url}") %>
		  </div>
                  
      <div class="shareAdd">
        <div class="button_pluss" id="add_nested_delivery_content<%= @complex_id %>" style=" z-index:888px; position:absolute;"></div>
        <div class="play_button_pluss" id="nested_video<%=@complex_id%>" style=" z-index:888px; position:absolute;"></div>
      </div>
        
  		<script>
  			$('#nested_video<%=@complex_id%>').click(function(e) {
  			  $('#fokj_video<%=@complex_id%>').lightbox_me({
  			      centered: true, 
  			      onLoad: function() { 
  			          $('#fokj_video<%=@complex_id%>').find('input:first').focus()
  			          }
  			      });
  			  e.preventDefault();
  			});
  		</script>
                 
        <div id="fokj_video<%=@complex_id%>" class="content_f_box"  style="display:none">
          <div>
            <a id="close_x" class="close close_l" href="#" style="margin-top:-20px;"></a>
            </div>
    	    
    	    <center>
             <%= link_to truncate("#{vi.title}", :omission => "...", :length => 15), "#{vi.player_url}", :target => '_blank' %> </br>
             <%= vi.embed_html_with_width(450).html_safe%>   
             </center>
        </div>
             
       </div>

      <script>
        $('.tumbail_youtube<%= @complex_id %>').click(function() {
          $('#l_tumbail_youtube<%= @complex_id %>').show();
        });

        $('#add_nested_delivery_content<%= @complex_id%>').click(function() {
                
          $('#content_killer<%= @typeo %>').append('<input id="<%= @typeo %>_contents_attributes_<%=@complex_id%>_content" name="<%= @typeo %>[contents_attributes][<%=@complex_id%>][content]" size="30" type="hidden" value="<%= vi.player_url%>">');      
                
          $('#choser<%= @typeo %>').append("<div class='appendClass' id='caller_<%=@complex_id%>'><a id='executable_youtube<%=@complex_id%>' href='<%=vi.player_url%>' target='_blank'><%= icon('youtube-asset-blue') %> <%= truncate( vi.player_url, omission: '...', length: 50 )%></a><a id='execute_youtube<%=@complex_id%>' class='cancel_link'>Borrar</a></div>");
                  
                
          $('#execute_youtube<%=@complex_id%>').click(function() {
            $('#execute_youtube<%=@complex_id%>').hide();
            $('#resput_youtube<%=@complex_id%>').hide();
            $('#executable_youtube<%=@complex_id%>').hide();
            $('#caller_<%=@complex_id%>').hide();
            $('#<%= @typeo %>_contents_attributes_<%=@complex_id%>_content').remove();
          });

        });
        
        $('.button_pluss').click ( function() {
          $(this).parents('.list_youtube').hide();
        });
      </script>
    </li>
  <%end%>
</ul>

<script>
$(function(){
  
    var $bl    = $(".youtube_content_delivery"),
        $th    = $(".content_free<%=@typeo%>"),
        blW    = $bl.outerWidth(),
        blSW   = $bl[0].scrollWidth,
        wDiff  = (blSW/blW)-1,  // widths difference ratio
        mPadd  = 90,  // Mousemove Padding
        damp   = 30,  // Mousemove response softness
        mX     = 0,   // Real mouse position
        mX2    = 0,   // Modified mouse position
        posX   = -10,
        mmAA   = blW+(mPadd+10), // The mousemove available area
        mmAAr  = (blW/mmAA);    // get available mousemove fidderence ratio

	$bl.mousemove(function(e) {
        mX = e.pageX - this.offsetLeft;
        mX2 = Math.min( Math.max(0, mX-mPadd), mmAA ) * mmAAr;
	});

	setInterval(function(){
		posX += (mX2 - posX) / damp; // zeno's paradox equation "catching delay"	
		$th.css({marginLeft: -posX*wDiff });
	}, 10);

});

</script>