<% @video.each do |vi|%>
        <div class="video">
              <% @id = vi.published_at %>
              <% @complex_id =  @id.strftime("%m""%d""%Y")%>
             
           <div  class="tumbail_youtube<%= @complex_id %>" >
                   <%= link_to truncate("#{vi.title}", :omission => "...", :length => 15), "#{vi.player_url}", :target => '_blank' %></br>
                   <%= image_tag("#{vi.thumbnails[1].url}")%>
                   <%#= debug vi.thumbnails %>
           </div>
           
          <div id="l_tumbail_youtube<%= @complex_id %>" style="display:none;"> <%= link_to truncate("#{vi.title}", :omission => "...", :length => 15), "#{vi.player_url}", :target => '_blank' %></br>
          <%= vi.embed_html_with_width(320).html_safe%> </div>
           
             <SCRIPT LANGUAGE="JavaScript">
                  $('.tumbail_youtube<%= @complex_id %>').click(function() {
                         $('.tumbail_youtube<%= @complex_id %>').html('');
                         $('#l_tumbail_youtube<%= @complex_id %>').show();
                     });
             </SCRIPT>
             <%#= "http://img.youtube.com/vi/#{@token}/2.jpg" %>
             <%#=  vi.player_url %>
            
                <div class="button_add" id="add_nested_delivery_content<%= @complex_id %>">
                    Agregar
                </div>
             </div>
             
             </br>
      
         </div>
         
         
         <SCRIPT LANGUAGE="JavaScript">
                  
               $('#add_nested_delivery_content<%= @complex_id%>').click(function() {
                   
                    $('#content_killer').append('<input id="delivery_contents_attributes_<%=@complex_id%>_content" name="delivery[contents_attributes][<%=@complex_id%>][content]" size="30" type="hidden" value="<%= vi.player_url%>">');
                
                
                    $("#choser").append("<a href='<%=vi.player_url%>'><%=vi.player_url%></a></br>");
                    
                });
                
               
                
         </SCRIPT>        
       
<%end%>
