<div class="academic-athor">
  <%= link_to course_path(delivery_post[:posted_in_for_id]), title: delivery_post[:posted_in_for] do %>
    <%= avatar('course', '150', 'no', delivery_post[:posted_in_for_id], 'avatar avatar-60', 'no', 'no') %>
  <% end %>
</div>
<%= render partial: 'shared/publications/owner_edit_publications', locals: { publication: publication } %>
<div class="academic-details">
  <div class="academic-icon">
    <%= icon('tarea-publication') %>
  </div>
  <div class="academic-intro">
    <p><%=t('.new_homework')%><%= link_to delivery_post[:posted_in_for], course_path(delivery_post[:posted_in_for_id]) %></p>
  </div>
  <div class="academic-title">
    <h3 class="title"><%= link_to delivery_post[:name], delivery_modal_path(publication.publication.id), :remote => true %></h3>
  </div>
  <div class="academic-desc">
    <p><%=t('.delivery_txt')%><%= pretty_date_format(publication.publication.end_date) %></p>
  </div>
  <div class="academic-button">
    <%= link_to t('.open_hmwk'), delivery_modal_path(publication.publication.id), :remote => true, class: "btn btn-transparent uppercase"%>
  </div>
</div>
<%= render partial: 'shared/publications/meta_data', locals: { publication: publication, post: publication.publication, white_like_icon: true} %>
