<div class="publication-metadata">
  <div class="meta-data">
      <% @vote = publication.publication.votes.up.by_type(User).where(:voter_id => current_user.id)%>
      <% @condition = @vote[0]%>
      <%if @condition == nil %>

        <div id="liked-<%= publication.id%>">
          <%= link_to upvote_path(publication.id), :remote => true do %>
            <% if white_like_icon %>
              <%= icon('like-c-white') %>
            <% else %>
              <%= icon('like-c') %>
            <% end %>
          <% end %>
        </div>
       
      <%else%>
       
         <div id="liked-<%= publication.id%>">
            <%= link_to downvote_path(publication.id), :remote => true do %>
              <% if white_like_icon %>
                <%= icon('like-c-white-active') %>
              <% else %>
                <%= icon('like-c-active') %>
              <% end %>
            <% end %>
         </div>
       
      <%end%>
    </div>
    <span>&middot;</span>
    <div class="meta-data">
      <span id="counter-like-<%= publication.id%>"><%= publication.publication.votes.up.size %></span>
      <% if publication.publication.votes.up.size == 0 %>
      Me gusta
      <%else%>
      <%= link_to "Me gusta", "", class: "counter-like-#{publication.publication.id}-triger" %>
      <%end%>

      <script>
        $(".counter-like-<%= publication.publication.id %>-triger").click(function(){
          var valxc = $('#counter-like-<%= publication.id%>').html();
          var integer = valxc * 1
          if(integer == 0){
            return false;
          } else { 
          var content = '<%= escape_javascript(render( :partial => "/shared/publications/people_who_likes", :locals => {:publication => publication })) %>';
          createModal(content, "overlay-small overlay-informative");
          return false;

          }
      
        });
      </script>
    </div>
    <span>&middot;</span>
    <div class="meta-data">
      <%= post.comments.count %> Comentarios
    </div>
    <span>&middot;</span>
    <div class="meta-data">
      <span><%= es_current_date("#{post.created_at.strftime('%B')}", "#{post.created_at.strftime('%d')}", "#{post.created_at.strftime('%Y')}" , "#{post.created_at.strftime('%l:%M%P')}",'latin_string') %></span>
    </div>

    <% if publication.publication.owner?(current_role, current_user) %>
      <div class="edit-publication">
        <span>&middot;</span>
        <div class="meta-data">
          <%= link_to "Borrar", destroy_wall_path(publication.id), :remote=>true%>
        </div>
        <% if publication.publication_type != 'Course'%>
          <span>&middot;</span>
          <div class="meta-data">
            <div id="oppen_<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>">
              <%= link_to "Editar", edit_wall_path(:type => publication.publication_type, :id => publication.publication_id), :remote=> true, :class => 'edit-publication-link' %>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
</div>