<%
  ### Variables globales de publicaciones
  post = publication.publication
  id = publication.id
  publication_cls = 'delivery'
  created_at = post.created_at
  type = publication.publication_type
  personal_url = post.user.personal_url if type != 'Course'
  personal_url = post.id if type == 'Course'

  if defined?(post.courses)
    courses_ids = post.courses.map {|k| k.id }
  end
%>

<%
  # Variables for Comment
  if type == "Comment"
    course = post.commentable if post.commentable_type == 'Course'
    user = post.commentable if post.commentable_type == 'User'

    comment_post = {
      personal_url: personal_url,
      user_name: post.user.name,
      content: post.comment_html,
      course: course,
      user: user,
      tipo: 'Comentario'
    }

    if course != nil
      comment_post[:posted_in_for] = course.title
      comment_post[:posted_in_for_id] = course.id
    end
  end
%>

<%
  # Variables for Course
  if type == "Course"
    course_post = {
      name: post.title,
      content: post.silabus
    }
    tipo = 'Curso'
  end
%>

<% 
  # Variables for Discussion
  if type == "Discussion"
    courses = post.courses
    posted_in_for = courses.first.title if ( !courses.blank? )
    posted_in_for_id = courses.first.id if ( !courses.blank? )
    tipo = 'Discusión'

    discussion_post = {
      personal_url: personal_url,
      name: post.title,
      posted_in_for: posted_in_for,
      posted_in_for_id: posted_in_for_id,
      content: post.description,
    }
  end
%>

<% 
  # Variables for Delivery
  if type == "Delivery"
    courses = post.courses
    tipo = 'Tarea'

    delivery_post = {
      name: post.title,
      user_name: post.user.name,
      posted_in_for: courses.first.title,
      posted_in_for_id: courses.first.id,
      content: post.description
    }
  end
%>

<% 
  if type == "Survey"
    courses = post.courses
    tipo = 'Cuestionario'

    survey_post = {
      posted_in_for: courses.first.title,
      posted_in_for_id: courses.first.id,
      name: post.name
    }
  end
%>

<% if post.state == "published" %>
  <div class="publication-box <%= id %> <%= I18n.transliterate(tipo.to_s).downcase %> <%= "academic-publication" if type != "Comment" %>" id="deleted_id_<%= id %>" data-course="<%= courses_ids[0] if !courses_ids.nil? %>">
    <div id = "publication-<%= id %>" class="publication-main comment-text <%= publication_cls %>" >
      
      <div class="publication-content">
        <% case type %>
        <% when 'Comment' %>
          <%= render partial: 'shared/publications/comment', locals: { publication: publication, comment_post: comment_post, white_like_icon: false} %>

        <% when 'Survey' %>
           <%= render partial: 'shared/publications/survey', locals: { publication: publication, survey_post: survey_post, white_like_icon: false} %>

        <% when 'Discussion' %>
          <%= render partial: 'shared/publications/discussion', locals: { publication: publication, discussion_post: discussion_post, white_like_icon: false} %>

        <% when 'Delivery' %>
          <%= render partial: 'shared/publications/delivery', locals: { publication: publication, delivery_post: delivery_post, white_like_icon: false} %>

        <% when 'Course' %>
          <%= render partial: 'shared/publications/course', locals: { publication: publication, course_post: course_post, white_like_icon: false} %>

        <% end %>
      </div>

      <% if publication.publication.owner?(current_role, current_user) %>
        <div id="footer-publication-<%= id %>">       
          <div class="form_for_edit_wall" id="<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>" style="display:none;">
            <h5><%=t('.edit_publ')%></h5>
            <br>
            <div id="<%= "#{publication.publication_type}_id_#{publication.publication_id}"%>_contribution"></div>
          </div>
        </div>          
      <% end %>
      
      <%= render partial: 'shared/publications/publication_comments', locals: { publication: publication, post: post } %>

    </div>
    <script type="text/javascript">
      $('#more-comments-<%= publication.id %>').live('click',function(e){
        $.getScript("<%=request.protocol + request.host_with_port%>/home/load_more_comments/<%= publication.id %>");

        e.preventDefault();
      });
    </script>
  </div>    
<% end %>
