<div class="academic-athor">
  <%= link_to course_path(survey_post[:posted_in_for_id]), title: survey_post[:posted_in_for] do %>
    <%= avatar('course', '150', 'no', survey_post[:posted_in_for_id], 'avatar avatar-60', 'no', 'no') %>
  <% end %>
</div>
<%= render partial: 'shared/publications/owner_edit_publications', locals: { publication: publication } %>
<div class="academic-details">
  <div class="academic-icon">
    <%= icon('cuestionario-publication') %>
  </div>
  <div class="academic-intro">
    <p><%=t('.new_quest')%><%= link_to survey_post[:posted_in_for], course_path(survey_post[:posted_in_for_id]) %></p>
  </div>
  <div class="academic-title">
    <h3 class="title"><%= link_to survey_post[:name], survey_modal_path(publication.publication.id), :remote => true %></h3>
  </div>
  <div class="academic-desc">
    <p><%=t('.response_before')%><%= I18n.l publication.publication.end_date, format: :short %> &middot; <%= pluralize(publication.publication.questions.count, t('.question'), t('.questions')) %></p>
  </div>
  <div class="academic-button">
    <%= link_to t('.open_quest'), survey_modal_path(publication.publication.id), :remote => true, class: "btn btn-transparent uppercase" %>
  </div>
</div>
<%= render partial: 'shared/publications/meta_data', locals: { publication: publication, post: publication.publication, white_like_icon: true} %>
