.post-box-main-admin-actions
  .dropdown-wrap
    .dropdown-pull.activity-dropdown-pull
      = icon('arrow-down-10')
    .dropdown-v.right{style: "right: -12px;"}
      %i.tip
      %ul
        %li
          = link_to(t('.delete'), destroy_wall_path(wall.id, deleted_from: "#{params[:controller]}-#{params[:action]}"), remote: true, confirm: t('.confirm_delete'))
        %li
          = link_to(t('.edit'), edit_wall_path(type: wall.publication_type, id: wall.publication_id), remote: true, class: 'edit-publication-link')
