.comment{ data: { child_comment_id: comment.id }}
  - if comment.owner?(current_role, current_user)
    = render partial: 'comments/shared/comment_admin_actions', locals: { comment: comment }
  - else
    = render partial: 'comments/shared/comment_user_actions', locals: { comment: comment }
  .comment-author
    %span.avatar-holder
      = avatar('user', '30', 'no', comment.user.id, 'avatar', 'no', 'no')
  .comment-main
    .comment-content
      %p
        = link_to comment.user.name, show_user_path(comment.user.personal_url), class: 'child-comment-author'
        = comment.comment_html
    .comment-meta
      %span.comment-meta-item
        - unless current_user.voted_up_on? comment
          = link_to t('.like'), upvote_comment_path(comment.id), remote: true, class: 'vote-child-comment-js'
        - else 
          = link_to(t('.not_like'), downvote_comment_path(comment.id), remote: true, class: 'vote-child-comment-js')
      %span.comment-meta-item= time_ago_in_words comment.created_at
      %span.comment-meta-item.votes-count-child-comment-js
        = render partial: 'comments/shared/child_comment_votes_count', locals: { comment: comment }