<h1><%=t('.sign_in')%></h1>
<p><%=t('.accept')%></p></br></br>

<center>
<%= form_for (@NetworksUsers = NetworksUser.new), :url => create_data_networks_users_path, remote: true do |form| %>
   <%= form.hidden_field :user_id, :value => current_user.id %>
   <%= form.hidden_field :network_id, :value => current_network.id %> 
<div style="background-color:#eee; border-radius:15px; width:300px; height:150px;">
  <div style="padding:30px;">
   <%= form.collection_select  :role_id, Role.find(:all), :id, :title, {:prompt => t('.select')}%> </br>
   <%= form.submit t('.suscribe'), :class => "btn"%>
   </div>
</div>
<%end%>
</center>



<div id ="add_me_to_network"></div>