<% if mobile? %>
  <%= render :partial => "shared/mobile" %>
<% else%>

<!-- redirigimos a cursa.me  -->
<!DOCTYPE html>
<% if request.domain != "cursa.me" && request.domain != "lvh.me" %>
  <% url =  request.url %>
  <% cursame = url.gsub(request.domain,"cursa.me") %>
  <script type="text/javascript">
    window.location.href="<%= cursame %>"  // put your correct path in a string here
  </script>
<% end %>

<% if request.subdomain.split(".").size != 1 then %>
	<% url = request.url %>
    <% new_url = url.gsub(request.subdomain, request.subdomain.split(".").last) %>
  <script type="text/javascript">
    window.location.href="<%= new_url %>"  // put your correct path in a string here
  </script>
<% end %>
<% if request.url.split("/").last != "evaluation_download" then %>
<html>
<head>
  <title>Cursame</title>
  <%= stylesheet_link_tag "application", :media => "all", :debug => true %>
  <%= javascript_include_tag('jquery-1.8.3.js') %>
  <%= javascript_include_tag('jquery-ui-1.9.2.custom.js') %>
  <%= javascript_include_tag('application.js') %>
  <%= javascript_include_tag('application.fullcalendar') %>
 
  <%= favicon_link_tag "favicon.png" %> 
  
  <% yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body >
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "20209757",
          url:         "https://cursame.zendesk.com",
          tabTooltip:  "Ayuda y soporte técnico",
          tabImageURL: "/assets/megaphone-24.png",
          tabColor:    "#fff",
          tabPosition: "Right"
        });
      }
    </script>
    
    <script>
      setInterval(function(){
          if(navigator.onLine){
              $('#scarlate').hide();
              $('body').css('overflow','auto');
          }else{
             $('#scarlate').show(); 
             $('#scarlate').html(' <center><p style="padding-top:5px;"> Sin connexión de red <b> :( </b>. </p></center>');
             $('body').css('overflow','hidden'); 
          }
          
      },5000);
      
       window.clearInterval(GetIntevalExpire);
       var IntervalFunctionForExpireSession;
       IntervalFunctionForExpireSession = 1800000;
       var GetIntevalExpire = setInterval(function(){ 
           $.get('<%= expire_session_path %>');
       },IntervalFunctionForExpireSession);
       
       //console.log(IntervalFunctionForExpireSession);

      </script>

      <div class="scarlate" id="scarlate" style="display:none;"></div>
      <div class="expires" id="expires" style="display:none;"></div>
      
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41050835-1', 'cursa.me');
      ga('send', 'pageview');

    </script>

    <script>
     setTimeout(function(){
        var bt = '<%= browser %>' 
        if(bt == 'true'){
          //  alert('browser compatible');
        }else{
             $('#browsers_box').lightbox_me({
                  centered: true, 
                  onLoad: function() { 
                      $('#browsers_box').find('input:first').focus()
            }
                  });
              $('body').css('overflow','hidden');
      }
     },2000)
    </script>

<% if user_signed_in? %>
  <div class="global-sidebar">
    <div class="user">

        <%= link_to show_user_path(current_user.personal_url) do %>
          
          <% if current_user.avatar.blank? %>
            <%= image_tag(current_user.image_avatarxx, class: "avatar") %>
          <%else%>
            <%= image_tag(current_user.avatar.mini, class: "avatar") %>
          <%end%>
          
          <span class="name">
            <%= truncate("#{current_user.name} (#{current_role})" , :omission => "...", :length => 22) %>
          </span>

        <% end %>

        <div class="dropdown-wrap">
          <div class="dropdown-pull">
            <div class="triangle"></div>
          </div>
          <div class="dropdown-v right">
            <i class="tip"></i>
            <ul>
              <li>
                <%= link_to "Editar perfil", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to "Salir", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </div>

        <% if current_role == "admin"%>
          <%= link_to "Administración", managers_wall_path, :style =>'', :class => "admin-access"%>
        <% end %>
        
    </div>

    <div class="sidebar-section">
      <div class="sidebar-section-main">
        <ul class="section-list navigation">
          <li>
            <%= link_to "http://#{current_network.subdomain}.#{links}/" do %>
              <i class="i i-home-w"></i>Home
            <% end %>
          </li>
          <li>
            <a href="">
              <i class="i i-homeworks-w"></i>Tareas
            </a>
          </li>
          <li>
            <a href="">
              <i class="i i-questionaries-w"></i>Cuestionarios
            </a>
          </li>
          <li>
            <a href="">
              <i class="i i-discussions-w"></i>Discusiones
            </a>
          </li>
          <li>
            <%= link_to courses_path do %>
              <i class="i i-courses-w"></i>Cursos
            <% end %>
          </li>
          <li>
            <a href="">
              <i class="i i-stats-w"></i>Calificaciones
            </a>
          </li>
          <li>
            <a href="">
              <i class="i i-calendar-w"></i>Calendario
            </a>
          </li>
          <li>
          <%= link_to network_comunity_path do %>
              <i class="i i-community-w"></i>Comunidad
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="sidebar-section">
      <div class="sidebar-section-header">
        <h3><%= current_network.courses_tag %></h3>
      </div>
      <div class="sidebar-section-main scroller">
        <ul class="section-list side-courses">
          <% current_user_courses.each do |c| %>
            <li>
              <%= link_to course_path(c.id) do %>
                <% if c.avatar.file == nil %> 
                  <%= image_tag("course-avatarxxx.png", class: "avatar avatar-24") %>
                <%else%>
                <%= image_tag("#{c.avatar.mini}", class: "avatar avatar-24") %>
                <%end%>
                <%= c.title %>
              <% end %>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
    
    <div class="sidebar-section">
      <div class="sidebar-section-header">
        <h3>Chat (<%= @courses_online.count + @friends_online.count %>)</h3>
      </div>
      <div class="sidebar-section-main scroller">
        <% if @show_chat_panel %>  

          <ul class="section-list">
            <% @courses_online.each do |course|%>
              <li>
                <%= link_to open_channel_path(course.id,"course" => true), :remote => true do %>
                  <% if course.avatar.file == nil %> 
                    <%= image_tag("course-avatarxx.png", class: "avatar avatar-24") %>
                  <%else%>
                    <%= image_tag("#{user.avatar.mini}", class: "avatar avatar-24") %>
                  <%end%>

                  <%= truncate("#{course.title}", :omission => "...", :length => 30) %>
                <% end %>
              </li>
            <%end%>
          </ul>
          
          <ul class="section-list side-courses">
            <% @friends_online.each do |user|%>
              <li>
                <%= link_to open_channel_path(user.id), :remote => true do %>
                  <% if user.avatar.file == nil %> 
                    <%= image_tag("imagexx.png", class: "avatar avatar-24") %>
                  <%else%>
                    <%= image_tag("#{user.avatar.mini}", class: "avatar avatar-24") %>
                  <%end%>

                  <%= truncate("#{user.name}", :omission => "...", :length => 30) || user.email %>
                  <div class="<%= user.online ? 'user-online': 'user-offline' %>" id ="chat-list-user-<%= user.id %>"></div>

                <% end %>
              </li>
            <%end%>
          </ul>

        <% end %>
      </div>
    </div>

  </div>
<% end %>
  
  <div class="wrap">
    <header id="user_nav" class="topbar">
      <div class="wrapper space-sidebar">

        <div class="network">
          <% if current_network == nil%> 
            <%= link_to image_tag("logo.png", :class => "brand"), root_path %>
          <%else%>
            <% if current_network.logo.file == nil %>
              <%= link_to image_tag("logo.png"), "http://#{current_network.subdomain}.#{links}/"%>
            <%else%>
              <%case %>
                <% when current_network.logo_type == '128x26'%>
                  <%= link_to image_tag("#{current_network.logo.response}"), "http://#{current_network.subdomain}.#{links}/"%>
                <% when current_network.logo_type == '26x26' %>
                  <%= link_to image_tag("#{current_network.logo.square}"), "http://#{current_network.subdomain}.#{links}/"%>
                <%else%>
                  <%= link_to image_tag("logo.png"), "http://#{current_network.subdomain}.#{links}/"%>
              <%end%>
            <%end%>
          <%end%>
        </div>
        
        <div class="activity-notificactions">
          <div id="message_notifications">    
            <%= render :partial => '/shared/chat/message_notifications' %>
          </div>

          <div id="notifications">    
            <%= render :partial => '/shared/notifications' %>
          </div>
        </div>

        <div id="log_loadding"style="display:none;"></div>
        <div id="noticce"style="background:#eee; position:absolute; margin-top:0px; width:100%;">
          <div id="notice" class="notice"></div>
        </div>
      </div>
    </header>
    
    <div class="main">
      <%= yield %>
    </div>
  </div>


<div id="browsers_box" class="content_f_box"  style="display:none">
 	   
                <p style="color:#fff; font-size:17px;">Browser no compatible, no podemos garantizar el funcionamiento adecuado de la aplicación.</p></br>
                <p style="color:#fff;" ><i>No podrá usar la aplicación hasta haber instalado una versión compatible de su navegador, le recomendamos estos navegadores:</i></p>
        <div style="text-align:center;padding:10px; margin-top:15px;">
          <center>
                <a href="http://www.google.com/intl/es-419/chrome/" target="_blank" style="width:350px; height:50px;float:left; margin-left:55px;"><%= image_tag('chrome.png')%>Descarga Google Chrome</a>
                <a href="http://www.mozilla.org/es-MX/firefox/new/" target="_blank" style="width:250px; height:50px;float:left;"><%= image_tag('Icon_Firefox.png')%>Descarga Mozila Firefox</a>
          </center>
        </div>
</div>
<div id="scrollup"></div>
</body>
</html>
<% end %>
<% end %>

<%= render :partial => '/shared/admin_messages' %>
<div id="chat_sounds"></div>

<% if user_signed_in? %>
<script>  
  $(function() {
      /**
       * metodos para cerrar sesion con devise y detectar cuando
       * el usuario cierra la ventana de cursame
       */
      var callback = function () {
        $('.logout').trigger('click');
      };
      // el valor numerico debe de ser igual al valor de devise
      // para expirar la session
      var logout_timer = new Timer(1800, callback, window);
      logout_timer.start();

      // restart timer if activity
      $(document).on('keyup keypress blur change mousemove',function(){
        logout_timer.start();
        window.CERRARCURSAME=false;        
      });
      $(document).on('mouseleave',function(){
          window.CERRARCURSAME=true;
      });     
      $(window).on("beforeunload",function(){
        if(window.CERRARCURSAME){ 
          $.ajax({
              type: 'POST',
              async: false,
              url: '/home/logout_user'
          });
        }
        return void 0;
      });
  });
  </script>
<% end %>


