<!DOCTYPE html>
<html>
<head>
  <title>Cursame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
    <script type="text/javascript">
    	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    	
    </script>
    
<!-- header -->
<header id="user_nav" class="topbar" >
  <div class="center-div">
    <img src="/assets/logo.png" alt="" class="brand">
    <div style="float: right;">
      <% if user_signed_in? %>
          <img src="http://placehold.it/32x32/4D9900/ffffff&text=usr" alt=""> Nombre de Usuario
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_session_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
</header>



<div class="center-div">
  <!-- content -->
  <div class="container">
    <!-- content -->
    <%= yield %>
    <br>
    <img src="http://placehold.it/920x100/" alt="">
  </div>
</div>
</div>
</body>
</html>