<% if mobile? %>
  <%= render :partial => "shared/mobile" %>
<% else%>

<!-- redirigimos a cursa.me  -->
<!DOCTYPE html>
<% if request.domain != "cursa.me" && request.domain != "lvh.me" %>
  <% url =  request.url %>
  <% cursame = url.gsub(request.domain,"cursa.me") %>
  <script type="text/javascript">
    window.location.href="<%= cursame %>"  // put your correct path in a string here
  </script>
<% end %>

<% if request.subdomain.split(".").size != 1 then %>
	<% url = request.url %>
    <% new_url = url.gsub(request.subdomain, request.subdomain.split(".").last) %>
  <script type="text/javascript">
    window.location.href="<%= new_url %>"  // put your correct path in a string here
  </script>
<% end %>
<% if request.url.split("/").last != "evaluation_download" then %>
<html>
<head>
  <title>Cursame</title>
  <%= stylesheet_link_tag "application", :media => "all", :debug => true %>
  <%= javascript_include_tag('jquery-1.8.3.js') %>
  <%= javascript_include_tag('jquery-ui-1.9.2.custom.js') %>
  <%= javascript_include_tag('application.js') %>
  <%= javascript_include_tag('application.fullcalendar') %>
 
  <%= favicon_link_tag "favicon.png" %> 
  
  <% yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "20209757",
          url:         "https://cursame.zendesk.com",
          tabTooltip:  "Ayuda y soporte técnico",
          tabImageURL: "/assets/megaphone-24.png",
          tabColor:    "#fff",
          tabPosition: "Right"
        });
      }
    </script>
    
    <script>
      setInterval(function(){
          if(navigator.onLine){
              $('#scarlate').hide();
              $('body').css('overflow','auto');
          }else{
             $('#scarlate').show(); 
             $('#scarlate').html(' <center><p style="padding-top:5px;"> Sin connexión a la red <b> :( </b>. </p></center>');
             $('body').css('overflow','hidden'); 
          }
          
      },5000);
      
       window.clearInterval(GetIntevalExpire);
       var IntervalFunctionForExpireSession;
       IntervalFunctionForExpireSession = 1800000;
       var GetIntevalExpire = setInterval(function(){ 
           $.get('<%= expire_session_path %>');
       },IntervalFunctionForExpireSession);
       
       //console.log(IntervalFunctionForExpireSession);

      </script>

      <div class="scarlate" id="scarlate" style="display:none;"></div>
      <div class="expires" id="expires" style="display:none;"></div>
      
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41050835-1', 'cursa.me');
      ga('send', 'pageview');

    </script>
    
<!-- header -->
<header id="user_nav" class="topbar">
  <div class="center-div">
  	<div class="headFix">
     <% if current_network == nil%> 
       <%= link_to image_tag("logo.png", :class => "brand"), root_path %>
     <%else%>
       <%= link_to image_tag("logo.png", :class => "brand"), "http://#{current_network.subdomain}.#{links}/"%>
     <%end%>
	 <div class="menu-user">
      <% if user_signed_in? %>
          <div id="logoutHover" style="width: 20px; margin-top: -11px!important; position: relative; display: block; float: right; height: 26px!important; padding-top: 10px; padding-right: 5px; border-left: 1px solid #FFF; border-right: 1px solid #FFF; padding-left: 8px; color: #A3A9B5;">
          <%= link_to image_tag("/assets/icons/logout-mini-high.png", :border => 0), destroy_user_session_path, :method => :delete, :class => 'logout' %>
          		<div id="ShowLogout" style="display: none;">Salir</div>
          </div>
          
        <% if current_user.avatar.blank? %>
             <%= link_to image_tag(current_user.image_avatarxx, :class => "avatar-mini avatar"), show_user_path(current_user.personal_url)%>
         <%else%>
          <%= link_to image_tag(current_user.avatar.mini, :class => "avatar-mini avatar"), show_user_path(current_user.personal_url)%>
        
          <%end%>
         <span> <%= link_to truncate("#{current_user.name} (#{current_role})" , :omission => "...", :length => 20), show_user_path(current_user.personal_url) %> </span>
          <%#= link_to image_tag(current_user.avatar.mini, :class => "avatar-mini avatar"), show_user_path(current_user.personal_url)%>

                 <%#=  debug current_role %>
          <% if current_role == "admin"%>
              <%= link_to "Administración", managers_wall_path, :class => "admin-access"%>
           <%end%>
      <% else %>
      
      
      <!--
      <div style="float:right;">
         <%= link_to "Logueate", new_user_session_path %><% if current_network.register_form != true%> o <%= link_to "Registrate", new_user_registration_path %>
         <%end%>
      </div>
      -->
      
      
      <% end %>
    </div>
    <div id="message_notifications">    
      <%= render :partial => '/shared/chat/message_notifications' %>
    </div>
    <div id="notifications">    
      <%= render :partial => '/shared/notifications' %>
    </div>
  </div>
 </div><!-- ends headFix -->
 <div id="log_loadding"style="display:none;"></div>
 
 <div id="noticce"style="background:#eee; position:absolute; margin-top:0px; width:100%;">
   <div id="notice" class="notice"></div>
 </div>
  
</header>


<div class="center-div">
  <!-- content -->
  
  <script>
   setTimeout(function(){
      var bt = '<%= browser %>' 
      if(bt == 'true'){
          
        //  alert('browser compatible');
    
          
      }else{

           $('#browsers_box').lightbox_me({
                centered: true, 
                onLoad: function() { 
                    $('#browsers_box').find('input:first').focus()
                    }

                });
            
            $('body').css('overflow','hidden');
      }
   },2000)
  </script>
  
  <script>
	$('#logoutHover').mouseenter( function() {
  		$(this).animate({ width: "58px" }, 200);
  	});
  	$('#logoutHover').mouseleave( function() {
  		$(this).animate({ width: "20px" }, 100);
  	});
  	$('#logoutHover').hover( function() {
  		$('#ShowLogout').slideToggle(100).delay(300);
  	});
  	
  	$('.ZenboxTabRight').hover ( function() {
  		$(this).animate({ marginRight: "60px" });
	  	$(this).addClass('zenbox_tab__text');
	  	console.log('hola');
  	});
  	
  </script>
  
  <div class="container" >
    <!-- content -->
    <%= yield %>
    <br>
    <!--<img src="http://placehold.it/920x100/" alt="">  -->
  </div>
  
  
</div>

<div id="browsers_box" class="content_f_box"  style="display:none">
     <!---  <div><a id="close_x" class="close close_l" href="#" style="margin-top:-20px;"><center>x</center></a></div>-->
 	   
                <p style="color:#fff; font-size:17px;">Browser no compatible, no podemos garantizar el funcionamiento adecuado de la aplicación.</p></br>
                <p style="color:#fff;" ><i>No podrá usar la aplicación hasta haber instalado una versión compatible de su navegador, le recomendamos estos navegadores:</i></p>
        <div style="text-align:center;padding:10px; margin-top:15px;">
          <center>
                <a href="http://www.google.com/intl/es-419/chrome/" target="_blank" style="width:350px; height:50px;float:left; margin-left:55px;"><%= image_tag('chrome.png')%>Descarga Google Chrome</a>
                <a href="http://www.mozilla.org/es-MX/firefox/new/" target="_blank" style="width:250px; height:50px;float:left;"><%= image_tag('Icon_Firefox.png')%>Descarga Mozila Firefox</a>
          </center>
        </div>
               
       
</div>
</body>
</html>
<%else%>
  <%= stylesheet_link_tag "application", :media => "all", :debug => true %>

<div class="center-div">
  <!-- content -->
  
  <script>
   setTimeout(function(){
      var bt = '<%= browser %>' 
      if(bt == 'true'){
          
        //  alert('browser compatible');
    
          
      }else{

           $('#browsers_box').lightbox_me({
                centered: true, 
                onLoad: function() { 
                    $('#browsers_box').find('input:first').focus()
                    }

                });
            
            $('body').css('overflow','hidden');
      }
   },2000)
  </script>
  
  <script>
	$('#logoutHover').mouseenter( function() {
  		$(this).animate({ width: "58px" }, 200);
  	});
  	$('#logoutHover').mouseleave( function() {
  		$(this).animate({ width: "20px" }, 100);
  	});
  	$('#logoutHover').hover( function() {
  		$('#ShowLogout').slideToggle(100).delay(300);
  	});
  	
  	$('.ZenboxTabRight').hover ( function() {
  		$(this).animate({ marginRight: "60px" });
	  	$(this).addClass('zenbox_tab__text');
	  	console.log('hola');
  	});
  	
  </script>
  

 
  <div class="container" >
    <!-- content -->
    <%= yield %>
    <br>
    <!--<img src="http://placehold.it/920x100/" alt="">  -->
  </div>
</div>
<div id="browsers_box" class="content_f_box"  style="display:none">
     <!---  <div><a id="close_x" class="close close_l" href="#" style="margin-top:-20px;"><center>x</center></a></div>-->
 	   
                <p style="color:#fff; font-size:17px;">Browser no compatible, no podemos garantizar el funcionamiento adecuado de la aplicación.</p></br>
                <p style="color:#fff;" ><i>No podrá usar la aplicación hasta haber instalado una versión compatible de su navegador, le recomendamos estos navegadores:</i></p>
        <div style="text-align:center;padding:10px; margin-top:15px;">
          <center>
                <a href="http://www.google.com/intl/es-419/chrome/" target="_blank" style="width:350px; height:50px;float:left; margin-left:55px;"><%= image_tag('chrome.png')%>Descarga Google Chrome</a>
                <a href="http://www.mozilla.org/es-MX/firefox/new/" target="_blank" style="width:250px; height:50px;float:left;"><%= image_tag('Icon_Firefox.png')%>Descarga Mozila Firefox</a>
          </center>
        </div>
               
<%end%>
<% end %>
