<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title>Calendar</title>  
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "fullcalendario.css" %>
  <%= stylesheet_link_tag "application.css" %>
  
   <%#= javascript_include_tag('app.js') %>  
   <%= javascript_include_tag('jquery.js') %>
   <%= javascript_include_tag('calendar.js') %>
   <%= javascript_include_tag('jquery-ui-1.8.11.custom.min.js') %>   
   <%= javascript_include_tag('fullcalendar.js') %>
   <%= javascript_include_tag('jquery.rest.js') %> 
   <%= javascript_include_tag('rails.js') %>
   <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
   
  <%= csrf_meta_tag %> 
 
 
  
  
 
  
</head>
<body>
    <% @cko = current_user.authentications.count %>
     <% if  @cko == 0 %>
           <%= link_to "Sign in with Google", "/auth/google_oauth2" %> </br>
     <%else%>

     <% current_user.authentications.each do |authenticate_google|%>
        <% @provider = authenticate_google.provider %>

        <% case %>
           <% when @provider == "google_oauth2" %>
               
               <%=  @userid = authenticate_google.uid %>
               
                  <%=  @magicCookie = 'cookie' %>
                  
        

                   
                 
           <%= link_to "Deslinkear mi cuenta de google",authenticate_google,  confirm: '¿Estas seguro de querer deslinquear tu cuenta de google de la aplicación', method: :delete  %>   </br>     
           <% when @provider == "facebook" %>
        <%end%>              

     <%end%> 

     <%end%>
<%= yield %>

</body>
</html>
