<!DOCTYPE html>
<html class="website-pages">
  <head>
    <%= display_meta_tags site: 'Cúrsame', separator: '·'.html_safe, reverse: true  %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="2iDsswfLsUTCsZEFQ5vlpW4OUwsVwWsqwF5WHqAHuUM" />
    <%= stylesheet_link_tag "application", :media => "all", :debug => true %>
    <%= javascript_include_tag('application.js') %>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="ee2yf464dnk2rf1"></script>
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css">
    <%= favicon_link_tag "favicon.png"  %> 
    <% yield :javascript_includes %>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="<%= yield :body_classes %>">
    <% cache_expire %>
    <div class="pages-wrap">
      <%= render partial: '/shared/static_pages/header' %>
      <%= yield %>

      <div class="website-footer">
        <div class="arrow"></div>
        <div class="wrapper">
          <div class="cols-12">
            <div class="col col-3">
              <h4>Cúrsame</h4>
              <ul>
                <li><%= link_to "Funciones", features_path %></li>
                <li><%= link_to "Casos de Éxito", success_stories_path %></li>
                <li><%= link_to "Prensa", press_path %></li>
                <li><%= link_to "Empleos", jobs_path %></li>
                <li><%= link_to "Contacto", contact_path %></li>
                <li><%= link_to "Solicitar Demo", request_demo_path %></li>
                <li><%= link_to "Aplicaciones", apps_path %></li>
                <li><%= link_to "Blog", "http://cursame.tumblr.com/", target: "_blank" %></li>
              </ul>
            </div>
            <div class="col col-3">
              <h4>Ayuda</h4>
              <ul>
                <li><%= link_to "Centro de Ayuda", "https://cursame.zendesk.com/hc/es", target: "_blank" %></li>
                <li><%= link_to "Aviso de Privacidad", privacidad_path %></li>
                <li><%= link_to "Términos y Condiciones", conditions_path %></li>
              </ul>
            </div>
            <div class="col col-3">
              <h4>Síguenos en</h4>
              <ul>
                <li>
                  <a href="https://www.facebook.com/Cursameoficial" title="Facebook" target="_blank">
                    <%= icon('follow-fb-white') %> Facebook
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/cursame" title="Twitter"  target="_blank">
                    <%= icon('follow-twitter-white') %> Twitter
                  </a>
                </li>
              </ul>
            </div>
            <div class="col col-3 footer-metadata">
              <%= link_to "/" do %>
                <%= icon('cursame-logo-gray') %>
              <% end %>
              <br>
              <span>Derechos reservados © <%= Time.now.year %> Cúrsame</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>